[2016-08-11 09:02] mananwason commented on #562
@mariobehling in the sample (https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/sponsors), the sponsors type is null, should I change that and create a PR?

[2016-08-11 09:04] mananwason commented on #567
👍

[2016-08-11 09:10] mariobehling opened #568 "Track Screen missing key information"
The track screen only shows name of track and name of session.

![screenshot from 2016-08-11 11 02 49](https://cloud.githubusercontent.com/assets/1583873/17583950/135b2944-5fb4-11e6-8619-7a291b7487fe.png)

In order to have a user experience that provides value to user, please implement a better user experience and keep number of clicks down.

The following screen shows one the session info on the

[2016-08-11 09:13] the-dagger commented on #568
Ok @mariobehling I'll work on this.

[2016-08-11 09:17] mariobehling opened #569 "Improve tracks UI"
Currently there is a line on the left with bullet points. This UI is usually used in many applications as a timeline UI.

* [x] Tracks are not in a timeline. Therefore take out this design element.

![screenshot from 2016-08-11 11 15 29](https://cloud.githubusercontent.com/assets/1583873/17584136/42ea23c6-5fb5-11e6-8473-5d63ffe33064.png)

[2016-08-11 09:52] the-dagger commented on #565
@mananwason I'm sending a PR for fixing speaker images, can I send one that fixes this too?

[2016-08-11 09:55] the-dagger commented on #565
@mariobehling @mananwason this is what it looks like
![screenshot](http://i.imgur.com/R4osmP9.png)

[2016-08-11 10:19] mananwason commented on #565
@the-dagger looks fine. I have already fixed this issue. I'll add a PR for this.

[2016-08-11 10:22] the-dagger commented on #565
Ok, cool

[2016-08-11 14:20] mariobehling commented on #565
Very good. Thanks.

[2016-08-11 14:33] mananwason commented on #563
@mariobehling This is the name of the location in the sample. I'll change it there itself https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/microlocations#L7

[2016-08-11 15:06] mananwason commented on #563
Sure @mariobehling. Will fix this.

[2016-08-11 15:31] #565 closed

[2016-08-11 15:45] the-dagger commented on #561
Fixed in #556

[2016-08-11 15:45] #561 closed

[2016-08-11 15:48] #528 closed

[2016-08-11 15:51] mariobehling commented on #562
Yes, please do and let's not discuss/ask about about smaller questions. Just do the necessary and change the sample, if it is missing something, please. Please also do not ask again in other issues. We need to speed up a bit. Thank you.

[2016-08-11 16:06] mananwason commented on #562
Got it :+1

[2016-08-11 17:28] the-dagger opened #571 "Speaker Images not getting fetched"
Speaker's images are not fetched in the Speaker Fragment which needs to be fixed.

[2016-08-11 17:43] mananwason commented on #571
Fixed in #570

[2016-08-11 17:43] #571 closed

[2016-08-11 17:43] the-dagger commented on #571
It wasn't working for me because of cached data most probably.
Works after a clean install :)

[2016-08-11 19:37] rohanagarwal94 commented on #365
Sorry for the late interaction, caught up on something in college. 2 things @the-dagger @mananwason . First please generate and provide the map API key for the project. Secondly, please provide me with the JSON file for the markers of the building with the objects title, subtitle(optional), lat, long, level. Otherwise almost done.

[2016-08-12 03:39] mananwason commented on #560
Good idea @chiragw15. Would you like to work on it?

[2016-08-12 04:37] chiragw15 commented on #560
Yes yes. I was eagerly waiting for someone's reply. This is the first time I am going to contribute in an open source project. I am so excited.

[2016-08-12 08:17] the-dagger opened #573 "Speaker tab is buggy"
As of now, there isn't enough information about the speaker in speaker detail activity.
Also the logos are all jumbled up.
I will add screenshots in a bit.
![err](https://cloud.githubusercontent.com/assets/6565270/17631213/cae2c00e-60e0-11e6-9f62-ea1173438247.png)

[2016-08-12 11:24] #567 closed

[2016-08-12 11:30] mariobehling opened #575 "Implement "Only download updates when connected to wifi" in settings screen"
Many applications have the option to only update content only when wifi is available. Please implement this functionality in the settings area and activate it as standard.

[2016-08-12 17:13] mananwason commented on #365
@rohanagarwal94 We can't share the key we're using for the map. Why don't you generate one for yourself with a different package name and start working on this. Please use this microlocations markers for now https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/microlocations

[2016-08-12 17:29] mariobehling commented on #564
This issue is not entirely solved until we have the location address info in the app as well. If this is not provided by the API or sample file, please open an issue in the relevant component and help to fix this.

[2016-08-12 17:38] mananwason commented on #564
Sure @mariobehling. Will do 👍

[2016-08-12 18:14] the-dagger commented on #573
@mariobehling this looks good?
![fixed2](https://cloud.githubusercontent.com/assets/6565270/17631221/d38d4e18-60e0-11e6-80a6-2d65ffa3c85a.png)
![fixed1](https://cloud.githubusercontent.com/assets/6565270/17631222/d61ed07a-60e0-11e6-9a26-0affd9df8a11.png)

[2016-08-12 18:38] mariobehling commented on #573
Good progress. I need to try it out to see. Generally, could you limit the specific app color, here red, to some areas only and keep areas with a lot of text with a white background and black ink, please? This will make it easier to change colors in future as well, as we do not have to test too much if things stay readable if we change colors.

[2016-08-12 18:53] the-dagger commented on #573
@mariobehling That red color can be easily changed with a customized color needed by the user.
This was implemented in #511 , but we need to change the front-end to use this feature.

[2016-08-12 18:54] saket14 opened #579 "Scrolling problem in speaker's details"

[2016-08-12 18:56] #579 closed

[2016-08-12 19:03] mariobehling commented on #573
As mentioned for areas with lots of text, please implement white background and dark/black ink, e.g. here:

![screenshot from 2016-08-12 21 02 55](https://cloud.githubusercontent.com/assets/1583873/17633935/4220b614-60d0-11e6-8a5a-4e4f49e8188c.png)

[2016-08-12 19:05] mariobehling commented on #573
Maybe keep "Speaker Name" in red and below white. It all depends.

But, we need to make things easily readable, please.

[2016-08-12 19:07] the-dagger commented on #573
@mariobehling
Ok, sure.

[2016-08-12 19:09] mananwason commented on #573
@the-dagger @mariobehling We can use Pallete to change the color according to the the vibrant and the muted colors. This will make it readable for all the colors of images possible. http://willowtreeapps.com/blog/palette-the-new-api-for-android/

[2016-08-12 19:11] the-dagger commented on #573
@manan tried that few minutes ago, but the action bar is still primary colored and hence this want going with the flow.

[2016-08-12 19:11] mananwason commented on #573
@the-dagger You can change that too for this activity 😉

[2016-08-12 19:13] the-dagger commented on #573
Ah, ok.
I'll do it then. 👍
Thanks.

[2016-08-12 19:16] mananwason commented on #573
👍

[2016-08-13 05:54] the-dagger commented on #573
@mananwason @mariobehling THis looks good? <br>
The colors will be automatically fetched from speaker's image.
![screenshot_20160813-112254](https://cloud.githubusercontent.com/assets/6565270/17641691/674cf524-6148-11e6-8c5f-a49f6e4b24f3.png)
![screenshot_20160813-112248](https://cloud.githubusercontent.com/assets/6565270/17641692/68610180-6148-11e6-8c2f-bed3c5e3bb0a.png)

[2016-08-13 06:00] the-dagger opened #581 "Limit speaker's bio to 10 lines"
Extremely long bio leads to poor UX of the app.
![screenshot_20160813-112757](https://cloud.githubusercontent.com/assets/6565270/17641707/3665069e-6149-11e6-981e-e04ea74dd3c4.png)

So limiting this to  just 10 lines is a better approach.<br>

**Example**
![screenshot_20160813-112853](https://cloud.githubusercontent.com/assets/6565270/17641712/4de18cfc-6149-11e6-9be0-fb32d9f8f425.png)

[2016-08-13 06:27] mananwason commented on #573
Looks good @the-dagger but please change the text color as well.

[2016-08-13 06:27] mananwason commented on #581
@the-dagger But what if I want to read the whole Bio?

[2016-08-13 06:33] the-dagger commented on #581
We can do one thing.
On clicking the bio, we can expand it to show the whole bio and on clicking the expanded bio, we can limit it to 10 lines.

[2016-08-13 06:34] mananwason commented on #581
Yes that sounds fine @the-dagger

[2016-08-13 07:05] mariobehling commented on #581
Please keep it simple for the moment and get to a basic working app for everyone. We need to test that all pictures etc. work. I still have not seen video links working etc.

Closing this issue as it is not clear, we need it at the moment.

[2016-08-13 07:05] #581 closed

[2016-08-13 07:09] mariobehling commented on #573
Please keep the name and picture with the app background color and below that white background and black ink.

[2016-08-13 07:10] mariobehling commented on #573
Too many different colors start to be confusing. People might think, they belong to the colors of tracks and we do not know how well this works with all different kinds of colors. I do not want to explain to people what means what. A simple app that works is sufficient.

[2016-08-13 07:10] mananwason opened #583 "Open street map Tiles don't load sometimes due to Forbidden HTTP error"
While loading mapnik maptiles, it has started giving error HTTP forbidden error. Similar to the one reported here  https://github.com/osmdroid/osmdroid/issues/366

[2016-08-13 08:52] rafalkowalski opened #585 "Send notification to orga server if android app is generated"
@mananwason @the-dagger  If Android App is generated please send a notification to orga server

I've created notification API:
http://open-event-dev.herokuapp.com//#!/notifications/post_user_notifications.

Code sample:
curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/json' -d '{
"action": "AndroidApp is generated",
"message": "string",
"email": "rafal@wp.pl",
"

[2016-08-13 09:32] mariobehling commented on #585
Please add relevant documentation to https://github.com/fossasia/open-event-orga-server/blob/development/docs/API.md as well. Cheers.

[2016-08-13 14:10] #583 closed

[2016-08-13 16:37] the-dagger commented on #585
@rafalkowalski the `email` key here refers to the user's email right?

[2016-08-13 16:44] the-dagger commented on #585
![ff](https://cloud.githubusercontent.com/assets/6565270/17644403/4406ae60-61a3-11e6-9234-23a244265368.PNG)
@rafalkowalski getting error 404 while making a post request

[2016-08-13 16:47] #365 closed

[2016-08-13 16:47] the-dagger commented on #365
#564

[2016-08-13 16:48] #573 closed

[2016-08-13 17:03] rafalkowalski commented on #585
Probably event with id doesn't exists

curl -X POST --header 'Content-Type: application/json' --header 'Accept: application/json' -d '{
  "message": "string",
  "action": "string",
  "email": "rafal.arte@gmail.com",
  "title": "string"
}' 'http://open-event-dev.herokuapp.com/api/v2/events/6/notifications'

[2016-08-13 17:05] the-dagger commented on #585
Error 401, not authorized now.
[code]

[2016-08-13 17:15] mananwason commented on #575
@mariobehling Do we keep this only or we ask the user at the start of the app if her wants to update to latest schedule as well?

[2016-08-14 13:13] #568 closed

[2016-08-14 13:35] mananwason opened #589 "App crashing due to unregistering the Event Bus in Schedule Fragment"
[code]

[2016-08-14 14:46] #569 closed

[2016-08-14 16:23] the-dagger commented on #564
@mananwason I have modified `location_name` to correct address in the event json now.
[https://github.com/fossasia/open-event/commit/80e7a7920229df0e3cbb40bc9b46eab5291c3d7b#diff-9a23aeb01d885bc227132e2d2bde16e9R27](https://github.com/fossasia/open-event/commit/80e7a7920229df0e3cbb40bc9b46eab5291c3d7b#diff-9a23aeb01d885bc227132e2d2bde16e9R27)
Hope that helps.
Cheers.

[2016-08-14 17:08] #589 closed

[2016-08-14 17:10] the-dagger commented on #563
I believe this is fixed already
![](https://dl2.pushbulletusercontent.com/vjiBQGOfJTJzvaQh2QZ55RFt11qxFSUA/Screenshot_20160814-223934.png)

[2016-08-14 17:10] #563 closed

[2016-08-15 02:20] mananwason commented on #430
This is fixed in #587

[2016-08-15 02:20] #430 closed

[2016-08-15 08:37] mananwason commented on #564
Sure @the-dagger I am working on changing the map UI but it may take 1-2 more day, so moving to next milestone

[2016-08-15 11:16] the-dagger opened #591 "Data in schedule fragment isn't retained."
On navigating away and moving back to schedule fragment the whole json is parsed again which takes a considerable time.
It's better to store the schedule to database and fetch it from there.
@mananwason what do you think?

[2016-08-15 12:31] #591 closed

[2016-08-16 04:23] mananwason commented on #535
@SparshBansal Status on this?

[2016-08-16 04:32] SparshBansal commented on #535
I'll send a pull request today

[2016-08-16 04:43] mananwason commented on #535
👍

On 16-Aug-2016 10:03 AM, "SparshBansal" <notifications@github.com> wrote:

[2016-08-16 05:03] the-dagger commented on #585
@rafalkowalski let me know if there is any update on this.
Cheers.

[2016-08-16 05:04] the-dagger commented on #532
Done!

[2016-08-16 05:04] #532 closed

[2016-08-16 17:00] the-dagger opened #595 "Update server scrips"
Since we setup a new server, we modified out scripts to make it more secure and make sure that no one was able to access them.
We need to update our existing scripts for the same.

[2016-08-16 23:17] #595 closed

[2016-08-17 05:26] #562 closed

[2016-08-17 08:49] mananwason opened #600 "Connect the app with the FOSSASIA sample on the orga server"
We have been working with the github sample for development purposes but since it's almost the end of GSoC we need to get the system in production and that means connecting the app to the orga server and check if everything works perfectly.

[2016-08-17 09:09] #560 closed

[2016-08-17 12:58] mariobehling commented on #548
So, to avoid confusion: We need a progress bar that shows the **upload** progress and the file that gets uploaded in the background as soon as the user chooses it. I think this was discussed at different points already.

[2016-08-17 13:06] championswimmer commented on #548
So let me make 2 progress bars. One for upload, and for for generation

On 17 August 2016 at 18:28, Mario Behling <notifications@github.com> wrote:

[2016-08-17 13:07] the-dagger commented on #548
@championswimmer Yes, the upload progressbar has to be next to the file picker.

[2016-08-17 13:09] mariobehling commented on #548
One idea could be similar to the following one:

On the top you see the "Choose a file" field.

After the file is chosen, it displays a progress bar.

![screenshot from 2016-08-17 15 08 50](https://cloud.githubusercontent.com/assets/1583873/17737261/90515158-648c-11e6-8752-aa36ae1b8a33.png)

[2016-08-17 14:45] mariobehling commented on #546
@the-dagger Goal of this issue was to follow best practices and make it easier for people to understand the project. We have not achieved this yet. Instead of having a dedicated installations.md for digital ocean you simply renamed documents and it starts to be confusing. Please check how others are doing this regarding installations instructions: https://github.com/loklak/loklak_server/tree/devel

[2016-08-17 17:42] mariobehling commented on #546
Please also update the generator screenshots and add them into the repository instead of outside links.

[2016-08-17 17:45] the-dagger commented on #546
Ok @mariobehling I'll add a `gif` file too similar to the webapp outlining the walk-through our generator.

[2016-08-17 22:33] #543 closed

[2016-08-18 11:35] #575 closed

[2016-08-18 16:25] mariobehling commented on #585
@rafalkowalski This is a blocker and we cannot continue. Please work actively together to make this happen quickly.

[2016-08-18 19:08] brainbreaker commented on #363
@mariobehling @the-dagger I'd like to work on this issue so as to get a basic understanding of codebase of Android client.

[2016-08-18 19:21] mariobehling commented on #363
@brainbreaker Please feel free to make a proposal. Integrating this feature should be done later, when there are use cases implemented as well though.

[2016-08-18 20:15] chiragw15 opened #604 "No mention of country of the Speaker"
We can sort the list of Speakers by Name,Organization and country.

![img_20160819_011952](https://cloud.githubusercontent.com/assets/16978820/17788846/2b6099d0-65ad-11e6-81f2-5b83cc01a8f8.jpg)

But there is no mention of the country from which the speaker belongs to.

![img_20160819_012032](https://cloud.githubusercontent.com/assets/16978820/17788895/5e4dc048-65ad-11e6-9864-779b6c0313e2.jpg)

It

[2016-08-18 20:20] the-dagger commented on #604
Hey @chiragw15 The json data does contain information about speaker's country.
Would you like to work on this?

[2016-08-18 20:24] chiragw15 commented on #604
Yup, sure.

[2016-08-19 09:53] rafalkowalski commented on #585
@the-dagger below code works.
Fill YOURPASSWORD and YOUREMAIL variables!

[2016-08-19 12:25] the-dagger opened #610 "Allow multiple users to upload file simultaneously"
Our current setup only allows one user to upload the sample zip at a single instance.
We need to fix this once our setup goes into production.

[2016-08-19 14:00] mananwason opened #612 "No error shown on entering wrong email"
@the-dagger Even if I add a random word, it doesn't show any error. It should check for a valid email and then proceed further

[2016-08-19 14:29] the-dagger commented on #612
![screenshot_20160819_195751](https://cloud.githubusercontent.com/assets/6565270/17813037/47788a52-6647-11e6-9009-d8c27e3bec4d.png)
@mananwason Works for me.
Which browser are you using?
I tried with Firefox and Chrome

[2016-08-19 14:51] the-dagger commented on #585
Hey @rafalkowalski Could you tell me, whaich `email` and `password` should be entered here?
Also do i need to change your email ("rafal.arte@gmail.com") mentioned in `data`?

[2016-08-19 14:58] rafalkowalski commented on #585
@the-dagger I think you should use your own. @aviaryan Do we have possibility to give for example a key and paasword for android application, without creating an account in orga server?
 @the-dagger you have to change my email above code it was an example

[2016-08-19 14:58] the-dagger commented on #585
@rafalkowalski Ok, so your email will be replaced by the user who is generating the email right?

[2016-08-19 14:59] rafalkowalski commented on #585
exactly this user will get an notification

[2016-08-19 14:59] the-dagger commented on #585
Cool

[2016-08-19 15:07] #557 closed

[2016-08-19 16:32] mananwason commented on #612
@the-dagger Safari :/

[2016-08-19 16:33] mananwason commented on #612
<img width="1437" alt="screen shot 2016-08-19 at 10 03 01 pm" src="https://cloud.githubusercontent.com/assets/10570249/17816810/bded3b0e-6658-11e6-8946-27ed4e04e82e.png">
Here is the screenshot

[2016-08-19 17:03] #610 closed

[2016-08-19 17:58] the-dagger commented on #585
@rafalkowalski getting Permission Denied once again
[code]
This is the content of sendNotif.py
[code]

[2016-08-19 18:19] aviaryan commented on #585
@the-dagger Does your email ("harshit****@gmail.com") have Organizer / co-organizer access to event ?

[2016-08-19 18:24] the-dagger commented on #585
@aviaryan No i don't think so.
Could you provide me with a dummy email/id combo which has organizer access please?

[2016-08-19 18:37] aviaryan commented on #585
@the-dagger Yes you didn't had organizer access. I have sent co-organizer invitation to your email.

[2016-08-19 18:40] the-dagger commented on #585
Sure I'm waiting for it.
Thanks

[2016-08-19 18:42] the-dagger opened #614 "Allow user to upload only zip files"
As of now, the user is allowed to upload any file to the server.
This is a blocker as uploading a file which is not `zip` will break the build.
So we need to fix this.

[2016-08-19 19:42] mananwason opened #616 "Change launcher icon of the app generated by the generator"
We can have a functionality where we can change the icon of the app generated by the generator. This icon can be put into the zip uploaded by the organiser. But it will have to be a png file according to android guidelines. These are the tasks scheduled for the issue.

* [x] Take logo in events.json and convert it into required format
* [x] Modify existing code to check for icons in the zip and re

[2016-08-19 19:56] mananwason opened #617 "Ignore images in the zip uploaded by the user"
@mariobehling @the-dagger We need to ignore all the speaker images that are added in the zip by the organiser. Right now this creates a conflict which causes the build to fail. We need to rectify this asap.

[2016-08-19 20:01] the-dagger commented on #616
Makes sense @mananwason :+1:

[2016-08-19 20:08] #614 closed

[2016-08-19 20:20] the-dagger commented on #585
@aviaryan I haven't yer received the email.
Could you please check it?
Thanks

[2016-08-19 20:53] aviaryan commented on #585
@the-dagger I sent it to 'harshithdwivedi@gmail.com' (from the code you posted) . There is an 'h' after dwivedi . Now I have sent it to 'harshitdwivedi@gmail.com' also.

[2016-08-19 20:56] the-dagger commented on #585
@aviaryan its harshithdwivedi@gmail.com only, but I haven't received any email yet.

[2016-08-19 20:56] the-dagger commented on #585
Edit : Ok, it was at my orga server dashboard.
I was looking for it inside gmail inbox.
Thanks

[2016-08-19 21:02] mananwason opened #618 "Add setting preference to show local and conference's local time"
Users should be able to select which time schedule they want. They should be able to switch within the schedule according to their local time as well as according to the conference's local time.

[2016-08-19 21:10] mariobehling commented on #616
Simply use the logo define in the event.json and convert it if necessary from jpg, svg to png in the web app generator.

[2016-08-19 21:11] mananwason commented on #616
Got it @mariobehling :+1

[2016-08-19 22:09] the-dagger opened #619 "Fetch the data on server from API at the build time"
As outlined in today's chat, we need to take care of the following things.
* [x] Fetch the JSON files from the API provided by the user.
* [x] Extract event name from event.json and use it as the app name
* [x] Extract the logo from event.json and use it as the app's icon.
* [x] Remove the App Name field from the web page.
* [ ] Copy the json files into the assets folder prior to app compilation

[2016-08-19 22:43] the-dagger commented on #585
@aviaryan @rafalkowalski Still the same error.
[code]

[2016-08-20 12:02] gogeta95 opened #620 "Retry Action for failed downloads."
The snackbars for "Download failed/couldn't refresh" or similar events should contain a "retry" action so user can retry easily and get improved experience.

[2016-08-20 12:46] gogeta95 commented on #620
@the-dagger, could you assign this to me? I'd like to contribute.

[2016-08-20 12:48] the-dagger commented on #620
Hey @gogeta95 you can go ahead and work on this if you like.
Only the people belonging to an organization can be assigned to an issue. :)

[2016-08-21 03:35] mariobehling opened #622 "Codacy was unable to analyse commits"
Pull requests are currently not checked by codacy. It seems the Android app is not covered through codacy tests.

[2016-08-21 09:14] mananwason commented on #622
@mariobehling Actually this is some issue with codacy itself. It sometimes doesn't post comments on github PR but it is still analysing every PR. If you click on details in front of the codacy check, you can view the report on the codacy website.

[2016-08-21 10:54] the-dagger commented on #622
@mariobehling Fixed this , you can see passed codacy tests in #624

[2016-08-21 10:54] #622 closed

[2016-08-21 16:09] the-dagger commented on #585
@rafalkowalski Could you have a look at this?
I am still not email to send a request to the API successfully.

[2016-08-22 02:22] mananwason opened #626 "Sort sessions according to time in the schedule"
Right now all the sessions are sorted according to tracks and within each track they're sorted by time. We want to sort them according to time, so that it looks like a timeline

[2016-08-22 03:08] mariobehling commented on #626
Both options should be available.

[2016-08-22 03:10] mananwason commented on #626
Okay sure @mariobehling but obviously this will only work with the api. If there are json files, we can't sort them. They'll be displayed as it is.

[2016-08-22 16:18] gogeta95 opened #627 "Improve butterknife implementation"
App uses butterknife in just some parts of the app, while it should be used everywhere to improve performance.
Also update butterknife to latest version.

[2016-08-22 16:23] the-dagger commented on #627
@gogeta95 You can go ahead and work on this if you like :+1:

[2016-08-22 17:25] mananwason commented on #564
@mariobehling This is fixed by changing the location name in the sample here https://github.com/fossasia/open-event/pull/69.

This is the screenshot. So closing this issue now
![screenshot 22-aug-2016 10_52_27 pm](https://cloud.githubusercontent.com/assets/10570249/17864391/847b261e-68bb-11e6-8322-165259401957.png)

[2016-08-22 17:25] #564 closed

[2016-08-22 18:05] mananwason opened #629 "Add option to sort sessions by Track"
This is the extension to #626 and after this we should have option to sort sessions via tracks and in a track, they should be sorted by time

[2016-08-22 18:41] #600 closed

[2016-08-22 18:41] #618 closed

[2016-08-22 18:41] #626 closed

[2016-08-22 18:42] the-dagger commented on #617
already covered in #619

[2016-08-22 18:42] #617 closed

[2016-08-22 18:42] the-dagger commented on #616
@mananwason Doing this in #619

[2016-08-22 18:54] mananwason opened #630 "Remove .json suffix from offline json parsing"
Right now we are parsing offline json with .json suffix but in order to mock the api samples, we need to parse json without that .
We also need to update the json we're using in the app currently to the latest version of the sample available on github.

[2016-08-22 19:56] #630 closed

[2016-08-23 03:26] geeteshk opened #634 "Share Intent not stopping"
On a couple of devices I have tested the sample application and I noticed that when I pressed share in the Tracks section and tried to exit the share Intent would launch multiple times and enter a loop until the system realises this.

[2016-08-23 07:06] #634 closed

[2016-08-23 08:49] #415 closed

[2016-08-23 13:30] rafalkowalski commented on #585
@the-dagger i've changed your permissions
please take a look again it should work

[2016-08-23 15:09] geeteshk opened #636 "Toolbar shadow bug on schedule"
Only happens when in Schedule and you press Bookmarks and there are no bookmarks to be shown.

Image proof:

![Proof](https://i.imgur.com/TUZLVCf.jpg)

[2016-08-23 15:24] #620 closed

[2016-08-23 16:43] #636 closed

[2016-08-23 17:33] gogeta95 opened #638 "[Fdroid]App crashing on schedules."
App is crashing on schedules @mananwason @the-dagger.
steps to reproduce crash:

adding stacktrace:
[code]

Android version: 4.4.4, API 19
Device: Genymotion emulator , 768x1280

[2016-08-23 20:31] gogeta95 commented on #638
found the cause, its because Geocoder backend service (may be a part of google play services?) is missing in genymotion. quoting from the [Geocoder docs](https://developer.android.com/reference/android/location/Geocoder.html):

[2016-08-24 03:16] mananwason commented on #638
So we can close this then @gogeta95.

[2016-08-24 03:21] mananwason opened #639 "Sqlite unique constraint failed"
If we run the app for the first time and then clear app data, then open it again, we get a sqlite exception
``` UNIQUE constraint failed: session.id```
App hangs because of this.

[2016-08-24 05:57] the-dagger commented on #638
@mananwason this issue is in FDroid variant only, so probably some issue with our implementation.
Let's dig this a bit deeper once we are done with remaining issues.

[2016-08-24 06:24] geeteshk opened #642 "Unnecessary dependencies"
The project is using deprecated dependencies:

* Android Support Library
* Google Play Services Library

The support repositories should be used instead.

[2016-08-24 09:22] mananwason commented on #638
Oh got it @the-dagger. Actually I have used geocoder in https://github.com/fossasia/open-event-android/blob/a075beb61d4a65e06ca075344741973cda69df42/android/app/src/main/java/org/fossasia/openevent/utils/ISO8601Date.java.

This is used to get conference timezone by the coordinates of the event. I did this to make the app customisable. Will find a fix for this.

[2016-08-24 10:07] the-dagger commented on #638
Cool :+1:

[2016-08-24 10:07] #639 closed

[2016-08-24 10:50] the-dagger opened #643 "Use default logo if not provided"
The sample api that we are using to test our app [https://open-event-dev.herokuapp.com/api/v2/events/9](https://open-event-dev.herokuapp.com/api/v2/events/9) has its logo set to `""`.
So for such cases in which there is no logo provided by the organizer, we will be using the default FOSSASIA logo.

[2016-08-24 11:27] the-dagger opened #644 "Sessions not getting fetched from the latest API"
@mananwason sessions are not getting fetched and stored from the following API.
[http://open-event-dev.herokuapp.com/api/v2/events/132](http://open-event-dev.herokuapp.com/api/v2/events/132)

Make sure to add a trailing ```/``` in Retrofit builder inside ```APIClient.java```

[2016-08-24 11:28] the-dagger commented on #643
Fixed in #632

[2016-08-24 11:28] mananwason commented on #644
Will take a look at this today @the-dagger.

On Wed 24 Aug, 2016, 4:57 PM Harshit Dwivedi, <notifications@github.com>
wrote:

--

Sent from my mobile phone. Excuse the typos.

[2016-08-24 11:34] the-dagger commented on #644
@mananwason also be sure to modify the API calls accordion to the new API

[2016-08-24 11:34] mariobehling commented on #643
Sorry, but this is not how it is supposed to be. There needs to be a neutral logo and not the FOSSASIA logo.

[2016-08-24 11:36] the-dagger commented on #643
@mariobehling so I should use the default logo then?
The one with green android bot.
![image](https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQb-K4diwDqC4luqSUghZXLEu3tqjiZXCKo9jwD7mV_L-4RRNdtkUTri2jJ)

[2016-08-24 11:36] mariobehling commented on #643
Sorry, but the way you work with issues is not useful. It seems you implement something and then open an issue just to close it a short time later. Also your PR has not been merge and you close this issue. Not sure, how you think this flow could be useful to the project.

[2016-08-24 11:37] mariobehling commented on #643
Yes, default android logo seems to be more suitable for now.

[2016-08-24 11:37] the-dagger commented on #643
Sorry, about that @mariobehling
I'll make sure to remember it from now onwards.
Actually I was in a bit hurry to close the remaining issues asap hence I did this.
Won't repeat it.

[2016-08-24 14:28] Abhi2424shek commented on #612
Should I work on it,
I could provide javascript validation soon after you click the generate app. Searching for @ and . throughout the field and displaying an alert if nothing is there. Since it is javascript it should work for all browsers ranging from old ones. And since the code is small there should not be much of a delay too.

[2016-08-24 14:30] the-dagger commented on #612
@Abhi2424shek Yep that's what I planned to do.
You can go ahead and work on this issue if you want :)

[2016-08-24 14:31] Abhi2424shek commented on #643
But using the sample android app @the-dagger @mariobehling could trigger in copyright infringement and if not why should our brand go! @the-dagger I would appreciate something closer to opensource and FOSSASIA. Best of luck.

[2016-08-24 14:33] Abhi2424shek commented on #612
sure @the-dagger

[2016-08-24 14:37] the-dagger commented on #643
@Abhi2424shek using the default android logo won't violate the copyright in anyways.
![ic_launcher](https://cloud.githubusercontent.com/assets/6565270/17934631/40e0b7e4-6a36-11e6-8ae3-845222aa9724.png)
This is set as the default icon in every android app which you create via Android Studio and is free to use.

[2016-08-24 14:39] Abhi2424shek commented on #643
Yes but the logo u provided was not the same right! @the-dagger ! GO AHEAD and submit the PR

[2016-08-24 14:53] Abhi2424shek commented on #612
Fixed it @the-dagger see the PR

[2016-08-24 16:10] #585 closed

[2016-08-24 16:10] #619 closed

[2016-08-24 17:52] gogeta95 opened #649 "Back pressing reverts to "Tracks" but navigation drawer is not updated."
@mananwason  pressing back when any other screen except "tracks" is selected reverts view to tracks but navigation view is not getting updated properly. this is a bug.
![Screenshot](https://cloud.githubusercontent.com/assets/8329096/17941784/6922a44e-6a52-11e6-8a96-66d05fe02b23.png)

[2016-08-24 17:54] mananwason commented on #649
@gogeta95 Feel free to work on it. Assigning it to you

[2016-08-24 20:49] #649 closed

[2016-08-25 12:04] #629 closed

[2016-08-25 16:41] the-dagger opened #655 "Failed Travis build"
Travis build is failing with the following message.
[code]

[2016-08-25 17:36] the-dagger commented on #655
Probably some issues with Travis, this is fixed now.

[2016-08-25 17:36] #655 closed

[2016-08-25 17:38] mananwason commented on #655
@the-dagger I just restarted the build. So maybe you gotta restart it the next time 😝

[2016-08-25 17:40] the-dagger commented on #655
@mananwason Tried restarting it 5 times.
Failed with the same error so i thought that it was a bug.

[2016-08-25 18:20] #643 closed

[2016-08-26 04:58] #642 closed

[2016-08-26 05:00] mananwason commented on #604
@chiragw15 status on this?

[2016-08-26 05:01] mananwason commented on #535
@SparshBansal Status?

[2016-08-26 05:03] mananwason commented on #546
@the-dagger I think this is done, so we can close this.

[2016-08-26 05:03] #546 closed

[2016-08-26 05:13] mananwason opened #658 "Delete cloned files and build folders from the server after the release apk is generated"
We need to add code to the python script to delete all the files that are cloned and the zips that are uploaded once the release apk is generated and saved. This is because they are just occupying server space and is not anyway required.

[2016-08-26 05:49] #524 closed

[2016-08-26 05:58] the-dagger opened #659 "Automatically start building the app after zip file was uploaded"
As pointed out by @mariobehling , we need to reduce the number of clicks and start building the app immediately after file was uploaded

[2016-08-26 07:58] the-dagger opened #660 "Cancel the current upload when user selects new file"
In the upload picker, when user selects new file, we need to cancel the current upload and start a new upload with the newer file.

[2016-08-26 08:37] the-dagger opened #661 "Label for the zip upload missing"
In the app generator website, when user selects the option to upload a zip, there is no `Hint Text` as compared to the case when he selects the option to enter `API Endpoint`.
Current UI :
====
![screenshot_20160826_140359](https://cloud.githubusercontent.com/assets/6565270/17999208/f7e80676-6b95-11e6-99f7-9ea3d65e5814.png)
![screenshot_20160826_140345](https://cloud.githubusercontent.com/assets/6

[2016-08-26 10:17] chiragw15 commented on #604
@mananwason , I have tried some ui and features on the list of speakers. See if any one or more can be applied.

1.)Adding country name in the list.
![screen1](https://cloud.githubusercontent.com/assets/16978820/18002019/5110864e-6ba3-11e6-81dd-1b4365970d66.png)

2.)Adding a fast scroll option since number of speakers is very large.
![screen2](https://cloud.githubusercontent.com/assets/16978820/18

[2016-08-26 11:40] mananwason commented on #604
@chiragw15 For the most part I told you to change the place where you display the country. Could you please just try out some UI that does that. Right now we don't want to break the continuity of the design of the app. Cheers!

[2016-08-26 11:44] chiragw15 commented on #604
Yup sure, No problem. BTW what about fast scroll feature?? Can we add that? @mananwason

[2016-08-26 11:45] mananwason commented on #604
@chiragw15 Yes we can but you'll have to take care of it for the different sorting parameters.

[2016-08-26 11:48] chiragw15 commented on #604
Yes, I'll do that . So, should I make that a separate issue or combine it with this issue and send a combine PR. @mananwason

[2016-08-26 11:50] mananwason commented on #604
Please create a new issue and I'll assign it to you there but first let's close this issue, then we can open and proceed with the other one. Thanks!

[2016-08-26 11:52] chiragw15 commented on #604
Yes cool +1

[2016-08-26 13:04] SparshBansal commented on #535
I have sent the pull request. Please review and merge. Actually i was busy
with Campus Internships and all therefore it took such a long time. Now I
will focusing on the project. Please assign me to some other issue.

Thank You

On Fri, Aug 26, 2016 at 10:31 AM, Manan Wason <notifications@github.com>
wrote:

[2016-08-26 16:37] #661 closed

[2016-08-26 16:55] #660 closed

[2016-08-27 08:18] mananwason opened #665 "Sessions not being displayed in speakers activity"
Right now sessions for a particular speaker is not being shown after changes in the sorting of sessions by time and tracks. We need to change the way the speakers are being retrieved. Attached is the screenshot.
![screenshot 27-aug-2016 1_45_32 pm](https://cloud.githubusercontent.com/assets/10570249/18026198/e09951ec-6c5c-11e6-993d-b2fa152d0670.png)

[2016-08-27 09:41] #665 closed

[2016-08-27 09:42] the-dagger commented on #644
@mananwason is this fixed in #666 ?

[2016-08-27 13:00] mananwason commented on #644
No @the-dagger. Will send a PR today

[2016-08-27 17:15] the-dagger opened #667 "App crashes on refreshing if no API link was provided"
If the app was created from zip file, the app crashes when any of the fragment is refreshed.
We need to display a dialogue instead when this happen.

[2016-08-27 18:12] #535 closed

[2016-08-27 18:19] mananwason commented on #667
@the-dagger You just need to provide an empty string from the server as the api link. You could also add a parameter to config.json that specifies if api link is not given and we can use Sharedpreference on the app to handle refresh

[2016-08-27 18:20] mananwason commented on #667
Also in the case of empty string I have handled it with an error display in the app.

[2016-08-27 18:23] the-dagger commented on #658
@mananwason how about a `rm -rf  /var/www/files/$uid` after each build?

[2016-08-28 07:17] Abhi2424shek commented on #612
Please close this issue, it is solved and the PR is merged @mananwason @the-dagger . Happy coding :)

[2016-08-28 08:15] #612 closed

[2016-08-28 09:14] mariobehling opened #668 "Please ensure all image formats and names work in zip and API"
There are cases where images might have international characters, spaces and formats. Please ensure that the app generator and API calls of the app are able to process these images.

This was discussed in project chats and issues before:

This is not the case with images right now, so they are not getting displayed when the app is generated from the generator using sample zip file. https://github.

[2016-08-28 09:26] mariobehling commented on #668
To add some more background:

The goal is that lots of different projects to support our format. We hope to see wordpress plugins, drupal modules, ... everyone should use the format. If we restrict the formats all these projects in future will have to rename their files and implement our image restrictions. It is unlikely that e.g. the Drupal image module will implement our limits. And if a develo

[2016-08-28 10:01] the-dagger commented on #668
Yes it can read them during download
On downloading the images on first run, the format won't matter
It matters only during packaging images inside the generator.
We can do one this for this, in the speakers and sponsors json, we can have an additional field for the logo names `logo_url` that points to a URL containing the logo so that it can be fetched at run-time instead of packaging it with the

[2016-08-28 13:08] mananwason commented on #668
@mariobehling We can parse any type of url i.e with spaces, special characters etc. in the app but while packaging images in the app we need to make sure that these images are png's and don't have any spaces or special characters for a successful build of the apk.

We have fixed this to package the logo in the app but since for now we are not packaging any speaker images in the app, everything is

[2016-08-28 13:09] mananwason commented on #658
@the-dagger That won't work instead I am using shutil to remove all the contents of the build directories. The command would be ```shutil.rmtree()```

[2016-08-28 14:21] mananwason opened #670 "Multiple unnecessary automated commits"
@mariobehling @the-dagger There are multiple automated commits by @the-dagger using travis but as per my understanding these auto upload commits should be made only when there is a new commit on the development branch. I believe we need to change travis config to make the script run only on onsuccess :
<img width="1042" alt="screen shot 2016-08-28 at 7 19 52 pm" src="https://cloud.githubuserconten

[2016-08-28 14:29] mananwason opened #671 "Code cleanup and refactoring"
Right now there are a lot of commented code on the app generator scripts. We need to remove it.

[2016-08-28 14:45] the-dagger commented on #670
@mananwason these commits are done only when there is a commit on the dev branch.
These are not done in case of a PR.

[2016-08-28 14:46] #644 closed

[2016-08-28 14:49] the-dagger commented on #670
@mananwason @mariobehling what if instead of uploading the sample apk in android repo,  we upload it in the `open-event` repo.that way our codebase will be free of any such commits.

[2016-08-28 15:01] mananwason commented on #670
@the-dagger My bad this only had commits made by you. But yeah instead of having so many such commits why don't we just upload the sample apj on the master branch. Uploading to the open event repo doesn't sound very good.

@mariobehling Views?

[2016-08-28 16:39] mananwason opened #672 "Hide the generate and download app button once the build starts"
Right now the generate and download app button is shown even when the build starts. It should be hidden or atleast made unclickable

[2016-08-28 18:47] mariobehling commented on #670
I am not sure, what is the best practice. Does not seem a big improvement to put it into the master branch. Let's focus on the first release for now and after that define best practices for that question.

[2016-08-28 19:08] #670 closed

[2016-08-29 05:51] the-dagger opened #673 "Package background alongwith the app"
Right now, only the icon is packages in the app from the zip file.
We need to package the logo along-with the app too.

[2016-08-29 08:22] mananwason opened #675 "Update fossasia app on the play store"
The current app on the play store is not working due to the server being down. We need to add the latest version of the app after GSoC to the play store, so that everyone can test it.

[2016-08-29 15:28] #673 closed

[2016-08-29 15:28] #638 closed

[2016-08-29 15:32] mananwason commented on #488
Right now there is no need for this as we have handled this in the app as well as generator.

[2016-08-29 15:32] #488 closed

[2016-08-29 16:52] the-dagger commented on #659
Closing this for now as this needs A/B testing first

[2016-08-29 16:52] #659 closed

[2016-08-29 17:47] #658 closed

[2016-08-30 09:24] #604 closed

[2016-08-30 15:34] #671 closed

[2016-08-30 17:26] the-dagger opened #683 "Handle the case where app's name might be invalid"
If the app's name mentioned in event json contains any special character then the app's build will fail.
We need to check this and modify the app's name accordingly.
Since we are fetching the app's name directly from event's json file so we need to check if there are any special characters and replace them accordingly.
For example : [https://github.com/fossasia/open-event/blob/master/sample/Ehealt

[2016-08-30 17:46] mariobehling opened #684 "Create a location to define the configuration of the apk generator and its output"
The web app has a config.js and documentation to change the wab app configuration.

* [x] Please propose and implement a way to store the apk generator config for the Android app.
* [x] Document it in the Readme.md similar to https://github.com/fossasia/open-event-webapp#configurations

[2016-08-30 18:01] the-dagger commented on #684
Ok @mariobehling
We already have a config.json here : [https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/assets/config.json](https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/assets/config.json)
I will add the docs for it.

[2016-08-31 07:26] #684 closed

[2016-09-01 15:22] gogeta95 opened #686 "Increase Gradle Memory for faster builds."
from the gradle build log:

`To run dex in process, the Gradle daemon needs a larger heap.
It currently has approximately 910 MB.
For faster builds, increase the maximum heap size for the Gradle daemon to more than 2048 MB.
To do this set org.gradle.jvmargs=-Xmx2048M in the project gradle.properties.
For more information see https://docs.gradle.org/current/userguide/build_environment.html
`

[2016-09-01 16:42] #686 closed

[2016-09-01 16:53] the-dagger opened #688 "Add deep linking to the app using Branch"
Adding deep links to the app so that it can be opened up directly from [http://2017.fossasia.org/](http://2017.fossasia.org/).
We can use [branch](https://branch.io/) for this.
@mariobehling Suggestions?

[2016-09-01 20:32] chiragw15 opened #689 "Adding fast scroll feature in the speakers fragment."
Since the number of speakers is more, it will take a lot of time for user to scroll down to last speaker. So a feature like fast scroll may help. It will look something like this.

![screenshot_20160902-014536](https://cloud.githubusercontent.com/assets/16978820/18183257/28d87f20-70b1-11e6-8e80-5b451d2a7f6b.jpg)

[2016-09-02 08:04] gogeta95 commented on #627
@mananwason, are you still working on this?

[2016-09-02 08:51] gogeta95 opened #690 "add HTML parser to session description."
HTML parser should be added to avoid problems like these:
![image](https://cloud.githubusercontent.com/assets/8329096/18198123/8a1982b8-7118-11e6-8bfc-7739cd0a01be.png)

[2016-09-02 11:46] #690 closed

[2016-09-02 12:39] #667 closed

[2016-09-02 15:06] rohanagarwal94 commented on #688
@the-dagger I have worked on this before in my previous app.. Shall I start working on it?

[2016-09-02 15:09] the-dagger commented on #688
@rohanagarwal94 Go Ahead :+1:

[2016-09-02 15:42] gogeta95 opened #693 "Scrollable toolbar."
Toolbar should be scrollable with recyclerview, similar to Google play app. what do you think @the-dagger  @mananwason ?

Screens:
![image](https://cloud.githubusercontent.com/assets/8329096/18213524/53d09f90-7166-11e6-814f-adc82cd33b41.png)
![image](https://cloud.githubusercontent.com/assets/8329096/18213536/5ad5d2f6-7166-11e6-878a-97308f984773.png)

[2016-09-02 18:03] the-dagger commented on #693
@gogeta95 Any sample mockups?

[2016-09-02 18:08] gogeta95 commented on #693
@the-dagger added.

[2016-09-02 18:21] the-dagger commented on #672
Fixed already

[2016-09-02 18:21] #672 closed

[2016-09-02 18:55] #693 closed

[2016-09-02 19:10] the-dagger commented on #548
Closing this for now as the ongoing upload is cancelled when user clicks on the file selector widget.

[2016-09-02 19:10] #548 closed

[2016-09-02 20:14] the-dagger opened #696 "Isolate javascript from html"
As of now, the JS code is bundled inside index.html.
We need to take out the js code and save it separately. and ensure that the webpage functions correctly after this.

[2016-09-03 07:12] rohanagarwal94 commented on #688
@the-dagger The deep linking implementation opens up the app chooser dialog when user clicks on the link rather than when he types the link in the web browser. I think its futile to use branch just for android app redirect since that can be achieved just by including an intent filter for the splash activity. However, I dont think the above mentioned feature is possible from the app side - [see thi

[2016-09-03 08:42] #683 closed

[2016-09-03 09:14] mariobehling opened #697 "Improve Generator UI"
Currently the Generator UI has a number of elements that can be merged or taken out. Please implement the following:
- [ ] Choosing a file immediately starts the upload and after that - without additional user interaction - the generation of the app
- [x] Should the user click "Choose File" again the process is stopped
- [ ] With the above implementation we do not need the button "generate" anymor

[2016-09-03 16:33] #668 closed

[2016-09-03 16:34] the-dagger commented on #697
@mariobehling we still need the generate app button in case user selected to enter the `API` for generating the app.

[2016-09-05 05:49] the-dagger commented on #688
@rohanagarwal94 I meant to implement something similar to what stackoverflow, slack and medium are doing.
If you open up the webpage on your mobile, they show a little snackbar type of thing on the top which says `open in app` and then opens the app is user has it installed or opens up the play store if he hasnt.
We might also need to do some changes on the web page too i believe, so let's brainst

[2016-09-05 09:25] mariobehling commented on #697
@the-dagger Good point. So, only show the app button if user selects "API".

[2016-09-05 09:40] the-dagger commented on #697
umm, sounds good.
I'll do it

[2016-09-05 11:54] #689 closed

[2016-09-05 19:13] rohanagarwal94 commented on #688
@the-dagger yup, that I think is branch implementation using a custom link generated from there and hyper linking that link in mobile responsive website.

[2016-09-05 20:59] betterclever commented on #627
@gogeta95 Can I work on this issue ?

[2016-09-05 21:10] gogeta95 commented on #627
@betterclever sure, go ahead. :+1:

[2016-09-05 21:32] gogeta95 opened #699 "DataBase requests are synchronous."
Looking at the code i found that all the databse requests were synchronous, while they should be asynchronous to improve performance by pushing I/O to separate thread. I propose to fix this using RxAndroid.

attaching a comparison of same functionality using RxAndroid vs basic threading.
![image](https://cloud.githubusercontent.com/assets/8329096/18257255/5d0d1f32-73de-11e6-81c3-cdd88eb4eda1.png)

[2016-09-05 22:05] betterclever opened #700 "Improve Naviagtion Drawer Layout"
![nav1](https://cloud.githubusercontent.com/assets/16309034/18257517/9bcc755c-73e2-11e6-8552-6d6876227cd0.png)
![nav2](https://cloud.githubusercontent.com/assets/16309034/18257519/a1c134de-73e2-11e6-897f-67688432eb1c.png)

In Current Navigation Drawer layout, the status bar is not transparent as in Google Play. This can be improved to enhance overall look.

[2016-09-06 12:23] the-dagger commented on #700
@betterclever yaha sounds good.
Please go ahead if you want to work on this :+1:

[2016-09-06 12:59] #700 closed

[2016-09-07 06:26] betterclever opened #703 "Ripple Animations are not present in Views."
In various parts of the app, there is no ripple animation or any other touch feedback for the user.
![ezgif com-video-to-gif 2](https://cloud.githubusercontent.com/assets/16309034/18301886/3e39e3a0-74f2-11e6-84ac-4a8090c1b36b.gif)

![ezgif com-video-to-gif 1](https://cloud.githubusercontent.com/assets/16309034/18301828/e8cf6e30-74f1-11e6-889c-7e72c0ad9e62.gif)

Examples of what was before and what

[2016-09-07 20:37] #703 closed

[2016-09-07 20:39] betterclever commented on #703
Solved in #705

[2016-09-08 07:50] gogeta95 commented on #627
@betterclever whats the status of this issue?

[2016-09-08 07:52] betterclever commented on #627
@gogeta95 I experienced some problems while updating Butterknife to latest version. I am trying to resolve them.

[2016-09-08 07:58] gogeta95 commented on #627
okay.. let me know if you need any help.

[2016-09-09 17:34] #627 closed

[2016-09-13 21:06] betterclever opened #710 "Add Dark Theming Support in App."
The App currently provides only Material Light theme. A Dark theme support according to user preference can be added.

[2016-09-13 21:18] mariobehling commented on #710
Good point. We need good theming, but theming options should be defined in the event JSON in future. For now it is important to focus that all basic functionalities work. Closing it therefore.

[2016-09-13 21:18] #710 closed

[2016-09-14 16:51] gogeta95 opened #711 "Performance issues in Database queries."
some Database queries are very slow causing app to slow down during I/O operations(as we noticed in schedule fragment before making is async) which need to be improved,
for example: [DatabaseOperations.getSessionbySpeakersname()](https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/java/org/fossasia/openevent/dbutils/DatabaseOperations.java#L507)
no SQL joins were u

[2016-09-16 07:51] Abhi2424shek commented on #696
Can I do it. Do you want it to be 'async'

[2016-09-18 12:37] gogeta95 commented on #711
@mananwason @the-dagger  check the commit 8268cd1 and let me know if its ok. will move ahead with the same code in other functions too.

[2016-09-22 14:09] the-dagger commented on #711
@gogeta95 Looks good to me.
Did you face any bugs with this implementation of yours?
Also could you provide a sample apk for testing with your changes?

[2016-09-22 23:32] the-dagger opened #712 "Sessions for any speaker not showing up"
Right now, the speakers page won't show any sessions.
This is a bug with how the mapping for speakers and sessions is done and needs to be fixed asap.

[2016-09-22 23:36] the-dagger opened #713 "Speaker images not getting displayed"
None of the speaker images are showing up.
This is due to the sample json using an indirect link for the images instead of a direct link to them.
[https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/speakers#L7](https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/speakers#L7)
Adding the direct link before the image url mentioned in the samples should fix this issu

[2016-09-23 00:16] mariobehling commented on #713
What do you mean by indirect link?

If you want links to photos on the net, let's talk to @aviaryan about implementing an alternative image location. Generally the whole zip should contain the image data already, so we can build apps with it without relying on external sources.

[2016-09-23 00:16] mariobehling commented on #713
Therefore this is not a bug, but a request for an enhancement.

[2016-09-23 00:24] the-dagger commented on #713
@mariobehling That's what i meant too.
But, the app is not updated to use this json and hence i marked it as a bug.

[2016-09-23 07:03] aviaryan commented on #713
@the-dagger How is the app being created ? I remember reading something about having problems saving jpeg/media files in *.apk files so you planned to store direct links of image in app instead and use the links to download media. And that is why the sample json's are not working.
What if we create a separate samples folder with json's without media files (only direct links) .
I guess the json wit

[2016-09-23 07:19] mariobehling commented on #713
@aviaryan This would temporarily work, but it would not solve our use case, where 1. a user exports a file with picture, 2. the user generates an app with basic data, 3. the user starts the Android app and expects that all files are updated from external sources.

For 3. - we need the link to the external source in the JSON (as a second alternative source). Could we add something like "Alternative

[2016-09-23 10:40] the-dagger commented on #713
Agreed with @mariobehling, having a separate field named alternative photo with the direct link to all images would be a good thing to have and will save us of all the hassle to convert and down scale the images on the server.

[2016-09-23 20:06] #712 closed

[2016-09-23 21:55] aviaryan commented on #713
@the-dagger @mariobehling How is the android app for the event updated once it has been created ? Doesn't it use the API endpoint to stay updated (from meta json). If that's the case, querying the API will always give the direct link to the image. So image can be downloaded thereafter if needed.

[2016-09-23 22:08] the-dagger commented on #713
@aviaryan Can you link me to a live event which has enough content as in the samples?
So that I can check how the app responds to it and then get back to you on this?

[2016-09-23 22:23] aviaryan commented on #713
@the-dagger Try event 179 . http://open-event-dev.herokuapp.com/api/v2/events/179/speakers
It seems to have speaker images. On the other hand, I think there is some bug in the orga server UI as http://open-event-dev.herokuapp.com/events/179/speakers/ shows no images.

[2016-09-24 16:55] Abhi2424shek commented on #696
@the-dagger reply

[2016-09-26 12:59] passiondroid opened #715 "App crashing"
Found a crash.
Steps which i performed -
1. Launched the app
2. Selected a track
3. Opened a session detail
4. Bookmark the session
5. Press back twice to reach the first activity
6. Now do swipe refresh. As soon as the refresh gets finished, app crashes.

Many times app did not crashed by performing the above steps. So there may be few other things which is causing the crash. Below is the crash l

[2016-10-01 18:09] amitiwary999 opened #716 "Action bar button disappear."
on clicking back button after clicking on bookmark option from navigation drawer (If there is no bookmark available)  then action bar button disappear. Similar for setting and aboutus option in navigation drawer.

[2016-10-01 18:12] amitiwary999 commented on #716
I would like to work on it.

[2016-10-02 20:25] gogeta95 commented on #716
@amitiwary999  please post a screenshot to add context to your issue ii its UI related, from next time.

[2016-10-03 03:30] amitiwary999 commented on #716
@gogeta95 screenshot uploaded.

![screenshot_2016-10-03-08-51-17](https://cloud.githubusercontent.com/assets/14003244/19026787/9a2438fa-8947-11e6-8cd2-4079a056a365.png)
![screenshot_2016-10-03-08-51-28](https://cloud.githubusercontent.com/assets/14003244/19026791/9f047c7c-8947-11e6-849b-de7eaad3be8e.png)
![screenshot_2016-10-03-08-51-34](https://cloud.githubusercontent.com/assets/14003244/19026792

[2016-10-03 04:13] #716 closed

[2016-10-04 21:48] amitiwary999 opened #718 "Hyperlink is not clickable"
Hyperlink present in Session detail is not clickable
![screenshot_2016-10-05-03-07-04](https://cloud.githubusercontent.com/assets/14003244/19093785/4472bae4-8aaa-11e6-8b89-b74536400bd7.png)

[2016-10-04 21:48] amitiwary999 commented on #718
I would like to work on this.

[2016-10-04 22:01] amitiwary999 commented on #715
App crash even if session is not bookmarked.

[2016-10-06 14:13] #718 closed

[2016-10-07 16:26] amitiwary999 opened #720 "App Crashing if internet is off"
I found crash by doing following step(internet off)
1.Open app
2.Click on any option form navigation drawer.
3.Click on track option and when track page open refresh it.
   And app crashes.

[2016-10-07 16:27] amitiwary999 commented on #720
I would like to work on it.

[2016-10-12 04:50] PareshMayani opened #721 "[improvement] Declare variables for dependencies and refer it"
There are dependencies which is being referred by two-three libraries/artifacts. For the same, it would be good if we declare a common variable and refer it. It's good practice to follow, as we just need to change only line/one variable, just update the variable with new version and that's it.

def SUPPORT_LIB_VERSION = "24.2.1"
def BUTTER_KNIFE_VERSION = "8.4.0"
def RETROFIT_VERSION = "2.1.0"
def

[2016-10-12 04:52] PareshMayani opened #722 "[improvement] Deprecated methods and APIs used"
We have used some deprecated methods, it's not going to affect anything but it's good always to replace it with updated solutions provided.

For example, getColor and getDrawable is deprecated, and they have provided ContextCompat.getcolor method for the solution.

[2016-10-12 17:31] PareshMayani opened #723 "[Improvement] android.R.id.home should be defined in BaseActivity"
Below code is a redundant code in activity and it should be written in BaseActivity only.

[code]

P.S. I have already written code, sending a PR soon :)

[2016-10-12 17:43] PareshMayani opened #724 "[Improvement] setContentView and Butterknife.bind redundant code"
We can declare an abstract method for getting layout ID and can set the same directly in base activity.

This would allow us not to write setContentView() and binding the same layout using Butterknife. It will also help us in overcoming a mistake of forgetting setting layout sometimes!

[2016-10-12 20:33] #724 closed

[2016-10-12 20:33] #723 closed

[2016-10-12 20:33] #721 closed

[2016-10-12 20:33] #722 closed

[2016-10-13 06:19] PareshMayani opened #726 "No need of having "ok" string, instead we can use in-built strings"
No need of having "ok" string in strings.xml, instead we can use in-built ok string which is also having translations provided in-built

[2016-10-13 17:40] PareshMayani opened #728 "Perfection is required in permission model implementation"
In Map fragment, it's showing "Insufficient permissions" snack bar when user denies but rather it should show a snackbar with action using shouldShowRequestPermissionRationale.

[2016-10-14 04:01] pvtuan10 commented on #696
@the-dagger is anyone working on this? I can help you on this issue.

[2016-10-14 04:03] the-dagger commented on #696
Hey, sorry for the delayed response, you can go ahead and work on this. @Abhi2424shek @pvtuan10

[2016-10-15 18:52] chashmeetsingh opened #731 "Remove Track"
- No use of showing the track label while in sessions as title contains the same so there is repetition

<img width="531" alt="screen shot 2016-10-16 at 12 20 56 am" src="https://cloud.githubusercontent.com/assets/8962264/19412545/6c773be8-9336-11e6-8221-31692687ea3e.png">

[2016-10-15 18:53] the-dagger commented on #731
The session card is common along the whole app.
So the same card is used for displaying talks in the speaker page too and hence we need it to display the track for the talk.

[2016-10-15 18:54] #731 closed

[2016-10-15 18:55] chashmeetsingh commented on #731
ok

[2016-10-16 07:00] amitiwary999 commented on #715
@passiondroid are you working on this?
@the-dagger I would like to work on this.

[2016-10-16 07:13] passiondroid commented on #715
@amitiwary999 You can continue to fix it.

[2016-10-16 07:30] amitiwary999 commented on #715
@jig08 I think there is a problem with circleci. My previous pr #732 is pending.can you review it so that I can start work on this issue.

[2016-10-16 07:35] anuraagbaishya commented on #726
I would like to work on this

[2016-10-16 07:54] mariobehling commented on #726
Great, please go ahead.

[2016-10-16 07:56] PareshMayani commented on #726
@Mario I have already worked upon and already sent PR

On Sun, Oct 16, 2016, 1:25 PM Mario Behling <notifications@github.com>
wrote:

--
--
*Paresh Mayani* | Manager  | Google <http://www.meetup.com/GDG-Ahmedabad/>
 Developers <http://www.meetup.com/GDG-Ahmedabad/>  Group Ahmedabad
<http://www.meetup.com/GDG-Ahmedabad/>
Technical Lead - Android | Lets Nurture <http://www.letsnurture.com/>
@pareshm

[2016-10-16 08:13] mariobehling commented on #726
ok. Thank you then.

[2016-10-16 09:18] amitiwary999 commented on #715
@dhluong90 Sir are you taking about issue #720 or this issue(i.e #715)?

[2016-10-16 09:19] dhluong90 commented on #715
Look #720 and #715 are the same.

[2016-10-16 09:26] dhluong90 commented on #715
App crash when we revisit any page:
track, speaker, sponsors, location. you can try it.

[2016-10-16 09:40] amitiwary999 commented on #715
Yeah tried it.

[2016-10-16 09:41] amitiwary999 commented on #715
So are you sending a new  PR or I open a new PR?

[2016-10-16 09:45] dhluong90 commented on #715
I sent it. Please help me review it. Thank @amitiwary999
https://github.com/fossasia/open-event-android/pull/733

[2016-10-16 09:45] amitiwary999 commented on #715
@dhluong90 please inform before sending PR.

[2016-10-16 10:00] #720 closed

[2016-10-16 10:36] anuraagbaishya opened #734 "Fix Codacy Issues"
Should I try and fix issues listed at https://www.codacy.com/app/dev_19/open-event-android/dashboard?

[2016-10-16 10:43] mariobehling commented on #734
Yes, please. Thank you. Would also be great, if you could help with travis.

[2016-10-16 11:22] PareshMayani opened #735 "About creating a separate contributing.md file"
As we discussed over Gitter channel, let's create a separate readme file "contributing.md", with including all the details regarding contribution. It would be easier for new contributors to get started with the development and contribution.

[2016-10-17 11:45] amitiwary999 commented on #715
@the-dagger this issue is solved so close this issue.

[2016-10-18 07:11] PareshMayani commented on #728
@the-dagger we have fixed out this issue so we can close this issue now. We are only using WRITE_EXTERNAL_STORAGE permission and for which we need user's permission. We have implemented permission model perfectly in map fragment.

[2016-10-18 07:13] #728 closed

[2016-10-18 08:39] PareshMayani opened #742 "[Enhancement] Speakers tab"
I think we should display Speakers in Grid instead of list.

There are couple of points why I am suggesting displaying speakers in grid. One of the important point is, by displaying in list, we are not utilizing screen space. Another point is if we will display it in grid then we would be able to display bigger profile pic.

[2016-10-18 08:46] the-dagger commented on #742
Yeah, this makes sense.
@PareshMayani do you have some ui mocks which you would like to follow for implementing this?

[2016-10-18 09:14] PareshMayani commented on #742
I am not good at photoshop. Instead let me share a design in development directly!

[2016-10-18 17:55] PareshMayani opened #743 "duplicate packages in codebase"
There are 2 duplicate packages available: Receivers and Services. Both of these packages name are actually renamed to resolve codacy issues but then forgot to delete original packages.

[2016-10-18 18:46] PareshMayani commented on #742
@the-dagger @mariobehling check the awesomeness directly into the action :)
![screenshot_20161019-001345](https://cloud.githubusercontent.com/assets/888080/19491589/1eb3fccc-9591-11e6-9b40-0c11f2fce5b4.png)

I have removed Designation and Country from the display, let me know if I should keep!

[2016-10-18 18:55] mariobehling commented on #742
Please keep Designation and Country.

[2016-10-19 17:52] PareshMayani opened #746 "Sessions list in speaker details page"
Sessions list is not coming somehow in speaker details page and there is a scroll issue too.

[2016-10-19 18:06] PareshMayani opened #747 "Revamp speaker details layout"
We need to revamp the speaker details layout as it looks somewhat messy and not utilizing the space perfectly.

P.S. I have started working on it and will send a PR

[2016-10-19 18:08] the-dagger commented on #746
Closing this in favour of #747

[2016-10-19 18:08] #746 closed

[2016-10-19 18:15] PareshMayani opened #748 "Rename SpeakerFragment and SpeakersActivity"
To avoid confusion:

1. SpeakerFragment should be renamed with SpeakersListFragment
2. SpeakersActivity is actually speaker details activity so should be renamed with SpeakerDetailsActivity

[2016-10-19 20:52] LauraLaureus commented on #748
Is this assigned to anyone?

[2016-10-19 21:31] mariobehling commented on #748
@LauraLaureus Take it up if you like.

[2016-10-20 02:18] PareshMayani commented on #748
There is already a PR sent. Pls check

[2016-10-20 02:20] PareshMayani commented on #748
And it has always been merged. https://github.com/fossasia/open-event-android/pull/749

[2016-10-20 05:32] the-dagger commented on #748
Hey @LauraLaureus this issue has already been resolved.
You can work on any of the open issues if you like to 😃

[2016-10-20 05:32] #748 closed

[2016-10-20 05:32] #726 closed

[2016-10-20 05:33] #713 closed

[2016-10-20 18:33] PareshMayani commented on #747
Attached is the revamped layout design of the speaker details screen. Hope it looks awesome!

![screenshot_20161021-000243](https://cloud.githubusercontent.com/assets/888080/19572927/c6c8d66c-9721-11e6-8a62-acde04758650.png)

[2016-10-20 18:52] the-dagger commented on #747
Looks pretty nice to me.
@mariobehling Thoughts?

[2016-10-20 19:22] PareshMayani opened #751 "About having home screen in app"
We should have a home screen in application, currently Tracks list is the home screen but it should not be actually as it's not our prime screen of the app.

Point of having home/prime screen is to display important details like:
- About Event
- Event Date
- Venue
- And other important details.

[2016-10-20 19:28] mariobehling commented on #751
@PareshMayani The home screen should be similar to the web app. Also the other parts of the Android app should have the same structure as the webapp, but we also have other screens like sponsors. Please open relevant issues.

[2016-10-20 19:29] mariobehling commented on #747
Yes, good job. Let's proceed.

[2016-10-20 19:43] PareshMayani commented on #751
@mariobehling yes I am referencing web app only but making application same as web would not be possible. And also we should not make it exactly same as web! Because all the platforms (android, iOS, web) are having their own standards and we should follow those.

When I say I am referencing web app, I did checked http://fossasia.github.io/open-event-webapp/speakers.html and then suggested speakers

[2016-10-21 17:59] PareshMayani opened #752 "onCreate method needs to be minimized"
Currently we can see onCreate() method is having lots of code, it should be minimized. We need to make it neat and clean method to make it more readable and optimized one.

[2016-10-21 18:56] PareshMayani opened #754 "Bind views using Butterknife in adapter classes"
Currently we can see findViewById code in adapter classes, if we are using Butterknife then we should use Butterknife based binding only.

It will mainly help us in improving code readability.

I will work on it to reduce the lines of code from onCreateViewHolder method and also will include setOnClickListener in adapter class itself and so it will eventually reduce lines of code from fragment and

[2016-10-21 20:56] opticod opened #755 "Search not working in Schedule Fragment"
Schedule list is not getting filtered on entering queries in Search Bar.
![screenshot_20161022-021939](https://cloud.githubusercontent.com/assets/13851773/19611312/c2bd0fec-97fe-11e6-8672-f88d29e5467d.png)

[2016-10-21 21:12] opticod opened #756 "Refresh flow bug in Track Fragment"
Steps to generate:
-> Switch off internet connection
-> In Track Fragment do a swipe-down-refresh
-> all entries will shown deleted with message "No Tracks yet!" [ Which should not be the case, we will remove old data, only when we have new current data.
-> change to different fragment
-> revert back to Track Fragment, you will get the old data.

Solution:
Need to fix the flow at step 3.
![ezgif c

[2016-10-22 19:37] PareshMayani commented on #754
Solution #758 has also improved the performance of recyclerview by not carrying ViewHolder object having unnecessary views.

[2016-10-23 07:47] #756 closed

[2016-10-23 19:01] amitiwary999 opened #759 "Back arrow button is not working in setting activity"
Back arrow button in setting activity is not working.(Reason: R.id.home is moved to Baseactivity and in setting activity we are not extending Baseactivity)

[2016-10-23 19:02] amitiwary999 commented on #759
I would like to work on this.

[2016-10-24 07:15] #759 closed

[2016-10-24 18:10] PareshMayani opened #761 "Settings - Notification mode value"
In settings screen, it should display notification mode value with unit, whether it's minutes or hours.

[2016-10-24 19:14] top-gun007 commented on #699
is anyone working on it?

[2016-10-24 20:23] mariobehling commented on #699
@top-gun007 Go for it then :-)

[2016-10-25 04:42] #754 closed

[2016-10-25 18:05] PareshMayani opened #762 "Backdrop image issue in Tracks activity"
[code]

[2016-10-25 18:12] PareshMayani opened #763 "[Improvement] Touch (ripple) effect should be implemented for all the clickable views"
Currently there touch feedback (ripple effect) is not implemented in most of the views, but ideally it should be available at least in Button, Recyclerview items, CardView, etc.

[2016-10-25 18:32] PareshMayani opened #764 "Tools attribute should be used"
Tools attributes known as Design time layout attributes should be used, which would help us in previewing  layout design at design time.

http://tools.android.com/tips/layout-designtime-attributes

[2016-10-25 18:51] championswimmer commented on #763
I guess simply moving all activities to AppCompatActivity will do it
automatically.

On 25 October 2016 at 23:42, Paresh Mayani <notifications@github.com> wrote:

[2016-10-25 19:01] PareshMayani commented on #763
Currently all the activities are extending AppCompatActivity through BaseActivity.

[2016-10-26 02:30] the-dagger commented on #762
According to Mario, we don't want to have any image inside tracksActivity backdrop.

[2016-10-26 03:03] PareshMayani commented on #762
Thanks, will remove it and send PR.

[2016-10-26 18:20] PareshMayani commented on #762
@the-dagger Also there is a FAB icon for sharing. I think we should also share that.

[2016-10-26 19:59] the-dagger commented on #762
Yeah, moving that to toolbar was a good idea.
I had a look at that :)

[2016-10-27 03:37] PareshMayani commented on #762
Attached is the new look.
![screenshot_20161027-090613](https://cloud.githubusercontent.com/assets/888080/19753718/bdbe7380-9c24-11e6-8e7c-b4836a36a160.png)

[2016-10-27 05:36] #762 closed

[2016-10-27 05:37] #743 closed

[2016-10-27 12:23] chiragw15 commented on #755
@opticod Are you working on this?

[2016-10-27 16:33] opticod commented on #755
Not yet! Exams going! @chiragw15

[2016-10-27 20:33] chiragw15 commented on #755
@opticod can I work on this? If you don't have any problem.

[2016-10-27 20:35] opticod commented on #755
yea sure :+1: you can continue fixing it :smile:

[2016-10-28 18:16] PareshMayani opened #770 "Session detail layout needs to be revamped"
Current session detail layout/design is not up to the android standard UI/UX. It needs to be revamped to make it good looking.

[2016-10-28 19:23] amitiwary999 opened #771 "Share option not working"
Share option is not working in TracksActivity.
Reason: menu_tracks is used but menu_tracks_activity should be used in TracksActivity.

[2016-10-28 20:13] chiragw15 opened #773 "Sorting in Schedule Fragment not working"
Sorting feature in schedule fragment which sorts schedule based on start time and name , is not working.

[2016-10-29 08:52] chiragw15 opened #775 "Notification Mode in settings should display hour/mins along with time."
In settings, the Notification mode shows only time, it will be better if it shows hours/mins along with time.

![screenshot_20161029-141529](https://cloud.githubusercontent.com/assets/16978820/19828427/fdfb3e64-9de2-11e6-8525-e8304e9480dc.png)

[2016-10-30 06:19] chanakaDe commented on #554
Hi, I also have a NodeJS REST server. Created using Express. And also can be use any language. MySQL or Mongo. Can I start the backend using node js ? Can you show me some kind of Documentation or what are the data urls u need.

[2016-10-30 06:21] #775 closed

[2016-10-30 06:31] the-dagger commented on #554
@chanakaDe Hey, thanks for the initiative!
Actualy @sch00lb0y has already been working on shifting the backend to Node, so I'd suggest you two to discuss further on how can it be done 🙂
The documentations for what all files we are using is [over here](https://github.com/fossasia/open-event-android/blob/development/docs/INSTALLATION.md).

[2016-10-30 13:24] #773 closed

[2016-10-31 14:46] #755 closed

[2016-11-01 01:58] chiragw15 opened #777 "Making toolbar of sessions activity scrollable."
All toolbars except the sessions activity one, are scrollable. So, for consistency, it should also be scrollable.

![screenshot_20161101-072438](https://cloud.githubusercontent.com/assets/16978820/19877370/aaa74572-a004-11e6-9904-342d9a337f08.png)

[2016-11-01 07:05] arp95 commented on #770
i am taking up this task .

[2016-11-01 08:07] PareshMayani commented on #770
Please share design/mock-up if you have specific in mind!

[2016-11-01 08:10] PareshMayani commented on #770
This issue is created by me and assigned to me also. I will work on it and will share a PR soon. If you have any specific design/mock-up and if you can share then it would be good! Thanks

[2016-11-01 08:13] arp95 commented on #770
sure.

[2016-11-01 08:24] arp95 opened #779 "tracks layout seems odd"
It seems the way the tracks are displayed are not at all visual with the dark theme used. Its better to display them with different style.

[2016-11-01 12:49] #777 closed

[2016-11-02 06:30] arp95 opened #781 "more functionality to track_item display"
When we are displaying the track items instead of providing share option for all what we can do is provide a share option for each item as there might be a case of sharing a single item with others.
Also viewing the track_item display part on the tablet makes the search option not hide the activity title. It would be better if we hide the title not just for phones but for tablets also.

[2016-11-02 19:43] #779 closed

[2016-11-02 22:45] arp95 commented on #781
@the-dagger wouldnt it be better if we move the share button from the trackitem_display to the session detail part ?

[2016-11-03 00:52] amitiwary999 opened #782 "issue with UI of Locationactivity"
![screenshot_2016-11-03-06-12-40](https://cloud.githubusercontent.com/assets/14003244/19952775/ec57e38e-a18d-11e6-85d6-565ce427133f.png)

[2016-11-03 07:59] the-dagger commented on #781
Yeah, that makes sense.
Yo can go ahead and implement this feature if you like to 👍

[2016-11-03 08:28] arp95 commented on #781
sure. implementing it.

[2016-11-06 03:43] utkarshnath opened #786 "Collapsing toolbar"
The toolbar collapses even when the list does not have enough items to get scrolled ,so in such cases when there are on 1 or 2 item ie they don't cover the whole screen the toolbar must not collapse

[2016-11-07 12:51] #781 closed

[2016-11-07 16:57] Swati4star opened #787 "Ordering of sponsors"
Currently, the sponsors in the Android app are ordered randomly.
Shouldn't they be arranged in some order like;
diamond..platinum..gold...silver..bronze

[2016-11-07 17:17] the-dagger commented on #787
Hey,
The sponsors are indeed ordered in the order specified (diamond, platinum,
gold, silver etc) in the Android app.
Cheers.

On Monday, November 7, 2016, Swati Garg <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2016-11-07 18:27] arp95 opened #788 "showing map location of each track on session detail activity"
one more thing we can add to the session detail activity is a map icon on the action bar which will open up the maps activity showing the corresponding location.

[2016-11-07 19:01] the-dagger commented on #788
Sounds good 👍
Add that as a fab in the session details page which will take it to the corresponding location page.

[2016-11-08 02:38] Swati4star commented on #787
@the-dagger
![media-20161108](https://cloud.githubusercontent.com/assets/9164477/20084745/6e6c02b0-a58a-11e6-877c-b6167b998a54.png)

[2016-11-08 03:17] the-dagger commented on #787
Hm, my bad.
I was using the app with outdated json so the sponsors were ordered in
that.
You can go ahead and edit the json over here.

https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/sponsors

Cheers.
On Tuesday, November 8, 2016, Swati Garg <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2016-11-08 09:16] championswimmer commented on #786
@utkarshnath yes it'll be good to disable it scrolling when list is empty. please go ahead with a PR if you want to fix it

[2016-11-08 12:54] arp95 opened #791 "adding search functionality to bookmarks activity"
When we have a large number of bookmarked events its better to have searching enabled on the app bar in the bookmark activity. And also the share button doesnt hold any value in that as we already have one in session detail activity and hence its not needed.

[2016-11-08 15:00] utkarshnath commented on #786
ya sure, on it

[2016-11-09 18:38] amitiwary999 opened #792 "Issue with searchview"
if search view is open then on clicking back button search view should collapse but it closed activity.

[2016-11-09 18:38] amitiwary999 commented on #792
I would like to work on this

[2016-11-12 11:02] #787 closed

[2016-11-27 19:25] free4murad opened #793 "Double backpress to exit."
In most of the apps if the user presses back button to exit, a toast message appears which prompts the user to press back button again to exit.

I suggest implementing the same in this app

[2016-11-27 19:37] the-dagger commented on #793
Cool, go ahead.

[2016-11-28 14:08] free4murad commented on #793
@the-dagger
I have implemented the functionality locally, but when I push it onto my copy of project the Travis build is not successful.

[2016-11-28 14:19] the-dagger commented on #793
What is the error log?
Also we are not using travis anymore, we have shifted to CircleCi.
Cheers.
On Mon, Nov 28, 2016 at 7:38 PM, Murad <notifications@github.com> wrote:

[2016-11-29 18:22] free4murad opened #795 "Travis build is failing."
@the-dagger
Travis build is failing for the app. This might be because google has changed Application Binary Interface (ABI).
Can I fix it?

[2016-11-30 02:53] the-dagger commented on #795
Yeah seems like that's thr reason.
You can go ahead and edit the travis.yml to fix it.

On Tuesday, November 29, 2016, Murad <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2016-12-01 23:35] simonnarang commented on #771
I am doing the google code-in competition. I will take a look at this

[2016-12-03 03:21] rhemon opened #798 "Suggesting UI Improvments (Tested on Mobile: Samsung S5, Android:5.0)"
**First the main screen:**
**I find it kind of dull, would it be possible to add one kind of icon on the left side**
<br/>
![screenshot_2016-12-03-08-50-38](https://cloud.githubusercontent.com/assets/6615517/20856409/219a962e-b938-11e6-854e-9fd5abefb588.png)
<br/>

**Secondly, why is it showing twitter image? how is that related to OpenEvent?**
<br/>
![screenshot_2016-12-03-08-52-34](https://cloud

[2016-12-03 05:19] rhemon commented on #798
looks like sometime the image doesn't even load
![screenshot_2016-12-03-08-50-55](https://cloud.githubusercontent.com/assets/6615517/20857027/443c145c-b94a-11e6-830f-b927f505bb44.png)

Secondly another thing that I realised the top nav in Schedule, wouldn't it be nice to have each of them evenly distributed using layout_weight

[2016-12-03 12:04] jayvdb commented on #798
Wow.  Lots of reasonable UI suggestions here @rhemon .  Ideally each improvement should be a separate issue.  For your GCI task, focus on the biggest problem, and describe only that one here.

Move the other suggestions to another issue, or multiple issues, so we dont loose those other good ideas you have.

[2016-12-03 12:46] rhemon commented on #798
ok will work on it once I get back home

On Sat, 3 Dec 2016 6:05 pm John Vandenberg, <notifications@github.com>
wrote:

[2016-12-03 14:17] rhemon opened #799 "The main screen's a bit dull"
**I find it kind of dull, would it be possible to add one kind of icon on the left side**
<br/>
![screenshot_2016-12-03-08-50-38](https://cloud.githubusercontent.com/assets/6615517/20856409/219a962e-b938-11e6-854e-9fd5abefb588.png)

[2016-12-03 14:18] rhemon opened #800 "Wrong image shown"
why is it showing twitter image? how is that related to OpenEvent?**
<br/>
![screenshot_2016-12-03-08-52-34](https://cloud.githubusercontent.com/assets/6615517/20856420/72656bd8-b938-11e6-88ad-fac9bf572cf3.png)

looks like sometime the image doesn't even load
![screenshot_2016-12-03-08-50-55](https://cloud.githubusercontent.com/assets/6615517/20857027/443c145c-b94a-11e6-830f-b927f505bb44.png)

[2016-12-03 14:19] rhemon opened #801 "Sharing with messenger doesn't work"
when I try using messenger, it just opens it without any message text**
<br/>
![screenshot_2016-12-03-08-54-04](https://cloud.githubusercontent.com/assets/6615517/20856424/9493d514-b938-11e6-9046-09f708c3b950.png)
![screenshot_2016-12-03-08-54-11](https://cloud.githubusercontent.com/assets/6615517/20856425/94973d44-b938-11e6-813a-50127c6c9495.png)
![screenshot_2016-12-03-08-54-16](https://cloud.gi

[2016-12-03 14:19] rhemon opened #802 "Searching in map didn't seem to work"
whats the purpose of search? I tried that I saw in the map but it did not seem to do anything? wouldn't it be better if we just use google map to open map view, if you user doesn't have google map app it could use the browser to open google map**
<br/>
![screenshot_2016-12-03-08-56-24](https://cloud.githubusercontent.com/assets/6615517/20856446/e8a49e68-b938-11e6-9e31-2356ec450318.png)

[2016-12-03 14:20] rhemon opened #803 "Too large text doesn't look good"
Don't you think the text size is a bit too big here? Large text is good but if its too big it can ruin how it looks. I am not sure if it standard to have this large text, but according to me a regular font size of 14sp should have been fine.**
<br/>
![screenshot_2016-12-03-08-58-35](https://cloud.githubusercontent.com/assets/6615517/20856451/1dba39d2-b939-11e6-90dd-d7cd4d56e3b7.png)

[2016-12-03 14:22] rhemon opened #804 "Schedule's top nav can be improved"
I realised the top nav in Schedule, wouldn't it be nice to have each of them evenly distributed using layout_weight
![screenshot_2016-12-03-20-14-54](https://cloud.githubusercontent.com/assets/6615517/20859909/1b2a7ba2-b996-11e6-898b-c3b93a9ee601.png)

[2016-12-03 14:22] rhemon commented on #798
alright its done, so i guess I should close this

[2016-12-03 14:22] #798 closed

[2016-12-03 14:36] jayvdb commented on #798
Thanks; looks good. Could you add links here to all of your new issues?
And which one do you want to be reviewed for your GCI task?

[2016-12-03 14:37] hemantjadon commented on #802
Seems good to me 👍

[2016-12-03 17:04] vishwesh3 opened #805 "Incomplete check whether Internet is present or not"
![screenshot_20161215-221347](https://cloud.githubusercontent.com/assets/18511177/20860894/bf3c152c-b9a8-11e6-806b-52cf8f107521.jpg)
As of now App only checks whether Wifi or Mobile data is connected or not.
Some WI-FI  requires login in order to access Internet, in such condition login page should be opened.

After checking WI-FI or Mobile Data is connected ping to endpoints.
If Internet is not w

[2016-12-04 11:30] utkarshnath opened #806 "App crashes in DayScheduleFragment"
The app crashes when we toggle between the consecutive tabs of DayScheduleFragment very rapidly,
Synchronisation issues

[2016-12-04 11:43] the-dagger commented on #806
It would be better if you could attach a log of the crash too.
Cheers.

On Sun, Dec 4, 2016 at 5:00 PM, utkarshnath <notifications@github.com>
wrote:

[2016-12-04 11:55] Danki567 commented on #793
Hello, I have implemented the feature. As well as add a toast message that notifies the user, that has been translated into all languages

[2016-12-04 12:11] utkarshnath commented on #806
![screenshot from 2016-12-04 17-28-29](https://cloud.githubusercontent.com/assets/12716067/20866044/80b6a146-ba48-11e6-82c5-76e5d1d9e555.png)
The background thread is trying to access the view on the main thread after it is destroyed

[2016-12-04 12:12] vishwesh3 commented on #805
@the-dagger @mananwason Please review it.

[2016-12-05 07:13] rhemon commented on #803
I would like get assigned to solve this for my task https://codein.withgoogle.com/dashboard/task-instances/6039001716752384/

[2016-12-05 07:13] rhemon commented on #804
I would like get assigned to solve this for my task https://codein.withgoogle.com/dashboard/task-instances/6039001716752384/

[2016-12-05 10:44] #803 closed

[2016-12-05 14:24] rhemon commented on #804
this thing is achieved by doing this
[code]
![schedule](https://cloud.githubusercontent.com/assets/6615517/20888189/017ee100-bb28-11e6-8b17-b873dfbad7c8.png)

But now the problem is previously `tapMode` was set to `scrollable`. So I am not sure about actually if I should do that change (what if it was set that because some cases have more days?), so if we want it scrollable, then following materia

[2016-12-05 15:15] the-dagger commented on #804
Keep it scrollable @rhemon.
We don't want to hardcode anything.

[2016-12-05 15:16] rhemon commented on #804
ok so then I should add the 72dp gap at the beginning?

[2016-12-05 15:27] the-dagger commented on #804
Not sure why that is needed though.

Best,
Harshit Dwivedi
Contact : +919968195588
GitHub <https://github.com/the-dagger> | LinkedIn
<https://in.linkedin.com/in/hadwivedi>
Google Play <https://goo.gl/wl3loD> | Facebook
<https://www.facebook.com/daggerdwivedi>

On Mon, Dec 5, 2016 at 8:46 PM, Ridhwanul Haque <notifications@github.com>
wrote:

[2016-12-05 15:50] Abhi2424shek commented on #801
Can I work on this.

[2016-12-05 15:53] the-dagger commented on #801
Sure, go ahead.

On Mon, Dec 5, 2016 at 9:20 PM, Abishek V Ashok <notifications@github.com>
wrote:

[2016-12-05 15:54] Abhi2424shek commented on #801
Wait sir, just give me some time

[2016-12-05 17:05] rohanagarwal94 commented on #802
@rhemon there are two flavours already defined for the app- fdroid and google play. the google play flavour has the google map and the search functionality.

[2016-12-06 01:42] #804 closed

[2016-12-06 02:14] rhemon opened #813 "Location cards not following Material Desing"
According to material design cards are supposed to have a padding of 8dp, where presently its 16dp.

[2016-12-06 02:23] rhemon commented on #800
would like to work on this, but I am not sure what image to give in the image. is there any openevent logo? or do we give fossasia's logo there?

[2016-12-06 02:35] mariobehling commented on #800
The logo shown here should be the one defined in the event.json that is used to generate this app.

[2016-12-06 02:37] #813 closed

[2016-12-06 02:48] rhemon commented on #800
wait is the logo here shown because of the event, so it will change based on event? if thats the case I dont think we need to do any change here, it should be fine as it is, right?

[2016-12-06 02:49] the-dagger commented on #800
Yes, it should be fine as it is.
Cheers.

On Tuesday, December 6, 2016, Ridhwanul Haque <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2016-12-06 02:51] #800 closed

[2016-12-06 18:37] sinchanmaitri commented on #752
I'm submitting a Pull request on the development branch for my changes. Kindly review it.

[2016-12-07 05:49] #793 closed

[2016-12-07 08:56] vishwesh3 commented on #805
Created PR #815. @the-dagger  Please have a look on it.

[2016-12-07 11:44] the-dagger commented on #805
Please check my comments on it.
Also the travis check is failing.

[2016-12-07 18:29] arp95 opened #819 "Adding bookmark functionality"
While displaying the tracks in a card view we can add the bookmark icon on the lowermost corner of the card view which can be useful to mark the items to be bookmarked instead of opening the track and then bookmarking it.

[2016-12-08 03:44] rhemon opened #821 "Add Bangla localization for the app"
I would like to add bangla(bengali)  localization support for the app. If its ok please assign this to me.

[2016-12-08 03:52] the-dagger commented on #821
Cool, go ahead.​

[2016-12-08 05:31] arp95 commented on #819
@the-dagger should i move fwd?
![15398848_10209851505438783_418371874_o](https://cloud.githubusercontent.com/assets/8268392/20998684/a7abb17a-bd35-11e6-895f-87ce023e0bd2.jpg)

[2016-12-08 07:28] mariobehling commented on #819
If that can be implemented without an additional signup/accounting process, it sounds good to me.

[2016-12-08 08:34] vishwesh3 commented on #805
@the-dagger Create PR #820. Please have a look on it.

[2016-12-08 11:50] arp95 commented on #819
@mariobehling any ideas over this?
I am having difficulties in maintaining the bookmark status .

[2016-12-08 17:30] #819 closed

[2016-12-08 17:30] #821 closed

[2016-12-09 12:00] pipix51 opened #826 "Grammar Errors in Documentation"
I found some errors in grammar in the ReadMe.md of the repository, at the Android App and App Generator section.

[2016-12-09 12:15] #826 closed

[2016-12-10 02:54] #795 closed

[2016-12-10 02:54] #734 closed

[2016-12-10 02:55] #782 closed

[2016-12-10 14:47] vishwesh3 commented on #805
Thanks

[2016-12-10 14:47] #805 closed

[2016-12-10 19:13] rohanagarwal94 opened #828 "Custom language select in user settings"
Since the app is thinking of having regional language too, it would be better to have selection of language in the user settings to change it if he wants. @the-dagger please assign me this.

[2016-12-11 04:04] adarsh-ideal opened #830 "App crashes when tapped on map."
When tapped map in the menu, it crashes saying  "Unfortunately openevent has stopped", it's kind of               weird.

[2016-12-11 04:06] adarsh-ideal commented on #830
![screenshot_20161211-091744](https://cloud.githubusercontent.com/assets/12227945/21078002/423d9b44-bf85-11e6-9129-63bb245c34ae.png)
![screenshot_20161211-091729](https://cloud.githubusercontent.com/assets/12227945/21078003/423f1b86-bf85-11e6-91ed-5bf217a99a2e.png)

[2016-12-11 10:09] vishwesh3 opened #831 "ProgressBar overlap list"
**Observed Behaviour**
ProgressBar overlap list in **TracksFragment**,  **BookmarksFragment**, **ScheduleFragment**, **SpeakerListFragment**, **SponsorsFragment**.

**Screenshots**

![screenshot_20161215-215812](https://cloud.githubusercontent.com/assets/18511177/21079400/1cdbb264-bfb7-11e6-9c86-e57bdb5eb3e9.jpg)

![screenshot_20161212-152643](https://cloud.githubusercontent.com/assets/18511177/21

[2016-12-11 11:04] mariobehling commented on #828
Please use the phone settings instead of having a separate implementation in the app.

[2016-12-11 15:24] rohanagarwal94 opened #833 "Map fragment does not show anything."
![screenshot_2016-12-11-20-46-45-958_org fossasia openevent](https://cloud.githubusercontent.com/assets/13241256/21081043/f282b8f0-bfe3-11e6-90b6-533639b2534a.png)

[2016-12-11 17:37] arp95 commented on #830
it has to be some fault from your end. Works fine for me.

[2016-12-11 18:24] arp95 opened #834 "Syncing the sessions"
We can sync the sessions with google calender to notify the user 24 hrs earlier about the event taking place.

[2016-12-12 05:35] #834 closed

[2016-12-13 14:11] DShenandoah opened #837 "Error HTTP Error:500"
Whenever the app is opened in the Android handset I get the "Error HTTP Error:500".
![screenshot_2016-12-13-19-37-35](https://cloud.githubusercontent.com/assets/24546612/21143306/235684dc-c16c-11e6-90f0-d1b879ec46df.png)

[2016-12-13 14:21] DShenandoah opened #838 "Settings: API Mode -> Chosen option User or Developer is not registered and notified."
Settings: API Mode -> Chosen option User or Developer is not registered and notified.
![screenshot_2016-12-13-19-45-00](https://cloud.githubusercontent.com/assets/24546612/21143632/6f3f0350-c16d-11e6-81fb-95aff6038720.png)

[2016-12-13 14:25] DShenandoah opened #839 "Clicking Map - Throws Error - "Unfortunately, FOSSASIA 16 has stopped."
Clicking Map - Throws Error - "Unfortunately, FOSSASIA 16 has stopped.
![screenshot_2016-12-13-19-52-57](https://cloud.githubusercontent.com/assets/24546612/21143799/112aee90-c16e-11e6-84c9-024567aabbb5.png)

[2016-12-13 14:32] DShenandoah opened #840 "Any option chosen in Tracks -> Does not come back to home screen, but closes the app."
Any option chosen in Tracks -> Does not come back to home screen, but closes the app.
-> Bookmark - It says no bookmark, but pressing OK, for this error, closes the app, instead returning to Track screen.
-> For other options, nothing is displayed, pressing back, closes app, instead of returning
![screenshot_2016-12-13-19-58-21](https://cloud.githubusercontent.com/assets/24546612/21144030/19f212aa

[2016-12-13 14:47] DShenandoah opened #841 "Sharing URL Option - Options to be grouped together"
Sharing URL Option - Options to be grouped together -
Eg. Yahoo Mail, Gmail have to be grouped together.
![screenshot_2016-12-13-20-15-38](https://cloud.githubusercontent.com/assets/24546612/21144551/22d2037e-c171-11e6-92d8-c1204c5264a5.png)

[2016-12-13 14:56] DShenandoah opened #842 "Notification Mode: Chosen value should be displayed for 2 seconds"
Notification Mode: Chosen value should be displayed for a 2 seconds. Now it is disappearing immediately and if the option is recorded or not, is not known, until Notification Mode option is chosen again.
![screenshot_2016-12-13-20-23-09](https://cloud.githubusercontent.com/assets/24546612/21144903/668e5f30-c172-11e6-85f1-d58369f40ae6.png)

[2016-12-13 17:24] arp95 opened #843 "Improvement in the UI"
Improvement in the UI of the locations and tracks activity.

[2016-12-14 08:19] utkarshnath opened #845 "Order of sessions in Schedule Fragment"
The sessions in each tab of the Schedule Fragment should be in sorted order in accordance with their starting time

[2016-12-14 20:04] #786 closed

[2016-12-14 20:05] #806 closed

[2016-12-14 20:07] #771 closed

[2016-12-14 20:07] #830 closed

[2016-12-14 20:07] #837 closed

[2016-12-14 20:09] the-dagger commented on #841
Not sure what you mean by this.
Could you post a screenshot of what sharing via the app looks like and how you expect it to look like?

[2016-12-14 20:09] the-dagger commented on #839
Can you post a crash log?

[2016-12-14 20:10] the-dagger commented on #837
Works fine over here.
Probably an issue with internet connectivity?

[2016-12-14 20:18] the-dagger commented on #840
I'm unable to reproduce this.
Pressing back button takes me to the default screen.
Could you please make sure if you are using the compiled app from this repository and not the app which is on **Google Play Store** because that it very outdated.

[2016-12-14 21:02] rohanagarwal94 commented on #833
@the-dagger anything to do with this.

[2016-12-14 21:16] rohanagarwal94 opened #847 "App crashes when the tracks fragment is swiperefreshed in no Internet state"
@the-dagger please assign me this.
![screenshot from 2016-12-15 02-43-30](https://cloud.githubusercontent.com/assets/13241256/21201316/903e4e68-c270-11e6-9cca-53e433bdef38.png)

[2016-12-15 04:53] the-dagger commented on #847
Cool, go ahead.

[2016-12-15 05:14] #843 closed

[2016-12-15 05:14] #828 closed

[2016-12-15 05:14] #799 closed

[2016-12-15 06:23] arp95 opened #848 "Improvement in the tablet UI"
For the location activity there seems to be a lot of white space when viewed in tablet. I think using a grid layout would be feasable.
![15540452_10209939277313025_1373822945_o](https://cloud.githubusercontent.com/assets/8268392/21213819/04773168-c2bd-11e6-8b52-72646d20c1a9.jpg)

[2016-12-15 06:39] utkarshnath opened #849 "App crashes whenever refreshed"
The app crashes whenever it is refreshed in no InternetState in all fragments.
@the-dagger  please assign all other fragments other than tracks fragment to me

<img width="1280" alt="screen shot 2016-12-15 at 11 57 44 am" src="https://cloud.githubusercontent.com/assets/12716067/21214073/7c721114-c2be-11e6-9866-ba543087acfe.png">
<img width="1280" alt="screen shot 2016-12-15 at 11 58 17 am" src="ht

[2016-12-15 07:26] #845 closed

[2016-12-15 07:26] arp95 commented on #849
@utkarshnath didnt happen to me. it simply displays a snackbar displaying no internet available.

[2016-12-15 08:09] utkarshnath commented on #849
@arp95 for me app crashes in all fragment except location fragment.When internet is not present in that condition the snackbar is not intitalized,thus null pointer exception

[2016-12-15 08:26] arp95 commented on #849
@utkarshnath didnt check all the fragments. btw only speaker one showed a crash for me while all worked.

[2016-12-15 15:14] kaine119 opened #850 "Improvement of mobile UI"
Coming from [this GCI task](https://codein.withgoogle.com/dashboard/task-instances/4686604041977856/)

I'd like to work on the following points:
* Tracks
	- Reduce each item from two lines to one, or replace second line with additional information; currently the title is repeated
	- Expand scrolling view to fill whole screen
* Schedule
	- Arrange events by time
	- Change color of tab selector bar

[2016-12-15 15:20] the-dagger commented on #850
Hey,
Thanks for contributing to the open event android app.
You are totally welcome to work on these issues, but I have one suggestion.
Instead of creating a single issue please create a separate issue for each topic (tracks, schedule, location, etc) .

[2016-12-16 01:22] DShenandoah commented on #842
I did not know that I have to use .apk file from https://github.com/fossasia/open-event-android/tree/development/sample-apk. After installing the app using this .apk file, instead of Google Play store, the issue is not replicated there.

[2016-12-16 01:22] #842 closed

[2016-12-16 01:23] DShenandoah commented on #841
Screenshot is attached. Example YahooMail and Gmail options above in the screenshot shared, are not together. If grouping is done, it will be much more user friendly.

[2016-12-16 01:24] DShenandoah commented on #840
I did not know that I have to use .apk file from https://github.com/fossasia/open-event-android/tree/development/sample-apk. After installing the app using this .apk file, instead of Google Play store, the issue is not replicated there.

[2016-12-16 01:24] #840 closed

[2016-12-16 01:24] DShenandoah commented on #839
I did not know that I have to use .apk file from https://github.com/fossasia/open-event-android/tree/development/sample-apk. After installing the app using this .apk file, instead of Google Play store, the issue is not replicated there.

[2016-12-16 01:24] #839 closed

[2016-12-16 01:25] DShenandoah commented on #838
I did not know that I have to use .apk file from https://github.com/fossasia/open-event-android/tree/development/sample-apk. After installing the app using this .apk file, instead of Google Play store, the issue is not replicated there.

[2016-12-16 01:25] #838 closed

[2016-12-16 01:39] DShenandoah opened #852 "Date and timezone [EST / IST] has to be mentioned. Just Day-x and time are displayed now."
Schedule -> For an event,  Date and timezone [EST / IST] has to be mentioned. Just Day-x and time are displayed now. Hence, it may be confusing for many and may not remember date and day mapping.
![index](https://cloud.githubusercontent.com/assets/24546612/21248655/832f3112-c35e-11e6-8e4f-0e38ac41d9a8.jpg)

[2016-12-16 01:45] DShenandoah opened #853 "Speakers should be grouped for the chosen track & LinkedIn link"
If I would like to know Speakers on my chosen Track, it is not so easy. Rather, it would help, if for the chosen track, if I get Speakers on this track, it will be helpful. And also, if their LinkedIn profile link is shared, it will be easy to know their complete profile. We can introduce this an option in the speaker bio.

[2016-12-16 01:54] DShenandoah opened #854 "Selected Tracks / Schedule should only be downloaded"
Now there are so many mixed tracks and schedules available. By default all events in the app are downloaded. It may be confusing and irrelevant. Can we give an option to download only events of user interest to be downloaded. I dont need to have remaining tracks / schedules in my App.

[2016-12-16 02:17] kaine119 commented on #850
Alright, then I'll mark this issue as closed for now

[2016-12-16 02:17] #850 closed

[2016-12-16 02:21] kaine119 opened #855 "Enhance tracks ui"
Coming from [this GCI task](https://codein.withgoogle.com/dashboard/task-instances/4686604041977856/) and earlier issue #850

Changes:
* TracksActivity:
	- [x] ~~Replace `SessionDetailActivity` with a [persistent bottom sheet](https://material.io/guidelines/components/bottom-sheets.html#bottom-sheets-persistent-bottom-sheets) (implementation from [design support library](https://code.tutsplus.com/

[2016-12-16 14:40] rohanagarwal94 opened #858 "Integrate Fabric.io for crash reporting"
@the-dagger @mariobehling I was thinking of implementing fabric.io for crash reporting. Thoughts on this?

[2016-12-16 14:50] adarsh-ideal opened #859 "Add Marathi localization support"
Hello! I would like to add Marathi (language) localization support for this app. If I can do that, please assign me..

[2016-12-16 15:00] utkarshnath opened #860 "Location Activity menu"
the share icon in locationActivity is not working ,though it doesn't seem usefull to me here. Do you want me to make it working or simply remove it, and further share button in bookmark fragment doesn't seem usefull

[2016-12-16 17:22] kaine119 commented on #855
I'm done! PR: #861

I realise that the "bookmark button" on Track cards is acting more like a status indicator currently, and there already is description text implemented, just not in the sample data.

[2016-12-17 06:56] #847 closed

[2016-12-17 06:56] #848 closed

[2016-12-17 15:55] arp95 opened #863 "Improvement in the tracks ui"
In the tablet view of track activity the ui has a lot of white space.

[2016-12-17 18:09] #849 closed

[2016-12-18 02:28] adarsh-ideal commented on #859
I think this issue is fixed now.
The pull request is merged https://github.com/fossasia/open-event-android/pull/862
We can close this now.

[2016-12-18 13:57] DShenandoah opened #865 "Title row is invisible and moves along with list"
When we select Tracks, Speakers or Sponsors or Locations and scroll the listed entries, full page is moving and title / option chosen to list does not freeze. Again we have to scroll down to get to the tile or menu. Only in Schedule title row stays, but just Day1 Day2 Day3 is visible / frozen and still Schedule or menu options are invisible. We have to literally scroll up again to reach the title

[2016-12-18 14:08] DShenandoah commented on #802
Yes, if the location co-ordinates are passed on to Google Maps it will help in further features like driving directions to the location, etc. It should be feasible to close Google Maps and return to the Events app.

[2016-12-18 16:00] #863 closed

[2016-12-18 16:00] #859 closed

[2016-12-18 17:18] mananwason commented on #860
@utkarshnath Please go ahead and make it work.

Thanks

[2016-12-18 17:21] mananwason commented on #858
@rohanagarwal94 Since this app's primary motive is to be used by the generator for making apps for different orgs, setting up fabric might not be possible and frankly not required according to me. Instead we need more test coverage. Please feel free to work on that.

Thanks

[2016-12-18 17:22] #858 closed

[2016-12-18 17:25] mananwason commented on #854
The user has the ability to choose talks he'd like to be a part of and bookmark them. So, I don't see a need for this. Let me know if you think otherwise and why?

[2016-12-18 17:25] #854 closed

[2016-12-18 17:26] mananwason commented on #853
Do you mean that you want to open their LinkedIn profile? I believe that's already been done. Isn't it?

[2016-12-18 17:29] mananwason commented on #852
Go ahead and implement the day thing but time zone isn't required as there's a setting to set the time zone. Be careful while changing the implementation for days as it's dynamic currently based on what the generator data specifies.  Thanks

[2016-12-18 17:30] mananwason commented on #841
Still not sure. Please create a fix and add a screenshot, then we'll see

[2016-12-18 17:32] mananwason commented on #831
@vishwesh3 Go ahead and work on this please. Thanks

[2016-12-18 17:34] mananwason commented on #801
Status @Abhi2424shek ?

[2016-12-18 17:38] mananwason commented on #791
Go ahead

[2016-12-18 17:38] mananwason commented on #788
Status?

[2016-12-18 17:39] mananwason commented on #792
Sure go ahead!

[2016-12-18 17:39] mananwason commented on #802
I guess we can remove search from f droid or if anyone would like to work on it, go ahead. Do inform here first

[2016-12-18 17:40] mananwason commented on #770
@PareshMayani @arp95 Any updates?

[2016-12-18 18:19] utkarshnath commented on #860
@mananwason but what should I share, In the locationActivity no specific track is selected.
Isn't the case here is similar to tracksActivity and there is no share button.

[2016-12-19 00:23] Elgayar commented on #696
PR to solve this issue: #866

[2016-12-19 04:45] arp95 commented on #788
the task is completed and is merged. Closing the issue.

[2016-12-19 04:45] #788 closed

[2016-12-19 14:05] utkarshnath opened #868 "Improvement in Splash screen"
Currently splash screen waits for 1 sec and then all background works starts, thus we see a blank screen for some seconds before we could see the actual app.
I would suggest implementing splash screen such that it is seen by the user until the background data is loaded and there should be no blank screen in between.

[2016-12-19 15:21] DShenandoah commented on #865
Screenshots:
![tracks](https://cloud.githubusercontent.com/assets/24546612/21317783/a0c3bb78-c62c-11e6-9cbe-f38df696cc56.jpg)
![speakers](https://cloud.githubusercontent.com/assets/24546612/21317784/a0c856d8-c62c-11e6-876f-d9cf84abf066.jpg)
![locations](https://cloud.githubusercontent.com/assets/24546612/21317785/a0ce0024-c62c-11e6-888a-b7d2c67c3c66.jpg)
![sponsor](https://cloud.githubusercontent.

[2016-12-19 15:23] DShenandoah commented on #853
It is not just adding LinkedIn profile, which is not yet there. Besides, When Speakers' option is chosen all speakers on the app are listed and I have to navigate to speakers connected to the track of my interest. Which is not user friendly. Please refer screenshot.
![speakers](https://cloud.githubusercontent.com/assets/24546612/21317928/2df5925a-c62d-11e6-83f3-6c29f758bc48.jpg)

[2016-12-19 15:25] DShenandoah commented on #852
Thank you. It has to be picked up by some one. I had volunteered to test and share my feedback only. I am a XI class student.

[2016-12-19 15:27] DShenandoah commented on #841
In the list, all related items have to be grouped together. Viz. All emails together - Yahoo, Gmail should be listed next to each other.

[2016-12-19 15:35] DShenandoah commented on #854
I beg to differ, still. If the app downloads 100s of tracks, I am interested only a couple of them, App need not download rest of the tracks' schedule, speakers, etc. I think that is optimised and best feature. Rather than downloading all tasks and related things like schedule and speakers. As an user, this does not impress me. Sorry. Thank you.

[2016-12-19 15:44] the-dagger commented on #854
I get your point, but the thing is that all tracks combined are roughly few
kilobytes, so implementing what you are suggesting is an overhead work
 which makes little sense, specially for an event app.

[2016-12-19 15:59] rohanagarwal94 opened #870 "Track number of people going to a particular event."
I was thinking whether there was any way possible to track the number of people going to a particular event. So for a particular session we could include a checkbox, which would enable a user to mark whether he is going to the event. @the-dagger and @mananwason any thoughts and a way we could implement this?

[2016-12-19 16:13] mananwason commented on #854
@DShenandoah The data used isn't that much and for people who don't want to download, we offer data using offline json as well. Anyways to know the tracks you're interested in, you will most probably have to see the description of talks in these tracks as well as the kinds of sessions these tracks are offering.

[2016-12-19 16:16] mariobehling commented on #870
@rohanagarwal94 good idea. These kind of features should be implemented in the server first. Then we can make them work in android and web app together.

[2016-12-19 16:16] mananwason commented on #870
Yes there is a possibility of implementing this feature using the tracks that have been bookmarked by a user(which shows that he's interested) but changes will have to be made to the server as well. So, I guess you can start working on this by creating an issue in the server repo. Cheers!

[2016-12-19 16:18] rohanagarwal94 commented on #870
Cool, would love to work on this once the server side of the issue gets implemented. Cheers.

[2016-12-19 16:19] mananwason commented on #841
Please go ahead and work on this 👍

[2016-12-19 16:20] mananwason commented on #852
Okay great but whose working this? Can you point me to the similar issue? Thanks!

[2016-12-19 16:22] mananwason commented on #853
What solution do you propose?

[2016-12-19 16:26] rohanagarwal94 commented on #870
Sure!

[2016-12-19 16:28] mananwason commented on #865
As far as I understand, you mean that when we scroll the toolbar is hidden. If yes, that's an intended thing. Most of the design on apps today follow this. Actually this is far more usable, especially on mobile device. Refer to [This](http://ux.stackexchange.com/questions/57990/how-usable-are-bars-that-disappear-reappear-on-scroll).

[2016-12-19 16:41] vishwesh3 commented on #831
@mananwason created PR #867 . Please have a look on it.

[2016-12-19 17:07] DShenandoah commented on #865
Ok. I got you. This helped me to understand emerging trend in saving precious real estate on the phone device.
Thank you and best wishes ...

[2016-12-19 17:07] #865 closed

[2016-12-19 17:16] DShenandoah commented on #853
For whatever track is chosen at the beginning, only related things like Speakers, locations, etc., should be shown.

[2016-12-19 17:17] DShenandoah commented on #841
Thank you. It has to be picked up by some one. I had volunteered to test and share my feedback only. I am a XI class student.

[2016-12-19 17:24] mananwason commented on #841
Thanks for creating the issue. I'm not sure if this can be done. I thought you have a way of implementing this. So, closing this for now.

[2016-12-19 17:24] #841 closed

[2016-12-19 17:29] mananwason commented on #853
What do you mean by beginning? Are you talking about when we select a track from the tracks list?

[2016-12-19 19:14] arp95 opened #871 "App not running"
While running the app, the app crashes and gives this error:

java.lang.IndexOutOfBoundsException: Invalid index 3, size is 3
                                                                            at   java.util.ArrayList.throwIndexOutOfBoundsException(ArrayList.java:255)
                                                                            at java.util.ArrayList.get(ArrayList.java:308)

[2016-12-20 01:17] DShenandoah commented on #853
Yes, that is right.

[2016-12-20 03:58] AlabhyaVaibhav commented on #868
@utkarshnath i would like to work on this issue

[2016-12-20 04:12] mananwason commented on #871
Can you list the steps to reproduce this?

On Tue 20 Dec, 2016, 12:44 AM Arpit Aggarwal, <notifications@github.com>
wrote:

--
*Regards,*
*Manan Wason*
*4th year, B.tech - CSE*
*Indraprastha Institute of Inf. Tech. (IIIT) Delhi*
*Okhla, Phase-III, New Delhi-110020, INDIA*
*Website: www.mananwason.me <http://www.mananwason.me/>*

[2016-12-20 04:23] arp95 commented on #871
@mananwason i am not able to run the app asim gettig this in the start itself  . Dunno why it is occuring .

[2016-12-20 04:53] utkarshnath commented on #868
@AlabhyaVaibhav I have already resolved this issue #869

[2016-12-20 04:55] AlabhyaVaibhav commented on #868
Oh.. cool is there anything else i could work upon ?

[2016-12-20 06:38] arp95 commented on #871
There was some fault from my end. Solved.

[2016-12-20 06:38] #871 closed

[2016-12-20 06:41] arp95 opened #872 "Improvement in the location Activity layout"
On larger screens or landscape view its better to avoid the white space by using a grid layout.

[2016-12-20 09:23] piyush0 opened #874 "Improvement: Searching speakers based on Organisation and Country."
I would like to work on this.

[2016-12-20 09:27] championswimmer commented on #874
Sure, @piyush0 , that sounds like a good feature to be implemented

[2016-12-20 10:06] arp95 opened #876 "Suggestion on Maps Activity"
Right now we are using google maps integrated within the app to show the location but i dont think its needed because someone who has our app installed would eventually use google maps to reach the destination.
What i think is we can create a block map where we use pins to show which part of building belongs to which.

@the-dagger @mariobehling any suggestions ?

[2016-12-20 12:33] DShenandoah commented on #852
I am searching, but unable to share with you a similar issue. Will revert back to you soon.

[2016-12-20 20:37] piyush0 opened #879 "Improvement in the UI of 'Add to Calendar' Button."
I would like to work on this UI improvement.

[2016-12-20 21:24] sanchittechnogeek opened #880 "Add the Fossasia logo or users profile page instead of twitter logo"
- Add the Fossasia logo or users profile page instead of twitter logo

![add logo](https://cloud.githubusercontent.com/assets/15964833/21368488/cc31e242-c728-11e6-9a29-87343a8b694e.jpg)

[2016-12-21 00:11] #855 closed

[2016-12-21 15:25] #874 closed

[2016-12-21 15:27] #872 closed

[2016-12-21 15:27] #696 closed

[2016-12-21 15:30] #868 closed

[2016-12-21 15:35] #860 closed

[2016-12-21 17:22] SrijanJha28 opened #881 "Suggestion on Refreshing the app and adding some features to the map"
When we refresh our app it hangs the phone which should be changed.
![hang](https://cloud.githubusercontent.com/assets/23082496/21415668/759efca2-c832-11e6-9d32-e2a8e1106d53.png)

And the map should be improved like the Google maps where we could pin the location and find the route from our current place to that place

[2016-12-21 17:22] Satyam26 commented on #880
Hi i am beginner and i think this issue is good for getting started. Can i work on this issue?

[2016-12-21 17:38] sanchittechnogeek commented on #880
@Satyam26 sure you can work on this issue!

[2016-12-21 18:13] arp95 opened #882 "Improvement in the tracks activity ui"
Cutting off the white space in the tracks activity ui when viewed on tablet or landscape view on any device.

[2016-12-21 18:22] the-dagger commented on #882
Closing this as it was already done in #864

[2016-12-21 18:22] #882 closed

[2016-12-21 18:26] arp95 commented on #882
@the-dagger please check the pull request. i am referring to the different activity.

[2016-12-21 19:55] nolik2000 opened #884 "Doubling of contacts"
After that, I have installed the program some contacts in my phone have doubled. Take a look screenshots below.

![screenshot_2016-12-21-14-19-43-008](https://cloud.githubusercontent.com/assets/16518309/21404100/49a74dd0-c7c8-11e6-91b2-96cea5d1190f.jpeg)
![screenshot_2016-12-21-14-19-48-119](https://cloud.githubusercontent.com/assets/16518309/21404101/49a83fe2-c7c8-11e6-840b-18df7ef32892.jpeg)
![s

[2016-12-21 19:59] nolik2000 opened #885 "Free space"
Free space in the top of the menu
![screenshot_2016-12-21-14-05-11-079](https://cloud.githubusercontent.com/assets/16518309/21404198/b615b466-c7c8-11e6-8a24-3a27b526a4c8.jpeg)

[2016-12-21 20:41] mananwason commented on #884
@nolik2000 This has nothing to do with the app. We aren't even reading the contacts anywhere. Please check again

[2016-12-21 20:42] mananwason commented on #885
That is for the logo of the app and last I checked a logo did load up there if it is specified in json, so not a valid issue for now.

[2016-12-21 20:49] mananwason commented on #876
@arp95 Good idea but since this is an app that will be used by many events via the generator, it is not possible to restrict it to a single map. We need something more flexible and generic which can be built on runtime using a set of latlngs. If you have a suggestion, please let us know. Thanks!

[2016-12-22 00:53] FieryPhoenix909 opened #886 "Keyboard Issue"
![screenshot_2016-12-21-19-54-45](https://cloud.githubusercontent.com/assets/23224432/21411634/ec7ebeb4-c7b7-11e6-9e7d-dcf384ec501b.png)

When I go to the Speakers tab and click the small magnifying glass to search, and then hit enter on the keyboard, the keyboard stays there even if I click on a another tab.

[2016-12-22 07:02] GabrielLee22 opened #887 "Speaker's name should be included in session card"
Speaker's name should be included in session/talk/workshop card so that users will have a better idea on who is giving the talk. Speaker's organisation could also be included in the cards.

![screenshot_2016-12-22-14-54-39](https://cloud.githubusercontent.com/assets/9492662/21417620/d3129604-c856-11e6-9942-a28bae5c9dd6.png)

[2016-12-22 07:15] GabrielLee22 commented on #887
This is especially relevant in cases where the abstract are written by the speaker himself/herself, and where words such as 'I' are used. It would seem weird if the speaker name is not included.

[2016-12-22 07:25] the-dagger commented on #887
You can go ahead and work on it if you'd like to.​

[2016-12-22 07:46] GabrielLee22 commented on #887
I would like to give beginners a chance to work on this issue as it does not seem too difficult.

[2016-12-22 08:25] nolik2000 opened #888 "The new feature by adding an opportunity to contact with a speaker or ask him/her any question"
It will be cool to create the feature in the 'speakers' section which will be allowed to contact with the speaker on the Internet, to receive some bits of advice  or ask something

![screenshot_2016-12-21-14-09-15-304](https://cloud.githubusercontent.com/assets/16518309/21419519/c98be002-c830-11e6-856f-a140433f2bd6.jpeg)
![screenshot_2016-12-21-14-09-25-745](https://cloud.githubusercontent.com/ass

[2016-12-22 10:41] arp95 opened #889 "Improvement in the bookmarks fragment"
Replacing linear layout with grid layout to cut off the white space when app is viewed on tablet

[2016-12-22 16:22] Satyam26 commented on #880
@sanchittechnogeek I have changed the twitter logo to fossasia logo and also changed the background.Does this look good?

[2016-12-22 16:57] sanchittechnogeek commented on #880
@Satyam26 please add a screenshot!

[2016-12-22 18:12] Rishabhk07 commented on #887
hey. can i work on this ?

[2016-12-22 18:14] GabrielLee22 commented on #887
Yup, sure, go ahead!

[2016-12-22 18:43] Satyam26 commented on #880
![screenshot_2016-12-22-23-58-17 1](https://cloud.githubusercontent.com/assets/9937007/21436450/86ce1324-c8a4-11e6-8193-5ace457207e3.jpg)

[2016-12-22 18:45] Satyam26 commented on #880
@sanchittechnogeek here is screenshot

[2016-12-22 18:54] sanchittechnogeek commented on #880
@Satyam26 Nice work!, now create a pull request :)

[2016-12-22 18:56] Satyam26 commented on #880
I have created the pull request with tag 'fixed issue #880'

[2016-12-23 03:08] #879 closed

[2016-12-23 07:57] Rishabhk07 commented on #887
is this okay or should i make some style changes( like reducing padding on left )?

![screenshot_20161223-130549 1](https://cloud.githubusercontent.com/assets/8939938/21449283/af299ef2-c911-11e6-8fcc-a4f7ce330f25.png)

[2016-12-23 07:59] tarsdev opened #893 "Improvement in Zoom In and Zoom Out function of Map"
When we open map from map option from phones that do not have physical buttons the zoom in and zoom out function comes back of on-screen navigation buttons and we cannot use zoom buttons because it is back of navigation.
1.
![capture _2016-12-23-10-53-26](https://cloud.githubusercontent.com/assets/24253823/21449389/a8647514-c912-11e6-9a08-faa6a1494d82.png)
2.
![capture _2016-12-23-11-00-01](https:

[2016-12-23 08:37] the-dagger commented on #887
Looks ok fir now, but can you make sure if your fork is up to date?
Because there were some UI changes made to the SessionDetail page iirc.
​Also, I believe Adding some sort of separator would be a good idea to
separate the speaker section.

[2016-12-23 08:39] the-dagger commented on #893
You can go ahead and work on it if you like. 👍

[2016-12-23 09:08] Rishabhk07 commented on #887
my fork says "This branch is even with fossasia:master"

[2016-12-23 09:10] the-dagger commented on #887
It should be even with fossasia:development as all the work is done on the
dev branch for this project.

[2016-12-23 10:04] Rishabhk07 commented on #887
oh i am sorry, will do it. Thanks :)

[2016-12-23 11:12] Rishabhk07 commented on #887
out of two which one looks better ?

![screenshot_20161223-162159](https://cloud.githubusercontent.com/assets/8939938/21452491/3a7a8050-c92d-11e6-919e-1c2a62de912c.png | 250x250)
![screenshot_20161223-162503](https://cloud.githubusercontent.com/assets/8939938/21452503/48989e74-c92d-11e6-809e-799de17ded1c.png)

[2016-12-23 11:49] the-dagger commented on #887
https://cloud.githubusercontent.com/assets/8939938/21452491/3a7a8050-c92d-11e6-919e-1c2a62de912c.png

This one looks good.

On Friday, December 23, 2016, Rishabh Khanna <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2016-12-23 13:36] Rishabhk07 commented on #887
cool. should i send PR now ?

[2016-12-23 13:40] the-dagger commented on #887
Yep

On Friday, December 23, 2016, Rishabh Khanna <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2016-12-23 14:41] Rishabhk07 commented on #887
Thanks for the help @the-dagger, i have sent the PR.

[2016-12-23 15:43] sm86 commented on #688
Is the issue closed? @rohanagarwal94

[2016-12-23 15:52] mananwason commented on #888
@nolik2000 Good Idea actually. Initially we did plan to make something like this. We wanted to have live questions, i.e. when the talk is going on.

[2016-12-23 15:52] mananwason commented on #889
Sure Go ahead 👍

[2016-12-23 15:53] mananwason commented on #889
Sure Go ahead but it would be better to have linear layout on smaller to mid screen devices and Grid Layout on tablets.

[2016-12-23 15:56] mananwason commented on #886
Please go ahead 👍

[2016-12-23 15:56] #885 closed

[2016-12-23 15:57] #884 closed

[2016-12-23 16:11] arp95 commented on #889
@mananwason actually this issue is solved and merged.
and the thing you were referring to is absolutely right. thats why i am using a gridlayout on the basis of screen width so that the amount of items in a single row ie the spancount can be auto adjusted.
Hope the code makes sense.

//setting the grid layout to cut-off white space in tablet view
        DisplayMetrics displayMetrics = this.getRes

[2016-12-23 16:18] mananwason commented on #881
Can you be specific about the error? This is working fine for me

[2016-12-23 16:26] mananwason commented on #889
Cool then. I'm closing this issue!

[2016-12-23 16:26] #889 closed

[2016-12-23 17:59] arp95 opened #895 "Change in LocationActivity class code"
The main issue is when we put the entire adapter code in onCreate() method then the bookmark status gets updated only when onCreate() is called again.
To ensure the bookmark status is properly updated in other cases the code has to be moved from onCreate() to onStart() method.

[2016-12-23 20:05] SrijanJha28 commented on #881
I am using an Android phone with lollipop 5.1 and when I refresh the track it stops working and hangs my phone

[2016-12-23 21:48] rohanagarwal94 commented on #833
@mananwason @the-dagger any update on this? This is the google maps flavour.

[2016-12-24 06:56] the-dagger commented on #881
I'd suggest you to post the error log so that we are able to debug it.

[2016-12-24 06:56] the-dagger commented on #833
@rohanagarwal94 are there any error logs in the logcat?

[2016-12-24 14:45] utkarshnath opened #897 "unnecessary spaces in list of tracks should be removed"
the screen currently looks clumsy and has unnecessary spaces in between

![screenshot_20161224-190607](https://cloud.githubusercontent.com/assets/12716067/21467471/1cdca26a-ca15-11e6-8193-bfd075e9d356.png)

[2016-12-24 16:10] rohanagarwal94 commented on #833
@the-dagger yes, assign me this issue.
![screenshot from 2016-12-24 21-38-54](https://cloud.githubusercontent.com/assets/13241256/21467864/82c82bc4-ca21-11e6-962a-98f5d58b6bbf.png)

[2016-12-24 17:16] GabrielLee22 commented on #887
Will be closing this issue now since a pull request has been merged - #894

[2016-12-24 17:16] #887 closed

[2016-12-24 17:45] rohanagarwal94 opened #899 "Share App feature"
Wanted to implement sharing of app url through Whatsapp and invitation of app through Facebook. @the-dagger and @mananwason thoughts?

[2016-12-24 17:49] the-dagger commented on #899
Sounds good, but that's not of priority right now.
You can focus on other open issues for now.

[2016-12-24 18:00] rohanagarwal94 commented on #697
@the-dagger assign me this.

[2016-12-24 18:56] #897 closed

[2016-12-24 20:00] utkarshnath opened #900 "Bookmark should be marked from session list itself"
currently bookmark is marked only from the sessionDetailActivity and the button in session list doesn't work

[2016-12-24 20:14] utkarshnath opened #902 "Timing of notification"
when a session is bookmarked then we instantly receive a notification, shouldn't we receive the notification a day before or some hours before the session

[2016-12-26 02:50] venkateshbellale opened #905 "Readme and documentation needs improvement"
There are somen broken links , spelling errors  in readme  and documentation  section

[2016-12-26 02:52] venkateshbellale commented on #905
There are somen broken links , spelling errors  in readme  and documentation  section

[2016-12-26 02:59] venkateshbellale opened #906 "link for sample installation of the app generator web-page http://45.55.58.149/ is not working"

[2016-12-26 06:37] the-dagger commented on #906
Yes, it is intentional because the digitalocean droplet expired and had to be shut down.

[2016-12-26 06:37] #906 closed

[2016-12-26 06:38] the-dagger commented on #905
Feel free to go ahead and fix it.

[2016-12-27 13:20] utkarshnath commented on #902
@mananwason  @the-dagger  any update on this?

[2016-12-27 13:43] the-dagger commented on #902
You can go ahead and work on this issues if you want to. 👍

On Tuesday, December 27, 2016, utkarshnath <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2016-12-27 13:54] utkarshnath commented on #902
ya sure , I'll do it

[2016-12-27 15:12] rahulaarora opened #907 "MAP function needs improvement"
**Open Event Android app's MAP function**
_In this function, zoom in and out should be improved. Zoom in should be increased_
 ![screenshot_2016-12-27-14-25-59](https://cloud.githubusercontent.com/assets/24794534/21502297/e1181d4c-cc74-11e6-93e2-8a22477418b5.png)

[2016-12-27 15:22] rahulaarora opened #908 "LOGO on the menu pane do not appear sometimes"
# **_## LOGO in the menu pane do not appear sometimes._**
_LOGO on the menu pane should be changed to **FOSSASIA logo from twitter** and the bug in it should be fixed that **it should appear offline.**_
![screenshot_2016-12-27-14-25-48](https://cloud.githubusercontent.com/assets/24794534/21502489/29ad6e8a-cc76-11e6-9f5b-d811ef9b8eb3.png)

[2016-12-27 15:31] utkarshnath commented on #902
Sorry, this issue was already solved . we were receiving notification instantly as the sessions time has already passed

[2016-12-27 15:31] #902 closed

[2016-12-28 11:00] DShenandoah commented on #852
I do not think any one else is working on this. This is up for grabs! Best wishes.

[2016-12-28 11:00] #852 closed

[2016-12-28 14:19] Heredroky opened #910 "Improve bookmark's button transition"
The bookmark's button transition seems to be forced, I think that the transition should be slower.

![giphy](https://cloud.githubusercontent.com/assets/15079370/21523625/e0070e22-ccdd-11e6-87ee-8e5e682e0a30.gif)

[2016-12-28 14:27] Heredroky opened #911 "The search bar in speakers' profiles seems to be useless"
When someone taps on that search bar and write any word or letter, nothing happens. I don't know if it should do a specific action or it is useless. If it should do an action, it has to be fixed, and if it is useless it should be removed in order to have a better UI

![screenshot_20161227-151128](https://cloud.githubusercontent.com/assets/15079370/21523860/c06fc5c0-ccdf-11e6-83f2-5616f66e546c.png)

[2016-12-28 14:37] the-dagger commented on #911
Searching inside the speaker detail page is not required, so you can go
ahead and remove this if you want. :)

On Wednesday, December 28, 2016, Alejandro Heredia <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2016-12-28 20:29] Dvik opened #912 "Materializing the User Profile UI and animation"
Between the speaker profile list and description, shared element transition can be implemented.
Also, in the speaker description activity, the title and subtitle don't appear on the action bar, in collapsed mode. i mean, this screen looks weird.
Ideally, the title and subtitle should float to the top of toolbar in collapsed state.

![screenshot_2016-12-29-01-50-49](https://cloud.githubusercontent.

[2016-12-29 05:39] srahulbadami opened #913 "The Search in the Track Section"
The search in the track section does not searches the whole sections i.e the search doesn't include all the sub menus present in the track sections .

https://codein.withgoogle.com/serve/5360756461666304/
https://codein.withgoogle.com/serve/6409378070528000/

[2016-12-29 05:41] srahulbadami opened #914 "The app must have a login/sign up feature"
This must be done in order to record the issues of the app by an inapp feature like issues/bug report'feature request etc.

[2016-12-29 06:13] sm86 commented on #911
@Heredroky are you working on this issue?

[2016-12-29 06:59] kshitijsingla opened #915 "location images"
the locatios provided there can be related images.
![15817913_1039430902852551_316247664_o](https://cloud.githubusercontent.com/assets/24763978/21538497/bb4c7d6a-cdc3-11e6-8531-b4def0734205.jpg)

[2016-12-29 18:18] Elgayar opened #916 "Speaker profile image disappears when scrolling"
In this screenshot is the beginning of a speaker's profile:
![screenshot_2016-12-28-10-44-33](https://cloud.githubusercontent.com/assets/6567844/21550575/ab733b50-ce03-11e6-8d0a-daac57e63f5c.png)

Notice how the image of the speaker will disappear when I begin scrolling:
![screenshot_2016-12-28-10-44-36](https://cloud.githubusercontent.com/assets/6567844/21550602/d5341da6-ce03-11e6-9604-191a128e81

[2016-12-29 18:20] Elgayar opened #917 "UI of homepage needs imporvement"
The Interface of the homepage should be fancier and not just plain text...

![screenshot_2016-12-28-10-41-05](https://cloud.githubusercontent.com/assets/6567844/21550634/1c944a5e-ce04-11e6-951f-ab1d91ea7a42.png)

I suggest making a separate homepage that has an image of the event and some details, the date, the location and so on. The tracks is a separate section and shouldn't be the landing page

[2016-12-29 18:28] Elgayar opened #918 "Map marker isn't showing"
When I click on the open location icon of a specific talk or something, the map opens without a marker, which could be confusing to users.

![screenshot_2016-12-28-10-42-48](https://cloud.githubusercontent.com/assets/6567844/21550768/27cfa3a4-ce05-11e6-810d-b92f1adbfbb4.png)

[2016-12-29 19:09] #900 closed

[2016-12-30 05:38] utkarshnath commented on #911
@the-dagger shouldn't we keep the search button in case where we have many sessions by the same speaker

[2016-12-30 07:35] the-dagger commented on #911
I don't think that the session for a single speaker will ever exceed 5, so
it makes no sense for having a search button for the speaker detail page.

On Friday, December 30, 2016, utkarshnath <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2016-12-30 18:18] #911 closed

[2016-12-30 21:18] samsruti commented on #801
I would like to work on this issue :)

[2016-12-30 21:20] saketkumar95 commented on #918
I would like to work on this issue.

[2016-12-30 21:58] Elgayar commented on #918
Go ahead! @saketkumar95

[2016-12-30 22:42] saketkumar95 commented on #917
i would love to work on this issue. :)

[2016-12-30 22:50] saketkumar95 commented on #910
Can i work on this issue??

[2016-12-30 22:55] saketkumar95 commented on #888
@mananwason Can i work on this feature?

[2016-12-30 22:57] Heredroky commented on #910
@saketkumar95 Sure, go ahead 😄

[2016-12-30 23:12] saketkumar95 opened #920 "Re-format the whole project using the default code formatting"
This basically re-formats and re-arranges the code lines according to android studio default code formatting.

@mananwason Can i work on this?

[2016-12-30 23:25] saketkumar95 opened #921 "Removing the logo from menu pannel and displaying the user's name instead."
It would be better if on first time start of the app user can give his/her name and  it displays on the menu pannel instead of twitter icon along with a circle icon with his/her first word from name.

@the-dagger @mananwason What do you think about this? I would love to work on this if you allow. :)

[2016-12-30 23:27] saketkumar95 commented on #791
@mananwason Can i work on this?

[2016-12-30 23:33] saketkumar95 opened #922 "Sponsor's URL should open in chrome custom tabs"
Currently Sponsor's URL opens up in chrome. How about opening it in chrome custom tabs. It's much faster and it don't let user to leave the app.

![whatsapp image 2016-12-31 at 4 10 02 am](https://cloud.githubusercontent.com/assets/21558765/21574285/5559586c-cf16-11e6-9b32-14b0e283f94f.jpeg)

![whatsapp image 2016-12-31 at 4 09 37 am](https://cloud.githubusercontent.com/assets/21558765/21574286/5d

[2016-12-30 23:50] saketkumar95 commented on #916
Can i work on this?

[2016-12-30 23:59] saketkumar95 opened #923 "Remove the callback from the handler when the activity is destroyed"
Remove the callback from the handler when the activity is destroyed, As it will cause a leak when we don't need the handler anymore.
Handler being used during double backpress to exit but not removed. It may cause crash on some devices.

@the-dagger @mananwason If you allow then can i work on this issue?

[2016-12-31 02:11] saketkumar95 opened #924 "Different activity instead of a dialog for About us"
This might not be a very important functionality but every app has some about us section in new activity instead of Dialog. Even we can add some info in new Activity.

@the-dagger @mananwason What do you think about this?
If its okay then i can send the PR soon. :)

[2016-12-31 02:14] saketkumar95 commented on #922
I noticed that there are many URLs which all are being opened in chrome browser. It would be better that all the urls should be opened in chrome custom tabs.

[2016-12-31 03:03] saketkumar95 opened #925 "Reducing Apk Size"
Apk size can be reduced significantly:

Removing unused import statements.

Removing unused XML Schema declaration.

Removing unused unused property.

and many more which can reduce the apk size alot.

@the-dagger What do you think about this? Can i work on this issue??

[2016-12-31 05:30] the-dagger commented on #925
Cool, go ahead.

On Saturday, December 31, 2016, Saket Kumar <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2016-12-31 07:14] #895 closed

[2016-12-31 10:19] Elgayar commented on #916
Sure you can! @saketkumar95

[2016-12-31 10:19] Elgayar commented on #917
Go code! @saketkumar95

[2016-12-31 12:08] arp95 opened #926 "Changes in TracksActivity class code"
The main issue is when we put the entire adapter code in onCreate() method then the bookmark status gets updated only when onCreate() is called again.
To ensure the bookmark status is properly updated in other cases the code has to be moved from onCreate() to onStart() method.

[2016-12-31 13:56] Abhi2424shek opened #929 "Adding Malayalam as a local language"
Shall I add malayalam (local language in Kerala) to the app so that it would improve the localization support. There are 4 crore people in Kerala, so shall I do it?

[2016-12-31 14:00] the-dagger commented on #929
Cool, go ahead.

[2016-12-31 14:40] Abhi2424shek commented on #929
Sure then would submit a PR...

[2016-12-31 17:04] souravbadami opened #931 "Incorrect link on installation docs for email.php"
The link to email.php in the installation docs is incorrect.
See here: https://github.com/fossasia/open-event-android/blob/development/docs/INSTALLATION_LOCAL.md#required-components

[2016-12-31 19:46] samsruti opened #932 "Session Timing is null while sharing the session url"
**Actual Behaviour:**
Session Timing is null while sharing the session URL

**Expected Behaviour:**
It should show the start time and end time of the session.

**Screenshots:**
![screenshot_20161231-231436](https://cloud.githubusercontent.com/assets/6136117/21579033/3f53fcb2-cfbf-11e6-9a2c-8bd47ff7c59c.png)

_**I would like to work on this issue.**_

[2017-01-01 07:59] rhemon opened #936 "Typo for localizations in ANDROID_APP_Setup.md"
In ANDROID_APP_Setup.md under Translations Editor, its written localizaions instead of localizations. I will fix that.

[2017-01-01 08:01] rhemon opened #938 "Wrong directory mentioned in ANDROID_APP_Setup.md"
Under Setting up the Android Project, for step 3, its mentioned to open the root folder "open-event-android". But shouldn't it be the android directory inside it? If so, I will go ahead and fix it.

[2017-01-01 08:12] #932 closed

[2017-01-01 09:34] souravbadami commented on #931
PR: #941.

[2017-01-01 11:14] samsruti commented on #801
@mananwason This issue is resolved now. Please close this :)
Thanks :D

[2017-01-01 15:53] arp95 commented on #888
@mananwason instead of doing the live question answer, i think what we can do is create a question bank where we ask the user to submit the question and to which speaker they want to ask and then during the live session the speaker is made to answer certain ones.

[2017-01-01 15:55] arp95 commented on #926
pr is merged. closing this now.

[2017-01-01 15:55] #926 closed

[2017-01-01 16:01] #791 closed

[2017-01-01 16:06] the-dagger commented on #888
I don't think that this idea is viable.
During the talk, speaker will be more indulged in delivering his talk and
interacting with the audience, rather than looking at his device for
questions and answering them.

On Sunday, January 1, 2017, Arpit Aggarwal <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2017-01-01 16:08] arp95 commented on #888
@the-dagger point made. wouldnt there be a live q and a session where some questions from here can be included?

[2017-01-01 16:28] the-dagger commented on #888
Yeah, there would be, so practically users would want to ask questions
directly to the speaker instead of typing it in the app and same goes for
the speaker too.

On Sunday, January 1, 2017, Arpit Aggarwal <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2017-01-01 16:32] arp95 commented on #888
sure.

[2017-01-01 17:19] arp95 opened #942 "Changes to the LocationActivity class"
made certain changes to the location activity class by moving certain code from onCreate() to onResume() function.

[2017-01-01 20:18] sanchittechnogeek opened #944 "Add Malayalam localization support"
I would like to add Malayalam localization support for this app.

[2017-01-01 23:45] mariobehling opened #945 "Set up Automatic deployment to Gcloud"
Please set up the deployment from development to Gcloud.

[2017-01-02 04:54] Abhi2424shek commented on #944
Hah there is already an issue bro @sanchittechnogeek and I am sorry to tell i am on with it...

[2017-01-02 05:52] #944 closed

[2017-01-02 06:06] sanchittechnogeek opened #947 "Adding Tamil localization support"
I would like to add Tamil localization support for this app.

[2017-01-02 12:33] Abhi2424shek commented on #929
Here you go @the-dagger fixed in PR #948, please review it...

[2017-01-02 13:40] yukiisbored opened #949 "Add Indonesian translation"
This application is pretty neat and could help the annual conventions that we usually have in Indonesia. It'll be helpful to have Indonesian translation so the people of Indonesia that doesn't understand English can use it.

[2017-01-02 14:03] yukiisbored opened #951 "Integrate Weblate for translation"
A lot of translators use weblate to improve translations. It's more user friendly than modifying XML files, so it can be a good platform for translators and it can increase the contributors for translations.

[2017-01-02 16:24] #947 closed

[2017-01-02 17:50] hoangvanthien opened #954 "Add Vietnamese as a local language"
In order to expand users' approach, especially Asian, I strongly think that we should add Vietnamese to support localization.

[2017-01-02 18:27] #949 closed

[2017-01-03 02:21] saketkumar95 commented on #922
@creativepsyco @the-dagger Any reviews??

[2017-01-03 09:11] the-dagger commented on #922
You can go ahead and work on this, looks reasonable to me.

[2017-01-03 14:22] arp95 commented on #942
pr merged. closing this now.

[2017-01-03 14:22] #942 closed

[2017-01-03 14:24] arp95 opened #956 "Changes to the TracksActivity class"
making changes to the TracksActivity class code by moving certain code from onCreate() to onResume() function.

[2017-01-03 14:35] the-dagger commented on #956
@arp95 I'd suggest to make a single PR for similar changes.
Making multiple pull requests with similar fixes makes no sense.
Please take this into consideration from now onwards.

[2017-01-03 14:39] arp95 commented on #956
@the-dagger actually i saw somewhere you told someone to make different PR for different activities. thats why i was doing all this individually which was also taking up my time.
Will take this into account.

[2017-01-03 16:18] arp95 opened #958 "improvement in the UI"
Improving the ui of the speakers and schedule activity.

[2017-01-03 20:09] free4murad opened #959 "Reducing APK size."
We can reduce the APK size by setting `shrinkResources` property to true in build.gradle file of the app.
By using this android studio will not include the unused resources and assets that are not referenced to in the code.

[2017-01-03 20:10] free4murad commented on #959
@the-dagger
Should I make a PR for this.

[2017-01-03 20:12] the-dagger commented on #959
Cool, go ahead.​

[2017-01-04 16:29] KnifesmithCode commented on #922
https://github.com/KnifesmithCode/open-event-android-customtab should work.
You can use what you want from that if changes should be made.

[2017-01-04 18:27] KnifesmithCode opened #961 "Hard to see actions on Speaker view"
When viewing the speaker pages which have white backgrounds, it is nearly impossible to see the "Back" and "Share" buttons on the Actionbar. For example:
![screen](https://cloud.githubusercontent.com/assets/24576739/21652262/a19091c4-d271-11e6-867c-4e5980628f1e.png)
Whereas you should see the buttons, as you do in many speakers. For example:
![screen](https://cloud.githubusercontent.com/assets/245

[2017-01-04 18:37] #959 closed

[2017-01-05 06:39] jayvdb commented on #951
The server has already been added to weblate. c.f. https://github.com/fossasia/open-event-orga-server/issues/2574

Agree the Android client should also be added.

[2017-01-05 09:33] adarsh-ideal commented on #830
Don't think it's only my phone.

[2017-01-05 11:44] mananwason commented on #961
@KnifesmithCode You can work on this but what do you propose? Please discuss that first.

[2017-01-05 11:45] mananwason commented on #958
How? Could you add prototypes or just describe the changes you plan. Prototypes would be appreciated.

[2017-01-05 11:47] mananwason commented on #956
@arp95 All similar issues need to come under one PR. Issues that require different fixes will come under different PR's. Cheers!

[2017-01-05 11:53] #954 closed

[2017-01-05 17:05] mananwason commented on #936
@rhemon Go Ahead

[2017-01-05 17:06] mananwason commented on #931
Closing this as it's merged

[2017-01-05 17:06] #931 closed

[2017-01-05 17:07] #929 closed

[2017-01-05 17:08] #925 closed

[2017-01-05 17:08] mananwason commented on #924
@saketkumar95 I don't think this is required.

[2017-01-05 17:08] #924 closed

[2017-01-05 17:09] mananwason commented on #923
@saketkumar95 Can you point out which handler are you talking about. Please post the code line reference.

[2017-01-05 17:32] rhemon commented on #936
yeah i have already fixed it and it got merged. sorry forgot to close it before.

[2017-01-05 17:32] #936 closed

[2017-01-05 17:33] #938 closed

[2017-01-05 21:47] KnifesmithCode commented on #961
I was thinking having a little semi-transparent circle behind each button, probably red to go with the theme of the app, or grey otherwise.

[2017-01-05 22:30] free4murad opened #962 "Bug in searchview."
A common practice is that if a user searches for something using searchview in the toolbar he is shown the search result. If the user presses back key then the original list of items is displayed.

Many apps implement this functionality including WhatsApp and most SMS apps (GIFs included)
(Whatsapp)
![screencast_2017-01-06-03-30-55](https://cloud.githubusercontent.com/assets/17262180/21700005/3302

[2017-01-05 22:30] free4murad commented on #962
@the-dagger
should I make a PR for this issue.

[2017-01-06 05:54] Amritanshu54 opened #963 "App NOT working on Redmi Note 3"
Before proceeding further , I would like to share my phone's features :-

Model No. - Redmi Note 3
Android version - 6.0.1 MMB29M
MIUI version - MIUI Global 8.1 | Stable 8.1.10 (MHOMIDI)

The problem I'm facing -> I have installed the OpenEvent App but it's not working. Whenever I try to open the app, a message saying that the "Unfortunately, OpenEvent app has stopped" pops out. You can check the

[2017-01-06 11:26] utkarshnath commented on #962
@free4murad I have already resolved this issue #909

[2017-01-06 12:33] rohanagarwal94 commented on #963
Yeah since the latest pull, the app has stopped working on mi3 too.
![screenshot from 2017-01-06 17-58-33](https://cloud.githubusercontent.com/assets/13241256/21718009/76eeb93a-d43a-11e6-9c15-2799f28ec8f6.png)

[2017-01-06 12:37] rohanagarwal94 commented on #833
@mananwason @mariobehling I checked on this. It seems the Api service has been turned off in the google developer console. Please suggest the necessary.
[http://stackoverflow.com/questions/17184718/google-maps-v2-authorization-failure](solution)

[2017-01-06 13:40] free4murad commented on #962
@utkarshnath
My bad. I didn't see your issue.

[2017-01-06 14:50] free4murad commented on #963
Model - Mi4i
Android - 5.0.2

App is crashing.

[2017-01-06 14:52] ani27 opened #965 "Bookmark not removed from list"
In the bookmark list, as soon as I remove a bookmark that item is not removed from the list.
It is though removed later.
![screenshot_20170106-201636](https://cloud.githubusercontent.com/assets/10931958/21721311/c61efcf0-d44d-11e6-8755-82caa823f475.png)

Can I work on this issue?

[2017-01-06 15:02] free4murad opened #966 "Hide keybord when search button is pressed."
Current behaviour - In some fragment and activities when we search for something and press search button in keyboard the keyboard is no disappearing.

Expected behaviour - If the user presses search button, the keyboard should hide.

@the-dagger @mananwason @mariobehling  I have solved the bug, should I make a PR.

[2017-01-06 16:55] utkarshnath opened #967 "We don't get notification when a session is bookmarked from list"
alarm is not set when a session is bookmarked from SessionList directly.

[2017-01-06 16:58] rohanagarwal94 opened #969 "Include App version in the bottom of the settings activity"
User experience enhancement.

[2017-01-06 17:00] ani27 opened #970 "Same date and time is displayed even when opening different events"
For a speaker who has same event at different timing, even on clicking different event same time is shown everytime.

![15909668_1825159867761896_221010422_n](https://cloud.githubusercontent.com/assets/10931958/21725677/87088678-d45f-11e6-9a87-f74e3f6ece88.gif)

Can i work on this?

[2017-01-06 21:44] mananwason commented on #961
Please go ahead and implement it. We will check to see if it looks good. Another way could be to use Pallete on the image and use the contrasting color for the arrow.

[2017-01-06 21:45] mananwason commented on #913
Not a valid issue. Closing

[2017-01-06 21:45] #913 closed

[2017-01-06 21:55] mananwason commented on #912
Please Go ahead

[2017-01-06 21:58] mananwason commented on #910
Any progress @saketkumar95

[2017-01-06 21:59] mananwason commented on #908
It may be due to slow data connection because we have an image there already. Closing this issue

[2017-01-06 21:59] #908 closed

[2017-01-06 22:00] #792 closed

[2017-01-06 22:02] mananwason commented on #914
This issue is already open but server doesn't support login right now. so, no sense in implementing this.

[2017-01-06 22:02] #914 closed

[2017-01-06 22:03] mananwason commented on #915
Where will you fetch those images from? Server doesn't support this. Plus what about when we support multiple event? How ill this work then? Closing this for now. Feel free to revert.

[2017-01-06 22:03] #915 closed

[2017-01-06 22:04] mananwason commented on #899
Any progress @rohanagarwal94 ?

[2017-01-06 22:05] mananwason commented on #905
I believe that this has been fixed

[2017-01-06 22:05] #905 closed

[2017-01-06 22:06] mananwason commented on #907
But how do you propose that? OSM doesn't support this.

[2017-01-06 22:06] mananwason commented on #916
@saketkumar95 @Elgayar Any updates?

[2017-01-06 22:07] mananwason commented on #917
@saketkumar95 Any progress?

[2017-01-06 22:07] mananwason commented on #918
@Elgayar @saketkumar95 Any progress?

[2017-01-06 22:08] mananwason commented on #920
Not required @saketkumar95

[2017-01-06 22:08] #920 closed

[2017-01-06 22:08] mananwason commented on #921
@saketkumar95 How do you plan to actually get the name of the user? We don't want him to login yet.

[2017-01-06 22:08] #921 closed

[2017-01-06 22:11] mananwason commented on #951
It is not that accurate plus we have this as a GCI task, which makes it easy to get validated translations.

[2017-01-06 22:11] #951 closed

[2017-01-06 22:12] mananwason commented on #876
Closing this due to inactivity.

[2017-01-06 22:12] #876 closed

[2017-01-06 22:12] mananwason commented on #870
@rohanagarwal94 Any updates on this?

[2017-01-06 22:13] #853 closed

[2017-01-06 22:14] mananwason commented on #833
@rohanagarwal94 I'll check on this.

[2017-01-06 22:15] mananwason commented on #802
@rhemon @rohanagarwal94 Any updates?

[2017-01-06 22:15] #801 closed

[2017-01-06 22:15] mananwason commented on #770
Closing due to inactivity

[2017-01-06 22:15] #770 closed

[2017-01-06 22:16] mananwason commented on #763
@PareshMayani Any Updates?

[2017-01-06 22:16] #763 closed

[2017-01-06 22:21] mananwason commented on #711
@gogeta95 Any Progress?

[2017-01-06 22:21] mananwason commented on #699
@gogeta95 @top-gun007 Updates?

[2017-01-06 22:22] mananwason commented on #697
@rohanagarwal94 Go Ahead

[2017-01-06 22:22] mananwason commented on #688
@rohanagarwal94 Status?

[2017-01-06 22:23] mananwason commented on #675
Will do this for fossasia 2017. Closing

[2017-01-06 22:23] #675 closed

[2017-01-06 22:23] mananwason commented on #554
@sch00lb0y Is this done?

[2017-01-06 22:25] #752 closed

[2017-01-06 22:30] the-dagger commented on #554
Yes it is, he sent a PR for this a while ago.
https://github.com/fossasia/open-event-android/pull/767

[2017-01-06 22:30] #554 closed

[2017-01-06 22:50] free4murad commented on #688
@mananwason
If this is open, can i work on this?

[2017-01-07 03:55] saketkumar95 commented on #921
@mananwason We don't need a login. It's just on first run we can take the user's name and just display in the navigation bar.

[2017-01-07 03:57] saketkumar95 commented on #918
@mananwason Yes. I'll send the PR today. Was busy in my university exams.

[2017-01-07 04:01] saketkumar95 commented on #923
i was talking about [this](https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/java/org/fossasia/openevent/activities/MainActivity.java#L476) one

[2017-01-07 04:20] Abhi2424shek commented on #764
They could be helpful in previewing but when we build our app, the build tools remove these attributes so there is no effect on your APK size or runtime behavior. This can help previewing though and it's easy to implement

[2017-01-07 05:46] rhemon commented on #802
sorry @mananwason i didnt take this issue to work on before and thought some else will be assigned. do I try working on it? I just remove the search option, right? or do I do it so that when Map is clicked from the side bar, it will directly open google map, not that activity? i think that would be better.

[2017-01-07 06:09] arp95 commented on #958
I am referring to the tablet view of both where the display of activities seems extended and has to have a autospan gridlayout to overcome that.

![15902662_10210135775065346_1175802889_o](https://cloud.githubusercontent.com/assets/8268392/21739880/f0ce1546-d4cd-11e6-866c-968b2d875b1b.jpg)
![15942956_10210135774985344_967764428_o](https://cloud.githubusercontent.com/assets/8268392/21739882/f7c6ea7

[2017-01-07 06:36] arp95 commented on #963
Model - Moto G4+
Android - 7.0.0

App is crashing.

[2017-01-07 06:38] mananwason commented on #970
Sure go ahead but please mention the bug here once you discover it because this can be an issue with the json itself

[2017-01-07 06:39] mananwason commented on #969
I don't think it's necessary to do this. Any particular reason why this would enhance the User experience?

[2017-01-07 07:14] free4murad commented on #963
Moto G4 Plus
6.0.1

Working fine

On Jan 7, 2017 12:06 PM, "Arpit Aggarwal" <notifications@github.com> wrote:

[2017-01-07 08:01] rohanagarwal94 commented on #969
Not really. But just for users to check the app version while tackling individual user issues which may arrive when they use the app.

[2017-01-07 08:03] rohanagarwal94 commented on #899
@mananwason @the-dagger asked me to leave it at the moment till the app becomes more deployable. Shall I work on this?

[2017-01-07 08:06] rohanagarwal94 commented on #870
@mananwason the members on the server side of the app asked to leave it at the moment till the server side is stable.

[2017-01-07 11:53] TechGuyAditya opened #971 "HTTP Error: 404Api Not found on Lenovo K3 Note"
Phone model : Lenovo K3 Note
Android : Marshmallow
Date : 7/1/ 2013
Description : Whenever the app version 0.8.3 is installed,  after the FOSSASIA logo it shows the error. Nothing except the maps can be loaded.

[2017-01-07 11:56] the-dagger commented on #971
Please don't download the app from Play Store, instead compile and test the
"development" branch of the repo.
The version on GPlay is outdated.

[2017-01-07 11:59] TechGuyAditya commented on #971
https://github.com/fossasia/open-event-android/releases
I got it from here the app-fdroid-debug.apk

[2017-01-07 13:18] mananwason commented on #870
okay I'll add a label to this issue then.

[2017-01-07 13:19] mananwason commented on #899
Yes Please go ahead. We are targeting to use the app in FOSSASIA 2017. This
feature might be handy.

On Sat, Jan 7, 2017 at 1:33 PM Rohan Agarwal <notifications@github.com>
wrote:

--
*Regards,*
*Manan Wason*
*4th year, B.tech - CSE*
*Indraprastha Institute of Inf. Tech. (IIIT) Delhi*
*Okhla, Phase-III, New Delhi-110020, INDIA*
*Website: www.mananwason.me <http://www.mananwason.me/>*

[2017-01-07 13:20] mananwason commented on #969
But that's what I was asking. How does it help the user? When and If we
implement a procedure to check all the crashes, we can just send the
version number in the background

On Sat, Jan 7, 2017 at 1:31 PM Rohan Agarwal <notifications@github.com>
wrote:

--
*Regards,*
*Manan Wason*
*4th year, B.tech - CSE*
*Indraprastha Institute of Inf. Tech. (IIIT) Delhi*
*Okhla, Phase-III, New Delhi-110020, IND

[2017-01-07 13:22] mananwason commented on #963
Not working on Nexus 5x on 7.1.1 as well. There has been a faulty commit.
I'll check to see what is wrong.

On Sat, Jan 7, 2017 at 12:44 PM Murad <notifications@github.com> wrote:

--
*Regards,*
*Manan Wason*
*4th year, B.tech - CSE*
*Indraprastha Institute of Inf. Tech. (IIIT) Delhi*
*Okhla, Phase-III, New Delhi-110020, INDIA*
*Website: www.mananwason.me <http://www.mananwason.me/>*

[2017-01-07 13:40] rohanagarwal94 commented on #969
It is useful when an individual comments on the google play app page about an issue, and when we try to debug the issue on an individual basis. Worked well when I implemented it in a startup's app. Is there any other way currently that a user can know the app version himself?

[2017-01-07 13:41] rohanagarwal94 commented on #688
@mananwason as discussed with @the-dagger , the feature he wants to implement has be made from the website version of the app. I can include the intent filter for the app but the thing is, it only works when a user clicks on a link rather when he types it out in the browser.

[2017-01-07 13:45] the-dagger commented on #688
@mananwason no need of using branch, we can achieve this using firebase
itself.
I'll implement it asap.
Only issue is that it will work iff user has Google Play Services installed
which won't work for the fDroid variant.

[2017-01-07 16:20] free4murad commented on #893
@tarsdev
are you working on it?

[2017-01-07 21:25] free4murad opened #976 "Position of list is not maintained."
In some cases the current position of list is not maintained while going from one activity to another.
I have attached the GIFs for some cases
![screencast_2017-01-08-02-42-21](https://cloud.githubusercontent.com/assets/17262180/21745255/a42ab764-d54d-11e6-8a19-fd36b12cd797.gif)
![screencast_2017-01-08-02-41-10](https://cloud.githubusercontent.com/assets/17262180/21745262/d3e520a2-d54d-11e6-91d1-1

[2017-01-08 06:41] mananwason commented on #967
@utkarshnath Please let the mentors approve the issue before you start working on it. Maybe things were intended this way due to some reason. So, please get an pproval before starting to work on an issue. Thanks!

[2017-01-08 08:01] arp95 commented on #963
@mananwason any updates? Its still not working.

[2017-01-08 09:18] tarsdev commented on #893
I am still learning coding so I will try to solve it after I know about languages!

[2017-01-08 10:51] mananwason commented on #963
@arp95 I have identified the issue but there are some other issues as well in the repo. I'll create fixes for  everything asap.

[2017-01-08 11:47] anuradhagupta345 opened #980 "Bug: App is crashing"
I tried to build an apk with android studio but app is crashing in android version `4.1.2`.

@the-dagger @mananwason @mariobehling @juslee Please look into this issue!

[2017-01-08 11:56] ani27 commented on #970
@mananwason  the issue is not with json, infact we are using the title to get the session, which is not unique actually. But it was before I updated the app. Now the app is crashing which is reported by some people. I made a work around for that but i noticed that the app also could not load the data from the assets folder.  Since you are working on #963 I thought I should let you know.

[2017-01-08 16:16] utkarshnath commented on #967
@mananwason Sorry I'll take care of it from now

[2017-01-08 18:53] rohanagarwal94 commented on #899
@mananwason I had a doubt. The share app feature should share the default google play store link of the FOSSASIA app or should it share custom user generated app [https://github.com/fossasia/open-event-android/blob/development/docs/screenshots/email.png](link) ( with the help of apk generator)?

[2017-01-09 05:01] KnifesmithCode commented on #961
Is this good @mananwason?
![screen](https://cloud.githubusercontent.com/assets/24576739/21757552/26d319b0-d5f6-11e6-87f7-5b34aa050ae9.png)
And
![screen](https://cloud.githubusercontent.com/assets/24576739/21757555/330fed98-d5f6-11e6-911e-d4e0b4099ef6.png)
It samples a pixel near the upper right hand corner and picks either black or white depending on how light or dark the pixel is.

[2017-01-09 08:24] mananwason opened #984 "Conflicts due to changed parsingExtras to parsingextras in #738"
In #738, due to changing the forlder name from camelCase to small letter, there are 2 versions of the same folder causing conflicts.
<img width="1087" alt="screen shot 2017-01-09 at 1 49 37 pm" src="https://cloud.githubusercontent.com/assets/10570249/21760565/15c2db56-d673-11e6-8209-55a6fed9df2c.png">

[2017-01-09 09:22] #880 closed

[2017-01-09 09:43] #984 closed

[2017-01-09 09:43] mananwason commented on #980
Same as #963

[2017-01-09 09:43] #980 closed

[2017-01-09 15:06] rohanagarwal94 commented on #899
Another thing,the sharing of the app will be on whatsapp and on facebook. So, shall I make another activity or simply a dialog for this?

[2017-01-09 16:04] the-dagger commented on #899
Nope, use the default share intent.​
Also about the link , you can send something like
https://play.google.com/store/apps/details?id=current.package.name.here

[2017-01-09 16:36] mananwason commented on #899
@rohanagarwal94 We have used a common pattern for adding the app package even in the generator, so you can just use the method @the-dagger mentioned with that package name to make it more generic.

[2017-01-09 16:58] #967 closed

[2017-01-09 17:06] rohanagarwal94 commented on #899
@mananwason @the-dagger my only concern was that sharing the google play share app link will not have the event organizer data. So people who wish to share this app with will probably not get the data the organizer is trying to provide. Correct me if I am wrong.

[2017-01-09 17:07] mananwason commented on #899
What do you mean by event organizer data?

On Mon, Jan 9, 2017 at 10:36 PM Rohan Agarwal <notifications@github.com>
wrote:

--
*Regards,*
*Manan Wason*
*4th year, B.tech - CSE*
*Indraprastha Institute of Inf. Tech. (IIIT) Delhi*
*Okhla, Phase-III, New Delhi-110020, INDIA*
*Website: www.mananwason.me <http://www.mananwason.me/>*

[2017-01-09 17:07] rohanagarwal94 commented on #899
and @the-dagger should I implement a general share intent? Anyway the app invite via facebook will have to have another button. So should I keep a dialog or an activity for the 2 buttons?

[2017-01-09 17:12] the-dagger commented on #899
A general share intent should do just fine.

[2017-01-09 17:17] saketkumar95 commented on #921
@mananwason any suggestions? I think it's a better idea than just showing twitter logo.

[2017-01-09 17:20] rohanagarwal94 commented on #899
The data that someone uploads through json or api endpoint through the generator and gets the apk.

[2017-01-09 17:20] rohanagarwal94 commented on #899
@the-dagger no app-invite though facebook?

[2017-01-09 17:22] mananwason commented on #921
@saketkumar95 That place is for the organisations logo. Right now let it be. In the future when we implement login, we can add name and other info there.

[2017-01-09 17:23] saketkumar95 commented on #921
okay no problem. :) :+1:

[2017-01-09 17:24] the-dagger commented on #899
I'm not sure about that.
Let @mananwason provide his views.
​

[2017-01-09 17:27] saketkumar95 commented on #917
@mananwason Can you give me some UI tips, Like what we can make have on the homeView?

[2017-01-09 17:41] ani27 commented on #965
@the-dagger Can i resolve this issue and #970  in a same PR?

[2017-01-10 09:00] PareshMayani commented on #764
@Abhi2424shek that's what I have written but thanks for sharing more details. Yes it would not effect apk size.

[2017-01-10 14:44] ani27 commented on #970
@mananwason  I have resolved this and #965 . Shall I make PR for these two together?

[2017-01-10 16:54] rohanagarwal94 commented on #761
@the-dagger this is already implemented, close this.

[2017-01-10 17:13] #761 closed

[2017-01-10 17:43] rohanagarwal94 commented on #831
@mananwason shall I work on this?

[2017-01-10 17:45] mananwason commented on #831
Please go ahead

On Tue 10 Jan, 2017, 11:13 PM Rohan Agarwal, <notifications@github.com>
wrote:

--
*Regards,*
*Manan Wason*
*4th year, B.tech - CSE*
*Indraprastha Institute of Inf. Tech. (IIIT) Delhi*
*Okhla, Phase-III, New Delhi-110020, INDIA*
*Website: www.mananwason.me <http://www.mananwason.me/>*

[2017-01-10 18:27] heysadboy opened #991 "Improving the UI further"
1. Removed card and added separator in between list items.
2. Changed the search icon to with specified size and padding.

Before
![screenshot_2017-01-10-02-26-30](https://cloud.githubusercontent.com/assets/22588035/21892751/489a720e-d8fe-11e6-94b0-70af5a6c8d89.png)

After
![screenshot_2017-01-12-19-11-30](https://cloud.githubusercontent.com/assets/22588035/21892759/52f3db5a-d8fe-11e6-80c4-33d4fd3

[2017-01-10 18:36] rohanagarwal94 commented on #831
@mananwason please have a look at my existing pr so that I could submit another one for this.

[2017-01-10 18:41] vishwesh3 commented on #831
@rohanagarwal94 Thanks for your interest in the issue. You can switch to different branch and work on this issue. I have done some work on this https://github.com/fossasia/open-event-android/pull/867 this might be helpful.

[2017-01-10 18:48] rohanagarwal94 commented on #831
@vishwesh3 I just checked your pr and it is same as my changes to this issue. Please submit a fresh PR from your side since I noticed, it only closed down due to branching issues.

[2017-01-10 18:59] rohanagarwal94 commented on #833
@mananwason update on this?

[2017-01-11 01:18] KnifesmithCode commented on #961
Should I submit a PR @mananwason?

[2017-01-11 04:38] heysadboy commented on #917
@mananwason Hi. I guess did it in other issue. https://github.com/fossasia/open-event-android/issues/991 Please check it out.

[2017-01-11 05:19] the-dagger commented on #961
Cool, go ahead. :+1:

[2017-01-11 09:34] mananwason commented on #991
@heysadboy Please see the material guidelines https://material.io/guidelines/components/cards.html#cards-usage. You should not use cards here according to the guidelines

[2017-01-11 09:35] mananwason commented on #831
@rohanagarwal94 You can start working on a new branch by checking out from upstream development. Meanwhile, I'll look at your PR asap.

[2017-01-11 09:36] mananwason commented on #833
@rohanagarwal94 Didn't get time to check. I'll do so asap.

[2017-01-11 09:37] mananwason commented on #917
@saketkumar95 Please go through material guidelines and come up with a good solution for the usecase.
@heysadboy I have added some comments. Please have a look.

[2017-01-11 09:50] mananwason commented on #899
@rohanagarwal94 I don't mind having that included as well.

[2017-01-11 12:46] rohanagarwal94 commented on #899
@mananwason so a dialog or an activity for the 2 buttons?

[2017-01-11 13:29] heysadboy commented on #991
@mananwason Thanks for reviewing. I'll look it up.

[2017-01-11 18:17] mananwason commented on #899
please try to come uo with a solution with your own understanding of what
woild look better. We can then review your PR and suggest better ways to
improve your code. Thanks!

On Wed 11 Jan, 2017, 6:16 PM Rohan Agarwal, <notifications@github.com>
wrote:

--
*Regards,*
*Manan Wason*
*4th year, B.tech - CSE*
*Indraprastha Institute of Inf. Tech. (IIIT) Delhi*
*Okhla, Phase-III, New Delhi-110020, INDI

[2017-01-12 14:09] heysadboy commented on #991
@mananwason Hi. I realized instead of cards, the list items can just be separated by divider. It would be great if I could work on other similar issues.

[2017-01-13 17:15] rohanagarwal94 commented on #969
@mananwason final thoughts?

[2017-01-13 17:32] #962 closed

[2017-01-13 20:43] heysadboy commented on #991
I made the changes in pull request https://github.com/fossasia/open-event-android/pull/992

[2017-01-14 16:07] heysadboy commented on #886
@mananwason fixed this in PR #992

[2017-01-15 10:07] anuradhagupta345 commented on #923
@mananwason I would like to work on this issue!

[2017-01-15 10:30] saketkumar95 commented on #923
@anuradhagupta345  I'm waiting for the mentors to approve so that i can start working on it. :)

[2017-01-15 10:43] mananwason commented on #976
Go ahead.

[2017-01-15 10:44] mananwason commented on #971
Thanks for pointing out. We need to update releases.

[2017-01-15 10:44] #971 closed

[2017-01-15 10:44] mananwason commented on #970
@ani27 Please make separate PR's. Thanks!

[2017-01-15 10:45] mananwason commented on #969
Not required right now. We are not pushing many updates at this stage.

[2017-01-15 10:45] #969 closed

[2017-01-15 10:46] mananwason commented on #966
Go ahead

[2017-01-15 10:46] #963 closed

[2017-01-15 10:47] mananwason commented on #963
Has Been Fixed in #986

[2017-01-15 10:48] mananwason commented on #958
Please go ahead

[2017-01-15 10:57] mananwason opened #1003 "Replace android Search icon with Material ones."
Right now android default search icon is being used which looks odd with all the other material icons.

[2017-01-15 10:58] free4murad commented on #1003
Can I work on this issue

[2017-01-15 11:03] mananwason commented on #1003
I fixed this already @free4murad. I am just creating a PR now. But Thanks anyways!

[2017-01-15 11:37] #1003 closed

[2017-01-15 11:39] mananwason commented on #923
Yes Please go ahead

[2017-01-15 12:01] saketkumar95 commented on #923
@mananwason  Cool. Will send the PR today. :)

[2017-01-15 19:30] rohanagarwal94 commented on #833
@mananwason update on this?

[2017-01-16 03:32] arp95 commented on #965
@ani27 mine is working fine. have a look now.

[2017-01-16 07:52] #922 closed

[2017-01-16 14:10] saketkumar95 commented on #363
@mariobehling @mananwason Can i work on this??

[2017-01-16 14:13] mananwason commented on #363
Not required yet because server doesn't support it. Cheers!

On Mon 16 Jan, 2017, 7:41 PM Saket Kumar, <notifications@github.com> wrote:

--
*Regards,*
*Manan Wason*
*4th year, B.tech - CSE*
*Indraprastha Institute of Inf. Tech. (IIIT) Delhi*
*Okhla, Phase-III, New Delhi-110020, INDIA*
*Website: www.mananwason.me <http://www.mananwason.me/>*

[2017-01-16 18:08] saketkumar95 commented on #991
Can i work on this?

[2017-01-16 19:24] the-dagger commented on #991
@sanketkumar1996 @heysadboy is already working on it.
You can pick up any other unassigned issue.

[2017-01-17 08:09] mejariamol opened #1011 "Unnecessary white strip is overlapping content view in SessionDetailActivity"
![img_20170117_133300_471](https://cloud.githubusercontent.com/assets/13533840/22012448/12aac5f8-dcba-11e6-950c-ff72d5e69839.jpg)

I want to work on this issue.

[2017-01-17 11:12] utkarshnath opened #1012 "Improve APk generator node's project structure"
@mariobehling @the-dagger
The current apk generation node structure can be refined. Routes and static files can be kept in separate directories. Rendering engines such as jade should be used. Some development middleware such morgan may also be used.

[2017-01-17 13:14] harshitagupta30 opened #1013 "Complete name of track not visible in the title"
Present Screen looks like this.
![screenshot_2017-01-16-18-00-19](https://cloud.githubusercontent.com/assets/12701036/22021679/8fc13e8a-dce4-11e6-8d4f-b4718d70c865.png)

It can be improved by changing the size of the text in the collapsing toolbar.
![screenshot_2017-01-16-17-32-01](https://cloud.githubusercontent.com/assets/12701036/22021675/8e77c774-dce4-11e6-9e14-b79f0a4f1b58.png)

@the-dagger @

[2017-01-17 13:26] the-dagger commented on #1013
Looks good, please do.​

[2017-01-17 14:32] saketkumar95 opened #1014 "Adding animation on every new activity launched."
Currently there is no animation on opening up new activity. We can add animations on opening new activity for much more better UI/UX

@mananwason @the-dagger Can i work on this?

[2017-01-17 15:26] the-dagger commented on #1014
Sure, but first please add a UI mock of what you want to achieve.

[2017-01-17 16:45] #1011 closed

[2017-01-17 20:04] heysadboy commented on #991
@the-dagger Hi. Solving this issue here. https://github.com/fossasia/open-event-android/pull/1017

[2017-01-17 20:05] heysadboy commented on #886
@mananwason Hi. Solving this issue here https://github.com/fossasia/open-event-android/pull/1005 . Please review my request.

[2017-01-18 12:50] arp95 opened #1019 "Adding bookmark status to schedule activity"
addition of bookmark status to schedule activity  and improving the schedule code to properly show the change in bookmark status.

![16121978_10210242083923001_736853542_o](https://cloud.githubusercontent.com/assets/8268392/22064730/c6cc290a-ddaa-11e6-8da6-b00d6d59d84f.jpg)

[2017-01-18 17:28] free4murad opened #1022 "Remove the callback from the handler in SplashActivity."
In `SplashActivity` the handler used to switch to next activity is not being dereferenced when activity is destroyed.

@the-dagger @mananwason
Should I send a PR.

[2017-01-18 17:33] the-dagger commented on #1022
This is fixes in #1010

[2017-01-18 17:38] #886 closed

[2017-01-18 17:40] #991 closed

[2017-01-18 19:36] #1022 closed

[2017-01-18 19:47] #923 closed

[2017-01-18 19:47] harshitagupta30 opened #1024 "ServiceConnection leaked while going from SessionActivity to SpeakerDetailActivity"
**Actual Behaviour**

![screenshot from 2017-01-19 00 39 32](https://cloud.githubusercontent.com/assets/12701036/22080088/3d7eb87c-dde4-11e6-9639-4ffc325ac1b2.png)

Currently if we open the Speakers Detail from the Session Details then there is a ServiceConnection leak.

**Expected Behaviour**

![screenshot from 2017-01-19 01 06 11](https://cloud.githubusercontent.com/assets/12701036/22080164/91ef

[2017-01-18 19:47] #888 closed

[2017-01-18 19:49] the-dagger commented on #735
Created an ISSUE and PULL_REQUEST template which can guide newcomers on contributing properly to the project.

[2017-01-18 19:49] #735 closed

[2017-01-18 19:49] the-dagger commented on #1024
Cool, go ahead.

[2017-01-18 19:52] free4murad commented on #893
@the-dagger
If we need to fix this ASAP, Can I make a PR for this?

[2017-01-18 20:01] the-dagger commented on #893
@free4murad you can work on this.
@tarsdev I'd suggest you to find and work on some simpler UI related issues if you'd like to. 🙂

[2017-01-18 20:03] free4murad commented on #893
@the-dagger
making a PR now.

[2017-01-18 20:10] free4murad opened #1027 "Bookmark widget is not updated instantly."
**Actual Behaviour**

If we bookmark a session, it is not added to widget to instantly.

**Expected Behaviour**

As soon as a session is bookmarked, it should be added to the widget.

@the-dagger @mananwason @mariobehling
Should I make a PR.

[2017-01-19 13:41] free4murad opened #1028 "Complete connection notification for mobile data connections."
**Actual Behaviour**

The app show notifications to compete connection in browser even for slow and unstable mobile data connections.

**Expected Behaviour**

Instead this notification should only be shown when device is on a  WiFi connection.

@the-dagger @mananwason @mariobehling
Should I make a PR.

[2017-01-19 15:05] harshitagupta30 opened #1029 "Progress Bar while image is being loaded."
**Actual Behaviour**

![screenshot_20170119-193418](https://cloud.githubusercontent.com/assets/12701036/22111543/a070a156-de85-11e6-8b67-db0e06705950.jpg)

Currently while loading the image from the API we are displaying nothing.

**Expected Behaviour**

![videotogif_2017 01 19_19 39 51](https://cloud.githubusercontent.com/assets/12701036/22111741/6fd275dc-de86-11e6-84f7-3c3094246116.gif)

We can

[2017-01-19 18:48] heysadboy opened #1030 "Improving the UI of sessions details"
The current UI of app is pretty but I feel like red color is used a lot.

- As the accent color and primary color of the app, both are shades of red so the floating action button should have a distinct background.
- There is no image in the upper part here so the toolbar better be in shape.
- The parts of the content can be divided by cards as the speakers could be multiple they should look more c

[2017-01-19 19:04] heysadboy commented on #1030
@the-dagger Review this issue please. I made a pull request also.

[2017-01-19 19:49] the-dagger commented on #1030
Hey @heysadboy, thanks for the issue.
But my suggestion is to send a PR for a UI enhancement/ Feature implementation only after there has been a discussion on that issue.

Regarding this issue, I don't think that the sessionDetail needs a UI refresh because that collapsingToolbar is a placeholder and any image provided by the speaker for the event will be placed there.
We can probably make enhance

[2017-01-19 19:50] the-dagger commented on #1029
Looks good, please go ahead.
Make sure that the implemented solution takes in account for missing profile pictures and network issues too.

[2017-01-19 20:35] heysadboy commented on #1030
@the-dagger I understand. Should we delete this issue? Main motive was just due to wide toolbar, which is not an issue after all. I'll look for other non UI issues. Thanks for reviewing.

[2017-01-19 21:10] brainbreaker opened #1032 "Adding text drawables to tracks activity"
UI of tracks activity can be significantly improved by adding the text drawables to the items just like Gmail application.

<Img src = "https://s23.postimg.org/qch7eqkiz/16129442_1239014579508633_1312515403_o.png"/>

@the-dagger Your views?

[2017-01-20 06:02] brainbreaker commented on #1032
Please review https://github.com/fossasia/open-event-android/pull/1033

[2017-01-20 07:32] #1030 closed

[2017-01-21 08:12] utkarshnath commented on #1012
@the-dagger @mananwason should I work on this?

[2017-01-21 13:51] #1032 closed

[2017-01-21 14:25] brainbreaker opened #1037 "Overhauling the TracksActivity for improvement"
First of all, `TracksActivity` class name is a bit misleading, it should be renamed to `TrackSessionsActivity` because it displays sessions corresponding to each track.

The user interface can be considerably improved. Below are the screenshots of improved UI, it will also be supportive in case of future addition of graphics to the session JSON, the red background can be replaced by an image or vi

[2017-01-21 14:29] the-dagger commented on #1037
Looks nice.
Please go ahead and send a pull request for the same.
I personally prefer serif, @mananwason what are your thoughts?

On Saturday, January 21, 2017, Gautam Prajapati <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2017-01-21 14:41] the-dagger commented on #1012
@utkarshnath Not yet I think.
We'll first be testing the setup put together by @niranjan94 before modifying it any further.

[2017-01-21 14:49] niranjan94 commented on #1012
@utkarshnath please checkout the v2 code that was added recently. We no longer use node.js

`v2` is still under active development. So, any feature additions could be done only once we know it works properly.

[2017-01-21 15:59] #1029 closed

[2017-01-21 17:33] harshitagupta30 opened #1038 "Onclicking the Sponsors in navigation drawer the app is getting crashed."
**Actual Behaviour**

![screenshot from 2017-01-21 22 51 24](https://cloud.githubusercontent.com/assets/12701036/22176263/737d49c6-e02c-11e6-92e6-45432bed26dc.png)

**Expected Behaviour**

![screenshot from 2017-01-21 22 56 12](https://cloud.githubusercontent.com/assets/12701036/22176288/d9177b9e-e02c-11e6-8175-b4f57e5d82f2.png)

**Steps to reproduce it**
The error is due to the null pointer which

[2017-01-21 17:51] the-dagger commented on #1038
Sure, please do.

On Saturday, January 21, 2017, Harshita Gupta <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2017-01-21 19:26] harshitagupta30 opened #1040 "Header Image of navigation drawer sometimes not appearing."
**Actual Behaviour**

![screenshot from 2017-01-21 22 44 34](https://cloud.githubusercontent.com/assets/12701036/22176986/aa8a3604-e03b-11e6-962b-937018c17e00.png)

**Expected Behaviour**

![screenshot from 2017-01-22 00 09 09](https://cloud.githubusercontent.com/assets/12701036/22177004/d0f03988-e03b-11e6-9da3-5596a92f611e.png)

**Steps to reproduce it**
Instead of providing the image src in the

[2017-01-21 19:30] the-dagger commented on #1040
That is an expected behaviour.
The header that you see is fetched from [https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/event#L12](https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16/event#L12).
If the image over there gives 404, then the fossasia logo is shown, else the logo pointed by this URL is show.

[2017-01-21 19:30] #1040 closed

[2017-01-21 19:35] heysadboy opened #1041 "Real time deletion of bookmarks and notification handling"
The user can delete a bookmark by clicking the bookmark button again from the list. But I noticed these things,

- The bookmarks is still there, you need to go to another activity/fragment to see the result.
- You only get notification of removal of the bookmark after you transit to another activity/fragment.

Currently:
On bookmarking, the card is added to the list.

![screenshot_2017-01-21-23-52

[2017-01-22 09:51] the-dagger commented on #1041
Ok, sure.
Please go ahead.

[2017-01-22 12:26] heysadboy commented on #1041
@the-dagger Thanks. Here is go https://github.com/fossasia/open-event-android/pull/1042

[2017-01-22 13:47] brainbreaker commented on #1037
Going with your choice @the-dagger. Please review #1043.
Closing the issue.

[2017-01-22 13:53] mananwason commented on #1037
Serif is good @the-dagger

[2017-01-22 13:55] arp95 opened #1044 "Adding more functionality to bookmarks"
We can add more functionality while bookmarking a session where when a user clicks for bookmarking that session we can add a dialog box asking the user if they actually want  to bookmark it or not.

[2017-01-22 14:14] the-dagger commented on #1044
Hey,
Closing this as this is already being implemented in #1041

[2017-01-22 14:14] #1044 closed

[2017-01-22 14:20] arp95 commented on #1044
@the-dagger
i am referring this in the tracks and location activity. I dont see anyone implementing this
except one doing a real time removal in bookmark activity?

[2017-01-22 14:31] the-dagger commented on #1044
If that's the case then I'd suggest taking this discussion to the above issue, as what you are suggesting is quite similar to that, it needs calling the method implemented in that issue everywhere else.

[2017-01-22 14:36] arp95 commented on #1044
@the-dagger
that stands for real time removal but what i am doing in this is improving the user experience by asking the user through an alert box below:

![16229853_10210280799210859_575167365_o](https://cloud.githubusercontent.com/assets/8268392/22183190/0fd8f0fc-e0de-11e6-84ce-bed605c64f24.jpg)

![16229842_10210280803050955_1650710397_o](https://cloud.githubusercontent.com/assets/8268392/221831

[2017-01-22 14:42] the-dagger commented on #1044
@arp95 quoted from issue #1041

The issue clearly mentions what you are trying to achieve here.

[2017-01-22 14:46] arp95 commented on #1044
@the-dagger
so can i work on the my part and send a pr?

[2017-01-22 14:48] the-dagger commented on #1044
i'd suggest asking this to the original author of the issue.
Because multiple people working on the same issue isn't a wise move.

[2017-01-22 16:19] harshitagupta30 opened #1045 "Name of track not displaying on clicking the notification when session is bookmarked."
**Actual Behaviour**

![screenshot from 2017-01-22 01 13 30](https://cloud.githubusercontent.com/assets/12701036/22183802/5df9dbbc-e0ec-11e6-8fbc-875c45ea31de.png)

**Expected Behaviour**

![screenshot from 2017-01-22 21 46 42](https://cloud.githubusercontent.com/assets/12701036/22183803/71fde70c-e0ec-11e6-9dca-51174b390102.png)

![screenshot from 2017-01-22 21 46 54](https://cloud.githubuserconte

[2017-01-22 16:45] arp95 opened #1046 "Adding appropriate Toast messages"
Improving the user experience by adding appropriate toast messages for certain user clicks.

[2017-01-23 13:22] anuradhagupta345 commented on #1028
@the-dagger What do you think about this?

[2017-01-23 13:48] the-dagger commented on #1028
Sounds good.
But since this issue is assigned to @free4murad, so @anuradhagupta345 if you want to work on this, you can ask @free4murad if he willing to allow you to work on this.

[2017-01-23 15:28] free4murad commented on #1028
I want to work on the issue.

On Jan 23, 2017 7:18 PM, "Harshit Dwivedi" <notifications@github.com> wrote:

[2017-01-23 16:38] free4murad commented on #1027
@the-dagger
your reviews about this issue???

[2017-01-23 17:50] rohanagarwal94 commented on #831
@mananwason please close this. This has already been solved.

[2017-01-23 18:49] #1041 closed

[2017-01-23 18:49] the-dagger commented on #1027
Ok, sure.
Go ahead.

[2017-01-23 19:10] harshitagupta30 opened #1049 "Adding timing details in the Notification"
**Actual Behaviour**

![screenshot from 2017-01-22 23 51 15](https://cloud.githubusercontent.com/assets/12701036/22218544/575cc198-e1cd-11e6-9bef-dbb23f07dab6.png)

**Expected Behaviour**

![screenshot from 2017-01-22 23 46 10](https://cloud.githubusercontent.com/assets/12701036/22218546/5ae5406a-e1cd-11e6-9597-d6e735802c89.png)

**Steps to reproduce it**
The timing details sent to the service is

[2017-01-23 19:28] heysadboy opened #1050 "Revamping the list dividers and ripples"
The list divider in some parts of the app are very wide and dark unlike the default dividers. Changing them to bring more focus on texts and improve the aesthetic,

Current:

![image](https://cloud.githubusercontent.com/assets/22588035/22219262/1f18e458-e1d0-11e6-9be7-74a69b6a5e5d.png)

After:

![screenshot_2017-01-26-03-18-23](https://cloud.githubusercontent.com/assets/22588035/22323457/1e2a29da-

[2017-01-23 19:29] heysadboy commented on #1050
@the-dagger Sending pull request for the same.

[2017-01-24 17:04] shreyasnbhat commented on #917
Hey!
Is this issue still open?

[2017-01-24 17:25] #970 closed

[2017-01-24 18:58] rohanagarwal94 commented on #1046
@arp95 we are using Snackbar to show messages to the user. So I guess it is not logical to use Toast as well.

[2017-01-24 19:01] arp95 commented on #1046
@rohanagarwal94 i am talking about using toast messages while moving from one activity to another. i dont think it interferes with the snackbar stuff.

[2017-01-24 19:07] ani27 opened #1054 "Same location is shown on map for every Session"
**Actual Behaviour**

Every Session shows same location on map.

![screenshot_20170125-000748](https://cloud.githubusercontent.com/assets/10931958/22261710/03d48e58-e294-11e6-89c3-3daf190556ce.png)

**Expected Behaviour**

Exact location of the Session must be marked on map.

![screenshot_20170125-000937](https://cloud.githubusercontent.com/assets/10931958/22261830/70c83532-e294-11e6-800e-9c8eb87e

[2017-01-24 20:06] harshitagupta30 commented on #802
@rhemon Hi what's your progress on the issue? Can I work on this?
@mananwason Can I remove the search bar from the google play app as it serves no purpose?

[2017-01-24 20:45] harshitagupta30 commented on #912
@Dvik What is your progress on this issue? Can I solve this?

[2017-01-24 20:50] harshitagupta30 commented on #916
@mananwason Can I solve this issue?

[2017-01-25 04:30] Dvik commented on #912
@harshitagupta30 yes,please

[2017-01-25 04:56] mananwason commented on #916
@harshitagupta30 Please Go Ahead.

[2017-01-25 04:58] mananwason commented on #802
@harshitagupta30 Please go ahead and remove it from the maps of both the flavors.

[2017-01-25 05:05] mananwason commented on #1046
@arp95 I am not sure what app does that. Please check out other apps before suggesting futile features. Thanks!

[2017-01-25 05:05] mananwason commented on #1054
@ani27 What do you propose?

[2017-01-25 05:09] mananwason commented on #917
No @shreyasnbhat., this has been fixed in #1017. @heysadboy Please refer the correct issue. In #1017 you have referred another PR of yours instead of this issue.

[2017-01-25 05:09] #917 closed

[2017-01-25 05:11] mananwason commented on #1050
@heysadboy Please add screens of the proposed changes before sending PR in UI based issues. Cheers!

[2017-01-25 05:59] arp95 commented on #1046
@mananwason
sure. closing this issue then.

[2017-01-25 08:29] heysadboy commented on #917
@mananwason Got it. Changed the issue name.

[2017-01-25 10:09] #1046 closed

[2017-01-25 10:15] arp95 opened #1055 "Providing Android wear support for the app"
We can provide wear support for the app where the user will be notified with the notifications using a watch face either custom made or already made. Should i continue on this?

[2017-01-25 10:17] the-dagger commented on #1055
Normally the notifications for an event will be displayed automatically on
the watch once the user gets a notification on his/her device.
So this is not an urgent feature that needs to be implemented.
Plus, since the Android wear is limited to only a fraction of the total
Android user base, spending time on building a custom watch face doesn't
makes much sense.

On Wednesday, January 25, 2017, Arp

[2017-01-25 10:59] arp95 commented on #1055
@the-dagger
just asking. Do you mean android wear is dead meaning its not at all useful noeadays?

[2017-01-25 11:25] akshayaggarwal99 opened #1056 "Changing the color scheme"
The color scheme of the app (bright red) is not soothing to eyes.
 Changing it to some light color will make app quite clean.
I have tried using various color combinations. I think white color would be clean and elegant for this app.

Current:
![screenshot_2017-01-25-16-49-16-235_org fossasia openevent](https://cloud.githubusercontent.com/assets/10909540/22288797/7fa79b8a-e31e-11e6-802b-bb1de305a1

[2017-01-25 12:56] ani27 commented on #1054
@mananwason
Whenever map is loaded, same latitude and longitude are extracted from json data. No information is passed about the session from where the map is opened.

I propose that whenever any session is opened in SessionDetailActivity, its Session_id can be updated in sharedPreferences. And in OSMapFragment this Session_id can be used to give exact latitude and longitude of the Session and can

[2017-01-25 13:53] the-dagger commented on #1055
Hey,
Not I didn't imply that wear was dead.
I simply meant that people are still adapting it and the majority of the
user base that we are targeting with this app doesn't fall into the
category of people who might be using wear anyways.
Also we have to keep in mind that wear is still a novelty rather than being
a necessity (like a phone), so perfecting out app for necessity first makes
more sense

[2017-01-25 14:51] harshitagupta30 commented on #802
@mananwason @the-dagger Can I add the share button just like we have on the current playstore app?

[2017-01-25 15:00] arp95 commented on #1055
@the-dagger
i get your point that right now focusing on the phone part makes sense than the wear part.
As i saw many guys solving widget related problems which i think fall in the same category "novelty" as wear does i thought of building for rhe same .
Anyways thanks for clearing my doubt.

[2017-01-25 15:24] the-dagger commented on #1055
Well, widget makes sense imo.
It provides user a easy way to look at the schedule for his events directly
from the home screen without having to open the app.

On Wednesday, January 25, 2017, Arpit Aggarwal <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2017-01-25 15:51] arp95 commented on #1055
@the-dagger
thanks for clearing my doubt.
closing this issue now.

[2017-01-25 15:51] #1055 closed

[2017-01-25 16:43] the-dagger commented on #1056
@mariobehling Does this color scheme looks good

[2017-01-26 07:50] heysadboy commented on #1050
@mananwason @the-dagger Hi. Adding other screenshots also for all the activities where I changed/added dividers and ripples. I also noticed that the ripples were removed after the adding that alphabet circles in the tracks list, so added that also. Do tell if I need to provide any other any information about the issue and related pull request.

[2017-01-26 08:58] #1045 closed

[2017-01-26 09:35] shreyasnbhat opened #1058 "Tabs Not Centred in Landscape Mode in ScheduleFragment and Splash Screen Suggestion"
**Actual Behaviour**
Tabs Align to the left in Landscape Mode.
![img2](https://cloud.githubusercontent.com/assets/19890557/22326385/7c54590e-e3d8-11e6-97be-99c667b5eb92.jpg)

**Expected Behaviour**
![img1](https://cloud.githubusercontent.com/assets/19890557/22326375/62747df2-e3d8-11e6-9386-82628cffe8f2.jpg)

**Steps to reproduce it**
Access Schedule from NavDrawer

**Screenshots of the issue**
Als

[2017-01-26 15:51] arp95 opened #1060 "Change in the toolbar title"
While opening a particular track and viewing its session we get the following layout:

![16326671_10210329826356507_860357726_o](https://cloud.githubusercontent.com/assets/8268392/22338411/4fe3343c-e40d-11e6-91da-7cbca3086fd4.jpg)

However the same is not seen with the location sessions as follows:

![16325784_10210329826636514_1403469076_o](https://cloud.githubusercontent.com/assets/8268392/22338

[2017-01-27 05:25] brainbreaker opened #1061 "Updating of screenshots in Readme file"
App screens in screenshot are old, they should be updated. UI/UX of the application has been improved a lot. New designs will attract newcomers to come and contribute to the project.

[2017-01-27 05:26] mananwason commented on #1061
Go Ahead

[2017-01-27 10:27] mariobehling opened #1062 "Delete files from apk branch if not required"
The development branch holds a number of files. It is unclear if they are needed in this branch, that is basically just there to hold the auto generated apk files e.g. travis, gitignore, kubernetes deployment script.

![screenshot from 2017-01-27 11-25-59](https://cloud.githubusercontent.com/assets/1583873/22367778/9b2075a6-e483-11e6-91e3-28e345b42ec6.png)

[2017-01-27 10:55] mananwason commented on #1062
@mariobehling makes sense but all these files are needed. travis is needed to run the build, meta/deployment/deploy.sh is needed to be run to deploy the apk to the branch as well as for cloud.

We can remove the license at max and move everything else in a seperate folder.

[2017-01-27 18:31] DravitLochan opened #1064 "app crashes when map is selected from navigation drawer"
**Actual Behaviour**

open navigation drawewr and app crashes

**Expected Behaviour**

App should have opened a fragment or something displaying map

**Would you like to work on the issue?**

Yes. I would like to work on this issue

[2017-01-27 19:04] rohanagarwal94 opened #1066 "Generate app button disabled in a particular workflow in app generator"
**Actual Behaviour**

Unable to generate app through generator when following a workflow.

**Expected Behaviour**

The generate android app button should not be disabled.

**Steps to reproduce it**

1. Select a zip file to upload.
2. Select the API endpoint radio button.
3. Select the upload zip file radio button.

**Screenshots of the issue**

![screenshot from 2017-01-28 00-20-45](https://cloud.

[2017-01-27 19:11] harshitagupta30 commented on #1064
Hi @DravitLochan! I checked it on multiple devices but such a thing is not happening on any of them. It would be great if you can add some screenshot / gif along with the **logcat** over here.
Cheers!

[2017-01-27 19:25] free4murad commented on #1064
@DravitLochan
Which device are you using?
Also which build have you installed.

[2017-01-27 19:26] DravitLochan commented on #1064
is the app tested on moto g3? Earlier when I downloaded the apk from release it was giving me this crash. And now I deployed the app from android studio and the app freezes.