[2018-01-06 05:05] khokharnikunj8 opened #2092 "No limit for number of characters in first name and last name of user"
**Actual Behaviour**
We are able to set first name of too many characters which leads to some unexpected behavior..

![screenshot_2018-01-06-10-05-26](https://user-images.githubusercontent.com/22648147/34636626-ff00e572-f2cb-11e7-874c-137a596dd908.png)
<br/>
![screenshot_2018-01-06-10-03-05](https://user-images.githubusercontent.com/22648147/34636641-3a72e740-f2cc-11e7-9030-9af907dec093.png)

<br/

[2018-01-06 06:53] dr0pdb opened #2094 "Use standard naming conventions for AdapterCallback in FeedAdapter"
**Actual Behaviour**

The AdapterCallback variable is named ```mAdapterCallback``` in FeedAdapter

**Expected Behaviour**

It should be named ```adapterCallback```.

**Would you like to work on the issue?**

Yes

[2018-01-06 07:48] dr0pdb opened #2095 "Remove reference to AdapterCallback in FeedFragment to avoid memory leaks"
**Actual Behaviour**

The FeedAdapter contains a reference to the Activity. It isn't disposed in the onStop of FeedFragment.

**Expected Behaviour**

It should be disposed off in the onStop of the FeedFragment to prevent memory leaks.

**Would you like to work on the issue?**

Yes

[2018-01-06 13:27] simarsingh24 opened #2096 "HTML tags are added to description of calendar on saving any session"
**Actual Behaviour**
HTML tags (like `<span>, <p>`) are included in the description of Calendar event on saving any session.
![image](https://user-images.githubusercontent.com/16715499/34640137-303dbac4-f313-11e7-92ce-3fefb6072330.png)

**Expected Behaviour**

HTML tags should not be a part of the calendar event description.

**Steps to reproduce it**

Process the string before adding it in intent

[2018-01-06 18:43] iamareebjamal commented on #2092
It's alright to enforce it here but it really should be implemented at the API level instead

Because it's of no use restricting something which is allowed by the API. As the app is only a frontend and API is the backend

[2018-01-06 18:46] #2090 closed, assigned to nobody

[2018-01-06 18:52] khokharnikunj8 commented on #2092
@iamareebjamal  I agree with you... but at-least for android we should limit the characters.

[2018-01-06 19:01] iamareebjamal commented on #2092
What if a few months later, the server decides to use 64 character limit or something else. This will create an unnecessary issue in the app. We can have a small discussion with them before enforcing standards :smile:

[2018-01-06 19:46] dr0pdb opened #2098 "Make images zoomable throughout the application"
**Actual Behaviour**

Currently only the images inside the FeedFragment are zoomable.

**Expected Behaviour**

All the images should be zoomable.

**Would you like to work on the issue?**

Yes

[2018-01-07 02:51] S2606 opened #2100 "Reduce APK build size"
**Actual Behaviour**

APK build size is around 11.1 MB.

**Expected Behaviour**

Reduce the apk build size to 8.6 MB.

**Would you like to work on the issue?**

Yes

[2018-01-07 06:32] simarsingh24 opened #2101 "Adding resize and crop features to user photo in Edit Profile"
**Actual Behaviour**

Selecting any photo makes it profile picture.

**Expected Behaviour**

Selecting photo should be allowed to crop, zoom etc.

**Steps to reproduce it**

Using library https://github.com/ArthurHub/Android-Image-Cropper

**Would you like to work on the issue?**

Yes!

[2018-01-07 07:36] dr0pdb commented on #2101
@simarsingh24 It has already been implemented in #2057 and is in for review.

[2018-01-07 07:40] simarsingh24 commented on #2101
@srv-twry okay! 👍

[2018-01-07 07:40] #2101 closed, assigned to nobody

[2018-01-07 07:43] iamareebjamal commented on #2100
What is your proposed method of doing so?

[2018-01-07 07:49] S2606 commented on #2100
@iamareebjamal I have used NDK abiFilters in build.gradle

[2018-01-07 08:05] iamareebjamal commented on #2100
We are using Google Play Signing method which automatically splits APKs when uploading to Google Play. Also it requires us to NOT split APKs ourselves for the signing and verification to work

[2018-01-07 08:06] S2606 commented on #2100
Yes it does throw a warning but it just displays the changes took place.

[2018-01-07 08:09] iamareebjamal commented on #2100
Pardon, I couldn't understand what you meant to say

Please refer to this - https://support.google.com/googleplay/android-developer/answer/7384423?hl=en

[2018-01-07 09:45] simarsingh24 opened #2103 "Improve the shared text when session is shared by user"
**Actual Behaviour**

"action_share" generates not properly formatted data.
Following is an example of shared message -

Title: Community meets Business
Start Time: Sat, 18 Mar 2017
End Time: Sat, 18 Mar 2017
Speakers: Speaker = proxy[{id:2280},{name:Michael Meskes},{country:},{email:null},{organisation:credativ international GmbH},{photoUrl:https://storage.googleapis.com/eventyay.com/events/6/spe

[2018-01-07 17:48] dr0pdb commented on #2103
@simarsingh24 Before creating any issue, please check if the issue already exists or not.
Duplicate #1971
Also i was already working on it. Since you've submitted the PR i will let this go but do take care from next time.

[2018-01-07 17:50] simarsingh24 commented on #2103
Okay! I will make sure next time! Thanks :)

[2018-01-07 17:59] #2103 closed, assigned to nobody

[2018-01-07 23:26] #2094 closed, assigned to nobody

[2018-01-08 09:58] simarsingh24 opened #2106 "No progress indication on clicking retry when feed refresh fails in Live Feed"
**Actual Behaviour**

Hitting retry when Live Feed fails to load feed doesn't give any indication of retrying. Also, the swipeRefresh's refreshing inside LiveFeed doesn't stop even after  "Couldnt Refresh" snack message is displayed.

**Expected Behaviour**

Some progress animation should be displayed to the user and swipeRefreshLayout's refreshing should stop when Refresh is failed.

**Steps to r

[2018-01-08 10:30] SparshWadhwa opened #2108 "Another app called Leaks automatically gets download and installed In the device After installing OpenEvent."
**Actual Behaviour**

Whenever I installed Open Event app and started running this , another app called leaks automatically gets downloaded and installed on my device.
And on uninstalling this , the open event app gets uninstalled.
Device tested on : Samsung Galaxy E5

**Expected Behaviour**

It shouldn't gets downloaded and installed when we run the open event app.

**Steps to reproduce it**

Jus

[2018-01-08 10:45] #2108 closed, assigned to nobody

[2018-01-08 13:50] simarsingh24 opened #2109 "Create viewModel for TracksFragment"
**Actual Behaviour**

Tracks Fragment don't have any ViewModel

**Expected Behaviour**

Tracks Fragment should have a viewModel

**Would you like to work on the issue?**

YES

[2018-01-08 14:48] S2606 commented on #2011
@iamareebjamal @heysadboy What do you think?

[2018-01-08 17:16] nikit19 commented on #2109
This issue has already been raised here https://github.com/fossasia/open-event-android/issues/2045
and solved with this pull request https://github.com/fossasia/open-event-android/pull/2055
Please don't create issues that have already been raised

[2018-01-08 17:17] #2109 closed, assigned to nobody

[2018-01-08 19:51] #2062 closed, assigned to nobody

[2018-01-08 19:57] #2100 closed, assigned to nobody

[2018-01-08 19:59] iamareebjamal commented on #2011
Sorry I didn't understand the issue completely?

[2018-01-09 07:46] dr0pdb commented on #2076
@iamareebjamal What do you think ?

[2018-01-09 12:29] iamareebjamal commented on #2076
Yup, please go ahead

[2018-01-09 13:23] nikit19 opened #2110 "Variable is being assigned twice in LocationFragmentViewModel"
**Actual Behaviour**

Live Data variable locations is being assigned twice in LocationFragmentViewModel

**Expected Behaviour**

It should be assigned once

**Would you like to work on the issue?**

Yes

[2018-01-09 13:30] nikit19 opened #2111 "Variable is being assigned twice in SpeakerListFragmentViewModel"
**Actual Behaviour**

Live Data variable speakersList is being assigned twice in SpeakerListFragmentViewModel

**Expected Behaviour**

It should be assigned once

**Would you like to work on the issue?**

Yes

[2018-01-09 14:24] nikit19 opened #2112 "Variables are being assigned twice in AboutFragmentViewModel"
**Actual Behaviour**

Live Data variables eventLiveData and sessions are being assigned twice in AboutFragmentViewModel

**Expected Behaviour**

They should be assigned only once

**Would you like to work on the issue?**

Yes

[2018-01-09 14:33] dr0pdb commented on #2040
@iamareebjamal What do you think ?

[2018-01-09 17:35] codedsun opened #2116 "No Option To Reset Password"
**Actual Behaviour**

Their is no option to reset password

**Expected Behaviour**

Their should be an option for resetting password

**Would you like to work on the issue?**

Yes!

[2018-01-09 17:47] mayank8318 opened #2117 "Implement LiveRealmData for ScheduleFragmentViewModel"
**Actual Behaviour**

LiveRealmData is not implemented yet.

**Expected Behaviour**

Implement LiveRealmData.

**Would you like to work on the issue?**

Yes

[2018-01-09 19:05] dr0pdb opened #2120 "Save and dispose RxSubscription for Observables in FeedFragment"
**Actual Behaviour**

Currently the Subscriptions are not saved when creating and subscribing for observables in FeedFragment.

**Expected Behaviour**

They should be saved in a variable and disposed off in ```onStop```

**Would you like to work on the issue?**

Yes

[2018-01-09 19:17] dr0pdb opened #2121 "Create ViewModel for ChangePasswordActivity"
**Actual Behaviour**

There is no ViewModel for ChangePasswordActivity

**Expected Behaviour**

There should be one.

**Would you like to work on the issue?**

Yes

[2018-01-09 19:19] dr0pdb opened #2122 "Create ViewModel for UserProfileActivity"
**Actual Behaviour**

There is no ViewModel in UserProfileActivity

**Expected Behaviour**

There should be one.

**Would you like to work on the issue?**

Yes!

[2018-01-09 19:19] dr0pdb opened #2123 "Create ViewModel for SignUpActivity"
**Actual Behaviour**

There is no ViewModel in SignUpActivity

**Expected Behaviour**

There should be one.

**Would you like to work on the issue?**

Yes!

[2018-01-09 19:19] dr0pdb opened #2124 "Create ViewModel for LoginActivity"
**Actual Behaviour**

There is no ViewModel in LoginActivity

**Expected Behaviour**

There should be one.

**Would you like to work on the issue?**

Yes!

[2018-01-09 19:20] dr0pdb opened #2125 "Create ViewModel for EditProfileActivity"
**Actual Behaviour**

There is no ViewModel in EditProfileActivity

**Expected Behaviour**

There should be one.

**Would you like to work on the issue?**

Yes!

[2018-01-10 07:11] #2057 closed, assigned to nobody

[2018-01-10 07:43] simarsingh24 opened #2126 "Share multiple sessions details"
**Actual Behaviour**

No option available to share multiple sessions details

**Expected Behaviour**

There should be a way to select multiple sessions and share its details.

**Would you like to work on the issue?**

Yes

[2018-01-10 15:49] iamareebjamal commented on #2126
Not required right now. The functionality is not trivial to app and there are a lot of bugs to be solved and features to be implemented

[2018-01-10 15:52] #2076 closed, assigned to nobody

[2018-01-10 15:55] #2111 closed, assigned to nobody

[2018-01-10 15:57] #2110 closed, assigned to nobody

[2018-01-10 16:26] iamareebjamal commented on #2085
@srv-twry I think this has been fixed now by #2102 ?

[2018-01-10 16:29] #2096 closed, assigned to nobody

[2018-01-10 16:31] dr0pdb commented on #2085
@iamareebjamal No, actually i didn't make these changes since @divyabaid16 had already opened the PR before me. Should i make it in #2102 ?

[2018-01-10 16:33] #2095 closed, assigned to nobody

[2018-01-10 16:35] iamareebjamal commented on #2085
No, I'll merge this after conflicts are resolved

[2018-01-10 18:31] #2056 closed, assigned to nobody

[2018-01-10 18:55] simarsingh24 opened #2129 "App crashes when LiveFeed is refreshed and activity is changed"
**Actual Behaviour**

If LiveFeed fails to load feed and user refreshes feed (via swiping view or hitting snackbar retry) and changes activity while it is refreshing crashes app.

**LogCat for the issue**

`Process: org.fossasia.openevent, PID: 24394
                                                                        io.reactivex.exceptions.CompositeException: 2 exceptions occurred.

[2018-01-10 19:21] #2044 closed, assigned to nobody

[2018-01-10 20:00] dr0pdb opened #2131 "Update LIbrary versions in build.gradle"
**Actual Behaviour**

Some of the external libraries are using older versions.

**Expected Behaviour**

They should be updated to use latest version.
Libraries to be updated : -  Butterknife, leakcanary, play-services-maps, play-services-location

**Would you like to work on the issue?**

Yes

[2018-01-11 09:50] #2131 closed, assigned to nobody

[2018-01-11 14:53] #2085 closed, assigned to nobody

[2018-01-11 16:45] simarsingh24 opened #2134 "Memory leak inside track fragment"
**Actual Behaviour**

Recycler View Instances didn't unregister adapterDataObserver

**Expected Behaviour**

Recycler View should unregister and adapter should be removed

**Would you like to work on the issue?**
yes

[2018-01-11 17:05] dreadpool2 opened #2136 "Redundant method in LocationsFragment"
**Actual Behaviour**

The method `onLocationsDownloadDone` is redundant as it is not used anywhere.

**Expected Behaviour**

The method should not be present.

**Would you like to work on the issue?**

Yes

[2018-01-11 17:36] dr0pdb commented on #2136
@dreadpool2 As far i know it is being used by ```otto``` when you use the swipe to refresh. The ```@Subscribe``` annotation does the trick here.
One more thing that i would recommend doing is tagging the maintainers and asking whether the issue is actually correct and ways to implement it, before starting to work on it. It helps :smile:

[2018-01-11 18:03] dreadpool2 commented on #2136
@srv-twry Oh yes !I again completely ignored the Subscribe annotation  😓

[2018-01-11 18:09] dreadpool2 commented on #1971
@srv-twry Is this issue resolved?

[2018-01-11 18:10] dr0pdb commented on #1971
No, if you intend to work on it then you can

[2018-01-11 20:14] simarsingh24 opened #2137 "Potential memory leak in many fragments"
**Actual Behaviour**

Memory leaks in DayScheduleFragment, FeedFragment, LocationsFragment, ScheduleFragment, SpeakerListFragment, SponsorsFragment, TracksFragment.

Recycler View Instances didn't unregister adapterDataObserver

**Expected Behaviour**

Recycler View should unregister and adapter should be removed

**Would you like to work on the issue?**
yes

[2018-01-12 07:15] #2112 closed, assigned to nobody

[2018-01-12 07:16] #2075 closed, assigned to nobody

[2018-01-12 07:16] #2106 closed, assigned to nobody

[2018-01-12 12:10] #2136 closed, assigned to nobody

[2018-01-13 18:15] raj10071997 opened #2139 "unexpected behavior of snackbar when bookmarking"
**Actual Behaviour**

When we bookmark an event in Schedule fragment sometimes the snackbar is shown twice with the message "bookmark added".

**Expected Behaviour**

The bookmark should only be shown once.

**Steps to reproduce it**

open the app, select the schedule fragment from the navigation bar and when we select the bookmark icon the snackbar must be shown once.

**gif of the issue**
![open

[2018-01-13 18:43] raj10071997 opened #2140 "old password can be set when setting a new password"
**Actual Behaviour**

When we select to change the password the old password can be set again which should not happen.

**Expected Behaviour**

When trying to set the same password , the user must be alerted(using a snackbar) to set some other
password different from the old one.

**Would you like to work on the issue?**

yes

[2018-01-13 18:53] iamareebjamal commented on #2140
This is not defined in the API to disallow user from setting old password, so we can't add this feature

[2018-01-13 18:55] raj10071997 commented on #2140
But this can be implemented in the app itself there is no need to implement it in the API. Just have to check whether the new password matches the previous one. Is it right??

[2018-01-13 19:01] iamareebjamal commented on #2140
It can be implemented but it should not be. We need 1:1 correspondence with API. There is webapp and Orga App as well. If a user can set old password there, and not here, it creates difference in UX of user and hence, either it is added at the API level or it should be left

[2018-01-13 19:04] raj10071997 commented on #2140
ok , then i am closing this issue.

[2018-01-13 19:04] #2140 closed, assigned to nobody

[2018-01-14 07:07] mithlesh4257 commented on #2116
I like to work on the issue.

[2018-01-14 07:08] codedsun commented on #2116
@mithlesh4257 I am currently working on this, if possible try another issues which have not been taken by anybody.

[2018-01-14 07:08] mithlesh4257 commented on #2116
@codedsun great :-)

[2018-01-15 11:41] #2120 closed, assigned to nobody

[2018-01-15 13:42] #2043 closed, assigned to nobody

[2018-01-15 16:36] #2042 closed, assigned to nobody

[2018-01-15 17:08] #2116 closed, assigned to nobody

[2018-01-15 17:12] dr0pdb opened #2143 "Remove redundant Transformation in LocationsFragmentViewModel"
**Actual Behaviour**

The call to Transformations.map in LocationsFragmentViewModel is redundant.

**Expected Behaviour**

It should be removed

**Would you like to work on the issue?**

Yes

[2018-01-15 17:15] dr0pdb opened #2144 "Remove redundant Transformation in SpeakerListFragmentViewModel"
**Actual Behaviour**

The call to Transformations.map in SpeakerListFragmentViewModel is redundant.

**Expected Behaviour**

It should be removed.

**Would you like to work on the issue?**

Yes

[2018-01-15 20:50] #2143 closed, assigned to nobody

[2018-01-15 20:51] #2144 closed, assigned to nobody

[2018-01-16 14:54] dr0pdb opened #2148 "Make the Logging inside FilterableRealmLiveData more informative"
**Actual Behaviour**

Currently the code for logging inside FilterableRealmLiveData is
[code]

The ```getClass().getName()``` call will always return ```FilterableRealmLiveData``` which will make it unclear which Activity/Fragment associated with the FilterableRealmLiveData is actually logged here.

**Expected Behaviour**

 There should be a way for it to know the name of the ViewModel that this F

[2018-01-16 18:36] iamareebjamal commented on #2148
Actually it is not an error if the filtered list is empty. When debugging, we can already see stacktrace and the fragment/activity where the behaviour is happening, so it is not so trivial to handle this and it will also change the structure of class, just for logging purposes

[2018-01-17 02:47] #2148 closed, assigned to nobody

[2018-01-17 07:12] dr0pdb opened #2149 "Improve UI of ViewHolder in SpeakersList RecyclerView"
**Actual Behaviour**

Currently the UI of ViewHolder is not good. The details of the Speaker is displayed on top of the Image of the Speaker. In some cases it leads to a problem as the face of the speaker is hidden completely by the description.

**Expected Behaviour**

The description shouldn't block the face of the speaker.

**Screenshots of the issue**

![screenshot_2018-01-17-12-26-24-42](http

[2018-01-17 10:02] simarsingh24 commented on #2149
@srv-twry why not we use google's contact app UI, what are your views on that?

[2018-01-17 10:08] dr0pdb commented on #2149
@simarsingh24 Can you add a screenshot of what you want to propose ?

[2018-01-17 10:44] iamareebjamal commented on #2149
Yes, I was thinking of the same problem. We can have a staggered grid UI with the textual information below the image and its background color calculated via Palette

[2018-01-17 10:46] #1987 closed, assigned to nobody

[2018-01-17 11:05] S2606 opened #2150 "App crashes on clicking Speakers from Nav Drawer"
**Actual Behaviour**

App Crashes on Selecting Speakers from Navigation Drawer

**Expected Behaviour**

It should not crash

**LogCat for the issue**

FATAL EXCEPTION: main
                                                                    Process: org.fossasia.openevent, PID: 891
                                                                    java.lang.NullPointerException: Attempt to invoke

[2018-01-17 11:10] dr0pdb opened #2151 "Implement SessionDetailsActivityViewModel to use Standard Realm interaction"
**Actual Behaviour**

Currently the SessionDetailsActivityViewModel is having to use intermediate MutableLiveData. Check #2078

**Expected Behaviour**

Convert it into a Standard Realm interaction eradicating the need of MutableLiveData.

**Would you like to work on the issue?**

Yes

[2018-01-17 11:15] dr0pdb commented on #2150
@S2606 The simple solution would be to add a null check for the filterableRealmLiveData in the line
```if (sortType != speakersListSortType) ``` which somehow embarresingly i missed.
Thanks.
PS: Also add an null check before ```filterableRealmLiveData = RealmDataRepository.asFilterableLiveData(realmRepo.getSpeakers(sortOrderSpeaker()));``` as it only needs to be assigned if it is null.

[2018-01-17 11:20] S2606 commented on #2150
@srv-twry I tried but then I get this error

java.lang.NullPointerException: Attempt to invoke virtual method 'void android.arch.lifecycle.LiveData.observe(android.arch.lifecycle.LifecycleOwner, android.arch.lifecycle.Observer)' on a null object reference
                                                                          at org.fossasia.openevent.fragments.SpeakersListFragment.loadData(Spea

[2018-01-17 11:26] dr0pdb commented on #2150
Please convert the getSpeakers method to the below one and try again.
[code]

[2018-01-17 11:29] #2052 closed, assigned to nobody

[2018-01-17 11:30] #2045 closed, assigned to nobody

[2018-01-17 11:44] iamareebjamal opened #2152 "Refactor MainActivity to isolate components into single responsibility"
**Actual Behaviour**

MainActivity is handling tons of different business logic tasks...

**Expected Behaviour**

... that should be distributed over to several single responsibilities components

- [ ] [Implement JSON handling in a separate component](https://github.com/fossasia/open-event-android/issues/2154)
- [ ] [Remove reliance on EventBus Pattern](https://github.com/fossasia/open-event-andr

[2018-01-17 11:46] iamareebjamal opened #2154 "Implement JSON handling in separate component"
**Actual Behaviour**

MainActivity is implementing JSON handling

**Expected Behaviour**

It should be handled in a separate component

Parent Issue : #2152

[2018-01-17 11:47] S2606 commented on #2154
@iamareebjamal By component you mean a different java file??

[2018-01-17 11:51] iamareebjamal opened #2155 "Remove dependency on event bus pattern in MainActivity"
**Actual Behaviour**

EventBus pattern in the app is abused leading to no testability and hence should be removed. The first step would be to remove it from MainActivity where it is majorly used

**Expected Behaviour**

- [ ] Move event handling to a separate component
- [ ] Wire that component with MainActivity through listener
- [ ] Remove event handling in the separate component

This issue may

[2018-01-17 11:52] iamareebjamal commented on #2154
Yes

[2018-01-17 11:52] S2606 commented on #2154
Can I claim this??

[2018-01-17 11:56] iamareebjamal commented on #2154
Please go ahead

[2018-01-17 12:08] dr0pdb opened #2156 "Simplify the logic inside the SessionDetailsActivity and refrain from using SharedPreferences"
**Actual Behaviour**

Currently the logic used for loading by ID and Name can be simplified. Moreover,SharedPreferences has been used throughout the activity in place of using local variables. See #2078

**Expected Behaviour**

The logic should be simplified.
 SharedPreferences should only be used inside onDestroy i.e. when local data variables cannot be used

**Would you like to work on the issue

[2018-01-17 12:16] #2150 closed, assigned to nobody

[2018-01-17 12:24] dr0pdb commented on #2155
@iamareebjamal I would like to work on it.
We do have an open PR regarding creation of ViewModel for this Activity. That should take away some of the complexity from the Activity. Shall i wait for that PR to get updated and merged or start right away ?

[2018-01-17 12:30] iamareebjamal commented on #2155
No, ViewModel is for MainActivity interaction. This kind of handling is unrelated to view and thus should be broken into its own component. Then probably we can use this component in MainActivtiy's ViewModel

[2018-01-17 19:57] SparshWadhwa commented on #2149
I wish to work on this issue ? May I? @srv-twry

[2018-01-17 20:26] dr0pdb commented on #2149
@SparshWadhwa Actually i am working on it. You can claim #2122 if you want. Thanks :smile:
Drop a comment at that issue in case you want to.

[2018-01-18 02:21] simarsingh24 commented on #2124
@srv-twry are you still working on it? If not can i work on it?

[2018-01-18 06:47] mayank8318 opened #2157 "Add undo bookmark option to all snackbars"
**Actual Behaviour**

Undo option is shown for only search, schedule and about screens.

**Expected Behaviour**

It should be shown everywhere to maintain uniformity.

**Steps to reproduce it**

Open any track and click on bookmark.

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/22395998/35084334-7504ea3a-fc49-11e7-952e-06cf4df09750.png)

**Would you like to work

[2018-01-18 06:48] mayank8318 opened #2158 "Improve UI of comments for feed"
**Actual Behaviour**

The current UI for feed can be improved by giving proper dimensions of width and height.

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/22395998/35084392-ba96b114-fc49-11e7-9d49-048959d4208d.png)

**Would you like to work on the issue?**

Yes

[2018-01-18 13:39] dr0pdb commented on #2124
Yes, Please go ahead.

[2018-01-18 14:23] dr0pdb commented on #2155
@iamareebjamal Can you please explain a bit more about what needs to be done.
For eg. let's take the simple context of a ```NoInternetEvent``` event. The ```noInternet``` method below subscribes to the ```NoInternetEvent``` inside the MainActivity and calls a helper function ```downloadFailed``` which shows a snackbar.

[code]

With what i have understood, You want me to put the ```noInternet``` m

[2018-01-18 14:58] iamareebjamal commented on #2155
The problem is deep, the no internet event can be fired from anywhere, so we need to find out from where is it getting fired? Once we have got the event. Let's say it was being fired at the time of JSON downloading, so we need to move it in a component such that it can be encapsulated in one atomic operation. Such as

try {
    downloadFileComponent.startDownloading();
} catch(InternetNotAvailable

[2018-01-18 18:20] dr0pdb opened #2160 "Remove unused copyOfTracks inside TracksListAdapter"
**Actual Behaviour**

There is an unused List<Track> copyOfTracks which is assigned but never used inside the Adapter.
There is also a method setCopyOfTracks which sets this list.

**Expected Behaviour**

Both the List and the method should be deleted.

**Would you like to work on the issue?**

Yes.

[2018-01-18 18:40] #2160 closed, assigned to nobody

[2018-01-18 18:42] iamareebjamal commented on #2073
Fixed in unrelated PR

[2018-01-18 18:42] #2073 closed, assigned to nobody

[2018-01-18 18:44] mani87 commented on #2125
@srv-twry what actually i have to do?
Only add a viewModel?

[2018-01-18 18:47] dr0pdb commented on #2125
Yes, you have to refactor the Activity to use MVVM architecture using the new architecture components. In case you don't know about them, you can always google and learn. You can also find sample implementations for other Activity/Fragment in the code.

[2018-01-18 18:57] dr0pdb opened #2163 "Make speakers image zoomable in SpeakerDetailsActivity"
**Actual Behaviour**

The speaker's image is not zoomable.

**Expected Behaviour**

It should be zoomable.

**Would you like to work on the issue?**

Yes

**Parent issue**

#2098

[2018-01-18 20:42] #2139 closed, assigned to nobody

[2018-01-19 09:05] simarsingh24 commented on #2122
@srv-twry since @SparshWadhwa haven't dropped any comment as per your conversation with him, can i start working on it ?

[2018-01-19 09:08] dr0pdb commented on #2122
@simarsingh24 Yeah, Please go ahead.

[2018-01-19 10:08] dr0pdb opened #2167 "Use the ZoomableImageUtil method for Zoomable Images in FeedFragment"
**Actual Behaviour**

Boilerplate code has been written to show ZoomableImageDialogFragment inside FeedFragment in MainActivity's onZoom method.

**Expected Behaviour**

Since a ZoomableImageUtil class has been added in #2163 , it should be used.

**Would you like to work on the issue?**

Yes

[2018-01-19 10:52] simarsingh24 commented on #2124
It doesn't look like we need ViewModel for LoginActivity right now. @iamareebjamal could you please go through it once and confirm does it really need a ViewModel? Thank you : )

[2018-01-19 11:30] #2137 closed, assigned to nobody

[2018-01-19 11:38] iamareebjamal commented on #2124
@simarsingh24 Any fragment/activity that has an `if` or `for` which are not dealing with *only* views, needs to be refactored in a ViewModel

Right now, we are moving the obvious parts out. And soon, we will refactor more things from the areas which are already made into ViewModels. The plan is to remove every single logic related to API or any other business end from views

[2018-01-19 12:18] iamareebjamal opened #2168 "Undo option is not shown when bookmark is added in ScheduleFragment"
**Actual Behaviour**

Undo option is unavailable when bookmark is added in ScheduleFragment

**Expected Behaviour**

Undo option should be present

**Steps to reproduce it**

Go to Schedule Fragment, add a bookmark

**Would you like to work on the issue?**

No

[2018-01-19 12:58] mithlesh4257 opened #2169 "There should be Forgot Password option."
**Actual Behaviour**
No Forgot Password
Please state here what is currently happening.

**Expected Behaviour**
There should be Forgot Password Option

**Screenshots of the issue**
![whatsapp image 2018-01-15 at 7 07 18 pm 1](https://user-images.githubusercontent.com/22450186/35151956-61ff49f0-fd46-11e7-8643-e9a9f562c51f.jpeg)

[2018-01-19 13:02] mithlesh4257 opened #2170 "FOSSASIA color should be white."
**Actual Behaviour**
FOSSASIA color is grey.
Please state here what is currently happening.

**Expected Behaviour**
FOSSASIA color should be pure white.

**Screenshots of the issue**
![whatsapp image 2018-01-19 at 6 18 13 pm](https://user-images.githubusercontent.com/22450186/35152063-d1b5bec8-fd46-11e7-89c4-a1f526e00d40.jpeg)

**Would you like to work on the issue?**
Yes

[2018-01-19 13:13] nikit19 commented on #2168
I would like to work on this issue

[2018-01-19 14:17] dreadpool2 opened #2171 "Cluttering in TracksSessionsActivity Results view"
**Actual Behaviour**

When there are no results found in the SearchView of `TrackSessionsActivity` and when it is refreshed by swiping down, cluttering of 'No Tracks Yet!' and 'No Results Found' occurs.

**Expected Behaviour**

The cluttering should not occur.

**Screenshots of the issue**

![videotogif_2018 01 19_19 40 41](https://user-images.githubusercontent.com/28607714/35154770-7871704a-fd51-

[2018-01-19 14:41] dr0pdb commented on #2149
@iamareebjamal Can i use Staggered Grid view ? The issue with normal grid layout is variation in the size of the Speaker's textual information.
1. I need to have the same size of image of each speaker
2. I also need to have same height of speaker's textual information.
3. I also need to have the whole item of the same size for all the speakers.

Satisfying all the three is difficult. Instead we ca

[2018-01-19 15:08] iamareebjamal commented on #2170
This is dependent on the event zip and API code, nothing to do with app

[2018-01-19 15:08] #2170 closed, assigned to nobody

[2018-01-19 15:11] iamareebjamal commented on #2168
Please go ahead

[2018-01-19 15:12] #2163 closed, assigned to nobody

[2018-01-19 15:14] iamareebjamal commented on #2149
Yes, I already suggested that above - `We can have a staggered grid UI`

[2018-01-19 15:14] dr0pdb opened #2172 "Fix issue with the Speakers info in SessionDetailsActivity"
**Actual Behaviour**

The details about the Speaker in SessionDetailsActivity is partially hidden.

**Expected Behaviour**

It shouldn't be hidden.

**Screenshots of the issue**

![screenshot_2018-01-19-19-47-06-81](https://user-images.githubusercontent.com/21277837/35157130-0efd61fc-fd59-11e7-9e22-d45d1e322320.png)

Here, the word "Brave Software" which should be shown below the Speaker's name an

[2018-01-19 16:14] #2167 closed, assigned to nobody

[2018-01-19 16:18] simarsingh24 opened #2174 "Option to share a feed from Live Feed"
**Actual Behaviour**

Currently, no option is available to share any feed from LiveFeed.

**Expected Behaviour**

There should be an option to share selected feed.

**Steps to reproduce it**

Adding a button to share the feed.

**Would you like to work on the issue?**

Yes

[2018-01-19 17:16] iamareebjamal commented on #2174
Not a core requirement of the app. There are about a dozen of functionalities in the API which are not in the app currently. Kindly focus on those

[2018-01-19 18:56] simarsingh24 commented on #2168
@iamareebjamal same is true for TracksFragment, SpeakerDetailsActivity, LocationsFragment, and this clashes with issue #2157

[2018-01-20 03:24] iamareebjamal commented on #2168
@simarsingh24 that issue is about adding functionality, whereas, here Undo is shown to when bookmark is removed, but not when added, so it's a bug

[2018-01-20 03:51] #2117 closed, assigned to nobody

[2018-01-20 05:45] simarsingh24 opened #2175 "Nothing happens on selecting DownloadLatestData in menu"
**Actual Behaviour**

Selecting DownloadLatestData menu item does nothing once the data has been downloaded.

**Expected Behaviour**

It should show the data fetch dialog.

**Would you like to work on the issue?**

Yes

@iamareebjamal am not sure if it has been made that way !?

[2018-01-20 08:24] simarsingh24 commented on #2066
@srv-twry are you still on it? If not can i take over it?

[2018-01-20 08:29] simarsingh24 opened #2176 "No maximum limit on user password length"
**Actual Behaviour**

Password has a lower limit of >= 6 but no upper limit.

**Expected Behaviour**

There should be one.

**Would you like to work on the issue?**

Yes

@iamareebjamal what upper limit should be set for the password?

[2018-01-20 08:32] dr0pdb commented on #2066
Yes, i intend to work on it. Actually i have a PR on another issue in which i have a doubt. I have the same doubt in this issue also. Once that doubt is cleared and that PR is merged, i will fix this one also.
Thanks

[2018-01-20 09:21] dr0pdb commented on #2175
@simarsingh24 Can you please attach a GIF of the issue. I didn't understand what you mean by

[2018-01-20 11:50] mayank8318 opened #2178 "Subtitle is not visible"
**Actual Behaviour**

Subtitle occupies space but text is not visible.

**Expected Behaviour**

Text should be visible.

**Steps to reproduce it**

There is one track in Exhibition. (screenshot)

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/22395998/35183077-2f6dd8ce-fe06-11e7-9fc8-be14b318af09.png)

**Would you like to work on the issue?**

Yes

[2018-01-20 13:59] jindalAnuj commented on #2168
Can I work on this issue also. As I have seen the issue is not assigned yet.

[2018-01-20 14:01] simarsingh24 commented on #2168
@anideveloper @nikit19  is already working on it. please find some other issue :)

[2018-01-20 15:04] dr0pdb opened #2180 "Reformat code in all the required Classes and XML in the project"
**Actual Behaviour**

~~After #2179 , the code inside ```item_speaker.xml``` isn't properly formatted. It was left  untouched so that it's easier for the reviewer to review the code.~~
Reformat code in all the required classes and xml files in the project wherever needed.

**Expected Behaviour**

The code should be properly formatted.

**Would you like to work on the issue?**

Yes

[2018-01-20 16:49] Anandra-Singh commented on #2176
I would like to work on this issue what should be the upper limit.

[2018-01-20 17:36] iamareebjamal commented on #2180
Change to refactor the formatting of all required classes and XML in the project. Also only refactor those classes which have formatting issues because sometimes we intentionally deviate from standard style to make it more readable

[2018-01-20 17:38] iamareebjamal commented on #2176
There should be no upper limit on the password. Read comment in this PR and issue for more info -> https://github.com/fossasia/open-event-android/pull/2093

[2018-01-20 17:58] #2176 closed, assigned to nobody

[2018-01-20 18:14] Anandra-Singh commented on #2176
Ok I got it

On Jan 20, 2018 11:28 PM, "Harsimar" <notifications@github.com> wrote:

[2018-01-20 19:16] #2051 closed, assigned to nobody

[2018-01-20 19:23] #1971 closed, assigned to nobody

[2018-01-20 19:24] #2121 closed, assigned to nobody

[2018-01-20 20:19] dr0pdb commented on #2124
Sorry about this, i linked the wrong issue.

[2018-01-21 05:01] simarsingh24 commented on #2175
@srv-twry here is the gif you request for
![videotogif_2018 01 21_10 23 43](https://user-images.githubusercontent.com/16715499/35191009-28431682-fe96-11e7-8f39-1399b0e7a3f7.gif)

i am not sure if its a bug or its made that way?

[2018-01-21 05:04] simarsingh24 commented on #2125
@srv-twry Would you mind if I start working on it?

[2018-01-21 08:18] nikit19 opened #2182 "Properly format the text in error dialog"
**Actual Behaviour**

Text is not properly formatted in the error dialog

**Expected Behaviour**

Text should be formatted properly with spaces wherever required.

**Screenshots of the issue**
![screenshot_20180121-134403](https://user-images.githubusercontent.com/20878145/35192132-a0731c4a-feb1-11e7-9100-b4f8cfbcc678.png)

**Would you like to work on the issue?**

Yes

[2018-01-21 09:34] jindalAnuj opened #2183 "Image in the Top Right Corner"
**Actual Behaviour**

Image of the speakers at top right. It can be seen that only image of those speakers are wrong whom are positioned at 2nd position of new letter like A, C, F.

**Expected Behaviour**

image should have some proper margin like other speakers image

**Screenshots of the issue**

I have Marked the problem in Screenshots

![ScreenShot 1](https://user-images.githubusercontent.com/

[2018-01-21 10:51] nikit19 opened #2185 "Bookmarked events aren't visible in Aboout Fragments"
**Actual Behaviour**

Bookmarked events aren't visible in Aboout Fragments

**Expected Behaviour**

They should be visible
**Steps to reproduce it**

Bookmark events and then view it in the about fragment

**Screenshots of the issue**
![screenshot_20180121-162003](https://user-images.githubusercontent.com/20878145/35193340-0b9bb904-fec7-11e7-9c67-e8b7720f3e71.png)

**Would you like to work on the

[2018-01-21 11:08] dr0pdb commented on #2183
@jindalAnuj I am working on moving from a grid layout to a staggered grid layout, so this issue will be solved in that PR automatically.
You can close this one :smile:

[2018-01-21 11:10] dr0pdb commented on #2125
@simarsingh24 I think it will too early. It has only been 3 days since @mani87 claimed it. Let's give him some more time, atleast a week. If there is no response from him, then you can claim it.

[2018-01-21 13:19] jindalAnuj opened #2187 "Change Sign Up Text"
**Actual Behaviour**

There  is Only SignUp Text in the Drawer

**Expected Behaviour**
there should be Signup/login as text such that everyone can

**Steps to reproduce it**

will change String in drawer.xml
Replace SignUp ---> Login/SignUp

**Would you like to work on the issue?**

Yes.

[2018-01-21 13:29] dr0pdb commented on #2187
Duplicate #2034 , so please close this.
Before creating any issue, please check if the issue exists or not.

[2018-01-21 13:39] #2168 closed, assigned to nobody

[2018-01-21 13:40] #2182 closed, assigned to nobody

[2018-01-21 13:42] #2187 closed, assigned to nobody

[2018-01-21 15:29] nikit19 opened #2188 "Empty app is created when 404 error occurs"
**Actual Behaviour**

If you run the app for the first time and error 404 is encountered, an empty app is created with no values

**Expected Behaviour**

Events and values should be created from the JSON file that is stored in the app instead of keeping those values as null.

**Steps to reproduce it**

Clear data.
Open the app.
Click on yes when asked to download the latest schedule.

**Screenshot

[2018-01-21 18:50] #2185 closed, assigned to nobody

[2018-01-21 20:26] #1989 closed, assigned to nobody

[2018-01-21 21:09] #2053 closed, assigned to nobody

[2018-01-21 21:20] dr0pdb opened #2191 "Remove instance of Realm database inside the SearchActivity"
**Actual Behaviour**

There is an instance of the Realm repository inside the SearchActivity

**Expected Behaviour**

It shouldn't be there and was missed when adding the ViewModel

**Would you like to work on the issue?**

Yes

[2018-01-21 22:59] #2191 closed, assigned to nobody

[2018-01-21 22:59] #2188 closed, assigned to nobody

[2018-01-22 07:52] dr0pdb commented on #1974
@iamareebjamal Can i take this since the PR has been inactive for a long time ?

[2018-01-22 08:08] dr0pdb commented on #1724
@iamareebjamal Since there hasn't been any progress on this issue from @codedsun , I would like to claim this.

[2018-01-22 08:47] iamareebjamal commented on #1724
Please go ahead

[2018-01-22 08:48] iamareebjamal commented on #1974
Please go ahead

[2018-01-22 10:23] simarsingh24 commented on #2175
@srv-twry did you doing it? and should it open an download dialog again?

[2018-01-22 13:06] #2178 closed, assigned to nobody

[2018-01-22 13:26] iamareebjamal commented on #2175
It should open again for downloading

[2018-01-22 15:20] samagra14 commented on #2014
@iamareebjamal I am interested to work on the issue. Please guide me through the necessary details such as the initial point of migration.

[2018-01-22 16:31] dr0pdb commented on #1974
I am not sure adding the timezone to the Action bar works.

![screenshot_2018-01-22-21-50-36-51](https://user-images.githubusercontent.com/21277837/35231772-a8c8991a-ffbf-11e7-9b92-bcfc47fbdc01.png)

[2018-01-22 18:21] iamareebjamal commented on #1974
Try subtitle

[2018-01-22 18:23] iamareebjamal commented on #2014
@samagra14 There are multiple sub-issues linked to this issue #2015 #2016 #2017

You can visit those for more information. #2015 has already seen many contributions and you can follow suit. There are already many open sub-issues for that issue as well, so you can take up any of those

[2018-01-22 18:51] simarsingh24 opened #2195 "Moving IS_DOWNLOAD_DONE logic inside methods in MainActivity"
**Expected Behaviour**

`IS_DOWNLOAD_DONE` should be set true or false inside the methods `downloadFromAssest()` and `downloadFromNetwork()` depending on whether these events were successful or not.

**Would you like to work on the issue?**

Yes

This way we don't have to put some value in it every time we call this function like we are doing here inside mainActivity
 `if (Utils.isBaseUrlEmpty())

[2018-01-22 19:13] dr0pdb commented on #1841
For some reason this issue wasn't automatically closed on merge.
@iamareebjamal Please close this as it has been done. Thanks.

[2018-01-22 20:13] dr0pdb commented on #2124
@simarsingh24 Are you working on it ? otherwise , i will take it on and finish it.

[2018-01-22 21:28] iamareebjamal commented on #1841
Closed by #2084

[2018-01-22 21:28] #1841 closed, assigned to nobody

[2018-01-23 00:48] #2123 closed, assigned to nobody

[2018-01-23 02:20] simarsingh24 commented on #2124
@srv-twry since I haven't started yet, please go ahead :)

[2018-01-23 08:23] samagra14 commented on #2014
@iamareebjamal thanks. I will begin contributing to the data layer, starting with migration to Room and using LiveData components. I will reach you out for any guidance if I am stuck and feedback on my work.

[2018-01-23 08:25] samagra14 commented on #2028
@codedsun What is your progress on this issue ?

[2018-01-23 13:01] iamareebjamal commented on #2028
@samagra14 Please refer to my comment in #2014 regarding data layer

[2018-01-23 13:04] iamareebjamal commented on #2014
That's why I didn't want to replicate the issue here.

@samagra14 As you can read about data layer written above

It is not something we can incrementally change, and thus it will be solved using a library we'll make

[2018-01-23 13:20] samagra14 commented on #2031
@codedsun Are you still working on the issue?

[2018-01-23 13:25] dr0pdb commented on #2031
@samagra14 I think it has been way too long without any updates. Please go ahead and finish this off. We have a lot of pending work and we should finish creating the ViewModel quickly so that we can move to the next step.

[2018-01-23 13:26] samagra14 commented on #2031
@srv-twry I have started working on this issue. I will submit a PR positively by tomorrow.

[2018-01-23 13:30] samagra14 commented on #2031
@srv-twry I found that the code is very poorly documented. There are no exclusive comments for methods as such and to get an idea of any method, we have to look at its implementation. I hope work should be done in that direction also as it will get difficult as the size grows. Please let me know your views on this.

[2018-01-23 13:32] dr0pdb commented on #2031
@samagra14 Please create a new issue for it and we can discuss it there. This isn't the best place for it.

[2018-01-23 14:49] dr0pdb opened #2198 "Remove redundant casting in the project"
**Actual Behaviour**

There are redundant casting reports by Android studio inside setUpcomingSessionsDialog method of LocationActivity and in many more places. Moreover onClickListener can be converted to use lambda expression.
Eg.

[code]

**Expected Behaviour**

Remove redundant casting and use lambda expressions

**Would you like to work on the issue?**

Yes

[2018-01-23 16:39] dr0pdb opened #2200 "Refactor the SignUpActivityViewModel and remove all usage of Pair from ViewModels"
**Actual Behaviour**

Currently the Pair class is being used inside the SignUpActivityViewModel. Also it has code used by both itself and LoginActivity.

**Expected Behaviour**

Pair shouldn't be used as it is android specific. Also remove it's usage in other ViewModels.
Delete common methods and use the common code present in AuthUtils.

**Would you like to work on the issue?**

Yes

Can only be

[2018-01-23 17:28] iamareebjamal commented on #2200
Also remove from anywhere else if used

[2018-01-23 17:28] dr0pdb commented on #2200
Sure.

[2018-01-23 19:24] #2198 closed, assigned to nobody

[2018-01-23 20:35] mayank8318 opened #2202 "Shift bindView of SessionListAdapter to its view holder"
**Actual Behaviour**

Currently bindView is written in the adapter itself.

**Expected Behaviour**

Shift bindView to its view holder class as is done in other adapters.

**Would you like to work on the issue?**

Yes

[2018-01-23 20:37] mayank8318 opened #2203 "Add some bottom padding to About Me card"
**Actual Behaviour**

There is no bottom padding for About Me card.

**Expected Behaviour**

There should be sufficient bottom padding as the top padding.

**Steps to reproduce it**

Open any speaker who has an About Me section

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/22395998/35299436-54026644-00ab-11e8-91be-f3659aa1dc72.png)

**Would you like to work on t

[2018-01-24 08:26] #2157 closed, assigned to nobody

[2018-01-24 09:15] dr0pdb opened #2204 "Replace String concatenation with placeholders in the project"
**Actual Behaviour**

There are a lot of instances of string concatenation inside the setText argument.

**Expected Behaviour**

These can and should be replaced by Placeholders in String resources.

**Would you like to work on the issue?**

Yes

@iamareebjamal What do you think ?

[2018-01-24 09:47] samagra14 commented on #2031
@srv-twry I have opened a PR. Please take a look.

[2018-01-24 10:23] harshitbansal05 opened #2207 "Addition of a scroll back fab in speakers list fragment"
**Actual Behaviour**

As is evident, the list of speakers is quite long and there is no way to go immediately very bottom or to the top(if at bottom).

**Expected Behaviour**

So there must be a **scroll to top** fab button as the user scrolls down. Other alternative is providing a list of alphabets on the right end, where tapping on a alphabet scrolls down to that part of the list.

**Would you l

[2018-01-24 10:34] harshitbansal05 opened #2208 "UI bugs in Speakers fragment."
**Actual Behaviour**

Text is cutting where the title of organisation is displayed. Also, it looks weird as if both titles are on the same layout. Also, due to difference in length of the organisations' name, one image shifts below the other.

**Expected Behaviour**

Text must not be cut, and titles' layout must be properly separated. Also two images in a row must be at the same level.

**Screensh

[2018-01-24 10:36] harshitbansal05 commented on #2207
@srv-twry what's your opinion?

[2018-01-24 10:59] dr0pdb commented on #2207
@harshitbansal05 Yes, a good suggestion. @iamareebjamal What do you think ?

[2018-01-24 11:03] dr0pdb commented on #2208
@harshitbansal05 Please check for duplicates before creating issues. I am already working on improving the overall UI of this activity.
Duplicate: #2149

[2018-01-24 11:28] harshitbansal05 commented on #2208
sorry, i did'nt have a look at it @srv-twry

[2018-01-24 11:31] dr0pdb commented on #2208
No problem, something to keep in mind from next time :smile: . Please close this now.

[2018-01-24 11:32] #2208 closed, assigned to nobody

[2018-01-24 15:50] simarsingh24 commented on #2195
@iamareebjamal would it be a good idea?

[2018-01-24 18:05] iamareebjamal commented on #2204
Please go ahead

[2018-01-24 18:06] iamareebjamal commented on #2207
We can add an alphabetic fast scroll thumb as present in Contacts App

[2018-01-24 18:19] simarsingh24 opened #2209 "use liveDataWrappers and observers inside SessionDetailActivityViewModel"
**Actual Behaviour**

SessionDetailActivity is using onChangeListeners

**Expected Behaviour**

It should use Observers and LiveDataWrapper

**Would you like to work on the issue?**

Yes

[2018-01-24 18:21] iamareebjamal commented on #2195
Or, it should only be set to true if any of the method succeeds

[2018-01-24 18:22] simarsingh24 commented on #2195
@iamareebjamal Yes! i am working on it :)

[2018-01-24 18:31] iamareebjamal commented on #2209
Umm. If they are not to be used in views, they shouldn't be wrapped in LiveData, we are not really reacting to their changes

[2018-01-24 18:33] #2180 closed, assigned to nobody

[2018-01-24 22:44] #2124 closed, assigned to nobody

[2018-01-24 22:54] #1973 closed, assigned to nobody

[2018-01-24 22:56] #1959 closed, assigned to nobody

[2018-01-24 22:58] iamareebjamal commented on #2034
@srv-twry Let's help close old bugs first

[2018-01-24 22:58] iamareebjamal commented on #2036
@nikit19 Status?

[2018-01-24 22:59] #1631 closed

[2018-01-24 23:00] #1688 closed

[2018-01-24 23:00] #1706 closed

[2018-01-24 23:00] iamareebjamal commented on #1708
Yes it is

[2018-01-24 23:01] #1718 closed

[2018-01-24 23:02] #1776 closed, assigned to arp95

[2018-01-24 23:02] #1795 closed, assigned to nobody

[2018-01-24 23:04] #1837 closed, assigned to nobody

[2018-01-24 23:04] #1969 closed, assigned to nobody

[2018-01-24 23:05] #2046 closed, assigned to nobody

[2018-01-24 23:06] iamareebjamal commented on #2098
@srv-twry Should this be closed?

[2018-01-24 23:06] #2209 closed, assigned to nobody

[2018-01-24 23:07] #2183 closed, assigned to nobody

[2018-01-24 23:08] dr0pdb commented on #2098
I'll try and search for images that aren't zoomable yet. If not found, then i will close it.

[2018-01-25 01:54] nikit19 commented on #2036
Will send the PR today

[2018-01-25 04:26] harshitbansal05 commented on #2207
may I start working on it @srv-twry?

[2018-01-25 06:43] #2149 closed, assigned to nobody

[2018-01-25 08:09] dr0pdb commented on #2207
Sure, please go ahead.

[2018-01-25 11:34] mani87 commented on #2154
@iamareebjamal Can i reopen this as no one is doing the same.

[2018-01-25 15:09] dr0pdb opened #2215 "java.lang.IllegalStateException: Required view 'linear_layout_speaker_list_info' not found"
**Actual Behaviour**

On opening the Schedule fragment and clicking on any of the session gives the java.lang.IllegalStateException.

**Expected Behaviour**

The app shouldn't crash.

**Steps to reproduce it**

Open schedule fragment and click on any session.

**LogCat for the issue**

[code]

**Would you like to work on the issue?**

Yes

**Extra information**

This issue was created as a side ef

[2018-01-25 20:30] #2200 closed, assigned to nobody

[2018-01-25 20:31] iamareebjamal commented on #2154
Let's wait on this. I will be moving with the refactor of MainActivity myself and then handle this

[2018-01-25 20:34] #2034 closed, assigned to nobody

[2018-01-25 20:36] #2215 closed, assigned to nobody

[2018-01-26 06:54] vidu171 commented on #2169
can I start Working on this?

[2018-01-26 09:42] nikit19 opened #2219 "Unnecessary elements showing up while sharing speaker details"
**Actual Behaviour**

Unnecessary elements are showing up while sharing the speaker details.

**Expected Behaviour**

Only the relevant details should show up like the name of the session and session details

**Steps to reproduce it**

Open speaker details activity and select share from options menu

**Screenshots of the issue**

![screenshot_20180126-150845](https://user-images.githubusercontent.

[2018-01-26 09:57] dr0pdb opened #2220 "Make composite disposable final inside the whole project"
**Actual Behaviour**

The CompositeDisposable's in the ScheduleFragment and MainActivity are not final. May be there are other instances of this too.

**Expected Behaviour**

They should be made final.

**Would you like to work on the issue?**

~~Yes~~
No
To be done by beginners (Less than 5 commits in this project)

[2018-01-26 11:11] nikit19 opened #2221 "SnackBar messages are not visible in SpeakerDeatailsActivity"
**Actual Behaviour**

SnackBar messages are not visible in SpeakerDeatailsActivity when you bookmark a session

**Expected Behaviour**

They should be visible

**Steps to reproduce it**

Open speaker details activity and bookmark a session

**Screenshots of the issue**

![screenshot_20180126-163955](https://user-images.githubusercontent.com/20878145/35437269-a6931a62-02b7-11e8-8e36-0870c6a03f88.pn

[2018-01-26 11:41] mayank8318 opened #2222 "Keyboard should pop up automatically in Login and Register"
**Actual Behaviour**

Keyboard doesn't pop up automatically in login and register.

**Expected Behaviour**

It should pop up automatically.

**Steps to reproduce it**

Open Login or Register

**Would you like to work on the issue?**

Yes

[2018-01-26 11:48] harshitbansal05 commented on #2207
@srv-twry @iamareebjamal should i use the recycler view fast scroll widget or place a list of alphabets on the end, where tapping on a alphabet takes you to that part of that list.

[2018-01-26 12:49] dr0pdb opened #2223 "Write tests for SpeakersListFragmentViewModel"
**Actual Behaviour**

The SpeakersListFragmentViewModel has no tests written for it.

**Expected Behaviour**

There should be tests written for it.

**Would you like to work on the issue?**

Yes

**Parent issue**

#2017

[2018-01-26 12:50] dr0pdb opened #2224 "Write tests for SponsorsFragmentViewModel"
**Actual Behaviour**

The SponsorsFragmentViewModel has no tests written for it.

**Expected Behaviour**

There should be tests written for it.

**Would you like to work on the issue?**

Yes

**Parent issue**
#2017

[2018-01-26 12:51] mayank8318 opened #2225 "Write View Model test for AboutFragmentVM"
**Expected Behaviour**

Write tests for AboutFragmentVM

**Would you like to work on the issue?**

Yes

**Parent issue**
#2017

[2018-01-26 12:51] dr0pdb opened #2226 "Write tests for TrackSessionActivityViewModel"
**Actual Behaviour**

The TrackSessionActivityViewModel has no tests written for it.

**Expected Behaviour**

There should be tests written for it.

**Would you like to work on the issue?**

Yes

**Parent issue**
#2017

[2018-01-26 12:51] dr0pdb opened #2227 "Write tests for TracksFragmentViewModel"
**Actual Behaviour**

The TracksFragmentViewModel has no tests written for it.

**Expected Behaviour**

There should be tests written for it.

**Would you like to work on the issue?**

Yes

**Parent issue**

#2017

[2018-01-26 12:52] dr0pdb opened #2228 "Write tests for ChangePasswordActivityViewModel"
**Actual Behaviour**

The ChangePasswordActivityViewModel has no tests written for it.

**Expected Behaviour**

There should be tests written for it.

**Would you like to work on the issue?**

Yes

**Parent issue**

#2017

[2018-01-26 12:53] mayank8318 opened #2229 "Write tests for LocationsFragmentVM"
**Expected Behaviour**

Write tests for LocationsFragmentVM.

**Would you like to work on the issue?**

Yes

**Parent issue**
#2017

[2018-01-26 12:53] dr0pdb opened #2230 "Write tests for LoginActivityViewModel"
**Actual Behaviour**

The LoginActivityViewModel has no tests written for it.

**Expected Behaviour**

There should be tests written for it.

**Would you like to work on the issue?**

Yes

**Parent issue**

#2017

[2018-01-26 12:53] dr0pdb opened #2231 "Write tests for SignUpActivityViewModel"
**Actual Behaviour**

The SignUpActivityViewModel has no tests written for it.

**Expected Behaviour**

There should be tests written for it.

**Would you like to work on the issue?**

Yes

**Parent issue**

#2017

[2018-01-26 12:54] mayank8318 opened #2232 "Write tests for ScheduleFragmentVM"
**Expected Behaviour**

Write tests for ScheduleFragmentVM.

**Would you like to work on the issue?**

Yes

**Parent issue**
#2017

[2018-01-26 12:54] dr0pdb commented on #2229
@mayank8318 Please also link the parent issue :)

[2018-01-26 12:55] mayank8318 opened #2233 "Write tests for SearchActivityVM"
**Expected Behaviour**

Write tests for SearchActivityVM.

**Would you like to work on the issue?**

Yes

**Parent issue**
#2017

[2018-01-26 12:58] mayank8318 opened #2234 "Write tests for SessionsDetailActivityVM"
**Expected Behaviour**

Write tests for SessionsDetailActivityVM

**Would you like to work on the issue?**

Yes

**Parent issue**
#2017

[2018-01-26 13:00] mayank8318 opened #2235 "Write tests for SpeakerDetailVM"
**Expected Behaviour**

Write tests for SpeakerDetailVM.

**Would you like to work on the issue?**

Yes

**Parent issue**
#2017

[2018-01-26 13:02] mayank8318 opened #2236 "Write tests for FeedFragmentVM"
**Expected Behaviour**

Write tests for FeedFragmentVM.

**Would you like to work on the issue?**
Yes

To be done after PR #2047

**Parent issue**
#2017

[2018-01-26 16:45] dr0pdb commented on #2017
@iamareebjamal How would you recommend writing unit tests for those ViewModels which use Realm ?
Should we mock the realm database ?

Right now the constructor of these ViewModel initialises the Realm instance
For eg.
[code]
We can't create a mock Realm in-memory instance to test this ViewModel. I think we should introduce dependency injection in the project so that we could pass the Realm Instanc

[2018-01-26 17:53] nikit19 opened #2239 "SnackBar messages are not visible in LocationsActivity"
**Actual Behaviour**

SnackBar messages are not visible in LocationsActivity when you bookmark a session

**Expected Behaviour**

They should be visible

**Steps to reproduce it**

Open LocationsActivity and bookmark a session

**Would you like to work on the issue?**

Yes

[2018-01-26 17:56] nikit19 opened #2240 "SnackBar messages are not visible in SearchActivity"
**Actual Behaviour**

SnackBar messages are not visible in SearchActivity when you bookmark a session

**Expected Behaviour**

They should be visible

**Steps to reproduce it**

Open SearchActivity and bookmark a session

**Would you like to work on the issue?**

Yes

[2018-01-26 19:34] shivaraju07 opened #2241 "There is no toast displayed while bookmarking in Speakers Section"
**Actual Behaviour**

In Speakers Section under any selected person if we are bookmarking his/her sessions toast should be displayed.

**Expected Behaviour**

Toast should be displayed like in other sections

**Would you like to work on the issue?**

Yes

[2018-01-26 19:41] nikit19 commented on #2241
This issue has already been created.
See this https://github.com/fossasia/open-event-android/issues/2221

[2018-01-26 20:20] shivaraju07 commented on #2241
ya @nikit19 I got it.

[2018-01-26 21:00] shivaraju07 opened #2246 "unnecessary underlined font in pop up while sort by function is used"
**Actual Behaviour**

In Schedule section, while you are selecting for sort by option there you will see an underlined fonts of ASCENDING and DESCENDING

**Expected Behaviour**

Expected is to disable the underlined font.

**Would you like to work on the issue?**

yes

**Screenshots of the issue**

![media-20180126](https://user-images.githubusercontent.com/18509469/35460407-ea1936c0-0309-11e8-812

[2018-01-26 21:13] shivaraju07 commented on #2222
@mayank8318 if it automatically pop's up we can't see the sign-up button which is at the bottom of the screen.

[2018-01-26 21:15] dr0pdb commented on #2241
@shivaraju07 Please close this issue now that you know this issue already exists.

[2018-01-26 21:18] dr0pdb commented on #2246
@shivaraju07 I think it has been done on purpose.

[2018-01-26 21:22] shivaraju07 commented on #2246
then why the Descending word is not underlined.
If anyone of the options is selected it is highlighted by red color then why there is the use of underline?

[2018-01-26 21:24] dr0pdb commented on #2246
Only the selected word is underlined.

Because there is no harm in adding two indicators.
If you still think it's a problem, then let's wait for @iamareebjamal to confirm.

[2018-01-26 21:29] shivaraju07 commented on #2246
@srv-twry  Ok

[2018-01-26 21:42] #2241 closed, assigned to nobody

[2018-01-26 22:03] shivaraju07 opened #2247 "Tiles in Speaker section are uneven"
**Actual Behaviour**

The tiles (which shows the name, photo) in speaker section are uneven

**Expected Behaviour**

I Think All should be given the same size to look nice

**Would you like to work on the issue?**
yes

**Screenshots of the issue**

![media-20180126](https://user-images.githubusercontent.com/18509469/35462628-c5fe1496-0312-11e8-9fb6-e47a517d938d.jpg)

[2018-01-26 22:19] #2221 closed, assigned to nobody

[2018-01-26 22:21] iamareebjamal commented on #2017
Right now it'll require a lot of effort to do so. Create a package protected method to set RealmRepo and set mock implementation through it

[2018-01-26 22:22] iamareebjamal commented on #2017
Also, let's focus on pre-assigned issues first, because we need to move away from maintenance mode to feature development mode. We are very behind in implementing the API

[2018-01-26 22:28] iamareebjamal commented on #2247
This is intended. It is called Staggered Grid Layout

[2018-01-26 22:28] dr0pdb commented on #2247
@shivaraju07 They have been made uneven on purpose. It's a staggered layout. Please check #2149 and close this.

[2018-01-26 22:28] #2247 closed, assigned to nobody

[2018-01-26 22:30] iamareebjamal commented on #2246
I can't find the issue where this was discussed, it is not a standard to underline. But still we need to find the reason why it was done before reverting

[2018-01-26 22:31] iamareebjamal commented on #2222
Yes, let's not automate these many things. It's obtrusive to user experience

[2018-01-26 22:31] #2240 closed, assigned to nobody

[2018-01-26 22:32] #2239 closed, assigned to nobody

[2018-01-26 22:34] iamareebjamal commented on #2207
Use FastScroller

[2018-01-26 23:05] shivaraju07 opened #2248 "Upcoming function is not working in tracks section"
**Actual Behaviour**

while selecting any track upcoming track is not working.

**Expected Behaviour**

I think it should be displayed as it is shown in location section.

**Would you like to work on the issue?**

Yes

[2018-01-27 04:39] simarsingh24 commented on #2125
@srv-twry since its been more than a week and there is no update from @mani87, should i solve it !?

[2018-01-27 04:46] simarsingh24 commented on #2248
@shivaraju07 can you attach a gif for the same

[2018-01-27 07:36] shivaraju07 commented on #2248
![gif-180127_125608](https://user-images.githubusercontent.com/18509469/35469775-b1eec414-0362-11e8-8bd7-c7c691f0f3b5.gif)

[2018-01-27 08:04] the-dagger commented on #2224
@srv-twry Can we have a single parent issue for this?
Create a single PR that covers these test cases, no need to open multiple issues for every file.
I'm closing these issues.

[2018-01-27 08:04] #2224 closed, assigned to nobody

[2018-01-27 08:05] #2223 closed, assigned to nobody

[2018-01-27 08:05] #2225 closed, assigned to nobody

[2018-01-27 08:05] #2226 closed, assigned to nobody

[2018-01-27 08:05] #2227 closed, assigned to nobody

[2018-01-27 08:05] #2228 closed, assigned to nobody

[2018-01-27 08:05] #2229 closed, assigned to nobody

[2018-01-27 08:05] #2230 closed, assigned to nobody

[2018-01-27 08:05] #2231 closed, assigned to nobody

[2018-01-27 08:05] #2232 closed, assigned to nobody

[2018-01-27 08:05] #2233 closed, assigned to nobody

[2018-01-27 08:05] #2234 closed, assigned to nobody

[2018-01-27 08:05] #2235 closed, assigned to nobody

[2018-01-27 08:05] #2236 closed, assigned to nobody

[2018-01-27 08:11] dr0pdb commented on #2224
Sure.

[2018-01-27 08:12] dr0pdb commented on #2017
Ok, will do this after those issues.

[2018-01-27 08:25] shivaraju07 commented on #2246
@iamareebjamal  should I remove it or should we add a `later` label to this issue.

[2018-01-27 08:55] simarsingh24 opened #2249 "Adding "Ticket System" to the app"
**Current Behaviour**
The API is returning ticket related information with the event which is currently unutilised by the App

**Expected Behaviour**

The App should exploit ticket related info.

**Would you like to work on the issue?**

Yes

@iamareebjamal  what are your views?

[2018-01-27 09:07] dr0pdb commented on #2125
Yes, please go ahead.

[2018-01-27 09:10] jindalAnuj opened #2250 "Configure progaurd"
**Actual Behaviour**

progaurd is not enabled

**Expected Behaviour**

Progaurd should be enabled

**Steps to reproduce it**

will configure app gradle  and enable shrinkResources

**Would you like to work on the issue?**

yes

[2018-01-27 09:56] jindalAnuj opened #2252 "Update profile image EditProfile Activity"
**Actual Behaviour**

There is no clue that user can edit his/her Profile image most of user ending up with only editing his /her name

**Expected Behaviour**

There should be a pensil typr icon on bottom of image so that user knows that he or she can edit thier default profile

**Steps to reproduce it**

will add editing indicator

**Screenshots of the issue**
<p>
<img src="https://user-images.gi

[2018-01-27 10:08] simarsingh24 opened #2253 "No option to remove "Profile Image" inside EditProfile"
**Actual Behaviour**

Currently, the App only supports changing profile picture while removing is not allowed

**Expected Behaviour**

There should be an option to remove profile photo.

**Would you like to work on the issue?**

Yes

[2018-01-27 10:30] shivaraju07 opened #2254 "Uneven distribution of Tiles in Speakers Activity"
**Actual Behaviour**

In speakers activity the tiles are uneven.

**Expected Behaviour**

I think all tiles should be given fixed size so that it looks nice.

**Would you like to work on the issue?**

Yes

**Screenshots of the issue**
![media-20180126](https://user-images.githubusercontent.com/18509469/35471096-e85b0cc0-037a-11e8-93fa-7ef2286be7b3.jpg)

@simarsingh24, @srv-twry  What do you think?

[2018-01-27 10:54] dr0pdb commented on #2254
Pardon, I couldn't understand what you mean by "tiles" ?
Can you encircle it with some photo editor ?

[2018-01-27 11:35] simarsingh24 commented on #2254
@shivaraju07  did you mean the photos are not aligned? like the beginning of the photographs in the same row should start together?

[2018-01-27 11:59] shivaraju07 commented on #2254
@srv-twry I meant that the photos are not aligned in the same row as @simarsingh24 said .
They are not aligned in same row.
@simarsingh24  yes

[2018-01-27 12:02] jindalAnuj opened #2256 "unusual behaviour in Speaker list"
**Actual Behaviour**

A buggy speaker list with unusual behaviour the list is not alphabatically arranged sometimes data not get passed to speaker details activity. Also same data is shown multiple times

**Expected Behaviour**

there should be a alphabatic list with correct data to be shown

**Screenshots of the issue**

<p align="center">
<img src="https://user-images.githubusercontent.com/31108

[2018-01-27 12:03] dr0pdb commented on #2254
How is this issue different from #2247 ?

[2018-01-27 12:12] #2254 closed, assigned to nobody

[2018-01-27 12:13] dr0pdb commented on #2256
Have you made sure you have set the sorting option by "Speaker Name"
I am getting the correct order

![screenshot_2018-01-27-17-39-54-24](https://user-images.githubusercontent.com/21277837/35471847-69137d26-0389-11e8-9228-4dc3cea4cc8b.png)

About the duplicate items

I don't think it's an error in the application. There is a duplicate entry in the data itself. If you look closely, the Company/Orga

[2018-01-27 12:16] dr0pdb commented on #2254
@shivaraju07 Please don't abuse the freedom that you can create issues whenever you want.
#2247 was also your issue and both me and the mentor told you the reason. I even gave you a link to the issue/PR where this was discussed. Please take care of this from next time.

[2018-01-27 12:24] simarsingh24 commented on #2256
@jindalAnuj  check the response given by the API itself and then compare it with what is populated on these views and if there is a mismatch then it would be an issue.
PS: It worked fine for me.

[2018-01-27 12:28] jindalAnuj opened #2257 "on Back Pressed App is not Getting Exit"
**Actual Behaviour**

App is not getting Exit When we press back 2 times

**Expected Behaviour**

App should close and exit onBackPressed

**Steps to reproduce it**
There are some bugs in lifecycle of activity

**Screenshots of the issue**

Till which [milestone](https://github.com/fossasia/open-event-android/milestones) will you be fixing the issue?
![ezgif com-video-to-gif](https://user-images.g

[2018-01-27 12:29] shivaraju07 commented on #2254
I apologise it won't happen next time.

[2018-01-27 12:34] jindalAnuj commented on #2256
@srv-twry @simarsingh24  yes they are alphabatical that was my mistake but the speaker with Hbd has some details which are empty sometimes and speaker with some **Other** name has some name which is encounterd only few times out of many attempts

[2018-01-27 12:35] simarsingh24 commented on #2257
@jindalAnuj works fine on my mobile, can you list the steps you are doing in this gif?

[2018-01-27 12:49] #2256 closed, assigned to nobody

[2018-01-27 12:52] jindalAnuj commented on #2257
@simarsingh24 it was also works fine for me in 90% case and on multiple devices but there is a specific case i think where i got the problem

I was just pressing back press to exit app

[2018-01-27 13:21] jindalAnuj opened #2258 "Loading Bar in Main Activity"
**Actual Behaviour**

There is no loading bar in main activity if anybody use app with slow internet connection then user may end up uninstalling the app.This all happens when app is opened first time

**Expected Behaviour**

There should be a loading bar in the main ativity

**Steps to reproduce it**

open App first time after installing

**Screenshots of the issue**

![ezgif com-video-to-gif 1](

[2018-01-27 13:41] jindalAnuj opened #2259 "Make loading bar Invisible in login activity and show text"
**Actual Behaviour**

loading bar keeps on rotating by showing details invalid email

**Expected Behaviour**

loading bar should be invisible and a toast is expected
**Steps to reproduce it**

loading bar should be replaced or made invisible

**Screenshots of the issue**

![ezgif com-video-to-gif 2](https://user-images.githubusercontent.com/31108317/35472439-2aef5e28-0395-11e8-8b53-aa24729efc17.gi

[2018-01-27 13:57] jindalAnuj opened #2260 "app crash when pickingUp image from gallery"
**Actual Behaviour**

App crashes when image is picked for profile

**Expected Behaviour**

App should not crash

**Steps to reproduce it**
go to login
click profile logo
pick a image
tada app crashed .....

**LogCat for the issue**

`java.lang.RuntimeException: An error occurred while executing doInBackground()
 at android.os.AsyncTask$3.done(AsyncTask.java:325)
 at java.util.concurrent.FutureTas

[2018-01-27 14:33] jindalAnuj opened #2261 "MainActivity Unexpected Layout"
**Actual Behaviour**

When FossAsia description is minimised layout looks awkward from bottom

**Expected Behaviour**

Layout should be even and user friendly

**Steps to reproduce it**

minimize the fossasia description

**Screenshots of the issue**

![ezgif com-video-to-gif 4](https://user-images.githubusercontent.com/31108317/35472854-e7ea7b00-039c-11e8-9a3a-10ecc8b34f60.gif)

**Would you like

[2018-01-27 14:41] #2222 closed, assigned to nobody

[2018-01-27 15:01] jindalAnuj opened #2262 "Changes in the Image is not visible at multiple time selection"
**Actual Behaviour**

when we pick our profile image multiple times then only image which is chossen at first time is displayed

**Expected Behaviour**

Image Should be changed every time.

**Steps to reproduce it**

pick an image to change
if user wants to change then he may pick again
but at second or third time chossen image not displayed

**Screenshots of the issue**
![ezgif com-video-to-gif 5

[2018-01-27 16:34] simarsingh24 commented on #2258
@jindalAnuj it has no connection with your connectivity when you hit NO it actually downloads from the example JSON file (located inside assets)

[2018-01-27 17:18] jindalAnuj commented on #2258
@simarsingh24 still it get data from a local JSON file which consume time so a loading bar is necessary. In local json case if a user with a lot of app running in background app may take a lot of time and app may crash in that case if user is allowed to click. Because sometimes user gets frustrated with such kind of Empty views

[2018-01-27 18:38] dr0pdb commented on #1708
@Kartik2016 Are you working on it ? If not, then i will take it.

[2018-01-27 18:40] Kartikdot commented on #1708
Yes i am working on this.

[2018-01-27 18:42] dr0pdb commented on #1432
@mariobehling @iamareebjamal Is this issue still active ? If yes, then i would like to take it.

[2018-01-27 18:54] simarsingh24 opened #2264 "Removing unnecessary "isDisposed" checks throughout project"
**Expected Behaviour**

isDisposed checks are not required for disposing Disposables

**Would you like to work on the issue?**

Yes

[2018-01-27 18:58] shivaraju07 commented on #2252
Can I Work on this issue? @jindalAnuj

[2018-01-27 19:10] simarsingh24 commented on #2098
@srv-twry the profile photo inside "My Profile" should also be made zoomable! what do you think?

[2018-01-27 19:12] dr0pdb commented on #2098
Yes, should i work on it or do you want to work on it ?

[2018-01-27 19:22] simarsingh24 commented on #2098
@srv-twry yeah, I would like to work on it :)

[2018-01-28 03:22] jindalAnuj commented on #2252
@shivaraju07 No please I want to work on that

[2018-01-28 05:13] shivaraju07 commented on #2252
Ok As your wish @jindalAnuj

[2018-01-28 06:10] iamareebjamal commented on #2017
@srv-twry When you implement one such PR for a test case for a ViewModel, then reopen the issue and link since it is required to have an aligning issue with PR, and this issue cannot be solved in one PR.

[2018-01-28 06:23] iamareebjamal commented on #2246
Let's find the PR in which it was added, please use git blame or github feature for the same

[2018-01-28 06:24] iamareebjamal commented on #2249
What information would you want to show?

[2018-01-28 06:25] iamareebjamal commented on #2250
What is your proposed method of reducing the apk size. And what unused files are you referencing, please be more specific

[2018-01-28 06:26] shivaraju07 commented on #2246
Ok @iamareebjamal

[2018-01-28 06:28] #2204 closed, assigned to nobody

[2018-01-28 07:02] jindalAnuj commented on #2250
@iamareebjamal
My proposed method is to apply progaurd and enabling shrinkResource in it. which will reduce apk size by removing unused code  .As i Released some apps on playstore and i have seen major size changes when we build signed apk with progaurd

[2018-01-28 07:03] iamareebjamal opened #2266 "Road map of features of the project"
Lately, the focus of app has shifted from event information to social media and maintenance. Please first help the app align with features and information of API and also, the project has app generator which is left untouched. It has both front-end and a backend(in python) which needs to be evolved over time making it easier to generate customized apps while providing a better user experience and

[2018-01-28 07:04] iamareebjamal commented on #2253
Please read #2266

[2018-01-28 07:09] iamareebjamal commented on #2250
I believed proguard was on. If not, then please go ahead. But please change the title and description to be about Proguard

[2018-01-28 07:11] jindalAnuj commented on #2250
@iamareebjamal ok

[2018-01-28 07:15] iamareebjamal commented on #2261
What do you mean by minimize?

[2018-01-28 07:16] iamareebjamal commented on #2262
Please read #2266

[2018-01-28 07:19] iamareebjamal commented on #2258
There is a loading bar. It is just not getting triggered at the right time, You can see that if you look closely that it gets triggered just before it is closed. I noticed the bug and forgot to report. Please go ahead and fix this

[2018-01-28 07:24] jindalAnuj commented on #2261
@iamareebjamal by minimize i mean when hiding Fossasia description changes happen in bottom part as shown in screenshot
![photo_2018-01-28_12-52-39](https://user-images.githubusercontent.com/31108317/35479981-29dde6b8-042a-11e8-9331-b0a4a9bde30e.jpg)

[2018-01-28 07:32] #2047 closed, assigned to nobody

[2018-01-28 07:39] #2219 closed, assigned to nobody

[2018-01-28 07:40] iamareebjamal commented on #2261
How do you propose to fix it?

[2018-01-28 07:51] nikit19 opened #2267 "No featured speakers in the speakersFragment"
**Actual Behaviour**

In the web app, the featured speakers are displayed first and then all the speakers are displayed
But in the Android app there are no featured speakers,all the speakers are displayed at the same time

**Expected Behaviour**

Android app should have the same features of the website and have a featured speakers section before all the speakers are displayed in the speakers fragm

[2018-01-28 08:21] shivaraju07 commented on #2246
It was created by Mayank Vaidya. But there is no use of the underline, Shall I create PR @iamareebjamal

[2018-01-28 08:42] iamareebjamal commented on #2246
In which PR was it created

[2018-01-28 08:45] shivaraju07 commented on #2246
commit 08f28fca0d40efa0821f6679241bf32bc6291020
Author: Mayank Vaidya <mayank8318@gmail.com>
Date:   Mon Dec 11 21:51:55 2017 +0530

    fix: Provide Ascending/Descending option in sorting (#2008)

    - Add buttons to Sort dialog box for ascending / descending option

    Fixes #2005

[2018-01-28 09:04] simarsingh24 commented on #2249
This is a parent issue various thing that can be added like "Tickets available under an event", "Tickets purchased by user", "attendees" etc.
I wanted to start with "Tickets purchased by the user" but I don't know if this is there in the API (getting ticket purchased using User ID) or we may start by "Attendees" of the selected event

[2018-01-28 09:08] jindalAnuj commented on #2261
@iamareebjamal i was thinking that to make social links stick to bottom
in detail we can move social link recyclerview from content_about_event.xml to fragment_about.xml
which will result in removal of social links from scroolvew.

[2018-01-28 09:40] dr0pdb commented on #2267
Duplicate #1708
It is already been worked upon.

[2018-01-28 09:47] iamareebjamal commented on #2261
Alright, please go ahead

[2018-01-28 09:48] iamareebjamal commented on #2249
Why should we show attendees of an event to the user? Also, the user does not even have the permission to view this information

[2018-01-28 09:50] simarsingh24 commented on #2249
the count of attendees, just to give him an idea how many people are interested in that particular event

[2018-01-28 09:57] mayank8318 commented on #2266
@iamareebjamal If I download an event app and i am attending the event then i would expect to get push notifications about upcoming events, trending news like posts or tweets etc which I dont think we are implementing right now. I think this can be a valuable addition?

[2018-01-28 09:57] iamareebjamal commented on #2246
Go ahead

[2018-01-28 09:58] nikit19 commented on #2267
Oh I did not see that.

[2018-01-28 09:58] #2267 closed, assigned to nobody

[2018-01-28 09:59] iamareebjamal commented on #2266
Posts and tweets are a part of application right now. Push notifications aren't possible as of yet. And yes they are valuable additions

[2018-01-28 09:59] iamareebjamal commented on #2249
You can see if the API allows that

[2018-01-28 10:25] mayank8318 commented on #1838
@iamareebjamal I didnt see the API for this in the Heroku docs. Is there a plan for implementing this as this is a necessary addition and will also require user auth.

[2018-01-28 10:35] srv-twry commented on #1962
Taking this one.

[2018-01-28 10:42] mayank8318 commented on #2266
Since we are storing the data locally, can't we give notifications from our side and implement global notifications from the server when there is an api for it?

[2018-01-28 10:45] jindalAnuj commented on #2266
@iamareebjamal i have this api only https://eventyay.com/api/v1/events/6
is there are more api , if yes please help me

[2018-01-28 11:23] #2122 closed, assigned to nobody

[2018-01-28 11:24] #2203 closed, assigned to nobody

[2018-01-28 11:29] iamareebjamal commented on #2266
This is an event, API docs define what is available in the API. Also, this is old API. As lined in README, API docs are present here - https://github.com/fossasia/open-event-server

[2018-01-28 11:31] #2036 closed, assigned to nobody

[2018-01-28 11:33] iamareebjamal commented on #1838
If the API is not providing it, all we can do is wait. There are already requests for various features on API guys and they take them organically as required

[2018-01-28 11:49] mayank8318 commented on #2266
@iamareebjamal Currently the app does not have featured speakers display, which is displayed on the home page in the website. Was this omitted from the app for a reason? In one of the tests the property `isFeatured` is asserted to be false. Should we display featured speakers in the AboutFragment?

[2018-01-28 13:31] dr0pdb commented on #2266
@mayank8318 It already has an issue and is being worked upon.

[2018-01-28 15:10] mayank8318 opened #2269 "Add ability to share multiple sessions"
**Actual Behaviour**

The user can share only share one session at a time.

**Expected Behaviour**

Allow the user to select multiple sessions and share in one go.

**Would you like to work on the issue?**

Yes

@iamareebjamal @srv-twry What do you think about this?

[2018-01-28 15:27] dr0pdb commented on #2269
Duplicate #2126

[2018-01-28 15:32] #2269 closed, assigned to nobody

[2018-01-28 15:39] #2264 closed, assigned to nobody

[2018-01-28 15:40] #2248 closed, assigned to nobody

[2018-01-28 17:15] shivaraju07 commented on #2246
@iamareebjamal  views?
This is the final screenshot:
![new](https://user-images.githubusercontent.com/18509469/35484868-b5a3fee2-047c-11e8-96ad-aee05302362c.jpg)

[2018-01-28 17:17] dr0pdb commented on #2246
LGTM, Please open a PR for this :+1:

[2018-01-28 17:27] mayank8318 commented on #2007
@iamareebjamal @heysadboy Can I give this issue a try?

[2018-01-28 22:38] #2246 closed, assigned to nobody

[2018-01-28 22:39] #2098 closed, assigned to nobody

[2018-01-28 22:40] #1974 closed, assigned to nobody

[2018-01-29 07:03] vidu171 commented on #2220
@srv-twry  Can I work on this?

[2018-01-29 07:06] dr0pdb commented on #2220
Yes, please go ahead.

[2018-01-29 15:34] dr0pdb opened #2272 "Extract out the common code between FeedFragment and TwitterFeedFragment."
**Actual Behaviour**

Currently there is a lot of common code between FeedFragment which gets the facebook feeds and the TwitterFeedFragment which gets the Twitter feeds.

**Expected Behaviour**

Those can be extracted out to a common class and hence reduce the code duplication.

**Would you like to work on the issue?**

Yes

To be done after #2263 gets merged.

[2018-01-29 15:48] iamareebjamal commented on #2272
Please make a common abstract class to do it

[2018-01-29 16:10] leeyh20 commented on #1835
Hello! is @vedantrathore still working on this?

[2018-01-29 16:47] leeyh20 commented on #1845
@iamareebjamal should we continue with this?

[2018-01-29 18:48] iamareebjamal commented on #1845
We don't have any customisable layout as of now, but if you have any idea, you can share with us

[2018-01-29 18:49] iamareebjamal commented on #1835
No @leeyh20. You can take it up if you want

[2018-01-29 18:49] #2125 closed, assigned to nobody

[2018-01-29 18:51] #1724 closed, assigned to nobody

[2018-01-29 18:58] #2134 closed, assigned to nobody

[2018-01-29 18:58] #2195 closed, assigned to nobody

[2018-01-29 18:59] #2092 closed, assigned to nobody

[2018-01-29 19:15] #2026 closed, assigned to nobody

[2018-01-30 02:36] iamareebjamal opened #2274 "Refactor project to package by feature"
To be filled in briefly...

[2018-01-30 11:20] prachi0311 commented on #2258
@jindalAnuj @iamareebjamal Can i work on this issue?

**Actual Behaviour**
Loading bar not triggered at the right time.

**Expected Behaviour**
Loading bar should show at the starting of the downloading of data

**Steps to reproduce it**
1. Open App first time after installing
2. Click no when promoted to download data

OR

1. Clear app data if already installed, open app again.
2. Click no when p

[2018-01-30 14:49] dr0pdb commented on #2272
@iamareebjamal
I have a small query. I am done creating the abstract class. I also want to extract the common code from layout's also since they are almost identical. I am using ```<include>``` for it. The problem is that ```Butterknife``` can't find the views associated with the included view group.

Following are the proposed solutions:

1. Suggested by Jake Wharton: [here](https://github.com/Ja

[2018-01-30 14:54] jindalAnuj commented on #2258
@prachi0311 i am working on it currently

[2018-01-30 16:00] iamareebjamal commented on #2272
Both are fine

[2018-01-30 16:58] #2175 closed, assigned to nobody

[2018-01-30 17:24] nikit19 opened #2277 "App crashes while bookmarking sessions in TrackSessionsActivity"
**Actual Behaviour**

App crashes while bookmarking sessions in TrackSessionsActivity

**Expected Behaviour**

App should not crash

**Steps to reproduce it**

Open tracks fragment.
Select Open Tech.
BookMark sessions

**LogCat for the issue**

01-30 22:50:01.429 547-547/org.fossasia.openevent E/DateConverter: java.lang.NullPointerException: text must not be null

[2018-01-30 17:45] #2272 closed, assigned to nobody

[2018-01-30 17:55] dr0pdb opened #2278 "Fix no upcoming session dialog in TrackSessionActivity"
**Actual Behaviour**

The no upcoming session dialog isn't rendered properly.

**Expected Behaviour**

It should be fixed.

**Screenshots of the issue**

![screenshot_2018-01-30-23-05-50-79](https://user-images.githubusercontent.com/21277837/35582406-b90dc2ea-0614-11e8-899e-2d25399c6aec.png)

**Would you like to work on the issue?**

Yes

[2018-01-30 18:50] nikit19 commented on #2278
It looks fine on my device. Is there a specific case when it is happening ?

[2018-01-30 19:33] dreadpool2 opened #2280 "Cluttering of 'No Results Found' text and Map fragment together."
**Actual Behaviour**

In LocationActivity, when there are no results found for a query and then the map icon is clicked, the map fragment formed clutters with the 'No Results Found' text. Even the results clutter with the map being in behind.

**Expected Behaviour**

The cluttering should not occur.

**Screenshots of the issue**

![screenshot_20180131-010129](https://user-images.githubusercontent.

[2018-01-30 19:47] nikit19 opened #2281 "Download dialog shouldn't be cancelable when using the app for the first time"
**Actual Behaviour**

Download dialog is cancelable even when using the app for the first time.
If you cancel the download dialog when using the app for the first(by pressing the back button)
You are left with an empty app which crashes at various places.

**Expected Behaviour**

Download dialog shouldn't be cancelable when using the app for the first time so that the user will either download the

[2018-01-30 19:52] sejalgoyal opened #2282 "Add options for signin with goole,linkedin etc."

[2018-01-30 20:38] mayank8318 opened #2284 "Add FAQs section"
**Actual Behaviour**

There is no FAQ section in the app.

**Expected Behaviour**

There should be one.

**Would you like to work on the issue?**

Yes

@iamareebjamal Should we add this?

[2018-01-30 22:16] scandindian commented on #2007
Sure @mayank8318.

[2018-01-31 02:54] iamareebjamal commented on #2282
We can't do it unless API provides any way of doing so

[2018-01-31 02:59] iamareebjamal commented on #2284
Please add proposed contents here

[2018-01-31 06:44] #2274 closed, assigned to nobody

[2018-01-31 07:34] dr0pdb commented on #2282
@sejalgoyal Now you can close this issue :)

[2018-01-31 07:51] #2282 closed, assigned to nobody

[2018-01-31 07:55] dr0pdb commented on #2278
Oh, i don't think it is for a specific case.
@mayank8318 @simarsingh24 Can you please check and confirm if you're getting this or not ? Thanks.

[2018-01-31 11:23] jindalAnuj commented on #2278
@srv-twry it is also happening to me as well

[2018-01-31 12:22] mayank8318 commented on #2284
There are APIs for FAQs : https://open-event-api.herokuapp.com/#faq-event-faq-collection-get
![image](https://user-images.githubusercontent.com/22395998/35622722-db35dc82-06ae-11e8-80de-793c7db7d14f.png)

**Response** -
{
  "meta": {
    "count": 1
  },
  "data": [
    {
      "relationships": {
        "faq-type": {
          "links": {
            "self": "/v1/faqs/1/relationships/faq-type",

[2018-01-31 12:23] mayank8318 commented on #2278
@srv-twry Works fine for me too. Android version?
![image](https://user-images.githubusercontent.com/22395998/35623107-34b44504-06b0-11e8-8342-b69000daad9f.png)

[2018-01-31 12:29] dr0pdb commented on #2278
Weird.
Android 5.1.1

[2018-01-31 12:30] mayank8318 opened #2287 "Move all hideKeyboard methods to a common static method"
**Actual Behaviour**

Presently there are various hideKeyboard methods.

**Expected Behaviour**

Use a common static method.

**Would you like to work on the issue?**

Yes

[2018-01-31 13:02] iamareebjamal opened #2288 "Test generator and app against newly created event"
- Create a new event using latest API
- Fill all required info in the event
- Generate an app using generator giving it the link to created event
- Test the app using the option of downloading data

[2018-01-31 13:14] #2158 closed, assigned to nobody

[2018-01-31 13:16] dr0pdb commented on #2288
I'll do this, I am already creating an event for developing/testing in the orga-app project.

[2018-01-31 13:18] dr0pdb opened #2289 "Add notifications in the application"
**Actual Behaviour**

The API supports [notifications](https://open-event-api.herokuapp.com/#notifications) but it is not implemented in the app.

**Expected Behaviour**

It should be implemented.

**Would you like to work on the issue?**

Yes

[2018-01-31 13:53] jindalAnuj commented on #2278
@srv-twry  i am also on same android and getting that error can i solve it

[2018-01-31 13:56] dr0pdb commented on #2278
Ok, please go ahead.

[2018-01-31 14:01] jindalAnuj commented on #2289
@srv-twry  it is good idea as there is a lot of information about notification in api
@mayank8318 @nikit19 what do you think

[2018-01-31 14:09] jindalAnuj commented on #2260
@iamareebjamal should i start working on it should be labeled later as this serious crash need to be solved before start implementing tickets , payments ,discount code feature from api

[2018-01-31 14:13] dr0pdb commented on #2289
Yes, i have already discussed with the mentor on this.

[2018-01-31 14:18] jindalAnuj commented on #2289
@srv-twry is there any other channel or medium where we can discuss our ideas instead of issues tracker

[2018-01-31 14:31] dr0pdb commented on #2289
Yes, there is one. You can use [gitter](https://gitter.im/fossasia/open-event-android).

PS: My discussion took place in the orga app, where i created this issue even though it was supposed to be here.

[2018-01-31 16:01] iamareebjamal commented on #2260
Bugs are high priority, so please go on

[2018-01-31 16:04] #2277 closed, assigned to nobody

[2018-01-31 16:40] dr0pdb commented on #2288
@iamareebjamal I created a new event and hosted the app generator locally but i am getting the following error when i try to create the android app.

Screenshot:
![image](https://user-images.githubusercontent.com/21277837/35634973-0a4e0f98-06d3-11e8-944b-75547a8f52db.png)

Logcat:
[code]

Can you make sense of the logcat ? I am not at all familiar with flask.

[2018-01-31 16:42] shivaraju07 commented on #2289
Can you explain what would be there in the notification?
@srv-twry
For which activities you are doing?

[2018-01-31 16:45] shivaraju07 commented on #2289
Are you creating push notification?

[2018-01-31 16:50] shivaraju07 commented on #2288
Same I am also getting the same error @srv-twry

[2018-01-31 16:54] dr0pdb commented on #2289
No, it's not a push notification. The notifications will be fetched from the API.

Please explore the API link that i have provided in this issue. I haven't explored it that much, i will do it later.

Most probably inside the MainActivity but open to suggestions.

[2018-01-31 16:58] iamareebjamal commented on #2288
You have to give it the API endpoint and not frontend endpoint

Also, for the most part, you'll have to use API to complete the event as frontend may not be functionally complete

[2018-01-31 17:01] shivaraju07 commented on #2289
I am thinking to create an email notification is it good?

[2018-01-31 17:02] dr0pdb commented on #2289
Create an issue for it and we can discuss it there.

[2018-01-31 17:17] shivaraju07 opened #2290 "Adding Email notification of latest event"
**Actual Behaviour**

API supports Email notifications but it is not implemented in the application.

**Expected Behaviour**

As API supports the Email notification, It would be nice to send
 every day's live feed on his/her email or
Any event that is bookmarked and the event is about to start in 1 day or
upcoming sessions etc.
or any push notification?

**Would you like to work on the issue?**

Y

[2018-01-31 17:25] #2261 closed, assigned to nobody

[2018-01-31 17:59] shivaraju07 opened #2293 "Adding Feedback Response from User"
**Actual Behaviour**

API provides Feedback but it is not utilized in application

**Expected Behaviour**

In the home menu of items selected drop-down adding a feedback response button from the user and the response is sent to the Admin Email.

**Screenshots of the issue**

![media-20180131](https://user-images.githubusercontent.com/18509469/35638931-806042fe-06de-11e8-80e3-2b3cc648be01.jpg)
addi

[2018-01-31 18:00] simarsingh24 commented on #2278
yeah looks fine on mine too!
it was added lately by @shivaraju07, do you have any idea why is it happening?

[2018-01-31 18:12] shivaraju07 commented on #2278
I don't Know
I guess it depends upon the Screen resolution. I think it can be solved by removing the padding and aligning the title to center.

[2018-01-31 18:20] dreadpool2 opened #2294 "Error in no upcoming sessions dialog in LocationActivity"
**Actual Behaviour**
The title in the Dialog is badly formatted.

**Expected Behaviour**
It should be corrected.

**Screenshots of the issue**

![screenshot_20180131-234849](https://user-images.githubusercontent.com/28607714/35639829-723b23bc-06e1-11e8-9438-f5734a7433b9.png)

**Would you like to work on the issue?**

Yes

[2018-01-31 18:21] simarsingh24 commented on #2293
@shivaraju07 does this issue include viewing feedbacks related to event?

[2018-01-31 18:26] simarsingh24 commented on #2294
@dreadpool2  what do you mean by badly formatted, padding?

[2018-01-31 18:28] dreadpool2 commented on #2294
@simarsingh24 Yeah

[2018-01-31 18:33] simarsingh24 opened #2295 "Adding "Event Invoices" under an user"
**Expected Behaviour**

User Profile should also show "Event Invoices" of a user.
Which is there in the API.

**Would you like to work on the issue?**

Yes
@iamareebjamal what are your views?

[2018-01-31 18:37] shivaraju07 commented on #2293
NO,
it is like a form in which you have to enter the feedback/opinions on the app and sends to the admin.
OR
it can be feedback/rating on an event.
Which one is nice so that I can start working on it?

any suggestions?
@simarsingh24

[2018-01-31 18:48] simarsingh24 commented on #2293
@iamareebjamal should feedback be open like comment so that the users could see them because here they are like review of an event
<img width="727" alt="screen shot 2018-02-01 at 12 17 09 am" src="https://user-images.githubusercontent.com/16715499/35641135-556de1e4-06e5-11e8-876b-19c6126bec21.png">
In this case for example "Awesome Event"

[2018-01-31 18:55] shivaraju07 commented on #2293
yeah! I saw this one but I don't know which one is better either to display or not.
@simarsingh24

[2018-01-31 18:56] simarsingh24 commented on #2293
let's wait for the mentor for his views!

[2018-01-31 18:59] simarsingh24 opened #2296 "Listing active "Discount Codes" available for the event"
**Expected Behaviour**

All the active discount codes for an event should be shown to the user.
This is present in the API.

**Would you like to work on the issue?**

Yes

@iamareebjamal your views?

[2018-01-31 18:59] dreadpool2 opened #2297 "Hardcoded string in upcoming_dialog.xml"
**Actual Behaviour**
Hardcoded "OK" is present

**Expected Behaviour**
It should not be present.

**Steps to reproduce it**
Just a string resource is to be made.

**Would you like to work on it ?**
Yes

[2018-01-31 19:15] shivaraju07 commented on #2294
@dreadpool2
As it is UI problem we can fix it later. Functionality is important, let 's wait for the mentor for his views.

[2018-01-31 19:52] dreadpool2 opened #2299 "Adding feedback functionality under an user"
**Expected Behaviour**
The feedback posting functionality is present in the API [feedback](https://open-event-api.herokuapp.com/#feedback). It would be nice to implement it in the app.

**Would you like to work on the issue?**
 Yes
@iamareebjamal @simarsingh24 your views on this?

[2018-01-31 20:04] iamareebjamal commented on #2294
I guess this was already fixed and an issue is also open for similar UI problem?

[2018-01-31 20:07] dreadpool2 commented on #2294
@iamareebjamal The other issue is actually present in TracksActivity

[2018-01-31 20:09] dreadpool2 commented on #2294
@iamareebjamal The problem in view padding is still there

[2018-01-31 20:09] iamareebjamal commented on #2297
Please don't create issues with one line fixes. I take that you have been involved in the project and you are not just a beginner, Either cover the whole project and remove hardcoded string or at least a large area of it. Editing single line in a PR which is just a chore, not a bug fix or feature is discouraged for those who are not beginners

[2018-01-31 20:14] iamareebjamal commented on #2296
Yep, go ahead

[2018-01-31 20:15] dreadpool2 commented on #2297
@iamareebjamal I am sorry, I got your point. Should I just close the PR then?

[2018-01-31 20:31] iamareebjamal commented on #2295
This can be added... but... somethings need to be finalized and thus, this may be tackled later. Also, keep in mind to only add these features in auth module as it should only be visible if ap is generated with Authentication enabled

[2018-01-31 20:34] iamareebjamal commented on #2293
@shivaraju07 @simarsingh24 There were several old issues regarding this feature, let's reopen one of those and discuss there, please mention me in one of the more relevant old issues

[2018-01-31 20:34] #2293 closed, assigned to nobody

[2018-01-31 20:38] iamareebjamal commented on #2297
If you want to cover the whole project or several files, then please go ahead and if not, change the issue such that it encompasses whole project and if someone may want to take it up, they may

[2018-01-31 20:38] iamareebjamal commented on #2299
Duplicate of #2293

[2018-01-31 20:38] #2299 closed, assigned to nobody

[2018-01-31 20:40] iamareebjamal commented on #2294
It should be fixed under same issue, it's related to same UI component. If the same layout is not used, then this issue may take it up

[2018-02-01 03:57] Kartikdot commented on #1708
I am busy with a college project this week. Please go ahead and take it since I don't want to delay this.

[2018-02-01 12:56] dr0pdb commented on #2066
@simarsingh24 I am already very occupied with other issues hence if you want, you may go ahead with this. I think you're also occupied with implementing the Event invoices and Discount codes, hence if you want we may hand it over to @mayank8318 who could do it a bit quicker.

[2018-02-01 15:24] dr0pdb opened #2301 "Add featured speakers in the home screen."
**Expected Behaviour**

The front end shows featured speakers separately, hence it should be shown in the app also.

**Would you like to work on the issue?**

Yes.

**Parent issue**

#1708

[2018-02-01 15:51] simarsingh24 commented on #2295
so I am leaving it for later than. 👍

[2018-02-01 15:59] simarsingh24 commented on #2066
@srv-twry sure! i will start working on it :)

[2018-02-01 20:13] #2301 closed, assigned to nobody

[2018-02-02 00:01] dr0pdb commented on #1708
@iamareebjamal What do you mean by background image. I couldn't find any property by the name "background".
Do you mean any one of these ?
thumbnail-image-url, large-image-url, original-image-ur, icon-image-url.

If not, then please provide the link to the property/module which contains that image. Thanks.

[2018-02-02 01:14] iamareebjamal commented on #1708
Yes

[2018-02-02 04:53] codebu5ter commented on #2297
Hi! Can I take this up?
This is my first time contributing to this repo, so I'd love to get started with a simple contribution.

[2018-02-02 05:34] dreadpool2 commented on #2297
@codebu5ter Yep! go ahead

[2018-02-02 10:38] dr0pdb commented on #2288
@mayank8318 @simarsingh24 @nikit19 Kindly look at this issue since this has a high priority. It is not an assignable issue i.e. everyone should do this and submit their experience.

[2018-02-02 10:43] dr0pdb opened #2303 "Add event logo from Event module to AboutFragment"
**Expected Behaviour**

Add background image from Event module to AboutFragment.

**Would you like to work on the issue?**

Yes

**Parent issue**

#1708

[2018-02-02 10:50] jindalAnuj opened #2304 "Move to Sd card not enabled"
**Actual Behaviour**

App Can't be moved to sd card

**Expected Behaviour**

App should move to sd card

**Steps to reproduce it**

go to app info it will hace move to sd card option not enabled

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/31108317/35729466-c765bb1e-0834-11e8-9623-9e241a17bb88.png)

**Would you like to work on the issue?**
yes

[2018-02-02 10:52] jindalAnuj commented on #2304
@srv-twry @simarsingh24 what do you think?

[2018-02-02 11:13] simarsingh24 commented on #2304
There are more important things to deal with right now, i don't think its a priority. @jindalAnuj best would be to ask the mentor about his views on this?

[2018-02-02 11:33] gakarod opened #2305 "Removal of all the unused methods and preventing memory leak"
**Actual Behaviour**

While analysing the source code , there are a large number of unused methods which hamper
the readability of the functions. Many functions are idles and are just consuming unnecessary memory.

**Expected Behaviour**

The source code should be free of memory leak and as readable as possible for the open source community to work on it.

**Would you like to work on the issue?**

[2018-02-02 12:00] dr0pdb commented on #2305
@gakarod Can you name a few instances where there are unused methods ?

Why would they consume memory ?

Again, please add a couple of instances where you found the memory leak.

[2018-02-02 12:02] dr0pdb commented on #2304
@jindalAnuj I would advise you to pay attention to what is being discussed in the community. You've already been told to read #2266 in one of your issues. In case you've missed that, then please read it.

[2018-02-02 12:19] jindalAnuj commented on #2304
@srv-twry @simarsingh24 As i was  also previously know that making app migratable to sd card is not big issue and my only intention to create this issue is that at present time there are a lot of devices almost 40-45 % users which run on low storage and for that i created this issue and as #2266 is concerned i am fully concentrated on that

[2018-02-02 12:29] gakarod commented on #2305
Sir

In multiple classes of the UI folder , many functions are not used and are
hampering the readability of the code

Thank you

On 02-Feb-2018 5:30 PM, "Saurav Tiwary" <notifications@github.com> wrote:

@gakarod <https://github.com/gakarod> Can you name a few instances where
there are unused methods ?

Many functions are idles and are just consuming unnecessary memory.

Why would they consume me

[2018-02-02 13:59] dr0pdb commented on #2305
hampering the readability of the code

I understood the problem but what i asked for is some names, so that i could verify it. ```ui``` folder is itself so big. I wanted some specific class names.
Anyways i checked all of them manually and yeah, ```StickyRecyclerHeadersDecoration``` has an unused constructor and ```StickyRecyclerHeadersTouchListener``` is a completely unused class.

You haven't me

[2018-02-02 14:12] gakarod commented on #2305
There is not something as particular that I can call a memory leak but
some of the unused classes require getters on initial project setup which
just seemed odd to me as the functions are not used anymore and
unnecessarily we have to maintain them

Please pardon me if I was wrong about the issue due to my limited knowledge

Thanks

On 02-Feb-2018 7:29 PM, "Saurav Tiwary" <notifications@github.com>

[2018-02-02 18:54] iamareebjamal commented on #2304
@srv-twry @simarsingh24 The point is to not let ourselves dwell into minor issues when the same people who are capable of solving major bugs or actually add new required features. Adding issues is OK. Prioritizing them is more important.

[2018-02-02 19:05] #2303 closed, assigned to nobody

[2018-02-02 19:09] iamareebjamal commented on #2305
I think there is some misunderstanding (about lombok plugin) on your side @gakarod

@srv-twry and I myself would just like to know about which unused methods are you talking about. We'll surely want to remove unused code and things which are causing memory leaks but without knowing which code and methods you are talking about, it is difficult to know if we are on the same page and talking about th

[2018-02-02 22:12] mayank8318 commented on #2007
@heysadboy @iamareebjamal If I add any resources to the assets folder, I need to redo the `celery` part right?
Also am I free to use images which are not restricted by copyright issues?

[2018-02-03 00:35] iamareebjamal commented on #2007
I don't think you need to restart the server if you add static assets.

Yes you can use images, but try to use SVGs or webfonts and limit yourself to a point it looks standard and not bloated

[2018-02-03 00:36] #2287 closed, assigned to nobody

[2018-02-03 05:26] gakarod commented on #2305
Sorry for inconvenience,

In the dialogfactory class of UI folder , there are 4-5 unused methods ,
similarly in other classes of the UI folder there where unused segment of
code is present.

I am not sure , if those methods are kept there for some future reference
but it just seemed odd to me.

If there was a mistake from my side in interpreting the code please pardon
me.

On 03-Feb-2018 12:41 AM,

[2018-02-03 06:12] simarsingh24 commented on #2066
@srv-twry the core logic for the filter is written inside DayScheduleFragment and the latter doesn't have a ViewModel what should be done?
`((DayScheduleFragment) adapter.getItem(position)).filter(selectedTracks);`

[2018-02-03 06:23] simarsingh24 commented on #2288
@srv-twry I am also getting the same error.
`https://open-event-api.herokuapp.com/v1/events/198`
used this as open event API endpoint

[2018-02-03 06:36] iamareebjamal opened #2309 "Remove configuration from Application File"
Split configuration into modules and strategies

[2018-02-03 07:53] mayank8318 commented on #2288
@simarsingh24 @srv-twry You need to set up redis :
https://www.digitalocean.com/community/tutorials/how-to-install-and-use-redis

[2018-02-03 07:55] mayank8318 opened #2311 "Add Redis installation link for Linux in APK-Generator docs"
**Actual Behaviour**

There is a link for Mac users only.

**Would you like to work on the issue?**

Yes

[2018-02-03 08:09] mayank8318 commented on #2288
@iamareebjamal I am getting **No JSON object could be decoded**. So I guess my API link is wrong?

[2018-02-03 08:34] simarsingh24 commented on #2288
@mayank8318 what API link did you use?

[2018-02-03 09:20] jindalAnuj commented on #2288
is here somebody who setup on windows

[2018-02-03 09:26] mayank8318 commented on #2288
@simarsingh24 I used https://api.eventyay.com/v1/events/6 but the server is down I guess because I got a 503.

[2018-02-03 09:28] simarsingh24 commented on #2288
@mayank8318 you can use software (like postman ) to test the response you are getting
This seems to be active `https://open-event-api.herokuapp.com/v1/events/198` why dont you give it a try?

[2018-02-03 12:14] dr0pdb commented on #2066
Oh, i realised now that there are two types of filtering in the ```ScheduleFragment```. The filtering mentioned in this issue is actually in the method ```filterSchedule```.

As far as the filtering you're talking about, we'll have to wait for the ViewModel to be created. It has a PR but it hasn't been updated for some time. I'll myself create it if it isn't updated in the next couple of days.

[2018-02-03 14:00] dr0pdb commented on #2289
@iamareebjamal How would you suggest implementing this ?
I think we could add an notification icon on the action bar in the AboutFragment which would take the user to a fragment containing the recycler view with all the notifications.

[2018-02-03 15:18] dreadpool2 commented on #2288
@simarsingh24 Did you get an active link as `https://open-event-api.herokuapp.com/v1/events/198` returned an empty response

[2018-02-03 16:10] iamareebjamal commented on #2289
It should be a separate menu in navigation drawer IMO

[2018-02-03 16:21] iamareebjamal commented on #2288
@mayank8318 You were using legacy API link

[2018-02-03 16:24] iamareebjamal commented on #2288
@mayank8318 You were using legacy API link

[2018-02-03 18:12] dr0pdb commented on #2289
Yeah, i will add that, but it's a standard to show atleast the notification icon with the count of notifications on the main screen.

[2018-02-03 19:07] nikit19 commented on #2288
How long does it take to create an apk? It has been more than 30 minutes.
![image](https://user-images.githubusercontent.com/20878145/35770510-665ed9ae-0942-11e8-81cf-79ad852be0d2.png)

I guess it is happening because I wasn't able to run these lines
`sudo cp kubernetes/images/generator/tools /opt `
`sudo ./kubernetes/images/generator/android.sh`

I get this error when I run those lines

![image](

[2018-02-03 19:36] iamareebjamal commented on #2289
AboutFragment is doing too much of a task IMO, so we'll see later what can be done but I'll recommend not to bloat an already bloated view

[2018-02-03 19:37] #2311 closed, assigned to nobody

[2018-02-03 19:40] iamareebjamal commented on #2288
You don't have to run those files at all and you can check the logs to know what is happening

[2018-02-03 19:48] mayank8318 commented on #2288
@nikit19 Since you already have Android SDK no need to run that. Just set your PATH variable properly.

[2018-02-03 21:28] shivaraju07 commented on #2288
What is the correct API link?

[2018-02-03 21:56] simarsingh24 commented on #2066
@mayank8318 I am a bit occupied right now as I have an interview coming and also other active issues, you can go ahead and work on it if you want, (I will finish it if you are also busy). Do drop a comment below and let us know if you are going to work on it

[2018-02-03 22:08] iamareebjamal commented on #2288
@shivaraju07 You have to create an event and use that link. There is no general event link.

[2018-02-04 06:33] rahuljindaltech commented on #2288
@iamareebjamal will you please be more specific as you sound like a lot general. You might have a lot of experience in coding and all these but we are here the newbies who want to learn while contributing.
As in the above issue you have not mentioned where to find the new api , how to create the new event , infect what is an event in this contrast . So giving more details for a particular will be

[2018-02-04 08:12] iamareebjamal commented on #2288
``rant``

[2018-02-04 09:15] rahuljindaltech commented on #2288
@iamareebjamal Thanks for your humorous answer.

[2018-02-04 09:59] mayank8318 opened #2315 "Use threaded asynchronous transaction using separate Realm instance - eventDates"
**Actual Behaviour**

Presently the transaction is done using the global realm object.

**Expected Behaviour**

Use a local realm instance for a threaded asynchronous transaction.

**Would you like to work on the issue?**

Yes

[2018-02-04 13:44] simarsingh24 commented on #2305
@gakarod that's what @iamareebjamal and @srv-twry are asking, can you name some of the unused functions?

[2018-02-04 14:08] dreadpool2 opened #2316 "Correct spacing and indentation in the whole project"
**Actual Behaviour**
Some part of the code in the whole project is missing correct spacing and indentation.

**Expected Behaviour**
This should not be the case

**Would you like to work on the issue?**
Yes

[2018-02-04 14:09] dreadpool2 commented on #2316
@iamareebjamal Can I work on this?

[2018-02-04 14:14] gakarod commented on #2305
Dialogfactory class has a bunch of methods which are not used anymore
please check it

On 04-Feb-2018 7:14 PM, "Harsimar" <notifications@github.com> wrote:

@gakarod <https://github.com/gakarod> that's what @iamareebjamal
<https://github.com/iamareebjamal> and @srv-twry
<https://github.com/srv-twry> are asking, can you name some of the unused
functions?

—
You are receiving this because you were m

[2018-02-04 17:48] raj10071997 opened #2317 "Toast message is displayed multiple times in during login and signup"
**Actual Behaviour**
When you try to login using wrong email or password, the error is showed only once if you click the button only once. Now if you click the login button again the error message is shown more than once. Similar issue can be seen in for sign up too, the error in sign up toast is shown multiple times.

**Expected Behaviour**

The message should be displayed only once for each butt

[2018-02-04 18:24] raj10071997 opened #2318 "Events bookmarked from Featured Speakers are not visible in about fragment."
**Actual Behaviour**

The events bookmarked from the section of Featured Speakers are not visible in about fragment.

**Expected Behaviour**

The events should be visible.

**Steps to reproduce it**

See the below Gif to reproduce the issue.

**Gif of the issue**

![open](https://user-images.githubusercontent.com/24502136/35780759-1e486396-0a06-11e8-8d5c-6a30b19a347d.gif)

**Would you like to work

[2018-02-04 18:51] dr0pdb commented on #2317
@raj10071997  Oh!, I understood the cause here. Have you understood the root cause of it ? If yes, then how do you propose to solve it ?

**PS**: It is always recommended to attach screenshot/GIF whenever possible.

[2018-02-04 18:53] dr0pdb commented on #2316
@dreadpool2 Can you name a few instances where this is happening ?

[2018-02-04 19:14] dreadpool2 commented on #2316
@srv-twry By completely searching the project I found out instances where no space in if statements and for loops where there.
For eg - `if(`   and `for(`
Even in files like WidgetUpdater.java `,widgetIds` type formatting is present.
Like no spaces after commas

[2018-02-04 19:49] dr0pdb commented on #2316
Ok, IMO this is not a major issue and definitely not a priority right now. If you want you can definitely send the PR but i would suggest you focus on the core features of the app and try and understand them more, specially #2288 . It will really help you get familiar with everything the project is about i.e. the android app, the app generator and the api itself.

[2018-02-04 22:55] #2309 closed, assigned to iamareebjamal

[2018-02-05 05:47] mayank8318 commented on #2284
Closing as there is no sample faqs presently

[2018-02-05 08:15] iamareebjamal commented on #2284
There's no need of sample FAQs, you can add your own FAQs to test

[2018-02-05 16:52] shivaraju07 opened #2319 "In About Fragment Sessions are being displayed after bookmark is removed"
**Actual Behaviour**

In About Fragment Sessions are being displayed after bookmark is removed.

**Expected Behaviour**

It should be removed from the About fragment.

**Screenshots of the issue**

![gif-180205_220823](https://user-images.githubusercontent.com/18509469/35817532-ada3c716-0ac3-11e8-842a-b6e03c367b33.gif)

**Would you like to work on the issue?**

Yes

@iamareebjamal  Should I Start

[2018-02-05 17:19] simarsingh24 commented on #2319
@shivaraju07 did you mean bookmarked session?

[2018-02-05 17:43] shivaraju07 commented on #2319
Yes! As You can see in the GIF.

[2018-02-05 18:09] dr0pdb commented on #2289
@iamareebjamal Should i cache the notifications in the db or just treat it like a LiveFeed ?

[2018-02-05 19:14] iamareebjamal commented on #2289
Add it in db

[2018-02-05 19:52] gakarod commented on #2305
can i resolve this issue ?

[2018-02-05 21:01] dr0pdb commented on #2305
please check it

As it has been stated before, can you just name a few of those methods? The reason we are asking you to name them is not because we are lazy and don't want to check them on our own. It's because in my opinion there are no unused methods. Now since you're saying that there are some, then please name them.
Not only the **Class** , but both Class and it's unused **methods**.

[2018-02-05 21:47] gakarod commented on #2305
Apologies Sir

I am still new to this so I didn't know the how much of data I need to give
.

As for the unused methods there were 4 methods namely -

createprogressdialogue, creategenericerrordialog,
Createaimpleactiondialogue,
Createsimpleokerrordialogue

In dialogfactory class located in java/org.fossasia.openevent/common/ui

I also found some others in other classes in ui folder

Please pardon

[2018-02-06 13:04] AkshayCHD commented on #2015
@iamareebjamal can i make a ViewModel for CommentsDialogFragment

[2018-02-06 19:47] sejalgoyal opened #2321 "Filter function in schedule module is not working"
**Actual Behaviour**

After applying filter nothing is changed in the list of event

**Expected Behaviour**

After applying filter only related events should be displayed

**Screenshots of the issue**

![screenshot_2018-02-07-01-09-09-710_org fossasia openevent](https://user-images.githubusercontent.com/14599142/35880663-8a88f7e2-0ba4-11e8-8520-3419fb8d09b5.png)
![screenshot_2018-02-07-01-09-28-50

[2018-02-06 20:44] iamareebjamal commented on #2015
I don't think it has such complex functionality that it requires one

[2018-02-07 07:37] dr0pdb commented on #2321
@sejalgoyal Hi!, Yes i have also seen this issue, but i overlooked it since we are already going to move the filter functionality to the ViewModel from the View in #2066 .
Infact that issue hasn't been taken by anyone. Why don't you close this and take that one ? :smile:
After moving it to ViewModel also fix this problem in that issue itself :+1:
Drop a comment on that issue in case you want to wo

[2018-02-07 10:55] sejalgoyal commented on #2321
Okay!! i'm closing this and will work on that issue.

[2018-02-07 10:55] #2321 closed, assigned to nobody

[2018-02-07 10:58] sejalgoyal commented on #2066
@simarsingh24 I will start working on it.

[2018-02-07 11:05] simarsingh24 commented on #2066
@sejalgoyal please go ahead !

[2018-02-07 14:01] raj10071997 commented on #2317
@srv-twry Sorry for not attaching a screenshot. Actually if you see the toast message is called only once for the first time when we click the login button but not afterwards. It is because MutableLivedata object(loginResponse in LoginActivityViewModel.java) is still getting changed even after INVALID response and every time we press the login button, the object loginResponse is changed due to whi

[2018-02-07 15:17] dr0pdb commented on #2317
I think you're kind of in the right direction for the problem but not quite. IMO the problem is not because it is being changed multiple times(It isn't IMO). It is because of the asynchronous nature of this operation. Here is the case which causes the issue:

1. You enter bad credentials for login. The MutableLiveData is set to "INVALID" and toast is displayed and everything is good till now.

2.

[2018-02-07 15:29] dr0pdb opened #2322 "Fix travis ci build"
**Actual Behaviour**

Currently the Travis CI build fails.
This issue has been registered before for version 27.0.2 and i think it should be the same problem as this one.
1. [First](https://github.com/travis-ci/travis-ci/issues/8874)
2. [Second](https://github.com/travis-ci/travis-ci/issues/8651)

**Expected Behaviour**

It should build properly.

**Steps to reproduce it**

Open a PR.

**LogCat fo

[2018-02-07 16:15] raj10071997 commented on #2317
@srv-twry  Actually if you enter the wrong credential again then you will see that the toast message is displayed multiples times. I understand that I need to find a way to synchronize the io thread and the main thread so that the loginResponse object contains the updated value. But if you enter the wrong credential again the toast message is displayed sometimes for three times or four times. Also

[2018-02-07 16:32] dr0pdb commented on #2317
No, how and why would you even do that ?

Can you attach a gif ? i am only getting it once.

[2018-02-07 16:51] raj10071997 commented on #2317
Have you tried printing the log messages in INVALID case, you will find that the toast message line is being called 3 to 4 times. Below is the Gif of the issue when you enter the wrong credentials twice :

1234 is wrong password. When the button is pressed again the toast message is displayed thrice instead of twice.

![login](https://user-images.githubusercontent.com/24502136/35928726-deb285ae-0c

[2018-02-07 17:27] iamareebjamal commented on #2322
Yes, it is the same issue. We'll have to update `.travis.yml`

[2018-02-07 19:23] dr0pdb commented on #2317
Yes, it is very very weird. Infact it is increasing by one everytime the login button is clicked.
Here is the log

[code]

Everytime the Login button is pressed the number of toast shown increases by one. :thinking: .

[2018-02-07 23:28] #2322 closed, assigned to nobody

[2018-02-08 08:12] raj10071997 commented on #2317
@srv-twry  Yes, it is really weird. And if you make the changes as I have mentioned in the above comments, the toast message is displayed only once.

[2018-02-08 15:07] dr0pdb commented on #2317
uh okay!  In your proposed solution, why are you catching the NPE ?

[2018-02-08 21:43] leeyh20 commented on #2288
Hello sorry for asking another question! I would like to be a new contributor to the project. I'm not sure if I should start by sharing my experience in this issue or to work on other easier issues.

The error mentioned by @nikit19 can be solved by making an alias for sudo as mentioned at https://stackoverflow.com/questions/12996397/command-not-found-when-using-sudo . Also, the keystore password h

[2018-02-08 22:23] leeyh20 commented on #2207
@harshitbansal05  Are you still working on this? I want to try implementing this for a start because I'm new to the project, thanks! Sorry if you are still working on it.

[2018-02-08 22:28] dr0pdb commented on #2207
@leeyh20 I see you are a new contributor and want to contribute :smile: . We have a pending issue #2031
How about you take that one and finish it. Please comment on that issue if you want to work on it.
It is slightly tough for beginners but definitely worth a shot. You can always ask for help.

[2018-02-08 22:31] iamareebjamal commented on #2288
Seems like due to incompatibility between legacy server API architecture and JSON expected by the APK, we cannot use the generator right now by using API links. I fixed the endpoint code of generator but the JSON downloaded is not compatible with what the app expects. I'll be discussing about possible course of action in this scenario. Thanks for everyone for sharing their experience. It's good th

[2018-02-08 22:50] leeyh20 commented on #2207
@srv-twry Thanks for the suggestion!

[2018-02-08 22:52] leeyh20 commented on #2031
Hi, I would like to try working on this issue, will reference other ViewModels too. Can start tomorrow :)

[2018-02-09 11:48] raj10071997 commented on #2317
@srv-twry  The best solution till now I could find is to initialize the MutableLiveData<LoginReponse> loginResponse every time a call to loginUser(String email, String password) method is made in LoginActivityViewModel.java. And also in my view it is good solution because since we are always keeping a memory reference after initializing loginResponse, there is no harm in initializing it again as t

[2018-02-09 12:21] raj10071997 commented on #2317
@iamareebjamal  this is the best i could find for this issue. Can you suggest any other solution if you have or should I make a PR with this solution?

[2018-02-09 13:02] rishabchirania commented on #2169
@srv-twry i am new to this porject..would love to start with this issue...should i do this?

[2018-02-09 13:05] rishabchirania commented on #1962
@srv-twry i can implement this with weblate?....should i take this issue

[2018-02-09 13:06] dr0pdb commented on #2169
@rishabchirania Hi!, Yes. BDW if you want an easier issue first kindly take a look at #2220 . It is an extremely simple issue yet it has been stalled. It would be nice to get it done quickly.

[2018-02-09 13:07] dr0pdb commented on #1962
@rishabchirania Sorry, i don't have enough information on this issue to suggest you.
May be @iamareebjamal can help you :smile:

[2018-02-09 13:10] rishabchirania commented on #2220
@srv-twry i wil start working on this,thank you!

[2018-02-09 13:12] dr0pdb commented on #2220
@rishabchirania Please wait. Sorry! i suggested you this because i thought that the other open PR is inactive but it seems he has updated it just now(1 minute ago :smile: ).

[2018-02-09 21:04] #2284 closed, assigned to nobody

[2018-02-09 22:03] #2289 closed, assigned to nobody

[2018-02-09 22:16] dr0pdb commented on #1708
@iamareebjamal Please suggest where i should add the background image of the Event ?

[2018-02-09 22:33] iamareebjamal commented on #1708
It should be added as a collapsing toolbar background in AboutFragment

[2018-02-10 06:25] mayank8318 opened #2325 "Implement search functionality in FAQ section."
**Actual Behaviour**

There is no search functionality.

**Expected Behaviour**

There should be one because as the FAQs section grows in size, this can be a problem.

**Would you like to work on the issue?**

Yes

[2018-02-10 08:38] #2202 closed, assigned to nobody

[2018-02-10 08:39] iamareebjamal commented on #2325
Right now there is no use case of such scenario, so let's defer it for the moment

[2018-02-10 08:42] mayank8318 commented on #2325
@iamareebjamal Okayy

[2018-02-10 09:50] mayank8318 opened #2326 "Move both Twitter and Facebook feed under one fragment"
**Actual Behaviour**

Currently, there are two separate items in the drawer for twitter and facebook.

**Expected Behaviour**

I propose to move both the fragments under a common "Live Feed" fragment using a `View Pager`.

**Would you like to work on the issue?**

Yes

@iamareebjamal @srv-twry Please see if this is a good change and is it required atm?

[2018-02-10 13:31] dreadpool2 opened #2327 "Add "Attending" functionality to a User Profile"
**Actual Behaviour**

The app doesnt collect information about the number of people attending the summit.

**Expected Behaviour**

The app should let the user post himself as attending the regarded conference.
The information can be posted as it is present in the api [https://open-event-api.herokuapp.com/#attendees](attendees)

**Would you like to work on the issue?**
Yes

@iamareebjamal Has this

[2018-02-10 18:05] iamareebjamal commented on #2326
Yes it is required

[2018-02-10 18:51] iamareebjamal commented on #2327
Please propose steps about how you will implement this

[2018-02-10 19:37] raj10071997 opened #2330 "No cancel option in filter dialog box in ScheduleFragment.java"
**Actual Behaviour**

There is no cancel option on filter dialog box. The only way to cancel that dialog box is to press the filter text on that box, which creates a little confusion on how to cancel that dialog box. Also when the user presses back all the selected options are removed from the track but still the filter bar shows the selected filtering options.

**Expected Behaviour**

There shoul

[2018-02-10 19:53] raj10071997 opened #2331 "vertical bar in landscape mode in ScheduleFragment.java"
**Actual Behaviour**

When you slide to right (in portrait mode) to view events of further dates, no vertical bar is visible. But as you rotate to landscape mode, there is a vertical bar on the left side which is visible.

**Expected Behaviour**

There should be no vertical bar.

**Gif of the issue**

![land](https://user-images.githubusercontent.com/24502136/36066094-f13b60b0-0ec9-11e8-9b91-e3257

[2018-02-10 20:36] dreadpool2 commented on #2327
@iamareebjamal Like I tend to make two sections in the profile section of the app where , after logging in, it will show the number of already registered attendees and a section where it will allow you to change the status of attending the event or not. All the data can be received using the API.

[2018-02-10 20:53] iamareebjamal commented on #2327
I don't think anyone would be interested in knowing who are all the attendees, and my initial request about proposal of implementation was about the fetching of data from API, saving in db and all. What do you propose about that

[2018-02-10 20:55] iamareebjamal commented on #2331
Not a critical bug or feature, you may work on it however

[2018-02-10 21:00] dreadpool2 commented on #2327
@iamareebjamal Actually I meant only the number of attendees will be shown, not all their names as they are not necessary.
I plan to fetch the data same as it is fetched in the case of speakers, locations , sessions etc.
Is there going to be a conflict if I go with the same way?

[2018-02-10 21:11] dreadpool2 commented on #2327
@iamareebjamal Like the stats shown might convince the user to attend the concerned summit and thats why I want to show that in the user profile.
I further planned by adding `attendance` attribute to the `User` object and when the login process will occur I will thus fetch the status of the person's attendance. PATCH requests will be send again if the person change his mind. The `userUpdate`  PATC

[2018-02-10 21:31] raj10071997 commented on #2331
@iamareebjamal sure.

[2018-02-11 01:34] iamareebjamal commented on #2327
If the API does not have attendance attribute, then it has no significance to add in the app. Also, did you check the permissions required to get the attendee information from API.

`Is there going to be a conflict if I go with the same way?`

The question is not about conflict but about does a contributor knows what he has to do, i.e, fetch data, whether or not to store in the database, handling

[2018-02-11 10:04] dreadpool2 commented on #2327
@iamareebjamal As far I have planned I thought of receiving the data from the API and then storing it in the RealmDataRepository and then fetching it from there and showing it in the app. But as authentication is coming into picture, things get complex as I realized I am mixing two different things, one is the Attendees part of the API and other is the Users part. Like I cant directly update a var

[2018-02-11 10:26] iamareebjamal commented on #2327
Hmm, loading all attendees in order of magnitudes of 1000s, sometimes millions and saving them in db just to show count seems unnecessary. Secondly, then you are suggesting to operate on that data to find a unique email or something, also unnecessary. The reason to this is that you just need to send PATCH request toggling the status no matter if you are attending or not. But attendee logic is not

[2018-02-11 10:35] dreadpool2 commented on #2327
@iamareebjamal Pardon me but where do I find in the API about special permissions required ? Just found out that an authorization key was required to post the data. Is that a blocked permission?

[2018-02-11 11:10] dreadpool2 commented on #2327
@iamareebjamal No permissions are required to fetch the data.
I have a doubt which is not based with the app. Like can we introduce a count attribute in the Attendee part of the API?

[2018-02-11 12:03] dr0pdb opened #2332 "Add a mark as read button in Notifications Fragment."
**Actual Behaviour**

The notifications can't be marked as read.

**Expected Behaviour**

Allow a user to mark a notification as read by providing a button in the NotificationsFragment. The API supports this functionality(Updating a notification).
There can also be a "mark all as read" to mark all of them at once.

**Would you like to work on the issue?**

Yes.

[2018-02-11 12:52] iamareebjamal commented on #2327
That is related to JSONAPI spec

[2018-02-11 14:53] ahsan44411 commented on #2259
@jindalAnuj are you still working on this issue ?

[2018-02-11 15:40] dreadpool2 commented on #2327
@iamareebjamal As you said that the amount of information will be quite high as to load all attendees, I want to change my proposal.
In the API there is provision of getting details of a single attendee and that is possible if the attendee who has bought the ticket knows his id. So if the user (who has already bought the ticket) has logged in and entered his id, it will show him as attending and i

[2018-02-11 23:30] iamareebjamal commented on #2327
I don't think the user will ever be aware of attendee ID at all, it is a system internal ID and is not tied to one user. A user can have thousand attendee ID if thousand tickets are bought on his account

[2018-02-13 00:22] #2172 closed, assigned to nobody

[2018-02-13 18:28] simarsingh24 commented on #2249
@iamareebjamal I was thinking of adding tickets under an event , but the problem is that the API is returning empty response.
I tried changing the events but i am getting empty response, what should we do?
<img width="680" alt="screen shot 2018-02-13 at 11 55 05 pm" src="https://user-images.githubusercontent.com/16715499/36166735-77ebb69a-1119-11e8-934d-70cd96f02cfd.png">

[2018-02-13 18:29] simarsingh24 commented on #2319
@shivaraju07 what is the status of this issue?

[2018-02-13 18:34] simarsingh24 commented on #2290
IMO It would be better to leave email-based notifications for purchase-related work (not implemented right now) because there is no point of sending the live feed to email. And for bookmarked events, App based notifications and the reminder would be good enough? what do you think @srv-twry  @iamareebjamal

[2018-02-13 18:39] simarsingh24 commented on #2258
@jindalAnuj what is the status of this issue? are you still on it?

[2018-02-13 18:44] AkshayCHD opened #2334 "Display the event location using google maps"
**Actual Behaviour**

The event module contains event's Latitude Longitude but there is no menu option for pointing the event location in About Fragment.

**Expected Behaviour**

There should be an overflow menu option for pointing to the event location.

**Would you like to work on the issue?**

Yes

[2018-02-13 18:45] simarsingh24 commented on #2207
@harshitbansal05 it's been more than two weeks and there is no update from you regarding this issue? what is the status of this issue are you still working on it?

[2018-02-13 18:47] AkshayCHD commented on #2334
@iamareebjamal can i start working on this

[2018-02-13 18:48] simarsingh24 commented on #2171
@dreadpool2 its been more than three weeks since you have raised this issue what is the status of this issue? Let me finish it off if you are busy with something else

[2018-02-13 18:50] simarsingh24 commented on #2169
@mithlesh4257 how would you implement it and what is the status of this issue?

[2018-02-13 19:13] simarsingh24 commented on #1377
@iamareebjamal I think we should reopen this as per our discussion at #2293

[2018-02-13 20:25] harshitbansal05 commented on #2207
sorry @simarsingh24, i was involved in my mid term examinations, so could not contribute in the issue. I would try to do it soon...

[2018-02-14 07:01] iamareebjamal commented on #2249
I think complete ticketing is a complex feature and not ready to be implemented in the app. It requires handling money as well if we want to be complete, so let's handle this later

[2018-02-14 07:03] iamareebjamal commented on #2290
This is server related functionality, not the responsibility of the app

[2018-02-14 07:03] #2290 closed, assigned to nobody

[2018-02-14 07:04] iamareebjamal commented on #2290
Notification for the bookmarked events are already present

[2018-02-14 08:40] simarsingh24 commented on #1377
@iamareebjamal what I am proposing is a menu item "Submit Feedback" which would launch an activity related to feedbacks where the user (Logged in) can submit his/her feedback. how does this sound to you? and also since the feedbacks are somewhat like the review of the event so should other submitted feedbacks be shown to the user?
<img width="303" alt="screen shot 2018-02-14 at 2 07 45 pm" src="ht

[2018-02-14 12:50] jindalAnuj commented on #2258
I am busy im my examination your can take it @simarsingh24

[2018-02-14 15:33] shivaraju07 commented on #2319
the issue is resolved in this PR.
#2329

[2018-02-14 15:33] #2319 closed, assigned to nobody

[2018-02-14 15:59] leeyh20 commented on #1835
@iamareebjamal Since I'm done with #2031, I will try working on this!

[2018-02-14 18:21] AkshayCHD opened #2336 "No mention of type of session in SessionTrackActivity"
**Actual Behaviour**

The user has no information about the type of session that the speaker will hold whether its a workshop or panel discussion or exhibition etc.

**Expected Behaviour**

The type of the session should be displayed

**Steps to reproduce it**

Go to the speakers section and select any one speaker and see his sessions.

**Would you like to work on the issue?**

Yes

[2018-02-14 18:35] dreadpool2 commented on #2171
@simarsingh24 Looks like the situation has already been solved ! I am closing it

[2018-02-14 18:35] #2171 closed, assigned to nobody

[2018-02-15 00:57] iamareebjamal commented on #1835
@leeyh20 We don't have enough unit tests, unit tests are easier to write and hold higher priority than UI testing because there will be no way to test and mock UI if there is an untestable core layer

[2018-02-15 12:32] rishabhkalra96 commented on #2260
is this issue still open?

[2018-02-15 12:36] rishabhkalra96 commented on #2257
Hello, I would like to take up this issue !

[2018-02-15 12:38] rishabhkalra96 commented on #2258
Is the issue still active?

[2018-02-15 12:39] rishabhkalra96 commented on #2169
hey,
I would like to work on this issue. Please let me know if no-one is working on this

[2018-02-15 13:47] 97balakrishnan opened #2338 "Dark theme"
**New feature**
I think an option to enable dark theme must be added.

**Would you like to work on the issue?**

Yes

[2018-02-15 14:16] 97balakrishnan opened #2339 "Link for Jackson Docs Broken"
**Issue**
Link for Jackson Docs in Readme is broken and shows this

![image](https://user-images.githubusercontent.com/20266120/36260965-e756a8da-1288-11e8-8c16-6619469c3120.png)

**Would you like to work on the issue?**

Yes.

[2018-02-15 22:32] iamareebjamal commented on #2338
It is quite a large UI issue and low priority, however you can work on it if you want

[2018-02-15 22:33] #2339 closed, assigned to nobody

[2018-02-16 05:05] simarsingh24 commented on #1377
@iamareebjamal is this a good idea? please let me know so that i could proceed further with it

[2018-02-16 06:40] iamareebjamal commented on #1377
Yes, please go ahead and yes, show the feedbacks to the user

[2018-02-16 10:36] AkshayCHD opened #2342 "Add session Type in session details activity"
**Actual Behaviour**

Sesssion details activity doesn't mention anything about the type of the session.

**Expected Behaviour**

The type of the session should be displayed

**Steps to reproduce it**

Select any session from the sessions of any speaker

**Would you like to work on the issue?**

Yes

[2018-02-16 11:36] pulakdp opened #2343 "App crashes while bookmarking session in SessionDetailActivity"
**Actual Behaviour**

App crashes while bookmarking session in SessionDetailActivity

**Expected Behaviour**

App shouldn't crash

**Steps to reproduce it**

Go to 'Tracks' in nav drawer
Select 'Open Tech'
Click on the first item i.e. 'Keynote: Pro...'
Bookmark it

**LogCat for the issue**

`FATAL EXCEPTION: main
                                                                        Process: org.

[2018-02-17 02:16] #2326 closed, assigned to nobody

[2018-02-17 09:13] dreadpool2 commented on #2327
@iamareebjamal I have tried all possibilities and it seems that it's either going to be tough to implement the huge data or unnecessary. Do you have any suggestions to implement any kind of attending functionality? or should I just close the issue ?

[2018-02-17 10:04] iamareebjamal commented on #2327
I think if there is a possibility to just mark that you are attending, that is enough. If not, then please close the issue

[2018-02-17 10:06] #2343 closed, assigned to nobody

[2018-02-17 10:06] #2315 closed, assigned to nobody

[2018-02-18 12:25] leeyh20 opened #2348 "Speakers' color changes in SpeakerListFragment when search is being done"
**Actual Behaviour**
Speakers' color changes in SpeakerListFragment when search is being done

**Expected Behaviour**
Speakers' color should not change in SpeakerListFragment when search is being done

**Screenshots of the issue**
![bugatspeakers](https://user-images.githubusercontent.com/7023320/36351732-256f4e44-14e9-11e8-92de-b23947183d82.gif)

See the speaker on the top right. His panel change

[2018-02-18 12:41] 97balakrishnan opened #2349 "Crash: App crashes if default calendar app is disabled"
**Actual Behaviour**

![screenshot_20180218-180318](https://user-images.githubusercontent.com/20266120/36351940-dd8f1990-14d6-11e8-89c5-27ba735b3ddf.png)

**Expected Behaviour**

Display a toast that calendar app is unavailable

**Would you like to work on the issue?**

Yes

[2018-02-18 16:55] mayank8318 opened #2350 "Move implementation of commentsdialogfragment to respective fragment"
**Actual Behaviour**

CommentsDialogFragment is implemented in the MainActivity/

**Expected Behaviour**

It should be implemented in the activity which uses it.

**Would you like to work on the issue?**

Yes

[2018-02-19 02:37] #2342 closed, assigned to nobody

[2018-02-19 02:39] iamareebjamal commented on #2348
It is set in the Speaker ViewHolder as far as I know. It may be a bug in Android Color Palette

[2018-02-20 17:32] anipmehta commented on #2349
@97balakrishnan Are you still working on this issue?

[2018-02-20 17:35] 97balakrishnan commented on #2349
Yes

[2018-02-21 19:35] leeyh20 commented on #2348
Thanks for pointing out where it is set!
It is caused by some of the images not having a "vibrant" swatch profile, thus not setting its background color explicitly causes the change in color.

I have made a PR to solve this.

[2018-02-24 07:25] raj10071997 commented on #2317
@iamareebjamal Please reply it's been few days.

[2018-02-24 09:43] iamareebjamal commented on #2317
The problem is about a new task/observable is created each time the button is clicked. Simply dispose the previous observable when button is clicked.

[2018-02-24 15:00] #2348 closed, assigned to nobody

[2018-02-25 07:46] leeyh20 opened #2352 "Events bookmarked on Schedule does not update the DayFragmentSchedule"
**Actual Behaviour**
Adding a bookmark on an event won't update DayFragmentSchedule

**Expected Behaviour**

Adding a bookmark on an event should update DayFragmentSchedule

**Steps to reproduce it**

1. Go to DayFragmentSchedule at "Schedule"
2. Click any event like "Coffee Break" to see its details
3. Bookmark the event
4. Exit the event details view
5. DayFragmentSchedule at "Schedule" does not

[2018-02-25 08:11] iamareebjamal commented on #2352
No, it is different

[2018-02-25 17:18] leeyh20 commented on #2352
@iamareebjamal Ok thanks I'll try to look into it!

[2018-02-25 20:40] #2350 closed, assigned to nobody

[2018-02-25 20:42] #2031 closed, assigned to nobody

[2018-02-26 15:38] #2336 closed, assigned to nobody

[2018-02-27 19:50] rideep opened #2354 "Error in signing up"
Actual Behaviour
![screenshot_2018-02-28-01-14-47](https://user-images.githubusercontent.com/17199525/36751211-827bf914-1c25-11e8-890c-3b2639a739fe.png)

Expected Behaviour

Log the user in straight away after a successful signup

Would you like to work on the issue?

Yes

[2018-03-02 14:15] the-dagger commented on #2354
@rideep What's the progress on the issue?
Let me know if you need help, @sriramr98 was willing to work on the issue as well, so maybe you two can work together.

[2018-03-02 14:35] iamareebjamal commented on #2354
Please look at this issue https://github.com/fossasia/open-event-orga-app/issues/680

[2018-03-02 17:38] rideep commented on #2354
@the-dagger I am working on the issue.In SignupActivity getResponse() is highlighted as 'cant resolve method'.And instead of using switch can use if-else.

[2018-03-03 03:05] iamareebjamal commented on #2354
@rideep The solution (as mentioned in the issue I linked above) is simply to change the base URL in the config.json. There is no need to change any code at all

[2018-03-04 18:11] raj10071997 commented on #2317
@iamareebjamal  I am removing the obsevers when the button is clicked but the behavior is still the same. I made these changes -
[code]

loginUser() method is called every time the user press the login button. So I am removing every observer first and then again creating a new observer, but still the behavior is same. Am I doing anything wrong here?

[2018-03-04 19:27] #2330 closed, assigned to nobody

[2018-03-04 19:42] iamareebjamal commented on #2317
Problem is in Observable and not the LiveData

[2018-03-05 18:44] #2354 closed, assigned to nobody

[2018-03-07 14:27] raj10071997 opened #2356 "opening the event and removing the bookmark doesn't update the AboutFragment.java"
**Actual Behaviour**

On opening an event in the bookmark recycler view of AboutFragment.java and removing the bookmark doesn't remove the event from the list. Instead only the bookmark sign is removed.

**Expected Behaviour**

The event should be removed from the list.

**Gif of the issue**

![videotogif_2018 03 07_19 49 13](https://user-images.githubusercontent.com/24502136/37097499-9f09ed3a-224

[2018-03-07 17:00] akhil117 commented on #2334
@AkshayCHD  I like to work on this.

[2018-03-07 19:30] raj10071997 commented on #2317
@iamareebjamal  I have made the following changes to dispose the observables every time the button is clicked.
[code]
But the problem with this is that although it solves the problem of the toast message getting displayed multiple times. But it doesn't solve the problem which is if the user try to login with wrong credential first and then try to login with right credential, the user can't login.

[2018-03-07 19:39] iamareebjamal commented on #2317
You don't have to dispose the composite disposable, that means you are ending the process of storing any observable in it. You have to store a disposable just for logging in and disposing it when logging in

[2018-03-07 19:40] iamareebjamal commented on #2334
Please go ahead

[2018-03-07 20:11] sriramr98 opened #2357 "Adding Kotlin Support"
**Steps to reproduce it**
Kotlin is an awesome language that introduces verbosity and conciseness for the project. Adding Kotlin support to the project will improve the quality of the code with significantly reduced codebase. I would like to start by adding kotlin in incremental builds - one fragment at a time.

**Would you like to work on the issue?**

Yes. I would like to work on this issue

**T

[2018-03-08 07:27] raj10071997 commented on #2317
@iamareebjamal  I am disposing any observable which is already stored so that I can stop listening to previous observables and start with a new one. Because initially the size of composite disposable will be zero and then one observable will be subscribed by the composite disposable. So  we when click the button again the size won't be zero this time now and I will dispose the previous observable

[2018-03-08 07:49] raj10071997 commented on #2317
@iamareebjamal  Sorry you are right I am ending the process of storing any observable.

[2018-03-08 08:44] sriramr98 commented on #2352
Is anyone working on this? I have fixed the bug and added some kotlin support. This might have also fixed issue #2318 . If no one has a solution, I would like to send a PR.

[2018-03-08 10:29] leeyh20 commented on #2352
@sriramr98 You can go ahead and send a PR for this issue! Sorry, was busy with school!

[2018-03-08 10:40] iamareebjamal commented on #2352
@sriramr98 If you do fix this, please be aware that we appreciate single PR per issue. Your PR may fix two related issues but not tackle a new one

[2018-03-08 11:05] sriramr98 commented on #2352
Okay. My PR will only fix this current issue. I will work on the related issue separately.

[2018-03-08 11:54] sriramr98 commented on #2356
Is someone working on this issue? I have the fix and I would like to send a PR.

[2018-03-08 12:10] iamareebjamal commented on #2356
Adding the listener in onResume is a hack and not a fix. Do you have any other fix? :smile:

[2018-03-08 12:14] sriramr98 commented on #2356
I haven't yet sent a PR for this issue. You've commented on the wrong issue.

[2018-03-08 12:31] iamareebjamal commented on #2356
Just discussing your approach to the solution

[2018-03-08 12:53] raj10071997 commented on #2317
@iamareebjamal I used ```clear()``` instead of ```dispose()```  and changed the code to this.

[code]
I am always getting the size = 1 and even changed the code to this

[code]

Which means I am clearing all the disposable from compositeDisposable as soon as the loginResponse.setValue() method completes and the observer in the loginActivity will be notified of the changes. But still the behavior i

[2018-03-08 14:38] iamareebjamal commented on #2317
you don't have to clear or touch composite disposable at all.

[code]

[2018-03-09 18:35] ParthivMangukiya opened #2359 "Apk Generator unable to find unsigned apk path"
**Actual Behaviour**

Apk Generator fails to generate release-apk because of unknown unsigned apk path.

**Expected Behaviour**

Apk Generator should find correct path for unsigned apk path both for fdroid and googleplaybuild type.

**LogCat for the issue**

![screen shot 2018-03-09 at 11 44 10 pm 2](https://user-images.githubusercontent.com/19627767/37223064-5c20fefe-23f5-11e8-9b8f-9cc3edd6777a.p

[2018-03-09 19:55] the-dagger commented on #2357
@sriramr98 I think you can go ahead with converting one Pojo to Kotlin and we can review that and merge.
@iamareebjamal Does that sound good, correct me if this is not in our current implementation list?

[2018-03-09 20:43] sriramr98 commented on #2357
I think we should start with converting utility classes instead of a Pojo. There are some small issues with data classes and Realm that needs to be fixed before converting a Pojo. So I think we should start with some Utility Classes.

[2018-03-10 07:24] iamareebjamal commented on #2357
@the-dagger Sounds good, And I agree, utility classes should be converted first as the data layer s already being reworked in this library https://github.com/iamareebjamal/openevent-java

[2018-03-10 09:49] ParthivMangukiya opened #2361 "ic_launcher icon does not render in navigation header"
**Actual Behaviour**

ic_launcher icon does not render in navigation header in apk generated by apk generator.

**Expected Behaviour**

ic_launcher icon should render in navigation header.

**Steps to reproduce it**

1. Generate apk from samples provided in https://github.com/fossasia/open-event/tree/master/sample through apk generator.
2. Open navigation drawer.

**Screenshots of the issue**

![2

[2018-03-10 10:13] ParthivMangukiya opened #2362 "Crash: App crashes on reload in live feed activity when no posts is there"
**Actual Behaviour**

App crashes on reload in live feed activity when no posts is there.

**Expected Behaviour**

App should not crash on reloading when no posts is there.

**Steps to reproduce it**

1. Generate apk from googleio17 sample provided here : **https://github.com/fossasia/open-event/blob/master/sample/GoogleIO17.zip**
2. Go to live Feed activity.
3. After Downloading Live Feed pop up

[2018-03-10 10:30] ParthivMangukiya commented on #2361
This is happening because ic_launcher image is too big to render.
Apk generator directly resize file by asuming that **logo.png** provided in sample is **ldpi** size and with reference to it generates  mdpi,hdpi format.
Whether should I make change in **apk generator** to resize logo image to size required for app **OR** should I make change in **app** to resize the image generated by apk generato

[2018-03-10 11:08] pulakdp opened #2363 "Undo button in SnackBar doesn't update bookmark icon in SpeakerDetailsActivity"
**Actual Behaviour**

Clicking undo button in the SnackBar generated after adding a session to bookmarks doesn't update the bookmark icon on that session

**Expected Behaviour**

Clicking the undo button should also change the bookmark icon from bookmarked to not bookmarked

**Steps to reproduce it**

1. Click on any speaker from the Featured Speakers list or go to any speaker's detail activity fr

[2018-03-10 12:53] sriramr98 commented on #2357
So I will start converting two-two utility classes at a time

[2018-03-10 13:03] vivek1339 opened #2364 "app downloads data on cellular even though download only over wifi is turned on"
downloading new feeds is the same even when download only over wifi is enabled
it is giving a prompt that charges may apply in both the cases(download only over wifi is turned on or off)
Would you like to work on the issue?
yes

[2018-03-10 14:00] iamareebjamal commented on #2361
The generator should already be resizing the images, it not, please fix the generator

[2018-03-10 14:01] #2359 closed, assigned to nobody

[2018-03-10 14:43] mayank8318 commented on #2357
@sriramr98 Would you like to split up?

[2018-03-10 14:51] mayank8318 commented on #2364
@vivek1339 Please follow the issue template :)

[2018-03-10 17:57] sriramr98 opened #2366 "Update library dependencies in the application."
**Steps to reproduce it**

There are many library dependencies for the application that needs to be updated to newer and latest versions. This gives us the latest and more stable code from the libraries and thus makes the application more stable.

**Would you like to work on the issue?**
Yes

**Target Milestone to solve the issue**
It can be solved in a small fix.

[2018-03-10 18:16] arundhatigupta opened #2367 "Remove confirmation before exit"
**Actual Behaviour**

Currently, the app displays a toast to prompt the user, in case the user hits the back button.

**Expected Behaviour**

The app should not display any toast or dialog to confirm exit, unless there is some task running in the background (say, download), as this breaks user experience. Moreover, none of the standard apps implement this.

**Would you like to work on the issue?**

[2018-03-10 18:19] sriramr98 commented on #2357
@mayank8318 I'm sorry man, I'm trying to include this as a small part of my GSoC proposal. If I don't get selected for it, then we can split up the work, collab and get the job done.

[2018-03-10 19:31] iamareebjamal commented on #2367
Confirmation before exit is pretty standard for apps which have muti-level navigation within the application and it is quite annoying to be led out of the app when just clicking back to get to the main screen. Sometimes people don't know they are on home screen and just click back couple of times

The apps which don't implement this feature are pretty optimized with initial loading in milliseconds

[2018-03-11 14:09] ParthivMangukiya commented on #2361
@iamareebjamal I found that logo_url used in googleio17 sample is /images/io_logo.png and it is not able to download image using that url so image does not render. I added on error resource id in setNavHeader function and made PR. Please Review.

[2018-03-11 14:48] iamareebjamal commented on #2361
Then it is not the issue with the app, rather with the sample

[2018-03-11 17:02] ParthivMangukiya commented on #2361
@iamareebjamal I think even if this is issue of sample, It is good to set placeholder image rather than showing blank instead(There may happen any kind of error during downloading image from url).

[2018-03-11 17:17] iamareebjamal commented on #2361
Agreed

[2018-03-11 18:12] ParthivMangukiya opened #2369 "Add appropriate message in notifications fragment when not logged in"
**Actual Behaviour**

Empty view shows "No Notifications" in notification fragment when not logged in.

**Expected Behaviour**

Empty view should show appropriate message in notification fragment when not logged in.

**Screenshots of the issue**

![20180311_215759](https://user-images.githubusercontent.com/19627767/37256728-bab922ee-2584-11e8-9375-f3c0fcf3d6b5.gif)

**Would you like to work on the

[2018-03-11 18:34] iamareebjamal commented on #2369
Showing custom message when you are directly navigated out seems like an overkill

[2018-03-11 19:00] ParthivMangukiya commented on #2369
@iamareebjamal I think that navigation flow of opening notification fragment is something odd.
If user do not want to login then he have to do two click, one to exit login activity and one for going elsewhere.
In my point of view the good flow would be If user click notification in drawer, than he find out he should login to see notification message. There should be Login button at the bottom if h

[2018-03-12 06:18] sriramr98 opened #2371 "Remove Lombok Support from the project"
Lombok is an unnecessary dependency that can be removed. Getters and setters can now be generated by Android Studio and to proceed with issue #2357 , we need to remove Lombok support.
I propose we remove lombok and manually add Getters and Setters. Once kotlin is added, we will not need those anymore.

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

I will b

[2018-03-12 06:24] iamareebjamal commented on #2371
No, lombok is not just used for getters and setters. Android Studio was always capable of generating code. Generating getters and setters mean maintaining them as well. Kotlin may be added to project but it will only generate for data classes and nothing else. Also, builder, delegates and other stuff is not generated by kotlin

Secondly, why do we **need** to remove lombok for #2357 ?

Read this a

[2018-03-12 06:27] sriramr98 commented on #2371
Yeah but the thing is, if we add Kotlin to the project, the project will use Kotlin annotation processor by default and Lombok stops working. To add Kotlin support to the project, we will need to remove Lombok from the project. Maintaining getters and setters won't be a problem when we use data classes from kotlin.

[2018-03-12 06:32] iamareebjamal commented on #2371
I don't understand how lombok will stop working if kotlin is added. And btw, data classes getters and setters are not generated through annotation processors in kotlin.

The correct way of proceeding with a dependency removal is to firstly migrate all code from the project to the new format and then analyse if previous dependency is needed or not. As I stated in my previous comment, we are using l

[2018-03-12 06:35] iamareebjamal commented on #2369
Yes, please address this issue in a separate PR and also do it for any other fragment which needs the user to be logged in

[2018-03-12 06:35] sriramr98 commented on #2371
No, what I meant to say is that, when we add Kotlin support to the project, we will need to add kotlin-kapt plugin in the app module. This for some reason isn't recognizing the annotations from lombok and hence the getters and setters aren't being used. So when I tried to run the project, I got about 101 un found methods which correspond to these generated methods.

[2018-03-12 06:36] iamareebjamal commented on #2371
https://github.com/rzwitserloot/lombok/issues/1169

[2018-03-12 06:38] sriramr98 commented on #2371
Ah. This is better. Okay, I will try this and submit a PR with two Utility classes converted to Kotlin.

[2018-03-12 08:22] ParthivMangukiya opened #2372 "Fix navigation flow of notifications fragment."
**Actual Behaviour**

When user selects notifications in drawer layout, if user is not logged in, user is redirected to login activity. If user does not want to login then user need to do two clicks, One for exiting login activity and one to go in other activity.

**Expected Behaviour**

There should be login button in notification fragment. When user is not logged in and  if user wants to login,

[2018-03-12 09:54] #2361 closed, assigned to nobody

[2018-03-13 09:04] #2363 closed, assigned to nobody

[2018-03-13 16:11] akhil117 opened #2374 "Enhancing the LoginActivity and SignupActivity UI"
**Actual Behaviour**

Lot of unused space is there and the UI can be improved by the implementation of card view.

**Expected Behaviour**

CardView can be implemented to enhance the UI.

**Steps to reproduce it**

Navigate to the LoginActivity and SignUp Activity through the Navigation Drawer.

**Would you like to work on the issue?**

YES

[2018-03-13 20:24] ParthivMangukiya opened #2376 "Fix navigation flow of faqs fragment"
**Actual Behaviour**

When user selects faqs in drawer layout, if user is not logged in, user is redirected to login activity. If user does not want to login then user need to do two clicks, One for exiting login activity and one to go in other activity.

**Expected Behaviour**

There should be login button in faq fragment. When user is not logged in and if user wants to login, user is redirected

[2018-03-14 13:58] #2288 closed, assigned to nobody

[2018-03-14 14:30] #2376 closed, assigned to nobody

[2018-03-14 17:07] #2372 closed, assigned to nobody

[2018-03-14 17:26] raj10071997 commented on #2317
@iamareebjamal  Sorry for the late reply.

I have tried this code using your suggested changes but still the behavior is same.

[code]

[2018-03-14 17:52] iamareebjamal commented on #2317
I'll see to what's the issue

[2018-03-14 19:12] #2369 closed, assigned to nobody

[2018-03-15 13:55] iamareebjamal commented on #2357
The PR does not solve this issue as this issue will be closed when entire project is completely converted to kotlin

[2018-03-15 16:45] codermasum commented on #2367
Confirmation before exit is a bad UX design according to modern app design and specially for advanced users, people who are using this app are quite advanced and I think all are developers or techies or entrepreneurs so they are not normal user who are using this. So these type of users always make a correct move, so for them it would be annoying. Just a suggestion from my experience.

[2018-03-16 16:20] swaroop-nath commented on #1708
Is anyone working on this? I would like to take it up, if not!

[2018-03-16 16:23] dr0pdb commented on #1708
Yes, please go ahead. Most of the features have been implemented IMO but background image of the Event is left.
You can create a child issue and send a PR.

[2018-03-17 08:25] iamareebjamal opened #2379 "Convert registry classes with generated getters and setters"
**Actual Behaviour**

Currently, the classes generated after removing lombok are in Java and hence contain generated getters and setters

Reference #2373

**Expected Behaviour**

Convert these classes to Kotlin

Parent Issue: #2357

[2018-03-17 09:15] sriramr98 commented on #2379
I will work on this as my next step

[2018-03-18 10:35] ParthivMangukiya opened #2380 "Speaker LiveData does not change on modify sessions in SpeakerDetailActivity."
**Actual Behaviour**

In SpeakerDetailActivity modifying session does not automatically change Speaker LiveData.

**Expected Behaviour**

Implementation of Speaker LiveData should be change so that modifying session should modify Speaker LiveData.

**Would you like to work on the issue?**

yes

[2018-03-18 13:38] ParthivMangukiya opened #2382 "Unexpected behaviour in AboutFragment when bookmark is removed from SessionDetailActivity"
**Actual Behaviour**

Session in AboutFragment is sometimes removed and sometimes not removed when bookmark is removed from SessionDetailActivity.

**Expected Behaviour**

Session in AboutFragment should always removed when bookmark is removed from SessionDetailActivity.

**Screenshots of the issue**

![20180318_184510 1](https://user-images.githubusercontent.com/19627767/37566277-fb597f26-2adc-11

[2018-03-18 15:31] #2380 closed, assigned to nobody

[2018-03-20 12:32] nohadrweesh opened #2384 "Unexpected behavior : app crashes when change the language"
**Actual Behaviour**

App crashes when change the language to anything rather than English , when closing the app and reopen it works but it crashes again when opening settings activity.

**Expected Behaviour**

App should work without crashing after changing language .

**Screenshots of the issue**

![open_event_android](https://user-images.githubusercontent.com/20757813/37654335-6574a1ba-2c4a-11

[2018-03-20 12:58] iamareebjamal commented on #2384
I think that this setting should be removed from settings as this is not the responsibility of the app

[2018-03-21 05:50] DipanshKhandelwal opened #2385 "UI Accent Color not good"
**Actual Behaviour**
Present accent color looks too away from the theme of the app.

![helloold](https://user-images.githubusercontent.com/24923974/37696037-98e59f18-2cf9-11e8-8616-2ea11b324af0.png)

**Expected Behaviour**

I got a color which looks good with the present UI.
![hello](https://user-images.githubusercontent.com/24923974/37696033-9134fcf0-2cf9-11e8-9046-ee89fe81f9aa.png)

**Would you

[2018-03-21 07:11] mani87 commented on #2385
Can i work on this issue?

[2018-03-21 08:06] iamareebjamal commented on #2385
This is automatically set using the app generator to whatever color you want, so there's no issue

[2018-03-21 08:06] #2385 closed, assigned to nobody

[2018-03-21 08:59] iamareebjamal opened #2386 "Standardize Discount Code model"
**Actual Behaviour**

DiscountCode Model has non standard convention Java syntax fields (underscore in variable names)

**Expected Behaviour**

Make them camel case

@simarsingh24 Please fix this ASAP. Not sure how it got slipped through the review

[2018-03-21 09:04] iamareebjamal opened #2387 "Change compile to implementation in build.gradle"
**Actual Behaviour**

Compile keyword is deprecated

**Expected Behaviour**

Use Implementation instead

[2018-03-21 18:36] #2386 closed, assigned to nobody

[2018-03-22 04:07] #2371 closed, assigned to nobody

[2018-03-22 05:00] sriramr98 commented on #2387
Can I get this done?

[2018-03-22 06:07] iamareebjamal commented on #2387
Go ahead

[2018-03-23 04:28] sriramr98 commented on #2366
@iamareebjamal What do you think?

[2018-03-23 04:48] iamareebjamal commented on #2366
Go ahead

[2018-03-23 05:10] sriramr98 commented on #2379
@iamareebjamal I guess this issue can be closed as I see that the StrategyRegistry class and other Strategy classes have already been converted by you to Kotlin in the last commit from exporting Lombok dependent classes to a separate module.

[2018-03-23 05:12] sriramr98 commented on #2384
Can I take this up?

[2018-03-23 05:14] sriramr98 commented on #2349
@97balakrishnan any updates?

[2018-03-23 05:25] iamareebjamal commented on #2384
Please outline what you'll do

[2018-03-23 05:25] #2379 closed, assigned to nobody

[2018-03-23 05:26] #2387 closed, assigned to nobody

[2018-03-23 05:26] iamareebjamal commented on #2349
@sriramr98 Take it up please

[2018-03-23 05:48] mayank8318 commented on #2364
@vivek1339 Are you working on this?

[2018-03-23 06:17] swaroop-nath commented on #2364
If anyone's not working on it, I would like to take up the issue.

[2018-03-23 20:20] #2349 closed, assigned to nobody

[2018-03-24 03:50] sriramr98 commented on #2384
@iamareebjamal  As you suggested, we can remove the setting from the settings screen. Later on, we can add translations and show a list of supported languages instead of using system's default language.

[2018-03-24 03:58] sriramr98 commented on #2207
@harshitbansal05 have the fix yet? Its been too long since the issue was opened and I'd like to finish it up.

[2018-03-24 05:58] iamareebjamal commented on #2207
Go ahead

[2018-03-24 05:59] iamareebjamal commented on #2384
Translations are already there but incomplete. And the functionality to show supported language is not concern of the app as Android handles it already

[2018-03-24 06:00] sriramr98 commented on #2384
So the setting can be removed from the settings screen?

[2018-03-24 06:00] #2366 closed, assigned to nobody

[2018-03-24 06:05] iamareebjamal commented on #2384
Yes, but test if it crashes after changing languages still

[2018-03-24 07:05] mayank8318 commented on #2332
@srv-twry @iamareebjamal Can I work on this?

[2018-03-24 07:05] dr0pdb commented on #2332
Yes, please go ahead.

[2018-03-24 08:43] swaroop-nath commented on #1708
Hello, Sorry for the delay, took some time to understand the codes. I have implemented an adapter view flipper to view the event's image and randomly selected featured speakers' image. I am issuing the PR, please review it.

[2018-03-24 09:10] iamareebjamal commented on #1708
Please link the issue in PR

[2018-03-24 10:12] ParthivMangukiya commented on #2152
`public class DownloadHandler {

    private static final RealmDataRepository realmDataRepository = RealmDataRepository.getInstance(Realm.getDefaultInstance());

    public static Observable<String> downloadAllAssets() {

        return Observable.fromArray(ConstantStrings.EVENT,
                ConstantStrings.SESSIONS,
                ConstantStrings.SPEAKERS,
                ConstantStrings.TRA

[2018-03-24 10:28] iamareebjamal commented on #2152
Let's discuss this [here](https://github.com/fossasia/open-event-android/issues/2154)

[2018-03-24 10:31] iamareebjamal commented on #2154
@ParthivMangukiya Simply make a constructor of your download handler with one required parameter - Context. Then you won't have to depend on any activity and application context

Furthermore, there are some issues in your implementation. I'll point those out and we'll iterate on those. The best way to do that would be to send a PR of WIP status and I'll review and collaborate on that

[2018-03-25 04:51] swaroop-nath commented on #1708
Yeah, i will. As soon as my laptop gets repaired, it's battery got damaged yesterday

[2018-03-25 10:35] mayank8318 commented on #2332
@iamareebjamal Should I add this?

[2018-03-25 10:43] mayank8318 opened #2395 "Let the user choose his sharing medium everytime"
**Actual Behaviour**

Presently, a default sharing medium is selected(according to the user's preference).

**Expected Behaviour**

We should let the user choose the sharing medium everytime he wants to share anything.
This involves using `Intent.createChooser()`

**Steps to reproduce it**

Share anything from the app.
Now try to share again

**Would you like to work on the issue?**

Yes

[2018-03-25 10:46] iamareebjamal commented on #2332
Yes go ahead

[2018-03-25 15:52] sriramr98 commented on #2395
Can you send a screenshot? In which Activity/Fragment are you facing this problem

[2018-03-25 17:00] mayank8318 commented on #2395
This happens when you choose `share` from the drawer. Also, try sharing a speaker. The implementation is different. I will use this implementation for sharing an event.

[2018-03-25 17:03] sriramr98 commented on #2395
I tried them. Every time I got options to share through different applications. Make sure you pull the changes from the development branch and try again.

[2018-03-25 17:04] mayank8318 commented on #2395
Yes I did

[2018-03-25 17:04] mayank8318 commented on #2395
Share again

[2018-03-25 17:05] sriramr98 commented on #2395
I did. Can you send some screen shots?

[2018-03-25 17:25] mayank8318 commented on #2395
Speaker Details :
![screenshot from 2018-03-25 22-46-34](https://user-images.githubusercontent.com/22395998/37877873-709eec7a-307e-11e8-95f3-295c144595ec.png)

Share application :
![screenshot from 2018-03-25 22-46-49](https://user-images.githubusercontent.com/22395998/37877875-7768035c-307e-11e8-9457-2e9b7721ad35.png)

As you can see, the two implementations are different and hence the execution.

[2018-03-25 17:28] sriramr98 commented on #2395
@iamareebjamal  What do you think?

[2018-03-25 17:30] sriramr98 commented on #2364
@swaroop-nath Do you have the fix yet?

[2018-03-25 18:04] #2384 closed, assigned to nobody

[2018-03-25 18:05] iamareebjamal commented on #2395
I don't get what the issue is

[2018-03-25 18:09] mayank8318 commented on #2395
@iamareebjamal If the user shares the app once then whichever medium he uses for sharing(be it WhatsApp, Messenger etc) that is set as the default choice by the system. But if we use `Intent.createChooser()` as is done in sharing a speaker's details, the user will get to choose his medium of sharing every time

[2018-03-25 18:10] sriramr98 commented on #2357
@iamareebjamal  Can we continue with this issue? Should we start with some util classes or start refactoring activities?

[2018-03-25 18:10] mayank8318 commented on #2395
These are two different ways of doing it and in my opinion the second method is more user friendly and is used by almost all the apps these days

[2018-03-25 18:49] iamareebjamal commented on #2357
Util classes first

[2018-03-25 18:50] iamareebjamal commented on #2395
OK. go ahead

[2018-03-25 19:15] sriramr98 commented on #2357
Alright. Ill push two util classes a day and we'll see how it goes.

[2018-03-25 19:48] #2382 closed, assigned to nobody

[2018-03-26 02:34] sriramr98 commented on #2362
@ParthivMangukiya  Are you working on this issue? If not I would like to take up this issue.

[2018-03-26 03:19] ParthivMangukiya commented on #2362
@sriramr98 I was busy recently. Yes I'm working on this issue. I'll update the status soon

[2018-03-26 05:52] vivek1339 commented on #2364
Yes I would like to work on this I was waiting because I did not get a proper acceptance on the issue

[2018-03-26 13:52] sriramr98 commented on #2364
@vivek1339 You can start working on this. This is a critical bug that needs to be fixed.

[2018-03-26 13:52] sriramr98 commented on #2364
@vivek1339 You can start working on this. This is a critical bug that needs to be fixed.

[2018-03-26 14:47] #2207 closed, assigned to nobody

[2018-03-27 07:00] sriramr98 opened #2398 "Change app theme dynamically"
**Change app theme dynamically**

We should add a color chooser in Settings which can enable the user to choose the theme of the app dynamically. Most people using the app are going to be tech enthusiasts and they'd prefer to have the option to choose themes instead of the default red.

**Steps to reproduce it**

I will be using this library [Colorful](https://github.com/garretyoder/Colorful) to i

[2018-03-27 07:34] iamareebjamal commented on #2398
There's an option to pick the accent color and theme in the app generator. So it's not only red, it's what the app generator chooses. The effect is similar to what other event apps do. Like Google I/O or F8, they have a particular theme

[2018-03-27 07:38] sriramr98 commented on #2398
Yeah but that's the theme that the company chooses and it's static. The user has no say in the theme. What if the user doesn't like red or blue and wants green ?  What is the user has selective cor blindness? In those cases I feel it's important to add a setting so which will contribute towards personalisation. And thats the main attraction of android. Personalisation.

[2018-03-27 08:21] iamareebjamal commented on #2398
The complexity of designing layouts when presented with lots of choices to the user increases manifolds. This can be taken up when the app at least supports dark mode

[2018-03-27 08:40] sriramr98 commented on #2398
Yeah, we can take this up after adding dark theme. Dark mode can also be easily added using this library. We will get to this after kotlin refactor is done

[2018-03-27 18:41] ParthivMangukiya commented on #2356
@iamareebjamal Apologies, I hadn't known this issue was open. This has been fixed by #2383.

[2018-03-27 18:51] ParthivMangukiya opened #2400 "APK Generator unable to find build tools version"
**Actual Behaviour**

After the change in build.gradle file, APK generator is unable to find build tools version.

**Expected Behaviour**

APK generator should find correct build tools version.

**Screenshots of the issue**

![screen shot 2018-03-27 at 11 41 54 pm 2](https://user-images.githubusercontent.com/19627767/37987236-40af42aa-321b-11e8-96ee-83c1a0c008a1.png)

**Would you like to work on t

[2018-03-27 18:56] #2356 closed, assigned to nobody

[2018-03-27 20:15] #2400 closed, assigned to nobody

[2018-03-30 08:05] dr0pdb commented on #2297
@dreadpool2 Please close this. Once we have a lot of hardcoded strings we can open this one up. It is only increasing the number of issues and the issues with higher priority can get ignored due to this.

[2018-03-30 08:07] dr0pdb commented on #2316
@dreadpool2 Please close this also. Once we have a large number of these issues, we can open it.

[2018-03-30 08:08] dr0pdb commented on #2305
@iamareebjamal I think we can close this due to inactivity.

[2018-03-30 08:10] dr0pdb commented on #2260
@rishabhkalra96 In case you're still interested in this. yes it's open

[2018-03-30 08:12] dr0pdb commented on #2367
@arundhati24 Status please ?

[2018-03-30 09:25] #2305 closed, assigned to nobody

[2018-03-30 09:25] #2316 closed, assigned to nobody

[2018-03-30 09:25] #2297 closed, assigned to nobody

[2018-03-30 16:15] sriramr98 commented on #2357
@iamareebjamal the utility classes have been converted. What next?

[2018-03-30 16:51] iamareebjamal commented on #2357
Convert non android specific classes

[2018-04-04 16:29] #2362 closed, assigned to nobody

[2018-04-06 19:01] ParthivMangukiya commented on #2288
@iamareebjamal because retrofit is using JsonApi converter it is parsing api end point correctly but when downloading from assets it is using only jackson object mapper so it can not parse new jsonapi format. So I decided to change the apk generator code and used JsonApi ResourceConverter to parse json downloaded from assets and as expected because retrofit can parse, it is also parsing the json.

[2018-04-06 19:11] iamareebjamal commented on #2288
The format of sample should remain same. The app should work with the format of sample because it is not to be changed, The app is not working with new API links, this is the issue I think

[2018-04-06 19:22] ParthivMangukiya commented on #2288
The format of the sample should be same as now, So we need to change the apk generater so that it will generate the assets same format as of samples when provide api link in apkgen. Am I understanding right?

[2018-04-06 19:59] iamareebjamal commented on #2288
Yes :+1:  You should check out if there is event export function in the new api and is working correctly or not

[2018-04-07 05:33] mayank8318 opened #2406 "Enhance UI of the filter dialog"
**Actual Behaviour**

It is a standard alert dialog with a list of filters.

**Expected Behaviour**

Enhance the UI to use the track colours for checkboxes. Something like this -
![image](https://user-images.githubusercontent.com/22395998/38451730-d0f0c23c-3a52-11e8-9e9e-1aee1c564ad4.png)

Taken from Mifos self-service-app.

**Steps to reproduce it**

Go to schedule and open filters

**Would you l

[2018-04-07 05:34] mayank8318 commented on #2406
@iamareebjamal What is your opinion regarding this?

[2018-04-08 13:51] sriramr98 commented on #2364
@vivek1339 any updates? Are you still working on this?

[2018-04-08 14:07] vivek1339 commented on #2364
actually i am working and had to halt for applying to gsoc just give me a week and i'll get back with a proper solution
thanks,
vivek

[2018-04-08 14:07] iamareebjamal commented on #2406
@mayank8318 We need to change the implementation of filtering, so if you can take that up, this change will be included there as well

[2018-04-08 14:10] mayank8318 commented on #2406
@iamareebjamal I would love to do it. What exactly is required on the issue?

[2018-04-08 14:13] iamareebjamal commented on #2406
Correspond to #2066

The filter functionality uses arrays and a lot of unnecessary calculation. We have to reimplement it. Basically, come up with a new solution imagining there isn't one and then change the implementation to that

[2018-04-08 14:17] mayank8318 commented on #2406
@iamareebjamal Ok on it :)

[2018-04-10 12:15] mayank8318 commented on #2066
@iamareebjamal If I am not wrong the current implementation is as follows:
1) Query all the tracks for the day and sort according to the sort order specified
2) Make a list of `selectedTracks` as per the tracks selected in the filter dialog by the user( by default we assume everything is selected)
3) Execute the String Search Query on this `selectedTracks` to narrow down on a final list which is d

[2018-04-10 13:06] iamareebjamal commented on #2066
Yes

[2018-04-11 14:07] #2395 closed, assigned to nobody

[2018-04-11 18:22] mayank8318 commented on #2066
@iamareebjamal This seems to be a pretty good model. What improvement would you like to see here?

[2018-04-12 07:35] iamareebjamal commented on #2066
Lots of memory leaks and working with arrays. The implementation has problems, not the model. Neither it is reactive and present in ViewModel making it tightly coupled with UI

[2018-04-14 11:41] mayank8318 commented on #2066
@iamareebjamal Ok what about this type of implementation ->
We only keep one arraylist in the UI. This will be displayed to the user. All the manipulations will happen in the View Model and this arraylist will be returned to the UI and the UI shall update accordingly. The UI won't know how the array is being manipulated, it will only display it and call for view model methods for manipulation when

[2018-04-14 12:15] iamareebjamal commented on #2066
yes

[2018-04-18 20:29] sriramr98 commented on #2364
@iamareebjamal Can I take this up? There hasn't been a PR yet.

[2018-04-18 21:25] iamareebjamal commented on #2364
Go ahead

[2018-04-23 13:00] #2364 closed, assigned to nobody

[2018-04-26 01:59] yatri1609 commented on #171
Hey, I'm new to open source so can anyone guide me how to start and contribute as a first timer? @mariobehling can you please help me and guide me? Thank you.

[2018-04-29 07:33] nikit19 opened #2408 "Convert some classes to kotlin"
**Actual Behaviour**

There are some non android specific classes in java

**Expected Behaviour**

Convert non android specific classes to kotlin

**Would you like to work on the issue?**

Yes

Parent issue #2357

[2018-04-29 18:44] #2408 closed, assigned to nobody

[2018-04-30 07:18] nikit19 opened #2410 "Convert VewModel code to Kotlin"
**Actual Behaviour**

ViewModels are in java

**Expected Behaviour**

They should be converted to Kotlin

**Would you like to work on the issue?**

Yes

Parent issue #2357

[2018-04-30 10:20] iamareebjamal commented on #2410
We'll tackle conversion later, first focus on bugs and remaining issues

[2018-04-30 19:42] nikit19 opened #2411 "App crashes on selecting some featured speakers"
**Actual Behaviour**

App crashes on selecting some featured speakers

**Expected Behaviour**

App should not crash

**Steps to reproduce it**

Open the app. Select featured speakers

**LogCat for the issue**

 `java.lang.IllegalArgumentException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNotNull, parameter string`

**Would you like to work on t

[2018-05-01 18:13] dreadpool2 opened #2413 "Type label is visible while the value returned is null"
**Actual Behaviour**

The "Type" label is visible when the value returned is null

**Expected Behaviour**

It shouldn't be visible

**Screenshots of the issue**

mtp://[usb:001,008]/Internal%20storage/Pictures/Screenshots/2018_05_01_23.37.39.png
![2018_05_01_23 37 39](https://user-images.githubusercontent.com/28607714/39486306-4aebabd4-4d99-11e8-90b5-acfe6b8dfaab.png)

**Would you like to work on

[2018-05-01 19:05] nikit19 opened #2415 "Login Button and textview visible in all fragments"
**Actual Behaviour**

If you open the notifications fragment and then go to some other fragment say discount codes fragment.
The login button and "Please login to continue" text is visible everywhere

**Expected Behaviour**

It should not be visible after we leave the notification fragment

**Steps to reproduce it**
Open the app.
Go to notifications fragment.
Go to Discount Codes fragment and clic

[2018-05-01 21:24] dreadpool2 opened #2416 "App crashes whenever Profile picture is updated"
**Actual Behaviour**

The app crashes whenever the profile picture is updated in our account (irrespective of its size)

**Expected Behaviour**

The crash should not occur

**Steps to reproduce it**

->Open the app
->Log in
->Update profile settings
->Update Profile Image

**LogCat for the issue**
`E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #5

[2018-05-02 08:43] #2413 closed, assigned to nobody

[2018-05-03 03:07] #2415 closed, assigned to nobody

[2018-05-03 09:36] nikit19 opened #2418 "Add separate issue templates"
**Actual Behaviour**

There are no separate issue templates

**Expected Behaviour**

Github now supports separate issue templates for various occasions.Split the current issue template into 3 parts - bug, feature, and chore

Add 3 corresponding buttons to README in create an issue section where a user can be redirected to new issue template respectively

similar to what has been done in the open-e

[2018-05-03 09:36] nikit19 commented on #2418
@iamareebjamal can I work on this?

[2018-05-03 20:38] #2418 closed, assigned to nobody

[2018-05-04 18:57] nikit19 opened #2420 "Text appears smaller than expected in FAQ and discount fragment"
### Bug Report

**Actual Behaviour**

Text appears smaller than expected in FAQ and discount fragment

**Expected Behaviour**

It should be of standard size like it is in other fragments

**Steps to reproduce it**

Just  open the FAQ or discount fragment

**Screenshots of the issue**

![screenshot_20180504-235623](https://user-images.githubusercontent.com/20878145/39646953-c38384be-4ffa-11e8-8595-

[2018-05-04 20:05] nikit19 opened #2421 "Suppress and fix the warning in EditProfileActivity"
### Bug Report

**Actual Behaviour**

We get this warning in EditProfileActivity
"Wrong argument count, format string EditProfileActivity requires 0 but format call supplies 1"

**Expected Behaviour**

There should be no warnings

**Would you like to work on the issue?**

Yes

[2018-05-04 23:23] dreadpool2 opened #2424 "Unnecessary ProgressDialog visibility in Login Activity"
**Actual Behaviour**

The progress dialog is visible if the user enters wrong details or empty details.

**Expected Behaviour**

This should not happen

**Screenshots of the issue**

![31912686_1707836652584968_7805903816947138560_n](https://user-images.githubusercontent.com/28607714/39656792-31c6c6d2-5020-11e8-9ce6-726e1393a5e6.png)

**Would you like to work on the issue?**

Yes

[2018-05-05 20:16] #2421 closed, assigned to nobody

[2018-05-06 18:49] dreadpool2 opened #2425 "Direct Explicit Intent of Mail not present while calling for speakers"
**Actual Behaviour**

We can only copy the email id while calling for speakers

**Expected Behaviour**

The Call for speakers should directly lead us to our preferred mail system

**Would you like to work on the issue?**

Yes

[2018-05-06 21:32] #2420 closed, assigned to nobody

[2018-05-06 22:20] dreadpool2 opened #2427 "Class instantiation warning shown upon selection of a location"
**Actual Behaviour**

A warning shows that `Cannot instantiate class: android.support.v7.widget.Button
`

**Expected Behaviour**

This can be avoided

**LogCat for the issue**

` Cannot instantiate class: android.support.v7.widget.Button
                                                                             java.lang.ClassNotFoundException: Didn't find class "android.support.v7.widget.Button

[2018-05-07 19:49] nikit19 opened #2428 "Description textviews should have the same style"
### Bug Report

**Actual Behaviour**

The two textviews have different style and sizes

**Expected Behaviour**

The two description textviews should have the same style

**Steps to reproduce it**
Open session details activity

**Screenshots of the issue**

![screenshot_20180508-011149](https://user-images.githubusercontent.com/20878145/39721515-6fab2440-525d-11e8-9c64-67bccc41b583.png)

**Android

[2018-05-07 20:37] #2428 closed, assigned to nobody

[2018-05-08 19:25] nikit19 opened #2432 "Wrong app link on sharing speaker details"
### Bug Report

**Actual Behaviour**

If you try to share speaker details, wrong app link is shown in the end

**Expected Behaviour**

Correct app link should be shown

**Steps to reproduce it**

Open speaker details activity and select share

**Screenshots of the issue**
![screenshot_20180509-005044](https://user-images.githubusercontent.com/20878145/39778287-86f097c2-5323-11e8-8884-7b1be6447f14.

[2018-05-09 06:13] #2432 closed, assigned to nobody

[2018-05-09 07:59] #2424 closed, assigned to nobody

[2018-05-09 08:27] #2411 closed, assigned to nobody

[2018-05-09 17:25] simarsingh24 opened #2434 "adding method to post user feedback"
**Actual Behaviour**

No implementation for user to post feedback

**Expected Behaviour**

There should be one

**Steps to reproduce it**

Adding a FAB inside feedback fragment which would create an alert dialog where user can write his feedback

**Would you like to work on the issue?**

YES

[2018-05-10 20:36] dreadpool2 opened #2435 "App crashes on click of the track "OpenTech""
**Actual Behaviour**

The app crashes on click of the track "OpenTech"

**Expected Behaviour**

This should not happen

**Would you like to work on the issue?**

Yes

[2018-05-10 20:43] nikit19 commented on #2435
Pull the latest changes. This shouldn't happen

[2018-05-10 20:46] dreadpool2 commented on #2435
Okay!

[2018-05-10 20:51] dreadpool2 commented on #2435
@nikit19 Yup working 👍

[2018-05-10 20:51] #2435 closed, assigned to nobody

[2018-05-10 21:01] dreadpool2 opened #2436 "Unnecessary extra space in Track item"
**Actual Behaviour**

There is an unnecessary extra space in track item whenever the Type label is not present

**Expected Behaviour**

This should not happen

**Would you like to work on the issue?**

Yes

[2018-05-11 08:33] simarsingh24 opened #2437 "making CompositeDisposable and RealmDataRepository final inside VM"
**Expected Behaviour**

These should be assigned only once ie. should be made final inside VM

[2018-05-11 08:51] simarsingh24 opened #2439 "include ?size=0 for all list API calls"
**Expected Behaviour**

request should contain ?size=0

[2018-05-11 08:57] simarsingh24 opened #2440 "removing unnecessary try and catch blocks from VM's"
**Actual Behaviour**

Unnecessary try and catch blocks are present

**Expected Behaviour**

They are not of any use, should be removed

**Would you like to work on the issue?**

Yes

**Example**
[code]

[2018-05-11 09:32] simarsingh24 opened #2441 "removing unnecessary live data transformations from VM's"
**Actual Behaviour**
Unnecessary Live Data transformations in some VM's
Ex- in DiscountFragment

**Expected Behaviour**

No need should be removed

**Would you like to work on the issue?**

Yes

[2018-05-12 07:54] #2441 closed, assigned to nobody

[2018-05-12 08:09] #2440 closed, assigned to nobody

[2018-05-12 21:06] nikit19 opened #2445 "Improve UI of filter dialog"
**Actual Behaviour**

Filter dialog has a very simple UI, it can be improved by taking inspiration from other conference apps.

**Expected Behaviour**

There are lots of improvements that we can have. We can use a bottom sheet instead of dialog

**Screenshots of the issue**

![screenshot_20180513-023138](https://user-images.githubusercontent.com/20878145/39961560-4ca6275e-5656-11e8-86b8-d517995e3f

[2018-05-12 21:44] dreadpool2 opened #2446 "Use Card Views to brighten up the UI of MainActivity"
**Actual Behaviour**

The UI of MainActivity is quite bland

**Expected Behaviour**

Card Views must be used to brighten up the UI
I will organize all the similar related elements into a card.

**Screenshots of the issue**
![2018_05_13_03 01 15](https://user-images.githubusercontent.com/28607714/39961777-eb6896f2-565a-11e8-8b80-5b4cfb1b380a.png)

I want to make the UI of the MainActivity to look s

[2018-05-12 21:45] dreadpool2 commented on #2446
@iamareebjamal Should I go on with this ?

[2018-05-12 21:52] iamareebjamal commented on #2446
The proposed UI is not that great IMO. I can't remember seeing colored cards anywhere. This is too obstrusive. Use cards, make them colorless. The event details card - why do we need 4/5 UI telling "Event Details". UI does need a refresh. I'm not sure this is it

[2018-05-12 21:58] dreadpool2 commented on #2446
@iamareebjamal So should I just use white cards and gather elements into them ?

[2018-05-12 22:04] dreadpool2 commented on #2446
@iamareebjamal I have a doubt. I think if we change the UI of this activity there will be repercussions on other activities and fragments and thus we will end up on changing the UI of a quite a few other elements as well

[2018-05-12 23:10] iamareebjamal commented on #2446
How?

[2018-05-12 23:17] dreadpool2 commented on #2446
@iamareebjamal I thought that many components will be affected but it seems that only the Login window's UI must change as well. Like it should also be migrated to the use of Cards. I have got an idea about MainActivity's UI. Should I proceed with it ?

[2018-05-12 23:26] dreadpool2 opened #2448 "Inappropriate URL provided in the json files"
**Actual Behaviour**

Inappropriate URL is provided in the json files

**Expected Behaviour**

Proper Url should be present. Presently it opens to a foreign language website (probably german)

**Would you like to work on the issue?**

Yes

[2018-05-12 23:39] #2448 closed, assigned to nobody

[2018-05-12 23:40] iamareebjamal commented on #2446
Please show in prototype what you'd like to do

[2018-05-13 00:17] #2436 closed, assigned to nobody

[2018-05-13 00:29] dreadpool2 commented on #2446
@iamareebjamal I want to proceed like this :sweat_smile: . Are there any changes you recommend ?
![screenshot from 2018-05-13 05-57-46](https://user-images.githubusercontent.com/28607714/39962636-a0f24b32-5672-11e8-8f73-fa7bb446ddd6.png)

[2018-05-13 06:59] iamareebjamal commented on #2446
Rather than having a left right screen, use vertical linear arrangement

[2018-05-13 13:00] dreadpool2 commented on #2446
@iamareebjamal Did you mean this ?
![screenshot from 2018-05-13 18-29-57](https://user-images.githubusercontent.com/28607714/39967584-abb0b2ca-56db-11e8-95de-daaba32c4bf4.png)

[2018-05-13 13:12] iamareebjamal commented on #2446
Yes but include logo as well

[2018-05-13 13:21] dreadpool2 commented on #2446
@iamareebjamal Should the order of the cards be ->
1. Intro
2. Featured Speakers
3. Event Details ( includes both the dates and the location)
4. Organiser Description
5. Social Links

[2018-05-13 16:59] simarsingh24 opened #2450 "using direct network check instead of callback inside refresh() of swipe refresh"
**Actual Behaviour**

Currently, we are using `NetworkStateReceiverListener()` to check Network status inside swipe refresh layout's `onRefresh()`
Ex -
[code]

**Expected Behaviour**

A simple Direct network check would be good enough
Ex-
[code]

**Would you like to work on the issue?**

Yes

[2018-05-13 17:19] iamareebjamal commented on #2450
Can't understand. Please elaborate

[2018-05-13 17:20] iamareebjamal commented on #2446
Details should be 2nd

[2018-05-13 17:32] simarsingh24 commented on #2450
@iamareebjamal I have updated the issue description, Will make sure that the issue's description and title can be easily understood by the reader from next time :)

[2018-05-13 17:39] dreadpool2 commented on #2446
Okay :+1:

[2018-05-13 20:01] #2450 closed, assigned to nobody

[2018-05-13 21:51] dreadpool2 commented on #2446
@iamareebjamal I am proceeding like this. Any changes I must do?
![2018_05_14_03 19 45](https://user-images.githubusercontent.com/28607714/39972121-e5a4139c-5725-11e8-9358-a042d22f8d64.png)

[2018-05-13 22:59] dreadpool2 commented on #2446
It looks like this after adding the details

![2018_05_14_04 20 40](https://user-images.githubusercontent.com/28607714/39972483-c3d939be-572e-11e8-9dad-227507eb1d61.png)

[2018-05-13 23:33] dreadpool2 opened #2452 "App crash on clicking Comments Section in Live Feed"
**Actual Behaviour**

The app crashes on click of comments section in Live Feed. It occur only when there are some comments present.

**Expected Behaviour**

This should not occur.

**LogCat for the issue**

`java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String org.fossasia.openevent.core.feed.facebook.api.Commenter.getName()' on a null object reference

[2018-05-14 07:24] iamareebjamal commented on #2446
UI is nice, Good job, I'll be giving some pointers this evening

[2018-05-14 07:44] abhay222 commented on #2446
@dreadpool2 UI is very good. I would suggest, you create a separate card for the "Organizer Details"

[2018-05-14 10:16] nikit19 opened #2454 "Login Button and textview visible in all fragments"
**Actual Behaviour**

If you open the FAQ fragment and then go to some other fragment say discount codes fragment.
The login button and "Please login to continue" text is visible everywhere

**Expected Behaviour**

It should not be visible after we leave the FAQ fragment

**Steps to reproduce it**

Open the app.
Go to FAQ fragment.
Go to Discount Codes fragment and click the back button

**Screens