[2017-04-30 12:39] betterclever commented on #1443
@harshitagupta30 I guess issue is about start/splash screen and not About Page, although that addition can also be considered.

[2017-04-30 12:41] mariobehling opened #1446 "Menu icons disappearing, re-appear and disappear again"
The menu icons have a strange behavior at times and disappear, sometimes re-appear and disappear again.

![screenshot_2017-04-30-14-39-34](https://cloud.githubusercontent.com/assets/1583873/25564414/221fa23e-2db3-11e7-8b05-407b3b889a79.png)

[2017-04-30 12:44] mariobehling opened #1447 "The menu logo should be the event logo"
The menu logo shows the standard FOSSASIA logo even if that is not the provided logo of the event.

Expected: Menu logo needs to be the event logo. If no logo is available, please show event name in suitable style.

[2017-04-30 12:48] mariobehling opened #1448 "Unscheduled Session show up at 0:00"
Unscheduled sessions show up in the schedule at 0:00. Expected: Do not show unscheduled sessions at all.

Ensure unscheduled sessions show up in the API accordingly and align with the event orga server. Do not just mark a session "unscheduled" if it starts at 0:00. It is possible that there are sessions at that time actually. Please take care to details in this issue.

[2017-04-30 12:48] harshitagupta30 commented on #1443
@betterclever Hi as mentioned in above comment we need to add logo of event, Name of event, tagline,
Date or dates, location to the main screen which is already there in this screen and solves the purpose. We can modify it according to that if in case.
@mariobehling, In my opinion, we can create splash screen which will display the logo of the event like currently, we have FOSSASIA, for OSCAL we c

[2017-04-30 12:50] mariobehling opened #1449 "Change "Day 1", "Day 2" etc. to actual dates"
Currently the app shows the days of the event as "Day 1", "Day 2" etc. Please show the actual dates similar to the web app.

[2017-04-30 12:54] mariobehling opened #1451 "Ensure International English Punctuation across the app"
The location page shows "Floor : 1" for example. International English never leaves a space before ":". Please check the whole app and ensure International English is used.

[2017-04-30 13:02] mariobehling opened #1452 "Opening sessions shows briefly red color, which then is overridden by track color"
When opening sessions or speakers at times briefly the red app color is shown, which then is overridden by the track color. Expected: Avoid conflicting color implementations in app. Only use track color.

[2017-04-30 13:05] betterclever commented on #1443
@harshitagupta30 the details required can be mentioned on the Splash Screen itself like Udacity Intersect App.

[2017-04-30 13:12] harshitagupta30 commented on #1443
@betterclever I guess in Udacity Intersect App the splash screen is an image designed containing details not a screen with multiple textviews. In our case, since it's a generalise app not specified to a particular event we can't design an image for each event. We have to explicitly add details in form of textview which in my opinion, not a good idea.

[2017-04-30 13:12] iamareebjamal commented on #1452
@mariobehling As the track color is loaded asynchronously, we will need to display some intermediate color on UI. What should be a better approach @the-dagger ?

[2017-04-30 13:14] #1447 closed

[2017-04-30 13:23] betterclever commented on #1443
@harshitagupta30 I know that, but it can be done easily as well. While generating app, we can populate a  eventinfo.xml with event specific information in form of String Resources, the TextViews can utilize same resources so not much explicit addition is required as such.
In my opinion some Splash will be better if we provide required info. "About" screen is a nice addition too and I guess both ca

[2017-04-30 14:26] niranjan94 commented on #1441
@mariobehling will take a look

[2017-04-30 15:04] the-dagger commented on #1443
@harshitagupta30 @betterclever
I believe both splash screen and the about us page should be there.

We reverted the existing about us page because there were some issues with it (lacked auto refresh, toolbar auto hide, swipetorefresh)

If you want to implement it again, I'm more than happy to review it.

[2017-04-30 15:16] the-dagger commented on #1452
@iamareebjamal not really sure.
One option is we can display a progressbar till the colors are loaded before loading the sessions, but again that is nor a good UX imo.

Can you try to implement this and let me know if it looks good?
Attach an apk here so that we can test the same.

[2017-04-30 15:17] the-dagger commented on #1449
This can be fixed by changing the tab names in the viewpageAdapter, shouldn't be too hard.
@arp95 assigning this to you.

[2017-04-30 15:20] the-dagger commented on #1445
@mariobehling I'm not sure if android allows this to implemented, so while we can animate the content to be displayed by sliding in from the right, swiping to go back is not possible!

User will have to tap the back button on the phone/ on the toolbar to go back.

[2017-04-30 15:55] harshitagupta30 commented on #1443
@the-dagger I've no issues in implementing it again but I'll do once I get free from my end semester exams. :) Also I and @betterclever I discussing whether to add details about the event in the splash screen or not. Please let us know.

[2017-04-30 15:55] #1441 closed

[2017-04-30 16:02] arp95 commented on #1449
@the-dagger
sure.
started working on it.

[2017-05-01 12:02] iamareebjamal commented on #1452
I'm implementing a static color map for use throughout the app, so that the color computations don't have to take place repeatedly. I'll share the results here

[2017-05-01 12:06] iamareebjamal commented on #1443
I think only logo would suffice on Splash screen as on hot reloads, it only loads for fraction of a second. We will just need to configure the apk generator to also replace the splash logo drawable while generating the apk. I tried setting up the apk generator environment and succeeded, but I could not debug why the generator was failing in generation of app

[2017-05-01 12:07] iamareebjamal commented on #1445
And also, it is against the UX pattern on Android

[2017-05-01 12:36] arp95 commented on #1449
@the-dagger
sent the pr.
please review!

[2017-05-01 13:08] mariobehling opened #1455 "Add Gemnasium to Readme"
Please add Gemnasium to Readme.

[2017-05-01 13:10] iamareebjamal commented on #1452
@the-dagger Here is the preview...
[app-fdroid-debug.zip](https://github.com/fossasia/open-event-android/files/967877/app-fdroid-debug.zip)

Let me know if I should send the PR

[2017-05-01 14:15] arp95 commented on #1455
@mariobehling
working on it.

[2017-05-01 16:12] iamareebjamal commented on #1442
Working on it

[2017-05-01 16:26] #1451 closed

[2017-05-01 16:26] #1449 closed

[2017-05-01 16:58] iamareebjamal commented on #1410
@Shailesh351 Any update on the issue? Would you like someone else to take up the issue instead?

[2017-05-02 07:43] mariobehling opened #1460 "Include all documentation images in repository itself in /docs/images"
Please ensure the documentation should be consistent in itself and does not depend on cloud services. If a user clones the repo locally the user should not have to connect to the net.

Therefore:
* move all images saved elsewhere on the cloud etc. into the documentation itself
* move all images from docs/screenshot to docs/images
* ensure all image links are updated

[2017-05-02 07:52] free4murad commented on #1460
@mariobehling

This will bloat the repository.
Currently because of the previous images the repo size is 40MBs greater that what it should be.

What do you say?

[2017-05-02 08:06] mariobehling commented on #1460
This is another topic. There are ways to delete those old images from the history. Please open an issue for this.

We cannot make documentation depend on cloud services. The whole goal of git is that everyone has portable code and documentation. By linking things to cloud services you make this project dependent. Avoid dependencies, please.

We don't want dependencies.

If we decide to move to ano

[2017-05-02 13:29] #1436 closed

[2017-05-02 14:10] #1435 closed

[2017-05-02 17:46] #1452 closed

[2017-05-02 17:49] heysadboy commented on #1460
@mariobehling I think we can reduce the size of images using this https://kraken.io/ . It reduces size upto 90% . I tested this on one of the screenshot, you can see it reduced it by 62.68%.
![screenshot 105](https://cloud.githubusercontent.com/assets/22588035/25631321/a3851cba-2f8d-11e7-8d4c-2624720025da.png)

[2017-05-02 17:51] heysadboy commented on #1448
@mariobehling Can I work on this?

[2017-05-02 17:52] the-dagger commented on #1460
@heysadboy I don't really think that compressing the images here is of topmost priority.
We can do that anytime, also I don't see how it benefits the project right now.
Reducing the repo size by few kilobytes won't make much of a difference anyways.

A better option would be to help close the existing issues 👍

[2017-05-02 17:52] harshitagupta30 commented on #1448
@heysadboy go ahead :+1:

[2017-05-02 17:53] the-dagger commented on #1460
For storing the images, we can use
http://github.com/fossasia/open-event

Create a new folder over here and move the images here.
Use the raw link from this repo in our projects.
@mariobehling does that sound good?

[2017-05-02 17:54] free4murad commented on #1460
@the-dagger
https://help.github.com/articles/removing-sensitive-data-from-a-repository

should we use this?

[2017-05-02 17:55] free4murad commented on #1460
This deletes files from git history.

[2017-05-02 17:56] rohanagarwal94 commented on #1460
@the-dagger I think it's better to just store it in the screenshot folder itself. What say?

[2017-05-02 18:00] the-dagger commented on #1460
@free4murad @rohanagarwal94 bfg is a good option that we can use.
Storing or not storing images in the git repo isn't really an issue over here tbh.
Instead storing images somewhere else is a better option imo since it keeps the dev repo clean from all the clutter.

@mariobehling I think we can use the open-event repo for uploading all the assets (image and gifs) common to the open-event project.

[2017-05-02 18:03] free4murad commented on #1460
@the-dagger
Still, we can use the bfg to reduce the size of repo.
Because the previous images have bloated the repo.

[2017-05-02 18:05] the-dagger commented on #1460
Yeah, makes sense.

[2017-05-02 18:05] free4murad commented on #1460
Should I open an issue for this?

[2017-05-02 18:06] mariobehling commented on #1460
@the-dagger Please keep it simple. I am getting disillusioned by this long discussion here. Please don't invent new problems here and let's keep it similar across all projects. I agree we are talking about a few KB.

@heysadboy I am asking for very small changes. Maybe I should just have made this change myself quickly. I already explained in detail why we want to include and tried to get you on b

[2017-05-02 18:11] the-dagger commented on #1460
@free4murad
No need to open a new issue, who ever is fixing this issue, can run bfg on the existing repo before pushing the changes.

[2017-05-02 18:12] mariobehling commented on #1460
@the-dagger You comments are out of scope.

[2017-05-02 18:13] mariobehling commented on #1460
Tons of open PRs and super long discussions. This project has big problems.

[2017-05-02 18:31] #1455 closed

[2017-05-02 18:40] the-dagger commented on #1421
Duplicate of #1326
@Shailesh351 Please work with @arp95 on your existing implementation.

[2017-05-02 18:40] #1421 closed

[2017-05-02 18:42] the-dagger commented on #1440
@free4murad Not sure if this is a priority right now.
Also I can't seem to notice any high overdraw, for me the level of overdraw is 1x.

[2017-05-02 18:42] #1440 closed

[2017-05-02 18:59] the-dagger commented on #1407
@omar753sahl Status?

[2017-05-02 19:23] #1414 closed

[2017-05-02 19:50] rohanagarwal94 commented on #1460
@mariobehling apologies. I meant to say images folder only while there were other suggestions. Didn't notice until you pointed.

[2017-05-03 00:00] omar753sahl commented on #1407
I Fixed it and created a pull request.
Waiting for a review.

[2017-05-03 01:34] iamareebjamal commented on #1429
@mariobehling Should this be closed now?

[2017-05-03 06:56] mariobehling commented on #1429
@iamareebjamal @harshitagupta30 Thanks for looking through the app. On a quick glance things might look ok, but did you really go into detail? As we are planning to work together over the next few months more attention to detail is necessary.

Can you really go into detail, please?

Did you test all links in the app and compared standard behavior with other apps? Is the design and structure of the

[2017-05-03 10:33] iamareebjamal commented on #1460
I have also added deleted files in a text so that if we plan to use BFG or git-filter in future, we can use them. But still I don't think it will change anything because if any user merges instead of rebasing from development branch, it will cause the old files to be re-added to the history. Nevertheless, it should be its own discussion in another issue

[2017-05-03 10:43] iamareebjamal opened #1464 "Strategy for removing binary files from history"
As we had several stale resources in the git history and now, we have added all screenshots locally (#1460), repo size is bound to increase over time. There are two options of removing objects from git history:

- git-filter branch
- BFG

Both modify git history and hence all members will have to rebase to new branch rather than just `git pull` which uses merge strategy. Or will have to clone the

[2017-05-03 10:43] iamareebjamal commented on #1464
I read somewhere about forced GC and reflog, if someone proficient in git would like to comment

[2017-05-03 10:44] free4murad commented on #1464
I tried this earlier.
git-filter branch is easier.

But we need to rebase after this is done, merging won't do.

[2017-05-03 10:45] iamareebjamal commented on #1464
Yes, problem isn't git-filter or BFG, it is that how we ensure everyone rebases instead of merging

[2017-05-03 10:46] free4murad commented on #1464
Earlier in opened #1290 in this regard. Please have a look at the discussion there.

[2017-05-03 10:51] free4murad commented on #1464
@iamareebjamal
`git-filter branch` will also remove some commits from git history.

In a PR if those extra commits show up then we can tell the PR author to rebase first.
What do you think?

[2017-05-03 10:54] #1460 closed

[2017-05-03 11:04] iamareebjamal commented on #1429
@mariobehling Yes, I get this that development process is a little bit slow. There are some inherent code structure issues that slow it. We are trying to improve it. The biggest restriction is that the app is not a standalone one, it is generic which needs to adapt according to the Event provided or even the API structure. Unlike F8 or Google I/O, we cannot brand our app with specific graphics and

[2017-05-03 11:06] iamareebjamal commented on #1464
Yes I think in each PR, we will have to ensure that the contributor definitely rebased his branch

[2017-05-03 11:10] iamareebjamal opened #1465 "Enable Leak Canary to report memory leaks and fix it"
**Actual Behaviour**

Currently, Leak Canary doesn't report on any memory leak

**Expected Behaviour**

Configure Leak Canary to leak detection in debug mode and fix all memory leaks

**Would you like to work on the issue?**

Yes, but may require additional help

[2017-05-03 11:24] mariobehling commented on #1429
@iamareebjamal Excellent input. And yes reading your ideas, it becomes even more clear that devs need to align and understand what is going on with development in the server app pro-actively.

The Android app generator is not a separated project, where devs simply need to wait for the Orga (future API) server. As the team is working to move to a more API centric approach we need more input from th

[2017-05-03 13:43] iamareebjamal opened #1466 "SQLite replacement ORM library"
**Issue**

SQLite database is slow, hard to manage, hard to test and terse with lot joins and requires incredible amount of boilerplate code to create simple use cases

**What should be done?**

Replace SQlite with any of the modern ORM wrapper or for better efficacy, a different database solution overall, which provides:
- reactive notifications about data changes as an event application should b

[2017-05-03 13:52] iamareebjamal commented on #1466
My personal recommendations are -

- Realm:
Pros:
    - Very stable
    - Battle tested and proven
    - Easy to implement
    - Fast
    - Easy one to many and many to many mapping
    - Viewable through Stetho
    - Reactive Notifications
Cons:
    - Huge library size without APK splits which will be hard to maintain
    - No support for primitives
    - No auto migrations

- ObjectBox:
Pros:

[2017-05-03 13:57] omar753sahl opened #1467 "Update the Android Gradle plugin to version 2.3.1 and Gradle to version 3.3"
Update the Android Gradle plugin to version 2.3.1 and Gradle to version 3.3.

[2017-05-03 14:23] #1467 closed

[2017-05-03 14:23] the-dagger commented on #1467
Please check the comments in #1468

[2017-05-03 16:52] #1407 closed

[2017-05-03 18:18] #1442 closed

[2017-05-04 05:27] #1465 closed

[2017-05-04 16:22] AnXh3L0 commented on #1429
@harshitagupta30 Hello, I am one of the organizers of OSCAL. After generating the app, as always I found the app to be named FOSSASIA 2017 and the splash screen same thing. I managed to fix those by modifying the APK, but the problem here relies in the session times, they seem to be wrong, for example the event starts at 9 AM but there it shows 3 AM, so this means it fetches the time as if it were

[2017-05-04 21:42] harshitagupta30 commented on #1429
Hi @AnXh3L0, we are extremely sorry that you faced such issues and thanks for reporting. Currently, when the app is generated using the generator it takes the default app name and logo due to which you're seeing FOSSASIA 2017. Also, the time is set according to UTC standards which need to be changed in the eventyay API. If you require the APK of the application ASAP for testing then the one way is

[2017-05-04 22:12] AnXh3L0 commented on #1429
Hello again @harshitagupta30 . Thanks for the quick answer, TBH, the conference starts next week so we would love to have the app ready because the agenda should be ready already, so we don't expect new changes. If you can provide me with the manually generated apk file I would appreciate it a lot. No need for you to change the logo and name, I can do that, all I need right now is that the session

[2017-05-04 22:20] harshitagupta30 commented on #1429
Thanks for your quick response @AnXh3L0. I understood the issue related to the timings. I'll try to provide you with the APK after fixing this issue with correct timings ASAP.
Sorry for the botheration.
Thanks.

[2017-05-05 07:08] iamareebjamal commented on #1466
@free4murad @harshitagupta30 @rohanagarwal94 @Shailesh351

Please suggest/comment about the issue so we can start working on it. IMO, it should be the first issue to handle so that we can design tests and architecture accordingly and fix bugs faster

[2017-05-05 07:12] iamareebjamal commented on #1446
@arp95 I think the issue is with 4.4 Kitkat, this should minimise the fixing time

[2017-05-05 07:13] iamareebjamal commented on #1433
I think only the last part is remaining. I will like to send the PR for that if it is OK? @the-dagger

[2017-05-05 07:37] harshitagupta30 commented on #1429
@mariobehling I need a help from you. Actually the link of the eventyay API you have given https://eventyay.com/api/v1/events/47 in which the timings are currently set according to the timezone UTC+0000 which need to be changed to UTC+0200 Europe/Tirane to display the correct time. Since you have created the event on Eventyay and I don't have the permission to change so, it would be very great if

[2017-05-05 07:58] the-dagger commented on #1433
Alright @iamareebjamal
Please feel free to.

[2017-05-05 08:02] harshitagupta30 commented on #1466
@iamareebjamal In my opinion Realm would be the best to use. All the reasons you've already mentioned so I will not write it again :+1:  :)

[2017-05-05 08:31] free4murad commented on #1466
@iamareebjamal
Haven't heard about ObjectBox, but Realm I have used. I personally would go with Realm.

[2017-05-05 09:26] Shailesh351 commented on #1466
In my opinion Realm will be great.

On Fri, May 5, 2017, 2:01 PM Murad <notifications@github.com> wrote:

[2017-05-05 10:35] harshitagupta30 opened #1472 "Considering correct timezone while parsing the date"
**Actual Behaviour**

Currently, a static string "Asia/Singapore" is being passed and the timezone from the API is not fetched due to which wrong timing details are displayed.

**Expected Behaviour**

Dynamically fetching the timezone from the API instead of a static string.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemen

[2017-05-05 10:37] mananwason commented on #1472
@harshitagupta30 Go Ahead

[2017-05-05 11:53] harshitagupta30 commented on #1429
@AnXh3L0 We'have resolved this issue of displaying incorrect timings. I am also attaching a modified APK with correct timings. Please check it out and let me know if any other changes required.
[Oscal apk.zip](https://github.com/fossasia/open-event-android/files/978896/Oscal.apk.zip)

[2017-05-05 12:59] arp95 commented on #1446
@iamareebjamal
sure!
will look into this.

[2017-05-05 14:23] #1472 closed

[2017-05-05 14:41] arp95 opened #1475 "Adding a maps icon to the Location Activity"
**Actual Behaviour**

Currently when viewing the locations user has no way of viewing the location on the map.

**Expected Behaviour**

Adding a maps icon on the toolbar and enabling the user to locate the places with the help of it.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

Where-ever possible add a screenshot of the issue.

**Would you like to work

[2017-05-05 14:51] heysadboy commented on #1448
@mariobehling @harshitagupta30 Hey, events at 00:00 shows up like this

![screenshot_2017-05-05-20-05-46](https://cloud.githubusercontent.com/assets/22588035/25750687/182700f8-31d0-11e7-98e3-fb47e6e6ff83.png)

I am not able to reproduce this bug. Am I missing something? Is this the expected behavior?

[2017-05-05 15:04] heysadboy opened #1476 "Accent color of the session details"
**Actual Behaviour**

The primary and primary dark color for these sessions are different for each one of them but the accent color remains the same as of app i.e., Red (See the bubble at the bottom).

![screenshot_2017-05-05-20-26-16](https://cloud.githubusercontent.com/assets/22588035/25751306/283ffd3a-31d2-11e7-9a56-c43fcd7f0a62.png)

**Expected Behaviour**

This is a question as it may vary fr

[2017-05-05 15:05] shreyasnbhat commented on #1444
@mariobehling Could i work on this?

[2017-05-05 15:11] the-dagger commented on #1444
Sure, go ahead.

On Friday, May 5, 2017, Shreyas Bhat <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2017-05-05 15:18] arp95 commented on #1446
referencing the stackoverflow link here: http://stackoverflow.com/questions/36445507/action-bar-icons-disappear-when-the-drawer-is-opened

main issue for this to happen is the invalidateOptionsMenu() being called in onDrawerOpened() and onDrawerClosed() functions. This should resolve the issue.

[2017-05-05 15:25] AnXh3L0 commented on #1429
@harshitagupta30 Thank you, it works fine now although I cannot edit the splash screen haha :D

[2017-05-05 17:03] iamareebjamal commented on #1466
OK. So I also think Realm will be better as it is older and more stable.

I will open a branch on my fork and would request your support and collaboration on it.

@the-dagger @mananwason  Waiting for you approval...

[2017-05-05 17:20] iamareebjamal commented on #1476
Yes you are right.

I could not think of a solution at the time of implementing #1420

It should definitely follow track color

Also, while coding up a solution for this, leverage the Color cache in TrackColors class in utils package

[2017-05-05 17:22] the-dagger commented on #1466
Realm sounds good to me.
Let's wait for @mananwason's approval too.

--
Best,
Harshit Dwivedi

[2017-05-05 17:52] arp95 commented on #1444
@shreyasnbhat
working on this? or should i provide some help on this?

[2017-05-05 18:17] iamareebjamal commented on #1466
@harshitagupta30 Auto migrations are helpful when updating API structure, but Realm also provides a migration API

About the APK split, most of the time developer teams reject Realm is because of the size of the library which is about 4 MB. This is because the native code added to the project has to support multiple architectures like armv7, x86, x86_64.

To reduce this size, they have to use APK

[2017-05-05 18:19] shreyasnbhat commented on #1444
I guess I have fixed it. Would revert if I have some problems! 😀

On May 5, 2017 11:22 PM, "Arpit Aggarwal" <notifications@github.com> wrote:

[2017-05-05 18:47] Shailesh351 opened #1479 "App crashes when device connected to network but internet is not working in DayScheduleFragment"
**Actual Behaviour**

App crashes when device connected to Mobile Data but internet is not working in DayScheduleFragment because of  NullPointerException.

**Expected Behaviour**

App shouldn't crash.

**LogCat for the issue**

`java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.res.Resources android.view.View.getResources()' on a null object reference

[2017-05-05 18:48] mananwason commented on #1466
@iamareebjamal @the-dagger I also agree that realm would be a better option but since our datasets are not that big that a lot of performance difference will be visible, I wonder if this is something that should be done right now? Perhaps this can be taken up at a later stage. Right now we should be making the app and generator bug free and improve their integration with the server.

So, In my opi

[2017-05-05 18:53] mananwason commented on #1448
@heysadboy This is because events at 12 PM are decoded as 12 AM and rendered at 00 times. Take a look at ISO conversions.

[2017-05-05 18:53] iamareebjamal commented on #1466
@mananwason But tests for current db would be mundane if we replace it with Ream at a later stage. Also, there have been plans on implementing Realm from last year itself but it never happened. Along with the speed and performance, with every change in the API, there are a lot of changes required to be done in the app code, and sometimes even break the app update.

[2017-05-05 18:55] mananwason commented on #1445
@mariobehling @the-dagger It is possible to implement iOS like swipe back gestures here but as pointed out by @iamareebjamal it's against the guidelines for android design.

[2017-05-05 18:58] mananwason commented on #1443
@harshitagupta30 Let's keep the logo only on the splash screen as @iamareebjamal said. @iamareebjamal What issues are you facing?

[2017-05-05 19:02] mananwason commented on #1429
@harshitagupta30 Please change the splash screen logo too for the OSCAL apk please. Thanks!

[2017-05-05 19:03] mananwason commented on #1427
@amitiwary999 Please refrain from creating redundant issues for the same bugs. A bug in search needs to have only 1 issue and 1 PR

[2017-05-05 19:08] mananwason commented on #1419
@rohanagarwal94 You have shown interest on working on the same thing previously as well [#365](https://github.com/fossasia/open-event-android/issues/365). I expect you finish this on a fixed timeline this time. Please share that timeline with us.

[2017-05-05 19:09] mananwason commented on #1351
@arp95 Yes we want to implement this feature. What are your ideas?

[2017-05-05 19:12] mananwason commented on #1466
@iamareebjamal Changing api format is one reason why Realm would be better in our usecase. I am okay with you implementing it but you need to be on a timeline and strictly finish by then. Please share your timeline here.

[2017-05-05 19:13] Shailesh351 commented on #1445
Well telegram uses this swipe back gestures.

[2017-05-05 19:27] arp95 commented on #1351
@mananwason
as we are looking for indoor navigation, getting location through gps would not help. So what we can do is get the location using google play location services and then transfer the control to google maps with the source and destination which will provide navigation for us.
what say?

[2017-05-05 19:47] free4murad opened #1480 "Short dates in ScheduleFragment"
**Actual Behaviour**

In ScheduleFragment the TabTitles are complete dates eg `2017-03-17`.

**Expected Behaviour**

It is better if we ignore the year and display the name of the month eg `17 Mar`

**Screenshots of the issue**

Proposed style
![screenshot_20170506-010952](https://cloud.githubusercontent.com/assets/17262180/25761709/6b7425fa-31f9-11e7-864c-dac896f54453.png)

**Would you like to wo

[2017-05-05 19:51] iamareebjamal commented on #1445
@Shailesh351 Telegram doesn't follow many Android guidelines and is a personalised private app. Suppose we implement swipe gestures and some Event Organiser uses our app and considers it an anti-pattern in Android, then it will be of our disadvantage. We should keep our app as neutral and restricted to design guidelines as possible

[2017-05-05 19:54] the-dagger commented on #1445
Not sure what's wrong with the current animations anyways, they look just
fine to me.
We should rather focus on the existing issues which at emote importantl

--
Best,
Harshit Dwivedi

[2017-05-05 19:55] iamareebjamal commented on #1466
@mananwason I'll complete the Realm integration in this week itself and the data layer test in the next week. If more detailed description is required, I will be happy to do so. Thanks :)

[2017-05-05 19:59] AnXh3L0 commented on #1429
I can send you the file we want to use as splash screen because I couldn't edit that by modifying the apk file. Also, I noticed that the sidebar event logo would change after opening the app after the 1st time to the fossasia one. Just reporting bugs here, please PM me so I can send you the splash screen image :)

[2017-05-05 19:59] iamareebjamal commented on #1443
I start redis and celery with gunicorn as shown in the development docs and the generator app is loaded just fine, but neither can I see any log I write in the code, nor any exception that I throw, the app generation fails silently with the error message on the web app and no message on any of the console.

I tried many command line arguments to gunicorn about log level, log file, enabled flask de

[2017-05-05 19:59] #1433 closed

[2017-05-05 20:01] iamareebjamal commented on #1429
Thanks @AnXh3L0 I'll look into the app drawer issue.
Sorry for the inconvenience again

[2017-05-05 20:03] iamareebjamal commented on #1480
I'd like to do it

[2017-05-05 20:07] free4murad commented on #1480
@iamareebjamal
Make sure if the date is `03 Jan` it is displayed as `3 Jan`.

Actually, I missed that.

[2017-05-05 20:09] iamareebjamal commented on #1480
Ok. Thanks for the suggestion @free4murad

[2017-05-05 20:21] iamareebjamal commented on #1429
![device-2017-05-06-014857](https://cloud.githubusercontent.com/assets/3874064/25762916/3f04d1d6-31fe-11e7-9c75-6623bdc4ac96.png)
I tried loading the app several times and even after rebooting the phone, it loaded the correct logo. Can someone else please confirm the bug as I can't replicate it

[2017-05-05 20:28] free4murad commented on #1446
@arp95 @iamareebjamal
Are you able to reproduce the bug? Its working fine on my device.

[2017-05-05 20:30] iamareebjamal commented on #1446
Are you using Kitkat?

It is working fine on 5.0+

[2017-05-05 20:31] AnXh3L0 commented on #1429
I hope it is only for me then. Adding a new splash screen and the app should be ready to publish.

[2017-05-05 20:31] shreyasnbhat commented on #1444
@mariobehling
@the-dagger
I guess this is fine. Or any improvements needed?
#### Settings GIF
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/19890557/25763186/7f89065e-31ff-11e7-9642-f144c19b40f7.gif)

#### Settings Description
![whatsapp image 2017-05-06 at 1 53 22 am](https://cloud.githubusercontent.com/assets/19890557/25763233/b8ddf04a-31ff-11e7-96a5-c8abe851c5e4.jpeg)

De

[2017-05-05 20:32] arp95 commented on #1446
@free4murad actually i faced this error quite a while back. right now its working fine.
as @iamareebjamal pointed the reason has to be older versions.

[2017-05-05 20:32] harshitagupta30 commented on #1429
@AnXh3L0 Please attach the image for the screen here itself. Thanks :+1:

[2017-05-05 20:32] free4murad commented on #1446
using
Android 4.3
Android 6.0

Working fine for me.

[2017-05-05 20:33] harshitagupta30 commented on #1429
@AnXh3L0 and regarding the logo that is because it's been loaded by the server so sometimes due to weak internet connection it's not updated and therefore you see FOSSASIA's logo.

[2017-05-05 20:34] arp95 commented on #1446
found possible reasons for disappearence of menu icons, and i think its due the menu.clear() statement in onCreateOptionsMenu(). i think we have to use a inflator there for inflating the menu.

[2017-05-05 20:35] free4murad commented on #1446
@mariobehling
can you please confirm your device and android version?

[2017-05-05 20:35] iamareebjamal commented on #1446
Nevertheless, the fix should be merged so it doesn't happen again. Bugs in support libraries are hard to reproduce and track as we don't know when and how they happen.

I'll try to look for more causes and until then you can add this fix in the PR as well @arp95 :+1: :smiley:

[2017-05-05 20:35] harshitagupta30 commented on #1446
It's working fine for me too.

On Sat, May 6, 2017 at 2:04 AM, Arpit Aggarwal <notifications@github.com>
wrote:

[2017-05-05 20:36] arp95 commented on #1446
@free4murad @iamareebjamal
do update me if you get this bug.
none the less sending the fix for this in the pr.

[2017-05-05 20:38] free4murad commented on #1446
I am not debating if we should merge the fix or not. Merging a good option.

Just curious if anyone else is facing the same issue.

Also if we could get the development environment of the people experiencing the bug that wouls be great.

[2017-05-05 20:39] iamareebjamal commented on #1429
@harshitagupta30 But the logic should be to load the app logo instead, IMO. The generated apk should not contain any reference to the fossasia resources and hence shouldn't show the fossasia logo.

[2017-05-05 20:44] harshitagupta30 commented on #1429
@iamareebjamal got your point. We're currently using Fossasia's logo as a placeholder which needs to be changed I guess. (p.s. I am not much sure about this need to check in the code)

[2017-05-05 20:48] arp95 commented on #1446
@free4murad @iamareebjamal
i think go through this link: http://stackoverflow.com/questions/19750635/icon-in-menu-not-showing-in-android

this is what we are looking for.

[2017-05-05 20:50] AnXh3L0 commented on #1429
@harshitagupta30 attached is the splash image :)
![splash](https://cloud.githubusercontent.com/assets/25004151/25763828/3c64eb46-31e5-11e7-9f03-8f826367dcf4.png)

[2017-05-05 20:53] AnXh3L0 commented on #1429
also, @harshitagupta30 , if possible, can you add the image attached as the app icon? the one right now seems too big to me :P thanks a lot btw :D
![app-icon](https://cloud.githubusercontent.com/assets/25004151/25763900/a5dc614e-31e5-11e7-96de-e4ac69736ba0.png)

[2017-05-05 20:55] harshitagupta30 commented on #1429
@AnXh3L0 sure! I am changing both the app icon and splash screen icon and will attach the APK here.

[2017-05-05 21:24] harshitagupta30 commented on #1429
@AnXh3L0 Here goes the required APK, now you'll be no longer see Fossasia's logo and all the required changes have been made. Cheers :+1:
[oscal apk.zip](https://github.com/fossasia/open-event-android/files/980359/oscal.apk.zip)

[2017-05-05 21:49] AnXh3L0 commented on #1429
@harshitagupta30 ugh
![photo5791979182564158162](https://cloud.githubusercontent.com/assets/25004151/25765444/7130b762-31ed-11e7-9844-817df6b5219d.jpg)

[2017-05-05 22:18] harshitagupta30 commented on #1429
@AnXh3L0 oops! Sorry please, the updated one.
[oscal apk.zip](https://github.com/fossasia/open-event-android/files/980443/oscal.apk.zip)

[2017-05-05 22:26] AnXh3L0 commented on #1429
@harshitagupta30 Thanks a lot, it looks great! It is now accessible to everyone by visiting http://osc.al/app

[2017-05-05 22:28] Shailesh351 opened #1484 "Package name is same for all the generated apks"
**Actual Behaviour**

Package name is same for all the generated apks. In android user is not able to install more than one app with same package name.
So let user is interested in more than one conference and tries to install apks for them, then it will create problem. User will not able to install more than one app at time.

**Expected Behaviour**

The package name for different apk for particul

[2017-05-05 22:35] free4murad commented on #1429
@harshitagupta30
In schedulefragment it still shows day 1 & day 2

[2017-05-05 22:53] mariobehling commented on #1445
The idea is to have the ability to control the screen with the thumb and to make the whole app easier to use.

[2017-05-06 02:56] utkarshnath commented on #1484
I too would like to work on this @Shailesh351

[2017-05-06 03:28] iamareebjamal commented on #1484
@Shailesh351 The app generator replaces the package name itself. There is no need for this issue.

Please refer to [this](https://github.com/fossasia/open-event-android/blob/development/apk-generator/v2/app/generator/generator.py#L132)

[2017-05-06 03:35] utkarshnath commented on #1484
@iamareebjamal are we checking if app_package_name is unique ?

[2017-05-06 03:38] arp95 commented on #1434
@harshitagupta30
any progress?

[2017-05-06 04:04] iamareebjamal commented on #1484
No, but as we don't maintain all event's database, it will be difficult for us to handle that

Actually we do maintain the db, but IMO, it is out of scope of the project as we will have to traverse all events from REST API and solution will be intractable

[2017-05-06 04:05] utkarshnath commented on #1484
I think we can add timestamp in package name

[2017-05-06 04:09] iamareebjamal commented on #1484
That will make each generated app different even for same event, which we don't want

[2017-05-06 04:10] utkarshnath commented on #1484
oh yes, sorry !! very bad idea

[2017-05-06 04:17] #1484 closed

[2017-05-06 04:22] Shailesh351 commented on #1484
@iamareebjamal Thanks. I haven't looked at generator.normalize methode where app_name is again changed as event_name.

[2017-05-06 04:30] utkarshnath opened #1485 "Size of item in Bookmark and Track is different"
**Actual Behaviour**
![screenshot_20170506-093652](https://cloud.githubusercontent.com/assets/12716067/25769867/7b60a4ea-3242-11e7-837a-ecba2df0d5b4.png)

**Expected Behaviour**
![screenshot_20170506-093752](https://cloud.githubusercontent.com/assets/12716067/25769870/8c2a71de-3242-11e7-89ac-43c3cca32f9b.png)

Sending the PR for the same

[2017-05-06 05:31] #1485 closed

[2017-05-06 05:32] #1416 closed

[2017-05-06 05:37] the-dagger commented on #1445
@mariobehling as mentioned, that's against the guidelines.
We have back and menu buttons already on the device.
The reason this was needed in iOS devices was because they lack a physical back button hence a swipe was a good alternative for back navigation.
I'm not really sure if implementing this is worth it!

[2017-05-06 05:37] the-dagger commented on #1444
@shreyasnbhat looks good.

[2017-05-06 05:39] mayank8318 opened #1487 "Center Alignment of the Speaker photo and Name in details about the event"
**Actual Behaviour**

Photo and name of the speaker is aligned to the left of the screen in details about the event.
![image](https://cloud.githubusercontent.com/assets/22395998/25770172/334dbcba-324c-11e7-9b99-b69b6931b353.png)

**Expected Behaviour**
It should be aligned in the centre of the screen.

**Would you like to work on the issue?**
Yes

[2017-05-06 05:41] shreyasnbhat commented on #1444
@the-dagger I updated the animation so that the Settings page comes on top of the Main Page and doesn't make the Main Page move out of the screen.

[2017-05-06 05:58] mariobehling commented on #1444
Very good. Please make a PR. Thanks.

[2017-05-06 06:20] harshitagupta30 commented on #1434
Hi @arp95, so sorry, I forgot to send the PR. I will send it today.

[2017-05-06 07:00] mahikaw commented on #1426
@harshitagupta30 Are you working on it?

[2017-05-06 07:24] arp95 opened #1489 "DayScheduleFragment leaked 109 KB"
**Actual Behaviour**

After using the app for a while i get a notification as seen below for the information leakage.

**Expected Behaviour**

Adding appropriate permissions in the manifest file to avoid that.

**Steps to reproduce it**

1. Use the app for several minutes.
2. While doing so go to different items like tracks, location, schedule etc.
3. You will get a notification of information lea

[2017-05-06 09:07] mahikaw opened #1490 "Show progress of completion while downloading"
**Actual Behaviour**

Currently, when the app id downloading data and if we move to the tracks section, it displays "no tracks", as shown below.

**Expected Behaviour**

The screen should indicate that data is downloading.
**Steps to reproduce it**
Go to tracks section soon after starting the app.

**Screenshots of the issue**

![screenshot_20170506-143043](https://cloud.githubusercontent.com/asse

[2017-05-06 09:55] arp95 commented on #1490
@mahikaw
i think it requires no change.
The snackbar tells us whether the download is done or not so lets say if the download is done automaticallly the tracks are loaded otherwise we get a "No tracks" as shown by you.

[2017-05-06 10:46] mahikaw opened #1491 "Apparent shortcoming in current design of Schedule fragment"
**Actual Behaviour**
Currently the Schedule Fragment has dates as tab titles just like in 'Google I/O 2016' app.
However, since we are aiming at generating a generalised event app, if a particular event is longer than just 3 days, let's say, 15 days long, then the app layout will become very untidy.

**Expected Behaviour**

- We could use an **overflow menu button** that will contain all the dates

[2017-05-06 11:14] mahikaw opened #1492 "Error in 'share event' messages URL"
**Actual Behaviour**
Currently, on sharing any event using the share button provided, there are 2 URLs which are being shared:-

1. First, is the link to google play store and not to the app.
2. Second, a link to download the speaker's image.

**Expected Behaviour**

A link to the app on play store and details of the event should be shared.

**Screenshots of the issue**

![device-2017-05-06-163403

[2017-05-06 11:23] mahikaw commented on #1426
@mariobehling Just a suggestion...wouldn't it be nice if we add text irrespective of whether there is a logo?
Because, as pointed out by @harshitagupta30 , even if there is an image, it might not necessarily contain a name for the company. We could add the name in the same text box of the listview where it shows the type of sponsor(gold, platinum etc.)

[2017-05-06 11:33] iamareebjamal commented on #1492
@mahikaw About the google play link, if the app does not have app link, play store home is shown as discussed in #1470

[2017-05-06 11:38] mahikaw commented on #1492
@iamareebjamal this app doesn't have a link, I reckon?

[2017-05-06 11:38] iamareebjamal commented on #1489
@arp95 This is the message from LeakCanary. Once you click on the notification, it'll ask for the permission to access storage once and after that you can see the leaks in the app called `Leaks` on your device. This was working as expected on Nougat when I last tested. Is your app behaving differently than expected?

[2017-05-06 11:40] harshitagupta30 commented on #1434
@the-dagger @arp95 where we have to add this in which fragment we have to add this?

[2017-05-06 11:42] mahikaw opened #1493 "App sharing via Facebook"
**Actual Behaviour**

Toast saying "Please retry again" is raised when I try to share the app using "INVITE VIA FACEBOOK" button.
On the other hand, I am able to share the app successfully via Facebook using "SHARE APP" button and then selecting "share with Facebook".

**Expected Behaviour**

I think there is no need for a separate button to enable Facebook sharing. Moreover, it is not even functi

[2017-05-06 11:42] iamareebjamal commented on #1490
Instead, we can show a determinate progress bar showing how much of the download is done. Not specifically accurate to the bytes, but like

    Dowloading Tracks...

And the progress bar moves to next step showing the next part being downloaded because there are finite numbers of steps in the download process and I agree waiting like this, user may think nothing is happening and may think that app

[2017-05-06 11:44] mahikaw commented on #1490
@iamareebjamal yes, that is what I was suggesting. Let's wait for the mentors to decide on this. 😄

[2017-05-06 11:44] iamareebjamal commented on #1492
This app is only template app. If the link is provided in the API, that will be shown instead of Play Store Home

About the redirect to play store if no link found. I guess @the-dagger recommended that rather than showing no link so that user may search for the app manualy

[2017-05-06 11:47] iamareebjamal commented on #1487
@mayank8318 It is not aligned to the left. It is actually a horizontal RecyclerView which shows the list of speakers

Thanks :smile:

[2017-05-06 11:53] mahikaw commented on #1492
@iamareebjamal the link is there I guess, because if we want to share the app, using the option available in the app, it does successfully provide the link to the app on play store.
I think that should happen here too.
Regarding, the scenario when no link is found, that seems sensible! I didn't catch it at first. 👍

[2017-05-06 11:56] arp95 commented on #1489
@iamareebjamal
actually i tried to open the app different times but after a while i get that leak notifcation.
In the Android Monitor it shows we have to add permission for writing external storage.

[2017-05-06 11:57] free4murad commented on #1491
Last I checked, the TabBar is scrollable. Even if we have a 15-day long event we can scroll the tabs.
@mahikaw What do you think?

[2017-05-06 11:58] arp95 commented on #1434
@harshitagupta30
Maps Fragment

[2017-05-06 11:59] iamareebjamal opened #1494 "Remove unnecessary scroll listeners in ScheduleFragment"
**Actual Behaviour**

There are currently 2 view pager select listeners which both perform heavy task of refereshing the schedule and filter results every time a different tab is selected. It is unneeded since the schedule is not going to change until user pulls to refresh so reloading schedule again and again doesn't make sense. Secondly, since it is wrapped in `FragmentPagerAdapter`, it automati

[2017-05-06 12:00] mahikaw commented on #1491
@free4murad sure we could, but I was wondering how clustered it will look in that case.
 It's just a suggestion. I will be willing to work only if this is intended.  :)

[2017-05-06 12:01] free4murad commented on #1492
@iamareebjamal @mahikaw
The app store link will depend on the app id. As discussed on Gitter we need to fix the issue regarding dynamic app id first.

[2017-05-06 12:01] iamareebjamal commented on #1492
It means that there are two sources of links in the application, one in `Urls` which I used to determine if it is changed from the template and one elsewhere, probably in DB.

I think it should be resolved. Can you please find the source of the app link in app share option?

[2017-05-06 12:03] iamareebjamal commented on #1492
@free4murad, but the generator does in fact replace the default package name to the event based package name.

Look at the generator.py line 132

[code]

[2017-05-06 12:05] free4murad commented on #1492
@iamareebjamal
Great, actaully someone on gitter mentioned that app generator is not changing the app id

[2017-05-06 12:06] iamareebjamal commented on #1489
It is just a warning because the library manifest declares that permission and the app doesn't.

We should not add that permission in production code because leak canary won't be shipped in release builds and it will add an unnecessary permission to our app.

I recommend you to wait for another leak or make it happen temporarily and it will be shown just fine. If not, we can look into it

[2017-05-06 12:11] Shailesh351 commented on #1489
I have also observed same notification and observed that the leak is
because of DayScheduleFragment instance

On Sat, May 6, 2017, 5:36 PM Areeb Jamal <notifications@github.com> wrote:

[2017-05-06 12:13] mayank8318 commented on #1487
@iamareebjamal wouldn't it look better if the image is in the center?

Thanks☺

[2017-05-06 12:14] iamareebjamal commented on #1491
The tab won't look clustered as only 3-4 tabs will be visible and rest will be accessed via scrolling.

Nevertheless, it better to try to see what will happen in that case

[2017-05-06 12:14] mahikaw commented on #1492
<img width="808" alt="screen shot 2017-05-06 at 5 42 10 pm" src="https://cloud.githubusercontent.com/assets/21010060/25772198/7e214c3e-3283-11e7-8e78-f4adb97de308.png">
this is where the app look is being assigned to app share option.
I will rectify this error as soon as I receive a confirmation from the mentors. thanks for your help :)

[2017-05-06 12:15] iamareebjamal commented on #1489
True. I removed the SwipeRefreshListener in `onDestroyView` but it is still leaking somewhere. Fixing that issue will non conventionally fix this issue as well @arp95

[2017-05-06 12:17] iamareebjamal commented on #1487
What will be the case when there are more people?

Nevertheless, centering the image will require recyclerview width to be set to `wrap_content`, which won't work IMO.

But it is nice if it does. Let's wait for what mentors suggest

[2017-05-06 12:19] arp95 commented on #1489
@iamareebjamal
are you facing this issue?

[2017-05-06 12:22] Shailesh351 commented on #1489
Screen shot for the same :
![leak](https://cloud.githubusercontent.com/assets/18264684/25772231/48d11054-3284-11e7-855e-8cba7af37c40.jpg)

[2017-05-06 12:22] iamareebjamal commented on #1489
The issue is not about the permission, but the memory being leaked which is being reported by leak canary

Details can be seen when you open the notification
![device-2017-05-06-175139](https://cloud.githubusercontent.com/assets/3874064/25772250/b663f3ac-3284-11e7-8ef5-a49075647198.png)

Try to remain at schedule fragment for a period of time, it should show up

[2017-05-06 12:28] arp95 commented on #1489
@iamareebjamal
yeah was getting this. although the solution might not be as you said will have to look up on the android monitor for further details

[2017-05-06 12:29] mayank8318 commented on #1487
@iamareebjamal currently all the events have only one speaker and to handle multiple speakers the entire block of details and the photo can be horizontal scrollable.
What do you think?

[2017-05-06 12:32] iamareebjamal commented on #1489
The solution to the leak or permission problem?

[2017-05-06 12:35] arp95 commented on #1489
what i meant is you might be right permission might not be a solution for this.

[2017-05-06 12:36] iamareebjamal commented on #1487
It's not true that there are only one speaker per session.

Take `Keynote : Deimer` event in BlockChain for instance

[2017-05-06 12:43] Shailesh351 commented on #1487
@iamareebjamal Right :+1:

[2017-05-06 13:06] arp95 commented on #1490
@iamareebjamal
actually we have a progress bar but what you are suggesting is showing the download info along with the progress bar. can we get the data info from the api like how much data is being downloaded?
plus dont you think we would require some hard coding over here which might not be useful ahead?

[2017-05-06 13:06] Shailesh351 commented on #1410
After shifting sort mode from actionbar to fab (#1425) app is working fine without issue.

I have tested both case
1. First time running app without latest schedule data
2. Manually removing all sessions from database

[2017-05-06 13:06] #1410 closed

[2017-05-06 13:20] iamareebjamal commented on #1490
We can't get how much data we have downloaded in bytes per se, but section of it. We are already using hardcoded values for the response processing, sort of like a count down latch. See the log when the data is first downloaded. It will show you that 1/5 data downloaded, 2/5 data downloaded. Just need to translate that to UI.

But we should use Event Bus as less as possible IMO as it creates very

[2017-05-06 13:50] Shailesh351 opened #1496 "There should be divider between pages in view pager(ScheduleFragment)"
**Actual Behaviour**

With out divider between pages in view pager(ScheduleFragment), it feels like layout is braked which is not better UI.

**Expected Behaviour**

There should be divider/margin between pages in view pager so that it looks better.

**Screenshots of the issue**

Actual Behaviour
![viewpagerwithoutmargin](https://cloud.githubusercontent.com/assets/18264684/25772831/baa9c43a-3290-1

[2017-05-06 13:52] Shailesh351 commented on #1496
@the-dagger @mananwason @mariobehling @iamareebjamal
What's your opinion?

[2017-05-06 13:56] iamareebjamal commented on #1494
The current filtering method is extremely inefficient. I must create a new mechanism to filter schedule based on asynchronous APIs provided by Android. Currently, it is more like a array matching algorithm on very high complexity. I even pushed the load on computation thread in RxJava but still it was lagging. Removing the filter call removes all the lag.

I have pushed the current workaround [her

[2017-05-06 13:58] iamareebjamal commented on #1496
It's a nice addition IMO but let's wait for what the mentors think

[2017-05-06 14:06] iamareebjamal opened #1497 "Inconsistent app state if download interrupted"
**Actual Behaviour**

Currently, if the first download is interrupted, the app goes in an inconsistent state where the next app launch will assume the data is downloaded

**Expected Behaviour**

This is simply due to the step at which the shared preference of the data downloaded is stored. It is set to true as soon as the user presses `Yes` on download data dialog, whereas it should be set to true

[2017-05-06 14:11] arp95 commented on #1494
@iamareebjamal
i think this is a replicate of the issue opened by me #1489 . Lets work on one issue together.

[2017-05-06 14:23] Shailesh351 commented on #1494
Looks good to me. :+1:

I think you should also remove sort type variable from DayScheduleFragment and onResume methode as well, because sort option is now shifted to ScheduleFragment(fab) from DayScheduleFragment(actionbar) so it is redundant.

[2017-05-06 14:40] iamareebjamal commented on #1494
@arp95 memory leak is a different issue. But yes, let's tackle it first :+1:

[2017-05-06 14:40] arp95 commented on #1494
@iamareebjamal
have resolved the memory issue. now its working fine on my device.

[2017-05-06 14:42] arp95 commented on #1489
resolved the issue. working fine on my device.
submitting the pr in a while.
Thanks for help @iamareebjamal !

[2017-05-06 14:44] arp95 commented on #1497
@iamareebjamal
data download is happening on a separate thread right. so even if i exit the app the process of downloading should go on right?

[2017-05-06 15:09] iamareebjamal commented on #1497
No. That's not true. Threads are attached to the process, so they are ended too when process exits.

[2017-05-06 15:10] iamareebjamal commented on #1489
Great!

[2017-05-06 15:16] arp95 commented on #1497
@iamareebjamal
i dont think you are right.
when we use async task the process keeps on going on despite exitng or something else. As this is a similar thing it should go on and thus wont exit.

[2017-05-06 15:31] iamareebjamal commented on #1497
Try exiting the app while download is going on.

[2017-05-06 15:39] mahikaw commented on #1497
@iamareebjamal I tested this on my phone. Seems like a valid issue :+1:

[2017-05-06 15:40] Ronak-59 commented on #1497
I too faced the same issue. What I did is, Cleared the data of app, restarted it again. When it prompted for data download, I clicked on "yes". Then after a moment, I turned off my wifi switch and closed the app. Now when I restarted the app, the data is not syncing. All the tracks shows "No Sessions yet!"

[2017-05-06 15:50] arp95 commented on #1497
i dont have the problem with the issue. its just that if the process occurs on a background thread the process never exits.
anyways the issue seems valid.

[2017-05-06 15:58] iamareebjamal commented on #1497
We are removing listeners and binding the asynchronous tasks to activity lifecycle. Running async tasks such that process doesn't exit until it is completed is a memory leak situation. As soon as the activity is destroyed, all its instances must be garbage collected in the next GC run and if a background task is holding it as a strong reference, then it may not be garbage collected, hence, causing

[2017-05-06 17:34] #1480 closed

[2017-05-06 17:35] #1489 closed

[2017-05-06 17:36] #1444 closed

[2017-05-06 17:36] #1446 closed

[2017-05-06 17:39] the-dagger commented on #1496
@Shailesh351 Looks ok to me.
While you are at it, also change the icon for the fab to sort.
Right now it's `add` which does not makes sense.

[2017-05-06 17:41] the-dagger commented on #1492
@mahikaw sounds good.
Regarding the play store link, it's ok to redirect the user to GPlay homepage .
You can feel free to fix the second url you mentioned though, ideally it shouldn't be shared.

[2017-05-06 17:43] the-dagger commented on #1491
We can have a scrollable tablayout, so it won't be an issue.
@mahikaw If you want, change the following attribute to `scrollable` and send a PR to fix this up.

https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/res/layout/fragment_schedule.xml#L21

[2017-05-06 17:44] the-dagger commented on #1493
@mahikaw
I believe this looks a bit odd too.
FB invite is not a must needed feature imo.
You can go ahead and remove it.
Be sure to remove the fb and twitter sdk from the dependencies too.

[2017-05-06 17:47] the-dagger commented on #1487
@mayank8318
Thanks but this is not really needed atm though.
I'll close this for now.

[2017-05-06 18:02] Ronak-59 commented on #1427
I guess this issue has been already resolved. Can you please recheck? @amitiwary999

[2017-05-06 18:11] shreyasnbhat opened #1499 "Recommendation for a Global Search with a New Home"
A user should be shown his Bookmarks and Upcoming Events as his first page as that is what a user really needs and not a page like Tracks.
So something like this along with a global search could be done.
The end result would be like a Google Play Store Inteface.

**Proposed Behaviour**
![whatsapp image 2017-05-06 at 11 30 03 pm](https://cloud.githubusercontent.com/assets/19890557/25774814/7e191718

[2017-05-06 18:14] harshitagupta30 commented on #1426
@mahikaw No, you can work on it. :+1:

[2017-05-06 18:24] harshitagupta30 commented on #1429
@free4murad I know, I forgot to update the code but in my opinion that is not a big issue for which the app needs to upload again on the website and cause inconvenience to the organiser :) I am sorry but it will work here I guess :)

[2017-05-06 18:44] harshitagupta30 commented on #1434
@arp95 but I didn't get where inside the map fragment should I add this? can you please explicitly tell me. Thanks in advance :)

[2017-05-06 18:46] harshitagupta30 commented on #1434
I am extremely sorry I didn't read it completely I got it now. On the marker, I have to add the code.

[2017-05-06 19:45] free4murad commented on #1429
@harshitagupta30
Please, no need to be sorry. It was just a reminder.

[2017-05-07 03:48] arp95 opened #1501 "Inconsistent UI of Location Activity"
**Actual Behaviour**

Location Activity has different colours for different tracks as multiple tracks can happen at the same location.

**Expected Behaviour**

When viewing session in Location Activity make all them to the same colour programatically.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

![18405390_10211225044816409_595783442_o](https://cloud.gi

[2017-05-07 04:12] shreyasnbhat commented on #1499
@arp95 @iamareebjamal @harshitagupta30  Suggestions?

[2017-05-07 04:20] iamareebjamal commented on #1499
IMO, the first page should be event info which is being implemented by Harshita.

When it's done, this can be incorporated into it. Global search is good idea.

[2017-05-07 04:29] arp95 commented on #1499
@shreyasnbhat
i think what you are suggesting is somewhat what i saw in Google IO 2016 app where when the user clicks on the search icon he/she is directed to a search page where they can search what ever they want.
The idea of global search is looking good.

[2017-05-07 04:35] shreyasnbhat commented on #1499
@iamareebjamal
I agree. Event Info Page is fine. But IMO a person who is downloading the app obviously intends to go for the conference. So i guess he doesn't need be shown stuff like what the conference is about etc. It would be more helpful if he/she could be shown a list of upcoming events.
Anyways this is open to debate.
@the-dagger Suggestions?

@arp95
Yeah I was thinking on those lines.

[2017-05-07 04:36] #1491 closed

[2017-05-07 05:01] the-dagger commented on #1491
@mahikaw ideally you should wait for the PR to be merged before closing the issue.
Please don't close it beforehand.

[2017-05-07 05:11] mahikaw commented on #1491
I'm sorry. I will take care in the future. 👍

[2017-05-07 05:34] Ronak-59 opened #1504 "App Crash on Network State Change"
**Actual Behaviour**

I was on Wifi and suddenly my brother switched off wifi router switch which resulted in change of State of Network in my device from Wifi to Data Connection - 4G

Now the App suddenly **crashed** and force stopped.

**Expected Behaviour**

Well, the app is supposed to remain stable on network change when the downloading of data is incomplete.

**Steps to reproduce it**

Try t

[2017-05-07 06:25] the-dagger commented on #1426
@mahikaw Sounds good to me. :+1:
It's better if you could add a mockup UI which you plan on implementing.

[2017-05-07 06:27] iamareebjamal commented on #1499
The app is about specific event. Upcoming events don't make sense and isn't supported by server as well

[2017-05-07 06:31] iamareebjamal commented on #1504
I can work on it. It's a simple null check

[2017-05-07 06:33] iamareebjamal commented on #1501
You shouldn't make them same Programmatically. They should be according to the track color. Look at the open event web app.

It's better to make UI primary color neutral, like grey or blue grey.

Or better yet, configurable by the event organizer

[2017-05-07 06:34] betterclever commented on #1499
By events he means sessions I guess.

On Sun, May 7, 2017, 11:57 AM Areeb Jamal <notifications@github.com> wrote:

[2017-05-07 06:35] shreyasnbhat commented on #1499
@betterclever Yeah I was referring to the Sessions my bad.

[2017-05-07 06:44] betterclever commented on #1499
IMO, this will make app more easy to use and improve overall User
Experience. "About event" screen, should be accessible from the Navigation
Drawer. This behaviour is standard in most event apps.

On Sun, May 7, 2017, 12:05 PM Shreyas Bhat <notifications@github.com> wrote:

[2017-05-07 07:08] arp95 commented on #1501
@iamareebjamal
i think you didnt get me.
colours for different tracks is fine but when we view different tracks on the same location they should have the same colour right. As seen in the pic above i dont think its looking nice.

[2017-05-07 07:08] Shailesh351 commented on #1496
@the-dagger I think we should keep sort option in action bar and there should be only one fab for filter which will disappear when scroll up and again appear when scroll down.

Because as per material design guidelines there should be one fab which performs primary action which is most frequently used.

And also for sort user have to first click on fab then sort fab pops up and then user click on

[2017-05-07 07:36] iamareebjamal commented on #1501
The colors help discern which track they belong to. I think it is consistent with the web app implementation. Let's see what mentors think

[2017-05-07 07:37] iamareebjamal commented on #1496
Yes I agree. FAB should only do one task

[2017-05-07 07:54] the-dagger commented on #1496
@Shailesh351 Ok, positioning the sort action after search and moving the filter to fab sounds reasonable.
Just make sure that it's not hidden away in the overflow menu though, we need it to be visible at all the time.

[2017-05-07 07:57] Shailesh351 commented on #1496
So this is totally different from this issue should I am another issue for
it ?

On Sun, May 7, 2017, 1:24 PM Harshit Dwivedi <notifications@github.com>
wrote:

[2017-05-07 08:01] the-dagger commented on #1496
No need.
Just add this in when you send a PR for this issue.
I'll hardly require few lines of change.

[2017-05-07 08:08] arp95 commented on #1504
yeah facing this issue.

[2017-05-07 09:37] mayank8318 opened #1505 "Network not available dialog box does not go when network is available"
**Actual Behaviour**

If there is no network, then the network not available dialog box is displayed. When the network state changes the dialog box is still displayed.

**Expected Behaviour**

When network is available the dialog box should disappear.

**Steps to reproduce it**

Change network state while using the app.

**Would you like to work on the issue?**

I would like to work on it if the a

[2017-05-07 09:58] mayank8318 commented on #1487
I tried setting layout_gravity="center" in the recyclerview and this is how it look:
![image](https://cloud.githubusercontent.com/assets/22395998/25779575/a1eec8e2-3339-11e7-83b6-9e642be68247.png)
![image](https://cloud.githubusercontent.com/assets/22395998/25779576/aa47a22a-3339-11e7-8907-64286581fba5.png)

Maybe this looks nice? @the-dagger

[2017-05-07 11:13] arp95 commented on #1505
yes facing the same.
you should send a pr for this as this is a bug.

[2017-05-07 13:16] shreyasnbhat commented on #1501
@arp95  I think the colors are intended for each track and not a location so the behavior seems to be fine doesn't it?

[2017-05-07 13:23] arp95 commented on #1501
@shreyasnbhat
yeah the colours are for different tracks what i meant was if i view them in location activity its better to have one colour that is start being location specific than the tracks. lets see the what the mentors have to say.

[2017-05-07 14:31] mayank8318 commented on #1505
@arp95 yes, i am working on it.

[2017-05-07 15:51] amitiwary999 commented on #1427
@mananwason initially I was not aware of this issue.

[2017-05-07 16:25] the-dagger commented on #1487
LGTM @mayank8318
Please send a PR

[2017-05-07 16:30] #1492 closed

[2017-05-07 22:28] #1487 closed

[2017-05-07 22:28] #1496 closed

[2017-05-07 22:29] #1497 closed

[2017-05-07 22:29] #1427 closed

[2017-05-07 22:38] the-dagger commented on #1499
The idea sounds good to me, but we'll have to modify the user onboarding experience accordingly.
If you do want to implement a Home screen, then the best way would be to do it as @harshitagupta30 did it, @shreyasnbhat you can probably take some ideas from her implementation.

Your point about displaying the bookmarks sounds legitimate to me, so what we can do is display a horizontal list of bookma

[2017-05-08 01:09] arp95 commented on #1501
@mariobehling @the-dagger
your views?
should i continue on this?

[2017-05-08 08:31] shreyasnbhat commented on #1499
@the-dagger  Sure will be posting some mocks as soon as possible. Can't work much now due to college exams.

[2017-05-08 08:37] harshitagupta30 commented on #1499
@shreyasnbhat @the-dagger, In my opinion, I guess there is no point of doing the work regarding About screen again. What we can do is I can send a PR with the same layout and the changes which I was supposed to do and then @shreyasnbhat can add the more features to it. What's your opinion?

[2017-05-08 08:38] Shailesh351 opened #1510 "Filter is not working properly in Schedule Fragment"
**Actual Behaviour**

Filter is not working properly in Schedule fragment.

**Expected Behaviour**

It should work properly when switching between pages.

**Screenshots of the issue**
![videotogif_2017 05 08_13 34 30](https://cloud.githubusercontent.com/assets/18264684/25795752/6216c984-33f4-11e7-8006-b87762f7904d.gif)

**Would you like to work on the issue?**
yes

[2017-05-08 09:31] shreyasnbhat commented on #1499
@harshitagupta30 That would be great!

[2017-05-08 12:19] arp95 commented on #1434
@harshitagupta30
can i work on this?

[2017-05-08 12:31] Ronak-59 opened #1512 "Recommended Chat feature between user and Event Organizer"
**Actual Behaviour**

There is no option for Users to communicate with the Organizer for any doubt about the event

**Expected Behaviour**

A recommended feature according to me is a chat feature between user and organizer as shown in the screenshots below:

1) Floating Action Button for Chat Feature :

![fab](https://cloud.githubusercontent.com/assets/8841124/25804044/76ee75aa-3417-11e7-86cb-6782

[2017-05-08 12:44] harshitagupta30 commented on #1434
@arp95 sure. I am actually occupied with my exams. Thanks

[2017-05-08 16:00] arp95 commented on #1434
@the-dagger
on clicking the location button i should open google maps right?
for this i would need the google play maps in my build.gradle file. am i allowed to use extra dependencies or am i interpreting you wrong?

[2017-05-08 16:18] arp95 commented on #1434
i know i can use a implicit intent for opening maps on a click of location marker. However if i have to use the method you stated i would need to add extra dependency. Correct me if i am wrong.

[2017-05-08 16:55] iamareebjamal commented on #1512
You have added this feature on server? If not, I don't think that it is of use as the app is just a client for orga server API, and there should be 1:1 correspondence for that

[2017-05-08 17:14] the-dagger commented on #1434
@arp95 Yes, it should open an intent to google maps.

We are already using google maps in the `GooglePlay` flavour of the app, hence I mentioned to add this feature to the gplay variant only.

[2017-05-08 17:18] iamareebjamal commented on #1504
I have fixed the code but could not reproduce the error.

Could any one of you please test the PR and see if error still persists

[2017-05-08 17:21] Ronak-59 commented on #1504
Alright! Thanks for fixing the code.. Will try to reproduce the error while testing the PR and check if the error still exists or not.

[2017-05-08 17:49] iamareebjamal opened #1517 "NullPointerException on thumbnail parsing"
**Actual Behaviour**

Some speaker thumbnails are null and thus cause NPE

**Expected Behaviour**

Null checks should be added in Speaker Adapter and Session Speaker Adapter

**Steps to reproduce it**

Go to Speaker Fragment and sort by organisation and search 'Ho'
App will crash

**LogCat for the issue**

[code]

**Would you like to work on the issue?**

Yes. Sending PR

[2017-05-08 18:56] m-murad opened #1521 "Include Track for sessions in DayScheduleFragment."
Just like I/O 17 app we can add Track to every session.

**Screenshots of the issue**

![screenshot_20170509-001920](https://cloud.githubusercontent.com/assets/17262180/25820152/f398d3ee-344d-11e7-8805-70b49e467336.png)

@the-dagger @mariobehling @mananwason
What do you guys think?

[2017-05-08 18:58] mananwason commented on #1517
Please edit the issue to cover all such occurrences and solve all of them in one PR

[2017-05-08 19:01] iamareebjamal commented on #1517
@mananwason Done

[2017-05-08 19:04] iamareebjamal opened #1522 "Unnecessary menu load in MainActivity"
**Actual Behaviour**

Drawer menu is loaded in MainActivity as Toolbar menu and then cleared in each fragment without any reason

**Expected Behaviour**

We should remove the drawer loading in MainActivity and remove `menu.clear()` command from each fragment

**Would you like to work on the issue?**

Yes. Sending PR

[2017-05-08 19:30] #1522 closed

[2017-05-08 19:31] #1505 closed

[2017-05-08 19:34] #1504 closed

[2017-05-08 19:41] mananwason commented on #1479
Sorry but I'm not able to reproduce the issue. Please add clear steps always.

[2017-05-08 19:45] harshitagupta30 commented on #1521
@free4murad, Nice thought :+1:  In my opinion, this should be added as it will make the schedule more readable.

[2017-05-08 19:49] mananwason commented on #1521
@free4murad Go ahead 👍

[2017-05-08 19:50] mananwason commented on #1521
Please assign a milestone to this and adhere by it. Cheers!

[2017-05-08 19:54] mananwason commented on #1504
I wasn't able to reproduce the error either.

[2017-05-08 21:04] m-murad opened #1524 "Problem with loading colours."
**Actual Behaviour**
Issue similar to #1452 can be observed in LocationFragment.

**Steps to reproduce it**
In LocationFragment click on any location and the behaviour can be observed.

**Would you like to work on the issue?**
@iamareebjamal You solved the last one. Please have a look into this aswell.

[2017-05-08 21:12] iamareebjamal commented on #1524
Sure.

It should be working fine, but I'll take a look

And if the Realm PR #1509 is approved, we won't need separate color loaders

[2017-05-08 21:17] mariobehling commented on #1512
This feature is out of scope of the app. There are already many chat apps out there. We don't need an app for everything. We focus on a conference app and need to get the basics right first. Therefore closing it.

[2017-05-08 21:17] #1512 closed

[2017-05-08 21:17] iamareebjamal commented on #1466
Almost all joins have been removed since now we get sessions with tracks and speakers with sessions and vice versa. Some bugs remain to ironed out. Except that, everything is fine

[2017-05-08 21:18] free4murad commented on #1524
Actually, we are not using the `storeColor()` or `getColor()` method of the `TrackColors` in `LocationFragment.java`. So this behaviour is expected.

Also a lot of work in #1509. If you need some help with it please let me know. I can help you after 12th of this month.

[2017-05-08 21:21] iamareebjamal commented on #1524
That's when my exams will get started, so that will align perfectly. Dedicating whole day and night till that to make up for it :stuck_out_tongue_winking_eye:

About this issue, I might have forgot to do that in LocationFragment, doing it now. Thanks for mentioning

[2017-05-08 21:29] iamareebjamal commented on #1524
Took a look at `LocationFragment`, actually there is no need to use cached colors there because location does not have its own color. It is handled by `SessionListAdapter` as each item in it will have a different track and thus different color, and we are using the cached colors there.

The reason there is a delay in loading the color is that the color for that track is not cached yet, and once it

[2017-05-08 21:39] free4murad opened #1526 "TextView not positioned properly in LoactionActivity."
**Actual Behaviour**
In LoactionActivity "No sessions yet" TextView in not positioned in the centre.

**Expected Behaviour**
The textview must be in the centre

**Screenshots of the issue**
![screenshot_20170509-024950](https://cloud.githubusercontent.com/assets/17262180/25826197/82fc86a6-3463-11e7-9c82-6b3a25eaf937.png)

**Would you like to work on the issue?**
No, busy with exams.

[2017-05-08 21:47] iamareebjamal commented on #1526
Working on it

**Milestone**
[Milestone 1](https://github.com/fossasia/open-event-android/milestone/24)

[2017-05-09 02:12] Shailesh351 commented on #1479
I am also not manually able to produce this issue but i have faced this  approx 10 times. It will be good to null check

[2017-05-09 05:31] free4murad opened #1528 "DayScheduleFragment tabs not aligned properly."
**Actual Behaviour**
Before merging PR #1502 the Tabs in DayScheduleFragment were centre aligned. But now the Tabs are left aligned.

**Expected Behaviour**
The Tabs should be centre aligned.

**Screenshots of the issue**
![screenshot_20170509-105922](https://cloud.githubusercontent.com/assets/17262180/25836726/c209c834-34a6-11e7-8dbc-7d9eaf99afa9.png)

**Would you like to work on the issue?**
No,

[2017-05-09 05:38] free4murad opened #1529 "Typo in Issue template"
There is a typo in issue template.

Sending a PR for this.

[2017-05-09 05:40] shreyasnbhat commented on #1528
@free4murad I had fixed this earlier. I wonder how has this cropped up again. Anyways I  am also busy this week so can't work on this.

[2017-05-09 05:48] #1529 closed

[2017-05-09 06:07] Shailesh351 commented on #1528
@free4murad @shreyasnbhat
Tabs are not aligned because tabMode is setted to scrollable in [#1502](https://github.com/fossasia/open-event-android/pull/1502) which is okay in my opinion for event with many days

[2017-05-09 06:12] free4murad commented on #1528
@Shailesh351
In my opinion, it is not looking good like this.
What if the event is spread over just two days.

[2017-05-09 06:27] Shailesh351 commented on #1528
@free4murad then i think aliging  tabs with left keyline will be good particularly in tablets [Reference](https://material.io/guidelines/components/tabs.html#tabs-specs)

[2017-05-09 07:00] arp95 opened #1531 "Toolbar not displayed on a maps icon click in SessioDetailActivity"
**Actual Behaviour**

Currently when i click on maps icon in SessionDetailActivity the toolbar is not displayed.

**Expected Behaviour**

Toolbar to be displayed on the click.

**Steps to reproduce it**
-

**LogCat for the issue**

-

**Screenshots of the issue**

![18405718_10211243040586292_947593921_o](https://cloud.githubusercontent.com/assets/8268392/25838971/3dc6eda6-34b3-11e7-8070-6876c4ae5

[2017-05-09 08:23] #1426 closed

[2017-05-09 08:52] mahikaw commented on #1528
@free4murad @Shailesh351 thanks for pointing it out. I will look into what can be done to improve it. 👍

[2017-05-09 08:57] mahikaw commented on #1521
@free4murad are you working on it?

[2017-05-09 08:58] free4murad commented on #1521
No, I am busy this week.

[2017-05-09 09:00] Shailesh351 opened #1534 "Session locations not displayed in map"
**Actual Behaviour**

Session locations are not displayed in map fragment.

**Expected Behaviour**

Map should display all locations where sessions will be held.

![mapwithmicrolocations](https://cloud.githubusercontent.com/assets/18264684/25843128/f6634d22-34c3-11e7-9ced-74bad56e27b4.jpg)

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Milestone 1](https:

[2017-05-09 09:04] mahikaw commented on #1521
@free4murad @mananwason Shall I work on this?

[2017-05-09 09:06] free4murad commented on #1521
I have no problem.

[2017-05-09 09:35] mahikaw commented on #1490
@the-dagger @mariobehling @mananwason is this a valid issue?

[2017-05-09 10:02] mariobehling commented on #1490
Yes, seems valid. Thanks. Please proceed.

[2017-05-09 10:03] mariobehling commented on #1521
Please proceed. Nice feature.

[2017-05-09 18:05] arp95 opened #1537 "Test of app on Google IO event"
**Actual Behaviour**

@the-dagger @mariobehling @mananwason
For testing this app on Google IO event should i take sample data or the entire data from the app in the json files?

**Expected Behaviour**

Test on Google IO event should be succesfull

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

**Target Mil

[2017-05-10 00:05] heysadboy commented on #1448
Okay, solving this here https://github.com/fossasia/open-event-android/pull/1538. Please see @mananwason .

[2017-05-10 00:08] heysadboy opened #1539 "Centering the tabs in schedule list"
**Actual Behaviour**

They are shifted toward left

![screenshot_2017-05-10-05-28-27](https://cloud.githubusercontent.com/assets/22588035/25877699/beebbad0-3542-11e7-95fc-0ea48cf01cd5.png)

**Expected Behaviour**

They should be in center.

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

https://github.com/fossasia/open-event-android/milestone/24

[2017-05-10 00:14] heysadboy opened #1540 "Put screenshots in the table format"
**Actual Behaviour**

Currently after updating they are represented in a list kind of format.

**Expected Behaviour**

They should be in a tabular format like this https://github.com/fossasia/phimpme-android.

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

Till which [milestone](https://github.com/fossasia/open-event-android/milestones) will you be fixing

[2017-05-10 00:16] heysadboy commented on #1448
Target Milestone to solve the issue

https://github.com/fossasia/open-event-android/milestone/24

I can't edit this issue so putting this here.

[2017-05-10 00:27] free4murad opened #1541 "Wrong dates displayed in DaySchedularFragment."
**Actual Behaviour**
If the user is using the app with the following configuration
![screenshot_20170510-054441](https://cloud.githubusercontent.com/assets/17262180/25877918/7d84ab36-3544-11e7-8320-9101dbde4d2c.png)
then dates displayed in the `DaySchedularFragment` are incorrect.

eg when you open the sessions under the `16Jan` tab, the date displayed in the `SessionDetailActivity` for that sessi

[2017-05-10 00:28] free4murad commented on #1541
@mariobehling @the-dagger @mananwason
This is a critical bug. Please look into this ASAP.

[2017-05-10 00:39] free4murad commented on #1539
This issue is same as issue #1528.

Please avoid duplication of issues. Close this and continue the discussion on the previous issue.

[2017-05-10 03:36] Shailesh351 commented on #1541
I would like to work on it.
[Milestone 1](https://github.com/fossasia/open-event-android/milestone/24)

[2017-05-10 03:44] arp95 commented on #1541
i did the same thing before when i took the day string and added it to the fragment title list. who changed it after that i have no idea.

[2017-05-10 05:33] heysadboy commented on #1539
@free4murad Sorry, I will be more careful next time.

[2017-05-10 05:34] #1539 closed

[2017-05-10 06:16] #1517 closed

[2017-05-10 06:18] #1526 closed

[2017-05-10 08:38] arp95 opened #1543 "Blank Bookmark Fragment"
**Actual Behaviour**

On removing the bookmarks completely we get a blank bookmark fragment which is not desirable.

**Expected Behaviour**

Remove the blank fragment and pass control to the tracks fragment.

**Steps to reproduce it**

1. One by one add bookmarks
2. Now remove all the bookmarks in the bookmark fragment
3. You will notice a blank fragment

**LogCat for the issue**

-

**Screenshots

[2017-05-10 08:52] #1534 closed

[2017-05-10 09:28] mahikaw commented on #1543
@arp95 I think this is working as intended. Once we remove all the bookmarks, there is a snack bar asking if we want to "undo" the deletion while it shows an empty fragment.
Now, if we go back to some other fragment, and then come to bookmarks, it doesn't show an empty fragment which is what is intended.

[2017-05-10 09:32] arp95 commented on #1543
@mahikaw
There are two things we can do as of now:

1. If all bookmarks are removed and we are getting a blank fragment then atleast show "No Bookmarks" as we have done in other fragments.

2. We can pass control to the tracks fragment once all bookmarks are removed.

i think either of them have to be implemented instead of showing a blank fragment.

[2017-05-10 09:32] mahikaw commented on #1540
@heysadboy that would mean decreasing the size of the screenshots. Can you think of a way to prevent that?

[2017-05-10 09:34] mahikaw commented on #1543
@arp95 I am still a bit unsure. Maybe you could create mockups for the same so that everyone can review it and decide if this is intended?

[2017-05-10 09:37] mahikaw commented on #1537
@arp95 this is an issue that will come under the [open-event repo](https://github.com/fossasia/open-event/issues). Please close it from here and create it there.

[2017-05-10 09:38] heysadboy commented on #1540
@mahikaw we could have 3 screenshots side to side. The space is empty on the right side of every screenshot anyways. I am not telling to put 5 screenshots in a row. The size would be almost same but more compact.

[2017-05-10 09:39] arp95 commented on #1543
@mahikaw
working on the json files right now. will show you in a bit

[2017-05-10 09:39] arp95 commented on #1537
@mahikaw
oh fine.
closing it then.

[2017-05-10 09:39] #1537 closed

[2017-05-10 09:41] mahikaw commented on #1540
Sure, that will be better. @the-dagger @mariobehling @mananwason what to you think?

[2017-05-10 10:14] Shailesh351 commented on #1543
@arp95 @mahikaw I think dialogue on bookmarks fragment don't look good. It should simply display "No bookmarks"

[2017-05-10 10:29] arp95 opened #1544 "Logo not looking good on Google IO test of the Open Event Android App"
**Actual Behaviour**

Just tested the open event android app on creating a new event over here: https://eventyay.com/events/173/
On downloading the apk  the logo doesnt look good.

**Expected Behaviour**

Improving the dimensions of logo in the Android App itself or setting logo dimension on eventyay when creating new event.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots

[2017-05-10 10:45] iamareebjamal commented on #1544
@arp95 I think we should make the header color to be gray so that we remain neutral to the event pictures

[2017-05-10 11:19] mahikaw commented on #1543
Let @mariobehling @the-dagger @mananwason express their views.

[2017-05-10 11:19] arp95 commented on #1544
@iamareebjamal
even grey doesn't make sense. like when i created an event they asked for a logo and the event image and for the event image they asked for a fixed size image. so we can do the same for the logo case or another alternative would be to automatically detect the logo size in the app itself and use that in to create the navigation drawer.

[2017-05-10 14:39] iamareebjamal commented on #1544
@arp95 But event images are alpha png, so background color does matter

[2017-05-10 14:43] Shailesh351 opened #1548 "Displaying same time for session when timezone is changed"
**Actual Behaviour**

Session time is not changing according to timezone when timezone is change from settings.

**Expected Behaviour**

It should display correct time.

**Steps to reproduce it**

- Go to any session and not time
- Now go to settings and change timezone by clicking on 'Show local times'
- Go to same session and observe time
it is showing same time

**LogCat for the issue**
   Date

[2017-05-10 16:44] #1541 closed

[2017-05-10 17:03] #1528 closed

[2017-05-10 17:16] #1493 closed

[2017-05-10 17:49] #1531 closed

[2017-05-10 18:08] #1448 closed

[2017-05-10 18:12] #1475 closed

[2017-05-10 18:14] iamareebjamal commented on #1543
I think we should close this now @arp95

[2017-05-10 18:15] iamareebjamal commented on #1494
Changing the logic of filter will fix the issue itself

Closing this

[2017-05-10 18:15] #1494 closed

[2017-05-10 18:15] arp95 commented on #1543
@iamareebjamal
yeah.
closing it.

[2017-05-10 18:15] #1543 closed

[2017-05-10 18:18] arp95 commented on #1544
@iamareebjamal
yes you are right. but do you think that will be efficient?
i think we can take logo size and adjust the navigation accordingly programmatically.

[2017-05-10 18:21] iamareebjamal commented on #1544
I agree, but I was talking about images being transparent. Transparent images are generally made to work on white backgrounds. That is why I suggested a light grey navigation header

[2017-05-10 18:27] iamareebjamal opened #1549 "Tests for Date conversion methods"
We have had several issues regarding date formatting and timezone settings. This is a very crucial area for an event based application and thus must be ensured to be working correctly on all fronts. In order to do so, we must write unit tests so that no changes break the desired working of the application.

Tests should include:
- Correct conversion from ISO 8601 format to string representation
-

[2017-05-10 18:58] arp95 opened #1550 "About Us dialog displaying Fossasia information in sample Google IO app"
**Actual Behaviour**

Currently viewing the About us tab in the sample google io app created (https://eventyay.com/events/173/), the about us dialog shows wrong info.

**Expected Behaviour**

Making about us dialog display event specific info.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

![18452181_10211256727808464_118677224_o](https://cloud.githubuser

[2017-05-10 20:05] arp95 opened #1551 "Handling of map icon click of SessionDetailActivity and LocationActivity"
**Actual Behaviour**

Currently the map icon click for both activities are creating problems.
For sessiondetail activity the map icon is disappearing and for location activity the map icon is disappearing along with map icon click issues encountered in it.

**Expected Behaviour**

Resolve these errors

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Wo

[2017-05-11 04:22] arp95 commented on #1549
@iamareebjamal
taking up this issue.

[2017-05-11 05:05] arp95 commented on #1551
@iamareebjamal
need some help over here.
have handled the click of the map icon. However the map icon disappears and have tried various turn arounds but dont know why is it happening. an ideas?

[2017-05-11 06:41] arp95 commented on #1544
@the-dagger @mariobehling @mananwason @iamareebjamal

![18452394_10211261089557505_1863033479_o](https://cloud.githubusercontent.com/assets/8268392/25935883/d4303528-3642-11e7-916c-4cce6f64c0dc.png)

After cahnging the background it looks like this. is it fine? or should i dynamically check the logo size and do work with that?

[2017-05-11 07:31] iamareebjamal commented on #1551
I'll take a look at current code

[2017-05-11 09:17] mariobehling commented on #1544
There are also logos in white. I think we need a theming option for the whole app to solve this. It is difficult to solve this "isolated case" by not thinking about the design of the whole app, e.g. the blueish color does neither work with the red color of the app.

[2017-05-11 09:19] arp95 commented on #1544
@mariobehling
we can do one thing. get the logo colour during runtime and set the background colour according to that.

[2017-05-11 09:20] iamareebjamal commented on #1544
Yes, I think we should have an app theme attribute defining the app primary, dark and accent color in the JSON, and generator should update the colors in styles.xml at the time of apk building

[2017-05-11 09:21] arp95 commented on #1544
yeah exactly. @mariobehling sounds good?

[2017-05-11 09:21] iamareebjamal commented on #1544
@arp95 This will be suitable for this particular case. But let's suppose that a transparent png of red logo is provided, then, the Palette API will return red color, and if we make the background red, the logo won't be visible

[2017-05-11 09:28] arp95 commented on #1544
@iamareebjamal this is why i was opposing the idea of dynamic colour loading earlier and suggested tht i take the logo size and adjust the nav header accordingly. but apart from the logo we have to see that what app bar colour have to be and the entire design prospect, which means dynamic colour loading has to be used if we look for the entire app case.

[2017-05-11 09:36] mananwason commented on #1544
@arp95 I think the best way to solve the problem is to tart allowing the user to select the theme colors while generating the app. Doing everything will be a bottleneck and eventually with bigger datasets, the app is bound to lag. Try to think of the project as a whole, not as an event app. In the bigger picture, we want to make everything customisable if the user wants it.

[2017-05-11 10:07] arp95 commented on #1544
@mananwason
yes you are right.
so now should i open an issue on the server repo for this so that they can allow what we want?

[2017-05-11 10:08] iamareebjamal commented on #1544
I think it is more of a generator specific issue

[2017-05-11 10:28] arp95 commented on #1551
i think its because of collapsing toolbar layout. anyways do update if you find a fix.
Apart from that disappearing thing rest is working fine now.

[2017-05-11 10:31] iamareebjamal commented on #1551
OK

[2017-05-11 10:35] mananwason commented on #1544
@arp95 Let's open a new issue on this repo and get working on that. We need to implement ways to give the users options to customise the app on the generator

[2017-05-11 10:55] mananwason commented on #1549
@arp95 I have assigned you. Please let me know the milestone you plan to target for this issue.

[2017-05-11 11:33] arp95 commented on #1549
@mananwason
yeah sure.

Milestone 2(https://github.com/fossasia/open-event-android/milestone/25)

[2017-05-11 11:35] arp95 commented on #1544
@mananwason
creating the new issue.

[2017-05-11 11:37] arp95 opened #1552 "Ways letting user customise app on the genrator"
**Actual Behaviour**

As discussed in this issue #1544 , we need a good way to let users customise the app and get it according to their needs.

**Expected Behaviour**

Work on different customise options.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes but would like help from others as well.

**Target Mile

[2017-05-11 11:39] arp95 commented on #1552
@mananwason @mariobehling
we can the discussion here i think. and as this can be a issue should we take it piece by piece like customising the app can have different options to look out for.

[2017-05-11 15:20] arp95 commented on #1551
actually calling another fragment doesnt make sense. what i am doing now is on clicking a map icon we can move to maps fragment instead of a new fragment creation.

[2017-05-11 17:10] arp95 commented on #1501
i think its of less relevance right now. Closing it.

[2017-05-11 17:10] #1501 closed

[2017-05-11 17:23] arp95 commented on #1544
CLosing this. Any further discussion can take place over here #1552

[2017-05-11 17:23] #1544 closed

[2017-05-11 17:42] arp95 commented on #1434
@the-dagger
i think this is done now. we can close it.

[2017-05-12 04:06] mahikaw opened #1554 "droidgen.eventyay giving error "An error occurred while generating your android app""
**Actual Behaviour**

When I upload a zip that I have exported from eventyay, it creates an APK as expected, however, on uploading a similar zip file(that is, with similar structure)  that I had made it gives the error stated above.

**Expected Behaviour**
It should accept the zip, as it is similar in structure and the JSON files are validated. Also, I'm not sure how to debug the error as there ar

[2017-05-12 04:12] iamareebjamal commented on #1554
True, it is hard to debug.

Even when you deploy the webapp locally, I couldn't get it to log messages.

Maybe @niranjan94 can shed a light on the matter

[2017-05-12 04:14] niranjan94 commented on #1554
Hi. This needs to be checked. In the mean time, could you open an issue to give a proper error message when errors occur?

[2017-05-12 04:25] mahikaw commented on #1554
@niranjan94 after uploading the zip, it says "waiting in line"and then gives this exact error that I have mentioned above.

[2017-05-12 04:26] niranjan94 commented on #1554
@mahikaw I meant ... the generator should be enhanced to give more specific error messages. So, could you open an issue for that ?

[2017-05-12 04:27] mahikaw commented on #1554
Oh, okay. Sure. I'll do that.

On Fri 12 May, 2017, 9:56 AM Niranjan Rajendran, <notifications@github.com>
wrote:

--

Mahika Wason
BTech-CSAM | 2016241
Indraprastha Institute of Information Technology-Delhi

[2017-05-12 04:34] niranjan94 commented on #1554
@mahikaw from what I found, I have been able to generate the app locally. But, on the server it failed at the step which generates the launcher icons. Probably because, the image provided in the zip was large. But I'm not sure why that is the issue. Shouldn't have been an issue.

[2017-05-12 04:50] mahikaw commented on #1554
@niranjan94 Just an observation, the image in the zip exported from eventyay is having .png.png extensions..while the one i made has .png extension. Could that be a cause?

[2017-05-12 04:51] niranjan94 commented on #1554
@mahikaw no. That is not the issue. As I said, it works fine locally.

[2017-05-12 04:56] mahikaw opened #1555 "Lack of error logs @droidgen.eventyay"
**Actual Behaviour**
Currently, the generator doesn't provide some sort of logs or proper error messages in case of an error in apk generation.

**Expected Behaviour**
Whenever there is some error in generating apk, the generator should give proper error messages and logs, if possible so as to enable the developer to do debugging.

**Screenshots of the issue**
<img width="1280" alt="screen shot 20

[2017-05-12 05:14] mahikaw commented on #1554
Okay. I think that this needs to be fixed as this could happen with any organizer who is trying create an apk on generator. That was my sole purpose behind creating this issue.

[2017-05-13 02:58] Shailesh351 commented on #1551
@arp95 status ?

[2017-05-13 03:00] Shailesh351 commented on #1521
@mahikaw status ?
are you working on this?

Or i would like to work on this.

[2017-05-13 03:02] iamareebjamal commented on #1551
I am busy in exams so I couldn't look into it

[2017-05-13 03:04] iamareebjamal commented on #1521
You can perhaps collaborate on it. GSOC is all about working together

[2017-05-13 03:07] #1548 closed

[2017-05-13 03:21] arp95 commented on #1551
actually have an exam today.
have solved the map icon click problem in location activity however the disappearance of map icon still remains to be solved. you can help me with that

[2017-05-13 03:44] mahikaw commented on #1521
@Shailesh351 I'm pretty much done with it, I'll send a PR soon.

[2017-05-13 11:47] #1443 closed

[2017-05-13 14:33] shreyasnbhat commented on #1499
@the-dagger I'll start working on the Search.
@harshitagupta30 Are you done with the home page?

[2017-05-13 16:10] iamareebjamal commented on #1555
Instead of just showing error has occurred, first approach should be to at least show at which step it failed. This can be done simply by storing the latest status message and displaying in error the step at which the generation failed.

Currently there is no error handling in generator and adding try catch at each step is unfeasible. What approach should be there @niranjan94

[2017-05-13 16:12] iamareebjamal commented on #1552
We can add a material palette on site allowing user to define primary, primary dark and accent color which the generator will replace in the style string.

It is the simplest approach and takes least time to code up

[2017-05-13 16:31] niranjan94 commented on #1555
@iamareebjamal

Celery already has error handling capabilities. Two steps to get the error response in the json status request that is used to update the UI.
- Remove `throws=(Exception,)` parameter from `app/tasks/__init__.py:L6`
- In `app/views/api.py` change `return jsonify(state=state)` to `return jsonify(state=state, info=str(info))`

Now you will get the actual error message as the json para

[2017-05-13 16:32] niranjan94 commented on #1555
This is very basic. More advance stuff like auto task retry based on error, etc can be done. Do check out the celery documentation @ http://docs.celeryproject.org/en/latest/index.html

[2017-05-14 19:17] arp95 opened #1558 "Adding Google IO sample as test app"
**Actual Behaviour**

Sending pr for adding the google io version as a test app.

**Expected Behaviour**

-

**Steps to reproduce it**

-
**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

https://github.com/fossasia/open-event-android/milestone/25

[2017-05-14 20:49] arp95 opened #1559 "Remove the sort by org option when all orgs are same"
**Actual Behaviour**

When buidling sample app for google io event i encountered that in events like these all speakers can be from same org. In such cases enabling sorting by org doesnt mean anything.

**Expected Behaviour**

Removal of sorting by org in cases when orgs are same.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work

[2017-05-14 21:08] m-murad commented on #1559
@arp95
I think we should let it be.
There can be a case when the countries are also the same, what do we do then.

If you are going ahead with this then do the same for the country option also.

[2017-05-14 22:00] arp95 opened #1560 "Taking app info from event json file"
**Actual Behaviour**

App seems to be hard coding certain things like app name and about us content.

**Expected Behaviour**

Taking the required data from the event.json file

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

https://github.com/fossasia/open-event-and

[2017-05-15 04:03] shreyasnbhat commented on #1499
@the-dagger @iamareebjamal @arp95 @harshitagupta30
I have integrated Home and Bookmarks into one page and am planning to do some UI tweaks. And i think that the bookmarks fragment could be refactored to include a Countdown to the Event Start.
And then have the bookmarks below it.
Suggestions?

[2017-05-15 14:11] arp95 commented on #1559
@m-murad
sure!

[2017-05-15 22:38] m-murad opened #1564 "Add option to email event organisers."
**Actual Behaviour**
If an attendee has a question regarding an event he cannot contact the event organizers regarding it.

**Expected Behaviour**
We should add functionality so that a person interested in the event can contact the event organizers. We can get the email id of the organizers from the JSON files.

**Would you like to work on the issue?**
Yes.
But I would like to know what fo you peo

[2017-05-16 12:10] shreyasnbhat commented on #1499
### Some Previews of the Work as of Now
Search
![rec1](https://cloud.githubusercontent.com/assets/19890557/26104767/f1bc1666-3a5c-11e7-936c-cd60163d1580.jpg)
![rec2](https://cloud.githubusercontent.com/assets/19890557/26104770/f3066b16-3a5c-11e7-9687-cb105fe712c4.jpg)

Home+Bookmarks
![82bcadb5-25e5-40a6-b199-90475f3944bf](https://cloud.githubusercontent.com/assets/19890557/26104777/faa6771c-3a5c-

[2017-05-16 12:32] iamareebjamal commented on #1499
Looks great. Just my 2 cents would be that let the UI be consistent. Like, for speakers, use the already existing layout used in Session Detail Activity

Because the details should be shown in respective detail pages rather than the home page

[2017-05-16 17:53] arp95 commented on #1499
Looks great!
@iamareebjamal i think using one page for search should be preferred. This is what Google IO app does.

[2017-05-16 18:00] iamareebjamal commented on #1499
@arp95 I wasn't talking about not using a search page, but reusing the speaker and other view holders

[2017-05-16 18:02] heysadboy commented on #1499
I think the background colour of other parts should also be white. It makes other UI elements look better.

[2017-05-16 18:03] arp95 commented on #1499
@iamareebjamal didnt get you first time. yes it should be reused instead of creating a new one.

[2017-05-16 18:05] Shailesh351 commented on #1499
Yes along with that header color should match with headers in tracks and schedule fragment so UI looks same all over the app.

[2017-05-16 18:23] arp95 commented on #1549
@iamareebjamal
for the first case a local junit test would be fine right?
although for second we would need a instrumented junit test.

[2017-05-16 18:37] iamareebjamal commented on #1549
Yes, in most of the cases unit tests should work. You can mock the user timezone and accordingly check the value of expected date

Furthermore, I think it'll be an issue with instrumented test, because they will give different result for different runs, making tests flaky. How will you determine if the conversion is right?

[2017-05-16 18:40] arp95 commented on #1549
I am not preferring instrumented test. because its a new thing i have taken up i thought whether local unit test would be enough or we would have to create a mock session and test the dates from there.

[2017-05-16 18:50] iamareebjamal commented on #1549
Only unit tests will be sufficient. The tests will be of this pattern

You are testing a method that takes a string as input which corresponds to a date, so you manually write many use cases of the string with different formats, and for different timezones and with edge cases like 00:00 24:00 and send it to that function for different timezones cases, and check if the response is correct matching

[2017-05-16 19:24] arp95 commented on #1549
yeah got it.

[2017-05-16 20:40] shreyasnbhat commented on #1499
@Shailesh351 I feel that the header color should be changed throughout the app and must to made black just to add contrast between a header and its content.
@mananwason @the-dagger Opinions?

[2017-05-17 07:57] iamareebjamal opened #1567 "Use retrolambda to reduce callback complexities"
**Actual Behaviour**

We use RxJava and many callbacks and they increase the verbosity and complexity of apps

[code]

**Expected Behaviour**

Use retrolambda to use lambda functions instead

[code]

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Milestone 2](https://github.com/fossasia/open-event-android/milestone/25)

[2017-05-17 07:57] iamareebjamal commented on #1567
@the-dagger @mananwason What do you think?

[2017-05-18 12:55] iamareebjamal opened #1573 "Disable scope pattern in Codacy"
Currently, codacy rates default scope as bad and fails the check on simple View declarations.

Also, it spams unneeded comments about it on the PR, can we please turn the scope pattern check in Codacy?

@the-dagger @mananwason

[2017-05-19 11:28] mahikaw opened #1574 "App generator generic installation on Mac OSX"
**Actual Behaviour**
Currently, there is no documentation for OSX and so I have faced some problems.

**Expected Behaviour**
It'll be nice to have OSX documentation as well.

**Would you like to work on the issue?**
Yes, I am willing to document this.

**Target Milestone to solve the issue**

Till which [milestone](https://github.com/fossasia/open-event-android/milestones) will you be fixing the i

[2017-05-19 11:30] shreyasnbhat commented on #1573
@the-dagger @mananwason These fail comments have spammed my entire PR with unnecessary comments. Do look into this.

[2017-05-19 19:23] arp95 commented on #1573
yeah please do look into this. it does comment a lot

[2017-05-20 05:12] mahikaw opened #1576 "Bookmarking Tracks"
**Actual Behaviour**

Currently, there is no option to bookmark an entire track. If the user wants to attend all the events in a track, the user has to manually bookmark them all.

**Expected Behaviour**

There should be a way to bookmark an entire track in one go.
We could add a swipe left gesture on the tracks like in WWDC'17. screenshots below.

**Screenshots of the issue**

![unknown1](https:/

[2017-05-20 07:24] #1559 closed

[2017-05-20 08:36] #1574 closed

[2017-05-20 09:01] #1560 closed

[2017-05-20 13:55] shreyasnbhat commented on #1521
@mahikaw are you done with this feature? Shall I start working on it if not?

[2017-05-21 06:17] arp95 opened #1578 "Adding a two pane layout in tablet view"
**Actual Behaviour**

Currently in tablet view we view only one activity per time. Its better if we make use of extra space and make a static navigation drawer and open activity on a click on the other side of layout instead of going to  a new activity.

**Expected Behaviour**

Incorporating a two pane layout

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

[2017-05-21 06:58] mayank8318 opened #1579 "Hide subtitle if it is empty"
**Actual Behaviour**
Even if the subtitle is empty, it is still displayed and consumes unnecessary space which makes the card look ugly
![image](https://cloud.githubusercontent.com/assets/22395998/26281843/e051cf2a-3e20-11e7-837f-8654f2e899a9.png)

**Expected Behaviour**
It shouldnt be displayed if it is empty so that the card looks crisp
![image](https://cloud.githubusercontent.com/assets/2239599

[2017-05-22 05:58] #1579 closed

[2017-05-23 11:08] Shailesh351 opened #1582 "Shadow between Toolbar and TabLayout"
**Actual Behaviour**

Shadow is appearing between Toolbar and TabLayout

**Expected Behaviour**

Shadow should not be there

**Steps to reproduce it**

- Go to schedule fragment
- Now switch to settings activity using navigation drawer
- Go back.

Same issue with bookmarks fragment when there is no bookmarked sessiosns

**Screenshots of the issue**

![appbar-shadow](https://cloud.githubusercontent

[2017-05-23 12:24] Shailesh351 commented on #1555
@mahikaw , @niranjan94 has fixed it in [9bdec4](https://github.com/fossasia/open-event-android/commit/9bdec45598888f6c75693a096e8b56c0b29619a8)

[2017-05-23 12:26] niranjan94 commented on #1555
@Shailesh351 not exactly. That commit just displays errors in the console. It is still not displayed to the user. So, this issue is for that.

[2017-05-23 12:27] mahikaw commented on #1555
@Shailesh351 that is different.  This issue is about error logs on the appp generator @droidgen.eventyay

[2017-05-23 13:03] arp95 opened #1583 "Changing the url link in APIClient.java"
**Actual Behaviour**

Currently the retrofit class takes the url link which is hard coded in the app in Urls.java

**Expected Behaviour**

Taking the url from config.json and removing hard coded strings from Urls.java

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

yes.

**Target Milestone to solve the issue**

[2017-05-23 13:17] #1583 closed

[2017-05-23 14:14] #1476 closed

[2017-05-23 14:17] arp95 opened #1584 "Adding video and audio links"
**Actual Behaviour**

Currently we are not adding audio and video links which might be useful ahead.

**Expected Behaviour**

Adding the video and audio links.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

yes.

**Target Milestone to solve the issue**

https://github.com/fossasia/open-event-android/milestone/2

[2017-05-23 14:55] arp95 commented on #1584
already being done by @iamareebjamal . closing this then.

[2017-05-23 14:55] #1584 closed

[2017-05-23 18:11] m-murad opened #1587 "Readme.md needs to be updated."
We need to update the following in the `Readme.md`

1. Screenshots
2. Libraries Used
3. In `Contributions, Bug Reports, Feature Requests` "here" should be a link.
![screen shot 2017-05-23 at 11 38 06 pm](https://cloud.githubusercontent.com/assets/17262180/26368979/f5a737ba-4010-11e7-96db-335bf0b7a0fa.png)

**Would you like to work on the issue?**
I'm away from keyboard for a few days, so NO.

**Ta

[2017-05-23 18:29] mahikaw opened #1588 "Error in documentation"
**Actual Behaviour**

Currently, there are some errors in the OSX documentation.

**Would you like to work on the issue?**

I am sending a PR soon.

**Target Milestone to solve the issue**

Till which [milestone](https://github.com/fossasia/open-event-android/milestones) will you be fixing the issue?
https://github.com/fossasia/open-event-android/milestone/26

[2017-05-24 03:08] mahikaw commented on #1554
bien adresses by #1555

[2017-05-24 03:08] #1554 closed

[2017-05-24 03:22] #1588 closed

[2017-05-24 03:56] mahikaw commented on #1576
@mananwason @mariobehling @the-dagger Is this feature intended?

[2017-05-24 04:00] mahikaw commented on #1550
@arp95 does the problem still persist and are you still working on this?

[2017-05-24 04:05] mahikaw commented on #1521
@shreayansbhat @shailesh351 I have been caught up with samples and app generator. If you are still up for it you can go ahead, else I will implement it in 2-3 days as I had done some work on it. Sorry for the late reply, I had skipped it.

[2017-05-24 04:07] arp95 commented on #1550
@mahikaw have resolved this in other issue. see the latest version of the app, the problem is resolved.

[2017-05-24 04:07] #1550 closed

[2017-05-24 04:10] mahikaw commented on #1550
Great! Please mention the issue number here in that case.

[2017-05-24 04:19] Shailesh351 commented on #1521
@mahikaw I will start working on it. :+1:

[2017-05-24 04:24] arp95 commented on #1550
@mahikaw
https://github.com/fossasia/open-event-android/issues/1560

[2017-05-24 04:43] shreyasnbhat commented on #1521
@Shailesh351 Shall i work on this issue as i have no other issue to work on currently?

[2017-05-24 05:05] mahikaw opened #1591 "Incorrect resizing of logo.png"
**Actual Behaviour**

For the event logo in my sample, the image hasn't been resized properly

**Expected Behaviour**
The image should be shown properly.

**Screenshots of the issue**

![screenshot_20170524-102054](https://cloud.githubusercontent.com/assets/21010060/26387594/89074b84-406c-11e7-9727-ee0f941f8af8.png)

**Would you like to work on the issue?**
   Yes.

**Target Milestone to solve the

[2017-05-24 05:14] mahikaw opened #1592 "Speakers data doesn't show up in first few cards of the layout"
**Actual Behaviour**
The speakers data is null in the beginning.
**Expected Behaviour**

The speakers should show up from the very beginning.

**Screenshots of the issue**

![screenshot_20170524-103544](https://cloud.githubusercontent.com/assets/21010060/26387778/ca23bdf4-406d-11e7-9eb8-5db1ecfe7151.png)

![screenshot_20170524-103551](https://cloud.githubusercontent.com/assets/21010060/26387801/f3

[2017-05-24 05:19] mahikaw opened #1593 "No images are being loaded except for in the spashscreen"
**Actual Behaviour**
The speaker images and the logo aren't being loaded.

**Expected Behaviour**
Since the images are there in the JSON files, they should load in the app too.

**Screenshots of the issue**

![screenshot_20170524-103544](https://cloud.githubusercontent.com/assets/21010060/26387855/7077909a-406e-11e7-8cbd-944b39d347a9.png)

![screenshot 24-may-2017 10_45_07 am](https://cloud.github

[2017-05-24 05:25] mahikaw opened #1594 "About fragment error in sample "AllofHandsHawaii""
**Actual Behaviour**
The about view shows null.

**Expected Behaviour**
Should give actual details/descriptions of the event.

**Screenshots of the issue**

![screenshot 24-may-2017 10_51_59 am](https://cloud.githubusercontent.com/assets/21010060/26387989/75e46976-406f-11e7-807a-e4b649397e42.png)

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

Till which [

[2017-05-24 05:48] mahikaw commented on #1593
Same is happening with other standard FOSSASIA samples as well. For instance, the sponsors images aren't loading apart from speakers and logos.

![screenshot 24-may-2017 11_15_46 am](https://cloud.githubusercontent.com/assets/21010060/26388542/8fff5458-4072-11e7-827f-749d66ba2034.png)

[2017-05-24 06:09] Shailesh351 commented on #1521
@shreyasnbhat Sure Go ahead :+1:

[2017-05-24 06:19] mahikaw opened #1595 "Fossasia 2016 sample app keeps crashing"
**Actual Behaviour**
The sample app 2016 keeps crashing on clicking any schedule.

**Expected Behaviour**
Shouldn't crash.

**Would you like to work on the issue?**
Yes.

**Logs**
http://codepad.org/hVQJewHu

**Target Milestone to solve the issue**

Till which [milestone](https://github.com/fossasia/open-event-android/milestones) will you be fixing the issue?

[2017-05-24 06:26] mahikaw opened #1596 "About fragment is using incorrect json field"
**Actual Behaviour**
As of now, the string used in the fragment is of "organiser_description"

**Expected Behaviour**
String used should be "description".

**Would you like to work on the issue?**
Yes, after I fix [this](https://github.com/fossasia/open-event/issues/142#issuecomment-303627572) issue.
**Target Milestone to solve the issue**

Till which [milestone](https://github.com/fossasia/open-e

[2017-05-24 06:31] mahikaw commented on #1594
This issue will get fixed by #1596 so closing this.

[2017-05-24 06:31] #1594 closed

[2017-05-24 07:28] iamareebjamal commented on #1593
Can you see if the image requests are being made in Stectho please?

[2017-05-24 07:30] mahikaw commented on #1593
Sure, @iamareebjamal. I'm testing and creating issues as of now. Then I will get to solving them and so I will look into Stetho :)

[2017-05-24 07:33] Shailesh351 commented on #1593
I think reason behind this is images are not cached and may be  internet is not working on device

[2017-05-24 07:35] mahikaw commented on #1593
Oh, in that case @shailesh351 , in that case could you please check out some of the apks? the zips are available in the open-event repo. Specifically, FOSSASIA 2014 and 2016

[2017-05-24 07:36] mahikaw opened #1597 "Not using complete data of sample"
**Actual Behaviour**

We aren't displaying all the information we have in the sample JSON files.

**Expected Behaviour**

The organiser information could be used in 2 ways:-

- Adding the description in the splash screen along with logo.

- Creating another fragment for organiser description. So now, we will have 2 "about" fragments- about event and about organiser.

**Would you like to work on th

[2017-05-24 07:41] iamareebjamal commented on #1591
@mahikaw You're taking up so many issues by yourself :smile: While this is great, but this will mean there will be latency in solving issues while many people currently aren't solving any issues and adding features

I think bugs must be solved first and before bonding period ends, don't you agree?

[2017-05-24 07:43] mahikaw commented on #1591
Haha, sure. Please feel free to take up any issues you want to, just mention that you are working on it so that no one else does. Also, I am just finding all issues for now, then I will start working on them.
Again, please feel free! :)

[2017-05-24 07:45] iamareebjamal commented on #1591
I'm currently busy too, it's just I saw someone taking up a feature to implement rather than solving a bug because no bug issue was unassigned. That's why I said this

[2017-05-24 07:50] iamareebjamal commented on #1593
@mahikaw Just confirm if your internet is working and image must load. If not, we can say that that's not the case

[2017-05-24 07:52] Shailesh351 commented on #1591
I think we should take milestones more seriously to make development process faster 😅. Let's add all issues in milestones. And try to fix it before it ends. @the-dagger @mananwason @iamareebjamal @mahikaw

[2017-05-24 07:54] mahikaw commented on #1593
@iamareebjamal According to me the net is working. As I mentioned earlier to @Shailesh351 it will be nice if someone can confirm. Specifically 2016 and 2104 samples.

[2017-05-24 18:41] Shailesh351 commented on #1540
@heysadboy status ?

You can simply remove new line after three images for it
[README.md](https://github.com/Shailesh351/open-event-android/blob/readme/README.md)

[2017-05-24 19:14] heysadboy commented on #1540
@Shailesh351 I'll send pr today, sorry for the delay.

[2017-05-25 02:35] #1567 closed

[2017-05-25 04:13] mahikaw commented on #1592
There was some error in the sample. My apologies.

[2017-05-25 04:13] #1592 closed

[2017-05-25 05:28] mahikaw commented on #1596
Fixed by [#142](https://github.com/fossasia/open-event/issues/142)

[2017-05-25 05:28] #1596 closed

[2017-05-25 07:05] mahikaw opened #1600 "Droidgen.eventyay giving error"
**Actual Behaviour**

A sample zip gives error at droidgen.eventyay, but generates apk on local setup.
**Expected Behaviour**
Droidgen.eventyay too must generate an APK

**Steps to reproduce it**
This is the sample.
[Archive.zip](https://github.com/fossasia/open-event-android/files/1028230/Archive.zip)

**Would you like to work on the issue?**

Yes,  @niranjan94 @iamareebjamal @arp95 Could someone

[2017-05-25 07:06] mahikaw opened #1601 "Droidgen.eventyay doesn't mail the APK"
**Actual Behaviour**
No mail is sent with the generated APK

**Expected Behaviour**
Earlier, it used to send the mail.

[2017-05-25 07:15] niranjan94 commented on #1600
@mahikaw the generator is fine. Your zip is wrong. The images folder name is `Images` whereas it should have been `images`. The server filesystem is case-sensitive.

[2017-05-25 07:15] #1600 closed

[2017-05-25 07:15] arp95 commented on #1600
you are not getting an apk or the apk is not working?

[2017-05-25 07:16] arp95 commented on #1600
please follow the sample given in the open-event repo.

[2017-05-25 07:16] niranjan94 commented on #1600
[Archive.zip](https://github.com/fossasia/open-event-android/files/1028252/Archive.zip)

@mahikaw this is your same zip with the images folder name corrected. This works.

[2017-05-25 07:17] mahikaw commented on #1600
Sure thanks for looking into it.

[2017-05-25 10:16] iamareebjamal commented on #1593
@mahikaw Is it related to the naming error of image folder?

[2017-05-25 10:17] mahikaw commented on #1593
@iamareebjamal no. That is different. I am looking into this issue right now. :)

[2017-05-25 10:46] Shailesh351 commented on #1593
@iamareebjamal @mahikaw issue is there i am also facing it.

[2017-05-25 12:23] Shailesh351 opened #1604 "App generated using zip is not able to fetch latest data"
**Actual Behaviour**

App generated using zip is not able to fetch updated/latest data because if app is generated using zip then api end point is null. Api end point is used to fetch latest data.

**Expected Behaviour**

If app is generated using zip it should also able to fetch latest event data.

**Steps to reproduce it**

Generate app using zip file provided in [sample](https://github.com/foss

[2017-05-25 12:25] iamareebjamal opened #1605 "Delegate Date string formatting to a single DateUtil class"
**Actual Behaviour**

Currently, we are manually parsing dates in various sections of app, where some ignore timezone and some use another mechanism to parse it.

**Expected Behaviour**

For an event-based application, it is trivial to do correct and standard date conversions so it must happen in a single tested class which correctly handles all edge cases and TZ information correctly

**Would you

[2017-05-25 12:26] iamareebjamal commented on #1604
Which sample. Please be specific

[2017-05-25 12:29] Shailesh351 commented on #1604
I think for all because in app generator implementation if zip is provided we are not storing api url

[2017-05-25 12:31] iamareebjamal commented on #1604
It should be. It was replacing the last time I checked. I'll recheck. Thanks

[2017-05-25 12:39] iamareebjamal commented on #1604
It is assigning the API link to the config json

https://github.com/fossasia/open-event-android/blob/development/apk-generator/v2/app/generator/generator.py#L123

Can you please extract the generated apk and see the config.json in assets and match the API link in the event zip?

[2017-05-25 12:40] Shailesh351 commented on #1604
For fixing it while generating app we can check if api end point is not specified we can get api end point from event.json using `id` and use it.

api end point will be `https://eventyay.com/api/v1/events/` + `id`

[2017-05-25 12:41] iamareebjamal commented on #1604
It happens so that the apk is having default `eventyay.com` as API link, which is obvious

"https://eventyay.com/api/v1/events/6/"

Your log shows `abc/`
That means the event you tried had wrong API link

[2017-05-25 12:42] iamareebjamal commented on #1604
@Shailesh351 It isn't necessary that every event is hosted on EventYay

Just as this apk is a template. Server is also provided so that organisers can host on their own, so your solution isn't feasible

[2017-05-25 12:42] Shailesh351 commented on #1604
@iamareebjamal
https://github.com/fossasia/open-event-android/blob/development/apk-generator/v2/app/generator/generator.py#L76

see here

[2017-05-25 12:44] iamareebjamal commented on #1604
@Shailesh351 This happens when you provide API link, not the zip file, it won't be called in your case (hopefully)

[2017-05-25 12:45] iamareebjamal commented on #1604
Got it, but please tell which event did you try

[2017-05-25 12:49] Shailesh351 commented on #1604
https://github.com/fossasia/open-event/blob/master/sample/FOSSASIA16.zip

I think problem will be for all samples , because in app generator we have implemented radio button so we can use either api end point or zip.

and if zip is selected then api end point will be null.
So we have to get api end point from event id.

What's your thought @mariobehling @the-dagger @mananwason  ?

[2017-05-25 12:55] iamareebjamal commented on #1604
But we can't guess the API link from id because it may be `myevent.areeb.com/events/43` for ID  43 for all it matters

[2017-05-25 13:05] Shailesh351 commented on #1604
Yes true. we can have `SERVER_BASE_URL`+`/api/v1/events/`+`id'

[2017-05-25 14:39] Shailesh351 commented on #1595
@mahikaw This issue is occurring for all apps generated using **api endpoint**. Because in assets folder event file is missing.

[2017-05-25 14:43] mahikaw commented on #1595
Oh but I generated it using zip files.. @Shailesh351

[2017-05-25 14:43] Shailesh351 commented on #1595
Also for all this apps user have to first download event data from api. So it will be good if we download data like event, tracks, sessions etc... while generating app and store it in assets folder.

@niranjan94 @the-dagger @mananwason @iamareebjamal @mariobehling

[2017-05-25 14:45] Shailesh351 commented on #1595
@mahikaw  i have tested both using api endpoint and zip only app generated using api endpoint is creating problem.

[2017-05-25 14:45] mahikaw commented on #1595
Okay, let me look into it. Thank you.

[2017-05-25 14:47] Shailesh351 commented on #1595
Ohh sorry app is crashing on clicking any schedule

I was talking about app is crashing in starting

[2017-05-25 14:48] niranjan94 commented on #1595
@mahikaw please open proper issues. As a developer, your issue should give at-least some idea as to what is happening. Just putting **"Fossasia 2016 sample app keeps crashing"**,  **"Expected Behaviour: Shouldn't crash."** and adding a screenshot of the crash dialog box (everybody knows what the dialog looks like right ?), doesn't really make sense does it ?

At the least, you should add a stacktr

[2017-05-25 14:49] Shailesh351 commented on #1595
@mahikaw can you check if app generated using api endpoint is working or not. I am facing issues.
Thanks

[2017-05-25 14:49] niranjan94 commented on #1595
@Shailesh351
Yes. Downloading the data and adding during generation, if the API is provided is a good idea. Please open an issue for the same.

[2017-05-25 15:06] Shailesh351 opened #1606 "App generated using api endpoint is crashing on starting"
**Actual Behaviour**

App generated using api endpoint is crashing on starting because of required file(event) is not available in assets folder. But we are using event file in [OpenEventApp.java](https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/java/org/fossasia/openevent/OpenEventApp.java#L137)

**Expected Behaviour**

There should be required files in assets

[2017-05-25 15:41] Shailesh351 commented on #1593
@mahikaw Problem is that in samples images are stored in `images/speakers` folder which are not added in assets folder while generating app.
And url for speaker's image is like `/images/speakers/HongPhucDang_1.jpg`  which is not valid url. So picasso is not making network call for it and image is not loaded

[2017-05-25 15:46] iamareebjamal commented on #1593
Yeah I guessed so @Shailesh351

[2017-05-25 17:36] arp95 commented on #1593
@Shailesh351 @iamareebjamal actually the images arent rendered from images folder. we are providing a url using google storage api to render the image.

[2017-05-25 17:39] arp95 commented on #1606
actually the api endpoint is provided in the assets folder in config.json i think.
what issue are you facing?

[2017-05-25 20:09] iamareebjamal commented on #1593
Yes, but the sample events didn't have those links making it load nothing. This is an issue, the images must be loaded into apk `drawable-nodpi` so that they can be referenced from the app

[2017-05-25 20:10] iamareebjamal commented on #1593
Or every sample must conform to a full link description of those images so they can be loaded fro, git server, but it not a flexible solution, more so a hack

[2017-05-26 03:35] #1540 closed

[2017-05-26 05:01] arp95 commented on #1593
see the current process should be fine because of the following reasons:

1: If we include the speaker images into the drawable folder we are increasing the apk size which we dont want. By default the server provides an storage api with the help of which we can load speaker images using Picasso.

2: As by default when we create an event we get a json response like that. i think its not an issue.
N

[2017-05-26 05:11] iamareebjamal commented on #1593
@arp95 Is there a use case where the JSON payload provided by user will only contain local image links and not URLs

I think so, and then our fix won't work.

What I'm trying to say is why adding local photos to samples if they won't be used?

[2017-05-26 05:14] arp95 commented on #1593
@iamareebjamal
sorry for misunderstanding you earlier. yes this is what i am trying to say, why add local images if not used at all.

[2017-05-26 05:16] iamareebjamal commented on #1593
@niranjan94 Is there any plan for the use of images? Because local paths won't get resolved in the app

[2017-05-26 05:19] niranjan94 commented on #1593
@iamareebjamal the generator can upload the images from the zip to a cloud storage server and replace local paths with a remote URI.
Or the app could be modified to accept either asset locations or remote URL. In that case, we could keep the images in the assets folder. Picasso accepts URI in the form of `file:///android_asset/image.png` right ? Would that work ?

[2017-05-26 05:20] arp95 commented on #1593
@niranjan94 we are trying to use the uri '/images/speakers/abc.png/' but that doesnt work
in fact when we try to see the image path it comes out to be a storage api link? is that correct?

[2017-05-26 05:22] iamareebjamal commented on #1593
@niranjan94 Yes the second option is viable but it will greatly increase the size of application ~ 22 MB or more for a medium event with about 30 speakers

[2017-05-26 05:26] arp95 commented on #1593
@niranjan94  when we create an event on eventyay and export the json from that we get the speaker photo in storage api form right?
If yes then our main question is why use local images and how to make our samples render image.

[2017-05-26 05:35] niranjan94 commented on #1593
@arp95 this same discussion took place before too. The main thing is, we want the user to have to ability to either have images in the zip itself or add images as a URL. We want the user to be able to create Open Event compatible zips without using a server instance. We're trying to make a Universal Open Event format.

[2017-05-26 07:35] arp95 commented on #1593
@iamareebjamal can you sepcify the uri which will work? have tried many but none loads the image.

[2017-05-26 12:24] iamareebjamal commented on #1606
It's funny, I was going to create the same issue just now. I forgot it has been created already.

@niranjan94 In [generator.py](https://github.com/fossasia/open-event-android/blob/development/apk-generator/v2/app/generator/generator.py#L145-L149), the temporary assets are copied to app's assets and the temporary assets comprise of
- config.json
- background_image.png ( Already included and resized

[2017-05-26 12:26] Shailesh351 commented on #1606
:smile: @iamareebjamal almost fixed this issue.
sending PR soon..

[2017-05-26 13:14] Shailesh351 commented on #1606
@iamareebjamal background_image.png, ic_launcher.png  are moved in assets and in fossasia sample size of background image is 1.8Mb which is increasing apk size.

We can remove it it after resizing in resize_background_image.

[2017-05-26 13:16] iamareebjamal commented on #1606
No need to remove, just not copy it in assets

[2017-05-26 13:19] Shailesh351 commented on #1606
Actually there is for loop to transfer files from temp-assets to assets. so if will be better if remove it. because for not copying it will require condition check.

[2017-05-26 13:34] arp95 commented on #1606
also in generator.py are only the background.png and logo.png being copied?
because the speaker image dont seem to get copied. and @Shailesh351 the one you wrote in the scrum that speaker image issue is resolved, its not yet resolved!

[2017-05-26 13:49] Shailesh351 commented on #1606
In generator.py three files are being copied from temp-assets to app/sec/main/assets
1. config.json
2. background_image.png
3. ic_launcher.png

Speaker images are in zip files and this issue is for API end point

[2017-05-26 14:08] arp95 commented on #1593
@iamareebjamal you mean i can use any storage link for samples right? drive etc?

[2017-05-26 14:10] niranjan94 commented on #1593
@arp95 yes. as long as it is a direct link to the resource

[2017-05-26 15:39] iamareebjamal commented on #1606
Including the speaker images in app will greatly increase its size

And the issue with image links doesn't exist in the API endpoint generation

[2017-05-26 15:56] arp95 opened #1609 "Adding a video button in SessionDetail Activity"
**Actual Behaviour**

Currently the app doesnt make use of video url to enable watching live event.

**Expected Behaviour**

Adding video button

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**
Yes

**Target Milestone to solve the issue**

https://github.com/fossasia/open-event-android/milestone/27

[2017-05-26 15:59] iamareebjamal commented on #1593
@arp95 If the user chooses to use local JSON images, we should let them as they will know that the apk size will increase, or is there is any way we can upload the images while generating @niranjan94 ?

[2017-05-26 16:01] iamareebjamal commented on #1609
Is the video node added in SQLite database yet?

It's in the realm implementation only I guess

[2017-05-26 16:05] niranjan94 commented on #1593
We can upload. But both functionality is required depending on what the user prefers. We should give a choice to the user in the generator.

If the user prefers a completely offline app, it should work with images within the apk itself.
Else we can upload and refer from there.

[2017-05-26 16:06] arp95 commented on #1593
so this means we have to change the generator code to provide a way to store speaker images in the apk, right?

[2017-05-26 16:06] niranjan94 commented on #1593
We can technically upload. But the generator shouldn't be doing that. All it's supposed to do is get the input from user and generate it.

[2017-05-26 16:08] iamareebjamal commented on #1593
@arp95 Yes, that's correct

[2017-05-26 19:49] arp95 commented on #1609
@iamareebjamal we are moving to realm shortly so i think it shouldnt be an issue.

[2017-05-26 20:04] arp95 opened #1610 "Adding speaker images in apk"
**Actual Behaviour**

As discussed in issue #1593  , our main aim is to allow event organiser to upload images either manually or using server code. Adding relevant code in generator.py .

**Expected Behaviour**

If images/speakers have speaker images they should be in the res folder.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to w

[2017-05-26 20:14] m-murad commented on #1610
Its ideal for an event having 10-20 speakers, but when there are too many speakers in 100s (like we have in  fossasia summit or I/o) it will unnecessarily bloat the APK.

I don't think that including the images in the build is a good idea.

[2017-05-27 03:09] Shailesh351 opened #1611 "So many codacy issues"
**Actual Behaviour**

There are so many codacy issues which effects Codacy Badge grade [![Codacy Badge](https://api.codacy.com/project/badge/Grade/d32f87844a9346d09f3e8ad09600d3e1)](https://www.codacy.com/app/dev_19/open-event-android?utm_source=github.com&amp;utm_medium=referral&amp;utm_content=fossasia/open-event-android&amp;utm_campaign=Badge_Grade)

**Some of issues are :**

- Fields should be

[2017-05-27 03:47] shreyasnbhat commented on #1611
@Shailesh351 You could link this issue to #1573

[2017-05-27 03:52] Shailesh351 commented on #1611
@shreyasnbhat  that issue is for disabling `Use explicit scoping instead of the default package private level` codacy issue.

And this issue is for fixing existing i mentioned in issue

[2017-05-27 04:03] shreyasnbhat commented on #1611
I meant to say both these issues could be merged into one.

[2017-05-27 04:28] iamareebjamal commented on #1610
Then what should be the approach @m-murad ?

If a user uploads a zip with photographs, surely he is looking for these photos to be loaded in the app, or else he would have just used photo links in the JSON

No photos is worse than huge apk

[2017-05-27 04:30] iamareebjamal commented on #1611
True @shreyasnbhat

@Shailesh351 All the patterns you have listed are required for a good code base, so they shouldn't be disabled

I created the issue for explicit scoping because we require that to use butterknife.

[2017-05-27 04:38] Shailesh351 commented on #1611
@iamareebjamal @shreyasnbhat I am to talking about disabling patterns i have listed in issue.

I am talking about changing our app's existing code to follow this patterns by making required changes in code.

[2017-05-27 04:43] iamareebjamal commented on #1611
Sorry for the misunderstanding. Yeah, we need this obviously

You can start making changes, but restrict PRs to package only so they remain small

[2017-05-27 05:21] arp95 commented on #1610
Can i start working on this then?

[2017-05-27 05:26] iamareebjamal commented on #1610
Yes @arp95, but first let @niranjan94 approve

[2017-05-27 06:40] niranjan94 commented on #1610
@m-murad it's completely upto the person who is creating the APK. We have the following cases
- The user creates the app via an integration in the organizer server itself (yet to be implemented) - The app will not have images in it. All images will be referred to via a cloud storage URL
- The user uploads a zip which has no images in the zip and instead images are referenced by cloud storage URL -

[2017-05-27 08:28] arp95 opened #1612 "Logo not loading properly in navigation header"
**Actual Behaviour**

The logo in the header is not loading properly

**Expected Behaviour**

Fix logo loading in n nav header.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

yes.

**Target Milestone to solve the issue**

https://github.com/fossasia/open-event-android/milestones/27

[2017-05-27 13:42] heysadboy opened #1613 "App crashes on attempt to view sessions from locations"
**Actual Behaviour**

When I click on any location, it should display the corresponding sessions. They appear for a while then app crashes.

**Expected Behaviour**

No crashing.

**LogCat for the issue**

![screenshot from 2017-05-27 19-08-03](https://cloud.githubusercontent.com/assets/22588035/26521830/0b26e7dc-4310-11e7-9033-4d3db63b01d2.png)

**Would you like to work on the issue?**

Yes.

**Ta

[2017-05-27 13:47] heysadboy commented on #1613
@iamareebjamal Same kind of error appears for clicking from tracks list.

[2017-05-27 14:25] iamareebjamal commented on #1605
@arp95 The current date handling is very erroneous and repetitive. I am rewriting the date class, so you can hold the test writing for now. Sorry for the inconvenience

[2017-05-27 14:30] iamareebjamal commented on #1613
Yes, thank you.

You can replace the `collect` code on line 191 in `SessionListAdapter` from
[code]
 to

[code]

[2017-05-27 14:33] iamareebjamal commented on #1613
Must have missed it from lambda conversion. Also, please convert the remaining lambda conversions below like

[code]
to
[code]

The IDE will automatically convert it for you if you `Alt+Enter` on the suggested area

Thanks for the heads up

[2017-05-27 14:36] arp95 commented on #1605
@iamareebjamal can i work on that? i actually made changes so would like to work on that.

[2017-05-27 14:39] iamareebjamal commented on #1605
Definitely. Thank you

[2017-05-27 14:54] arp95 commented on #1605
yeah its fine.
will share the functions i am using and then will submit the pr. is it fine?

[2017-05-27 14:54] iamareebjamal commented on #1605
Yes :+1:

[2017-05-27 15:26] heysadboy opened #1616 "Edge glow color in sessions listed from Tracks"
**Actual Behaviour**

Edge colour is not matching the UI colour, it takes it from the accent colour

**Expected Behaviour**

Use their distinctive session colour

**Steps to reproduce it**

Change the edge glow colour of views in it.

**Screenshots of the issue**

![screenshot_2017-05-27-20-46-14](https://cloud.githubusercontent.com/assets/22588035/26522458/c5fb20e2-431e-11e7-84ba-55442f274cdf.png

[2017-05-27 15:28] iamareebjamal commented on #1616
Please convert all instances this time @heysadboy

[2017-05-27 15:31] #1606 closed

[2017-05-27 15:34] heysadboy commented on #1616
@iamareebjamal There is other issue related to colour in the UI not related edge glow colour should I also create separate issues for that or fix them in this.

[2017-05-27 15:39] iamareebjamal commented on #1616
Which color in UI to be specific?

[2017-05-27 15:41] heysadboy commented on #1616
Like in sessions from Locations, the title bar is red all the time, it's small but yeah.

![screenshot_2017-05-27-20-57-59](https://cloud.githubusercontent.com/assets/22588035/26522554/f5127f40-4320-11e7-8e99-d31878ddd079.png)

[2017-05-27 15:52] iamareebjamal commented on #1616
OK, change this too

[2017-05-27 15:53] iamareebjamal commented on #1616
But which color will you set here?

There is no single track color in Location Activity

[2017-05-27 16:00] heysadboy commented on #1616
In some there is only single colour and in some there are multiple colours. Same ambiguity is for edge glow colour. Should it be red or anything else?
If not I think I will be changing the edge glow colour of sessions from tracks only.

[2017-05-27 16:26] iamareebjamal commented on #1616
In location activity, there can be multiple tracks, and hence the toolbar should remain red.

[2017-05-27 16:37] arp95 commented on #1605
![18789138_10211406595515063_371526646_o](https://cloud.githubusercontent.com/assets/8268392/26522917/d33b2f90-4328-11e7-9b8b-6cd9fc685665.jpg)

@iamareebjamal should i make any changes?

[2017-05-27 16:53] iamareebjamal commented on #1605
No, it's great :+1:

[2017-05-28 07:36] mahikaw commented on #1612
This is the case just for samples? @arp95 If yes, then it will be nice to mention that and other significant details in this issue.

[2017-05-28 08:14] mahikaw commented on #1609
Are we looking to bring this feature by 4 June? I feel it is a full-fledged feature and needs to be added in greater detail. Shouldn't be just a button I suppose?
What do you think @arp95 @iamareebjamal @the-dagger @mananwason

[2017-05-28 08:16] iamareebjamal commented on #1609
I think this can't be added yet as we have no such node in SQLite database. That's why I asked @arp95 if it should be added yet

[2017-05-28 09:45] arp95 commented on #1609
yes i think as realm gets added i will work on it. @iamareebjamal you can add "later" tag.

[2017-05-29 10:21] rohanagarwal94 opened #1619 "Invalid quality setting error while generating app from app generator"
**Actual Behaviour**

Unable to generate app from the app generator.

**Expected Behaviour**

The app should be generated from the app generator.

**Steps to reproduce it**

1. Open the generator on the localhost.
2. Download a sample zip file from the samples available at fossasia/open-event/sample
3. Upload the zip file downloaded to the generator.
4. Click generate app button.

**LogCat for the

[2017-05-29 15:20] mahikaw opened #1620 "Nullpointer exception in SpeakerResponseProcessor.java"
**Actual Behaviour**
If the speaker's "session" array list is empty, the code throws a null pointer exception and the app crashes on starting. This is because gson is interpreting the empty array list as null and so `speakers.getsession()` is null.

**Expected Behaviour**

There should be a check for empty array list.

**LogCat for the issue**

` Caused by: java.lang.NullPointerException: Attempt

[2017-05-29 16:40] mahikaw opened #1622 "Back button for Locations activity"
**Actual Behaviour**

The Actionbar back button is not working for locations activity.

**Expected Behaviour**

As we have set `getSupportActionBar().setDisplayHomeAsUpEnabled(true);` in  `OnCreate()` of LocationActivity.java the back button should work.

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

Till which [milestone](https://github.com/fossasia/open

[2017-05-30 06:48] mahikaw opened #1624 "Microlocation and tracks are compulsory in Sessions.java"
**Actual Behaviour**

The` generateSql()` in Sessions.java makes tracks and micro location as compulsory strings, but there are sessions with no specific micro location in "Allofhands" event and no specific tracks in "FBF8" event.
**Expected Behaviour**
I think micro locations and tracks too should be made optional strings.

**Would you like to work on the issue?**
Yes.
**Target Milestone to solve

[2017-05-30 07:22] iamareebjamal commented on #1624
I think a special empty microlocation is added whenever there is no microlocation associated with session. Not sure though

[2017-05-30 07:24] #1613 closed

[2017-05-30 07:33] mahikaw commented on #1612
@arp95 are you working on this? According to me it's not an issue anymore. The images are loading in the navigation header I think. Could you please check it once?

[2017-05-30 07:38] arp95 commented on #1612
will check it ASAP. thanks for updating.

[2017-05-30 08:06] mahikaw commented on #1624
@iamareebjamal shall I make them optional?

[2017-05-30 09:46] Shailesh351 commented on #1604
So solution i have for now

There are three cases
1) Zip is exported using server(we have api endpoint)
2) Zip is generated by user (no api endpoint)
3) Zip is generated by user (but user wants to use api endpoint like @arp95 created google_io sample by adding api link in config.json)

We can check if zip is generated using server or user manually created it using `meta` file.
If meta file is ther

[2017-05-30 11:46] mahikaw commented on #1624
This has been fixed in one of the commits I believe , so closing it.

[2017-05-30 11:46] #1624 closed

[2017-05-30 12:32] arp95 commented on #1622
@mahikaw actually that is being resolved in this issue #1501 . you can work on that if you can resolve the entire issue.

[2017-05-30 12:35] arp95 commented on #1620
go ahead!

[2017-05-30 15:21] niranjan94 commented on #1604
@Shailesh351 the `meta` file should always be present if it is a zip. It's part of the Open Event archive Format

[2017-05-30 21:11] rohanagarwal94 commented on #1419
@iamareebjamal please add this to the milestone.

[2017-05-31 07:56] #1620 closed

[2017-05-31 08:18] iamareebjamal commented on #1616
@heysadboy Any updates?

[2017-05-31 08:19] #1582 closed

[2017-05-31 08:20] heysadboy commented on #1616
@iamareebjamal I am working on this, I will do it by today evening.

[2017-05-31 17:58] abs51295 opened #1626 "App Crashes on Launch"
**Actual Behaviour**

Application is crashing on launching it after a fresh install.

**Expected Behaviour**

Application should not crash.

**Steps to reproduce it**

1) Uninstall and then install the app.
2) Launch the app.

**LogCat for the issue**

`05-31 23:24:15.572 18765-18883/org.fossasia.openevent E/SQLiteLog: (1) no such column: description
05-31 23:24:15.600 18765-18765/org.fossasia.ope

[2017-05-31 18:16] rohanagarwal94 commented on #1626
@iamareebjamal please look into it ASAP. Nothing from my end as of yet.

[2017-05-31 18:21] iamareebjamal commented on #1626
Means you can't reproduce the error?

[2017-05-31 18:22] rohanagarwal94 commented on #1626
yup

[2017-05-31 18:23] iamareebjamal commented on #1626
Taking a look. I think this is a database migration issue. New install should not give an error. Only clearing the data and launching new app on top of old one will.

[2017-05-31 18:36] iamareebjamal commented on #1626
Not crashing. This kind of error comes when you **don't** reinstall and just update the app from old version to new version. Database schema changes and can't find updated field. As we have no migrations set up it crashes. Can't happen on fresh installs though

[2017-05-31 19:30] rohanagarwal94 commented on #1619
This is working. It didn't work for the EHealthAfrica.zip. Hence closing this.

[2017-05-31 19:30] #1619 closed

[2017-05-31 20:32] rohanagarwal94 opened #1627 "The share and the map button auto disappears in the sessiondetail activity"
**Actual Behaviour**

The share and the map button auto disappears in the session details activity

**Expected Behaviour**

They should be there as expected.

**Steps to reproduce it**

1. Open a session from the schedule fragment.
2. Click on the map icon on the action bar.
3. Press the back button to return to the session details.

**Screenshots of the issue**

![screenshot_2017-06-01-01-51-08-2

[2017-05-31 20:36] rohanagarwal94 opened #1628 "Redesign app sharing workflow"
**Actual Behaviour**

A green button appears while sharing the app.

**Expected Behaviour**

The app chooser should be displayed directly.

**Steps to reproduce it**

Click on the share app button on the Navigation drawer.

**Screenshots of the issue**

![screenshot_2017-06-01-02-02-47-250_org fossasia openevent](https://cloud.githubusercontent.com/assets/13241256/26652801/bb225714-466e-11e7-8598-

[2017-06-01 01:49] iamareebjamal commented on #1627
@rohanagarwal94 This is a duplicate of #1551

Please work on that if you can solve it.

[2017-06-01 05:30] iamareebjamal commented on #1573
@niranjan94 Please take a look

[2017-06-01 05:32] iamareebjamal commented on #1595
This issue was fixed in #1608 I guess, @Shailesh351 ?

[2017-06-01 05:35] iamareebjamal commented on #1612
@arp95 Any updates if it loading correctly?

[2017-06-01 05:56] Shailesh351 commented on #1595
@iamareebjamal This issue states that app is crashing **on clicking schedule**. Which is different from #1608
I'll Will check it.

[2017-06-01 06:44] Shailesh351 commented on #1595
@mahikaw @iamareebjamal I am not able to reproduce issue Please check it again

[2017-06-01 06:53] shreyasnbhat opened #1631 "UI Redesign for the Session Card"
**Suggested Behaviour**
![image](https://cloud.githubusercontent.com/assets/19890557/26667787/8256d9cc-46c4-11e7-95d2-14476f9594b2.png)
![image](https://cloud.githubusercontent.com/assets/19890557/26667831/b635cd7a-46c4-11e7-94e3-3219a61e31c1.png)

The card content would be the same. Only the card heading would change as needed. Like we can see in the `Bookmarks` activity(which would mostly be rem

[2017-06-01 07:02] mahikaw commented on #1631
@shreyasnbhat this is a great idea, however, I feel that there are still pending bugs which should be solved first, instead of enhancements. Let's wait for other's views. 😄

[2017-06-01 07:03] mahikaw commented on #1595
@Shailesh351 I will check this and get back to you ASAP. Thanks for pointing out 👍

[2017-06-01 07:27] iamareebjamal commented on #1631
Card UI needs a redesign, but after the bugs are ironed out, but till then, please others can share their ideas about what should be the UI.

I feel that it is quite plain and not encapsulating the material design as well. Even the enhanced one you have shown aren't captivating enough. Just changing the header style won't be enough IMO

[2017-06-01 07:32] iamareebjamal commented on #1591
@mahikaw I'm currently working on this. Can you please share the link of payload so I can test?

[2017-06-01 07:34] shreyasnbhat commented on #1631
@iamareebjamal This is a old mock which i had made for the proposal. I would be posting other suggestions as I get some ideas.

[2017-06-01 07:43] Shailesh351 commented on #1631
@shreyasnbhat @iamareebjamal
UI Mocks : https://docs.google.com/document/d/14a99g6odwRuI7sFZwxXJCsOwMvB0s1RpFn9CgN8s0Ac/edit?usp=sharing

Take a look

[2017-06-01 08:06] Shailesh351 commented on #1604
@niranjan94
In all samples in [open event](https://github.com/fossasia/open-event/tree/master/sample) `meta` file have `root_url` as `http://open-event-dev.herokuapp.com/` but actually samples are not created using server so it gives response like this
`{"field": null, "status": "NOT_FOUND", "code": 404, "message": "Event does not exist"}`

So we will need to update samples

[2017-06-01 08:16] Shailesh351 commented on #1604
Sorry my bad fossasia samples are created using server `https://eventyay.com` will create and send PR for updating meta file in open event

After that i will continue working on this issue

[2017-06-01 09:06] #1591 closed

[2017-06-01 10:00] mahikaw commented on #1551
@arp95 @iamareebjamal I'll work on it if that's okay?

[2017-06-01 10:09] mahikaw opened #1633 "Description for tracks."
**Actual Behaviour**

The description of tracks is not being displayed properly as of now. The current layout is displaying incomplete and tricked out description details.

**Expected Behaviour**

The entire description should be displayed. I am thinking of including the description in the tracksessions activity itself.

**Screenshots of the issue**

![device-2017-06-01-153312](https://cloud.githu

[2017-06-01 11:32] iamareebjamal commented on #1551
Sure @mahikaw Please go ahead

[2017-06-01 13:20] arp95 commented on #1551
@mahikaw sure. please

[2017-06-01 13:43] arp95 commented on #1612
@iamareebjamal having a look. sorry for the delay.

[2017-06-01 13:44] arp95 commented on #1551
@mahikaw sure. please

[2017-06-01 17:03] #1419 closed

[2017-06-01 17:04] the-dagger commented on #1628
Not needed @rohanagarwal94
Let's leave the sharing option as it is for now, we don't really aim for having deep linked invites in the app.

[2017-06-01 17:05] the-dagger commented on #1626
This is a db migration issue, happens if you install a new version from an older one which had a different db schema @abs51295 .

@iamareebjamal @rohanagarwal94 Please ensure that this shouldn't happen, we often tend to ignore updating the db version.

[2017-06-01 17:05] #1626 closed

[2017-06-01 17:05] #1627 closed

[2017-06-01 17:09] rohanagarwal94 commented on #1628
@the-dagger wasnt implying about the deep linked invites. Wanted to remove the overlay button in the above screenshot and restore the original sharing app on one click.

[2017-06-01 17:11] the-dagger commented on #1601
@mahikaw Did you check the console to see fi there was any error while running the email script?
Maybe @niranjan94 can also take a look at this.

[2017-06-01 17:14] the-dagger commented on #1628
Oh I see.
iirc this was fixed by @mahikaw earlier, but seems like this issue is still there.
My bad, you can fix this up. 👍

[2017-06-01 17:17] the-dagger commented on #1587
Nah, looks good to me.
Having an explicit link is better than a hyperlink since people might miss out the hyperlink.

[2017-06-01 17:17] #1587 closed

[2017-06-01 17:18] #1558 closed

[2017-06-01 17:19] #1464 closed

[2017-06-01 17:19] #1611 closed

[2017-06-01 17:21] the-dagger commented on #1597
@mahikaw Using a single fragment is a good choice.
No need to have 2 separate fragments for event and organiser.

I was thinking of adding the bookmarks to the first fragment as well since that's what user cares most about.
So please think along these lines.

[2017-06-01 17:27] mahikaw commented on #1597
Sure @the-dagger 👍

[2017-06-01 17:27] the-dagger commented on #1524
@iamareebjamal since the realm migration is complete so I think that we should close this issue.

[2017-06-01 17:27] #1524 closed

[2017-06-01 17:28] #1510 closed

[2017-06-01 17:28] the-dagger commented on #1499
@shreyasnbhat
Sorry was away for a while.
Do you have some screenshots of you r work that we can take a look at?

[2017-06-01 17:29] the-dagger commented on #1573
Sure, looking into it.

[2017-06-01 17:32] the-dagger commented on #1576
Umm, it's very unlikely that the user will be able to attend all the events in a track since their timings would conflict.

So not needed as of now.

[2017-06-01 17:32] #1576 closed

[2017-06-01 17:34] the-dagger commented on #1573
Done

[2017-06-01 17:34] #1573 closed

[2017-06-01 17:35] the-dagger commented on #1564
@m-murad Please work with @shres on this in #1597

[2017-06-01 17:35] #1564 closed

[2017-06-01 17:36] the-dagger commented on #1597
@mahikaw also @shreyasnbhat is working on something similar in #1499
Might want to take a look at it.

[2017-06-01 17:52] shreyasnbhat commented on #1597
I have done the work. You could check put the screens I posted a while back in the issue itself.

[2017-06-01 19:02] heysadboy opened #1636 "Map appears in background"
**Actual Behaviour**

I think the visibility of cards should be changed when we click the map activity from Locations -> Any Session.

**Expected Behaviour**

Only map should be there.

**Steps to reproduce it**

Change visibility of components.

**Screenshots of the issue**

<table>
<td>
<img src="https://cloud.githubusercontent.com/assets/22588035/26696043/ae7b7b00-472a-11e7-920b-33f3c02a9b1e.pn

[2017-06-01 19:09] heysadboy opened #1637 "Search facility in map"
**Actual Behaviour**

Currently the map looks like this

![screenshot_2017-06-02-00-34-14](https://cloud.githubusercontent.com/assets/22588035/26696351/d1670f48-472b-11e7-892c-5d8dc679eb97.png)

**Expected Behaviour**

- There should be a search button and this SearchView could be in toolbar.
- Text overlaps with map components.
- It should go in single line not in paragraph.

**Would you like to

[2017-06-01 19:25] #1466 closed

[2017-06-02 05:58] shreyasnbhat opened #1641 "NullPointerException upon click of OpenTech Track or any of its Sessions"
**Steps to reproduce it**
I am able to reproduce the error by clicking on the `Track` OpenTech.
We get a NullPointerException upon click.

**LogCat for the issue**
[code]

Just check out the first few lines. There seems to be an issue in the `ISO8061Date1` class.
The problem disappears after a while. Maybe a network issue? I am not sure.
@iamareebjamal @arp95 @the-dagger Do check this out and tell

[2017-06-02 06:04] mahikaw commented on #1641
@shreyasnbhat this type of error generally comes up when there is some problem with the data. Shall I try and look into it? I have faced such exceptions earlier.

[2017-06-02 06:15] shreyasnbhat commented on #1641
@mahikaw Sure!

[2017-06-02 08:19] mahikaw commented on #1641
Oh? So it's not a consistent problem then?

[2017-06-02 08:22] #1628 closed

[2017-06-02 08:23] mahikaw commented on #1641
@shreyasnbhat I'm unable to reproduce it. Perhaps, it is due to network only and in that case I'm not sure if it is an issue exactly.

[2017-06-02 08:24] the-dagger commented on #1601
Ah I see.
Thanks for the heads up, ddn't know that.

[2017-06-02 08:25] mahikaw commented on #1612
I have tried the I/O as well as other samples @iamareebjamal @arp95 . We can safely close this issue 👍

[2017-06-02 08:33] shreyasnbhat commented on #1641
@mahikaw I think what can be done is to add a try catch block around the function call so as to not needlessly get app crashes.

[2017-06-02 08:40] the-dagger commented on #1641
No, please don't do that.
Please get to the root cause of the issue rather than using try catch to
hack your way around it.
It is strongly advice against using try catch to fix ne.

Did you play around with the date settings to be sure that this was not an
issue related to that?

On Friday, June 2, 2017, Shreyas Bhat <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2017-06-02 08:55] #1612 closed

[2017-06-02 09:00] iamareebjamal commented on #1641
Did it happen once only @shreyasnbhat

[2017-06-02 09:01] arp95 commented on #1641
@shreyasnbhat not facing this issue.

[2017-06-02 09:06] shreyasnbhat commented on #1641
I guess try reinstalling the app. Let the download of data begin. Just after it finishes setting up the data. Try clicking on OpenTech. I'm unable to reproduce this now. But faced this after I updated my fork today and reinstalled the app.

@iamareebjamal I faced this issue mutiple times in a particular time frame after the start of the app while working for the Track Tag issue.

[2017-06-02 09:07] arp95 commented on #1641
i think the issue was you used the latest version of the app having realm. for that you have to uninstall the app otherwise it was giving a crash.

[2017-06-02 09:08] shreyasnbhat commented on #1641
@arp95  I did uninstall and re-install the app.

[2017-06-02 09:09] arp95 commented on #1641
@shreyasnbhat not sure then as this error isnt happening for me.

[2017-06-02 09:36] mahikaw commented on #1597
@the-dagger What if there are no bookmarks. This will be the case when the app is opened for the first time of course.

[2017-06-02 09:40] the-dagger commented on #1597
Bookmarks will be populated in a recycler view on the top whose visibility
will be marked as `GONE` in case of no bookmarks.​

[2017-06-02 09:41] mahikaw commented on #1597
Yeah, I figured. My bad. I guess @shreyasnbhat is working on that. Meanwhile, I will work about the event and organiser description.

[2017-06-02 10:03] mahikaw commented on #1595
Yes, it isn't crashing anymore. I guess it has been resolved in one of the commits unknowingly. Closing it.

[2017-06-02 10:03] #1595 closed

[2017-06-02 10:53] iamareebjamal commented on #1641
It can happen in this scenario - The date loading operation is called before the realm results are loaded but since realm is fast enough, it doesn't happen always

[2017-06-02 15:29] #1605 closed

[2017-06-02 17:01] mahikaw commented on #1622
@the-dagger #1551 is a different issue in my view. I wanted to solve them separately. Do you think you can reopen this issue?

[2017-06-02 17:31] the-dagger commented on #1622
Alright.

[2017-06-02 17:44] mahikaw commented on #1636
@heysadboy I think this is been taken care of in #1551. :)

[2017-06-02 17:48] mahikaw commented on #1641
Yes, I too faced this issue a while ago. I'm not exactly able to reproduce it. It occurs occasionally, when the schedule fragment suddenly goes blank and then the app crashes on pressing any track.

[2017-06-02 17:55] heysadboy commented on #1636
@mahikaw I thought that was about the button only, sorry. @the-dagger @iamareebjamal Should I close this?

[2017-06-02 18:01] #1521 closed

[2017-06-02 18:36] johan68 opened #1643 "cntrl behaviour ^"
**Actual Behaviour**

Please state here what is currently happening.

**Expected Behaviour**

State here what the feature should enable the user to do.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**LogCat for the issue**

Provide logs for the crash here

**Screenshots of

[2017-06-02 19:00] iamareebjamal commented on #1636
This is another issue @mahikaw Please go on @heysadboy

[2017-06-02 19:02] iamareebjamal commented on #1636
@mahikaw You are also fixing the background issue right?

[2017-06-02 19:02] iamareebjamal commented on #1641
I'll take a closer look at it tomorrow

[2017-06-02 19:05] iamareebjamal commented on #1643
@johan68 Was this created by mistake?

[2017-06-02 19:13] #1622 closed

[2017-06-02 19:33] #1616 closed

[2017-06-03 09:07] mahikaw opened #1644 "SpeakersList Recycler View Image duplication"
**Actual Behaviour**

While testing a sample, I came across this issue wherein, the speaker images are duplicated and shown against incorrect speaker names, although on clicking on the speaker, the correct speaker image shows up in the speaker detail activity.

**Expected Behaviour**
There shouldn't be any duplication.

**Screenshots of the issue**

![screenshot_20170602-184709](https://cloud.gith

[2017-06-03 10:02] shreyasnbhat commented on #1644
@mahikaw Yes this does happen. Very weird.
@iamareebjamal I am facing this while doing the global search too.

[2017-06-03 10:03] mahikaw commented on #1636
Yes.

[2017-06-03 10:03] shreyasnbhat commented on #1641
@iamareebjamal
[code]

New error while opening `SpeakerFragment`

[2017-06-03 12:00] arp95 commented on #1644
this has to an issue from the json side. dont think there is a fault in the codebase.

[2017-06-03 12:06] shreyasnbhat commented on #1644
I don't think so. As this didn't happen earlier in the speaker fragment. If
the json hasn't changed this problem shouldn't have come up.

On Jun 3, 2017 5:30 PM, "Arpit Aggarwal" <notifications@github.com> wrote:

[2017-06-03 12:24] arp95 commented on #1644
@shreyasnbhat we are loading speaker images through picasso where we provide the link of the image stored in drive or elsewhere. so where do you think fault can occur? i dont think any issue is there with our codebase, its the path of images which are causing the duplication.

[2017-06-03 13:00] mahikaw commented on #1644
@arp95 as I have mentioned in the issue description the image shown is correct in speaker detail  when we click on it. It is only in the list view that this discrepancy arises.

[2017-06-03 13:15] #1549 closed

[2017-06-03 13:19] iamareebjamal commented on #1644
@mahikaw It is probably standard recyclerview behaviour. RecyclerView uses only a constant amount of viewholders so if a previous viewholder contains a loaded image and the new one didn't load anything over it ( skipped due to null check ), then it will keep showing the old image. I think resetting the image if it is null, i.e., resetting it in else block of the null check for thumbnail will fix t

[2017-06-03 13:21] arp95 commented on #1644
@iamareebjamal recyclerview arent fast enough to ensure correct viewholder is loaded?

[2017-06-03 13:21] mahikaw commented on #1644
Yes, I too find similar stuff on googling this. I will send a PR by tonight. I am away from my laptop right now.

[2017-06-03 13:27] iamareebjamal commented on #1644
@arp95 It is not about being fast. In a screen where 8 views are visible on the screen, recyclerview initializes only about 12 objects of viewholder to be fast. The disadvantage is that the viewholders are not isolated from each other and are recycled. So if you load a color or image in one recyclerview and don't load anything for some other data item, it will retain the previous loaded image and

[2017-06-03 13:31] arp95 commented on #1644
@iamareebjamal lets say i view the app on a tablet where there is more space, does recyclerview allocate more viewholders? i mean the allocation of objects is dynamic or fixed?

[2017-06-03 13:39] iamareebjamal commented on #1641
@shreyasnbhat The current speaker's organisation may be null, that's why ->

`current.getOrganisation().equals(...)`

[2017-06-03 14:04] iamareebjamal commented on #1644
Dynamic. 2 more rows than visible AFAIK

[2017-06-03 16:15] rohanagarwal94 commented on #1643
@iamareebjamal I think its better to close this. If @johan68 needs to point out a bug/enhancement, he may reopen another issue in the tracker. IMO this issues conveys nothing meaningful.

[2017-06-03 16:16] #1643 closed

[2017-06-03 16:49] arp95 opened #1646 "SpeakerImage Placeholder not displayed in SpeakersListFragment"
**Actual Behaviour**

Currently when the internet is off and the user has installed the app for the first time, the speakers fragment looks like as shown in the screenshot section.

**Expected Behaviour**

Enable the image placeholder even when the net is off.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

![18926148_10211470170744404_515068298_o](https:/

[2017-06-03 17:04] iamareebjamal commented on #1593
This issue is essentially #1610 @arp95

Should this one be closed?

[2017-06-03 17:06] #1646 closed

[2017-06-03 17:13] arp95 commented on #1593
@iamareebjamal yes you are right. this can be closed.

[2017-06-03 17:14] #1593 closed

[2017-06-03 17:16] iamareebjamal commented on #1610
Let's discuss the approach really quickly @arp95

We need to take milestones more seriously. This is due tomorrow. How should we handle the checking of status of the zip. After that, the copying of images will hardly take half an hour of code

[2017-06-03 17:26] arp95 commented on #1610
Earlier we added code for the assets part right. What we can do is put the images in the apk and if that folder doesnt exist, the apk wont have that folder. Or is there a better way of doing it?

[2017-06-03 17:29] iamareebjamal commented on #1610
That is the easy part. I was asking about the detection of 3 cases which Niranjan pointed out. How will we guess which case the zip belong to. Whether to include images or not

[2017-06-03 17:35] arp95 commented on #1610
is there a way we can check whether images/speaker folder exist during runtime, because if it does we know that the organizer wants to include images otherwise not.

[2017-06-03 18:27] iamareebjamal commented on #1610
Yes there is, but there can be a case where there are images too and the image links in JSON are provided as server images. In this case, we'll want to use server links only

[2017-06-03 18:28] iamareebjamal commented on #1610
I guess for now, include the images if they are present. A suggestion, when you move the images, do it in `drawable-nodpi` as it does not impose any restriction on the size of images

[2017-06-03 18:32] iamareebjamal opened #1649 "New Tracks Fragment UI proposal"
I have made some mocks to discuss a new, and more material UI for tracks fragment. Let's discuss if they are better than the current one.

UI 1 :
![device-2017-06-03-234144](https://cloud.githubusercontent.com/assets/3874064/26756098/e83f5908-48b8-11e7-9840-ebae33f32ee8.png)

UI 2 :
![device-2017-06-03-234648](https://cloud.githubusercontent.com/assets/3874064/26756099/eec5f6f6-48b8-11e7-9fd4-af70

[2017-06-03 18:33] arp95 commented on #1610
no i think in that case we have to include the images too for offline mode i guess.
yes you are right, for now adding them as it is.

[2017-06-03 18:37] iamareebjamal commented on #1649
@the-dagger @mananwason @mariobehling What is your take on this?

[2017-06-03 18:45] shreyasnbhat commented on #1649
@iamareebjamal Could you explain what is different between UI2 an UI3?

[2017-06-03 18:46] arp95 commented on #1649
i would prefer ui3. looks good to me

[2017-06-03 18:49] shreyasnbhat commented on #1649
@iamareebjamal We could also add a small detail at the side indicating the number of sessions of each track on the track card.

[2017-06-03 19:06] arp95 opened #1650 "Formatting of the NetworkUtils.java class"
**Actual Behaviour**

The NetworkUtils.java class can be formatted to ensure the calls to it in the activity require less lines of code.

**Expected Behaviour**

Formatted NetworkUtils.java class

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

https://github.com/fos

[2017-06-03 19:29] iamareebjamal commented on #1649
@shreyasnbhat Yeah sure

And about the difference, the dark and light colors are inverted in both

[2017-06-03 19:41] #1636 closed

[2017-06-03 19:41] #1551 closed

[2017-06-03 19:46] iamareebjamal commented on #1609
This can be taken up now. @arp95 Please select appropriate milestone

[2017-06-03 19:51] iamareebjamal commented on #1326
@arp95 and @Shailesh351, I think one of you two could take up this issue. It is very critical for the application. A 10 MB disk cache should be sufficient for Picasso configuration, and try to make it injected globally, i.e., from Application class so that there is no need for any special class and static accessors

[2017-06-03 20:09] heysadboy commented on #1637
@iamareebjamal I don't see changes made in this https://github.com/fossasia/open-event-android/pull/1625 . Is this reverted back?

[2017-06-04 02:50] Shailesh351 commented on #1326
@iamareebjamal  i would like to work on it.
[Milestone 5](https://github.com/fossasia/open-event-android/milestone/28)

[2017-06-04 03:15] iamareebjamal commented on #1637
Please confirm you have Google Play variant selected

[2017-06-04 04:28] iamareebjamal commented on #1633
@mahikaw If accepted, this will be covered under #1649

Is it fine?

[2017-06-04 04:35] iamareebjamal commented on #1644
@mahikaw Please check if the issue persists. Should be fixed now

[2017-06-04 04:59] arp95 commented on #1644
yeah i think it should be resolved now.

[2017-06-04 05:02] arp95 commented on #1609
@iamareebjamal i was thinking of adding a video button in SessionDetail Activity and the card as seen in Google IO. We dont need a separate section for it right?

[2017-06-04 05:10] mahikaw commented on #1644
fixed via #1647

[2017-06-04 05:10] #1644 closed

[2017-06-04 05:12] mahikaw commented on #1633
@iamareebjamal I'll wait for the approval then. Till then I'll work on something else 👍

[2017-06-04 05:15] mahikaw commented on #1649
UI-3 looks good I think.

[2017-06-04 05:35] mahikaw commented on #1649
@iamareebjamal I think there should be an option in the action bar to select a grid layout or list layout. Not everyone prefers to look at grids in my opinion.

[2017-06-04 05:38] Shailesh351 commented on #1649
@mahikaw right. Just like Google drive app. UI should be flexible.

[2017-06-04 05:46] mahikaw opened #1651 "Location activity UI bug"
**Actual Behaviour**
Incase of no sessions in a location,

- the map of that particular location also shows up the default "no sessions" text view with the map of the location.

- On clicking back button, first the map goes, leaving just the "no sessions" text view. On clicking back button for the second time, the locations list appears.

**Expected Behaviour**

- Even if there aren't any sessions

[2017-06-04 07:37] mahikaw commented on #1649
Also, @iamareebjamal since the tracks, alongwith their descriptions consist of primarily textual content, it will be better to continue with list layout. According to guidelines, grid layouts should be used when the content has distinguishing image icons with very little or no text.
The Google I/O 2017 app too consists of just a list layout for tracks.

[2017-06-04 08:15] shreyasnbhat commented on #1649
@iamareebjamal  We could have something like the google play store design where we have a track and under the title of the track we have a horizontal recycler view with cards of the sessions of each track.
And this could a vertical recycler view for all tracks

[2017-06-04 10:13] shreyasnbhat commented on #1641
@iamareebjamal So what do you suggest to do to fix this?

[2017-06-04 12:30] mahikaw commented on #1641
@shreyasnbhat Did you try running any other sample event? Or is this happening in the current app?

[2017-06-04 13:27] shreyasnbhat commented on #1641
@mahikaw I guess null checks are needed and no I haven't tested it out in the other apps.
I have faced this at any point where some field is missing.

[2017-06-04 13:30] arp95 commented on #1641
are you facing it somewhat like this.
using String.isEmpty() method on a null object reference?

[2017-06-04 13:31] shreyasnbhat commented on #1641
@arp95  Yes this happens at many places.

[2017-06-04 13:34] arp95 commented on #1641
Yes i am facing this in the sample i am creating. please go ahead. it is a critcal bug in the app.

[2017-06-04 13:42] mahikaw commented on #1641
@shreyasnbhat yes, this is all about handling null objects. It occurs in sessionsdetails and speakersdetails adapters based on different samples. Do you want to work on this?

[2017-06-04 13:43] shreyasnbhat commented on #1641
@mahikaw  Will do. If there are any other instances of such a bug do list it out here.

[2017-06-04 13:44] mahikaw commented on #1641
Sure! Will do.

[2017-06-04 14:19] iamareebjamal commented on #1649
@mahikaw The problem is that the current UI looks very ancient. If you could propose a good list based design, it'd be great

@shreyasnbhat Wouldn't it be unmanageable for big events where lots of sessions are present in the track. I think it'll confuse the users and make track detail activity obsolete

[2017-06-04 14:26] iamareebjamal commented on #1609
Yeah, a button should do. How are you preparing to show the video from source though?

[2017-06-04 16:57] #1490 closed

[2017-06-04 18:06] arp95 commented on #1609
via an implicit intent. if the "video" json field is null i make the button darkish type and if the youtube link is available i provide a coloured button which on click takes me to youtube to show the event. is it fine?

[2017-06-04 18:10] iamareebjamal commented on #1609
Please confirm that the API will only contain Youtube links. I think it may contain any link.

@the-dagger @mariobehling Should we show the video in application or delegate the task to browser?

[2017-06-04 18:28] arp95 commented on #1609
fine then. till then adding the button.

[2017-06-04 19:17] arp95 commented on #1609
![18946987_10211479769624370_2027787947_o](https://cloud.githubusercontent.com/assets/8268392/26764656/7caa2f3a-4988-11e7-9521-f04baa28446f.png)

Is the following button fine @iamareebjamal .Dont look into the ui, i am planning for the redesign of the ui for sessiondetail activity. should we use this button?

[2017-06-04 19:18] rohanagarwal94 opened #1654 "Include live feed from facebook"
**Expected Behaviour**

I was thinking to start working on getting live feed from facebook. My solution does not require login from facebook and just fetches the page from its page id along with the paginated comments. This will require change in the JSON format asking for the page id or the url of the facebook page. Would love to hear thoughts before working from it.

**Screenshots of the issue**

[2017-06-04 19:18] arp95 commented on #1654
shouldnt we prefer using twitter feed than fb one? just a thought.

[2017-06-04 19:20] rohanagarwal94 commented on #1654
@arp95 I thinking of including both along with youtube videos. But since the issue was a large one, I thought of excluding it initially.

[2017-06-04 19:21] iamareebjamal commented on #1609
Before the redesign, add a card for video and if the feed is youtube video, pull a thumbnail from YouTube API and show it as card background with play button on top of it

[2017-06-04 19:21] arp95 opened #1655 "UI Redesign of SessionDetailActivity"
**Actual Behaviour**

Current session detail activity doesnt look up to the mark. Changing the layout to look better.

**Expected Behaviour**

Improved ui of the session detail activity.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

https://github.com/fossasia/ope

[2017-06-04 19:38] arp95 commented on #1609
shouldnt we use a simple approach, where use a video button and set it coloured when a link is there otherwise not. using a youtube thumbnail in the background doesnt look good i think.

[2017-06-05 00:55] heysadboy opened #1657 "Managing text size throughout the app"
**Actual Behaviour**

The text size of the locations fragment is bigger than other places in the app e.g., tracks and schedule.

<table>
<td>
<img src="https://cloud.githubusercontent.com/assets/22588035/26766878/38da355a-49b7-11e7-8e82-b5a5697f5468.png">
</td>
<td>
<img src="https://cloud.githubusercontent.com/assets/22588035/26766879/3a658a96-49b7-11e7-8f36-52a88a8c33e9.png">
</td>
</table>

**E

[2017-06-05 01:02] heysadboy opened #1658 "Improving the UI of speakers fragment"
**Actual Behaviour**

When we sort according to name, country or organisation we don't actually see that information.

**Expected Behaviour**

I think we should also display that information. By putting that up in list view like in tracks, where we can see the country instead of alphabets when we sort on the basis of country, similarly for organisation.

**Would you like to work on the issue?**

Y

[2017-06-05 01:50] shreyasnbhat commented on #1649
@iamareebjamal  We could have it similar to the Google PlayStore as I said. Just load the first 4-5 sessions within a track and then add a button like MORE above the track card so as to access the other sessions

[2017-06-05 03:37] iamareebjamal commented on #1609
If we show a thumbnail, it'll be more appealing and straightforward tell the user that this is the video.

And about disabled button where video is not present, we should rather hide it completely

[2017-06-05 03:38] iamareebjamal commented on #1658
@heysadboy Milestone 4 expired yesterday

[2017-06-05 04:07] arp95 commented on #1609
ok working on it. just to clear it out there would be 2 drawables right?

[2017-06-05 04:22] iamareebjamal commented on #1609
One card for video and a play drawable on top of it

[2017-06-05 04:33] heysadboy commented on #1658
@iamareebjamal Sorry my bad, add it to milestone 5.

[2017-06-05 04:36] #1604 closed

[2017-06-05 05:17] heysadboy opened #1659 "Sharing information from map fragment"
**Actual Behaviour**

Currently there is no functioning of sharing information from map fragment.

**Expected Behaviour**

That should be available from map.

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

Milestone 5

[2017-06-05 07:34] mahikaw commented on #1649
@iamareebjamal The mock ups that you have created are good enough but I feel that the current UI looks good and is very similar to the latest Google I/O as well as WWDC event apps. The maximum we can do is change the font to jazz it up a bit.
There is a need to focus on more critical issues than changing UI. However, this is just my view.
@mariobehling @mananwason @the-dagger @niranjan94 will sure

[2017-06-05 07:46] mahikaw commented on #1658
@heysadboy I am unable to understand what you're pointing at. Could you please be more specific.

[2017-06-05 07:53] mahikaw commented on #1657
@heysadboy this seems like a valid issue. Could you also take care of all other fragments? For instance, the schedule fragment too has different font sizes.
I think you should do the following:-

- You could change the issue title to be more generic- for all fragments.

- And remove all the hard coded font sizes throughout the app, anywhere and add common sizes in dimens.xml
This way we can assure

[2017-06-05 07:57] mahikaw commented on #1655
@arp95 I agree that this activity needs to be improved upon. Could you please mention what changes you want to make in it before you start working, so that the mentors could approve them first.
Also, Do you think you could send in some mock ups for the same? 😄

[2017-06-05 08:05] the-dagger commented on #1655
Exactly, the sessiondetail activity looks fine to me.
Not sure what you want to improve.

[2017-06-05 08:12] mahikaw opened #1660 "Bookmark option in sessions list, Schedule fragment"
**Actual Behaviour**

Just to enhance the user experience, I think we should add bookmark option in the list itself, apart from that in the sessions detail activity.
This will also help maintain uniformity in the app, as in other fragments this feature is present.
Also, the bookmark icon is not uniform through the app. I propose to use one common icon throughout the app.
**Expected Behaviour**

-

[2017-06-05 08:30] heysadboy commented on #1658
@mahikaw My idea is to display information like country name -> all the speakers of that country and organisation -> speakers of that organisation, when we sort the list according to that. Currently the grid is sorted but we don't see this info. like country name etc. i.e., the parameter of sorting. I'll add screenshots once I progress to make it more clear.

[2017-06-05 08:31] mahikaw opened #1661 "Adding filter option of reverse methodology in schedule fragment"
**Actual Behaviour**
At present, the schedule fragment provides option to filter by the events that the user wants to see.
A suggestion was made during Fossasia 2017 conference regarding the same.

**Expected Behaviour**
I propose to add another option to filter by the events that the **user doesn't want to see**, that is we exclude the selected tracks. It basically saves the user from the job of

[2017-06-05 08:34] mahikaw commented on #1658
So basically you are suggesting that we add an indication somewhere on the screen that tells the sorting criteria presently?

[2017-06-05 09:23] heysadboy commented on #1658
Not somewhere. Similar to tracks on the places of alphabets.

[2017-06-05 10:24] iamareebjamal opened #1662 "Add more lenient parsing when inserting into database"
**Actual Behaviour**

Currently, parser and processor assumes that there is no null field present in the JSON response, saving null objects in the process.

**Expected Behaviour**

There should be checks and more verbose messages indicating there is error in parsing the said JSON

**Would you like to work on the issue?**

Yes

[2017-06-05 15:27] mahikaw commented on #1633
Closing because we don't want track descriptions, as suggested by @niranjan94

[2017-06-05 15:27] #1633 closed

[2017-06-05 15:28] shreyasnbhat commented on #1658
@heysadboy You are saying that we must add a sticky headers to the list right?

[2017-06-05 15:49] heysadboy commented on #1658
Sure @shreyasnbhat . Also get opinions if we could improve this in any other way.

[2017-06-05 16:48] iamareebjamal opened #1664 "Ignore build folder while copying app source in generator"
**Actual Behaviour**

Currently, every file from app source is copied making the copying very slow and redundant, and thus effecting generation time

**Expected Behaviour**

The `build` folder should be omitted while copying

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

Milestone 5

[2017-06-05 18:32] arp95 commented on #1664
@iamareebjamal can you work on the local speaker images issue here itself. it will save time as i am working on samples. is it fine?

[2017-06-05 18:36] arp95 commented on #1655
@mahikaw as discussed in the #1609 , first i am adding a video button in SessionDetail Activity and then will be redesigning the activity on it.

[2017-06-05 19:31] #1664 closed

[2017-06-05 19:50] iamareebjamal opened #1667 "Move Unit Tests in test/ directory"
**Actual Behaviour**

Currently, even unit tests are present in intrumentation tests directory

**Expected Behaviour**

They should be moved to unit tests directory for quick run and verification

**Would you like to work on the issue?**

Yes

[2017-06-06 01:29] shreyasnbhat commented on #1658
@iamareebjamal @arp95 @mahikaw @heysadboy We could remove the `FrameLayout` we are using on top of the speaker as it covers most of the speakers face. We could move it into a separate `TextView` below.And stickyListHeaders could be added here too. And we could also make the images circular as we have done this in `SessionDetailActivity`

[2017-06-06 01:33] shreyasnbhat commented on #1649
@mahikaw I guess we can have a separate design which would be influenced by the I/O app and the WWDC app. :)

[2017-06-06 03:06] iamareebjamal commented on #1658
@shreyasnbhat Or we could just reuse the layout and adapter made for SessionDetailActivity

[2017-06-06 03:10] shreyasnbhat commented on #1658
Yeah I guess that would be better.

On Jun 6, 2017 8:36 AM, "Areeb Jamal" <notifications@github.com> wrote:

[2017-06-06 05:05] shreyasnbhat commented on #1658
@iamareebjamal I'll start working on this now. If all these changes are acceptable.

[2017-06-06 06:55] iamareebjamal commented on #1658
Let's wait for the mentors to confirm

[2017-06-06 12:06] mahikaw commented on #1641
@shreyasnbhat Any updates?

[2017-06-06 12:18] shreyasnbhat commented on #1641
I'll work on this tonight.

On Jun 6, 2017 5:36 PM, "Mahika Wason" <notifications@github.com> wrote:

[2017-06-06 12:27] iamareebjamal commented on #1641
@shreyasnbhat First pull #1663 and see if the issue exists there too

[2017-06-06 13:54] arp95 commented on #1667
yes even i got confused initially. please go ahead.

[2017-06-06 15:10] #1610 closed

[2017-06-07 03:50] shreyasnbhat commented on #1641
@iamareebjamal  I will also remove unused variables and redundant statments in my PR if that's fine

[2017-06-07 04:46] iamareebjamal commented on #1641
That's the thing. Once we have designed our app around empty strings, then we may let some unintended effects creep in. The ideal implementation should be to always check null for methods which return it. You can use show usage and look for such calls made

[2017-06-07 04:47] iamareebjamal commented on #1641
About unused variables, if they are related to your PR, only then do it, else it becomes difficult to track which PR changed which part

You can create a new issue to remove redundant info from whole app

[2017-06-07 05:03] shreyasnbhat commented on #1641
@iamareebjamal Alright. I guess I have found the root cause of the issue and I think it is unrelated to the ISO class at all. I'm checking it out now. For some reason `session.getTrack()` is returning `null` while it shouldn't be doing so.

[2017-06-07 05:06] iamareebjamal commented on #1641
It can be @shreyasnbhat

And as I have handled most cases in #1663
Can you tell which call is doing so it can be fixed in a single PR

[2017-06-07 05:07] iamareebjamal commented on #1641
Or you can send PR yourself on the topic branch

[2017-06-07 05:13] shreyasnbhat commented on #1641
`session.getTrack()` returns null only for the `Track`  Open Tech. The issue crops up in the `SessionListAdapter`. A click from either the Track Page or the Schedule Page. Do check it out. Yeah I guess you should do this in your PR itself.

[2017-06-07 05:15] arp95 commented on #1641
@iamareebjamal
will be sending a pr to your branch if there is some case you missed.

[2017-06-07 05:15] iamareebjamal commented on #1641
But then why does it not happen all the time. Nevertheless, I'll take a look

[2017-06-07 05:15] iamareebjamal commented on #1641
@arp95 Sure

[2017-06-07 05:20] shreyasnbhat commented on #1641
@iamareebjamal I think the only way this can happen is track is not set for these sessions in realm. I have checked the `sessions.json` and `tracks.json` no errors there for sure. And the adapter also is fine. I guess you could check the realm insert for this particular Track.

[2017-06-07 05:23] iamareebjamal commented on #1641
But even then, it will happen again if the track wasn't added. But will check out

[2017-06-07 05:34] iamareebjamal commented on #1641
I checked. There is no such session with no track, and also, each session has complete info

[2017-06-07 05:38] #1667 closed

[2017-06-07 05:54] the-dagger commented on #1658
@shreyasnbhat Could you add a mock on what you are proposing?
This can be a rough sketch as well.

[2017-06-07 05:56] the-dagger commented on #1655
@arp95 let's try to implement this in #1609 itself.

[2017-06-07 05:56] #1655 closed

[2017-06-07 05:59] the-dagger commented on #1609
@iamareebjamal +1.
Also, you don't event need to use the Youtube API for getting thumbnails.
Youtube has a simple URL for getting video thumbnail in which you can replace the video key with the one you want and get relevant thumbnails.

http://img.youtube.com/vi/" + VIDEO_ID + "/0.jpg

[2017-06-07 06:02] #1445 closed

[2017-06-07 06:02] #1429 closed

[2017-06-07 06:05] #1434 closed

[2017-06-07 06:09] the-dagger commented on #1350
@iamareebjamal @mahikaw @arp95 @shreyasnbhat @Shailesh351 Any one of you wants to work on this?

[2017-06-07 06:10] mahikaw commented on #1350
@the-dagger I am willing to work. 👍

[2017-06-07 06:11] shreyasnbhat commented on #1350
@the-dagger I could work on this.

[2017-06-07 06:12] shreyasnbhat commented on #1641
Hmm this is quite weird. @iamareebjamal What can be done about this now?

[2017-06-07 06:12] the-dagger commented on #1350
@mahikaw Cool, please let me know the deadline by when you want to finish this.
@shreyasnbhat looks like you are working on #1499 so it's better if you focus on that for this milestone. 👍

[2017-06-07 06:19] shreyasnbhat commented on #1658
![image](https://user-images.githubusercontent.com/19890557/26864715-2f5596ca-4b77-11e7-98c7-22cb975e33f7.png)

Ignore the toolbar. It wouldn't look like that.
@the-dagger I was thinking on these lines. We just need to add minor tweaks to make the image round instead of square. And also the text on top of the image hides most of the image. I feel that this would look better.
@iamareebjamal @arp95

[2017-06-07 06:27] the-dagger commented on #1658
@shreyasnbhat
I think that's fine.
Once you open the detail activity for speaker, their complete pic is displayed anyways.
So makes no sense to go ahead and redesign it.

[2017-06-07 06:36] shreyasnbhat commented on #1658
@the-dagger I'm not saying if it is fine or not. I am saying that the same thing can be done better.
We want the user to see stuff what us being shown to them. Maximum of the images have text covering the entire image. So either we can remove the image from the SpeakerFragment as we can see the image anyways in the detail activity or we could do this.  Now its your call.

[2017-06-07 06:43] the-dagger commented on #1658
@shreyasnbhat The whole idea is to show more info in less space.
If we go what you propose, it'll take more space since the text will take some extra space to be dispkayed.
Also we definitely need to display the speker's image and name on the fragment as well, so I feel that the current implement is good enough.

[2017-06-07 06:46] shreyasnbhat commented on #1658
@the-dagger As the image doesn't need to be as big as the current one. We could use the viewholder I made while doing global search.

![image](https://user-images.githubusercontent.com/19890557/26865596-0d2b0496-4b7b-11e7-8537-a42467e05cf3.png)
Something like this with a white background and a round image instead of a square. This would definitely take up lesser space.

[2017-06-07 06:50] the-dagger commented on #1658
So that means a single image per row, not that good as compared to the current implementatiion.
Not sure what's the issue here.
Even Google I/O 2015 used a similar speakers UI so I think it's good.

I'll recommend using the current viewHolder for the global search instead.

However regarding circular images instead of square ones, that is something you can do, but I'm sure that we tried it earlier

[2017-06-07 06:53] shreyasnbhat commented on #1658
@the-dagger Alright.
But for the global search it wouldn't look good if we use this ViewHolder and I have discussed about this in detail already. Basically I am using a LinearLayoutManager and this layout works better with a GridLayoutManager. I have tried using this layout but it didn't look good.

[2017-06-07 06:54] the-dagger commented on #1658
Ok then.
If it has already been discussed, it's good to go ahead with the outcome agreed upon .

[2017-06-07 07:10] mahikaw opened #1670 "Sponsor's Order in Sponsors fragment"
**Actual Behaviour**

The sponsors in the samples are being displayed in the reverse order. That is level 1 sponsors at the end.
**Expected Behaviour**

The list should be in a decreasing order of level.

**Screenshots of the issue**

![device-2017-06-07-123830](https://user-images.githubusercontent.com/21010060/26866361-6e3ac9a8-4b7e-11e7-9a2f-17b671629739.png)

**Would you like to work on the is

[2017-06-07 07:16] mahikaw commented on #1670
@the-dagger Shall we change the samples or the code? Because technically level 1 sponsor should come at the top, and in that case we need to change the code.

[2017-06-07 07:36] the-dagger commented on #1670
@mahikaw While populating the adapter, you can simply add a comparable to the sponsors class and then sort it.
That should work well enoug.

[2017-06-07 07:40] the-dagger commented on #1661
@mahikaw Sounds good, but I don't think that people will be using it.
No one normally goes into an event with the attitude of not attending a track.

So I think that we can leave it for now.

[2017-06-07 07:40] #1661 closed

[2017-06-07 07:51] the-dagger commented on #1670
@mahikaw I just tested the app and it seems t work fine for me. (The sample apk generated after each commit)
Could you cross check and confirm this?

[2017-06-07 07:55] mahikaw commented on #1670
@the-dagger Yes, the current app is working because the data sample has the top most sponsors as the last level. This is why I was asking you if we should make changes in the samples or the code. Technically, level 1 should be the top most sponsors, in which case we will need to change the code.

[2017-06-07 07:57] the-dagger commented on #1670
Oh i see.
Yeah in that case, you need to change the code.
Implement a comparable and it should be easy to do this.

[2017-06-07 08:13] Shailesh351 opened #1671 "Schedule Fragment is blank when data is loaded form assets"
**Actual Behaviour**

Schedule Fragment is blank when data is loaded form assets because event start and end is not added in Realm database when data is loaded from assets.

**Expected Behaviour**

Schedule Fragment should not be blank

**Steps to reproduce it**

- Press "No" when first time running app
- Go to schedule Fragment.

**Screenshots of the issue**

![screenshot](https://user-images.git

[2017-06-07 08:54] arp95 commented on #1671
please go ahead.

[2017-06-07 08:59] arp95 opened #1673 "Removing certain attributes from Tracks"
**Actual Behaviour**

Currently we are storing the description and location of a track which are not used at all and as discussed they are no longer needed by our app.

**Expected Behaviour**

Removing these attributes as they are no longer needed.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

**Target M

[2017-06-07 11:19] iamareebjamal commented on #1609
@the-dagger That is what I was talking about when mentioning Youtube's REST API :smile:

[2017-06-07 11:23] iamareebjamal commented on #1641
I think we should go ahead and merge the current fixes and if the crash happens next time, we will look into it as nobody is able to reproduce the crash for now

[2017-06-07 11:31] #1673 closed

[2017-06-07 11:44] iamareebjamal commented on #1670
@mahikaw You can modify the method in `RealmDataRepository` to sort by level​. See other implementations there

[2017-06-07 12:25] #1671 closed

[2017-06-07 21:36] mariobehling opened #1676 "Generate several test apps on new PRs in apk branch"
At the moment we only generate on sample site to test the project. Event sites are different, have different length and number of tracks. So, reviewing different event sites continuously would be a good advantage.

Therefore please create different apps automatically on deployment in the apk branch.

Implement the following event sample apks from the samples in the Open Event repo:
* FOSSASIA 2017

[2017-06-07 21:40] mariobehling opened #1677 "Ensure several Open Event apk's of different events can be installed on the same device"
There were issues of several apks of different events that could not be installed on the same device. Test and report the current apk generators outcome with different events and if issues arise resolve them.