[2017-01-27 19:30] free4murad commented on #1064
@DravitLochan
the app is working f9.
Something might be wrong with your device.

Which flavour of app are you using??

[2017-01-27 19:31] harshitagupta30 commented on #1064
@DravitLochan which branch you're working on? Please deploy the code from development branch! :)

[2017-01-27 19:47] DravitLochan commented on #1064
ok :)

[2017-01-27 19:51] DravitLochan commented on #1064
got things working in order. cheers!

[2017-01-27 19:51] #1064 closed

[2017-01-27 20:23] harshitagupta30 opened #1067 "Runtime exception leading to app crash when another app is launched over it."
**Actual Behaviour**

![screenshot from 2017-01-28 01 12 58](https://cloud.githubusercontent.com/assets/12701036/22385950/d953d288-e4fa-11e6-9679-9b2747a4fbdd.png)

**Expected Behaviour**
App should not crash while another app is launched.

**Steps to reproduce it**
By overriding and implement onRestoreInstanceState() method of Activity lifecycle.

@the-dagger @mananwason Hi! sending the PR for th

[2017-01-27 21:36] harshitagupta30 opened #1069 "Toolbar (SupportActionBar) title changes to app name on orientation change"
**Actual Behaviour**

![screenshot_2017-01-28-02-57-10](https://cloud.githubusercontent.com/assets/12701036/22388292/e0b0d296-e505-11e6-99e3-5fbbec252357.png)
![screenshot_2017-01-28-02-56-32](https://cloud.githubusercontent.com/assets/12701036/22388295/e0b92b3a-e505-11e6-85e0-418ab8bb82de.png)
![screenshot_2017-01-28-02-56-48](https://cloud.githubusercontent.com/assets/12701036/22388294/e0b4a6be-

[2017-01-27 22:05] rohanagarwal94 opened #1071 "App invite via Facebook"
**Actual Behaviour**

Only sharing of app is being implemented.

**Expected Behaviour**

App invite through facebook notification feature.

**Screenshots of the issue**

@mananwason , @the-dagger this is what I thought in terms of UI of two buttons
![screenshot_2017-01-28-03-28-28](https://cloud.githubusercontent.com/assets/13241256/22389253/9f265332-e50a-11e6-9c4b-056dd3802468.png)

**Would you l

[2017-01-28 00:47] mananwason commented on #1060
Please go ahead.

[2017-01-28 00:49] mananwason commented on #1069
@harshitagupta30 Please let one of the mentors approve the issue, then only send a PR.

[2017-01-28 00:55] mananwason commented on #1067
Again, please don't send PR before someone okays it.

[2017-01-28 00:56] mananwason commented on #1067
Please also list steps to reproduce, not the reason.

[2017-01-28 00:58] mananwason commented on #1066
This is because this is not deployed. You need to deploy it to a server.

[2017-01-28 00:58] #1066 closed

[2017-01-28 00:59] mananwason commented on #1062
@mariobehling @niranjan94 What should be done here then?

[2017-01-28 00:59] mananwason commented on #1058
Go ahead

[2017-01-28 01:00] mananwason commented on #1056
Closing this for now.

[2017-01-28 01:00] #1056 closed

[2017-01-28 01:02] mananwason commented on #1054
But where do you plan to get the room lat longs? So, AFAIK we have already got a microlocation json file having all the latlngs, you just need to populate the map using those.

[2017-01-28 01:03] #1050 closed

[2017-01-28 01:04] #1049 closed

[2017-01-28 01:04] mananwason commented on #1038
@the-dagger please close the issues as well after merging PR's 😛

[2017-01-28 01:04] #1038 closed

[2017-01-28 01:05] #1037 closed

[2017-01-28 03:50] arp95 commented on #1060
@mananwason
please review my pr submitted earlier so that i can submit the pr for this .

[2017-01-28 04:25] #1024 closed

[2017-01-28 05:14] niranjan94 commented on #1062
@mananwason I agree with you.

@mariobehling The reason we aren't able to have google cloud deployments in the master/development in the google cloud branch itself, is Travis does not support android and docker builds simultaneously. And we need docker for Google cloud deployment. So, what I did is,

For every push to dev, an apk gets generated along with some meta files (branch, commit hash) and

[2017-01-28 09:49] harshitagupta30 commented on #1069
@mananwason I am extremely sorry! I'll make sure of that in future :)

[2017-01-28 09:52] harshitagupta30 commented on #1067
@mananwason I am extremely sorry once again :)
The solution to this is by implementing the onRestoreInstanceState() method of Activity lifecycle. I have update the above comment as well!
Please review it :)

[2017-01-28 12:16] free4murad opened #1076 "Overdraw in the app."
**Actual Behaviour**
There is a lot of overdraw in the app.

**Expected Behaviour**
This overdraw needs to removed. If removing is not possible we need to reduce it.

**Would you like to work on the issue?**

Should I send a PR
@the-dagger @mariobehling @mananwason

[2017-01-28 21:06] free4murad opened #1078 "Update repository description."
**Actual Behaviour**
The repository description needs to be updated. The current URL is showing a 404 error.

**Expected Behaviour**
URL should either point to a downloadable apk of the project or to the app generator page.

**Screenshots of the issue**
![screen shot 2017-01-29 at 2 36 50 am](https://cloud.githubusercontent.com/assets/17262180/22399833/dd60367e-e5cb-11e6-9d18-53e993390672.png)

**

[2017-01-29 14:26] anuradhagupta345 commented on #1078
@the-dagger What do you think about this?

[2017-01-29 14:27] anuradhagupta345 commented on #1014
@the-dagger Can we use third party libraries in this ?

[2017-01-29 14:49] the-dagger commented on #1014
Well, you can use it, but first check the methods in the library that
you'll be using first using http://www.methodscount.com and proceed only if
the number of methods are not ridiculously high.
On Sunday, January 29, 2017, Anuradha Gupta <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2017-01-29 17:58] the-dagger commented on #1078
Ok, makes sense.
Updated, thanks

[2017-01-29 17:58] #1078 closed

[2017-01-30 05:13] ani27 commented on #1054
@mananwason Yes, I will extract room lat long from microlocation json file. I will use session id to get session which will give me its microlocation id and through that I will get microlocation lat long and populate the map using them.

[2017-02-01 04:07] free4murad opened #1080 "Bug in AboutUs dialog box."
**Actual Behaviour**

The AboutUs dialog box has text with no clickable hyperlinks.

**Expected Behaviour**

The dialog box should contain the following links - `Contributors`, `License` and `issue`.

**Would you like to work on the issue?**

I would like to work on this issue.

@the-dagger @mariobehling @mananwason
Should I send a PR for this.

[2017-02-03 14:47] ani27 commented on #1054
@mananwason  @the-dagger  Can I make a PR for this issue?

[2017-02-03 23:50] saketkumar95 commented on #1061
@mananwason @brainbreaker This should be closed now. :)

[2017-02-05 09:22] anantprsd5 commented on #918
@mananwason Looks like @saketkumar95 is still inactive. Can I work on this?

[2017-02-05 10:10] anantprsd5 commented on #1013
@the-dagger Has it been fixed. If not, can I work on this?

[2017-02-05 12:15] TejasBhitle opened #1081 "Bookmarks List doesn't get updated when a session is unbookmarked from BookmarksFragment"
**Initially**<br>
<div>
<img src="https://cloud.githubusercontent.com/assets/17432193/22625909/f7be7fe8-ebc6-11e6-96cc-353fec7a1419.png" width="250">

<img src="https://cloud.githubusercontent.com/assets/17432193/22625927/9d3586d8-ebc7-11e6-9193-7e57b70cbf11.png" width = "250">
</div>

**Actual Behaviour**

Session is unmarked but it still remains in the list.<br>
<img src="https://cloud.githubuse

[2017-02-05 14:12] harshitagupta30 commented on #1013
Hi @anantprsd5! this issue doesn't exist any more! The collapsing toolbar has been removed from this activity!

[2017-02-05 14:12] #1013 closed

[2017-02-06 01:16] saketkumar95 commented on #918
@anantprsd5 Yeah i just missed this issue. If you want to work on this then go ahead. :)

[2017-02-06 14:46] arp95 opened #1082 "How is Butterknife working?"
Going according to the docs we first have to update the build.gradle main and app module files and then we can use @BindView in our code.
My question  is everywhere in the code samples ButterKnife.bind() is used by people in the onCreate() function but couldnt find in the Open Event app. How is it working over here?

[2017-02-06 21:29] saketkumar95 opened #1083 "Upgrade gradle version to 2.2.3 for faster build with instant run"
**Actual Behaviour**

 current gradle version 2.2.2

**Expected Behaviour**

Upgrade gradle version to 2.2.3 for faster build with instant run

**Would you like to work on the issue?**

@mananwason @the-dagger Can i work?

[2017-02-07 06:33] jsroyal commented on #1076
@free4murad  Are you working on PR  #1000?

[2017-02-07 06:34] jsroyal commented on #1071
@rohanagarwal94  Are you working on PR  #1000?

[2017-02-07 06:54] jsroyal commented on #1080
@free4murad  Is there already link given in the code or not?
Can you please give the link where is it?

[2017-02-07 06:58] jsroyal commented on #893
@the-dagger Close this issue.

[2017-02-07 07:14] free4murad commented on #1080
@jsroyal
I have solved this issue.
Waiting for confirmation to send the PR

[2017-02-07 07:18] free4murad commented on #1080
@jsroyal The links are in the strings.xml file

[2017-02-07 07:24] free4murad commented on #1076
@jsroyal
I am on wheels right now.
I will add screenshot later today.

[2017-02-07 07:40] ani27 commented on #1054
@mananwason I guess you were busy but do let me know if I can make a PR for this?

[2017-02-07 10:05] jsroyal commented on #1080
@free4murad Yes I got it.
![screenshot from 2017-02-07 15-31-30](https://cloud.githubusercontent.com/assets/10773353/22686607/b8510bd4-ed4a-11e6-80e3-efbf64586d78.png)

if you have done then add you PR link here.

[2017-02-07 10:06] Abhi2424shek commented on #1080
@free4murad if you solved it send the PR :) pls

[2017-02-07 14:44] free4murad commented on #1080
@Abhi2424shek
will send a PR tonight

[2017-02-07 19:43] rohanagarwal94 commented on #1071
Yeah man. I am awaiting reply from @the-dagger

[2017-02-07 19:59] free4murad commented on #1028
Solved in #1074

[2017-02-07 19:59] #1028 closed

[2017-02-07 20:00] free4murad commented on #1027
Solved in #1077
Closing

[2017-02-07 20:00] #1027 closed

[2017-02-07 20:01] free4murad commented on #966
Solved via #1018
Closing

[2017-02-07 20:01] #966 closed

[2017-02-07 20:01] free4murad commented on #976
Solved via #1021
Closing

[2017-02-07 20:01] #976 closed

[2017-02-07 21:11] anantprsd5 commented on #918
@saketkumar95 @Elgayar  I can see the marker in the map for every location. Can you please tell me how to reproduce this issue?

[2017-02-08 16:04] harshitagupta30 opened #1086 "The link to How to set up the Android app in your development environment in Readme is incorrect"
**Actual Behaviour**

Currently, the link to How to set up the Android app in your development environment is pointing to
https://github.com/fossasia/open-event-android/blob/development/docs/ANDROID_APP_Setup.md

**Expected Behaviour**

The current link is: https://github.com/fossasia/open-event-android/blob/development/docs/android-app-setup.md

@the-dagger @mananwason Please review! Can I send t

[2017-02-08 16:18] heysadboy opened #1087 "Overlapping progressbar"
As we know the progress bar in not keeping up with the toolbar

![screenshot_2017-02-08-18-39-29](https://cloud.githubusercontent.com/assets/22588035/22745897/0fc899ec-ee48-11e6-9976-225da952ba71.png)

So changing it here

![screenshot_2017-02-08-21-40-24](https://cloud.githubusercontent.com/assets/22588035/22745909/1e67176c-ee48-11e6-9b5d-763df77e0402.png)

I adjust the margin and changed the pos

[2017-02-08 16:19] heysadboy commented on #1087
@the-dagger Can I send the pull request for this?

[2017-02-08 17:42] free4murad commented on #1076
Areas which are tinted Blue, Green or Red are drawn twice by the GPU. This is overdraw and must be removed.
![screenshot_20170208-230707](https://cloud.githubusercontent.com/assets/17262180/22749601/eb4f784a-ee53-11e6-9ddf-24b4d44a452a.png)
![screenshot_20170208-230649](https://cloud.githubusercontent.com/assets/17262180/22749607/f0bfa5ac-ee53-11e6-8d1b-6f6d6c3ae442.png)
![screenshot_20170208-2306

[2017-02-08 18:41] free4murad commented on #1080
Solved via #1085
Closing

[2017-02-08 18:42] #1080 closed

[2017-02-08 18:45] #1067 closed

[2017-02-08 18:45] #1069 closed

[2017-02-08 18:47] harshitagupta30 commented on #1060
@arp95 This issue has already been resolved! :)

[2017-02-08 20:42] free4murad commented on #893
Solved via #1025
Closing this.

[2017-02-09 11:11] saeedjassani opened #1089 "UI improvements"
**Actual Behaviour**

1. In BookmarksFragments, the margin is more when compared to `ScheduleFragment`.
2. In the `SpeakerDetailsActivity`, sometimes the biography contains HTML tags which is unexpected.
3. No animations in the `SessionsListAdapter`.

**Expected Behaviour**

1. The margins should be uniform across all screens.
2. The HTML tags should be parsed automatically.
3. I would like to add

[2017-02-09 11:14] saeedjassani commented on #1089
@the-dagger can I send a PR for this?

[2017-02-09 11:25] Abhi2424shek commented on #1089
Sure @saeedjassani

[2017-02-10 11:51] #697 closed

[2017-02-10 12:01] mariobehling opened #1094 "Reduce size of repository"
The repository is currently over 200MB. How can we reduce the size?

[2017-02-10 12:12] arp95 commented on #1094
@mariobehling
1. we can remove the libraries which are not of utmost importance right now. Like ButterKnife etc.
2. we can remove duplicate items, unused imports, unused drawables in the project.

[2017-02-10 12:30] #1086 closed

[2017-02-10 12:32] mariobehling commented on #1071
@jsroyal Looks good. Please proceed.

[2017-02-10 12:34] #1062 closed

[2017-02-10 12:37] #1061 closed

[2017-02-10 12:37] #1060 closed

[2017-02-10 12:38] #1058 closed

[2017-02-10 12:40] mariobehling commented on #1054
@ani27 If you have a solution in mind and it looks good, just go ahead and make a PR. If there are request from changes then we can iterate on that. People might miss your question and this is a distributed team. So, easiest for maintainers: Do not ask if you should make a PR, just do it ;-)

[2017-02-10 12:40] #1019 closed

[2017-02-10 12:41] mariobehling commented on #1019
@arp95 A small hint, please use the screenshot function on the phone instead of making a photo in future. Cheers.

[2017-02-10 12:42] mariobehling commented on #1014
Well, I think this is not a priority right now. Animations are not always required. If you have something specific in mind, please open a specific issue. Closing this therefore.

[2017-02-10 12:42] #1014 closed

[2017-02-10 12:43] #1012 closed

[2017-02-10 12:43] #965 closed

[2017-02-10 12:43] #961 closed

[2017-02-10 12:45] mariobehling commented on #764
Closing this issue due to inactivity. If this is still relevant, please open a new issue with more details and the expected outcome.

[2017-02-10 12:45] #764 closed

[2017-02-10 12:45] #802 closed

[2017-02-10 12:45] #831 closed

[2017-02-10 12:46] mariobehling commented on #751
Closing due to inactivity and app design has progressed in meantime. Open new issue with details if needed.

[2017-02-10 12:46] #751 closed

[2017-02-10 12:48] mariobehling commented on #833
It seems to be working in the current version.

[2017-02-10 12:48] #833 closed

[2017-02-10 12:48] mariobehling commented on #711
The app has moved to v2 in meantime. Open a relevant issue with reference to new app version if necessary.

[2017-02-10 12:48] #711 closed

[2017-02-10 12:49] mariobehling commented on #699
App has moved to new version. Closing this therefore.

[2017-02-10 12:49] #699 closed

[2017-02-10 12:49] mariobehling commented on #870
This feature should be implemented in the server first and is out of scope at the moment.

[2017-02-10 12:49] #870 closed

[2017-02-10 12:50] #893 closed

[2017-02-10 12:50] mariobehling commented on #881
Closing due to inactivity.

[2017-02-10 12:50] #881 closed

[2017-02-10 12:50] #899 closed

[2017-02-10 12:51] mariobehling commented on #907
Zoom was implement in app in meantime.

[2017-02-10 12:51] #907 closed

[2017-02-10 12:51] mariobehling commented on #910
Sorry, but fast is what we want.

[2017-02-10 12:51] #910 closed

[2017-02-10 12:52] mariobehling commented on #912
PR has been merged. If required open specific issues for specific screens. Cheers.

[2017-02-10 12:52] #912 closed

[2017-02-10 12:53] mariobehling commented on #918
Map development has taken place in meantime. Therefore it is unclear if this issue still persists. Open if necessary and provide more details and info for reproducing it.

[2017-02-10 12:53] #918 closed

[2017-02-10 12:54] mariobehling commented on #956
Closing it. Please follow advise. Cheers.

[2017-02-10 12:54] #956 closed

[2017-02-10 12:56] mariobehling commented on #958
Issues like "Improving UI" or "Improving App" are not specific enough. Please also provide screenshots using the phone screenshot feature in future. Thank you.

Closing this. Please provide specific ideas for improvements and open a specific issue for this if needed.

[2017-02-10 12:56] #958 closed

[2017-02-10 12:56] #916 closed

[2017-02-10 12:57] #945 closed

[2017-02-10 14:57] free4murad commented on #1094
@mariobehling
1. We can reduce the size of screenshots in the `docs` folder. The images size is abnormally large (some are even 1.8MB large). We can look into that.

Can I PR for this.

[2017-02-10 16:02] arp95 opened #1095 "Adding items to dimens.xml"
Many layout files like item_sponser_type.xml etc have certain fields which should be added in dimens.xml to enhance reusabilility of the same item again.

@the-dagger @mananwason please approve so that i can start working on this.

[2017-02-10 16:16] free4murad opened #1096 "Flattening layouts files."
**Actual Behaviour**

The layout files are using nested views excessively. This causes unnecessary extra processing.

**Expected Behaviour**

We can flatten the layouts.

**Would you like to work on the issue?**

Yes, can I send a PR for this issue?

[2017-02-10 19:34] free4murad commented on #1096
@mariobehling @the-dagger @mananwason
Should I send a PR?

[2017-02-11 04:33] iamareebjamal commented on #1094
The repo size is large due to binary files like images and apk. For these resources, git cannot diff and only store incremental changes. It has to the store whole file.

As each commit builds a new apk, the apk branch contributes most to the size of repo and  will continue to grow. There are options for contributors like :
1. Fetch/Pull only required branch. For eg: Pull master only and then creat

[2017-02-11 04:39] iamareebjamal opened #1097 "Update README to show correct Android Setup Doc"
In README, the section for **Android App Development Setup** points to this [doc](https://github.com/fossasia/open-event-android/blob/development/docs/installation/android-app-setup.md), which is not present.

The correct link is [this](https://github.com/fossasia/open-event-android/blob/development/docs/android-app-setup.md)

Maybe happened due to folder structure change during one of the commits

[2017-02-11 06:20] harshitagupta30 commented on #1097
@iamareebjamal The PR for this issue has been sent and it will be updated as soon as some mentor merges it! I guess you can close this issue :+1:

[2017-02-11 08:31] free4murad commented on #1094
@iamareebjamal
i don't think apk branch is contributing significantly towards the total repo size. The total size of apk branch is not more than 8MB.  Also the old apks are deleted from the apk branch when new ones are pushed.

[2017-02-11 17:48] #1097 closed

[2017-02-11 17:59] iamareebjamal commented on #1094
@free4murad git stores the deleted files too. That's the whole point of version control, in case you want to go back in history. The actual size of the folder at a state is just the size consumed by the files currently in the repo. The old ones exist as well.
Here, I just pulled only **apk** branch to show its size. It's 172 MB, which is **97%** of the total repo size of **177 MB**

Screenshot att

[2017-02-11 18:18] free4murad commented on #1094
@iamareebjamal
thanks for sharing this.

[2017-02-12 09:55] harshitagupta30 commented on #1082
Hi @arp95! In the Open Event app code, every activity instead of extending the default _Activity_ class, they are extending the _BaseActivity_ class which means whenever we are creating a new activity it'll be overriding the BaseActivity methods.

In _onCreate()_ of _BaseActivity_,  we have called ButterKnife().bind which means all the activities will have it automatically. We need not call it eve

[2017-02-12 10:09] arp95 commented on #1082
@harshitagupta30 yeah missed that part.
Thanks !!

[2017-02-12 10:09] #1082 closed

[2017-02-12 14:16] rohanagarwal94 commented on #688
@the-dagger is the deep linking implemented? Needed the link for app invite through facebook. If you haven't, assign me the issue.

[2017-02-12 14:20] TejasBhitle commented on #1081
I have submitted PR #1098
@mariobehling @the-dagger Please review

[2017-02-12 14:40] rohanagarwal94 opened #1099 "Using Twitter Kit App Card Composer to share app"
**Actual Behaviour**

The tweet currently only includes the hyperlink of the playstore.

**Expected Behaviour**

The tweet would have a app card along with the message. The user need not have the twitter app installed.

**Screenshots of the issue**

![screenshot from 2017-02-12 19-55-02](https://cloud.githubusercontent.com/assets/13241256/22863006/1660a870-f15f-11e6-9e04-2c6eaeb5e1f5.png)

**Would

[2017-02-12 20:33] shreyasnbhat commented on #1096
@free4murad Coordinator Layout would be a good idea to remove nesting of views. :)

[2017-02-13 00:42] free4murad commented on #1096
@shreyasnbhat
Thanks for the suggestion. :)

[2017-02-13 06:21] the-dagger commented on #1087
Ok sure, go ahead.

[2017-02-13 08:07] heysadboy commented on #1087
@the-dagger Thanks. Here I send https://github.com/fossasia/open-event-android/pull/1100 .

[2017-02-13 17:42] heysadboy opened #1101 "Changing splash screen"
Currently splash screen looks like this

![screenshot_2017-02-13-19-45-46](https://cloud.githubusercontent.com/assets/22588035/22895154/89d4d348-f241-11e6-992e-a8e4e1cbebfb.png)

I changed it to look like this, nothing wild

![screenshot_2017-02-13-22-59-45](https://cloud.githubusercontent.com/assets/22588035/22895208/ae0ccaf4-f241-11e6-9428-9a0e23ac8ae7.png)

Yes, I would like to work on this.

[2017-02-13 23:05] free4murad opened #1102 "Show dates for bookmarked sessions."
**Actual Behaviour**

For bookmarked sessions we are only showing timing in Notification and Widget.

**Expected Behaviour**

In addition to the time of session we should also display the date of the session.

**Would you like to work on the issue?**

@mariobehling @the-dagger @mananwason
Can i send a PR for this.

[2017-02-14 05:31] ani27 commented on #1054
@mariobehling Ok, I will keep this mind. Thanks for response

[2017-02-14 07:51] shreyasnbhat commented on #1101
Already done in my Pull Request #1075

[2017-02-14 07:59] heysadboy commented on #1101
@shreyasnbhat Hi. I guess you pull request was to center the Tabs in viewpager as it was there in pull request title, here we follow one pull request per issue, so it would be great if you could ask mentor. Thanks.

[2017-02-14 08:06] shreyasnbhat commented on #1101
This would be better. :)
The logo must be bigger than that.
Just Check the Issue #1058
I had posted a suggestion.

[2017-02-14 10:20] heysadboy commented on #1101
What ever you and mentors feel like doing, I'm okay.

[2017-02-14 16:54] harshitagupta30 commented on #1102
@the-dagger @free4murad I've once tried to add the date but it was leading to bad UX because it was making notification too big and @mananwason asked me to remove it. So I guess it won't be wise decision to add date. :+1:

[2017-02-14 17:47] free4murad commented on #1102
@harshitagupta30
i have implemented the changes and I don't think the notifications are too big.
I am uploading the screenshots please share your reviews.

Collapsed Notification -
![colapsed](https://cloud.githubusercontent.com/assets/17262180/22941497/a39b64ca-f30b-11e6-9343-bd033317c232.png)
Expanded Notifications -
![expanded](https://cloud.githubusercontent.com/assets/17262180/22941490/9dde75

[2017-02-14 17:50] free4murad commented on #1102
@harshitagupta30
I almost all apps you have collapsed and expanded notifications.
And I don't think even the expanded notification is looking bad.
What do you think?

[2017-02-14 17:52] harshitagupta30 commented on #1102
@free4murad nice! it looks good to me! :+1:

[2017-02-14 18:48] free4murad commented on #1102
@the-dagger
adding a date in the widget was not possible because of the less space.
I have changed the layout.
What do you think?
![widget](https://cloud.githubusercontent.com/assets/17262180/22943624/33e444ae-f314-11e6-98f4-3d567988ea8b.png)

[2017-02-14 20:39] the-dagger commented on #1101
Hey @heysadboy  and @shreyasnbhat .
Ideally we suggest everyone to ask before starting to work on an issue which is already open.
Also there should be 1 : 1 mapping between issues and pull requests.
Hence, there can only be one issue fixed in a Pull Request (most of the times)

Hope that makes sense :)

[2017-02-14 21:11] free4murad opened #1105 "Use a snackbar instead of dialog box."
**Actual Behaviour**

While removing a session from bookmarks list the app shows a dialog box with yes/no options.

**Expected Behaviour**

Dialog boxes are interruptive and should be rarely used. [See this video by google](https://www.youtube.com/watch?v=puhfMX8jb9c&t=53s)
Instead of a dialog box we can use a Snackbar with an undo button

@the-dagger @mariobehling @mananwason
What do you think ab

[2017-02-15 04:25] arp95 commented on #1060
@harshitagupta20
please see my pr to see whats happening.

@the-dagger @mananwason
please review my pr.

[2017-02-15 04:45] harshitagupta30 commented on #1060
@arp95 I got the point! and I assumed it to be something else! My bad!
It would have been great if you could have added the name of the activity explicitly in the title which leads to all this confusion! Anyways sorry! :)

[2017-02-15 05:35] betterclever commented on #1096
Constraint Layout is still in beta and constantly changing. Will it be good to use it in production?

[2017-02-15 07:22] rohanagarwal94 commented on #688
@the-dagger deep linking specifically http://2017.fossasia.org/ requires changes in the javascript code of the website. What branch.io does is, it provides custom links (eg. fossasia.app.ink) which on click implements deep linking. Hence setting up branch would make much more sense when setting up referral system. Should I make a separate issue to implement that?

[2017-02-15 08:49] harshitagupta30 opened #1107 "Remove redundant date from timings in Session Details Activity"
**Actual Behaviour**

![screenshot from 2017-02-15 14 15 44](https://cloud.githubusercontent.com/assets/12701036/22966756/a36e62a8-f389-11e6-973c-d7d151a3bf68.png)

**Expected Behaviour**

![screenshot from 2017-02-15 14 14 51](https://cloud.githubusercontent.com/assets/12701036/22966758/a68fe4fc-f389-11e6-90f8-b92d53bb16ef.png)

**Would you like to work on the issue?**
Yes

@the-dagger @mananwaso

[2017-02-15 08:56] free4murad opened #1108 "Show end time for sessions."
**Actual Behaviour**

Only the starting time of session is shown
![screenshot_20170215-142435](https://cloud.githubusercontent.com/assets/17262180/22967039/cbdd7d40-f38a-11e6-8e1e-79aa4f5c0f6f.png)

**Expected Behaviour**

We should display the end time as well

@the-dagger @mananwason @mariobehling
Can i send a PR for this.

[2017-02-15 17:36] harshitagupta30 opened #1109 "Renaming the toolbar's title (Session Details) to the Session's name in Session Detail Activity."
**Actual Behaviour**

![screenshot from 2017-02-15 14 38 34](https://cloud.githubusercontent.com/assets/12701036/22986881/f748244c-f3d2-11e6-852d-a795c7cac227.png)

**Expected Behaviour**

![screenshot from 2017-02-15 23 00 28](https://cloud.githubusercontent.com/assets/12701036/22986883/f9af5bba-f3d2-11e6-92ad-9c88d24cd242.png)

![screenshot from 2017-02-15 23 04 56](https://cloud.githubuserconte

[2017-02-15 18:33] free4murad opened #1110 "Renaming toolbar's title "Location" to name of the selected location in LocationActivity."
**Actual Behaviour**

In `LocationActivity` the toolbar title is "Location" no matter which location is being displayed.

**Expected Behaviour**

The title should be the name of the location which is being displayed in the `LocationActivity`.

@the-dagger
should I send a PR?

[2017-02-15 18:55] rohanagarwal94 opened #1111 "Implement referral system using branch"
**Actual Behaviour**

The link shared is a static link of the android application.

**Expected Behaviour**

The link should redirect to app if its installed, playstore if app not installed. The link will keep track of the person sharing the url.

**Would you like to work on the issue?**

Yes, I would like to work on this.

[2017-02-15 19:16] brainbreaker opened #1112 "Wrong speaker details appearing in SessionDetailActivity"
Session Detail Activity retrieves wrong speaker names for 'Every' session. This is a high priority bug for an app focused on events.

**Actual Behaviour**

Session 'Mobile Development for Students' is by @mananwason but when you open session details of 'Mobile Development for Students' the speaker comes out to be 'Ulrich Nobisrath'.

I would go through the approach I took to solve this bug:
Here i

[2017-02-15 21:01] free4murad commented on #1108
What I am proposing is something like this
![screenshot_20170216-021001](https://cloud.githubusercontent.com/assets/17262180/22994545/4e5733a8-f3ed-11e6-8021-f07a7dd91ae8.png)

[2017-02-16 15:28] iamareebjamal opened #1114 "Replace raster image resources with vector drawables"
**Actual Behaviour**

Currently, the application uses png icons which are both heavy in size and blurry in vision.

**Expected Behaviour**

Since now, through AppCompat, Android supports Vector Drawables back to API 9, we should update the project with them

**Would you like to work on the issue?**

Yes, I would like to work on the issue.
@the-dagger

[2017-02-16 15:51] the-dagger commented on #1114
Sounds good, please go ahead and send a pull request.

[2017-02-16 16:00] utkarshnath opened #1115 "Redundant item in location fragment should be removed"
**some location in the list appear more than ones and same goes for schedule fragment**

![screenshot_20170216-212022](https://cloud.githubusercontent.com/assets/12716067/23028680/0dc8c418-f48e-11e6-8d59-4912aa878759.png)

@the-dagger @mananwason can I send a PR for this?

[2017-02-16 17:41] utkarshnath opened #1116 "Changes in UI of Tracks Session list"
**Actual Behaviour**

![screenshot_20170216-213306](https://cloud.githubusercontent.com/assets/12716067/23032683/4105cdc8-f49b-11e6-9613-453686a8bd58.png)

**The list represent sessions for a particular track thus track's name shouldn't be present in all list items**

**Expected Behaviour**

![screenshot_20170216-224922](https://cloud.githubusercontent.com/assets/12716067/23032690/4a2dac68-f49b-11

[2017-02-16 17:54] free4murad commented on #1116
@utkarshnath
What if we are viewing the session by a particular speaker or bookmarked sessions or sessions at one location?

What do you suggest for the following cases
![screenshot_20170216-231638](https://cloud.githubusercontent.com/assets/17262180/23033630/e23e26a6-f49e-11e6-81ce-bd8afd6767c7.png)
![screenshot_20170216-231902](https://cloud.githubusercontent.com/assets/17262180/23033633/e53c2f5

[2017-02-16 18:05] utkarshnath commented on #1116
@free4murad I was suggesting to remove tracks name from only TrackSessionActivity. And we should also remove location from each of the item in locationActivity.

[2017-02-16 18:07] free4murad commented on #1116
@utkarshnath
we are using the same layout in all the above places.
you remove tracks field from one place it will be removed from all places.

[2017-02-16 18:09] utkarshnath commented on #1116
@free4murad we can make their Visibility gone when the adapter is used for tracks and location activity

[2017-02-16 18:16] free4murad opened #1117 "Redundant time shown in DaySchedule fragment."
**Actual Behaviour**

In DaySchedule Fragment the start time of the session is shown twice.

**Expected Behaviour**

Start time should only been shown once.

Provide logs for the crash here

**Screenshots of the issue**
![screenshot_20170216-234643](https://cloud.githubusercontent.com/assets/17262180/23034592/579322c8-f4a2-11e6-8e3c-27649ca9eecd.png)

@the-dagger @mananwason @mariobehling
Should I

[2017-02-17 09:43] iamareebjamal commented on #1114
Please take a look @the-dagger

[2017-02-17 11:17] iamareebjamal opened #1119 "Unused Palette generation in SpeakerDetailsActivity"
**Actual Behaviour**

In SpeakerDetailsActivity, a palette is generated based on the loaded speaker's photograph to tint the share and back buttons. However, it is unused. The generated palette is not used to generate the color of tint, rather Color.WHITE is directly used to color them white. The icons are already white, and if not, they were addressed in #1118

**Expected Behaviour**

We should e

[2017-02-17 12:13] free4murad commented on #1119
@iamareebjamal
We need palettes for cases like these.
![screenshot_20170217-174012](https://cloud.githubusercontent.com/assets/17262180/23064856/7d865810-f538-11e6-8d52-533f980b07e5.png)

[2017-02-17 13:01] iamareebjamal commented on #1119
Hmm. That's why I asked that should I send a PR with the required changed to text and icons

[2017-02-17 13:57] Jonsnow21 commented on #1110
Hey @free4murad,
I was wondering if its OK for me to send the pull request, as I have already fixed the issue. :slightly_smiling_face: Thanks!

[2017-02-17 14:00] free4murad commented on #1110
@Jonsnow21
Sorry, i have solved the issue already. Just waiting for the maintainer's reply to send the PR.

[2017-02-17 19:07] doomers opened #1122 "Use of BackIcon instead of CrossIcon in ChromeCustomTabs"
**Actual Behaviour**

We got a button with Cross-Icon on Top-Left screen of each and every ChromeCustomTab in SponsorFragment which comes in default.

![ezgif com-video-to-gif 1](https://cloud.githubusercontent.com/assets/11586392/23079257/298f73ba-f572-11e6-8eac-5a571233bb30.gif)

**Expected Behaviour**

Cross Icon

 should be replaced with Back-Icon because of following reasons:

1.) It makes mo

[2017-02-17 23:34] free4murad opened #1123 "Toolbar remain hidden even when scrolling down the list."
**Actual Behaviour**

In the following fragments
1. Schedule
2. Bookmarks
3. Speakers
4. Sponsors
5. Locations

if the user scrolls down the toolbar disappears. But to make the toolbar appear the user has to scroll all the way up.

**Expected Behaviour**

The toolbar should reappear at the slightest scroll up action.  just like in WhatsApp.

**Steps to reproduce it**

1. Open any of the above ment

[2017-02-18 11:07] rohanagarwal94 opened #1124 "Arrange sponsors in decreasing order of sponsorship badge"
**Actual Behaviour**

The sponsors are arranged randomly.

**Expected Behaviour**

Sponsors should be arranged in decreasing order of sponsorship badge

**Screenshots of the issue**

![screenshot_2017-02-18-16-19-04-725_org fossasia openevent](https://cloud.githubusercontent.com/assets/13241256/23092789/73ae1d58-f5f8-11e6-8e7f-61f50b77708f.png)

**Would you like to work on the issue?**

Yes, I wou

[2017-02-18 16:41] free4murad commented on #1102
@the-dagger
Should i close this issue?

[2017-02-18 16:41] free4murad commented on #1105
@the-dagger
Should I close this issue.

[2017-02-18 16:44] #1101 closed

[2017-02-18 16:46] #1102 closed

[2017-02-18 16:54] the-dagger commented on #1108
Sure, please do it 👍

[2017-02-18 16:54] the-dagger commented on #1119
Ok, please do it 👍

[2017-02-18 16:54] the-dagger commented on #1109
Sure, please go ahead 👍

[2017-02-18 16:55] #1071 closed

[2017-02-18 16:55] #1076 closed

[2017-02-18 16:55] #1087 closed

[2017-02-18 16:55] #1105 closed

[2017-02-18 16:55] #1110 closed

[2017-02-18 16:55] #1111 closed

[2017-02-18 16:55] #1114 closed

[2017-02-18 18:02] free4murad opened #1126 "Sorting session and tracks."
**Actual Behaviour**

The session are being displayed in an unsorted order.

**Expected Behaviour**

The session list  must be sorted on the basis of session date and time.

**Screenshots of the issue**
![screenshot_20170218-231936](https://cloud.githubusercontent.com/assets/17262180/23095538/6f07dcb0-f631-11e6-895f-5e73416102de.png)

@the-dagger @mananwason @mariobehling
Should I send a PR?

[2017-02-18 18:14] free4murad commented on #1126
@the-dagger we should also sort the tracks.
What do you think?

[2017-02-18 18:17] iamareebjamal commented on #1119
As the subsequent code will depend on the result of merge of #1118 will send a PR as soon as it merges.
Thanks :smile:

[2017-02-18 19:07] the-dagger commented on #1112
@mananwason  Could you help @brainbreaker with this issue?

[2017-02-19 10:37] the-dagger commented on #1122
Sure, go ahead.
Be sure to use xml drawable instead of png though.

[2017-02-19 10:39] #1108 closed

[2017-02-19 11:47] doomers commented on #1122
Sure, I will use XML drawable

[2017-02-19 12:03] divs4debu opened #1128 "Standardize SessionDetailActivity according to design guidlelines"
**Actual Behaviour**
![photo6145409412832012214](https://cloud.githubusercontent.com/assets/9443348/23102102/d2810252-f6c8-11e6-8807-193847d96069.jpg)

**Expected Behaviour**

![photo6145409412832012220](https://cloud.githubusercontent.com/assets/9443348/23102109/051ad3b4-f6c9-11e6-8974-32d1e73667b7.jpg)

or
![photo6145409412832012221](https://cloud.githubusercontent.com/assets/9443348/23102125/52

[2017-02-19 12:38] divs4debu opened #1129 "Fix HeaderView"
**Actual Behaviour**
![photo6145409412832012213](https://cloud.githubusercontent.com/assets/9443348/23102272/81d11eba-f6cc-11e6-95ba-d5629bf6f6dc.jpg)

On opening the app and when it finishes download the fossasia icon in header disappears.

**Expected Behaviour**
![photo6145409412832012218](https://cloud.githubusercontent.com/assets/9443348/23102347/9c163246-f6cd-11e6-8fc8-c6055d1d7cd6.jpg)

if l

[2017-02-19 12:54] harshitagupta30 commented on #1129
Hi @divs4debu! the logo is being fetched by the server so if there is slow connection it will not show anything. I suppose you can close this issue! :) :+1:

[2017-02-19 13:00] harshitagupta30 commented on #1128
@divs4debu Issue #1127 refers to the changing the toolbar title to Session's name is already and PR has already been submitted for that. You can work on changing the position of fab :+1:

[2017-02-19 13:07] divs4debu commented on #1129
how much time it will take to load the image????i have opened app for 3 minutes it has'nt appeared still.Also i tried for a null check if(headerDrawer.getDrawable() == null) it gives me true result. Please help me out here.

[2017-02-19 13:09] harshitagupta30 commented on #1129
Please refer #908

[2017-02-19 13:09] divs4debu commented on #1128
which would be the best position bottom or the right one?

[2017-02-19 13:11] harshitagupta30 commented on #1128
Right one looks good to me! :)

[2017-02-19 13:18] #1129 closed

[2017-02-19 14:33] divs4debu opened #1130 "SessionDetailActivity text not aligned correctly."
**Actual Behaviour**

![photo6145409412832012214 1](https://cloud.githubusercontent.com/assets/9443348/23103262/9581b534-f6de-11e6-91d9-100591c4a2f6.jpg)

**Expected Behaviour**

![photo6145409412832012227](https://cloud.githubusercontent.com/assets/9443348/23103251/335d5534-f6de-11e6-803d-c0ff5442123e.jpg)

The alignment of the text is not correct this can be corrected by using grid layout and ma

[2017-02-19 14:59] heysadboy opened #1131 "Invisible text in speaker's activity"
There are certain images of speakers with light background, the text is not visible on the that in the layout

Presently:

![screenshot_2017-02-19-19-40-48](https://cloud.githubusercontent.com/assets/22588035/23103482/e0d9c88e-f6e1-11e6-900c-687de0ac4bad.png)

Adding a gradient effect to make it more visible

![screenshot_2017-02-19-20-19-45](https://cloud.githubusercontent.com/assets/22588035/231

[2017-02-19 15:02] the-dagger commented on #1131
Looks good :+1:​
Can you add a screenshot of speaker with dark background too?
Just wanted to make sure that it goes fine with it.

[2017-02-19 15:36] heysadboy commented on #1131
@the-dagger I added with dark background, looks neutral.

[2017-02-19 15:53] the-dagger commented on #1131
​Cool.
Please send a PR for it.

[2017-02-19 15:59] heysadboy commented on #1131
Thanks, made the PR https://github.com/fossasia/open-event-android/pull/1132

[2017-02-19 18:22] doomers commented on #1122
@the-dagger Searched a lot, Came to now that SVGs cannot in ChromeCustomTab, Moreover it has to follow a certain dimension as stated in the Documentation

https://developer.android.com/reference/android/support/customtabs/CustomTabsIntent.html#KEY_ICON

But we have to use only 1 Image of  BackArrow, it will work fine for all Screens
So have to add a single BackArrow PNG in order to change ChromeCu

[2017-02-19 19:58] utkarshnath commented on #1116
@the-dagger @mananwason @mariobehling can I send a PR for this?

[2017-02-19 19:59] utkarshnath commented on #1115
@the-dagger @mananwason @mariobehling can I send a PR for this?

[2017-02-20 07:45] the-dagger commented on #1128
Second one is good imo. 👍
With the fab placed on top right.

[2017-02-20 07:45] #1128 closed

[2017-02-20 07:47] the-dagger commented on #1130
Looks ok, but the top and bottom margin is way too large.
Can you reduce it a bit?

[2017-02-20 14:47] divs4debu commented on #1130
Yes i can reduce it .Thanks for your support

[2017-02-20 14:51] #1095 closed

[2017-02-20 14:52] #1123 closed

[2017-02-20 15:18] #1126 closed

[2017-02-20 15:33] utkarshnath commented on #1116
@the-dagger and what do you think about track name in track specific session list, shouldn't it be removed here

[2017-02-20 15:34] #1119 closed

[2017-02-20 16:10] arp95 opened #1142 "Removal of some warnings on running Android Lint"
Just ran Android lint and came up with some warnings. Removing some of them which seem important to me.

![16833103_10210542979605205_1400477992_o](https://cloud.githubusercontent.com/assets/8268392/23132912/31e0234e-f7b5-11e6-821c-2133dfdbd00b.jpg)

[2017-02-20 16:24] the-dagger commented on #1116
@utkarshnath seems like too much overhead imo.
Instead what you can do is display the speaker's name in the card.

Mapping speakers with sessions is still a work in progress.
You can probably help @brainbreaker with it in #1112

[2017-02-20 16:24] #1122 closed

[2017-02-20 16:25] #1117 closed

[2017-02-20 20:57] rohanagarwal94 commented on #688
@the-dagger this has been implemented.

[2017-02-20 21:40] rohanagarwal94 opened #1146 "Redundancy in track description in Tracks Fragment"
**Actual Behaviour**

The title and subtitle are same in Tracks Activity

**Expected Behaviour**

The tracks description from the adapter should be removed

**Screenshots of the issue**

![screenshot_2017-02-21-02-58-46-053_org fossasia openevent](https://cloud.githubusercontent.com/assets/13241256/23142670/2d202574-f7e3-11e6-9721-6e8cc8fde0e9.png)

**Would you like to work on the issue?**

Yes, I

[2017-02-20 21:42] the-dagger commented on #1146
Don't remove it, rather set the track short description over there.
That's what should've been there in the first place imo.

On Tuesday, February 21, 2017, Rohan Agarwal <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2017-02-20 21:42] #688 closed

[2017-02-20 22:21] rohanagarwal94 commented on #1146
@the-dagger on it.

[2017-02-20 22:24] free4murad commented on #1146
@rohanagarwal94 @the-dagger
In the `tracks` json files the description and name of the track are the same.

[2017-02-20 22:33] free4murad commented on #1146
`holder.trackTitle.setText(currentTrack.getName());`
`holder.trackDescription.setText(currentTrack.getDescription());`

Both the textviews are showing the correct data (data in the file).

[2017-02-21 03:41] divs4debu commented on #1112
The logs of sessions are generated in [org.fossasia.openevent.api.processor.SessionListResponseProcessor](https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/java/org/fossasia/openevent/api/processor/SessionListResponseProcessor.java)

![Code](https://s1.postimg.org/5c52ye79r/Kazam_screenshot_00022.png)

The session id and stored id are mapped and stored in another

[2017-02-21 05:31] SparshBansal commented on #1112
@the-dagger I think i can be helpful in solving this bug. Can I?

[2017-02-21 06:33] the-dagger commented on #1112
Sure, please coordinate together to find a solution. :+1:

[2017-02-21 06:56] arp95 commented on #1146
@the-dagger instead of showing the track description what can be done is show the tracks start date and end date. I think that will be more appropriate.

[2017-02-21 07:07] free4murad commented on #1146
Why do we need to change the track description?
I think it's fine.
When the organisers will generate the app it's there responsibility to enter a meaningful track description.

[2017-02-21 07:11] arp95 commented on #1146
I was talking about now.
Yeah you are right at that point its there duty to enter something meaningful which makes sense as a tracks description.

[2017-02-22 00:13] free4murad opened #1147 "Tracks with no session are being displayed."
**Actual Behaviour**

Tracks which have no session are being shown in the TracksFragment.
e.g. Social  Events has no sessions but is being shown in the Track list.

**Expected Behaviour**

If there are no sessions for a track we need not show it in the Track list.

@the-dagger
Should I send a PR.

[2017-02-22 02:55] free4murad opened #1148 "Removing unused resources, compressing PNG and using vectors."
Certain files are not being used but included in the APK. These include
1. fill_circle.png
2. track_circle.xml (These are needed to be removed.)

Also `ic_noti_bookmark.png` was can be converted to vector drawable.

Two PNG files can be reduced using PNGCrusher or tinyPNG as recommended by google. These are
1. widget_preview.png
2. splash_logo.png

@the-dagger
Should I send a PR for this?

[2017-02-22 04:24] mariobehling opened #1149 "Test Generator and App with FOSSASIA Summit 2017 API"
API of the 2017 summit is: https://eventyay.com/api/v1/events/6?include=sessions,microlocations,tracks,speakers,sponsors

Please test the app with this link and ensure all areas are working as expected.

Cheers.

[2017-02-22 04:57] mariobehling commented on #1149
Currently it is not building and does not come up with an error message.

![screenshot from 2017-02-22 12-56-34](https://cloud.githubusercontent.com/assets/1583873/23197885/5e6885e2-f8fe-11e6-9754-fafb7c898839.png)

[2017-02-22 05:22] the-dagger commented on #1149
Thanks for the heads up,
Will check and see what's causing this.
@niranjan94 can I get the access to backend server so that I can see the error and access logs?

[2017-02-22 05:42] niranjan94 commented on #1149
@mariobehling there was no error. The app build ran successfully with endpoint `https://eventyay.com/api/v1/events/6` (the additional `include` flags are not required for app generator).

Apk can be downloaded here.
[75e3ed3c-83eb-44f1-841e-390d7fd03d26.apk.zip](https://github.com/fossasia/open-event-android/files/792326/75e3ed3c-83eb-44f1-841e-390d7fd03d26.apk.zip)

@the-dagger I think you alread

[2017-02-22 06:21] harshitagupta30 commented on #1149
@mariobehling @the-dagger Just a suggestion, I tried to test the app with the new API is giving the correct response but the current code is written in consideration with this API `https://raw.githubusercontent.com/fossasia/open-event/master/sample/FOSSASIA16/` response which needs to be changed according to current API to display the desired responses. Simply changing the end points will not give

[2017-02-22 06:23] niranjan94 commented on #1149
@harshitagupta30 afaik, the response format of the samples are in line with the API response from the server.

[2017-02-22 06:52] harshitagupta30 commented on #1149
@niranjan94 What I meant to say is that earlier we were getting the direct list of tracks or any other fields directly in form of a JSON array but according to new API we are getting a JSON array of event object in which we have multiple elements including details of the event and one of the element is the list of the track or speakers etc. So I guess we need to change the response class to get th

[2017-02-22 06:58] niranjan94 commented on #1149
@harshitagupta30 no. It's not like that. You still get how you used to get ... see
- https://eventyay.com/api/v1/events/6/sessions
- https://eventyay.com/api/v1/events/6/tracks
- https://eventyay.com/api/v1/events/6/speakers

[2017-02-22 06:58] niranjan94 commented on #1149
Along with that we also introduced a new endpoint which gives everything together

https://eventyay.com/api/v1/events/6?include=sessions,microlocations,tracks,speakers,sponsors

But this is **not** a replacement to the previous endpoints. So, the previous way still exists and will continue to exisit

[2017-02-22 07:32] free4murad commented on #1149
@niranjan94
i tried installing the app, it says the apk is corrupt.

[2017-02-22 09:00] harshitagupta30 commented on #1149
@niranjan94 I was using this `https://eventyay.com/api/v1/events/6?include=sessions` instead. Sorry! my bad. It's working fine and getting the desired outputs :+1:

[2017-02-22 09:06] jodiwaljay opened #1150 ""Network not available" Dialog created twice"
**Actual Behaviour**
 "Network not available" dialog appears twice.

**Expected Behaviour**
The dialog should appear only once.

**Steps to reproduce it**
You open the app as usual, with internet. Let it download the latest schedule. Now turn off the internet and you will see a "Network not available" dialog. If you dispose it, there will be another one.
Attached is screen recorded issue.
[Screen

[2017-02-22 09:11] the-dagger commented on #1147
Sure, sounds good.
Just make sure that the recyclerView is getting updated properly in case of new addition/deletion of sessions while the data is refreshed on the app.

[2017-02-22 12:22] harshitagupta30 commented on #1150
Hi, @jodiwaljay! Thanks, for reporting but I couldn't reproduce the bug. You can see the screenshot of the log.

![screenshot from 2017-02-22 17 45 38](https://cloud.githubusercontent.com/assets/12701036/23211249/2a6f3b90-f927-11e6-9443-e0c24d47360d.png)

@the-dagger @free4murad Can you guys also check and verify it? :+1:

[2017-02-22 13:19] jodiwaljay commented on #1150
Hello @harshitagupta30 ! While opening the app, was it connected to the internet. Also can you please check it for API 22.

[2017-02-22 16:52] free4murad commented on #1147
@the-dagger Sure.

[2017-02-23 08:20] amitiwary999 opened #1152 "Link in the speaker detail activity is not clickable"
**Actual Behaviour**
Link in the speaker detail activity is not clickable

**Expected Behaviour**
Link should be clickable

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**LogCat for the issue**

Provide logs for the crash here

**Screenshots of the issue**
![screenshot_2017

[2017-02-23 09:15] harshitagupta30 commented on #1152
@amitiwary999 Can you specify the link which you are talking about?

[2017-02-23 09:43] #1147 closed

[2017-02-23 12:09] brainbreaker commented on #1112
@divs4debu Thanks for your input. I have solved the bug and initiated a PR for the same. You are also welcome to review it. :)

Now, we use only one field `id` in Session class and table which matches the incoming Session IDs in JSON. The unique constraint in maintained. I have removed the ServerSessionIDMapping class and table because it was making things a bit complex and redundant.
@the-dagger

[2017-02-23 12:14] arp95 opened #1154 "Updating README.md"
The screenshots seem old. Can i upload the latest ones?

@the-dagger please review.

[2017-02-23 18:02] harshitagupta30 opened #1155 "Improvement in the UI of Schedule List Screen"
**Actual Behaviour**
Currently, the schedule list looks something like this.
![screenshot from 2017-02-23 23 28 58](https://cloud.githubusercontent.com/assets/12701036/23272085/eaaacee4-fa1f-11e6-8cc2-ca0acef1c93e.png)

**Expected Behaviour**
Sort the list according to time and adding more details to the field.

![screenshot from 2017-02-23 23 18 05](https://cloud.githubusercontent.com/assets/1270

[2017-02-24 05:12] brainbreaker opened #1156 "Update the code to remove 'creator' field from event JSON"
Pull Request <a href = "https://github.com/fossasia/open-event/pull/130">#130</a> in the open-event project has removed `creator` field from `event` JSON. This issue is to update the app code for the same.

[2017-02-24 07:02] utkarshnath commented on #1116
@the-dagger what should I do if there are more than 1 speakers

[2017-02-24 07:03] jodiwaljay commented on #1150
@harshitagupta30 @the-dagger I tested on emulator for API 22 and 23. I found out that issue does not persists for API 23, but exists for API 22. So perhaps the problem was in one of the android library which is rectified in future versions. Tell me if I should close the issue or not. Also thanks to @harshitagupta30 for notifying about it.

[2017-02-24 08:32] harshitagupta30 commented on #1156
Hi, @brainbreaker! `creator` field is not used anywhere in the code which means there is nothing to update. If I am wrong can you please point the file where it's been used? :+1:

[2017-02-24 09:27] brainbreaker commented on #1156
Yes @harshitagupta30, I'm aware of that. :) We just have to change the `event` JSON in assets. It is considered as a good practice if any update in the repository is made by making an issue regarding the same. If you want, you can go ahead and send a PR updating the event JSON file. :)
Thanks.

[2017-02-24 09:52] harshitagupta30 commented on #1156
@brainbreaker Thanks for letting know! :) I forgot about the JSON files in assets. :)

[2017-02-24 13:30] amitiwary999 commented on #1152
@harshitagupta30 updated the issue comment.

[2017-02-25 09:57] #1112 closed

[2017-02-25 09:58] #1131 closed

[2017-02-25 10:00] #1154 closed

[2017-02-25 10:02] the-dagger commented on #1130
@divs4debu any update on this?

[2017-02-25 10:08] the-dagger commented on #1116
If that's the case then we can display both of the speakers separated by a comma.

[2017-02-25 10:17] the-dagger commented on #1115
IIRC, this is normal a this is being populated via the location JSON.

[2017-02-25 10:17] #1115 closed

[2017-02-25 10:20] #1142 closed

[2017-02-25 10:22] the-dagger commented on #1150
@jodiwaljay I think that we can close this issue as of now.
Since this is not only fixed in the latest version but this isn't a deal breaker anyways even on lower APIs.

Thanks for opening this, appreciate it 🙂

[2017-02-25 10:22] #1150 closed

[2017-02-25 10:23] the-dagger commented on #1155
Looks better. 👍

Also I'd suggest changing the overall background of the app to white from gray which looks a bit dull imo.

[2017-02-25 10:23] the-dagger commented on #1152
@amitiwary999 Sure, go ahead,

[2017-02-25 10:24] the-dagger commented on #1148
Ok, sure. 👍

[2017-02-25 10:24] #1146 closed

[2017-02-25 10:24] the-dagger commented on #1124
Ok, sure.
Please send a pull request 👍

[2017-02-25 10:27] #1107 closed

[2017-02-25 10:34] the-dagger commented on #1096
Agreed, not a good idea to use constrainLayout for now.

[2017-02-25 10:34] #1096 closed

[2017-02-25 10:35] the-dagger commented on #1096
We can probably follow up on this later on.

[2017-02-25 10:35] the-dagger commented on #1089
@saeedjassani any progress?

[2017-02-25 10:37] the-dagger commented on #1083
Not really necessary.
We normally make such updates in build system once few months, as that requires changing config in Travis too!

[2017-02-25 10:37] #1083 closed

[2017-02-25 10:38] #1054 closed

[2017-02-25 10:38] #1109 closed

[2017-02-25 11:28] amitiwary999 commented on #1081
@the-dagger can i work on this issue.

[2017-02-25 11:36] amitiwary999 commented on #1130
@the-dagger I would like to work on this.

[2017-02-25 12:12] divs4debu commented on #1130
Yes its almost done... Sorry I was. Little distracted due to some.family issue i. Will send it's pr by today... Really sorry

[2017-02-25 12:23] the-dagger commented on #1130
No problem. :+1:

On Saturday, February 25, 2017, Divya Prakash Varshney <
notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2017-02-25 12:23] the-dagger commented on #1081
Ok

On Saturday, February 25, 2017, Amit Tiwary <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2017-02-25 13:01] harshitagupta30 commented on #1081
@the-dagger @amitiwary999, @TejasBhitle has already submitted the PR and there is some merge conflict which as soon as he resolves can be merged! In my opinion, will it be wiser to do the same work again?

[2017-02-25 13:02] harshitagupta30 commented on #1156
@the-dagger Do we need to update the JSON file of event?

[2017-02-25 13:24] arp95 opened #1159 "modifying strings.xml"
**Actual Behaviour**

There are certain fields in strings.xml which have to be marked non-translatable

**Expected Behaviour**

using "translatable=false" i will mark all necessary fields to false.

**Steps to reproduce it**

Adding the above piece of code to strings.xml should suffice.

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes

[2017-02-25 14:06] free4murad opened #1162 "Use of BackIcon instead of CrossIcon in ChromeCustomTabs."
**Actual Behaviour**

#1135 is not lsolving issue this issue (same as #1122) for all cases. e.g. when open links for about us dialog box.

**Expected Behaviour**

Instead of Cross icon back icon should be used.

@the-dagger Should I send a PR for this?

[2017-02-25 14:08] arp95 commented on #1081
i think so the pr for this issue have been submittted. @harshitagupta30  there is no point to do the same work again.

[2017-02-25 14:23] harshitagupta30 commented on #1081
@arp95 I suppose I am also saying the same thing! :+1:

[2017-02-25 14:30] the-dagger commented on #1162
Ok, sure.

[2017-02-25 14:33] #1159 closed

[2017-02-25 14:33] #1152 closed

[2017-02-25 14:41] divs4debu commented on #1130
### **# Pic 1 :**
![photo6165492907541374889](https://cloud.githubusercontent.com/assets/9443348/23331970/50a90de2-fb96-11e6-88ef-f6bb6b96f268.jpg)

**### Pic 2:**

![photo6165492907541374890](https://cloud.githubusercontent.com/assets/9443348/23331972/50aa36b8-fb96-11e6-9e0b-a520818ec440.jpg)

**### Pic 3:**
![photo6165492907541374891](https://cloud.githubusercontent.com/assets/9443348/23331971/5

[2017-02-25 15:29] jodiwaljay opened #1163 "Bug in Recycler View (scroll position)"
**Actual Behaviour**

When Session list of a any Location is opened and a session is opened and closed, the scroll position changes

**Expected Behaviour**

After resuming of the LocationActivity, scroll position should not change

**Steps to reproduce it**

Open Locations from Navigation Drawer, select any location, say 5th EcoGarden Lab. Open any session in EcoGarden lab. When you close it, the

[2017-02-25 15:37] the-dagger commented on #1163
Ok sure, go ahead.

[2017-02-25 17:18] free4murad opened #1167 "Issue with Map."
**Actual Behaviour**

Map is showing nothing for googlePlay flavor of the app.

**Expected Behaviour**

Map should show the location of the venue.

**LogCat for the issue**

![screen shot 2017-02-25 at 10 42 26 pm](https://cloud.githubusercontent.com/assets/17262180/23333103/c2dc7556-fbab-11e6-89fd-25f50e295ff5.png)

**Would you like to work on the issue?**

Yes,
We need to update the Maps API key

[2017-02-25 17:46] rohanagarwal94 commented on #1167
@murad I opened the same issue a few days back. It was working fine according to them. See #833 .

[2017-02-26 05:13] #1148 closed

[2017-02-26 05:13] #1163 closed

[2017-02-26 05:22] free4murad opened #1168 "Schedule not being downloaded on data connections."
**Actual Behaviour**

When the user is on a data connection and tries to update the data a dialog box appears saying "Data charges may apply."
Even if the user clicks yes the seclude is not downloaded.

**Expected Behaviour**

If the user confirms the Data charges the data should be downloaded.

**Would you like to work on the issue?**

@the-dagger
Should I send a PR.

[2017-02-26 05:51] the-dagger commented on #1168
Sure, thing.
You can feel free to send PR for bugs without asking for it first.
You only need confirmation if you are implementing a new feature

[2017-02-26 05:52] harshitagupta30 commented on #1168
@free4murad The data is getting downloaded but not displayed for fraction of time after which it gets displayed. You can verify in logcat! :+1:

[2017-02-26 06:01] harshitagupta30 opened #1169 "App getting crashed on slow internet."
**Actual Behaviour**

When the event details are in the process of getting fetched, the sync method in Main Activity called then it returns null event which causes a crash.

![screenshot from 2017-02-26 11 09 29](https://cloud.githubusercontent.com/assets/12701036/23337519/dc2adf14-fc16-11e6-98f7-e0d631b74a7a.png)

**Expected Behaviour**
It should not crash. We need to check the event is null or n

[2017-02-26 06:24] #1169 closed

[2017-02-26 06:24] #1155 closed

[2017-02-26 06:29] harshitagupta30 opened #1171 "Adding commit style guidelines (suggestion)."
**Actual Behaviour**

Currently, there are no guidelines on how to write a good commit message.

**Expected Behaviour**

In Readme, we can specify about how to write a commit message.
For example,  we can divide commit message into 3 parts:
- type: subject
- body
- footer

In type we can specify a commit to be one of these types:
- feat: a new feature
- fix: a bug fix
- docs: changes to documentat

[2017-02-26 06:36] the-dagger commented on #1171
Makes sense :+1:

On Sunday, February 26, 2017, Harshita Gupta <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2017-02-26 06:38] brainbreaker commented on #1171
@harshitagupta30 Nice suggestion. I'd suggest every contributor to go through this as well: https://chris.beams.io/posts/git-commit/.

[2017-02-26 07:15] harshitagupta30 commented on #1171
@brainbreaker That's a good article!
@the-dagger Do we need to create a new file or add in existing `Code Style Guidelines for Open-Event-Android` file?

[2017-02-26 07:19] harshitagupta30 commented on #1130
I guess first one looks good! also try to maintain the current margin which is 8dp. :+1:

[2017-02-26 07:41] free4murad commented on #1130
I think the first one looks good.

[2017-02-26 07:47] divs4debu commented on #1130
@harshitagupta30  @free4murad  Yes i will look at your points and i need a suggestion should i increase bottom and top margin , the text looks much close together or the way it is now is better?

[2017-02-26 07:50] harshitagupta30 commented on #1130
You may increase margin may be 4dp.

[2017-02-26 07:50] free4murad commented on #1130
@divs4debu
I think the margins are fine, no need to change.
Lets see what others say.

[2017-02-26 10:24] mariobehling opened #1172 "Generate the sample app from new FOSSASIA Summit API link"
The current sample app is using the JSON of the previous FOSSASIA event. Please generate the app using the current FOSSASIA Summit API link: https://eventyay.com/api/v1/events/6

[2017-02-26 12:11] brainbreaker commented on #1172
@mariobehling Will update the JSON assets asap. Thanks for notifying.

[2017-02-26 12:30] TejasBhitle commented on #1081
@the-dagger Merge conflict has been resolved in the PR #1098

[2017-02-26 12:51] jodiwaljay opened #1173 "Animation stutter in Navigation Drawer"
**Actual Behaviour**

While closing the drawer, it experiences a stutter in the animation. You may have felt it while opening schedule or tracks activity.

**Expected Behaviour**

The animation should be smooth

**Steps to reproduce it**

Try to open an activity from navigation drawer which is expensive in number of operations like "Tracks" or "Schedule". You will feel abruptness in animation of N

[2017-02-26 12:57] harshitagupta30 commented on #1172
@the-dagger Can I update the API endpoints and integrate the app with the new API link?

[2017-02-26 14:13] jodiwaljay opened #1174 "UI bug: Navigation Drawer (Bookmarks)"
**Actual Behaviour**
Bookmarks item in navigation drawer remains clicked if you try to open it and there are no bookmarks

**Expected Behaviour**
It should show the activity as clicked which the user is currently inside.

**Steps to reproduce it**
Make sure you have no bookmarks. Open Navigation drawer and click on Bookmarks. It will show the error dialog of "No Bookmarks Available". After disposi

[2017-02-26 14:24] the-dagger commented on #1172
@brainbreaker @harshitagupta30 You can go ahead and try to see if the new JSON assets and API work properly on your fork.

I have my exam tomorrow, so will try to get to this by tonight.

[2017-02-27 02:20] saeedjassani commented on #1089
@the-dagger I had sent a pull request before.. but now due to changes in the project it is showing

[2017-02-27 18:27] harshitagupta30 opened #1176 "App crashing when on data connection."
**Actual Behaviour**

![screenshot_20170227-234553](https://cloud.githubusercontent.com/assets/12701036/23373912/10a514bc-fd48-11e6-9133-1e6426c28a37.jpg)

When the snackbar appears, if instead of clicking yes we click on any track then app getting crashed.

![screenshot from 2017-02-27 23 44 55](https://cloud.githubusercontent.com/assets/12701036/23373952/2edfb1b2-fd48-11e6-8158-aef0089355a2.png)

[2017-02-27 18:59] arp95 commented on #1176
@harshitagupta30
didnt get any error as such. would be better if you elaborate.

[2017-02-27 19:04] harshitagupta30 commented on #1176
@arp95 If instead of following the regular process i.e. clicking on yes, you click on any track or in any other fragment then the app is getting crashed because the cursor is returning zero value which you can see from the log. If we can add check on cursor if it's null or not it's not crashing. Shall I add screen recording as well?

[2017-02-27 19:09] arp95 commented on #1176
@harshitagupta30
actually i am not getting this snackbar even on data connection. anyways got what you are referring to.

[2017-02-27 19:15] harshitagupta30 commented on #1176
As mentioned in line `212:41` in `MainActivity.java` if you're not connected to wi-fi then a snackbar will pop out! :+1:

[2017-02-27 19:44] amitiwary999 commented on #1176
@harshitagupta30  I am not getting any such error. Can you explain it.

[2017-02-27 20:12] jodiwaljay commented on #1176
@harshitagupta30 I have also faced similar issue and this issue needs. @amitiwary999 If you'll try to open any track before the app updates the schedule, a null pointer exception is created, since the database containing list of tracks is not updated and is empty. Maybe try once more and make sure you are on Data connection

[2017-02-28 01:29] gadabout-geek commented on #363
can this be done using FireBase?

[2017-02-28 05:29] brainbreaker commented on #363
@Dipendra, I don't think firebase is the way to go here. All our data comes
from the JSON fetched from open-event server. It is not gonna be useful
unless we host our JSON database on firebase as well. The server has to
have the API to support G+/FB authentication.

On Tue, Feb 28, 2017 at 6:59 AM, Dipendra Singh <notifications@github.com>
wrote:

[2017-02-28 05:48] jodiwaljay commented on #1174
@the-dagger Should I send a PR for this ?

[2017-02-28 05:51] free4murad commented on #1174
@jodiwaljay
If your PR is solving a bug you need not wait for the approval.
If your PR is adding a new feature then you need for the maintainers approval.

[2017-02-28 05:53] championswimmer commented on #1174
Agree to what Murad says. Go forward and fix it and send PR

On Tue, Feb 28, 2017, 11:21 Murad <notifications@github.com> wrote:

[2017-02-28 06:06] jodiwaljay commented on #1174
Thanks @championswimmer @free4murad Will remember that. Sent PR for this.

[2017-02-28 09:56] amitiwary999 opened #1179 "UI bug: Session detail activity"
**Actual Behaviour**

Title is overlapping with toolbar icons

**Expected Behaviour**

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**LogCat for the issue**

Provide logs for the crash here

**Screenshots of the issue**

![screenshot_2017-02-28-13-22-07](https://cloud.githu

[2017-02-28 10:07] harshitagupta30 commented on #1179
@amitiwary999 go ahead and in case of bugs, you can send the PR directly without waiting for maintainer's approval. :+1:

[2017-02-28 13:00] brainbreaker commented on #1172
@the-dagger @mariobehling @harshitagupta30 @everyone contributing to the project. The application has been updated with new API endpoints. Please review #1175 rigorously.

Thanks!

[2017-02-28 13:01] the-dagger commented on #1172
Thanks @brainbreaker 👍

[2017-02-28 13:18] arp95 opened #1182 "Duplicate items in LocationFragment"
**Actual Behaviour**

Currently in the location fragment there are multiple same items as seen below:

![17093070_10210603153109505_463654817_o](https://cloud.githubusercontent.com/assets/8268392/23406713/6622eab0-fde6-11e6-9bce-6704b937f5a0.png)

**Expected Behaviour**

Removing same items from the list.

**Steps to reproduce it**

I think this is a server issue as the locations are fetched from

[2017-02-28 13:28] the-dagger commented on #1182
Hey @arp95
This is not an issue in the app, but the way json is populated.
If you update the json, this issue will get fixed automatically.
Also, there is a PR which will update the json files so this should be fixed automatically.

[2017-02-28 13:28] #1182 closed

[2017-02-28 13:53] arp95 commented on #1182
@the-dagger so can i work on updating the json files on the same pr?

[2017-02-28 14:14] the-dagger commented on #1182
No need, in my opinion.
This is not really a bug.
The json files were there just for testing and it's ok if they are not
perfect. :slight_smile:

On Tuesday, February 28, 2017, Arpit Aggarwal <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2017-02-28 14:17] arp95 commented on #1182
@the-dagger
Just a little confused. So where will we fetch the data in the end? It has to be the json files of the api created by the server or something else i am missing?

[2017-02-28 15:10] #1172 closed

[2017-02-28 15:52] arp95 opened #1183 "Adding sort icon in LocationsActivity"
**Actual Behaviour**

Currently the locationsActivity shows the tracks in a particular location without givng the user to sort it on the basis of tracks and start time.

**Expected Behaviour**

Adding a sort icon to enable sorting on the basis of start time and tracks.

**Steps to reproduce it**

Adding a sort icon in the menu.xml of locations activity and then enabling sorting for the user.

**Lo

[2017-02-28 16:29] the-dagger opened #1185 "Correctly parse HTML in the Speaker Detail Activity"
**Actual Behaviour**
![screenshot_20170228-215428](https://cloud.githubusercontent.com/assets/6565270/23414043/9f7200e8-fe00-11e6-9bb3-ea762fb52dae.png)

**Expected Behaviour**

Description of the talk should be formatted properly

[2017-02-28 16:31] #1130 closed

[2017-02-28 16:33] harshitagupta30 commented on #1185
@the-dagger can I send the PR? :)

[2017-02-28 16:35] the-dagger commented on #1185
Cool, go ahead. :+1:

[2017-02-28 16:41] harshitagupta30 commented on #1171
@the-dagger Can you please tell where to add these guidelines?

[2017-02-28 16:43] the-dagger commented on #1171
Add it to the existing readme.​
That would be a good idea imo.

[2017-02-28 17:51] harshitagupta30 commented on #1183
@arp95 In my opinion, it is not required! You can see that the session list is already sorted on the basis of time and tracks(alphabetically) then why to add an extra overhead? ;)

@the-dagger What's your opinion?

[2017-02-28 17:54] arp95 commented on #1183
@harshitagupta30
actually have a look at the schedule fragment. It also have a sort option based on time and tracks. We can use a similar approach in this. Plus the tracks arent sorted before hand. Its initially sorted by start time only .

[2017-02-28 18:07] Rishabhk07 opened #1187 "UI Bug: on back pressed in map opens last fragment/activity instead of session activity"
**Actual Behaviour**

1. when we go from speaker activity to session activity and open the map then on back button  pressed speakers activity opens up instead of session activity.

2.  same happens when we go from schedule fragment to session activity and open map then on back pressed schedule fragment opens up instead of sessions activity.

**Expected Behaviour**

1. on back pressed session activ

[2017-02-28 18:22] harshitagupta30 commented on #1187
@Rishabhk07 go ahead! :+1:

[2017-02-28 18:31] Rishabhk07 commented on #1187
Thanks @harshitagupta30 will send the PR soon

[2017-02-28 18:56] arp95 opened #1188 "Adding start/end attributes"
**Actual Behaviour**

In some layout files for left/right attributes their equivalent start/end are missing.

**Expected Behaviour**

Adding start/end ones for each left/end present in the xml file

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

[2017-03-01 05:57] brainbreaker opened #1192 "Problems in loading of Tracks Fragment"
On fresh install, app shows a dialogue box to update to latest schedule. When clicking yes immediately, it does download all the JSON and populate the tables but the tracks activity doesn't loads by itself after dismissal of dialogue. If clicked No, the app hangs, it is not able to fetch data from JSON assets.

App works fine on first install when we have a good internet connection. It automatical

[2017-03-01 05:59] harshitagupta30 commented on #1192
I also faced this issue multiple times! :+1:

[2017-03-01 10:46] harshitagupta30 opened #1193 "Problem in loading speaker's biography"
**Actual Behaviour**
In new JSON. for almost all speakers the `long_biography` variable is null due to which it doesn't show any detail about speakers.

![screenshot_20170301-160544](https://cloud.githubusercontent.com/assets/12701036/23456602/12c5d210-fe9a-11e6-8de8-59a83f38d1ce.jpg)

**Expected Behaviour**
Changing `long_biography` to `short_biography` to display speaker's details.

![screenshot

[2017-03-01 11:21] #1193 closed

[2017-03-01 11:22] #1171 closed

[2017-03-01 11:24] #1188 closed

[2017-03-01 11:26] #1116 closed

[2017-03-01 11:30] the-dagger commented on #1173
Yes, this issue does make sense.

Also there are quite a few lags here and there.
If you enable profile rendering, most of the operations miss the 16ms time limit.

[2017-03-01 11:37] harshitagupta30 commented on #1185
@the-dagger In code we've already used this method `Html.fromHtml()` but it's not parsing the HTML correctly. Can I use JSOUP library?

[2017-03-01 11:40] the-dagger commented on #1185
http://stackoverflow.com/a/2116191/5471095
This isn't working?
There is a different way to do it on post nougat devices, so you might want to take a look at that.

[2017-03-01 11:43] arp95 commented on #1192
+1

[2017-03-01 11:48] arp95 opened #1195 "Adding Deep Links to the app"
**Actual Behaviour**

Currently if we give any link to a user there are chances it will open it in Chrome or any other browser instead of the Open Event app (if installed)

**Expected Behaviour**

Adding various intent filters in the manifest file for the activites which will enable links to be viewed on our app instead of viewing it on any browser.

**LogCat for the issue**

-

**Screenshots of t

[2017-03-01 11:48] harshitagupta30 commented on #1185
`if (android.os.Build.VERSION.SDK_INT >= android.os.Build.VERSION_CODES.N) {
            result = Html.fromHtml(session.getDescription(), Html.FROM_HTML_MODE_LEGACY);
        } else {
            result = Html.fromHtml(session.getDescription());
        }
        descrip.setText(result);`

Snippet from the code without any changes, still not working.

[2017-03-01 13:40] harshitagupta30 opened #1196 "Reducing font size of text on Speaker's image in Speaker's Fragment."
**Actual Behaviour**

Currently, the font size of text is 16sp due to which the entire image is covered by text and only a little portion of the image is visible.

![screenshot_20170301-185008](https://cloud.githubusercontent.com/assets/12701036/23462022/3b7038aa-feb2-11e6-8454-09c0bac6a617.jpg)

**Expected Behaviour**
Reducing the font size to 12sp.

![screenshot_20170301-190221](https://cloud.gi

[2017-03-01 17:18] mananwason commented on #1196
LGTM merging.

[2017-03-01 17:18] #1196 closed

[2017-03-01 17:29] shreyasnbhat opened #1198 "Notification Mode Title not set - Minor Fix"
**Actual Behaviour**
![img2](https://cloud.githubusercontent.com/assets/19890557/23472347/862d187a-fed2-11e6-8ff6-7123efd6fc64.jpg)

**Expected Behaviour**
![img1](https://cloud.githubusercontent.com/assets/19890557/23472351/87ecf6b2-fed2-11e6-8d58-72c428fd838d.jpg)

**Steps to reproduce it**
Clearly Visible in Settings Tab

**Would you like to work on the issue?**
Yes.
@mananwason @the-dagger Cou

[2017-03-01 18:47] betterclever commented on #1094
@mariobehling I can apply a similar workaround here like I did on susi-android which reduced repo size from 1GB ~ 20mb, should I proceed?

[2017-03-01 18:56] the-dagger commented on #1094
@betterclever Sounds like a plan! 👍

[2017-03-01 19:42] mananwason commented on #1094
@betterclever Please let us know the changes that you plan to make.

[2017-03-01 19:46] betterclever commented on #1094
@mananwason Since already latest apk is required for testing purposes, we need not maintain all previous APKs that were generated, so a orphan branch can be made with just one commit, that maintains latest APK and current branch can be overwritten by that.

You may refer the implementation here :smile:

https://github.com/fossasia/susi_android/blob/master/exec/apk-gen.sh

[2017-03-02 03:48] chiragw15 opened #1202 "App Crashing"
**Actual Behaviour**

App is crashing.

**Expected Behaviour**

It should not crash.

**Steps to reproduce it**

Open bookmarks fragment. Click on search icon on top and write text to search something. Without closing the search bar, swipe right to open navigation drawer and then open any other fragment.

**LogCat for the issue**
[code]

**Would you like to work on the issue?**
yes

[2017-03-02 04:07] chiragw15 opened #1204 "Minor UI update in Speaker's fragment"
**Actual Behaviour**
Name covers speaker's picture and looks weird.
![screenshot_20170302-020144](https://cloud.githubusercontent.com/assets/16978820/23492626/8c2b094a-ff2b-11e6-8079-0069855e000e.png)

**Expected Behaviour**

Looks neat
![screenshot_20170302-093057](https://cloud.githubusercontent.com/assets/16978820/23492653/af126192-ff2b-11e6-98b6-aa502d964d82.png)

**Would you like to work on t

[2017-03-02 04:10] chiragw15 commented on #1204
@the-dagger Does this look fine?

[2017-03-02 04:10] Abhi2424shek commented on #1204
Go on looks good.

[2017-03-02 10:51] chiragw15 opened #1206 "Bug in Grid Layout ( when rotating phone)"
**Actual Behaviour**
Open the app in portrait mode and open speakers fragment. It will look something like this.

![screenshot_20170302-160623](https://cloud.githubusercontent.com/assets/16978820/23503894/733d9aaa-ff63-11e6-9f74-d2e0c3dedd62.png)

Now close the app and reopen it in landscape mode and open the speakers fragment. It will look something like this.

![screenshot_20170302-160647](https

[2017-03-02 10:53] chiragw15 commented on #1206
@the-dagger @Abhi2424shek I have already completed the work on this. If it seems a valid bug, should I send a PR?

[2017-03-02 11:04] harshitagupta30 opened #1207 "UI Bugs in SpeakerDetailActivity"
**Actual Behaviour**

When the organisation, as well as designation, is empty then the speaker name goes out of the screen. Also when it's more than 2 lines it goes out of the screen.
![screenshot_20170301-192941](https://cloud.githubusercontent.com/assets/12701036/23504476/a1a731ce-ff65-11e6-9cf5-cc1d6562f355.jpg)

**Expected Behaviour**

![screenshot_20170302-152854](https://cloud.githubusercont

[2017-03-02 11:05] harshitagupta30 commented on #1206
@chiragw15 go ahead! :+1:

[2017-03-02 13:46] arp95 opened #1210 "Add kubernetes deployment documentation for app generator"
**Actual Behaviour**

Currently on clicking the kubernetes.md file from README.md shows an empty file

**Expected Behaviour**

Updating kubernetes.md file with appropriate installation features.

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

[2017-03-02 16:59] amitiwary999 opened #1212 "UI bug sessiondetail activity"
**Actual Behaviour**

There is no gap between speaker images in session detail activity

**Expected Behaviour**

State here what the feature should enable the user to do.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**LogCat for the issue**

Provide logs for the crash here

[2017-03-02 17:08] harshitagupta30 opened #1213 "Ui bug in session detail card in SpeakerDetailActivity"
**Actual Behaviour**

![screenshot_20170302-152854](https://cloud.githubusercontent.com/assets/12701036/23517918/cc3290c8-ff97-11e6-901b-c6e265eca0d0.jpg)
![screenshot_20170302-222916](https://cloud.githubusercontent.com/assets/12701036/23517919/ce1cf1a8-ff97-11e6-8344-18334c79c1a4.jpg)

**Expected Behaviour**
Setting maxlines =2 and ellipsize the text at the end.
![screenshot_20170302-223622](htt

[2017-03-02 20:05] amitiwary999 opened #1216 "On unmarking all bookmarks Bookmarksfragment still shows all bookmarks."
**Actual Behaviour**
On unmarking all bookmarks bookmarksfragment not get closed.

**Expected Behaviour**

As soon as all bookmarks are unmarked Bookmarksfragment should close.

**Steps to reproduce it**

**LogCat for the issue**

Provide logs for the crash here

**Screenshots of the issue**

Where-ever possible add a screenshot of the issue.

**Would you like to work on the issue?**

yes

[2017-03-02 22:22] chiragw15 commented on #1216
Copy of #1081

[2017-03-02 22:30] amitiwary999 commented on #1216
@chiragw15 But still that issue is not solved.

[2017-03-02 22:35] chiragw15 commented on #1216
@amitiwary999 PR #1098 Already sent.

[2017-03-02 23:39] chiragw15 opened #1218 "Bug while refreshing layout"
**Actual Behaviour**

Search something in tracks fragment. It will look something like this.

![screenshot_20170303-050132](https://cloud.githubusercontent.com/assets/16978820/23531951/f7784a2a-ffce-11e6-9b30-939d681b3a6e.png)

Now refresh the layout by swiping down. It becomes like this. All the tracks are shown irrespective of the search query.

![screenshot_20170303-044622](https://cloud.github

[2017-03-03 00:38] chiragw15 opened #1219 "Map showing wrong location"
**Actual Behaviour**

These is location (0,0) .
![screenshot_20170302-020225](https://cloud.githubusercontent.com/assets/16978820/23533340/38db3312-ffd7-11e6-9ef7-720df08fa140.png)

**Expected Behaviour**

![screenshot_20170302-020248](https://cloud.githubusercontent.com/assets/16978820/23533353/4b40de08-ffd7-11e6-9ea2-c48b3174ef97.png)

**Steps to reproduce it**

Open map from session detail  act

[2017-03-03 11:45] amitiwary999 opened #1222 "Ui bug in session detail activity"
**Actual Behaviour**

Track is not showing full title

**Expected Behaviour**

State here what the feature should enable the user to do.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**LogCat for the issue**

Provide logs for the crash here

**Screenshots of the issue**

![

[2017-03-03 12:10] arp95 commented on #1216
@amittiwary999
its better you ask the one who created this issue to work with him. But creating the replica of that is not recommended. Hope you get  it.

[2017-03-03 13:16] chiragw15 commented on #1222
@amitiwary999 I don't think that's a bug. They have implemented it in that way. Since the title can be long sometime, I think it's better to end it with "..." after two lines than writing complete title, which can be long and can disrupt the ui.

[2017-03-03 13:41] amitiwary999 commented on #1222
@chiragw15 where is dot. I am talking about Track title which is above date.

[2017-03-03 13:46] chiragw15 commented on #1222
@amitiwary999 Sorry, my bad. I thought you were talking about the title in the app bar.

[2017-03-03 16:17] mananwason commented on #1222
Go ahead @amitiwary999

[2017-03-03 22:47] abs51295 opened #1224 "Back button not working in SessionDetailActivity"
**Actual Behaviour**

When the toolbar is collapsed the back button does not work.

**Expected Behaviour**

The back button should work as intended.

**Screenshots of the issue**
![20170304_040559_edited 1](https://cloud.githubusercontent.com/assets/13438222/23571790/2f4247f4-0091-11e7-9484-6eec0a73f407.gif)

**Would you like to work on the issue?**

Yes. @the-dagger Please review as this is my fi

[2017-03-04 00:44] amitiwary999 commented on #1224
@abs51295 its working in my device .

[2017-03-04 04:28] harshitagupta30 commented on #1224
@abs51295 It's working absolutely fine!

[2017-03-04 05:00] abs51295 commented on #1224
@amitiwary999 @harshitagupta30 On which device are you currently running the application? I am running on Moto G4 Plus with Android Nougat 7.0

[2017-03-04 05:56] abs51295 commented on #1224
@amitiwary999 @harshitagupta30

I think I found the issue:

It's in the overridden `OnBackPressed()` method of the SessionDetailActivity which can be seen [here](https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/java/org/fossasia/openevent/activities/SessionDetailActivity.java#L227-L242)

When the toolbar is collapsed `fabSessionBookmark.getVisibility()` evaluate

[2017-03-04 09:24] arp95 commented on #1224
@abs51295
happening on my device too.
Go ahea!

[2017-03-04 17:25] mananwason opened #1227 "Add Option to download event information on mobile data"
**Actual Behaviour**

Right now data can't be downloaded on mobile data

**Expected Behaviour**

Since almost everyone uses mobile data today, it is imperative to have the option to download data on mobile data

[2017-03-04 17:29] arp95 commented on #1227
@mananwason can i work on this?

[2017-03-04 17:33] arp95 opened #1228 "App not showing content"
Currently the app shows this behaviour on wifi on my device:

![17148732_10210637080917679_34564955_o](https://cloud.githubusercontent.com/assets/8268392/23580819/b2c9f9bc-012e-11e7-9812-21a5581e7ca3.png)

What can be the reason for this?

[2017-03-04 17:51] free4murad commented on #1228
@arp95
This was resolved earlier.
Are you using the updated code?

[2017-03-04 17:52] arp95 commented on #1228
@free4murad
yeah i am using the latest one. Dunno why is this happening.
Any ideas?

[2017-03-04 17:53] free4murad commented on #1228
Can you post your log messages here?

[2017-03-04 17:59] arp95 commented on #1228
![17148868_10210637251001931_376191914_o](https://cloud.githubusercontent.com/assets/8268392/23581005/5f507e56-0132-11e7-9696-285e567148ca.jpg)
![17122069_10210637251041932_123935791_o](https://cloud.githubusercontent.com/assets/8268392/23581006/622f0a8e-0132-11e7-8339-e2794cf697d7.jpg)
![16710203_10210637251361940_1458452730_o](https://cloud.githubusercontent.com/assets/8268392/23581007/63c8004e-

[2017-03-04 18:07] mananwason commented on #1224
@abs51295 Not facing this issue. Can you list the steps to reproduce.

[2017-03-04 18:10] abs51295 commented on #1224
@mananwason see the gif image where the back button does not work after collapsing the toolbar as the Fab Button is gone.

[2017-03-04 18:12] mananwason commented on #1224
It's working for me

[2017-03-04 18:13] mananwason commented on #1227
@arp95 I'm fixing this.

[2017-03-04 18:14] mananwason commented on #1228
Already added a fix for this in #1226

[2017-03-04 18:14] #1228 closed

[2017-03-04 18:16] abs51295 commented on #1224
On my device while debugging I found that when the FAB button is gone the `if` condition mentioned [here](https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/java/org/fossasia/openevent/activities/SessionDetailActivity.java#L227-L242) evaluates to true and hence it does not go back as expected instead stays on the same activity. What is the behavior on your device?

[2017-03-04 18:22] arp95 commented on #1228
@mananwason
should i wait until your pr is merged as i cant find any solution right now?

[2017-03-04 18:23] brainbreaker commented on #1224
It's working perfectly fine for me as well.

On Mar 4, 2017 11:46 PM, "Aagam Shah" <notifications@github.com> wrote:

[2017-03-04 18:28] #1216 closed

[2017-03-04 18:33] abs51295 commented on #1224
As I and @arp95 are facing it's possible that it may be reproduced only on Android Nougat 7.0.

[2017-03-04 18:33] mananwason commented on #1212
This is intended

[2017-03-04 18:33] #1212 closed

[2017-03-04 18:36] mananwason commented on #1207
Not facing the issue.

[2017-03-04 18:43] mananwason commented on #1224
@abs51295 I'm testing on 7.1.1 Nexus 5x and it works perfectly fine, so closing this issue

[2017-03-04 18:43] #1224 closed

[2017-03-04 18:49] #1204 closed

[2017-03-04 18:55] #1202 closed

[2017-03-04 19:02] harshitagupta30 commented on #1207
![screenshot from 2017-03-05 00 27 09](https://cloud.githubusercontent.com/assets/12701036/23581486/ca8139ce-013a-11e7-9f19-a36012c4c095.png)
![screenshot from 2017-03-05 00 31 27](https://cloud.githubusercontent.com/assets/12701036/23581495/1c609fa0-013b-11e7-9b61-29c3534bc218.png)

In my opinion, if we are only displaying the name then why not to add to collapsing toolbar as title because custom

[2017-03-04 19:13] #1173 closed

[2017-03-04 19:15] mananwason commented on #1195
Please do ask before implementing new features.

[2017-03-04 19:17] arp95 commented on #1195
@mananwason
sure sir! Will take care of it in future.

[2017-03-04 19:21] #1174 closed

[2017-03-04 19:34] #1176 closed

[2017-03-04 19:35] #1149 closed

[2017-03-04 19:41] mananwason commented on #1210
Go ahead @arp95

[2017-03-04 19:48] arp95 commented on #1228
@mananwason
app content still not showing after running the latest version.

[2017-03-04 19:51] #1218 closed

[2017-03-04 19:52] #1219 closed

[2017-03-04 19:52] #1222 closed

[2017-03-04 20:02] brainbreaker commented on #1192
@mananwason I guess #1226 solves this as well. Can we close the issue?

[2017-03-04 20:05] arp95 commented on #1192
i am still having problems loading it despite fetching the latest version.

[2017-03-04 20:06] mananwason commented on #1192
Yes. Fixed in #1226

[2017-03-04 20:07] mananwason commented on #1228
Please check again. Works perfectly for me

[2017-03-04 20:17] arp95 commented on #1228
@mananwason
not working!

[2017-03-04 20:25] brainbreaker commented on #1192
@arp95 Are you on Mobile data?

[2017-03-04 20:26] arp95 commented on #1192
no. i am on wifi but still content not being shown. Dont know whats the problem.

[2017-03-04 20:30] amitiwary999 commented on #1192
@mananwason  ,@brainbreaker I am also facing problem.
![screenshot_2017-03-05-01-43-42](https://cloud.githubusercontent.com/assets/14003244/23582035/5777ed94-0147-11e7-9d8c-18af0f5a908e.png)

[2017-03-04 20:35] brainbreaker commented on #1192
@amitiwary999 @arp95 Can you please share logcat reproducing the issue. You can use [pastebin.ca](pastebin.ca)
Before that make sure:
- You have cleared data of app by going to Settings. Uninstalled and reinstalled it. I have faced issues at times due to caching of data.
- Have pulled the latest code, which I think you should have done already. Just to be sure, you can see commit logs. :)

[2017-03-04 21:00] arp95 commented on #1192
@brainbreaker
the first step worked!
Thanks.

[2017-03-04 21:27] amitiwary999 opened #1230 "UI bug in speakerlistfragment"
**Actual Behaviour**

when we change from landscape to portrait mode no of colums remain 4.

**Expected Behaviour**

pictures should be shown in 2 column format.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**LogCat for the issue**

Provide logs for the crash here

**Scree

[2017-03-04 21:46] arp95 opened #1231 "Removing HTML tags from ScheduleFragment"
**Actual Behaviour**

As seen in the screenshots posted below the items in scheduleFragment have html tags.

**Expected Behaviour**

Removal of the HTML tags.

**LogCat for the issue**

-

**Screenshots of the issue**

![17148937_10210638918803625_783911964_o](https://cloud.githubusercontent.com/assets/8268392/23582407/74956796-014f-11e7-9a1f-4c86f44de1ed.png)
![17106196_10210638919123633_61678329

[2017-03-04 22:53] #1231 closed

[2017-03-04 23:18] chiragw15 commented on #1230
Copy of #1206 . PR : #1208

[2017-03-05 02:56] #1094 closed

[2017-03-05 04:23] arp95 opened #1233 "Session Title not displayed properly in LocationsActivity"
**Actual Behaviour**

As seen in the screenshot the title is not shown properly in LocationsActivity.

**Expected Behaviour**

Change in the layout file so as to display the title properly.

**LogCat for the issue**

-

**Screenshots of the issue**

![17121500_10210641885437789_896852141_o](https://cloud.githubusercontent.com/assets/8268392/23584491/7118fed6-0189-11e7-9565-7287fb270fae.png)

**Wou

[2017-03-05 04:40] harshitagupta30 commented on #1233
@arp95 #1214 points to this! @mananwason This issue persists in other devices as well you can see in screenshots.

[2017-03-05 04:49] #1207 closed

[2017-03-05 04:51] #1230 closed

[2017-03-05 04:51] mananwason commented on #1230
@amitiwary999 Please check existing issues before creating new ones

[2017-03-05 04:53] #1206 closed

[2017-03-05 05:17] arp95 commented on #1233
@arp95 i am not facing the issue you faced. Its just a bug in layout files. will just send a pr and you will get to know.

[2017-03-05 07:15] mohitmanuja opened #1235 "Event share description is always "To be updated soon"."
On sharing any event we are passing result string which is always empty hence is always "to be updated soon".Expected description should be Actual description of the event.

**Actual Behaviour**
Descripion : To be updated Soon.

![screenshot_2017-03-05-12-17-54-253_com google android gm](https://cloud.githubusercontent.com/assets/9361754/23585300/075d60b4-01a1-11e7-9a9d-bdea76895f7f.png)

**Expect

[2017-03-05 07:19] mohitmanuja commented on #1235
So I am started working on it. Do let me know if expected behaviour should not same as I mentioned.

[2017-03-05 07:53] arp95 commented on #1235
i think this is the server issue as the text will be updated from their end.

[2017-03-05 08:01] #1183 closed

[2017-03-05 10:35] #1213 closed

[2017-03-05 10:42] mohitmanuja commented on #1185
Please close this issue.

[2017-03-05 10:44] mananwason commented on #1235
Not an issue because empty description is handled this way.

[2017-03-05 10:44] #1235 closed

[2017-03-05 10:44] #1233 closed

[2017-03-05 10:44] mananwason commented on #1198
Sure @shreyasnbhat

[2017-03-05 10:46] #1192 closed

[2017-03-05 10:46] mohitmanuja commented on #1235
@mananwason Okay, but I think we can share summary if the description is empty. Because in all event description is always empty.

[2017-03-05 10:46] #1187 closed

[2017-03-05 10:46] #1185 closed

[2017-03-05 10:49] #1167 closed

[2017-03-05 10:50] mananwason commented on #1156
Let it be @harshitagupta30. We'll add fresh data from the server as latest json files.

[2017-03-05 10:50] #1156 closed

[2017-03-05 10:51] mananwason commented on #1124
Status @rohanagarwal94 ?

[2017-03-05 10:51] mananwason commented on #1099
This will not  work for fdroid version right?

[2017-03-05 10:52] mananwason commented on #1089
Status @saeedjassani?

[2017-03-05 10:53] #1081 closed

[2017-03-05 10:53] rohanagarwal94 commented on #1124
@mananwason am currently stuck in the middle of exams. Will resolve it as soon as I am free from it.

[2017-03-05 13:35] amitiwary999 opened #1237 "Location with no session are displayed"
**Actual Behaviour**

Location with no session is displayed

**Expected Behaviour**

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**LogCat for the issue**

Provide logs for the crash here

**Screenshots of the issue**

![screenshot_2017-03-05-18-35-48](https://cloud.githubu

[2017-03-05 13:39] arp95 commented on #1237
i think this is a server issue. Sessions with that locations will get updated on updation of the relevant json files.

[2017-03-05 13:39] harshitagupta30 commented on #1237
I don't think this should be removed! and I agree with @arp95 . :+1:

[2017-03-05 17:17] arp95 opened #1238 "Bookmark status not updated in SpeakersDetailActivity"
**Actual Behaviour**

Bookmark status not updated properly.

**Expected Behaviour**

Bookmark status to be updated properly.

**Steps to reproduce it**

1. Go to the SpeakersDetail Activity
2. Click on any session of that particular speaker
3. Bookmark that session in the SessionDetailAcitivty
4. On pressing back button you would observe bookmark status not updated in the SpeakersDetailActivity

*

[2017-03-05 18:03] harshitagupta30 opened #1239 "Notification not generated on bookmarking a session"
**Actual Behaviour**

Currently, on bookmarking any session no notification is generated as it was happening before.

**Expected Behaviour**

Bookmark containing session details should appear on bookmarking session.

**Steps to reproduce it**

Bookmark any session from session list. No notification will appear.

**Would you like to work on the issue?**
Yes

[2017-03-05 18:05] the-dagger commented on #1239
You'll get a notification for your bookmarked session before the session is
about to happen.
Previously you got the notification as soon as you bookmarked the session
because it has already happened.
That was not intended!

[2017-03-05 18:06] #1239 closed

[2017-03-06 06:38] mananwason opened #1240 "Publish app on F-Droid store"
App has to be uploaded on the f-droid store for FOSSASIA 2017 and this has to be done within the next 2-3 days as it will take some time to be approved.

[2017-03-06 06:39] mananwason opened #1241 "Publish app on Google play store"
App has to be uploaded on the google play store for FOSSASIA 2017 from the FOSSASIA account

[2017-03-06 06:53] free4murad commented on #1241
Maps for this flavor of app is not working.
We need to update that.
I created an issue for that earlier.

[2017-03-06 16:59] mohitmanuja commented on #1241
@mananwason I will update it on play store. Please assign me for this.

[2017-03-06 17:00] mohitmanuja commented on #1240
@mananwason  I will upload on play store. Please assign me for this.

[2017-03-06 17:02] mohitmanuja commented on #1238
@arp95  It is working fine on my device.

[2017-03-06 17:03] arp95 commented on #1238
@mohitmanuja please follow the steps again!

[2017-03-06 17:07] harshitagupta30 commented on #1238
@arp95 It needs to be resolved :+1:

[2017-03-06 17:13] mananwason commented on #1241
@Murad I'll check that.

@Mohit I'll upload it to play store. If you can upload to f droid store,
that'd be great.
On Mon, 6 Mar 2017 at 10:29 PM, Mohit Manuja <notifications@github.com>
wrote:

--
*Regards,*
*Manan Wason*
*4th year, B.tech - CSE*
*Indraprastha Institute of Inf. Tech. (IIIT) Delhi*
*Okhla, Phase-III, New Delhi-110020, INDIA*
*Website: www.mananwason.me <http://www.mananwason.me/>*

[2017-03-06 17:14] mananwason commented on #1240
This is for fdroid store not play store. If you want you can go ahead with
this
On Mon, 6 Mar 2017 at 10:30 PM, Mohit Manuja <notifications@github.com>
wrote:

--
*Regards,*
*Manan Wason*
*4th year, B.tech - CSE*
*Indraprastha Institute of Inf. Tech. (IIIT) Delhi*
*Okhla, Phase-III, New Delhi-110020, INDIA*
*Website: www.mananwason.me <http://www.mananwason.me/>*

[2017-03-06 20:53] shreyasnbhat opened #1243 "UI Upgrade for Schedule Page"
**Proposed UI**

![ui](https://cloud.githubusercontent.com/assets/19890557/23629121/b0b32fb8-02dc-11e7-9330-6d62449bdb6e.jpg)

**Would you like to work on the issue?**
@the-dagger @mananwason Does the above proposed UI upgrade look good?

[2017-03-06 21:01] free4murad opened #1244 "Illogical flow while removing a bookmark"
**Actual Behaviour**

When we are removing a bookmark, a snackbar appears with an `Undo` button. This happens in every Activity or Fragment.

**Expected Behaviour**

In fragments or activities other than `Bookmarks` the snackbar is not needed. Even if the user removes a bookmark he can add it again because the session is still on the screen.

The snackbar should only appear if the action is perfor

[2017-03-07 02:47] arp95 commented on #1243
@shreyasnbhat
actually i made this mistake earlier.
According to the design guidelines items with two lines shouldnt be preferred for catdView.

[2017-03-07 06:51] abs51295 commented on #1228
@mananwason not working for me too! Here is the log:

`03-07 12:18:09.504 21472-21754/org.fossasia.openevent D/DatabaseOperations: INSERT INTO tracks VALUES ('277', 'Exhibition', '' , '');
03-07 12:18:09.505 21472-21754/org.fossasia.openevent D/DatabaseOperations: INSERT INTO tracks VALUES ('268', 'Debian Mini-Debconf', '' , '');
03-07 12:18:09.506 21472-21754/org.fossasia.openevent D/DatabaseOper

[2017-03-07 07:06] shreyasnbhat commented on #1243
@arp95  Alright I'll try to do better. :)

[2017-03-07 08:33] harshitagupta30 opened #1246 "Removing Lint issues in project"
**Actual Behaviour**

Currently, on running lint in the project it raises multiple potential issues which need to be solved.

**Expected Behaviour**

They must be resolved.

**Would you like to work on the issue?**
Yes

[2017-03-07 08:53] free4murad opened #1247 "Updating screenshots in readme.md"
Some screenshots in `readme.md` are outdated.

@the-dagger
I am sending a PR for this.

[2017-03-07 08:55] harshitagupta30 commented on #1247
@free4murad make sure to remove previous screenshots which are not used now. :+1:

[2017-03-07 10:02] mananwason commented on #1089
Closing due to inactivity

[2017-03-07 10:02] #1089 closed

[2017-03-07 10:02] mananwason commented on #1099
@rohanagarwal94 status?

[2017-03-07 10:03] mananwason commented on #1124
Sure but please try to finish it in the next 2-3 days because we need to put the app on the play store. Otherwise let someone else work on it, so that we can push work faster.

[2017-03-07 10:03] #1168 closed

[2017-03-07 10:04] amitiwary999 commented on #1089
@mananwason can I work on this issue?

[2017-03-07 10:04] mananwason commented on #1195
What's the status @arp95?

[2017-03-07 10:05] #1237 closed

[2017-03-07 10:07] mananwason commented on #1238
@arp95 Go ahead

[2017-03-07 10:07] mananwason commented on #1240
@Abhi2424shek Will you be working on this?

[2017-03-07 10:08] free4murad commented on #1240
@mananwason
Should I do this?

[2017-03-07 10:09] mananwason commented on #1243
@shreyasnbhat Also according to Material design guidelines, we shouldn't use cards for similar content types, RV's should be preferred.

[2017-03-07 10:09] #1243 closed

[2017-03-07 10:10] free4murad commented on #1247
@harshitagupta30
Sure

[2017-03-07 10:14] mananwason commented on #1246
Let's let it be for now. Not a priority

[2017-03-07 10:43] free4murad commented on #1247
Tracks
![tracks](https://cloud.githubusercontent.com/assets/17262180/23652908/96d8b274-0350-11e7-88c9-339987c09929.png)

Schedule
![schedule](https://cloud.githubusercontent.com/assets/17262180/23652918/9d538520-0350-11e7-991b-39111bf62045.png)

Speakers
![speakers](https://cloud.githubusercontent.com/assets/17262180/23652925/a13478a2-0350-11e7-8261-84e4e8c170e3.png)

Sponsors
![sponsors](https://

[2017-03-07 10:46] rohanagarwal94 commented on #1099
No I guess not. @mananwason in the middle of exams. Will contribute as soon as it gets over.

[2017-03-07 10:48] rohanagarwal94 commented on #1124
I will definitely solve it by 10th march.

[2017-03-07 10:59] betterclever commented on #1227
@mananwason I've fixed this bug, can I send a PR? I may send a sample APK for you to check first if you wish to.

[2017-03-07 11:15] mananwason commented on #1227
Please send a PR for this one please. Have been a bit busy so wasn't able to fix it.

Let's leave the proxy scenario for now.

[2017-03-07 11:16] mananwason commented on #1124
Great

[2017-03-07 11:16] mananwason commented on #1099
Cool 👍

[2017-03-07 11:17] mananwason commented on #1240
@free4murad Please go ahead. If someone isn't able to work on this till today, I plan to work on this tomorrow.

[2017-03-07 11:18] mananwason commented on #1089
Go ahead

[2017-03-07 11:18] free4murad commented on #1240
What about the pending PRs.
Will you merge them first or should I continue?

[2017-03-07 11:19] mananwason commented on #1228
Yes it was not working again due to a faulty commit. I'm fixing it by reverting the commit.

[2017-03-07 11:19] betterclever commented on #1227
@mananwason There is also a issue when a user is using VPN? Should I raise a issue for both proxy and VPN , since user maybe using VPN services on his phone (common among corporates)

[2017-03-07 11:24] Abhi2424shek commented on #1240
@mananwason if you want I could help, but since @free4maraud wants to have a go, I would let him to.

[2017-03-07 11:29] mananwason opened #1251 "Fragments not getting initialised in time for getting download updates"
**Actual Behaviour**

UI not being updated even when download is completed sucessfully

**Expected Behaviour**

Fragments should update data on getting refreshUiEvent

because of #1200

[2017-03-07 11:38] mananwason commented on #1240
@Abhi2424shek @free4murad Please decide among yourself and please try to finish this asap because getting the app in the fdroid repo takes atleast a week due to the manual process.

[2017-03-07 11:39] mananwason commented on #1227
@betterclever But the internet should be accessible both in the case of proxy as well as VPN, what do you wanna check for?

[2017-03-07 11:43] #1251 closed

[2017-03-07 11:43] betterclever commented on #1227
Sorry, I wrongly placed a question mark in above comment. Point being , it is not currently accessible. I have checked it issue being currently explicit checks are being used for mobile data and wifi and VPN doesn't show up as both. Proxy is not working because the NetworkUtils explicitly check internet connectivity by making a ping request to google which fails if device is working in a proxy bas

[2017-03-07 11:47] mananwason commented on #1167
@free4murad @rohanagarwal94 It was a bad practice to have exposed the Google Maps API key in the code, so I had deleted the project. Now you can create your own key and add it to google_play.xml to get maps working

[2017-03-07 11:48] free4murad commented on #1167
Sure

[2017-03-07 14:36] abs51295 commented on #1246
@mananwason I already talked about this issue a day ago on gitter.

[2017-03-07 14:42] abs51295 opened #1255 "Failing Database Test"
**Actual Behaviour**

Gradle build failing.

**Expected Behaviour**

Application should run.

**Steps to reproduce it**

Just run gradle build on the current code base.

**LogCat for the issue**

Error:(77, 27) error: insertQueries(ArrayList<String>,DbHelper) is not public in DatabaseOperations; cannot be accessed from outside package.

**Would you like to work on the issue?**

Yes.

[2017-03-07 14:57] arp95 commented on #1246
@harshitagupta30
solved the major ones earlier. i think the remaining are fine.

[2017-03-07 15:26] free4murad opened #1256 "Need to update android-app-setup.md."
**Actual Behaviour**
We need to update the `android-app-setup.md`.
Steps to add api key (for google maps) needs be added.

@the-dagger @mananwason
I will send a PR.

[2017-03-07 18:42] shreyasnbhat opened #1257 "UI Proposal For Schedule Page(Updated)"
**Actual Behaviour**
UI is bland.

**UI Proposal**
![im1](https://cloud.githubusercontent.com/assets/19890557/23672067/7ba7d398-0393-11e7-81c6-c1482f3fe61b.jpg)
![im2](https://cloud.githubusercontent.com/assets/19890557/23672072/7e06e8cc-0393-11e7-9c22-e2a0850e55c0.jpg)
![im3](https://cloud.githubusercontent.com/assets/19890557/23672074/7f32024a-0393-11e7-8783-24e3217cc8a0.jpg)

**Notes**
The colo

[2017-03-07 21:42] mananwason commented on #1257
I prefer the current Ui as anyway nobody remember the colors of the track. @the-dagger thoughts?

[2017-03-07 21:42] mananwason commented on #1256
👍

[2017-03-07 21:43] mananwason commented on #1255
Right now tests are not written properly. If you want you can go ahead and do so. #171

[2017-03-07 21:47] mananwason commented on #1240
Has anybody started working on this @mohitmanuja @free4murad @Abhi2424shek?

[2017-03-07 22:06] free4murad commented on #1240
@mananwason
https://gitlab.com/fdroid/rfp/issues/62

[2017-03-08 01:42] shreyasnbhat commented on #1257
@mananwason I agree that the color to track mapping isn't clear. A tag could be added below event location to highlight that.
But the point was to have a visual division of the events based on track.
I could post an updated version with the tag if you want.

[2017-03-08 02:46] shreyasnbhat commented on #1257
@mananwason
Maybe this looks better?
![img4](https://cloud.githubusercontent.com/assets/19890557/23687982/6e04f04c-03d7-11e7-99b9-de9b47139295.jpg)

[2017-03-08 05:16] abs51295 commented on #1255
@mananwason I am currently fixing the issue in the present test cases so that the current build works as expected and would later start working on designing new test cases.

[2017-03-08 09:22] harshitagupta30 opened #1260 "App crashing due to runtime OutOfMemory error"
**Actual Behaviour**
Currently, we are using `bitmap` in SpeakerDetailsActivity due to which while loading a bitmap the app is raising an `OutOfMemory` exception at `runtime`.

![screenshot from 2017-03-02 21 59 14](https://cloud.githubusercontent.com/assets/12701036/23697681/a9d6fc14-040e-11e7-9e2d-e10d7b6c38c5.png)

**Expected Behaviour**
It should be resolved otherwise it will lead to the crash

[2017-03-08 10:42] betterclever commented on #1260
@harshitagupta30 Which activity is exactly causing the issue? Can you provide full stacktrace ?

[2017-03-08 10:46] harshitagupta30 commented on #1260
@betterclever SpeakerDetailActivity is using bitmap to load the images. This is the complete stacktrace which was generated and this happened when I was transitioning to Speaker's Detail.

[2017-03-08 10:49] harshitagupta30 opened #1262 "Change in description field in DayScheduleFragment for better UI"
**Actual Behaviour**

Currently, the field description in schedule list points to the `long_abstract` which is empty for almost all the sessions. The UI was designed in such a way to display the description of the session as well.

![screenshot_20170308-161014](https://cloud.githubusercontent.com/assets/12701036/23700763/f59d7e60-0419-11e7-87e1-e62808730cb8.jpg)

**Expected Behaviour**

While the

[2017-03-08 11:41] free4murad opened #1264 "Size of Speaker Images to very large."
**Actual Behaviour**
Just installed the app on my device and after 10mins of use the app has used 300MB of mobile data.
The size of speaker images is the major reason behind this.
Size of some images is as high as 6.2MB. (`Speaker` - Blair Layton, `Image` - https://storage.googleapis.com/eventyay.com/events/6/speakers/2312/photo/TXZMK1JFUm/f3069efd-8cdf-4786-9e59-046f95f41440.png)

**Expected Beha

[2017-03-08 11:43] free4murad commented on #1264
@mananwason @the-dagger
What can we do about this.
Should I update the URLs of the images or do we need to update the api?

[2017-03-08 11:45] free4murad commented on #1260
@harshitagupta30
I didn't face the issue.
which device are you using?

[2017-03-08 12:12] free4murad commented on #1240
@mananwason
I think we can close this now?

[2017-03-08 12:18] free4murad opened #1265 "Change the app name and icon"
**Actual Behaviour**
The app is for the event `FOSSASIA Summit 17`. But the name of the event doesn't appear anywhere in the application.

**Expected Behaviour**
The app name should be changed according to the event something like `FOSSASIA Summit 17` or something more appropriate.
Also we can update images like the app icon, nav bar header image and splash screen image.

**Would you like to work

[2017-03-08 14:04] arp95 commented on #1264
@free4murad
another thing we can do is as we are using picasso we can reduce the size of the image using the .resize() parameter of picasso. I think thats a feasable option right now.

[2017-03-08 14:05] arp95 commented on #1260
@harshitagupta30
this is device specific i think. I didnt face the issue.

[2017-03-08 14:33] betterclever commented on #1260
@arp95  @free4murad It is due to the fact that genymotion emulator has less default heap size for apps which is being used for testing. The app might crash in a similar low ram device.
@harshitagupta30 I think a better approach would be reduce image size first before applying then asking for more heap, image size can be reduced after Bitmap is ready in Picasso using custom transformer.
Refer this:

[2017-03-08 14:59] betterclever commented on #1264
@arp95 That will still download the larger photo and then resize while setting it. The point here is to save precious mobile data for user since he might be roaming.

[2017-03-08 15:00] free4murad commented on #1264
@arp95
the problem is downloading big files.
We need to solve that.

[2017-03-08 15:02] betterclever commented on #1264
This in turn is related to #1260 too, app must be crashing while handling the large bitmap. Small bitmaps would also fix that and use very less memory (RAM) for overall better performance.

[2017-03-08 15:07] arp95 commented on #1195
@mananwason
have made the required changes. please review the pr.

[2017-03-08 15:09] harshitagupta30 commented on #1260
@betterclever The ram size of the emulator is currently 2 GB which I think is sufficient enough. Also,  we are using bitmap images only in some case where we need to draw the Speaker's image not when downloading an image. Still, I'll try to solve it in the way described in link. Thanks for the  suggestion. :+1:

[2017-03-08 15:36] betterclever commented on #1260
@harshitagupta30 It doesn't depend on RAM size, depends on heap size for emulator. Check build.prop of emulator for that. If your emulator has less heap, then it will crash irrespective of RAM size. I faced a similar issue on my app once. Stock emulator provides option to change heap size, AFAIK genymotion doesn't.

Secondly, we are using Bitmap there to dynamically get accentColor from the image

[2017-03-08 15:43] harshitagupta30 commented on #1260
@betterclever Thanks! I was not aware of this.  :clap:  :+1:

[2017-03-08 15:52] iamareebjamal commented on #1264
We can use https://rsz.io/ for resizing the image before loading. Only effort required is to modify the image URL before loading in Picasso. @free4murad can work on that I guess, and if required, I'd be happy to help :smile:

[2017-03-08 16:07] iamareebjamal opened #1268 "Crash when updating app due to database migration"
**Actual Behaviour**

Clicking on any event leads to
`android.database.sqlite.SQLiteException: no such column: shortBiography (code 1): , while compiling: SELECT id, name, photo, shortBiography, email, web, facebook, twitter, github, linkedin, organisation, position, country FROM speakers WHERE id == 1`

I think this occurs due to a recent db schema change? I'm not sure, but it should be handled g

[2017-03-08 16:17] betterclever commented on #1264
@iamareebjamal That is awesome. I didn't know about existence of such a service.

[2017-03-08 16:21] the-dagger commented on #1264
Good find @iamareebjamal <https://github.com/iamareebjamal>, we can
definitely use this in the app. :+1:

[2017-03-08 16:22] free4murad commented on #1264
@the-dagger should i make a PR?

[2017-03-08 16:25] betterclever commented on #1260
@harshitagupta30 following suggestions on #1264, scaling down on phone won't be required. This may be left therefore.

[2017-03-08 16:35] the-dagger commented on #1264
Sure :+1:

[2017-03-08 16:35] harshitagupta30 commented on #1264
Has anyone tried to use this with current image url (https://storage.googleapis.com/eventyay.com/events/6/speakers/2167/photo/ZFd5OHBEam/1485777076.63.png) ? (Not in app but manually on web)

[2017-03-08 16:39] free4murad commented on #1264
There is one drawback though, if we use `https://rsz.io/ ` the load time of the images will increase drastically.
What should we do.

[2017-03-08 16:41] harshitagupta30 commented on #1264
@free4murad Try to use this : https://storage.googleapis.com.rsz.io/eventyay.com/events/6/speakers/2236/photo/TDdIUVJIRD/717127c3-d441-41c7-808e-f4378f74b940.png?width=200
I mean change the url like this. I could find any significant difference while downloading. (This is a particular case)

[2017-03-08 16:46] betterclever commented on #1264
@free4murad The load time will be slow for first time only even if that happens, then it will be retrieved from disk cache (Picasso) so it must not make a major difference.

[2017-03-08 16:46] iamareebjamal opened #1269 "Make DB interactions asynchronous using loaders or Rx"
**Actual Behaviour**

UI is very jittery and lags on transitions from activity to activity due to heavy initialization on main thread and specifically in onCreate.

**Expected Behaviour**

We could use Loaders or RxJava to make these tasks asynchronous. However our database doesn't change in real time and CursorLoaders are de-facto standard in Android for DB interactions, I think integration with

[2017-03-08 16:47] free4murad commented on #1264
@betterclever @iamareebjamal @the-dagger
I will proceed with this method then.

[2017-03-08 16:54] free4murad commented on #1269
@iamareebjamal
because of this heavy initialization the app is missing the 16ms rendering window.

[2017-03-08 17:04] iamareebjamal commented on #1269
@free4murad Yes, database operations are generally slow and onCreate in each view in generally monolithic. Migration to realm DB would be very invasive, so Rx integration will not only prove great for performance but will also help in creating complex asynchronous patterns in event handling for future scope

[2017-03-08 17:04] arp95 commented on #1269
looks good. I think this can make the app more fast.

[2017-03-08 17:53] mahikaw opened #1270 "Error on sharing bookmarked events"
**Actual Behaviour**
When we share an event from the "bookmarks" tab, after bookmarking it, "the session track" in shared message looks like this:-
![wrong](https://cloud.githubusercontent.com/assets/21010060/23717334/6de04062-0459-11e7-9502-a0d3eb45ff9a.jpg)

**Expected Behaviour**
Should look like this:-
![correct](https://cloud.githubusercontent.com/assets/21010060/23717378/932ba33e-0459-11e7-8

[2017-03-08 18:22] mahikaw opened #1271 "Errors in shared messages sent using the share option in any event."
**Actual Behaviour**

Whenever we share an event, for many of the events, the shared message contains undesirable HTML tags.
![correct](https://cloud.githubusercontent.com/assets/21010060/23717569/56ddb54c-045a-11e7-9264-e59d3e2df1ed.jpg)

**Expected Behaviour**

Shouldn't contain the html tags
**Steps to reproduce it**
Share any event by clicking on the share button there and view the shared mess

[2017-03-08 18:39] the-dagger commented on #1271
Sure, please go ahead. 👍

[2017-03-08 18:41] the-dagger commented on #1270
@mahikaw can we club this issue with #1271 ?

[2017-03-08 18:42] #1262 closed

[2017-03-09 05:50] mahikaw commented on #1271
okay. I'm closing this issue. :smile:

[2017-03-09 05:54] mahikaw commented on #1271
This issue is different from #1270 . There the error was due to sharing bookmarked events specifically. Here, the shared text is incorrect, be it bookmarked or not. @mananwason @the-dagger can I go ahead with a PR?

[2017-03-09 05:58] the-dagger commented on #1271
Ok, sure go ahead. :+1:

[2017-03-09 08:47] #1271 closed

[2017-03-09 08:48] #1270 closed

[2017-03-09 12:07] #1256 closed

[2017-03-09 12:08] #1247 closed

[2017-03-09 12:17] harshitagupta30 opened #1275 "Adding About screen in the application"
**Actual Behaviour**

Currently, we have no screen describing the event and its details.

**Expected Behaviour**

Adding an about screen containing all the required details about the event.

![screenshot from 2017-03-09 17 45 57](https://cloud.githubusercontent.com/assets/12701036/23749881/55b07394-04f0-11e7-9f30-3f648a5f0d6e.png)
![screenshot from 2017-03-09 17 46 05](https://cloud.githubusercont

[2017-03-09 12:27] the-dagger commented on #1275
Yes we definitely need this. :+1:
But the current implementation looks a bit plain to me.
How about you take a look at wither Facebook's F8 and Google io app to see
how they are doing it.

Lastly, be sure not to include anything which is not provided by the
`event.json` since that would be of no use and will have to be removed
anyways.

On Thursday, March 9, 2017, Harshita Gupta <notifications@git

[2017-03-09 12:30] harshitagupta30 commented on #1275
This is just a mock screen. I'll try to make it look better.
Yes I'll add data keeping that in mind.
Thanks 👍

On Mar 9, 2017 17:57, "Harshit Dwivedi" <notifications@github.com> wrote:

[2017-03-09 12:32] free4murad commented on #1275
@the-dagger @harshitagupta30
This was proposed earlier also.
But there is no data in the JSONs that can be used for this activity.

Correct me if I am wrong.

[2017-03-09 12:59] the-dagger commented on #1275
You can take the data from event.json

On Thursday, March 9, 2017, Murad <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2017-03-09 15:21] iamareebjamal commented on #1269
@the-dagger Should I start work on this?

[2017-03-09 15:49] the-dagger commented on #1269
Yes, without a doubt! :+1:

[2017-03-09 16:59] iamareebjamal commented on #1269
I think we should also include retrofit as it plays nicely with RxJava, or should I defer it?

[2017-03-09 20:58] arp95 opened #1277 "Bug in SpeakersDetailActivity"
**Actual Behaviour**

Currently when the internet is switched off and switched on again the speaker image in the speakersDetailActivity doesnt get updated.

**Expected Behaviour**

Enabling speaker image to be loaded into the speaker image view.

**Steps to reproduce it**

1. Switch off your internet
2. Move to the SpeakersDetailActivity
3. Switch on your internet now.
4. Now the speaker image sho

[2017-03-10 15:24] harshitagupta30 commented on #1275
![screenshot_20170310-204520](https://cloud.githubusercontent.com/assets/12701036/23800670/4838e280-05d3-11e7-8955-1832ad248418.jpg)
![screenshot_20170310-204523](https://cloud.githubusercontent.com/assets/12701036/23800669/4809f470-05d3-11e7-94c8-5c6080fb229c.jpg)

@the-dagger Checked different apps but about page is very plain in every app! Can you give your suggestions on how it can be improved

[2017-03-10 15:58] shreyasnbhat commented on #1257
@the-dagger @mananwason thoughts?

[2017-03-10 16:31] the-dagger commented on #1257
If I remember correctly, the original plan was to have a separate color for
each track in the json files for achieving something like this.

You could probably create an issue in the orga server regarding this, a
small ask then about the status on this particular feature.
If it is implemented from the server side, we won't have to do it manually
and it will be applicable automatically for other ev

[2017-03-10 16:53] brainbreaker commented on #1277
@arp95 Just a suggestion, you can try to be more specific in issue title, something like 'Speaker image doesn't loads in Speaker details screen'. :)

[2017-03-10 16:57] arp95 commented on #1277
@brainbreaker
sure! Will take care form now on.

[2017-03-10 18:44] mananwason commented on #1277
@arp95 What do you plan to do?

[2017-03-10 18:48] mananwason commented on #1275
@harshitagupta30 This seems a lot of continuous text. Maybe breaking it down using dividers, different sizes etc. be better
 Plus you can add contributors list, add a mapview under menu etc.

These are some ideas of the top of my mind

[2017-03-10 18:49] mananwason commented on #1268
I'm also not able to reproduce this, so let's close it for now

[2017-03-10 18:49] #1268 closed

[2017-03-10 18:55] mananwason commented on #1265
@free4murad I'll take care of that. We'll use the generator to get the apk and that will take care of everything. Right now we have to make app more stable and get rid of silly bugs.

[2017-03-10 18:55] #1265 closed

[2017-03-10 18:57] mananwason commented on #1257
Yes this can be a feature for GSoC 2017 but I believe can be closed for now.

[2017-03-10 18:57] #1257 closed

[2017-03-10 18:57] arp95 commented on #1277
@mananwason

if (TextUtils.isEmpty(selectedSpeaker.getPhoto()) || (!isNetworkConnected())) {

            Picasso.with(this)
                    .load(selectedSpeaker.getPhoto())
                    .error(R.drawable.splash_logo)
                    .into(speakerImage);

            //    progressBar.setVisibility(View.GONE);
            //return;
}

Even if we dont have internet or a speaker imag

[2017-03-10 18:58] #1246 closed

[2017-03-10 19:11] brainbreaker commented on #1275
@harshitagupta30, you could try adding dividers and setting max lines in
text views with longer descriptions.
Adding a read more link with ellipsis would be a good improvement in UX.

If you want to try something even better, go with Card UI and expand them
with animation for longer descriptions. You can look at cardslib repo
https://github.com/gabrielemariotti/cardslib for UI inspiration.

On Sat

[2017-03-10 20:41] betterclever commented on #1227
@mananwason Data is able to be downloaded on mobile data in its **current state** by toggling the preference. My bad, I **did not** notice that. Is this issue meant to serve a different purpose since **data is getting downloaded on mobile data in current state of the app**.

Extremely sorry for not noticing it earlier.

[2017-03-11 08:32] rohanagarwal94 commented on #1124
@the-dagger @mananwason Just checked,
the sponsors are arranged first according to levels and then according to names. Level is a separate field in the sponsors.json. So does it make sense to arrange sponsors according to the type of sponsor? There might be a reason why the original author chose not to arrange it by type and arrange according to level.

![screenshot from 2017-03-11 14-01-02](https

[2017-03-11 09:20] mariobehling opened #1278 "Create a Screencast with the main features of the Open Event Android project"
Please make a 1.5 min screencast showcasing:
* the apk generator
* show the main features of the app
* at the end show the GitHub page of the project
* do not show any subtitles

[2017-03-11 17:54] harshitagupta30 commented on #1278
@mariobehling I have uploaded a sample screencast on gitter. Please check it out. Thanks.

[2017-03-11 18:04] arp95 commented on #1277
@mananwason
should i move ahead?

[2017-03-11 19:50] free4murad commented on #1278
https://drive.google.com/file/d/0ByRo_SG_Si40Y2tydXpwYWg3UGM/view?usp=sharing

Please have a look at this. See if its good enough. (Have no prior video editing experience and on top of that just started using MAC.)

[2017-03-11 21:33] free4murad commented on #1278
@mariobehling
Uploaded [video](https://www.youtube.com/watch?v=lGL6XoxM1og) in high quality on youtube.
Please give your feedback.

[2017-03-12 03:16] Jonsnow21 opened #1279 "Sponsors are currently sorted In ascending order"
**Actual Behaviour**

Sponsor with high level are below sponsors with low level

**Expected Behaviour**

They should be ordered based on level

**Steps to reproduce it**

open sponsors from navigation drawer

**Screenshots of the issue**

![screenshot_2017-03-12-09-44-42_org fossasia openevent](https://cloud.githubusercontent.com/assets/10407566/23828964/c6a9f74a-0708-11e7-8df3-462b731e7fbb.png)

[2017-03-12 06:50] mariobehling opened #1280 "Sort Sponsors according to sponsorship level"
Sponsors are currently not sorted to their level. Please ensure the sponsors are listed according to the order. In the server app it is sorted according to numbers, e.g. 5 is higher than -2. So the sponsor is on top. If two sponsors have the number 5 there are both in the same category.

[2017-03-12 06:59] brainbreaker commented on #1280
@mariobehling Okay, working on it.

[2017-03-12 07:21] Jonsnow21 commented on #1280
@mariobehling @brainbreaker I have already opened a similar issue and i am working on it [issue 1279](https://github.com/fossasia/open-event-android/issues/1279)

[2017-03-12 08:16] brainbreaker commented on #1280
@jonsnow21 Okay, you can send the PR if you have completed :)

[2017-03-12 09:16] harshitagupta30 commented on #1278
@free4murad Looks good! :)

[2017-03-12 15:12] mariobehling commented on #1264
@the-dagger rsz.io is not Open Source as far as I can see. Also, we want to ensure that the Android builder can work potentially as a commercial service. Depending on third-parties that are neither Open Source nor provide a commercial service, that we can rely on is not a good idea. Please do not use rsz.io and do not merge PRs with rsz.io or similar services. Use existing Open Source libraries li

[2017-03-12 16:21] the-dagger commented on #1264
Ok, thanks for the heads up @mariobehling.
I was not aware.
@free4murad please try to use any alternative open source solution as Mario
suggested instead of using rsz.io

On Sunday, March 12, 2017, Mario Behling <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2017-03-12 16:25] mariobehling opened #1282 "In App info show "Developed by FOSSASIA" instead of "Programmed by FOSSASIA""
In App info show "Developed by FOSSASIA" instead of "Programmed by FOSSASIA"

[2017-03-12 16:27] harshitagupta30 commented on #1282
@mariobehling Will make the change and send the PR :+1:

[2017-03-12 16:35] mariobehling commented on #1278
@free4murad Ok, excellent!

If we could shorten this video more would be great:
* speed up the first 30 seconds to generate the apk by 2 (to 15 seconds)
* Only show the top contributors from Github (take out the last 10 seconds)

Other changes:
* Please use Chromium as a browser to showcase the project
* Please record the fullscreen of the and do not show Apple/MacOS

Other issues:
Currently the m

[2017-03-12 16:42] free4murad commented on #1278
@mariobehling
As #1281 is not merged I will make the changes locally and make a new video.

[2017-03-12 16:42] harshitagupta30 commented on #1275
@the-dagger @mananwason I've tried to make it look better, attaching the screenshots.
![screenshot_20170312-220033](https://cloud.githubusercontent.com/assets/12701036/23833789/b158c87c-0770-11e7-9066-35dbd06616dd.jpg)
![screenshot_20170312-220038](https://cloud.githubusercontent.com/assets/12701036/23833791/bc0bcbf2-0770-11e7-9351-cab6f3cc353a.jpg)
![screenshot_20170312-220043](https://cloud.gith

[2017-03-12 16:42] #1255 closed

[2017-03-12 16:45] #1238 closed

[2017-03-12 16:50] #1280 closed

[2017-03-12 17:28] #1279 closed

[2017-03-12 21:56] arp95 opened #1287 "Providing Sponser images in offline mode"
**Actual Behaviour**

As seen in the screenshot below we need to provide sponser images when in offline mode

**Expected Behaviour**

Providing sponser images in offline mode.

**LogCat for the issue**

-

**Screenshots of the issue**

![17176334_10210726086702768_1663850774_o](https://cloud.githubusercontent.com/assets/8268392/23836355/d1652a76-079c-11e7-8a47-859c0c1b6f30.png)

**Would you like t

[2017-03-12 22:06] arp95 commented on #1277
@the-dagger @mananwason @mariobehling
pr sent. please check!

[2017-03-13 05:11] #1269 closed

[2017-03-13 05:34] iamareebjamal commented on #1264
Some of the resources mentioned here will help -

https://github.com/adamdbradley/foresight.js/wiki/Server-Resizing-Images

[2017-03-13 08:03] vivekkiran opened #1289 "Upgrade to Gradle 3.4.1"
Release Notes: https://docs.gradle.org/3.4/release-notes.html#gsc.tab=0

Pull Request: #1288

[2017-03-13 08:33] free4murad opened #1290 "Reduce size of repo."
We can reduce the size of repository by 24MBs by deleting the unused screenshots and gifs saved in `docs/screenshots` from git history.

@the-dagger @mariobehling @mananwason
What do you think?

[2017-03-13 09:14] Shailesh351 opened #1291 "UI-Improvement : Update Recyclerview to sticky header recycler view"
**Actual Behaviour**

-There is simple Recycler view in App
-item_schedule.xml which is used in ScheduleFragment is not more user friendly.

![schedulefragment_with_sortorder_starttime_before](https://cloud.githubusercontent.com/assets/18264684/23901818/e4b85d02-08e4-11e7-8c9f-b11a67b80d6c.jpg)

![schedulefragment_with_sortorder_tracks_before](https://cloud.githubusercontent.com/assets/18264684/23

[2017-03-13 12:22] Jonsnow21 opened #1293 "No message shown for search with no results"
**Actual Behaviour**

Currently, if the user searches for any tracks, schedule, speakers etc there is no message shown if there are no results that match the query, it just shows a blank screen!

**Expected Behaviour**

There should be a message displaying that there is no result for this query.

**Steps to reproduce it**

Do a random search in the app.

**Screenshots of the issue**

![screenshot_

[2017-03-13 14:50] iamareebjamal commented on #1264
I coded a quick solution for it. Please take a look and test if it fulfills the requirements

https://github.com/iamareebjamal/resizr

[2017-03-13 14:58] free4murad commented on #1264
Actually I myself started writing an API for this.
I will complete in a day.
I was planning to use that

[2017-03-13 16:09] iamareebjamal commented on #1264
OK :+1:

[2017-03-13 17:04] ka7 opened #1294 "Spelling errors in source-code"
**Actual Behaviour**

n/a

**Expected Behaviour**

n/a

**Steps to reproduce it**

n/a

**LogCat for the issue**

n/a

**Screenshots of the issue**

n/a

**Would you like to work on the issue?**

here the patch: #1286

[2017-03-13 17:33] free4murad commented on #1290
I tried resizing the repo using `filter-branch` tool.
The repo size reduced from `59.07MiB` to `42.58 MiB`

![screen shot 2017-03-13 at 10 58 03 pm](https://cloud.githubusercontent.com/assets/17262180/23867204/2f9ef60e-0841-11e7-8186-6bb7fd53929d.png)

[2017-03-13 17:42] ka7 commented on #1290
https://git-scm.com/docs/git-filter-branch

"""WARNING! The rewritten history will have different object names for all the objects and will not converge with the original branch. You will not be able to easily push and distribute the rewritten branch on top of the original branch. Please do not use this command if you do not know the full implications, and avoid using it anyway, if a simple single

[2017-03-13 18:21] iamareebjamal opened #1296 "Add appropriate RTL, symmetry and layout xml fixes"
**Actual Behaviour**

- Currently, many RTL layout attributes are missing in layout xmls
- Some symmetry attributes recommended for RTL rendering are missing
- Layouts are using android:text instead of tools:text for placeholder text
- Other layout fixes are required

**Expected Behaviour**

Issues mentioned above should be solved by using appropriate layout tags and attributes

**Would you like t

[2017-03-13 18:24] free4murad commented on #1296
@iamareebjamal
There is unnecessary nesting in views, you can also fix that.

[2017-03-13 18:25] iamareebjamal opened #1297 "Modify splash screen to run asynchronously"
**Actual Behaviour**

Currently, the splash screen runs for a hardcoded amount of seconds which is actually an anti-pattern in Android.

**Expected Behaviour**

Splash screen should only take as much time as required, i.e, more time on cold start and should jump straight to app on other occasions. The correct way to implement is provided here and was advocated by Google Engineers on GPlus - https:

[2017-03-13 18:27] iamareebjamal commented on #1296
Sure

[2017-03-13 18:54] #1282 closed

[2017-03-13 19:15] harshitagupta30 commented on #1297
Hi @iamareebjamal! As you can see in the code that SplashActivity.java is never used. The link you shared is already implemented in code. You check MainActivity in AndroidManifest for clearance. :+1: This means its not running for hardcoded time.

[2017-03-13 19:23] iamareebjamal commented on #1297
My mistake. :+1:

[2017-03-13 19:23] #1297 closed

[2017-03-13 21:49] mariobehling commented on #1278
@free4murad Issues is fixed now. Cheers.

[2017-03-14 02:22] iamareebjamal opened #1299 "Move the tracks item bookmark and share icon to bottom of the header"
**Actual Behaviour**

Currently, icons occupy the top rather than the title

**Expected Behaviour**

Icons should be at bottom and title should be at top

**Screenshots of the issue**

Actual:
![](https://s24.postimg.org/nr6g13zat/ss2.png)

Expected:
![](https://s24.postimg.org/x48wy7dut/ss12.png)

**Would you like to work on the issue?**

Yes

[2017-03-14 03:43] #1299 closed

[2017-03-14 05:06] shreyasnbhat opened #1300 "App Widget UI improvement"
**Actual Behaviour**
![img1](https://cloud.githubusercontent.com/assets/19890557/23886559/e3212e4e-08a1-11e7-8cba-27dc43f5adae.jpg)

**Expected Behaviour**
![img2](https://cloud.githubusercontent.com/assets/19890557/23886548/d121c6b8-08a1-11e7-9bb7-5651c1cb7668.jpg)

**Steps to reproduce it**
Add widget on Screen

**Would you like to work on the issue?**
Yes.
Sending a PR.

[2017-03-14 06:43] iamareebjamal commented on #1290
Everyone will have to clone the new repo before being able to push

[2017-03-14 07:32] free4murad commented on #1300
The bookmark widget already looks like this.

[2017-03-14 07:34] shreyasnbhat commented on #1300
@free4murad
No it doesn't.

[2017-03-14 07:34] free4murad commented on #1290
Or rebase from the new repo,
What do you think.

On Mar 14, 2017 12:13 PM, "Areeb Jamal" <notifications@github.com> wrote:

[2017-03-14 09:28] free4murad commented on #1300
O sorry, I missed the logo part.

[2017-03-14 10:05] arp95 opened #1301 "Bug in navigation drawer"
**Actual Behaviour**

Currently when we remove all the bookmarks from the bookmarks activity it first displays a dialog box saying "no bookmarks available" and then on clicking "ok" we are taken to the tracks fragment. The problem occurs at this point where the item selected in the navigation drawer is bookmarks but should be tracks.
For more clarity have a look at the screenshots.

**Expected Beh

[2017-03-14 10:28] Shailesh351 commented on #1301
I think instead of showing AlertDialog when there is no bookmarks it will  be better to stick to BookmarkFragment displaying "No Bookmarks"

[2017-03-14 10:52] arp95 commented on #1301
@Shailesh351
please have a look at the issue again. The issue is not about showing dialog or something but its related to the wrong item selection in the navigation drawer.

[2017-03-14 11:02] chiragw15 opened #1302 "App is crashing in map fragment."
**Actual Behaviour**

App is crashing while running map fragment when mobile data is turned on.

**Expected Behaviour**

It shoudld not crash.

**Steps to reproduce it**
1.) Uninstall the app and run it from android studio.
2.) Switch off the wifi and turn mobile data on.
3.) Start the app and go to map fragment. The app will crash.

**LogCat for the issue**
[code]
**Would you like to work on the

[2017-03-14 13:09] iamareebjamal commented on #1290
I have not tried it myself. You can try on a temporary repo and tell. :+1:

[2017-03-14 13:15] iamareebjamal opened #1304 "Remove redundant menu icon tinting in SpeakerDetailsActivity"
**Actual Behaviour**

Share and back menu icon are being tinted unnecessarily in the SpeakerDetailsActivity

**Expected Behaviour**

We now use a shadow scrim to increase visibility of the icons and hence it is not required to tint them. Furthermore, the tinting is redundant currently and they are only tinted white. Also, due to reactive loading of Speaker Details, it may produce NullPointerExcept

[2017-03-14 13:38] Shailesh351 commented on #1291
Will it be fine ?
@the-dagger @mananwason

[2017-03-14 14:41] chiragw15 opened #1306 "Bug in tracks session activity"
**Actual Behaviour**

Currently, when a session is selected in tracks session list, all the sessions of that tracks are added to the array list. Displaying each track multiple number of times.
Suppose a track has A,B,C sessions. When a session from these is selected and then back pressed, The tracks become A,B,C,A,B,C .

**Expected Behaviour**

The size of array list should remain same.

**Steps t

[2017-03-14 16:10] chiragw15 commented on #1291
I think the previous UI was more neat, plus there is not much use of sticky recycler view here. It is more useful in case where recycler has very large number of items. Rest harshit and manan can tell better.

[2017-03-14 16:43] harshitagupta30 commented on #1291
@chiragw15 +1

[2017-03-14 17:02] the-dagger commented on #1291
I'm nor really sure about this.
It looks good to me.
Plus we have a lot of sessions in the schedule so having this is always a good idea. 👍

Plus we have to remember that this app is not specially meant for FOSSASAi summit, this is a template app which will be used for other events as well.

@Shailesh351 You can go ahead with this implementation and send a pull request.
We will review it there.

[2017-03-14 17:05] arp95 commented on #1287
@the-dagger @mananwason
should i provide sponser images in offline mode as described above?

[2017-03-14 17:33] the-dagger commented on #1287
Better just cache it using picasso?
We shouldn't really hardcode anything in the app!

[2017-03-14 20:31] #1291 closed

[2017-03-14 20:41] #1301 closed

[2017-03-14 20:42] #1304 closed

[2017-03-14 20:46] #1277 closed

[2017-03-14 20:48] the-dagger commented on #1289
Any specific benefit that can be gained from this update?
We occasionally update the build tools once a while, so there is no need of this as of now.

Closing this.

[2017-03-14 20:48] #1289 closed

[2017-03-14 22:03] the-dagger opened #1310 "Prepare for release"
@mananwason @championswimmer we need to merge devel into master and publish the apk by today.

Some things which we might look into before doing this :

- Test devel with the merged commits to see if it has any bugs
- Merge devel to master
- Update GPlay and fDroid variants

[2017-03-15 01:54] iamareebjamal commented on #1306
You'll need to add  the following code :
`mSessions.clear()`

before this line:
[TrackSessionsActivity.java:96](https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/java/org/fossasia/openevent/activities/TrackSessionsActivity.java#L96)

As the development is to be merged in master today, I recommend you to commit soon :smile: as it is a very simple but visible bug

[2017-03-15 02:09] Shailesh351 opened #1311 "Bug : On clicking schedule app crashes"
**Actual Behaviour**

On clicking schedule from naigation drawer app crashes because adapter.notifyDataSetChanged() is called before adapter is initialized.

**Expected Behaviour**

It shouldn't crash.

**LogCat for the issue**

`Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.support.v7.widget.RecyclerView$Adapter.notifyDataSetChanged()' on a null object

[2017-03-15 02:31] Shailesh351 commented on #1311
Sorry fixed in #1309

[2017-03-15 02:31] #1311 closed

[2017-03-15 04:08] arp95 commented on #1306
@iamareebjamal
i think he can submit prs even after that. So no need to hurry!

[2017-03-15 04:14] arp95 commented on #1287
@the-dagger
yeah thats also an option. What i thought earlier was provide the sponser images in the drawable folder.
Anyways working on that.

[2017-03-15 04:17] chiragw15 commented on #1306
No worries. I don't have my laptop right now. Will do it in the afternoon :)

[2017-03-15 04:43] vivekkiran commented on #1289
<img width="1232" alt="screen shot 2017-03-15 at 10 10 02 am" src="https://cloud.githubusercontent.com/assets/5557539/23933881/98b289a4-0967-11e7-8441-bbfb1474264b.png">

@the-dagger One of the major benefits is Faster and Stable incremental compilation, compared to all previous builds, I have tested it locally also, and from this build onwards incremental compilation is no longer incubating and i

[2017-03-15 06:11] iamareebjamal commented on #1306
:+1:

[2017-03-15 06:43] arp95 opened #1312 "App crashing in SpeakersDetail Activity"
**Actual Behaviour**

Currently on clicking some speakers in the SpeakersFragment the app is crashing as seen in the log posted below.

**Expected Behaviour**

Ensuring the SpeakerDetailActivity opens without making the app crashing.

**Steps to reproduce it**

1. Go to the SpeakersFragment
2. Now over there click on the speakers to view their detail and it is seen in some the detail screen opens

[2017-03-15 07:30] iamareebjamal opened #1315 "Make refresh action asynchronous"
**Actual Behaviour**

Refresh action blocks the UI and almost 120 frames are skipped each time refresh is done. This is because the network connection checking mechanism is blocking in nature and requests network to return response which may take huge amount of time.

**Expected Behaviour**

Listener present in NetworkUtils should be modified to include active and inactive connection callbacks and

[2017-03-15 07:58] iamareebjamal commented on #1312
`loadSpeakerImage` should have never been called when selected speaker is not loaded from the observable. I think in one of the recent commits, someone has assumed the loading of speaker is synchronous. A better approach would be to move the network util listener inside the subscribe method [here](https://github.com/arp95/open-event-android/blob/5a51f64428f354e21939de930562c354765fc90c/android/app

[2017-03-15 08:12] arp95 commented on #1312
@iamareebjamal
actually this work was done by me. I have resolved it but will have a look at your described method later.

[2017-03-15 09:03] iamareebjamal commented on #1312
:+1:

[2017-03-15 09:04] #1315 closed

[2017-03-15 09:05] #1287 closed

[2017-03-15 09:05] #1312 closed

[2017-03-15 09:29] #1306 closed

[2017-03-15 10:40] iamareebjamal commented on #1310
There's a broadcast leak in `SpeakerDetailsActivity`, but no crash ->

[code]

[2017-03-15 12:08] vivekkiran opened #1318 "Using Greenrobot Event Bus Instead of Otto"
I would like to migrate from Otto to Greenrobot Eventbus 3 in this project, since Otto is is deprecated and discontinued in favor of better alternatives, EventBus is a good alternative to Otto, EventBus can do some Android specific tricks, which other implementations don't support. First, there is main thread support to conveniently switch threads.Second its performance was optimized especially fo

[2017-03-15 13:04] arp95 opened #1319 "Bug in the BookmarksFragment"
**Actual Behaviour**

On removing all the bookmarks from the bookmarksFragment we observe a behaviour as described in the screenshot below.

**Expected Behaviour**

Loading the TracksFragment when the bookmarksFragment becomes empty

**Steps to reproduce it**

1. Add two to three bookmarks
2. Now remove all the bookmarks from the bookmarksFragment
3. You would observe an empty bookmarksFragment wh

[2017-03-15 13:15] iamareebjamal opened #1321 "Image load issue in Speaker Detail Activity"
**Actual Behaviour**

An issue in SpeakerDetailActivity exists both in my PR #1320  and current repo:

Go to any track and open Speaker Detail Activity before the image in track activity is loaded.
Detail activity shows the loading of image but it doesn't complete while the loading in track activity is completed.
If you press back button, you can see the image loaded in track activity. If you clic

[2017-03-15 13:16] iamareebjamal commented on #1310
An issue exists in Speaker Detail : #1321

[2017-03-15 13:28] arp95 commented on #1321
@iamareebjamal
taking up the issue

[2017-03-15 14:01] amitiwary999 opened #1323 "Bug related to Bookmark"
**Actual Behaviour**

Bookmark status not updated in sessiondetail activity

**Expected Behaviour**

State here what the feature should enable the user to do.

**Steps to reproduce it**

As shown in screenshot step by step
1. Open any track and bookmark session
2. click on that session to open sesssion detail
3. click on speaker image in sessiondetail activity to open speaker detail activity and u

[2017-03-15 14:06] arp95 commented on #1323
@amitiwary999
i tried your methods but its working fine.
i have taken this issue long back and solved it by placing the required code in onResume(). Please check again.

[2017-03-15 14:08] arp95 commented on #1321
@iamareebjamal
actually i think we can do very little in this. The point being the images are loaded using picasso so that loading sign actually indicates image being loaded through picasso and thus there shouldnt be any issue from the app point of view.

[2017-03-15 14:15] amitiwary999 commented on #1323
@arp95 There is no OnResume method in sessiondetail activity and this problem is related to sessiondetail  activity.

[2017-03-15 15:36] iamareebjamal commented on #1321
But the point is that the image is downloaded but not shown until returning back to the activity. It's a bug.

The progress bar keeps loading indefinitely in some cases

[2017-03-15 16:31] championswimmer commented on #1310
@the-dagger @mananwason have you physically tried out app on devel branch on your phones ?

[2017-03-15 16:42] rohanagarwal94 commented on #1099
@mananwason @the-dagger closing this issue since twitter will reject the app since the banner will directly be promoting the application. See [this](https://docs.fabric.io/unity/twitter/app-card-composer-usage-guidelines.html)

[2017-03-15 16:42] #1099 closed

[2017-03-15 17:42] #1260 closed

[2017-03-15 17:42] #1198 closed

[2017-03-15 17:47] mananwason commented on #1310
Yes @championswimmer. I did try it on my phone, works fine for me right now. Let me upload another apk into beta using generator.

[2017-03-15 17:48] mananwason commented on #1300
Go ahead @shreyasnbhat

[2017-03-15 17:49] #1294 closed

[2017-03-15 17:49] mananwason commented on #1293
Go ahead

[2017-03-15 17:51] mananwason commented on #1278
@free4murad status?

[2017-03-15 17:53] mananwason commented on #1264
@free4murad status?

[2017-03-15 17:54] free4murad commented on #1264
I am working on# 1244
Will send a PR asap

[2017-03-15 17:56] #1240 closed

[2017-03-15 17:56] free4murad commented on #1278
@mananwason
I thought this has been fixed.
If you want I can make a new one.

[2017-03-15 17:58] #1124 closed

[2017-03-15 18:50] arp95 opened #1326 "Displaying cached images using Picasso"
**Actual Behaviour**

Earlier in my issue i used Picasso to display cached images in SponserFragment. Extending that to all the parts having images.

**Expected Behaviour**

Display cached images when offline.

**Would you like to work on the issue?**

yes.

[2017-03-15 19:09] mariobehling commented on #1278
Any new video available?

[2017-03-15 19:10] free4murad commented on #1278
@mariobehling
I will make a new one, how mush time do I have?

[2017-03-15 19:26] iamareebjamal commented on #1326
I recommend using synchronous observable method from NetworkUtils so that UI doesn't block when checking for connection.

See [this](https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/java/org/fossasia/openevent/adapters/SponsorsListAdapter.java#L95)

Also, cancel the Picasso operation by tag if loading asynchronously. If we use if-else approach then immediate cac

[2017-03-15 23:59] the-dagger commented on #1310
Works well for me too. 👍
The generator has some issues tho, with package being corrupt.
I've asked niranjan and he said he'll take a look at it.

[2017-03-16 03:47] #1300 closed

[2017-03-16 04:48] mariobehling commented on #1278
Thanks. Please provide it as a downloadable file.

[2017-03-16 09:01] chiragw15 opened #1331 "Layout Breaking in landscape mode"
**Actual Behaviour**

![screenshot_20170316-142134](https://cloud.githubusercontent.com/assets/16978820/23988566/ca4fb0ca-0a54-11e7-8260-1883bc5a088c.png)

![screenshot_20170316-142147](https://cloud.githubusercontent.com/assets/16978820/23988584/db25fe7c-0a54-11e7-8f0e-c115e896be8c.png)

![screenshot_20170316-142156](https://cloud.githubusercontent.com/assets/16978820/23988593/e13b8606-0a54-11e7-

[2017-03-16 09:20] iamareebjamal opened #1332 "Change speaker layout in Session Detail"
**Actual Behaviour**

Speaker layout in session detail is like this :

![](https://s22.postimg.org/ghnb5x1gx/ss15.png)

More than one speakers take vertical space

**Expected Behaviour**

This is a better look where vertical recycler view contains the speakers

![](https://s3.postimg.org/oia9lwaer/ss13.png)
![](https://s3.postimg.org/3mnzane7n/ss12.png)

**Would you like to work on the issue?**

Y

[2017-03-16 10:01] #1332 closed

[2017-03-16 15:50] #1321 closed

[2017-03-16 18:24] #1244 closed

[2017-03-17 04:03] #1275 closed

[2017-03-17 04:25] arp95 commented on #1319
Closing this.

[2017-03-17 04:25] #1319 closed

[2017-03-17 04:26] harshitagupta30 opened #1338 "About Screen not getting updated after downloading the data"
**Actual Behaviour**

Currently, the about screen is not getting updated itself when the data is downloaded.

**Expected Behaviour**

It should get updated by itself after data gets loaded.

**Would you like to work on the issue?**

@mananwason I am sorry, somehow I missed it but correcting it now and sending PR for the same.

[2017-03-17 06:35] andyli opened #1341 "App crashes if previous event data is used"
I've installed the app a few days ago, when the 2017 data is still not yet available.
I updated the app today since I noticed you released a new version, so I have v1.0.1 now.
When I launch the app, it displays the FOSSASIA logo briefly and crashes. The error message from logcat:
[code]

This should be related to the data the app got when I first installed and opened the app a few days ago. So I c

[2017-03-17 06:39] mananwason commented on #1341
Hi Andy. We have noticed that crash and have uploaded an update for this.
It should be live soon.

On Fri 17 Mar, 2017, 2:35 PM Andy Li, <notifications@github.com> wrote:

--
*Regards,*
*Manan Wason*
*4th year, B.tech - CSE*
*Indraprastha Institute of Inf. Tech. (IIIT) Delhi*
*Okhla, Phase-III, New Delhi-110020, INDIA*
*Website: www.mananwason.me <http://www.mananwason.me/>*

[2017-03-17 07:43] mananwason opened #1342 "Sort tracks based on time by default"
**Actual Behaviour**

Right now tracks are sorted alphabetically by default
**Expected Behaviour**

Should be sorted on the basis of time

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place where the feature should be implemented. Add links to a sample deployment or code.

**LogCat for the issue**

Provide logs for the crash here

**Screenshots of the issue**

W

[2017-03-17 07:49] free4murad commented on #1342
Are you working on this or should I?

[2017-03-17 09:52] amitiwary999 commented on #1342
@mananwason  I would like to work on this.

[2017-03-17 20:44] free4murad commented on #1342
@mananwason

I thought that you were talking about the sessions in the DayScheduleFragment. (The sessions in `DayScheduleFragment` are by default sorted by name. Sorting them by time will make sense as the idea behind the fragment is that telling the attendee the schedule of the event.)

The issue that you have raised
Sorting the Tracks according to the start time is not possible.
In a track there

[2017-03-17 20:49] free4murad opened #1344 "Sort sessions based on start time."
**Actual Behaviour**
In `DayScheduleFragment` the sessions by default are sorted alphabetically.

**Expected Behaviour**
Its better if we sort the sessions by start time because that will give the user a clear sense which session is happening when (Which is the basic idea behind the fragment).

I am sending a PR for this.

[2017-03-17 21:11] free4murad opened #1345 "Sort in DayScheduleFragment not implemented properly."
**Actual Behaviour**

In `DayScheduleFragment` we have two options to sort sessions, by `Start Time` and `Tracks`.
But when the user selects the `Tracks` option the sessions are sorted alphabetically not according to the Tracks.

**Expected Behaviour**

The sessions should be sorted based on the track they belong to not alphabetically.

I am sending a PR for this.

[2017-03-18 04:18] harshitagupta30 commented on #1345
@free4murad I know you've created the issue but if you don't mind I've made changed in sort as well as the sticky header. Please, can I send the PR? :)
![screenshot_20170317-211248](https://cloud.githubusercontent.com/assets/12701036/24068883/f07e362e-0bbf-11e7-8a8d-3089309a8847.jpg)
![screenshot_20170317-211220](https://cloud.githubusercontent.com/assets/12701036/24068882/f0602616-0bbf-11e7-94df-

[2017-03-18 07:07] free4murad commented on #1345
@harshitagupta30
Actually I have already solved the issue and making the PR just now.

[2017-03-18 13:22] pranaypatel512 opened #1349 "Refactor MainActivity code for Fragment Transaction"
1. Refactor MainActivity code

**Actual Behaviour**

In MainActivity code, there is a Fragment Transaction code in navigation menu click. In every case code is repeated.

**Expected Behaviour**

Need to create common method for common Fragment Transaction code.

**Would you like to work on the issue?**

Yes

[2017-03-18 14:54] tpltnt opened #1350 "show next session per room"
**Actual Behaviour**

When I am attending a session in a room, I don't get information on what is coming up.

**Expected Behaviour**

It would be nice to have know about the next session in the current room (so I might stay) or even which ones are coming up (so I can go somewhere else).

**Steps to reproduce it**

Use the app when a session ends. (Yes, nothing happens.)

[2017-03-18 14:59] tpltnt opened #1351 "indoor navigation"
Hi there,

the Science Center in Singapore can be a bit of a maze to everyone who is new and wants to change rooms quickly (or even find them). The Chaos Computer Club has (has) an indoor navigation system for their annual conference, since the location had similar issues. You can find the repository [here](https://github.com/c3nav/c3nav-32c3) so it might be worth looking at and adapting.

Cheers,

[2017-03-18 15:03] tpltnt opened #1352 "missing notifaction on events bookmarked"
**Actual Behaviour**

I bookmark an event and nothing happens to notify me. I missed a few sessions due to this.

**Expected Behaviour**

It was promised that the app notifies you at least 10 min. before a session you bookmarked starts
(e.g. via vibration).

**Steps to reproduce it**

Bookmark an event in the future, wait until the scheduled time and be sad about the missing notification.

Cheers,

[2017-03-18 15:05] free4murad commented on #1352
Thanks for reporting the bug, we will update the app soon.

[2017-03-18 15:06] tpltnt commented on #1352
You're welcome.

[2017-03-18 15:29] krt16s opened #1353 "Building fails for 1.0.1"
Some translations exists for un-translatable strings, but the main problem is:

[code]

Complete excerpt:

[code]

[2017-03-18 16:15] the-dagger commented on #1353
Hey,
This is probably due to a faulty commit from our side.
Most of the contributors are busy in the fossasia summit, so if you feel
like sending a pull request, feel free to do so!

The error is explicitly mentioned in the logs and will be visible in the
IDE so that would be pretty easy to fix!

[2017-03-18 16:17] the-dagger commented on #1350
Thank you for the feedback.
yeah this does makes sense, probably something like a dialog telling you about the next event in a particular room would be a nice idea. :+1:

[2017-03-18 16:18] the-dagger commented on #1351
We were looking for something similar since for a while now and the linked repository looks promising.
Thanks a lot!

[2017-03-18 19:16] pranaypatel512 commented on #1353
@krt16s : I have same code and just uncomment `nav_home` option from menu **drawer.xml**.

[2017-03-19 06:47] #1241 closed

[2017-03-19 09:00] iiecdev opened #1356 "bad link for Styles Settings Jar in codestyle.md"
Getting file not found for Styles Settings Jar download [link](https://dl.dropboxusercontent.com/u/10123399/fossasia_codestyle.jar) in [codestyle.md](https://github.com/fossasia/open-event-android/blob/development/docs/codestyle.md)

[2017-03-19 10:01] utkarshnath opened #1357 "grid from location fragment should be removed"
**Current**

![screenshot_20170319-124210](https://cloud.githubusercontent.com/assets/12716067/24079832/c45f8536-0cb7-11e7-891d-ad51f6f4519f.png)

[2017-03-19 18:50] arp95 commented on #1357
@utkarshnath
when the issue is not about solving bugs please wait for mentor approval and then proceed.

[2017-03-20 14:58] iamareebjamal opened #1361 "Provide visual cue to click on borderless buttons"
**Actual Behaviour**

No visual cue or touch feedback happens when any borderless button or image is clicked

**Expected Behaviour**

A ripple with no border should be emitted on click of borderless items
![](https://s14.postimg.org/t7mmra1dt/device_2017_03_20_202430.png)

**Would you like to work on the issue?**

Yes

[2017-03-20 15:28] #1361 closed

[2017-03-20 16:40] #1357 closed

[2017-03-20 18:10] #1344 closed

[2017-03-22 08:58] #1331 closed

[2017-03-25 08:27] Shailesh351 opened #1365 "Code for action bar scrolling is redundant and action bar should always be expanded"
**Actual Behaviour**
Code for action bar scrolling is redundant
 that is

- setting scroll flags for toolbar in *Fragment.java

`tracksRecyclerView.getViewTreeObserver().addOnPreDrawListener(new ViewTreeObserver.OnPreDrawListener() {
            @Override
            public boolean onPreDraw() {
                toolbar = (Toolbar) getActivity().findViewById(R.id.toolbar);
                layoutPar

[2017-03-25 08:49] Shailesh351 commented on #1365
It will also be good for further feature like Fast Scroll

[2017-03-25 08:53] harshitagupta30 commented on #1365
@Shailesh351 Thanks for your input! But in my opinion, if I am transitioning to some screen, in the back of my mind it would be there that I am on that particular page. So I don't think to expand action bar always is a good option. According to material design guidelines, the action bar should collapse on the scroll. Also, please wait for mentor's review before sending PR 👍

[2017-03-25 09:07] Shailesh351 commented on #1365
@harshitagupta30 There are two scrolling options : 1) scroll off-screen 2) stay fixed at the top.
And I think in our case it will be appropriate to choose 2nd option because We are using StickyHeaders in recycler view .

https://material.io/guidelines/patterns/scrolling-techniques.html#scrolling-techniques-behavior

[2017-03-25 09:19] Shailesh351 commented on #1365
@the-dagger please look at this

[2017-03-28 15:57] rohanagarwal94 opened #1366 "Update apk branch readme"
**Actual Behaviour**

The apk branch readme is out of sync with development branch readme.

**Expected Behaviour**

The readme should be updated to the development branch readme.

**Screenshots of the issue**

![screenshot from 2017-03-28 21-25-59](https://cloud.githubusercontent.com/assets/13241256/24414888/48d450b6-13fd-11e7-9e2e-c068574a7231.png)

**Would you like to work on the issue?**

Yes,

[2017-03-29 18:53] RamolaWeb opened #1367 "Toolbar is Not Collapsing while Scrolling by touching the Speaker Image"
**Actual Behaviour**

The  Toolbar On the Activity to Show The Detail of the Events is not Collapsing when the user scroll by touching the image of the Speaker. The Content of the event moves down below the toolbar and the Toolbar remain in the state of Expand.

**Expected Behaviour**

The Collapsing toolbar should collapse when user scroll by touching the image of the Speaker.

**Would you like t

[2017-03-30 11:05] free4murad opened #1368 "Fix maillist link in readme.md"
The mailing list link image in readme.md is not a hyperlink.

Sending a PR for this.

[2017-03-30 18:17] RamolaWeb opened #1372 "Back Button does not work in Section Other than Tracks"
**Actual Behaviour**

When the user click on the Back Button of the Schedule , Bookmarks , Speakers , Sponsors and Locations Section , it does not lead to the Tracks Section as it is the starting section of the App and nothing happen when the user click on the Back Button of these Section .

**Expected Behaviour**

Thus when the user press the back button on the above mention sections , it should

[2017-03-31 04:16] RamolaWeb opened #1374 "Bottom navigation to navigate between the different section"
**Actual Behaviour**

In order to navigate between the different sections like Schedule , Bookmarks and Map ,
The user need to open the navigation drawer and then navigate through the section.

**Expected Behaviour**

We can implement the **Bottom navigation** in the App to provide an easy to navigate between the different section.

**Steps to reproduce it**
We will be using the Bottom Bar Navigat

[2017-03-31 07:48] arp95 opened #1375 "Adding a notes section in the app"
**Actual Behaviour**

Currently there is no place for the user to write questions and use them during the Q and A session of the event later on.

**Expected Behaviour**

Adding  a notes section in the app, the user will be able to write all the questions thwy have with the speaker and later ask them during the Q and A session during the event.

**Screenshots of the issue**

![17622384_102108849566

[2017-03-31 08:29] RamolaWeb opened #1377 "Feedback Section of the Entire Event"
**Actual Behaviour**

Currently there is no such feature for the participant of the event to give feedback about the entire  event in the app. Thus participants cannot  give valuable feedback to the organizer of the event.

**Expected Behaviour**

There must be a section regarding the Feedback where the organizer can raise some multiple choice question regarding the event and then each user can gi

[2017-03-31 11:04] iamareebjamal commented on #1377
Until there is a feature like that on the server, we can't do much about it. Think of it this way:
- Who is authorised to post feedback (people with ticket? any authenticated user? what should be the mode of authentication?)
- Who is authorised to monitor the feedback?
- How are feedbacks sent to server (they can't until there's an API for it)

In short, there needs to be various steps between bei

[2017-03-31 11:05] iamareebjamal commented on #1375
Like #1377, unless server supports it, we can't do anything. We should remember that the Android App is driven by the server, not the other way around. Basically, there needs to be 1:1 correspondence with the server specification API

[2017-03-31 11:08] iamareebjamal commented on #1374
Bottom Navigation works generally well if you have 3-5 sections where all are fragments in single activity, but, we also have activities, dialogs and other segments in the navigation bar. In my opinion, converting that to bottom navigation won't be a good idea, although, the internal navigation of tabs is an ideal replacement candidates. Having said that, let's see what the mentors think

[2017-03-31 11:13] arp95 commented on #1375
@iamareebjamal
please have a look at the issue again. I am not requiring the notes to be stored in the server instead i want the notes of the user to be used as a reference by him/her for questions to speakers during the event .
will postthe screenahot as soon as i reach home.

[2017-03-31 11:20] Shailesh351 commented on #1374
@RamolaWeb , @iamareebjamal  is right . Bottom navigation is good for app where user is switching between less fragments, but in our app we have more fragments. Also it will be not user friendly because there will be only icons in bottom navigation.

[2017-03-31 11:37] iamareebjamal commented on #1375
That seems to be a nice feature :+1:

[2017-03-31 11:52] iamareebjamal opened #1378 "Fix Widget Layout and deprecations"
There are certain issues pertaining to the widget layout:
- Appcompat Vector Drawables don't work on RemoteViews making icon not visible pre-lollipop
- There are several RTL and layout issues in XML and code

**Expected Behaviour**
- Vector Drawable should be replaced with a raster
- Deprecation should be removed

**Would you like to work on the issue?**

Yes

[2017-03-31 13:08] iamareebjamal opened #1382 "Hide track description if not present"
**Actual Behaviour**

Even if the track description is absent, it's still shown, making the item look asymmetric

**Expected Behaviour**

We should hide the track description if empty

**Screenshots of the issue**

Before
![](https://s17.postimg.org/e5ahrgvi7/device-2017-03-31-183530.png)

After
![](https://s17.postimg.org/5ofkuag73/device-2017-03-31-183449.png)

**Would you like to work on the is

[2017-03-31 13:20] #1382 closed

[2017-03-31 13:23] #1378 closed

[2017-03-31 13:24] the-dagger commented on #1365
I think that this makes sense.
During the session, many people were unable to see the search and sort option just because they were hidden on scroll.

@mananwason your thoughts?

[2017-03-31 14:34] Shailesh351 opened #1384 "There should be fast scroller in recycler views"
There are recycler views in app without fast scroller. Adding fast scroller in app will help user to scroll quickly.

**Would you like to work on the issue?**

Yes

[2017-03-31 15:42] RamolaWeb commented on #1374
@iamareebjamal  @Shailesh351  My proposal is to implement the bottom navigation for the sections like Schedule, Bookmarks , Tracks and Location in the bottom bar navigation as they are frequently being used in the app. This design is generally being used now a day to ease user experience. It will be user friendly as we can add text too .

[2017-03-31 16:29] free4murad commented on #1374
@RamolaWeb
Although some apps have done this but they are totally different apps. I dont think having both NavigationDrawer and BottomNavigation is a good idea.

Lets see what the project maintainers think.

[2017-03-31 16:34] the-dagger commented on #1374
According to google, if you have more than 4-5 sections, you are better off using a navigation drawer instead.
Since we have more than 5 sections, using a BottomNavigationBar isn't an option here.
Also if you suggest on combining both, then that isn't a promoted action either.
So closing this for now.

[2017-03-31 16:34] #1374 closed

[2017-03-31 17:31] arp95 commented on #1375
@mananwason @mariobehling
please review!

[2017-03-31 18:28] arp95 opened #1386 "Getting user location for Map Activity"
**Actual Behaviour**

Right now the Map Activity doesnt have useful features which can provide more interaction with users.

**Expected Behaviour**

Currently I want to get the users location to use that ahead for many applications in Map Activity.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

@the-dagge

[2017-04-01 09:56] arp95 commented on #1386
I think getting location using gps over here would be optimal as for the location using location fused api i would need a google-services.json from your end.
For now getting location using gps should be enough.
any views?

[2017-04-01 18:38] amitiwary999 opened #1389 "App crashes if map is selected from nav drawer."
**Actual Behaviour**

App crashes if map is selected from navigation drawer.

**Expected Behaviour**

State here what the feature should enable the user to do.

**Steps to reproduce it**

If app is already installed then uninstall it and install it again. Then select map from navigation drawer.

**LogCat for the issue**

04-01 23:11:51.535 25451-25451/org.fossasia.openevent D/AndroidRuntime: Shutt

[2017-04-02 07:50] iamareebjamal opened #1391 "Improve Speaker Detail Collapsing Toolbar Layout"
**Actual Behaviour**

- The Speaker designation and organisation formatting leads to asymmetric layout
- The gradient scrim is too dark and doesn't protect toolbar icons

**Screenshots of the issue**

Before
![](https://s30.postimg.org/9qerf7s3l/device-2017-04-02-132813.png)
![](https://s30.postimg.org/7n4c7jsap/device-2017-04-02-132609.png)
![](https://s30.postimg.org/44scb5rep/device-2017-04-02-

[2017-04-03 05:46] iamareebjamal opened #1394 "Update README with latest screenshots"
**Actual Behaviour**

ReadMe features old screenshots of app

**Expected Behaviour**

Latest screenshots of the application should be featured

![ss1](https://cloud.githubusercontent.com/assets/3874064/24597065/ffaf7042-1860-11e7-993c-dc4a5c611362.png)
![ss2](https://cloud.githubusercontent.com/assets/3874064/24597069/047279b2-1861-11e7-8ce0-e7eca9ecd9d0.png)
![ss3](https://cloud.githubusercontent

[2017-04-03 12:18] free4murad commented on #1394
@iamareebjamal
please use images from GitHub cloud no need to unnecessarily bloat the repository by uploading new images.

[2017-04-03 14:34] iamareebjamal commented on #1394
That's why I have uploaded the images in issue itlself

[2017-04-03 14:50] free4murad commented on #1394
Great
+1

[2017-04-04 13:41] free4murad commented on #1368
Closing this.
Fixed by @iamareebjamal in PR #1395

[2017-04-04 13:41] #1368 closed

[2017-04-05 11:55] iamareebjamal opened #1396 "Use stetho for debugging"
Open Event Android relies heavily on 2 components :
- Network
- SQLite Database

Both of which are hard to debug right now. Not to mention the inconsistent state of download or updating of database leads to many problems and is un-debuggable as of now.

Use of stetho will provide us :
- Live profiling of network requests and response
- Direct access, retrieval, and on the go modification of data s

[2017-04-08 11:49] Shailesh351 opened #1397 "Method names should be meaningful and in camel case"
**Actual Behaviour**

Some method names for database operations are not meaningful and not in camel case. like,

- getSessionbyTracksname : it actually returns array of sessions for particular track so method name should be  getSessionsByTrackName.

- getSessionbySpeakersname : it actually returns array of sessions for particular speaker so method name should be  getSessionsBySpeakerName.

- getTr

[2017-04-09 05:20] viveksb007 opened #1399 "API_KEY exposed in Travis logs"
**Actual Behaviour**

GITHUB_API_KEY exposed in Travis logs

**Expected Behaviour**

Shouldn't be logged

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

![screenshot from 2017-04-08 20-15-52](https://cloud.githubusercontent.com/assets/12713808/24834991/548996e6-1d12-11e7-9150-c1ab1dc66b8c.png)

**Would you like to work on the issue?**

@the-dagger Could you look

[2017-04-09 07:33] the-dagger commented on #1399
Ok sure
Thanks for the heads up.

On Sunday, April 9, 2017, Vivek Singh <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2017-04-10 16:53] #1394 closed

[2017-04-10 16:53] #1391 closed

[2017-04-10 16:54] #1389 closed

[2017-04-11 06:13] #1397 closed

[2017-04-11 06:20] #1264 closed

[2017-04-11 17:08] iamareebjamal opened #1400 "Remove personalised file template comments"
**Actual Behaviour**

Project files have numerous file creation templates with the name of authors

**Expected Behaviour**

These comments should be removed to maintain project neutrality and clean code format

**Screenshots of the issue**

![screenshot_20170411_223751](https://cloud.githubusercontent.com/assets/3874064/24921196/986e3208-1f07-11e7-9b08-ec835b75398a.png)

**Would you like to work o

[2017-04-11 17:35] harshitagupta30 commented on #1396
@iamareebjamal It's always recommended and considered good practice having maintainer's permission to add any enhancement to code and repository. You could have wait for the approval before sending the PR. :+1:

[2017-04-11 17:52] iamareebjamal commented on #1396
@harshitagupta30 I implemented the feature in order to show the screenshots. Once I implemented it, I thought I'd send the pr to prevent communication lag if enhancement is accepted. It could always be cancelled if rejected.
However I agree with your point and will keep it in mind from next time onwards.

[2017-04-11 18:30] harshitagupta30 opened #1402 "App getting crashed"
**Actual Behaviour**

After merging the PR #1371, the app is getting crashed on clicking speakers from navigation drawer.

**Expected Behaviour**

App should not crash.

**Steps to reproduce it**

Take the pull of the latest code. Run the app and click on the speakers in navigation drawer, the app will get crashed.

**LogCat for the issue**

Caused by: android.database.sqlite.SQLiteException: no s

[2017-04-11 20:02] the-dagger commented on #1402
Tried running the app, it works fine for me.
Probably @iamareebjamal forgot to update the db version after making changes in the contract.
Clean install should fix it.

[2017-04-11 20:03] the-dagger commented on #1402
Though the app is crashing on clicking OSM fragment, you might want to take a look at that

[2017-04-11 20:07] #1396 closed

[2017-04-11 20:08] #1372 closed

[2017-04-11 20:42] iamareebjamal commented on #1402
I opened similar issue back when short biography was added in database. Database version remains constant over the time schema changes. I didn't change the version following the convention from old commits. Simple workaround is to clear the data.

If required, it would be better to increment db version for each schema change as suggested by me earlier

[2017-04-11 21:11] #1302 closed

[2017-04-11 21:11] #1310 closed

[2017-04-11 21:11] #1318 closed

[2017-04-11 21:11] #1338 closed

[2017-04-11 21:11] #1341 closed

[2017-04-11 21:11] #1349 closed

[2017-04-11 21:11] #1366 closed

[2017-04-11 21:11] #1399 closed

[2017-04-11 21:11] #1400 closed

[2017-04-11 21:12] the-dagger commented on #1400
I think it is ok for now, no need to change this

[2017-04-11 21:12] #1402 closed

[2017-04-11 21:13] #1195 closed

[2017-04-11 21:13] #1227 closed

[2017-04-11 21:13] #1278 closed

[2017-04-11 21:13] #1290 closed

[2017-04-11 21:13] #1293 closed

[2017-04-11 21:13] #1353 closed

[2017-04-11 21:22] the-dagger commented on #1384
Um, not really sure if we need this.
We already have headers and that should suffice well enough.

Thanks for this though.

[2017-04-11 21:22] #1384 closed

[2017-04-11 21:24] the-dagger commented on #1367
@RamolaWeb status?

[2017-04-11 21:25] the-dagger commented on #1356
Removed it, thanks.

[2017-04-11 21:25] #1356 closed

[2017-04-11 21:27] RamolaWeb commented on #1367
@the-dagger  I am sending the pull request

[2017-04-11 21:32] #1345 closed

[2017-04-11 21:33] the-dagger commented on #1342
Any status on this?
We just need the sessions in schedule to be sorted by start time by default.

[2017-04-11 21:35] the-dagger commented on #1323
@amitiwary999 status?

[2017-04-11 21:38] the-dagger commented on #1386
@arp95 I think that instead of tracking user's location in out app, we can simply delegate this to Maps application itself.

Simply allow the user to open maps and navigate to the event from the MapFragment.

What say?

[2017-04-11 21:41] the-dagger commented on #1302
Not sure if I am able to reproduce this issue!

[2017-04-11 22:06] RamolaWeb opened #1404 "App Crashed While Opening The EventList of Bookmarks , Tracks Sections"
**Actual Behaviour**

App Crashed when Opening the The Event List in the Section Like Bookmarks, Tracks, Schedule . The error which is given in the log is that there is no such column **Thumbnail** in the SQLite Database.

**Expected Behaviour**

There must be a **Thumbnail** column in the SQLite Database to avoid such crash or we should make some checks to avoid such crash.

**LogCat for the issu

[2017-04-11 22:09] the-dagger commented on #1404
@RamolaWeb take a look at #1402

[2017-04-11 22:09] #1404 closed

[2017-04-11 22:23] iamareebjamal opened #1405 "Make UI follow Track Color"
**Actual Behaviour**

Currently, we generate random track colors and UI features primary color throughout

**Expected Behaviour**

UI should follow specific track colors

**Screenshots of the issue**
![device-2017-04-12-035119](https://cloud.githubusercontent.com/assets/3874064/24933336/7ceffe9a-1f33-11e7-8ee2-5e3c5598b6fb.png)
![device-2017-04-12-035140](https://cloud.githubusercontent.com/assets

[2017-04-11 22:50] free4murad commented on #1342
@the-dagger
I if am able to understand you correctly then I have solved this in #1346

[2017-04-11 23:41] omar753sahl opened #1407 "SessionDetailActivity AppBarLayout doesn't collapse when scrolling up from specific views in the layout"
**Actual Behaviour**

In the SessionDetailActivity the appBarLayout doesn't collapse when scrolling up.

**Expected Behaviour**

the appBarLayout should collapse whenever the user scrolls up.

**Steps to reproduce it**

to reproduce it you just scroll up with your finger on the speaker image.

**Screenshots of the issue**

![device-2017-04-12-013417](https://cloud.githubusercontent.com/assets/2046

[2017-04-12 03:28] Shailesh351 opened #1409 "App crashing when first time running app without latest schedule in ScheduleFragment"
**Actual Behaviour**

App is crashing when first time running app without latest schedule in Schedule Fragment.
There are methods which returns null object, which leads to App crashing.

**Expected Behaviour**

App shouldn't crash and check object whether it is null or not before using it.

**Steps to reproduce it**

- Clear App Data from App Info --> Storage --> Clear Data or Uninstall and reinst

[2017-04-12 03:38] Shailesh351 opened #1410 "Visibility of NoScheduleTextView is not handled properly in Day Schedule Fragment"
**Actual Behaviour**

NoScheduleTextView is visible even if SessionList is not empty when first time running app without latest schedule data in Schedule Fragment.

Same problem occurs when there is no sessions in sessions table in database.

**Expected Behaviour**

Visibility should be properly managed.
Visibility of NoScheduleTextView should be gone when SessionList is not empty

**Steps to repr

[2017-04-12 06:12] arp95 commented on #1386
@the-dagger
if only navigation is concerned you are right. but i was planning to show the nearby locations like hotels etc. near the event location on thr map. For this i am taking the users location first and then will use it for the use case above.

[2017-04-12 12:25] #1367 closed

[2017-04-12 14:23] the-dagger commented on #1342
Yes, it has been fixed, thanks

[2017-04-12 14:23] #1342 closed

[2017-04-13 11:07] #1409 closed

[2017-04-13 11:08] #1365 closed

[2017-04-13 14:55] amitiwary999 commented on #1323
@the-dagger I was waiting for your confirmation. I will send PR very soon.

[2017-04-13 16:00] the-dagger commented on #1323
No need to wait for confirmation on bug reports, you can proceed directly!

[2017-04-13 16:10] chiragw15 opened #1412 "Adding feature to filter schedule based on tracks"
**Actual Behaviour**

Right now we can see schedule of event, search from it and sort it. We can add one more feature to filter it.

**Expected Behaviour**

We can filter the schedule based on the tracks. User can select tracks from list and only the schedule of those tracks will be displayed.

Implementation : We can keep the search option on action bar and move the sort and filter option to floa

[2017-04-13 18:27] #1323 closed

[2017-04-14 13:56] Shailesh351 opened #1414 "Add sort by tracks feature in Schedule"
**Actual Behaviour**

There are two option for sorting `Start Time` and `Tracks`. But `Tracks` sorts sessions by Title.

**Expected Behaviour**

`Tracks` should sort sessions by Tracks. And dialog should display option for sorting sessions by title.
So there will be total three options

- Title
- Tracks
- Start Time

**Screenshot**
 Expected
![screenshot_20170414-190343](https://cloud.githubuserco

[2017-04-15 18:00] arp95 commented on #1375
@the-dagger should i start working on this?

[2017-04-15 18:03] arp95 commented on #1386
@the-dagger should i close this then if you are not satisfied?

[2017-04-15 19:34] Shailesh351 opened #1416 "Search is not working when sort option is changed"
**Actual Behaviour**

Search is not working when sort option is changed in Day Schedule Fragment and Speakers Fragment

**Expected Behaviour**

When changing sort option it should filter sessions/speakers according to search query.

**Steps to reproduce it**

- Go to ScheduleFragment/SpeakersFragment
- Enter search query
- Now change search option

**Screenshots of the issue**

Actual Behaviour
![

[2017-04-16 06:48] the-dagger opened #1418 "Create a sample event for GCI summit and generate an App for it"
We need to create a sample event on eventyay.com for the Google Code In summit and create a sample app for it.

**App Name** : GCI 2016
**Icon** : Use the GCI Icon
**Tracks** : Use mock data for this
**Sessions** : Use Mock data
**Schedule** : Something Like this,
[code]
**Location** : Google Office, MV
**Sponsors** : None
**Speakers** : Use Mock data

We need the GooglePlay variant of the app, so

[2017-04-16 06:56] harshitagupta30 commented on #1418
@the-dagger Can I work on this?

On Apr 16, 2017 12:18, "Harshit Dwivedi" <notifications@github.com> wrote:

[2017-04-16 07:03] the-dagger commented on #1418
Sure, go ahead.

On Sunday, April 16, 2017, Harshita Gupta <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2017-04-16 08:04] the-dagger commented on #1386
Ok this is a valid point, you can go ahead and implement this too. :+1:

[2017-04-16 08:06] arp95 commented on #1386
@the-dagger taking location via location manager is fine?
So can you take action on that pr so that i can work more on it ahead.

[2017-04-16 08:10] the-dagger commented on #1386
Yes, looks good to me.
But, google recently release new geolocation API, which locates the user w/o using GPS.
I think that we can use that

https://developers.google.com/maps/documentation/geolocation/intro?utm_campaign=maps_series_mapsdocumentation_041217&utm_source=gdev&utm_medium=yt-desc

[2017-04-16 08:11] arp95 commented on #1386
@the-dagger
so should i send a pr using this for getting the user location?

[2017-04-16 08:13] the-dagger commented on #1386
Yep

[2017-04-16 08:16] rohanagarwal94 opened #1419 "Better Map Activity"
**Actual Behaviour**

Currently, only a single marker is shown on the map.

**Expected Behaviour**

The map activity could be greatly enhanced like the google I/O app.
- Marker clustering
- Better marker drawables
- Location searching
- Navigation to the location marker

**Screenshots of the issue**

mockup -
![mapactivity1](https://cloud.githubusercontent.com/assets/13241256/25069832/84f9c22c-22a

[2017-04-16 08:21] arp95 commented on #1386
@the-dagger
actually we need the application api key for it. So any ideas how to get that for the api request  to be made?

[2017-04-16 08:53] arp95 commented on #1419
@rohanagarwal94
What enhancements are you focusing on mainly?
Please specify!

[2017-04-16 11:47] rohanagarwal94 commented on #1419
@arp95 updated.

[2017-04-16 17:14] arp95 commented on #1418
@the-dagger
we have to use the apk generator for this right where we provide the required json files?
Or building it from scratch?

[2017-04-16 17:19] arp95 commented on #1418
@the-dagger
actually i used the event generator and provided it with the json files having content as you provided above but it gives an error saying the app cannot be built.

[2017-04-16 17:19] the-dagger commented on #1418
You can do it either way.
But priority is to use the apk generator.

[2017-04-16 20:58] arp95 commented on #1418
@the-dagger
as the app generator showed error while building the app i built it from scratch as seen below. Please provide inputs so as to improve it further!

[app-release-unsigned.zip](https://github.com/fossasia/open-event-android/files/924556/app-release-unsigned.zip)

[2017-04-17 09:46] Shailesh351 opened #1421 "Speaker's thumbnail and sponsors's image are not displaying when app is offline."
**Actual Behaviour**

Speaker's thumbnail and sponsors's image are not displaying when app is offline. Speaker's thumbnail and sponsors's image are getting reloaded  when user reopens app after closing. It sends request to server for thumbnails each time, so more data is being used. So when there is no internet it is not displaying thumbnails and images.

**Expected Behaviour**

Display speaker's

[2017-04-17 13:10] amitiwary999 opened #1423 "Search in not working properly in tracksessionactivity"
**Actual Behaviour**

Search action not working properly in track session activity

**Expected Behaviour**
It should work properly.

**Steps to reproduce it**
 type text to search in search bar after that click on item. Session detail activity get open. Now press back button, you can see search text is still there in search bar but instead of showing filtered item it is showing all items.

**LogCa

[2017-04-17 16:05] Shailesh351 commented on #1423
@amitiwary999
Same issue in LocationActivity. Please fix it too :)

[2017-04-17 19:38] amitiwary999 commented on #1423
@Shailesh351 I will open new issue for it.

[2017-04-17 20:28] the-dagger commented on #1418
The apo generated is corrupt.

[2017-04-20 19:39] harshitagupta30 commented on #1418
@the-dagger Tried to create a sample application. Please check it out. Currently the schedule is displaying null but I will try to look into it.
[apk.zip](https://github.com/fossasia/open-event-android/files/945278/apk.zip)

[2017-04-21 15:58] #1405 closed

[2017-04-21 15:58] #1423 closed

[2017-04-23 13:09] harshitagupta30 opened #1426 "Enhancement in the UI of Sponsors' screen"
**Actual Behaviour**

Currently, we are displaying only the image and the type of sponsors but the name is not displayed. In our case almost all the images name of the sponsor is visible but suppose its not there (which I realised during the generation of GCI app), then the image is not sufficient in itself.

**Expected Behaviour**
We can add the name of the sponsor as well in the description and

[2017-04-23 13:12] harshitagupta30 commented on #1423
@Shailesh351 @amitiwary999 Search is working absolutely fine in location activity :+1:

[2017-04-23 23:59] amitiwary999 opened #1427 "Search is not working properly in locationactivity and bookmarksfragment."
**Actual Behaviour**

Search action not working properly .

**Expected Behaviour**

it should work properly.

**Steps to reproduce it**

Similiarly like in issue #1423

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

yes

[2017-04-24 14:53] mariobehling commented on #1418
There are just very few people in that event. I would not call it summit. Also most participants are students and there is no extensive program. I dont think they need a dedicated app for that, but you can spend your time as you like. However, I this it is not really the right place to open an issue here. It is not really relevant for Android development. You can open an issue on the open event re

[2017-04-24 14:53] #1418 closed

[2017-04-25 11:19] mariobehling opened #1429 "Testing: Test app with OSCAL event and report issues"
OSCAL is an event using Open Event. The API is here: https://eventyay.com/api/v1/events/47

Please test the app with this event and report issues.

[2017-04-25 11:21] harshitagupta30 commented on #1429
@mariobehling okay! Do I also need to upload the APK of the app with this event?

[2017-04-26 07:56] mariobehling opened #1432 "Complete installation info for Android on Google Cloud with Kubernetes"
The info on how to set up the system on Google Cloud with Kubernetes is incomplete.

Please test the deployment on Kubernetes, share a link here and report your experience.

Please complete the documentation here https://github.com/fossasia/open-event-android/blob/development/docs/installation/kubernetes.md

@shreyasnbhat @rohanagarwal94 @Shailesh351 @arpitdec5 @mahikaw @geekyd @harshitagupta30 @a

[2017-04-26 09:56] mariobehling opened #1433 "Document how the Android app is generated and not stored in git history"
The Android app is generated in the apk branch. Please document how the app is automatically generated. Also point out how to set it up to not store it in Git history and keep the repository small.

Provide links to resources.

@shreyasnbhat @rohanagarwal94 @Shailesh351 @arpitdec5 @mahikaw @geekyd @harshitagupta30 @anu-007 @sumedh123 @CosmicCoder96 @utkarshnath @Ronak-59 @mejariamol @iamareebjamal

[2017-04-26 10:21] harshitagupta30 commented on #1429
@mariobehling The app is working absolutely fine with the API. One thing which I noticed is that the track opening speech is been added twice which is causing redundancy and can be removed. Apart from that everything is fine. :+1:
![selection_020](https://cloud.githubusercontent.com/assets/12701036/25429890/1d0adaac-2a98-11e7-986b-5499faf3ef00.png)

[2017-04-26 10:40] the-dagger commented on #1433
We can probably break the documentation down in 3 parts,
1. Getting the data form uploaded zip/url
2. Generating the app
3. Emailing/Downloading the app

Each of these topics can then be divided into sub topics as well, for example in case of a zip upload, we need to extract it to get the event data, whereas in case of an API we need to use urllib to get the data from over there.
This needs to be

[2017-04-26 10:41] the-dagger commented on #1433
Also, just comment over here specifying which one of the 3 parts mentioned above you would like to work on and I'll assign that to you accordingly.

[2017-04-26 11:10] the-dagger opened #1434 "Allow user to navigate to the event"
In the googlePlay variant of the app, the user should be able to open Maps by tapping on the Location marker displayed in the app.

The respective method that should be used it,

`mMap.getUiSettings().setMapToolbarEnabled(true);`

[2017-04-26 11:12] harshitagupta30 commented on #1434
@the-dagger Can I work on this issue?

[2017-04-26 11:15] the-dagger commented on #1434
:+1:

Best,
Harshit Dwivedi
Contact : +919968195588
GitHub <https://github.com/the-dagger> | LinkedIn
<https://in.linkedin.com/in/hadwivedi>
Google Play <https://goo.gl/wl3loD> | Facebook
<https://www.facebook.com/daggerdwivedi>

On Wed, Apr 26, 2017 at 4:42 PM, Harshita Gupta <notifications@github.com>
wrote:

[2017-04-26 13:36] rohanagarwal94 commented on #1433
@the-dagger I would like to work on the 1st part that is getting the data from the uploaded zip/url.

[2017-04-26 13:42] utkarshnath commented on #1433
@the-dagger plz assign documentaion of Emailing/Downloading of the app

[2017-04-26 14:23] the-dagger opened #1435 "Document getting the data form uploaded zip/url"
Part 1 of #1433

[2017-04-26 14:24] the-dagger opened #1436 "Generating the app"
Part 2 of #1433

[2017-04-26 14:25] the-dagger opened #1437 "Emailing/Downloading the app"
Part 3 of #1433

[2017-04-27 12:02] iamareebjamal commented on #1433
@the-dagger I'd like to take up the #1436 Generating the app part

[2017-04-27 12:17] iamareebjamal commented on #1429
@mariobehling Everything works fine on all fronts (except the redundancy @harshitagupta30 mentioned)

[2017-04-27 12:23] iamareebjamal commented on #1432
@mariobehling
Is local deployment and testing sufficient?

Google Cloud Container Platform needs billing enabled.

[2017-04-30 07:04] free4murad opened #1440 "Overdraw in Widget."
**Actual Behaviour**

There is some overlay in the app widget.

**Expected Behaviour**

This needs to be removed.

**Would you like to work on the issue?**

I am travelling for a few weeks so NO.

[2017-04-30 11:21] #1412 closed

[2017-04-30 11:27] mariobehling opened #1441 "Download-Link not working on droidgen"
The Android link shown on the droidgenerator is http://droidgen.eventyay.com/[object%20Object]

The link is not working.

[2017-04-30 11:29] jsbaidwan commented on #1433
which apk?

[2017-04-30 11:49] mariobehling commented on #1441
App generation from zip file neither working.

Corresponding JSON from OSCAL: https://eventyay.com/api/v1/events/47

[2017-04-30 11:50] mariobehling commented on #1440
Please add a screenshot and exact description. Otherwise we dont know what you are talking about.

[2017-04-30 11:54] mariobehling commented on #1426
Sponsors want their logo big. Only offer name as text, if there is no image, please.

So, keep the current view and only show the name, if there is no logo. Thanks

[2017-04-30 11:59] #1437 closed

[2017-04-30 12:00] mariobehling commented on #1386
As this app has lots of open bugs, we should follow up on features here later. We need to consider if we really need this.

[2017-04-30 12:00] #1386 closed

[2017-04-30 12:01] mariobehling commented on #1350
@tpltnt Please propose a UI for a rooms page similar to the web app UI.

[2017-04-30 12:04] mariobehling commented on #1375
As some basics of the app are not working yet, we need to focus on basic features first before we add more features. There are also tons of notetaking apps available already. The question is if this feature needs to be taken care by this app.

[2017-04-30 12:04] #1375 closed

[2017-04-30 12:05] mariobehling commented on #1377
Exactly, feedback will not go in as long as the server does not have it. Let's get the basic features of this app ready and follow up on other ideas when there is time.

[2017-04-30 12:21] mariobehling opened #1442 "Unnecessary sharing links and information"
Nearly every screen in the app has a sharing link. Often there is information in the link like "fossasia.github.io" or "App link goes here".

1. Only keep sharing links on the following pages
* specific speaker page
* specific session page

2. Document the information structure of the sharing info and take out any wrong info.

[2017-04-30 12:23] harshitagupta30 commented on #1426
@mariobehling sure! I'll keep it same and add the name in case of no logo.

[2017-04-30 12:24] mariobehling opened #1443 "The app start screen shows "FOSSASIA" - it should show the basic event info and logo"
The app start screen always shows a FOSSASIA logo. It should be showing the event logo and basic info. Please implement a start screen with the following info:

* logo of event
* Name of event
* tagline if any
* Date or dates
* location

Please ensure it looks "cool".

[2017-04-30 12:34] mariobehling opened #1444 "Improve settings page and standard settings"
* There is a delaying effect when the settings move in. Please take out any delays. We don't want the app to appear slow. No delays, please.
* Settings moves in, but "splashes out". Expected settings move in and move out without delay.
* App should not use "Mobile Data" should be set as a standard setting.
* It is unclear what the "notification mode" is about. Please add description about notifica

[2017-04-30 12:34] harshitagupta30 commented on #1443
@mariobehling @the-dagger I've created a similar page screenshot of which is attached. Let me know if it looks good to you. Also due to some issue, it was merged and reverted later. I'll make sure before sending the PR that those issues are resolved. :+1:
https://cloud.githubusercontent.com/assets/12701036/23942780/638dce60-0993-11e7-9ce9-c5a68f03e613.jpg

[2017-04-30 12:36] harshitagupta30 commented on #1443
P.s. The details mentioned here will be event specific. I have take FOSSASIA just for the demo.

[2017-04-30 12:39] mariobehling opened #1445 "Change effects and handling of app to be swipes"
The app currently uses different effects, including splashy effects. Please change the app to be more like a swipe app.

Please implement as follows:
* Instead of splash effect, move in content from right of the screen.
* To enable the use to go back to the previous screen implement a swipe to the right.

Document in the issue which pages you are changing and which you are not changing and explain