[2015-05-08 09:09] mariobehling opened #1 "Please help to fill in the Readme.md with the info discussed"

[2015-05-16 20:06] championswimmer opened #2 "create all the contracts for all the tables in database"

[2015-05-16 20:07] championswimmer opened #3 "finish all the methods to get data from database"
getTrackList
getSessionList
getSpeakerList
getSponsorList
getSpeakerById
getSessionById

[2015-05-16 20:09] championswimmer opened #4 "get data from the api and save to database"
I am thinking we should best use Volley for this ? My experiences with fetching Json data have been the best with Volley.

[2015-05-16 20:13] rafalkowalski commented on #4
I have never had experience with Volley, but It looks good :)

[2015-05-16 20:25] mananwason commented on #4
@championswimmer I also think that volley would be the best option. Intact we have used it in all the other event apps as well.

[2015-05-17 16:09] leto commented on #4
Please provide a link because I am not familiar with what you are talking about.

[2015-05-17 16:14] mananwason commented on #4
@leto Volley is a networking library from google itself. See this https://developer.android.com/training/volley/index.html

[2015-05-18 02:37] creativepsyco commented on #4
Volley is an extension of implementation detail, if you are look for RESTful consumption of web services, you can checkout [Retrofit](https://github.com/square/retrofit), Along with [OkHttp](https://github.com/square/okhttp) it makes the code much cleaner and easier to read. With Volley I found out that extra time was wasted in implementation of serialization schemes etc, maintaining the life cycl

[2015-05-18 16:47] leto commented on #4
@creativepsyco your recommendation of Retrofit+OkHttp+Gson sounds like a best practice. Could you describe it a bit more so @mananwason can implement your idea? Thanks!

[2015-05-18 17:47] mananwason commented on #4
Yes @creativepsyco Please help me get started, I have never used these api's, but I am more than willing to learn ASAP. Thanks

[2015-05-19 02:23] creativepsyco commented on #4
Hi @mananwason you can check out https://github.com/creativepsyco/intercom-android-sdk/tree/master/intercom I did this a while back. You can see Retrofit, Gson and OkHttp being used together. There are tests as well under `androidTest`. With Retrofit you can specify the schema of the JSON as a Java Bean and provide this under the retrofit Interface. For example [Users](https://github.com/creativep

[2015-05-19 04:53] mananwason commented on #4
Thanks @creativepsyco I'll get back to you for any questions I have :smile:

[2015-05-19 16:39] championswimmer commented on #4
Since it was earlier discussed, let me bring it up here,

For twitterwall, if we use loklak library, we should probably use jackson
instead of gson, because jackson is already a dependency of loklak,

I do not know the inner dependencies of okhttp and retrofit, but I am
little apprehensive of weighing the app down with too many libraries, if we
can manage just as well with less.

On 19 May 2015 at

[2015-05-20 12:29] championswimmer commented on #4
@mananwason

About the json parser that we are using. Please see above
On May 19, 2015 10:09 PM, "Arnav Gupta" <championswimmer@gmail.com> wrote:

[2015-05-20 14:00] mananwason commented on #4
Oh so we we'll be using jackson?

[2015-05-23 20:04] mananwason opened #5 "Avoiding conflicts in working on the app"
@championswimmer I suggest we first make some milestones/issues based on what all we have to do, and daily assign ourselves to those milestones/issues and complete the self assigned work.

Till now we have been working on pretty much same things which lead to conflicts in our work. This will help us work better in a team. Please feel free to give any other ideas.

[2015-05-23 20:11] championswimmer commented on #5
Sure, let's sync up each day and divide the work. Sounds good, and sorry
for the trouble. :)

On 24 May 2015 at 01:34, Manan Wason <notifications@github.com> wrote:

[2015-05-23 20:13] mananwason commented on #5
Nice :D

[2015-05-23 20:24] championswimmer commented on #5
So I am making all the immediate todos into issues on the
open-event-android repo. And whenever either of us picks up one of them, we
assign ourself on the issue, to remove confusion. Sounds good ?

On 24 May 2015 at 01:40, Arnav Gupta <championswimmer@gmail.com> wrote:

[2015-05-23 20:25] mananwason commented on #5
Nice Sounds Good

[2015-05-23 20:33] championswimmer opened #6 "add travis support to check buildability"

[2015-05-23 20:35] championswimmer opened #7 "update the database when new data is fetched from API"
DISCUSSION :
So, when we compare timestamp, get new data, and fetch it, what would we do ?
I think best would be, to drop each table and refresh the whole data. When sessions.json is downloaded, drop sessions table, and create new table with the new data.

What do you guys think ?

[2015-05-23 20:36] championswimmer opened #8 "write util method to (de)serialise int arrays"
in json data there are int array in form of "[1, 2, 3]". For eg ids of speakers in each session.

These need to be serialised/deserialised as per need.

[2015-05-23 20:51] mananwason commented on #7
Yes that would be suitable. But I have one questions, does the api version change for everything or can it be changed for like one of the fields like only sponsors?

[2015-05-24 03:56] championswimmer commented on #7
I was thinking in the event.json (the api that gives main event data)
should have a last modified field for each endpoint (speaker, session,
tracks...) that way we can download only that info which is old.

On 24 May 2015 at 02:21, Manan Wason <notifications@github.com> wrote:

[2015-05-24 05:28] mananwason commented on #7
Events.json doesn't have the required fields to keep track of all other fields, instead just make another json versions where version number auto increments if something is changed in the respective json files. This would be easier to manage.

[2015-05-24 07:28] mariobehling commented on #1
Please add information such as features and technology etc. Please do not close issues without finalising them.

[2015-05-24 08:23] creativepsyco commented on #6
Are you also planning to add some tests?

[2015-05-24 20:31] leto commented on #6
@creativepsyco do you have recommendations for a test suite/framework/etc ? Or example tests from another project that will provide good examples?

[2015-05-25 02:36] creativepsyco commented on #6
@leto @championswimmer Here is a good starting point. https://github.com/googlesamples/android-testing

For Testing, I would recommend writing UI tests with [Espresso][1], I would recommend writing UI tests as a sort of high priority than Unit Tests. Unit testing is okay when you are writing a complicated piece of logic in the lower annals of the application architecture. Usually the app is going

[2015-05-26 08:29] #2 closed

[2015-05-26 08:30] #5 closed

[2015-05-29 13:02] mananwason opened #14 "Setting for 2 server URL's - one for Developers and other for all other users"
Developers URL- For testing new features and improvements
User's URL - Live version of the api, which is tested and deployed for all users to use.

[2015-05-29 13:31] mananwason opened #15 "UI to Display Data in the app"
Display data from the database in the app UI.

[2015-06-02 12:30] #4 closed

[2015-06-02 15:37] mananwason commented on #3
Done

[2015-06-02 15:37] #3 closed

[2015-06-03 16:05] mananwason opened #19 "Add NavigationView from Android support design library"

[2015-06-03 20:05] #19 closed

[2015-06-03 20:06] mananwason commented on #19
Drawer Toggle arrow remaining

[2015-06-03 20:06] #14 closed

[2015-06-10 18:17] mananwason opened #24 "Add Material effect to the UI created in milestone 1"

[2015-06-11 07:40] mananwason opened #25 "Add map fragment using google maps"

[2015-06-11 09:01] mananwason commented on #25
#27

[2015-06-11 09:03] #25 closed

[2015-06-11 17:07] #15 closed

[2015-06-11 17:07] #8 closed

[2015-06-11 17:08] #6 closed

[2015-06-14 13:46] #7 closed

[2015-06-14 14:58] mananwason opened #35 "Add Bookmarks Fragment"

[2015-06-14 14:59] mananwason opened #36 "Share data functionality"

[2015-06-17 11:47] mananwason opened #37 "Add Tracks activity"

[2015-06-17 11:47] mananwason opened #38 "Add speaker activity"

[2015-06-17 11:49] mananwason opened #39 "Add database Tests"

[2015-06-18 07:00] mananwason commented on #39
#40

[2015-06-24 18:59] #39 closed

[2015-06-24 18:59] mananwason commented on #39
#44

[2015-06-29 11:27] mananwason commented on #37
#45

[2015-06-29 11:27] #37 closed

[2015-07-01 17:10] championswimmer opened #48 "create a customisable styles.xml that completely defines the color scheme of app"
### Requirements

Each event can have its own color style, we need each open-event-android app for each event to look and feel differently. For a start we can target color schemes particular to the app, either generate them at build time through a gradle task of sorts or use a script. Either way, the end product is have event A's app look different from event B's.

Once we have isolated what we ne

[2015-07-02 10:21] mananwason commented on #24
#46

[2015-07-02 10:21] #24 closed

[2015-07-02 10:22] mananwason commented on #38
#46

[2015-07-02 10:22] #38 closed

[2015-07-03 12:03] mananwason opened #49 "Backdrop in Collapsing Toobar layout doesn't disappear to show the toolbar"

[2015-07-03 16:46] mananwason commented on #36
#46

[2015-07-03 16:46] #36 closed

[2015-07-03 16:47] mananwason commented on #49
#46

[2015-07-03 16:47] #49 closed

[2015-07-04 14:11] mananwason opened #50 "Add session detail activity"

[2015-07-04 14:11] mananwason opened #51 "Write UI tests"

[2015-07-07 20:43] mananwason opened #52 "Search Functionality"
### Requirements

Search functionality for:
- [x] Sessions
- [x] Locations
- [x] Speakers
- [x] Topics/Abstract etc.

[2015-07-07 20:46] mananwason opened #53 "Social compatibility"

[2015-07-07 20:47] mananwason opened #54 "Notifications for upcoming events"
### Objective
To inform user which sessions are starting soon

### Requirement
1. [x] Display notification
2. [x] Allow user to control when to display notification (maybe 1 hour before event, in morning, 10 before event starts and so on). Start with a default value and let user to customise.
3. [ ] Further there can be actions associated with notifications displayed like Snooze etc something like

[2015-07-12 12:11] mananwason opened #55 "Add different menu's for each fragment"

[2015-07-12 12:14] mananwason opened #56 "Add Web App URL's in sharing intents"
### Requirements

1. Provide an easy share link for event.

Will be useful to spread awareness on Social Networks.

Also, alternatively, if app is installed, then the URL scheme could be used to share the info like
1. Twitter `https://twitter.com/intent/tweet?text=%s` where `text` can be a tweet about event and official hashtag.
2. Facebook: Info [here][1]

[1]: https://developers.facebook.com/doc

[2015-07-13 02:31] creativepsyco commented on #51
Any progress?

[2015-07-13 14:03] mananwason commented on #51
I plan to start this next. Though I have started reading about how to start.

[2015-07-14 14:19] mananwason opened #57 "Make alternate api for testing and using it when the main api is down."
I'll be making another api so that I don't I have to depend on the main orga server because when it is changed by rafal, all data is lost.

[2015-07-14 14:48] mariobehling commented on #57
What is "stuff"? Could you be more specific please? Could you please describe what this API is needed for etc.? Cheers

[2015-07-14 14:52] mananwason commented on #57
Done @mariobehling :smile:

[2015-07-19 15:18] mananwason commented on #55
#58

[2015-07-19 15:18] #55 closed

[2015-07-19 15:20] mananwason commented on #57
#58 #46

[2015-07-19 15:20] #57 closed

[2015-07-19 15:20] mananwason commented on #35
#58

[2015-07-19 15:20] #35 closed

[2015-07-19 15:21] mananwason commented on #50
#58

[2015-07-19 15:21] #50 closed

[2015-07-19 15:51] mananwason opened #59 "Add Wearable Module"
### Objective

To add some support for wearables

### Requirements

1. Implement all (or some parts) of screens as documented in the [Google I/O App][1]
2. Possible screens
     - [ ] Notify user of bookmarked session starting soon
     - [ ] Allow to see some session details
     - [ ] Allow to unBookmark the session for which they got notification on watch
     - [ ] Allow user to browse through

[2015-07-24 19:39] mananwason commented on #48
@championswimmer How do we proceed on this?

[2015-07-25 15:53] mananwason opened #60 "Parse Time and date obtained from the server."

[2015-07-25 18:56] creativepsyco commented on #60
What is there to parse?? Can you be specific?

[2015-07-26 19:55] championswimmer commented on #60
[code]

[2015-07-29 23:00] mananwason opened #62 "Move data download to a Background task and add a Splash screen"
Objective is to download data (in a background thread, not the Main Thread) and do a version-based sync of the resources stored in the server. The client needs to have the most updated copy of the data, because in an ongoing event, this may be important. We shall sync the resources by comparing the version of the resources already stored in our local database. Some [background][1]

1. Main activit

[2015-07-29 23:29] championswimmer opened #63 "when changing from maps to any other fragment, map layer remains"

[2015-07-30 06:24] mananwason commented on #63
Yeah In OSM right? I noticed this.

[2015-07-31 10:22] championswimmer commented on #63
Fiddled around with. Can't seem to figure out. Does OSM internally use some
service to draw the layers? Because the fragment gets replaces but the map
layer remains.
On 30-Jul-2015 11:54 am, "Manan Wason" <notifications@github.com> wrote:

[2015-07-31 11:11] mananwason commented on #63
I have never faced this kind of issue wherever I have used OSM and I also couldn't figure out why this is happening :/

[2015-08-04 16:03] creativepsyco commented on #48
progress update on this? @championswimmer @mananwason ?

[2015-08-04 16:05] creativepsyco commented on #52
@mananwason update?

[2015-08-04 16:11] creativepsyco commented on #60
Either @championswimmer file a PR for this or @mananwason please see to it to get this closed asap.

[2015-08-04 17:47] championswimmer commented on #60
@mananwason could you point me towards where exactly you need to implement the date parsing code ?

[2015-08-04 17:50] mananwason commented on #60
@championswimmer We need this mainly for notifications and to display it in the session detail activity
![image](https://cloud.githubusercontent.com/assets/10570249/9068170/6f875628-3aff-11e5-9485-957bf71f546d.png)

[2015-08-04 20:01] mananwason opened #64 "Add refresh buttons to all Views to refresh data."

[2015-08-05 11:59] championswimmer commented on #64
Pull down to refresh would be better no ?
On 05-Aug-2015 1:31 am, "Manan Wason" <notifications@github.com> wrote:

[2015-08-05 12:17] creativepsyco commented on #64
I think let's go with button for now, will be too messy with the pull to refresh mechanism, button is straight forward.

[2015-08-06 22:49] mananwason commented on #64
Implemented with Pull down to refresh only.

[2015-08-06 22:49] #64 closed

[2015-08-06 22:49] #62 closed

[2015-08-07 11:32] mananwason commented on #48
@championswimmer We should start working on this.

[2015-08-07 11:33] mananwason commented on #63
@creativepsyco any idea why this would happen?

[2015-08-07 14:24] #63 closed

[2015-08-07 14:25] creativepsyco commented on #63
fixed. https://github.com/fossasia/open-event-android/commit/212e1d76cba314f435378331cb98b6bc89fe1528

[2015-08-09 11:17] mananwason commented on #53
@creativepsyco @mariobehling @championswimmer What should we use to add social compatibility?
I am thinking of making something like adding a tab layout in the social fragment and having 3 tabs each for twitter, facebook and google+ respectively and just show posts by hash name of event. Any ideas, suggestions?

[2015-08-09 11:19] mananwason commented on #53
@creativepsyco @mariobehling @leto @championswimmer What should we use to add social compatibility?
I am thinking of making something like adding a tab layout in the social fragment and having 3 tabs each for twitter, facebook and google+ respectively and just show posts by hash name of event. Any ideas, suggestions?
![mir0f](https://cloud.githubusercontent.com/assets/10570249/9154605/8b8d469c-3eb

[2015-08-09 11:26] championswimmer commented on #53
Can we get hash based data from Fb ?

We can from Twitter, I know

On 9 August 2015 at 16:49, Manan Wason <notifications@github.com> wrote:

[2015-08-09 11:33] mananwason commented on #53
@championswimmer As far as I have seen, The Hashtag API is deprecated by facebook now but some posts show that we can query for hashtag using Facebook Graph API, instead of '#' use %23' in query string.

[2015-08-09 15:27] mariobehling commented on #53
Not sure, what you mean with this issue. If I can test the app on the phone would be nice.

[2015-08-09 15:46] mananwason commented on #53
Mario let me check, what's wrong.
On 09-Aug-2015 8:57 PM, "Mario Behling" <notifications@github.com> wrote:

[2015-08-11 11:33] mananwason commented on #60
#69

[2015-08-11 11:33] #60 closed

[2015-08-11 11:35] mananwason commented on #56
@championswimmer What can be done about this. I mean can we directly go to a certain speaker or track with the id let's say 2 using the URL http://fossasia.github.io/open-event-webapp/#/speakers#2 in the intent?

[2015-08-11 11:37] mananwason commented on #53
@mariobehling any views on this now? I basically want to implement a feature that gives me social media posts according to the event hashtag for example #fossasia16

[2015-08-11 11:39] mananwason opened #70 "Fix Add bookmarks issue"
When I bookmark an already bookmarked event, the app crashes.

[2015-08-11 14:05] championswimmer commented on #56
If we use expandable list (as @mariobehling said he wants) then it won't be
possible.

@championswimmer <https://github.com/championswimmer> What can be done
about this. I mean can we directly go to a certain speaker or track with
the id let's say 2 using the URL
http://fossasia.github.io/open-event-webapp/#/speakers#2 in the intent?

—
Reply to this email directly or view it on GitHub
<https://gi

[2015-08-11 14:19] mananwason commented on #56
But @championswimmer this will be a good feature to have. @mariobehling @creativepsyco views?

[2015-08-12 01:57] creativepsyco commented on #56
@championswimmer why is it not possible with an expandable list? This is about sharing anything from the app to the social networks. If it is not possible on the web app side, then make it possible. How am I supposed to share an event, a session, a speaker detail URL to someone I know on Facebook, Google etc?

[2015-08-12 01:58] creativepsyco commented on #56
As you can see [here][1] in Google IO web app, the dialog till comes up, so I am sure this can be done on your side.

[1]: https://events.google.com/io2015/schedule?sid=c6a37c01-5afa-e411-b87f-00155d5066d7#day1/c6a37c01-5afa-e411-b87f-00155d5066d7

[2015-08-12 02:07] creativepsyco commented on #53
This is purely a client only feature, if you want you can go ahead and do it if you have time for it. But I don't think within the time we have left, this is not a priority anymore. We should focus on core issues, make a **shippable** build.

[2015-08-12 04:20] championswimmer commented on #56
Yes precisely, their session details are in dialog pop outs. If I make
details in expandable list and not dialogs, how do I get a unique URL for
each session ?

It is exactly because of this that I had made sessions as dialogs
initially.

On 12 August 2015 at 07:28, Mohit Kanwal <notifications@github.com> wrote:

[2015-08-12 06:04] mananwason commented on #53
Sure. I'll work on the main features first.

[2015-08-13 16:10] mananwason commented on #70
#72

[2015-08-13 16:10] #70 closed

[2015-08-16 16:11] PuneetGupta123 opened #74 "Want to contribute."
Hi i am proficient in android programming and also in backend development using flask . How can i help in this?

[2015-08-16 17:09] championswimmer commented on #74
ohai @PuneetGupta123 awesome to know.

Well to have a basic picture of this, take a look at the https://github.com/fossasia/open-event repository, where the basic details are noted down.

We have three components here. the orga-server (https://github.com/fossasia/open-event-orga-server)
(You can see a running example on http://springboard.championswimmer.in )
Secondly the android app, which is thi

[2015-08-16 18:21] mananwason commented on #74
Hello @PuneetGupta123. I would just like to add something to what @championswimmer has already written really nicely. You can find the apk for the android app https://github.com/fossasia/open-event-android/releases. You can start by testing the app and reporting bugs in it. Hoping to see you contribute :smile:

[2015-08-18 11:43] #74 closed

[2015-08-18 12:51] mananwason opened #75 "Add Locations fragment"
Location fragment - where all locations where the sessions are scheduled to take place are displayed.

[2015-08-18 15:34] PuneetGupta123 commented on #74
@mananwason and @championswimmer Thanku so much for your. I am going through the app and then will start to contibute. :)

[2015-08-18 15:36] mananwason commented on #74
All the best @PuneetGupta123. Feel free to ask us any anything :smiley:

[2015-08-18 15:42] mananwason commented on #52
Completed in #76

[2015-08-18 15:42] #52 closed

[2015-08-18 15:44] mananwason commented on #75
#76

[2015-08-18 15:44] #75 closed

[2015-08-20 15:31] PuneetGupta123 commented on #74
@mananwason I was going through the code and also run the app on my phone. I wanted to know which kind of bugs should i report. Whether they should be about placeholders like visibility of share button  of every Track. I noticed a bug that after opening the app when the download completes on the Fragment for Tracks, the tracks do not show up immediately and i have to swipe down to refresh and then

[2015-08-20 16:46] mananwason commented on #74
@PuneetGupta123 You can report anything you feel is wrong according to you, we can then discuss about that thing. About the bug you noticed, this is not the case with me. The tracks are shown almost after the download is complete. What device and android version are you running it on?

[2015-08-20 16:58] PuneetGupta123 commented on #74
I have Lenovo K3 note and android version is 5.0 (Lollipop).

[2015-08-20 17:24] mananwason commented on #74
@PuneetGupta123 Could you send a video grab?

[2015-08-20 18:22] PuneetGupta123 commented on #74
@mananwason It's working fine now. Maybe it just came for one time.

[2015-08-20 18:26] mananwason commented on #74
@PuneetGupta123 Good. Let me know if this bug arises again. Cheers :smile:

[2015-08-21 13:50] PuneetGupta123 commented on #74
@mananwason Just look at these screeshots
![11920336_1092189277475801_861828953_n](https://cloud.githubusercontent.com/assets/10572722/9409656/aadb7276-4839-11e5-8bf2-4a74d9b61bd3.jpg)
![11922834_1092189274142468_162517731_n](https://cloud.githubusercontent.com/assets/10572722/9409657/aae45e04-4839-11e5-9211-fce77620b781.jpg)

[2015-08-21 14:30] mananwason commented on #74
@PuneetGupta123 I tried reproducing this on an emulator with almost the same specs as your phone but it worked okay. Why don't you debug this? Add a Log to the refresh method in the TracksListAdapter and and another in the MainActivity method and look at the logs or post them here. I'll take a look at it.
The thing is that once the Download complete event is fired, the sync complete method is call

[2015-08-21 15:50] PuneetGupta123 commented on #74
That can be a problem. I will look into it and then update.

[2015-08-21 16:11] mananwason commented on #74
:+1:

[2015-08-21 17:50] mananwason commented on #56
#78

[2015-08-21 17:50] #56 closed

[2015-08-22 15:48] PuneetGupta123 commented on #74
@mananwason Wanted to know something. There is a Main activity where the fragments for Speakers,Tracks etc are loaded when a particular option is selected. Then when are Activities for Tracks, Speakers are used?

[2015-08-22 18:09] mananwason commented on #74
@PuneetGupta123 these activities are used when we click on a speaker/track recycler view item. See the intents in the fragments

[2015-08-22 18:10] mananwason commented on #74
Btw did you do the logging part, we discussed about yesterday?

[2015-08-23 03:53] PuneetGupta123 commented on #74
I will be going to do that. Actually I was trying to understand the full flow of the data. And I think I have get it all. So now will do just that. @mananwason

[2015-08-23 07:02] PuneetGupta123 commented on #74
@mananwason   I also want to draw your attention to the Track activity which opens when we click on a particular track. When querying the color of the entered String is white which is not always visible the the color of picture is also white. We should change it.
![screenshot_2015-08-23-12-20-20-052](https://cloud.githubusercontent.com/assets/10572722/9427298/e614f9d4-4992-11e5-8f57-84f35b00d5fa.j

[2015-08-23 07:16] mananwason commented on #74
@PuneetGupta123 please create an issue for this.

[2015-08-23 09:18] PuneetGupta123 opened #79 "Changing the querying text colour and also removing the toolbar title when querying."
![screenshot_2015-08-23-12-20-20-052](https://cloud.githubusercontent.com/assets/10572722/9427642/fe1372e6-49a5-11e5-93f8-e2140d0d38cf.jpeg)

[2015-08-23 16:30] PuneetGupta123 commented on #74
@mananwason I have created the issue.

[2015-08-24 02:49] mananwason commented on #74
@PuneetGupta123 you can start working on it, if you like.

[2015-08-24 13:54] PuneetGupta123 commented on #74
Ok i will do it

[2015-08-25 06:37] #54 closed

[2015-08-26 17:55] PuneetGupta123 commented on #74
@mananwason  I have done that thing

[2015-08-26 18:13] mananwason commented on #74
@PuneetGupta123 what was the error? Could you create a PR for the same. Cheers :+1:

[2015-08-27 08:07] PuneetGupta123 commented on #74
@mananwason I will do it in some time.

[2015-08-28 04:36] mananwason commented on #74
@PuneetGupta123 What was the issue?

[2015-08-28 05:39] PuneetGupta123 commented on #74
@mananwason Actually there was no correction need to be done but a small piece of code to be added whenever search view is clicked. After the click we just need to change the text of collapsing toolbar to "nothing."

[2015-08-28 06:09] mananwason commented on #74
Oh ! You were talking about that. I thought you were talking about the issue with the download and display. I have fixed that issue in my codebase. I'll update that. Please work on the download issue you reported. And one more thing, please post about issues in their specific issue page to avoid confusion.

[2015-08-28 07:21] PuneetGupta123 commented on #74
Ok. Sorry for the confusion. @mananwason . I will work on it. the problem with that is tt sometimes do everything right and sometimes don't. So basically it's difficult to debug. But i will surely see it.

[2015-08-28 07:25] mananwason commented on #74
Sure @PuneetGupta123. Take your time.

*Manan Wason*
*3rd year, B.tech - CSE*
*Indraprastha Institute of Inf. Tech. (IIIT) Delhi*
*Okhla, Phase-III, New Delhi-110020, INDIA*
*Website: www.iiitd.ac.in <http://www.iiitd.ac.in/>*

On Fri, Aug 28, 2015 at 12:51 PM, PuneetGupta123 <notifications@github.com>
wrote:

[2015-09-05 10:29] PuneetGupta123 commented on #74
@mananwason  I extensively saw about that issue. I think it is working fine. The only thing( I dont know if it's a big issue) that's not good is, whenever there is no internet connection and if we refresh the track page then if we click on a particular track the app crashes.

[2015-09-06 03:45] PuneetGupta123 commented on #74
@mananwason anything else which i can work upon?

[2015-09-06 08:31] PuneetGupta123 commented on #74
@mananwason  ?

[2015-09-06 13:07] mananwason commented on #74
Sorry @puneetgupta123, I was out of town. You can take a look at the issues
that are pending. I'll test the refresh issue.

@mananwason <https://github.com/mananwason> ?

—
Reply to this email directly or view it on GitHub
<https://github.com/fossasia/open-event-android/issues/74#issuecomment-138053458>
.

[2015-09-06 14:45] PuneetGupta123 commented on #74
@mananwason Just give me a day. I will look again in the refresh issue.

[2015-09-06 16:07] mananwason commented on #74
@PuneetGupta123 I think I know what's the issue. I am fixing this. You can look for other issues. Cheers :+1:

[2015-09-06 16:09] mananwason opened #80 "App crashes if trying to access data after refresh done while internet not available"

[2015-09-06 16:17] mananwason commented on #80
https://github.com/fossasia/open-event-android/commit/d5b48d38667b3b47170a7975d7eb21382f4bb088

[2015-09-06 16:17] #80 closed

[2015-09-20 06:13] LionelCursor commented on #79
Has it been solved? Could I have a try?

[2015-09-20 06:19] PuneetGupta123 commented on #79
Solved :)

On Sun, Sep 20, 2015 at 11:43 AM, Danxiong Lei <notifications@github.com>
wrote:

[2015-09-20 06:33] #79 closed

[2015-11-12 10:54] mananwason opened #83 "App Crashes when scrolling through speakers list"

[2015-11-12 11:01] mananwason commented on #83
#82

[2015-11-12 11:01] #83 closed

[2015-12-01 12:55] mariobehling commented on #1
Please also provide screenshots and add them to the Readme.md

[2015-12-02 11:21] batraabhishek opened #84 "App Crashing on bookmarking any session"
When I am trying to bookmark any session app crashes. Though on running the app again I can see it as bookmarked.

There might be some issue with the code running after database transaction.

Removing bookmark works good though.

[2015-12-02 11:37] mananwason commented on #84
Seeing the logs, there is something wrong with the BookmarkAlarmService constructor. Let me figure it out and fix it.

[2015-12-05 16:40] opticod commented on #84
with the changes made,I ran it in emulator (Nexus 5 API 23),It ran perfectly and build was also successful.

But after committing the change and making a PR,its showing this message

"continuous-integration/travis-ci/pr — The Travis CI build failed"

Do I missing something ?

Thank You

[2015-12-05 18:40] mananwason commented on #84
This means that the travis build is failing. See the logs and figure out what is the error.

[2015-12-05 20:06] opticod commented on #84
![screenshot from 2015-12-06 01-30-27](https://cloud.githubusercontent.com/assets/13851773/11609907/2c3275ae-9bb9-11e5-9b9c-bbce7e2fa153.png)

![screenshot from 2015-12-06 01-34-52]
(https://cloud.githubusercontent.com/assets/13851773/11609922/a5c001a2-9bb9-11e5-9ea8-835d3624afc5.png)

To me it seems like a bug of travis.Will you please rebuild it? From my account in my first build It showed error

[2015-12-06 13:50] creativepsyco commented on #84
yep, it is a adb+travis inconsistency that keeps happening with multiple flavor builds, don't know why, probably should change the testing script to do a flavor testing, one by one.

[2015-12-06 14:11] mananwason commented on #84
@creativepsyco the main branch is also failing the travis build due to InstallException. We should fix this.

[2015-12-06 14:26] creativepsyco commented on #84
ok i am looking into.

[2015-12-07 18:34] mRokita opened #87 "App comes back to the TracksFragment on rotation change"
Problem:
On orientation change app comes back to the TracksFragment when MainActivity is recreated
https://github.com/mRokita/open-event-android/blob/master/app/src/main/java/org/fossasia/openevent/activities/MainActivity.java#L79
I can fix it using the savedInstanceState Bundle, it would be nice to add it as another GCI task :)

[2015-12-07 18:39] championswimmer commented on #87
You can make a pull request to fix it and claim it under this task
https://codein.withgoogle.com/dashboard/tasks/6395026116444160/

On 8 December 2015 at 00:04, Michał Rokita <notifications@github.com> wrote:

[2015-12-07 18:48] mRokita commented on #87
@championswimmer I have a 403 here https://codein.withgoogle.com/dashboard/tasks/6395026116444160/
I think that you mean this one https://codein.withgoogle.com/dashboard/task-instances/5068122914553856/ so i've claimed it.

[2015-12-07 19:25] mRokita commented on #87
fixed https://github.com/mRokita/open-event-android/commit/6345720d4e9f9317cfb086811f22033698c4c125, i believe that I've messed up a bit with the pull requests, I'm sorry

[2015-12-07 19:50] #87 closed

[2015-12-07 20:41] mRokita opened #88 "App crashes when refreshing on no Internet connection"
App crashes when refreshing on no Internet connection

[2015-12-07 20:47] mRokita commented on #88
NOTICE: this happens only sometimes

[2015-12-07 22:36] championswimmer commented on #88
Can you provide a log of this please?
On 08-Dec-2015 02:17, "Michał Rokita" <notifications@github.com> wrote:

[2015-12-08 11:31] mRokita commented on #84
[code]
It still crashes. I would like to fix it as my GCI task :)

[2015-12-08 11:53] mananwason commented on #84
can you provide an instance when it crashes?

[2015-12-08 12:16] mRokita commented on #84
I would like to see it added as my GCI task :)

[2015-12-08 12:17] mRokita commented on #84
NOTICE: after updating the app on a device which has already some non-default notification settings, it might crash until you won't change them (I've changed notification resource type from String to Int)

[2015-12-08 12:22] mRokita opened #90 "UI bug in the search function"
I would like to fix it as some new GCI task :)
Screenshot:
![image](https://cloud.githubusercontent.com/assets/10209201/11655497/876e912c-9dae-11e5-81da-5df1b72a1812.png)

[2015-12-08 16:23] vjs3 commented on #74
@mananwason I have good amount of experience in android development with few internships in this field itself.I am looking forward to participate in GSOC16. Please let me know how can I contribute to this project or as a matter of fact any project because I am completely new to open source.Any help would be appreciated.

[2015-12-08 19:57] mariobehling opened #94 "Create test app for 32c3 in Hamburg on Dec. 27-30"
Relevant links and data here https://events.ccc.de/camp/2015/wiki/Apps

[2015-12-09 00:43] creativepsyco commented on #74
please dont comment on GitHub issues with request for contribution, irc/slack/mailing-list is a better place to do it and ask for guidance.

[2015-12-10 19:47] championswimmer opened #96 "Fix the travis emulator test failures"

[2015-12-10 19:48] championswimmer opened #97 "Add travis configs to create release bundle with apks, on creating tags."
When we tag a commit and push it, it should create a release.

[2015-12-13 10:04] vjs3 opened #99 "App acting abruptly on tapping on star icon (icon which is use to add/remove from bookmark list) multiple times"
Application acting abruptly (even crashes few times) on clicking on star icon several times  and start downloading data again taking to the main screen.Ideally I think should remain on that screen itself.

[2015-12-18 07:54] mananwason commented on #99
@vjs3 This has already been fixed. Thanks for your contribution.

[2015-12-18 07:54] #99 closed

[2015-12-18 07:58] mananwason commented on #88
@mRokita Can you please provide a log because I am not able to recreate this bug.

[2015-12-18 11:33] vjs3 commented on #99
@mananwason #84 is still open I think this is the same issue?Please let me know if I am mistaken

[2015-12-18 12:32] mananwason commented on #99
@vjs3 it has been fixed here https://github.com/fossasia/open-event-android/pull/85. Not yet merged.

[2015-12-18 12:33] mananwason commented on #99
Also please don't open same issues twice.

[2015-12-18 12:43] vjs3 commented on #99
Sorry my mistake. I will keep that in mind from the next time.
On Dec 18, 2015 6:03 PM, "Manan Wason" <notifications@github.com> wrote:

[2015-12-18 14:08] vjs3 opened #107 "App is crashing on clicking on the speaker starting after Ria Ivandic on speaker's list"
@mananwason I didn't find any issue regarding it so I am creating it here.
On clicking on any member starting from member number 6 (i.e starting from guy named Tarek Ahmed) either app get crashed or lead us to the home screen. It is giving CursorIndexOutOfBoundsException.
I have resolved the issue and now it is working fine for all the rest members of the list as well.
Please can anyone help me ho

[2015-12-18 14:12] mananwason commented on #107
@vjs3 Create a fork of the main repo and make your changes on the fork and then create a pull request.

[2015-12-18 14:14] batraabhishek commented on #107
@vjs3 Also refer this https://guides.github.com/activities/contributing-to-open-source/ See "Contributing to a Project" for a quick start. :)

[2015-12-18 14:16] vjs3 commented on #107
Thanks @mananwason and @batraabhishek :) I will and then I commit changes.

[2015-12-18 14:32] vjs3 commented on #107
I made a pull request.Please someone review it and thank you for all the help :)

[2015-12-19 11:48] mananwason commented on #94
@mariobehling Where exactly is the data? I am not able to find it.

[2015-12-20 20:56] opticod opened #110 "UI BUG: Scrolling Effect Missing in Session Detail Activity"
![bug_op](https://cloud.githubusercontent.com/assets/13851773/11920040/2a5bac00-a78a-11e5-88c9-2b7f9f7f28fa.gif)

[2015-12-21 04:14] creativepsyco opened #112 "Text selection color scheme and overlay Action Bar"
This definitely is not within Material Style.

2 issues here:

- [x] The edit overlay (cut, copy & paste) should happen over the primary action bar, there isn't a concept of secondary navigation on Android, also title should not be **Text Selection**
- [x] The selection cursor pointer is white shouldn't be the case, should be yellow or whatever according to the theme.

![image](https://cloud.githu

[2015-12-21 15:58] opticod opened #115 "BUG: On Screen Rotation in any of the Drawer Activity,it closes abruptly"
If a user rotates his screen in any of the drawer Activities ,i.e.in Bookmarks,Speakers,Sponsors,Map,Location Activities,then that activity abruptly closes and Main Activity Opens...this can be irritating to user(as he wish to see that layout in landscape mode but something else happened  On Rotating the Screen ).

I have attached one example:
![optimised1](https://cloud.githubusercontent.com/asse

[2015-12-22 12:33] #115 closed

[2015-12-22 14:50] #110 closed

[2015-12-23 12:36] vjs3 commented on #107
@batraabhishek I have make a pull request https://github.com/fossasia/open-event-android/pull/108 which is passing Travis build as well but still not merged with the main branch.It would be good if someone help me to know whats the reason?If there is any issue with my code or anything else so please let me know.

[2015-12-23 14:19] mananwason commented on #107
@vj3s I am reviewing your PR.
On 23-Dec-2015 6:06 PM, "Vishwajeet Srivastava" <notifications@github.com>
wrote:

[2015-12-23 14:22] vjs3 commented on #107
@mananwason sure :)

*Vishwajeet Srivastava*
B.Tech, Pre-Final (Computer Science and Engineering)
The LNM Institute of Information Technology
Mob:+91-9461787316

On Wed, Dec 23, 2015 at 7:49 PM, Manan Wason <notifications@github.com>
wrote:

[2015-12-24 09:23] #107 closed

[2015-12-24 16:57] vjs3 opened #117 "Location option in the drawer is not working in offline mode"
Location is not working in the offline mode,it does not show anything on the screen.Also on changing to  offline mode after getting location data in the online mode, then refreshing cause application to get crashed.
This picture shows how it respond in the offline mode.
![device-2015-12-24-222351](https://cloud.githubusercontent.com/assets/11405622/11996645/7496e66c-aa8d-11e5-8b0b-a29d60d23bf0.png

[2015-12-24 17:03] vjs3 commented on #88
Yes application get crashed on offline mode several times, log is attached below!
[Uploading logcat.txt…]()

[2015-12-24 17:07] vjs3 commented on #88
Yes I also found that application get crashed several times in the offline mode, below I attached the log file with errors which causing this issue.
[logcat.txt](https://github.com/fossasia/open-event-android/files/71842/logcat.txt)

[2015-12-24 19:58] chhavip opened #118 "Improvements in Session Detail"
Some basic improvements:
 - [ ] Prevent display of null string below Title
 - [x] Give option to add to calender when time and date of session is clicked.

I could start working on them if they are found significant enough.

[2015-12-24 20:23] opticod commented on #117
I want to fix this.

[2015-12-24 20:26] opticod commented on #88
I want to fix this. @mananwason

[2015-12-24 20:27] vjs3 commented on #117
You can try to fix it in your local machine then make a pull request if you
fix it.

*Vishwajeet Srivastava*
B.Tech, Pre-Final (Computer Science and Engineering)
The LNM Institute of Information Technology
Mob:+91-9461787316

On Fri, Dec 25, 2015 at 1:53 AM, Anupam Das <notifications@github.com>
wrote:

[2015-12-24 21:23] vjs3 commented on #88
@mananwason I have fixed it please check my pull request.
https://github.com/fossasia/open-event-android/pull/119

[2015-12-24 21:32] opticod commented on #88
#120

[2015-12-24 21:33] opticod commented on #117
#120

[2015-12-24 22:47] vjs3 opened #121 "App crashing on scrolling for long time on the speaker's list"
Application get crashed few times when we scroll for long time on the speaker's list.Its been fixed, I have make a pull request #119

[2015-12-25 11:13] mananwason commented on #118
What do you mean by prevent display of null?
The second one is a good feature. You can start working on that.

[2015-12-25 11:16] mananwason commented on #96
I believe #113 fixed it, so I am closing this issue

[2015-12-25 11:16] #96 closed

[2015-12-25 11:17] mananwason commented on #94
@mariobehling what should we do about this now?

[2015-12-26 08:33] opticod opened #122 "App On Orientation Change,Search View and Search Text not Retained"

[2015-12-26 19:47] shivenmian opened #125 "Dialog for enabling network when disabled"
When you run the app without WiFi / Data enabled, it showed a Snackbar saying "Can't download right now" or "Download can't be done, check Internet Connection".

Instead of this, it'd be better if the user could allow network access within the app.

[2015-12-26 20:18] chhavip commented on #118
There is a string that is supposed to have some value I suppose but is showing null for now which is not good from perspective of user. If something else is required to be displayed that can be done.
![screenshot_20151227-014620](https://cloud.githubusercontent.com/assets/7212638/12007815/da4f2154-ac3b-11e5-95b7-2838d1e048a2.png)

[2015-12-26 20:32] #125 closed

[2015-12-27 16:24] chhavip commented on #48
Has this issue been resolved? I came across a good library https://github.com/afollestad/app-theme-engine that seems to deal with this particular use case. Let me know if work is needed.

[2015-12-28 10:22] shivenmian opened #127 "Error Handling FIXED"
A system is required to handle errors / give prompts whenever an error occurs in the server / HTTP / elsewhere, instead of a mere snackbar.

- [x] Show network errors through dialog/snackbar
- [ ] Create a logger to assimilate log messages for the app

[2015-12-28 10:24] creativepsyco commented on #127
:+1:

[2015-12-28 10:24] creativepsyco commented on #127
Log also maybe.

[2015-12-28 10:25] shivenmian commented on #127
I have logs in the code. Please check my PR.

[2015-12-30 10:01] #118 closed

[2015-12-30 10:04] chhavip opened #129 "Speaker Detail UI fix"
The current view displaying speaker details is fixed which if big leaves less amount of space for rest of items on the page. Reference:
![speakers](https://cloud.githubusercontent.com/assets/7212638/12049239/b1dad764-af0a-11e5-8ced-9384499a7054.png)
It should scroll with rest of the content or implement Observable Scroll view as in other places in the application.

[2015-12-30 10:07] mananwason commented on #129
Go ahead (y)

[2015-12-30 12:49] chhavip commented on #129
@mananwason , PR has been submitted, please review

[2015-12-31 06:56] chhavip opened #131 "No Bookmark Screen Fix"
In case there are no bookmarks, the Bookmarks screen should indicate that instead of a blank screen as it presently is.

[2016-01-03 23:04] hemantkasat commented on #131
I would like to work on this !

[2016-01-04 02:16] creativepsyco commented on #131
Go ahead! Submit a PR :+1:

[2016-01-04 04:15] hemantkasat commented on #131
what we have to show when there are no bookmarks ??

[2016-01-04 04:32] creativepsyco commented on #131
I believe an icon & some text will do.

Something like this, but catered towards the app theme.

![image](https://cloud.githubusercontent.com/assets/547235/12083474/0a6450cc-b2df-11e5-8989-4907333aa5a3.png)

Please check if the icon that you are using should either come from Material Design Toolkit from Google or come from an open source icon-set. Do link the source of the icon.

[2016-01-04 05:29] hemantkasat commented on #131
I have made one pull request , i will update and will make pull request again.

[2016-01-04 08:10] hemantkasat commented on #131
@creativepsyco please review my pull request  and i don't have any idea about  the error  " continuous-integration/travis-ci/pr — The Travis CI build failed "  i am getting , so tell me what it is ??

[2016-01-04 11:16] vjs3 commented on #127
@shivenmian can't we use ACRA (www.acra.ch) for that purpose?or your error handling system is doing someting else as well?

[2016-01-04 12:31] shivenmian commented on #127
I don't think we should use any external bug reporting feature like this. Directly using libs is not something we have done in any part  of the code.

[2016-01-04 12:51] creativepsyco commented on #127
Not yet but later, for now it is okay.

[2016-01-05 05:15] chhavip opened #135 "Search Bar not visible"
In Detail screen of a track, search view that opens when the image is expanded is not visible due to background color overlap
Screenshot attached for reference:
![screenshot_2016-01-05-10-41-46](https://cloud.githubusercontent.com/assets/7212638/12108093/48305f44-b399-11e5-9168-0d6775f658fd.png)
Let me know if I should work on this.

[2016-01-05 05:18] chhavip opened #136 "Sponsors UI fix"
Currently the sponsors are displayed in a congested way, a page with a list of cards with image of each sponsor and smoother scrolling will be better, let me know if I should implement this.

[2016-01-05 05:38] vjs3 commented on #136
I am also interested in doing this!

[2016-01-05 05:47] chhavip commented on #136
@vjs3 , I am already working on this so I guess it will be better if we don't duplicate the work.

[2016-01-05 05:49] vjs3 commented on #136
ok sure!Go ahead :)

*Vishwajeet Srivastava*
B.Tech, Pre-Final (Computer Science and Engineering)
The LNM Institute of Information Technology
Mob:+91-9461787316

On Tue, Jan 5, 2016 at 11:17 AM, Chhavi P. Gupta <notifications@github.com>
wrote:

[2016-01-05 06:11] mananwason commented on #135
I believe this will be a part of #48

[2016-01-05 06:18] shivenmian commented on #135
I'm already working on this @mananwason

[2016-01-05 06:25] mananwason commented on #135
On #48 ?

[2016-01-05 06:39] shivenmian commented on #135
Yes.

[2016-01-05 11:05] shivenmian commented on #127
@creativepsyco Do you want me to create that logger as well?

[2016-01-05 11:06] shivenmian commented on #48
I've been working on this, will submit a PR shortly.

[2016-01-05 11:26] shivenmian opened #137 "SpeakerListResponseProcessor typo"
There is an error in the code in SpeakerListResponseProcessor.java's failure event. It posts SponsorDownloadEvent(false) instead of SpeakerDownloadEvent(false).

I've spoken to @mananwason and it's a legit error. I'm submitting a PR for fixing the same.

[2016-01-05 11:26] creativepsyco commented on #127
The system should behave in such a way that once you enable it, there should be a log collection happening to a file. That file can then be exported or sent via email. then all the log.d or log.v messages will have to be passed to that file + printed in logcat.

Check out https://github.com/JakeWharton/timber for log aggregation.

[2016-01-05 11:28] shivenmian commented on #127
Okay @creativepsyco . I'll definitely work on this.

[2016-01-05 11:40] shivenmian opened #139 "i18n framework"
There are two issues I'm pointing out:

1. Since the strings.xml file has been changed in my Pull Request #128 (added extra strings), I think the strings.xml Chinese version needs to be updated as well. (PS: not sure if this is needed)

2. The error and network dialogs in Pull Request #128 have to be translated to Chinese as well.

I can't really do this, but please assign this to whoever made tha

[2016-01-05 13:44] creativepsyco commented on #139
We will use some crowd-source translation engines for this purpose like https://www.transifex.com/ or https://crowdin.com/

[2016-01-05 13:53] shivenmian commented on #139
Sure!

[2016-01-05 18:01] mananwason commented on #136
@chhavip What exactly do you have in mind?

[2016-01-06 05:55] chhavip commented on #136
@mananwason , a simple recycler view of cards on which each sponsor is highlighted. Will give a look of separation and focus on respective sponsor.

[2016-01-06 17:42] mananwason commented on #127
@creativepsyco I don't think there's any point in sending all the logs to the developer. We should send the mail if there's an error that requires the attention of the developer. So there can be a check in the download logs that if there is conversion error or HTTPError which could mean that the response format is bad or the server is down, we can write in a file and send it to the developer for i

[2016-01-06 17:44] shivenmian commented on #127
Exactly what I was thinking.

[2016-01-08 22:11] opticod opened #143 "Improvement of User's experiences by adding Widgets"
The idea is :

- [x] A User can place a Widget of OpenEvent App from Widget Collection into his home screen.
- [x] Clicking on the title bar "Bookmark" ,it will take him directly to the Bookmarks fragment in the App.
- [x] In the Widget below the title bar, he can see all the Bookmarked  Sessions,with Scroll View Enabled.
- [x] If he clicks any of the Bookmarked Session inside the Widget ,it will

[2016-01-08 22:12] opticod commented on #143
I have started working on this.It will i

[2016-01-09 02:38] chhavip commented on #136
@mananwason , should I submit the PR?

[2016-01-09 02:38] #129 closed

[2016-01-10 15:58] opticod commented on #143
Here is the animated video of the widget :
![output](https://cloud.githubusercontent.com/assets/13851773/12222371/85f4bfaa-b7e0-11e5-9ae9-eb8ebc776c8d.gif)

Please let me know whether I would make further modifications in it or is it fine ?
Thank You.

[2016-01-10 16:01] mananwason commented on #143
@opticod Nice work. One more thing that you can add is the time of the session.

[2016-01-11 10:18] vjs3 commented on #121
Problem has been fixed and merged with the main code so I am closing this issue.

[2016-01-11 10:18] #121 closed

[2016-01-11 12:06] #117 closed

[2016-01-11 20:15] opticod commented on #143
@mananwason  As suggested ,I have added time of the session in dynamic form.
Hence. an user can choose what he wants to see.If he likes a bigger size of widget with greater details,then he can choose 4 cell width widget or a 3 cell widget with lesser details.
Hope this will increase User's experience..

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/13851773/12245211/5477afd0

[2016-01-12 13:17] opticod commented on #143
@mananwason As suggested ,I have added time of the session in dynamic form.
Hope this will increase User's Experience..

Here is the animated video:
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/13851773/12264360/476e8be4-b95c-11e5-9506-b10db9e4bc5a.gif)

Please let me know whether I would make further modifications in it or is it fine?

[2016-01-18 11:28] vjs3 opened #150 "Missing about us Section"
There is about us section in nav drawer which is non functional right now, I want to add info regarding fossasia and other basic details similar to those which are used in **[Fossasia-Companion-App](https://github.com/fossasia/fossasia-companion-android)**.I know this might not be a very important functionality but every app has some about us section and we can have in this app as well.
@creativep

[2016-01-18 12:35] creativepsyco commented on #150
Sure I don't have a problem with it. As long as you come up with a design and content.

[2016-01-18 13:46] mananwason commented on #150
Go ahead @vjs3 but keep in mind it should have some customisation in terms of styling, usability for different events. The basic design should be flexible enough.

[2016-01-18 18:22] vjs3 commented on #150
@creativepsyco yes I have thought of design and content by myself.
@mananwason I will show you the basic design about what I have thought and then we can add other things which you or others will suggest.

[2016-01-18 20:33] vjs3 commented on #150
@creativepsyco @mananwason This is the most basic version of about-us which I have developed, please review it and tell me what other things needed to be added or is this sufficient for now then I can make PR.
![about_us](https://cloud.githubusercontent.com/assets/11405622/12402015/36274738-be50-11e5-8146-7f18b6b0f397.gif)

[2016-01-20 05:06] Yathannsh opened #152 "Navigation issue"
Going to Settings and then trying to navigate back to the previous activity results in a weird lag.
Have a look below:
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/12641346/12439766/7c8a88ba-bf5a-11e5-9287-284af7a86a23.gif)

This error could be caused due to the following reasons:
* finish() is not called in the MainActivity, when SettingsActivity is started.
* Using onBack

[2016-01-20 05:07] Yathannsh commented on #152
Seems like I have figured out a fix, should I send a PR to fix it?

[2016-01-20 05:14] Yathannsh commented on #152
Seems like I have figured out a fix, should I send a PR to fix it?

[2016-01-20 05:32] creativepsyco commented on #152
yep sure go ahead.

[2016-01-20 06:43] mananwason commented on #152
:+1:

[2016-01-20 07:25] opticod commented on #143
meged #149

[2016-01-20 07:25] #143 closed

[2016-01-20 07:28] opticod commented on #88
Merged #120

[2016-01-20 07:31] #88 closed

[2016-01-20 07:38] vjs3 commented on #150
@creativepsyco @mananwason guys should I go with PR?or do I need to add more details in here?

[2016-01-20 07:44] mananwason commented on #150
@vjs3 I'd personally prefer a different activity instead of a dialog but if you go for a dialog atleast make it [material](https://www.google.com/design/spec/components/dialogs.html#dialogs-alerts). Right now it looks similar to the one we had in the companion app.

[2016-01-20 07:52] #84 closed

[2016-01-20 17:30] Yathannsh commented on #152
@mananwason @creativepsyco
It will work fine after merging with #153
 Have a look :
![fix](https://cloud.githubusercontent.com/assets/12641346/12457165/29df843e-bfc9-11e5-9eeb-ac9e16051134.gif)
Also do approve, [this](https://codein.withgoogle.com/dashboard/task-instances/5686686189092864/?sp-page=1) task which required spotting a bug. Thanks :smiley:

[2016-01-21 15:37] opticod opened #154 "Intent Missing in Location and Speaker's List."
Currently an user can't check the session details from Speaker or Location Activity.He has to switch back to track activity track and then check the session details.

I am willing to fix this. @creativepsyco @mananwason

[2016-01-21 15:39] Yathannsh commented on #152
Is there anything more to be done @mananwason ?

[2016-01-21 16:21] mananwason commented on #152
No I don't think so @Yathannsh. But let me review once and then I'll approve your task.

[2016-01-21 16:24] Yathannsh commented on #152
Thanks a lot!

[2016-01-21 17:21] priyankvex opened #156 "Remove options menu icons in Sponsors fragment"
Options menu is visible in Sponsors fragment but is not doing anything. It would be nice to get that removed from Sponsors fragment.

[2016-01-21 17:23] creativepsyco commented on #156
OK sure, you can send a PR to get it removed.

[2016-01-21 18:00] mananwason commented on #152
@Yathannsh Just now checked the app on my phone. I don't see any lag. Please check. Thanks!
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/10570249/12489270/7df106b6-c095-11e5-8e8e-294bb1adc14e.gif)

[2016-01-21 18:02] #156 closed

[2016-01-21 18:10] creativepsyco commented on #152
Please see me comments on the code review of the PR. Its a wrong implementation.

[2016-01-21 18:19] creativepsyco commented on #90
@kunall17 this bug happens because the edit text somewhere in some other view/activity still holds the focus, it does not require the style changes as suggested by your PR to be fixed.

[2016-01-21 18:35] Yathannsh commented on #152
@creativepsyco I am not sure about how to implement it the right way :sweat_smile: with my limited experience in Android. I will leave it for the senior developers to fix it or come back here after learning a few stuff in a whilst. @mananwason  I used a Motorola's Moto X to test it, will not count as bug generic to the device?

[2016-01-21 18:41] mananwason commented on #152
@Yathannsh I just want you to recheck. It can be a bug in some devices. I checked with 3 and I didn't find any issues.

[2016-01-21 18:43] Yathannsh commented on #152
@mananwason ,after removing the finish() and testing it again, the lag still remains!

[2016-01-21 19:51] vjs3 commented on #150
@mananwason I am not going for the new activity right now because I am using very less data so dialogue is looking better right now.I have make it material, please check it out.
![about](https://cloud.githubusercontent.com/assets/11405622/12492470/638e376a-c0a6-11e5-86ef-4c7ee6bc4afa.jpg)

[2016-01-21 21:55] opticod opened #162 "BUG: onClick of any item causes starting of wrong session details."
I have attached a animated video of it.
Clicking on 'Purpose of Entry' causes launch of 'Strategise...'
![ezgif com-video-to-gif 2](https://cloud.githubusercontent.com/assets/13851773/12495759/925b4586-c0b7-11e5-932e-363d24714c48.gif)

[2016-01-21 21:57] opticod commented on #162
I will fix this in the PR with respect of #154

[2016-01-22 05:03] mananwason commented on #162
:+1:

[2016-01-22 05:26] creativepsyco commented on #152
The easy way to fix is to listen to the onCloseDrawers() operations and check if you any pending actions to perform (like navigating to a new activity).

[2016-01-22 05:30] Sumitparmaj opened #163 "Bug report"
https://github.com/fossasia/open-event-android.#153 error😁😂😂😂

[2016-01-22 05:30] Sumitparmaj commented on #163
Fossasia rocks😈😈😈😈

[2016-01-22 05:34] #163 closed

[2016-01-22 05:35] Sumitparmaj opened #164 "Bug report"
https://github.com/fossasia/open-event-android

[2016-01-22 05:39] #164 closed

[2016-01-22 05:41] creativepsyco commented on #164
Hi don't contribute like this if you have nothing to report.

[2016-01-22 10:12] vjs3 commented on #150
@mananwason please tell me if the above one is ok then I make a PR.Also suggest me any more info which you wanted to add in here.

[2016-01-24 09:35] creativepsyco opened #167 "Accept rating for talk"
App should allow submitting rating for a talk, also can prompt via a simple notification.

See issue https://github.com/fossasia/open-event-webapp/issues/106

[2016-01-24 09:43] mananwason commented on #167
@creativepsyco I'll work on this. Let's get the server ready for sending gcm notifications to ask feedback. Cheers!

[2016-01-24 10:35] creativepsyco commented on #167
the notification can be set locally using alarm service because we already know when the talk is going to get over.

[2016-01-24 10:37] mananwason commented on #167
Yeah that's true but we can do the same work easily using gcm and gcm is easier to setup as well.

[2016-01-24 10:39] creativepsyco commented on #167
GCM requires separate server implementation and we want to be as much stand-alone and de-coupled as possible :)

[2016-01-24 11:03] mananwason commented on #167
@creativepsyco the app is already dependent on the server for the data and the server implementation for gcm is pretty easy and straight forward. The main point of using service is when we want alarms to be offline but  we also need to send the feedback to the server, hence we have to use internet. Plus we'd have to manage timezones as well while using service which will be avoided in gcm. I perso

[2016-01-24 12:15] creativepsyco commented on #167
Right now the only thing the app needs is the data. which can come from a variety of sources, GitHub JSON, self-hosted ones etc.

Couple of things for GCM
* Its not easy to setup, you need to store Device Ids and registration tokens from GCM and validate them upon app startup. The client side may look easy but the server side is a bit complicated, trust me.
* What timezone? Everything is UTC based

[2016-01-24 17:35] vjs3 commented on #150
@creativepsyco @mananwason Its been a week I am trying to get feedback from you guys but no one is responding it looks like this feature is not worth doing then I will work on something else.Please atleast notify about this to me.

[2016-01-24 17:38] creativepsyco commented on #150
Hi @vjs3 ! I am extremely sorry I had been swamped with PRs for other projects as well. I assumed since @mananwason was actively commenting that he would be taking over the review. My Bad.!

[2016-01-24 17:38] creativepsyco commented on #150
Where's the PR?

[2016-01-24 17:50] vjs3 commented on #150
I have not submitted it because I was waiting to get review from you guys
if this looks ok to you then I will make PR
On Jan 24, 2016 11:08 PM, "Mohit Kanwal" <notifications@github.com> wrote:

[2016-01-24 18:04] mananwason commented on #150
Sorry @vjs3 !! Getting lots of activity from other projects as well. Didn't notice that you commented on this issue . Go ahead, create the PR. We can review it then.

[2016-01-24 18:05] vjs3 commented on #150
I can understand. Sure I will do that and thank you for  responding.
On Jan 24, 2016 11:34 PM, "Manan Wason" <notifications@github.com> wrote:

[2016-01-24 18:05] mananwason commented on #150
:+1:

[2016-01-24 18:26] mananwason commented on #167
Couple of things.
GCM doesn't need particular time to send a notification. The server can do so anytime. So we only need to make the server send the notifications according to the talk timings. We don't have to parse everything then register services in the app. Just doesn't seem right to me to register all the session's timings as services and then ask for feedback. In my view, GCM would be a bet

[2016-01-24 18:30] vjs3 commented on #150
@creativepsyco @mananwason Submitted PR, please review it.

[2016-01-25 00:41] creativepsyco commented on #167
I am not saying we put alarms for all the sessions. I said explicitly one
alarm in the morning to parse through the sessions and show notification.
How is that more difficult than GCM? Also please elaborate how will you fix
the issue in fdroid version where there is no dependency of Google play
involved, forget GCM.

All i want currently is to have a great stand alone app with features found
in mo

[2016-01-25 03:14] creativepsyco commented on #152
See commit 3073b38 for how this issue is fixed.

[2016-01-25 03:17] #152 closed

[2016-01-25 03:17] #137 closed

[2016-01-25 06:50] creativepsyco opened #171 "Write data layer tests"
There are no tests for data layer currently.

The test should provide coverage of the DB layer code, the helpers, managers etc, test relationship etc.

[2016-01-25 06:51] mananwason commented on #167
That makes more sense. So, you propose to put an alarm that goes through all the bookmarked sessions and shows a notification at appropriate end times of all the sessions.
But what if the timings for the sessions change, wouldn't there be inconsistencies?

[2016-01-25 07:07] creativepsyco commented on #167
The alarm just needs to be set once. And you are checking local data so
inconsistency doesn't matter. I will make a rough template of this to show
how it works.

On Mon, Jan 25, 2016, 2:51 PM Manan Wason <notifications@github.com> wrote:

[2016-01-25 07:13] mananwason commented on #167
I understand that we'll check for changes against the local data and then edit the alarms for the changed timings but I am saying that even if there is a single changing in the session time, we need to go through all the data and re check everything and then set the ones that have changed. Wouldn't that hog resources for events with a significant number of talks. Isn't there any better way?

[2016-01-25 07:33] creativepsyco commented on #167
Please suggest a better way.

[2016-01-25 08:14] opticod commented on #171
@creativepsyco , can I start working in this? (have to learn few things also)

[2016-01-25 08:17] shivenmian commented on #171
already doing it @creativepsyco. I told @mananwason also.

[2016-01-25 08:30] creativepsyco commented on #171
Yeah sure i just wrote some basic tests in [EventInsertTest](https://github.com/fossasia/open-event-android/blob/master/app/src/androidTest/java/org/fossasia/openevent/EventInsertTest.java), you can check them, I haven't written solid ones yet. No delete etc present. But the idea is to test as much database manager, helper code as possible, just now I uncovered a bug with respect to sql escaping o

[2016-01-25 08:36] creativepsyco commented on #171
Also another way would be to check for invalid data and see if the application can render properly. e.g. some logo url is empty but if during application start up if the application crashes, then this is a problem. But this is more of a data layer+activity (Espresso) test. Not just data layer.

[2016-01-25 17:21] opticod commented on #171
Thanks @creativepsyco , I want to start working with Espresso for this data layer+activity ... Hope this will not clash with you. @shivenmian

[2016-01-25 17:25] opticod commented on #171
@shivenmian you can also clarify the areas ,to prevent clashes

[2016-01-26 19:22] debbarmaonit commented on #135
Can I also look into fixing this issue? It should be easy to implement. Any thoughts?

[2016-01-26 19:25] mananwason commented on #135
@debbarmaonit Actually this is a part of #48. You are welcome to work on that. I think I should close this for now. Cheers!

[2016-01-26 19:25] #135 closed

[2016-01-26 19:42] debbarmaonit commented on #135
Oh. Thanks for the info. @mananwason . I am looking into this right now. Will get it done. Nights.

[2016-01-26 19:43] #90 closed

[2016-01-26 19:43] mananwason commented on #135
Great :+1:

[2016-01-26 19:44] #94 closed

[2016-01-26 19:45] #112 closed

[2016-01-26 19:45] #122 closed

[2016-01-26 19:51] mananwason commented on #154
My bad. #155 is still in progress. Hence reopening.

[2016-01-26 20:55] opticod commented on #162
#155 in progress

[2016-01-26 21:02] mananwason commented on #162
Oh okay. Reopening this as well!!

[2016-01-27 10:10] shivenmian commented on #59
@mananwason I'm on this.

[2016-01-27 10:11] shivenmian commented on #48
I'm on this.

[2016-01-27 10:11] mananwason commented on #59
okay @shivenmian :+1:

[2016-01-27 10:12] mananwason commented on #48
Please work on the issues that you've taken before, if someone else is not working on it, then you can work on this too!

[2016-01-27 10:40] shivenmian commented on #48
Yeah obv

[2016-01-27 13:07] creativepsyco commented on #48
You are very eager to contribute lol that's great attitude. Ok I need to
see near perfect pull requests then ;)

On Wed, Jan 27, 2016, 6:40 PM Shiven Mian <notifications@github.com> wrote:

[2016-01-28 20:18] opticod opened #174 "Missing Updates of Bookmarked List"
On UnBookmarking a session ,it doesn't get removed from the Bookmarked List , until and unless we change the fragment.
![gif_2](https://cloud.githubusercontent.com/assets/13851773/12657557/f1b475a8-c629-11e5-8a4c-9b670b4d221c.gif)

[2016-01-31 16:17] #174 closed

[2016-02-02 02:41] creativepsyco opened #180 "A schedule for the event"
### Objective
To come up with a schedule fragment for the event

Right now there isn't a schedule, one can only view the tracks and sessions listed under that track.

This fragment would allow
- [ ] filtering of sessions. We can use a dialog for this and a normal filter for search.
- [ ] depicts each track with a different color, (can be represented by a new color property in JSON)
- [ ] Allow boo

[2016-02-02 03:29] opticod commented on #180
What do u mean by normal filter? Is it based on tracks? Like ..filter by culture,fashiontech.....?

And color details will be provided in which json? Request address and the fomat....we can also color them by timing....like...those are done..we can color by red..upcoming by some different and currently going on...by different color.

[2016-02-02 03:53] creativepsyco commented on #180
each track will have a color of its own. It will be provided in the json that the track is being read from
the filter is to include the tracks to display in the schedule, like a checkbox.
only selected selected tracks will show up in the schedule. default is all.

[2016-02-02 06:51] mananwason commented on #180
@creativepsyco I'll work on this.
Instead of setting colors for each track, we can use palette to get the track color from the track image already in the json.

[2016-02-02 07:05] duncanleo commented on #180
@creativepsyco my pull request #181 contains a bit of work on this new design

[2016-02-02 08:58] opticod commented on #180
just came back from college....was also interested....but already assigned... ok.. :+1:
will definitely contribute in some other areas. :smile:

[2016-02-02 08:58] creativepsyco commented on #180
Yes I think there will be still bugs :+1:

[2016-02-02 11:47] vjs3 commented on #180
In case if I can help in this feature anyway please let me know, this looks
like an interesting feature to implement.

*Vishwajeet Srivastava*
B.Tech, Pre-Final (Computer Science and Engineering)
The LNM Institute of Information Technology
Mob:+91-9461787316

On Tue, Feb 2, 2016 at 2:28 PM, Mohit Kanwal <notifications@github.com>
wrote:

[2016-02-03 06:01] SilentFlame commented on #167
Is this issue fixed?
@creativepsyco
@mananwason

[2016-02-03 10:01] mananwason commented on #167
@SilentFlame I am working on this.

[2016-02-03 16:13] suheb opened #182 "Clicking on speaker social profile with no link results in app crash"
Steps to reproduce:
1. Go to speakers section.
2. Click on any speaker.
3. Click on any social profile icon.
4. If the selected profile's link not available, it results in app crash.

[2016-02-03 16:22] suheb commented on #182
PR to fix this #183

[2016-02-03 21:20] #131 closed

[2016-02-03 21:59] vjs3 commented on #182
@suheb I tried to reproduce it several times but didn't able to reproduce the bug.

[2016-02-04 08:26] #182 closed

[2016-02-04 13:27] vjs3 commented on #150
@creativepsyco thankyou so much help for all of your help :smile: .

[2016-02-04 13:27] #150 closed

[2016-02-04 15:21] opticod opened #188 "UI BUG"
We have to click two times `OK` Button in about section to close it.

[2016-02-05 02:32] #188 closed

[2016-02-05 08:22] shivenmian opened #191 "About Us dialog comes up when Settings is pressed"
Also, when you click on Settings in that nav bar, it doesn't directly lead you to SettingsActivity.class. First the animation occurs and then you see the same screen for a while, and then the intent acts.

It's trivial to fix. Will drop in a PR in a bit.

[2016-02-08 07:34] #136 closed

[2016-02-10 04:55] #191 closed

[2016-02-10 09:42] #162 closed

[2016-02-10 09:57] opticod commented on #154
Merged via  dd7827 .Hence closing.

[2016-02-10 09:57] #154 closed

[2016-02-10 20:26] vjs3 opened #195 "Search is not giving appropriate result inside tracks"
The search option inside producing a general result what I mean by that, suppose there is article named "_The revolution will be written in HTML_" and this article is present inside a Buisness and & Innovation but If I am searching it inside in any other track (say City of The Future) as well then also I can found it using current search option.
Ideally it should work like if I am searching inside

[2016-02-13 14:04] vjs3 commented on #195
@creativepsyco any suggestion on this?

[2016-02-13 14:07] mananwason commented on #195
@vjs3 You can work on this if you like.

[2016-02-15 14:27] opticod opened #196 "Adding personalized Keyboard feature"
Currently we have to press back button or perform a fragment transaction to hide the soft keyboard,this is uncomfortable for users. If we add the feature of hiding the keyboard even when the user clicks away from an input field ,then it will be more user friendly. Can I start working on it ?

[2016-02-28 08:37] scopeInfinity opened #203 "Adding Intent Call under Speakers Section"
On clicking on let's say LinkedIn Icon under Speakers Section, Link opens via Web Browser.
Will it be nice if it open through LinkedIn Application if Installed.

[2016-02-28 21:35] scopeInfinity opened #204 "Saving Navigation Drawer Image"
When connected to Internet
![aqua_power_hd_2016-02-29-02-59-22](https://cloud.githubusercontent.com/assets/9819066/13382035/ecafaa6c-de90-11e5-9a9c-9527afd775c4.png)

After disconnecting from Internet and starting Application again
![aqua_power_hd_2016-02-29-02-59-45](https://cloud.githubusercontent.com/assets/9819066/13382037/ef37d71e-de90-11e5-8edc-779af9281190.png)

We can temporarily store ima

[2016-02-29 17:52] scopeInfinity opened #207 "Multiple Selection in Navigation Bar"
![ScreenShot](https://cloud.githubusercontent.com/assets/9819066/13403470/3223dcf8-df3b-11e5-82a8-41179f176b85.png)

This issue is only for front-end part.

[2016-02-29 18:07] mananwason commented on #207
@scopeInfinity What are you trying to accomplish here?

[2016-02-29 19:34] scopeInfinity commented on #207
@mananwason I meant by opening Navigation Drawer then then clicking on `Settings` or `About us` will make there text color goes from gray to orange permanently until Application is restarted.

[2016-03-05 03:27] joerx opened #213 "Make github bot less spammy"
Is there any way to prevent the github bots code review comments to clog up members news feeds? Some commit from yesterday pushed any other entries out of my feed.

Can't you just set up a travis build and let if fail if code doesn't live up to standards instead of making a lot of inline comments?

[2016-03-05 03:29] joerx commented on #213
That's how it looks like: ![screen shot 2016-03-05 at 11 28 32 am](https://cloud.githubusercontent.com/assets/1712460/13545408/718752ac-e2c5-11e5-8c0b-3a8dc35dc521.png)

[2016-03-05 14:25] duncanleo opened #214 "Travis CI build failing"
Whenever a new commit is pushed, and a build is attempted by Travis CI, it always fails with the below error:

``
/home/travis/.rvm/gems/ruby-1.9.3-p551/gems/octokit-4.3.0/lib/octokit/response/raise_error.rb:16:in `on_complete': POST https://api.github.com/repos/fossasia/open-event-android/commits/fd30444c2876014304df0089a6fc61d362015065/comments: 403 - You have triggered an abuse detection mechan

[2016-03-05 15:17] championswimmer commented on #214
@creativepsyco I suggest moving to following branching policy

- master
- stable
- shipping

PRs go to master. Only tests for buildability on Travis.
Every month or biweekly, PR from master -> stable branch. Travis runs build + QA.
After sufficient new features/bugfixes, PR from stable -> shipping. Travis builds + deploys APK with tag to github releases.

If that sounds good, I'll start making thi

[2016-03-05 18:02] creativepsyco commented on #214
Yep go ahead :+1:

[2016-03-05 19:12] shivenmian opened #215 "Bookmark notifies wrongly"
If you bookmark a session, a notification for it pops up. But when you bookmark another session, the notification for it is the same as the previous notification (for the previous session), instead of a notification for this session.

Even if you un-bookmark that first session and bookmark another session, the notification of that first session will still come, which is obviously wrong.

[2016-03-06 06:04] sukhbir-singh opened #217 "SettingsActivity have incorrect statusBarColor"
White -> Red

[2016-03-06 12:40] GauravChaddha1996 opened #222 "Opening of Navigation Drawer and Soft input keyboard"
If the user is using soft input keyboard and then navigation drawer is opened,keyboard doesn't hides automatically and is shown on top of the navigation drawer leading to only half of navigation drawer being seen.

[2016-03-06 16:46] Sreedev opened #227 "White status bar in speaker detail page."
Navigate to list of speakers and click on speaker detail page. The status bar colour will be white.

[2016-03-06 17:10] GauravChaddha1996 commented on #222
I've solved this bug in the following pull request please merge. #225

[2016-03-06 17:19] GauravChaddha1996 commented on #196
Are you talking about the issue i fixed or some other one? #225

[2016-03-06 17:21] GauravChaddha1996 commented on #227
It is similiar to the #217 and #219

[2016-03-06 17:45] opticod commented on #196
@GauravChaddha1996 This #196 PR is related to the feature of auto hiding the keyboard when the user clicks away from an input field or if we scroll to increase the view space.

[2016-03-06 18:48] GauravChaddha1996 commented on #196
Oh okay .I saw the scroll issue with keyboard.Have you solved it yet?

[2016-03-06 20:52] the-dagger opened #228 "App is launched again on pressing the "Back" key"
On pressing the back key, the app is launched again instead of closing it.
Proposed fix:
Digging down a bit, i found out that the problem lies in the SplashActivity.java
On commenting out the following lines
`SplashActivity.this.startActivity(intent);` and
`SplashActivity.this.finish();` from the run() method, I was able to fix relaunching the app on pressing back button.
But now on pressing back

[2016-03-06 21:21] the-dagger opened #230 "Incorrectly named strings.xml file for Romanian"
The strings.xml file for Romanian was incorrectly named as values.xml.
I have sent a PR for the same.

[2016-03-06 22:16] sukhbir-singh commented on #228
I want to ask, after opening any fragment/activity from navigation drawer then on back press, do we have to close app or bring back to Tracks page.

[2016-03-06 23:11] sukhbir-singh commented on #1
Pull request#218
Fixed some typos in readme.MD [https://github.com/fossasia/open-event-android/pull/218(url)

[2016-03-07 04:28] GauravChaddha1996 commented on #228
I’ve fixed this and another bug in the Pull request. #225 Please consider.

[2016-03-07 05:37] the-dagger commented on #228
@GauravChaddha1996 Hey man, i was already working on it.
It would've been great it you'd let me fix it and send a PR.
Cheers.

[2016-03-07 06:38] the-dagger opened #232 "Wrong statusbar and toolbar icon color in activity_locations.xml"
Fixed it here https://github.com/the-dagger/open-event-android/commit/9a7d631976b19f3c26095f42bf64f1475b4648b2

[2016-03-07 13:09] the-dagger opened #238 "Wrong sponsor links in SponsorsFragment.java"
On clicking the sponsor images, each one of them redirects to the same URL. (http://www.redhat.com/en)
I am working on fixing it and a PR will soon be on the way.
Cheers.

[2016-03-07 13:29] mananwason commented on #238
@the-dagger I am closing this. This is not really an issue. This is due to the urls in the api.

[2016-03-07 13:29] #238 closed

[2016-03-08 20:09] the-dagger commented on #167
Hey @mananwason , is any help needed for this issue?
I am willing to help you for the same.
Cheers.

[2016-03-09 07:17] championswimmer commented on #214
fixed

[2016-03-09 08:36] #232 closed

[2016-03-09 10:07] duncanleo commented on #214
@championswimmer I'm afraid that Travis is still giving out the same error :/

Link to Travis log: https://travis-ci.org/fossasia/open-event-android/builds/114737012
(It's for the same PR #200)

[2016-03-09 10:11] #215 closed

[2016-03-09 14:41] opticod opened #242 "Missing Runtime Permissions for APK >=23"
For missing permissions , the view remains un-populated.
![screenshot_20160309-200510](https://cloud.githubusercontent.com/assets/13851773/13638582/efdf90c2-e632-11e5-8076-97eb69aaba4f.png)

[2016-03-09 14:58] suheb opened #244 "Bookmark notification icon shows as a white rectangle in android 5.0"
This issue arises due the following changes in android 5.0:
https://developer.android.com/about/versions/android-5.0-changes.html#BehaviorNotifications

[2016-03-09 15:31] opticod commented on #214
Giving same issues with the PR#198

[2016-03-09 15:43] championswimmer commented on #214
Are you making PRs on top of the latest master.
PRs on older HEADs will fail
On 09-Mar-2016 9:01 pm, "Anupam Das" <notifications@github.com> wrote:

[2016-03-09 15:51] opticod commented on #214
No, It's an old PR..pending for review.

[2016-03-09 16:50] abhishekjiitr commented on #203
@scopeInfinity , please look at my PR: LinkedIn App Support Added #240.
I have handled this issue.

[2016-03-09 17:18] opticod commented on #214
Should I make new PRs for the same ?

[2016-03-10 04:59] championswimmer commented on #214
Yes. On top of latest master HEAD
On 09-Mar-2016 10:48 pm, "Anupam Das" <notifications@github.com> wrote:

[2016-03-10 05:07] duncanleo commented on #214
@championswimmer My PR (#200) comes from the `duncanleo/schedule` branch and it's been updated from the `master` branch through several merges. Do I have to open another PR?

[2016-03-10 05:47] championswimmer commented on #214
There's a problem with it is that there are multiple codestyle issues, and
@creativepsyco 's script that works via @fossasiaGithubBot is making more
API calls than Github allows.

On 10 March 2016 at 10:37, Duncan Leo <notifications@github.com> wrote:

[2016-03-10 12:21] praba1110 opened #248 "UnknownHostException downloading MapTile"
Tile loader can't continue due to this unknown host exception, takes too much time to download map.

[2016-03-10 13:43] opticod commented on #214
I made the PR  at the top of head of master this time,but its still failing

PS: I had rebased my branch also with current master before making PR

[2016-03-10 13:59] the-dagger commented on #248
Map loads fine here,
Could you link me to the logs if possible?
Cheers.

[2016-03-10 15:05] praba1110 commented on #248
<code><p>03-10 20:27:18.982 3281-9080/org.fossasia.openevent W/OsmDroid: UnknownHostException downloading MapTile: /15/17601/10746 : java.net.UnknownHostException: Unable to resolve host "c.tile.openstreetmap.org": No address associated with hostname</p>
<p>
03-10 20:27:18.982 3281-9080/org.fossasia.openevent I/OsmDroid: Tile loader can't continue: /15/17601/10746</p>
<p>
03-10 20:27:18.996 3281-9

[2016-03-10 15:06] shivenmian commented on #248
That's just lack of permissions. I think that's in #242.

[2016-03-10 17:34] championswimmer opened #252 "travis-ci: need to reduce API calls from codestyle.sh"
@creativepsyco need your inputs on this

Options are -

- Use authenticated request (should be needing putting the client secret in travis as encrypted string)
- Cache the github comment requests

[2016-03-10 17:46] #244 closed

[2016-03-10 17:49] #230 closed

[2016-03-10 17:49] #228 closed

[2016-03-10 18:19] championswimmer commented on #227
@the-dagger did you make a PR with the fixes ?

[2016-03-10 18:21] the-dagger commented on #227
@championswimmer Yep.
https://github.com/fossasia/open-event-android/pull/235

[2016-03-10 18:30] championswimmer commented on #227
Oh ok, cool, I've already merged that.

That's why I was wondering why I am not facing the issue on the latest build

On 10 March 2016 at 23:51, Harshit Dwivedi <notifications@github.com> wrote:

[2016-03-10 19:00] mananwason commented on #204
Closing this

[2016-03-10 19:00] #204 closed

[2016-03-10 20:34] championswimmer commented on #214
Closing this. Have temporarily disabled codestyle comments

[2016-03-10 20:34] #214 closed

[2016-03-10 20:34] championswimmer commented on #213
Closing this. Have temporarily disabled codestyle comments

[2016-03-10 20:34] #213 closed

[2016-03-10 20:41] the-dagger commented on #203
@championswimmer Done!
#260

[2016-03-10 20:42] the-dagger opened #261 "getFacebook method returns the twitter URL"
@mananwason I was unable to add the intent caller for Facebook in #260 as the method getFacebook() inside Speakers.java returns the Twitter URL.
Could you please have a look at it.
@creativepsyco @championswimmer

[2016-03-11 09:09] the-dagger commented on #248
Working on this.

[2016-03-11 09:21] opticod commented on #248
@the-dagger , I am already working on this Please see PR #243

[2016-03-11 09:23] the-dagger commented on #248
Ok, cool then.
Cheers.

[2016-03-11 16:12] the-dagger commented on #261
@mananwason Hey, could you please have a look at this?
Cheers.

[2016-03-12 08:28] championswimmer opened #269 "Convert Log.* calls to Timber.* calls"
Now that we use Timber - let's actually make use of it :D

[2016-03-12 08:35] shivenmian commented on #269
I think that's already been done @championswimmer. I'm not able to see any Log.* calls in the app anymore.

[2016-03-12 08:37] shivenmian commented on #269
Can I do this? It's just a find and replace.

[2016-03-12 08:47] the-dagger commented on #269
I would love to give this a shot too. @championswimmer

[2016-03-12 09:04] championswimmer commented on #269
Lol, who ever puts a PR first ;)

On 12 March 2016 at 14:17, Harshit Dwivedi <notifications@github.com> wrote:

[2016-03-12 09:05] championswimmer commented on #269
Also initialise the Trees please. Do not just find and replace

On 12 March 2016 at 14:34, Arnav Gupta <championswimmer@gmail.com> wrote:

[2016-03-12 09:24] #269 closed

[2016-03-13 13:20] opticod opened #276 "Speaker Details Missing"
Speaker Details is Missing in FOSSASIA Event App. @mananwason
![screenshot_20160313-184538](https://cloud.githubusercontent.com/assets/13851773/13728861/0dcd072e-e94c-11e5-916e-7287759c5a24.png)

[2016-03-13 13:23] mananwason commented on #276
Would you like to work on it? Basically the info is not present in the speakers json, you'd have to scrape it and then connect it to the heroku server. http://open-event.herokuapp.com/api/v1/event/18/speakers

[2016-03-13 13:26] opticod commented on #276
Yes , I would like to work

[2016-03-13 13:28] mananwason commented on #276
Go ahead but till when will you be done? I need a timeline.

[2016-03-13 13:31] shivenmian opened #277 "Multiple selection in navdrawer in FOSSASIA 2016"
@mananwason check out #307 , else I'll send it again.

[2016-03-13 13:31] shivenmian opened #278 "Notifications for bookmarked events not there in FOSSASIA 2016 app"
@mananwason when you bookmark events, a notif comes for the OpenEvent app, however it is not so for this one. I'd submitted a PR for this a week ago and it'd been merged for the OpenEvent app. Should I do it again?

[2016-03-13 13:32] shivenmian opened #279 "Speaker details missing in FOSSASIA 2016 app"
@mananwason speaker details are blank.

[2016-03-13 13:33] mananwason commented on #279
Already reported @shivenmian #276

[2016-03-13 13:33] #279 closed

[2016-03-13 13:34] opticod commented on #276
Its a long list.probably 2 days ?And from where should I get the info?

[2016-03-13 13:35] mananwason commented on #278
@shivenmian Notification should not come right now, it should be there before the event is about to start but you are welcome to give it a try using some mock api's

[2016-03-13 13:36] mananwason commented on #277
@shivenmian I'll check it out.

[2016-03-13 13:36] shivenmian opened #280 "Some data isn't correct"
Not sure if this is an issue, but if you go to "Exhibition and Snack area", then the event "Lunch" is given there four times, all with the same timings. Besides, some locations data is blank - they don't show anything.

Also, there seems to be no difference between the tracks, all have the same sessions under them. @mananwason

[2016-03-13 13:37] mananwason commented on #276
@opticod 2 days are way too long. We need to get it fixed by maximum tomorrow. @rafalkowalski Can you fix these things for the speaker.json file?

[2016-03-13 13:38] opticod commented on #276
Can you say from where we will get the info?

[2016-03-13 13:40] mananwason commented on #276
This data is all scraped from a spreadsheet onto the open event orga server

[2016-03-13 13:41] mananwason commented on #280
Not an issue. It's the way api is working but I'll fix this myself.

[2016-03-13 13:44] opticod commented on #276
@mananwason , ok, I will give my best to complete it by tomorrow night(24 hrs), can I start ?

[2016-03-13 13:45] mananwason commented on #276
Sure go ahead.

[2016-03-13 13:47] opticod commented on #276
Can you provide the link to spread sheet?

[2016-03-13 13:49] shivenmian opened #281 "App crashes on clicking of some sessions"
Go to Hardware and IoT ---> The outstanding keynote at FOSSASIA.

App crashes. This could happen for other sessions under other tracks too I think.

I'll try fixing this. @mananwason till when do you want this?

[2016-03-13 13:59] mananwason commented on #281
By today @shivenmian

[2016-03-13 14:00] mananwason commented on #276
https://docs.google.com/spreadsheets/d/1QeAyxbEc1fP9h5_kGQh-EVrx5RaYgbKFJBE9wUjIdvc/edit#gid=1847379562 @opticod

[2016-03-13 14:13] shivenmian commented on #281
Sure, I'll give this a shot.

[2016-03-13 16:35] the-dagger opened #282 "Speaker details are missing"
@mananwason the details for the speakers are missing in the production version.
Cheers.

[2016-03-13 16:38] #282 closed

[2016-03-13 17:14] shivenmian commented on #281
@mananwason I think I know why it was crashing. Have a look at this:

http://open-event.herokuapp.com//api/v1/event/18/sessions

"The outstanding keynote at FOSSASIA" doesn't have a microlocation. It's set to null. The app can't get the microlocation.

[2016-03-13 20:12] opticod commented on #276
@mananwason
I am done with adding the infos. Only thing now left is scraping for the sessions. Need some help  for the sessions as I am facing problem in scraping the sessions,
Here is the spreadsheet link : I have added a `Speakers` sheet.
https://docs.google.com/spreadsheets/d/158_9sfH9hXqvHjfErVPgipuGVwuMnXMCmIBA9iEZeS0/edit?usp=sharing
Here is the file in JSON format:
https://drive.google.com/

[2016-03-13 22:06] SilentFlame opened #284 "Tracks not showing all the tracks."
the app displays something like this.
![12837399_984277698330885_276153426_o](https://cloud.githubusercontent.com/assets/9693795/13731685/62f94d68-e995-11e5-83cf-cf5ea1e3356c.jpg)
but on the web-app we have tracks as per below.
![track](https://cloud.githubusercontent.com/assets/9693795/13731700/be7cba8a-e995-11e5-822e-d3346faf4198.png)

@mananwason  have a look. as this is the first page which is

[2016-03-15 12:01] shivenmian commented on #280
@mananwason From where is the app picking the sessions data? [This](http://open-event.herokuapp.com//api/v1/event/18/sessions) or [this](https://github.com/fossasia/open-event-orga-server/blob/master/open_event/tools/fossasia/sessions.json)?

[2016-03-15 12:11] tejaslodaya commented on #280
@shivenmian I guess from [this](https://raw.githubusercontent.com/fossasia/open-event/master/testapi/event/1/sessions)

[2016-03-15 12:16] shivenmian commented on #280
No.

[2016-03-15 13:35] SilentFlame opened #285 "Logo changes to Twitter logo when offline."
This happens I'm offline, I know that it's not a major bug but thought to report as such we can improve it.

![shot](https://cloud.githubusercontent.com/assets/9693795/13779362/91391e82-eae0-11e5-931d-dbe2e068f782.png)

@mananwason I guess this will be easy to resolve, as we need to save the logo to the app only.
I could help but am really not familiar with android a bit.
Let me know if I can help

[2016-03-15 14:47] the-dagger commented on #285
Wait, i'll choose a better image and send a PR

[2016-03-18 06:47] the-dagger opened #292 "Event Description missing in the prod. version"
The description of the events not visible in the EventDetails activity or in the event card inside Bookmarked sessions in the prod. version
![screenshot_2016-03-17-19-47-55](https://cloud.githubusercontent.com/assets/6565270/13854971/281eaa2e-ec94-11e5-8c27-05cf2e8a29d8.png)

Normally
![capture](https://cloud.githubusercontent.com/assets/6565270/13854998/4cb3c50e-ec94-11e5-9f45-b227636b5dcf.PNG)

[2016-03-22 13:34] #278 closed

[2016-03-22 19:08] ahmed-fathy-aly opened #294 "incorrect layout of Nav drawer menu items"
screenshot here http://i.imgur.com/XdbfZZl.png
Settings and about us don't look like the other menu items

[2016-03-22 19:12] ahmed-fathy-aly opened #295 "weird looking padding in the tracks page"
screenshot here http://i.imgur.com/IztbyOu.png
the padding on below the app bar should be removed

[2016-03-22 19:21] ahmed-fathy-aly opened #296 "wrong collapse of the speaker details app bar"
screenshot here http://i.imgur.com/Ms9OJpf.png
The app bar should collapse to show the toolbar(the one with the back button) but now it shows a portion of the view underneath

[2016-03-22 19:32] ahmed-fathy-aly opened #297 "map's zoom controls appearing above navigation drawer"
![hlvd458](https://cloud.githubusercontent.com/assets/1583873/15819283/936aafb6-2be2-11e6-8a8d-2d981fc9dfdc.png)

screenshot here http://i.imgur.com/hLVd458.png

[2016-03-22 20:30] ahmed-fathy-aly opened #299 "Notification not showing all the test"
screenshot here http://i.imgur.com/sWDfQaF.png
Big View notification style should be used to show all of the text

[2016-03-22 20:32] ahmed-fathy-aly opened #300 "Settings doesn't show the preference's value"
screenshot here http://i.imgur.com/8qZGkYG.png
Now it shows the preference title two times (Notification Mode), It should show the stored value (10 minutes) instead

[2016-03-22 21:45] #294 closed

[2016-03-22 22:05] opticod commented on #248
we can close this issue .

[2016-03-22 22:05] opticod commented on #242
we can close this issue.

[2016-03-22 22:05] #242 closed

[2016-03-22 22:06] opticod commented on #227
we can also close this too

[2016-03-22 22:06] opticod commented on #217
we can also close this too

[2016-03-23 04:44] shivenmian commented on #299
It's not needed. You just need the event topic and time.

[2016-03-23 11:13] shivenmian opened #310 "Network Dialog stays there if WiFi turned on from pulldown menu"
When user starts app with WiFi off, then the "Turn WiFi on" dialog comes up. But if the user turns on the WiFi from the pull down menu instead of going to Settings, then the download starts, but the "Turn WiFi on" dialog stays there.

[2016-03-23 11:24] shivenmian opened #312 "Speaker Details toolbar has title "Speakers" instead of Speaker Name"
The toolbar title is ambiguous for speaker details as every speaker has the same toolbar title, instead of the name of speaker.

[2016-03-24 22:37] #296 closed

[2016-03-31 11:09] opticod opened #316 "Sorting of Speaker List"
It will be convenient to users if we sort the Speaker List in ascending order of their names.

[2016-03-31 12:25] shivenmian commented on #316
^ Why?

[2016-03-31 13:38] mananwason commented on #299
@ahmed-fathy-aly Not really required. The text is not that much that we use Big View notifications. But you're welcome to add other things in the notification, we'll see if it looks good, we'll merge it. Closing this for now

[2016-03-31 13:38] #299 closed

[2016-03-31 13:40] mananwason commented on #316
@opticod Not required, can be easily handled with the API. Also different users have different preferences, we can't cater to all of those. Closing this issue.

[2016-03-31 13:40] #316 closed

[2016-03-31 13:40] mananwason commented on #312
Screenshot?

[2016-03-31 13:41] shivenmian commented on #312
I closed the PR, opticod solved the issue with his new design. The point was just that in the earlier design, when you clicked on a particular speaker, "Speaker" came onto the toolbar, not speaker name.

[2016-03-31 13:41] #312 closed

[2016-03-31 13:47] #300 closed

[2016-03-31 13:48] #295 closed

[2016-03-31 13:49] mananwason commented on #292
@the-dagger Not parsed on the api. So, no issue with the android app.

[2016-03-31 13:49] #292 closed

[2016-03-31 13:51] the-dagger commented on #285
@championswimmer I have fixed this in #288

[2016-03-31 13:53] mananwason commented on #285
@the-dagger I didn't want to increase the apk size by adding more resources. Plus the main aim of the system is to be Event independent and if we add such logos, then it defeats the purpose.

[2016-03-31 13:53] #285 closed

[2016-03-31 14:01] mananwason commented on #284
@SilentFlame Just a api issue. Whatever tracks are exposed by the api, all are displayed on the app, not an issue for the app as such, maybe the scraper.

[2016-03-31 14:01] #284 closed

[2016-03-31 14:02] mananwason commented on #281
Has been fixed as far as I know. So closing this for now.

[2016-03-31 14:02] #281 closed

[2016-03-31 14:02] opticod commented on #316
@mananwason @shivenmian , It has been described by @mariobehling in Issue : fossasia/open-event-webapp#54 , Please see.

@mananwason , can you please mention the preferences , so that I can add a menu with all the sorting preferences. Doesn't it sounds good?

[2016-03-31 14:02] #280 closed

[2016-03-31 14:02] mananwason commented on #280
Fixed

[2016-03-31 14:03] #276 closed

[2016-03-31 14:05] mananwason commented on #276
@opticod As I told you before, you weren't supposed to add all the info manually. You just had to improve the parser [here](https://github.com/fossasia/open-event-orga-server/blob/master/open_event/tools/fossasia/parser.py)

[2016-03-31 14:08] opticod commented on #300
@mananwason Please see #301 ,It hasn't yet merged

[2016-03-31 14:12] shivenmian commented on #316
There's no need of preference. Even if you had to order the list, you'd either do it by Name, or ID.

The Speaker ID is an inbuilt code feature which we are using for our convenience. The user does NOT know what the ID is, and most attendees don't care about the ID.

[2016-03-31 14:12] mananwason commented on #316
@opticod I am saying the same thing as @mariobehling has said. We don't want sorting just based on speaker names. We want to add sorting based on different things like, session time, talk name, speaker name, company name etc. You can work on that if you like.

[2016-03-31 14:14] shivenmian commented on #316
Umm, sorting based on Session time? And talk name? Doesn't really make sense. There can be more than two talks.

The current thing is fine imo. And besides, we don't even need sorting. We already have a search feature. What would the user benefit with the sorting?

[2016-03-31 14:15] the-dagger commented on #316
^ Agreed.
It doesn't make any practical sense.

[2016-03-31 14:18] mananwason commented on #316
@shivenmian @the-dagger I am just giving examples. If someone can come up with different sorting preferences, I am okay with it but someone that only offers one kind of sorting, isn't really required.

[2016-03-31 14:22] mananwason commented on #310
I am not sure, if what you've done solves the issue but the ideal way to fix this is to listen for CONNECTIVITY_CHANGE broadcast. [Source ] (http://developer.android.com/training/monitoring-device-state/connectivity-monitoring.html).

[2016-03-31 14:25] shivenmian commented on #316
@mananwason Can you give me a reason why we need different types of sorting, if a search option is already present? How will the user really benefit from a sorted list?

What he needs to know is where his choice of speaker is. If the speaker is down the list, he can just Search for him and it'll come up. Why do you think sorting is even required?

[2016-03-31 14:29] shivenmian commented on #310
Yeah I get what you mean. I'll update my PR.

[2016-03-31 14:54] opticod commented on #316
@mananwason , I am working on this

[2016-03-31 14:57] mananwason commented on #316
@shivenmian The reason is very logical, sometimes a user wants to see speakers of a particular company or something else etc. It just adds some good functionality which I wouldn't mind seeing in the app.

@opticod :+1:

[2016-03-31 20:43] opticod commented on #316
@mananwason , I have implemented the new Sorting Feature to Speaker List and also made necessary changes to Test files. Please have a look at #318

[2016-04-01 10:42] opticod opened #319 "Missing Track Details in SessionDetail Activity"
When any Session Details is opened either through Bookmarks,Speakers,Location Fragment, **track details is missing.**

![photo marker_apr012016_160740](https://cloud.githubusercontent.com/assets/13851773/14204827/69c9dcf0-f824-11e5-9d33-7716c58741ac.jpg)

[2016-04-01 10:43] opticod opened #320 "App Bug: Every Track is showing same session list"
On opening every Track, we are getting the same Session List, different from that in APIs.

[2016-04-02 03:02] suheb commented on #319
K,
On Apr 1, 2016 4:12 PM, "Anupam Das" <notifications@github.com> wrote:

[2016-04-02 08:09] #319 closed

[2016-04-02 09:12] opticod commented on #316
Please re-open this issue. as the #318 PR is not merged yet

[2016-04-02 09:13] opticod commented on #300
Same here

[2016-04-04 08:14] #261 closed

[2016-04-04 08:16] the-dagger commented on #277
@shivenmian i think that we can close this issue.

[2016-04-04 09:03] shivenmian commented on #277
lol okay

[2016-04-04 09:03] #277 closed

[2016-04-04 09:37] opticod opened #327 "Intent for App Notification Settings is missing"
There are no link present , so that we can change the Notification Settings of the App.
![screenshot_20160404-150155](https://cloud.githubusercontent.com/assets/13851773/14244073/c8565290-fa76-11e5-9630-ad1fe687d872.png)

[2016-04-04 10:04] the-dagger commented on #139
@shivenmian This too :p

[2016-04-04 10:24] championswimmer commented on #139
+1 for crowdin. Using that for http://aokp.co for a long time and works
beautifully
On 04-Apr-2016 3:34 pm, "Harshit Dwivedi" <notifications@github.com> wrote:

[2016-04-04 10:26] shivenmian commented on #139
I wrote about using CrowdIn in my proposal as well.

[2016-04-08 13:55] opticod commented on #320
Here is the screenshots:
![img_20160408_191352](https://cloud.githubusercontent.com/assets/13851773/14385716/7fc48e2e-fdbf-11e5-960e-85360096216f.jpg)
![img_20160408_191730](https://cloud.githubusercontent.com/assets/13851773/14385717/8019c754-fdbf-11e5-88eb-6ff782653334.jpg)
![img_20160408_191806](https://cloud.githubusercontent.com/assets/13851773/14385718/806eb16a-fdbf-11e5-8734-2fc7e3984898.jp

[2016-04-08 22:36] #327 closed

[2016-04-08 22:37] championswimmer opened #332 "README: make a gif of app to show in readme"

[2016-04-08 22:37] championswimmer opened #333 "README: make an appetize.io embed to show in readme"

[2016-04-08 22:38] championswimmer commented on #333
follow up with a connecting script that uploads from travis on every build (from stable branch)

[2016-04-10 07:21] the-dagger commented on #332
@championswimmer  should there be 1 gif that walks you through the whole app, or multiple gifs for different sections?
Cheers.

[2016-04-10 07:41] opticod commented on #332
I have created a 40 sec gif containing 400 frames at 10 fps, 360px*640px, its size is 17 mb. This is the best size that i have obtained, is it ok ?

[2016-04-10 08:41] the-dagger commented on #332
Here is mine, 320x569 @ 10FPS,
[Fossasia.gif](https://github.com/the-dagger/WallPoopers/raw/master/fossasia.gif)
Cheers.

[2016-04-10 12:59] championswimmer commented on #332
Or lets embed youtube rather. :P

This is getting too big
On 10-Apr-2016 14:11, "Harshit Dwivedi" <notifications@github.com> wrote:

[2016-04-10 13:51] the-dagger commented on #332
Ok, cool.
I'll make a sample video and post it.
Cheers.

[2016-04-10 14:05] the-dagger commented on #332
@championswimmer here is the video.
[![FOSSASIA](https://img.youtube.com/vi/n5G4yw3t--U/0.jpg)](https://www.youtube.com/watch?v=n5G4yw3t--U)

[2016-04-10 16:23] mananwason commented on #332
@the-dagger looks fine. You can add this to README.

[2016-04-10 17:12] the-dagger commented on #332
@mananwason Should i remove the screenshots from Readme?

[2016-04-10 18:28] shivenmian opened #338 "Redundant empty bookmarks screen"
When there are no bookmarks, the Bookmarks screen just shows "No bookmarked session yet !!".

It's a really bad idea to do this. You're letting the user press the Bookmarks option on the NavigationDrawer, and lead them to nothing, which is awful. And it's wasting time.

We don't need to lead the user to an entire blank screen with nothing on it to tell him that no bookmarks exist.

[2016-04-10 18:57] opticod opened #340 "Adding Empty Views"
It should be convenient to users if we add some information regarding empty views to these:
Like : "No sessions"..
![screenshot_20160411-002329](https://cloud.githubusercontent.com/assets/13851773/14412257/e3feb370-ff7b-11e5-85c3-f2f76f504b12.png)
![screenshot_20160411-002342](https://cloud.githubusercontent.com/assets/13851773/14412258/e403d92c-ff7b-11e5-9512-18de3fb18da8.png)

[2016-04-10 21:29] opticod commented on #340
The primary motive of the  issue,is to also add empty views to all the lists including tracks , microlocations , sponsors , speakers because there may be such empty cases.

[2016-04-10 21:49] opticod opened #344 "Support for Native RTL is missing"
There is no support for right-to-left (RTL) scripts (such as Arabic, Hebrew, or Persian). This is a vital localization issues. We must include RTL support as our apps will be used wild-wide.

[2016-04-12 02:07] the-dagger commented on #332
We can close this I guess @championswimmer
Cheers.

[2016-04-13 16:23] opticod opened #348 "App Bug: Duplicate of Sessions in SpeakerDetails Activity"
In Speaker Fragment, make any times of swipe Refresh. And open any Speaker , say ```Anna Waldman-Brown```, you will find exact that many times of duplicate Sessions.
(Initially if there was 2 sessions , after one swipe refresh there will be 4 sessions)

[2016-04-14 08:52] shivenmian opened #351 "Improve layout system for Tracks / Sessions"
@juslee as we spoke about, we need tags instead of tracks. I'll work on this.

+ What I propose is to do away with the tracks system right now. The tracks page just has tracks in bulleted lists. The user has no information about the tracks. There can be a chance that the user attended the event just to attend a particular session, and has no info about what track it belongs to.

I propose to do aw

[2016-04-14 22:16] opticod opened #355 "Improvement of App"
@championswimmer @juslee @mariobehling @creativepsyco @mananwason @shivenmian @the-dagger
 Please have a look ,

**Improving Location Service**
Adding a tab of
- possible links to public transport
-  containing all maps of different micro locations of the event
- Adding a map link of that micro locations in the session details.
- Adding Geofencing Notifications in app and wearables, on Entering an

[2016-04-14 22:22] opticod commented on #355
I have also a thought of adding an ```tweet section``` using Twitter API. Something Like this:
![tweets](https://cloud.githubusercontent.com/assets/13851773/14545568/73c293e8-02bd-11e6-82e2-10a192b32065.png)

[2016-04-14 23:23] mariobehling commented on #355
@opticod Please use the loklak API (http://loklak.org) instead of the twitter API.

[2016-04-15 06:14] opticod commented on #355
Thanks @mariobehling , as suggested we will use loklak API for tweet harvesting and showing using Loklak's library https://github.com/loklak/loklakj_lib.

[2016-04-15 06:39] mananwason commented on #355
@opticod There is an issue for rating and review already #167. Please on't create duplicate issues. Cheers!

[2016-04-15 06:42] opticod commented on #355
This issue mainly focuses improving location services ,having account sections and the flow of app for all which was lagging in previous issue. @mananwason

[2016-04-15 06:43] mananwason commented on #355
Awesome, you can drop the rating part then!

[2016-04-15 06:43] mananwason commented on #355
and the tweet part as well 😄

[2016-05-06 08:26] #344 closed

[2016-05-06 08:27] #227 closed

[2016-05-06 08:29] #217 closed

[2016-05-06 08:30] #332 closed

[2016-05-06 12:59] #248 closed

[2016-05-06 19:20] #195 closed

[2016-05-06 19:20] #320 closed

[2016-05-07 20:06] #222 closed

[2016-05-07 20:07] the-dagger commented on #196
Closing as fixed in #329

[2016-05-07 20:07] #196 closed

[2016-05-08 16:03] the-dagger commented on #333
@championswimmer Tried this, but getting errors
`APK has native code but does not have x86 architecture. Switching device type to physical Nexus 5, aka "hammerhead".`
and when i switch the device to physical nexus, it says
`Payment method required to run apps on Nexus 5 Physical`

[2016-05-08 16:11] championswimmer commented on #333
Any libs we use have native code on it ?

On 8 May 2016 at 21:33, Harshit Dwivedi <notifications@github.com> wrote:

[2016-05-08 16:50] the-dagger commented on #333
@championswimmer Got it to run, f-droid libraries were the culprit.
Check it out here
https://appetize.io/app/2rfx5pavny47jnb1qzwg204fr8?device=nexus5&scale=75&orientation=portrait&osVersion=6.0

[2016-05-08 17:48] championswimmer commented on #333
That's good but let me investigate why. OpenStreetMaps has x86 so files too,

On 8 May 2016 at 22:20, Harshit Dwivedi <notifications@github.com> wrote:

[2016-05-08 17:51] the-dagger commented on #333
Ok, Sure. 👍

On Sunday, May 8, 2016, Arnav Gupta <notifications@github.com> wrote:

--
Thanks,
Harshit Dwivedi
Contact : +919968195588
GitHub <https://github.com/the-dagger> | LinkedIn
<https://in.linkedin.com/in/hadwivedi>
Google Play <https://goo.gl/wl3loD> | Facebook
<https://www.facebook.com/daggerdwivedi>

[2016-05-10 16:09] #348 closed

[2016-05-17 09:58] #333 closed

[2016-05-17 09:59] championswimmer commented on #252
chuck this,

Codacy is giving good code style guidelines already

[2016-05-17 09:59] #252 closed

[2016-05-17 17:25] the-dagger opened #361 "Display additional info in Speaker List"
Its better if we display the speaker's organization along with his position and country inside the speaker activity.
(Before)
![screenshot_2016-04-09-23-32-23_org fossasia open 1](https://cloud.githubusercontent.com/assets/6565270/14405400/1497d3ca-feac-11e5-9b67-e8f171877530.png)

(After)
![screenshot_2016-04-09-23-17-20_org fossasia open](https://cloud.githubusercontent.com/assets/6565270/144054

[2016-05-17 21:12] mananwason opened #362 "Create a section showing all live sessions of the event"
It would be super useful to have a section showing all the live sessions happening at that time. This will make it super convenient for all the attendees of the event to go to the event they like the best.

@juslee @mariobehling What about we add an api endpoint to the server that return's the live sessions.

[2016-05-17 21:20] mananwason opened #363 "User Authentication in the app"
We would want to have login functionality but the app features shouldn't depend on that. So, if a user logs in, he gets a personalised experience with his custom settings but if he doesn't login he gets to see all the basic information and features like talks, bookmark sessions etc.
- [ ] Google+ sign in
- [ ] Facebook Oauth
- [ ] Twitter Oauth
- [ ] Server only login ( This is more inclined for t

[2016-05-18 08:00] mananwason opened #364 "Functionality to notify speakers when their talk is about to start"
I feel this issue will be really useful, so that the speaker can be reminded of their talks and reach there on time. These will be the basic requirements :

* [ ] Show talk info like room, time
* [ ] Countdown timer as a sticky notification till the talk starts
* [ ] Directions to get to the room where the talk is scheduled.

[2016-05-20 03:59] the-dagger opened #365 "Better Map Activity"
Rather than displaying only the location of the event, the app should display some critical information too like venue for Sub Events that'll be happening alongside the main event, Nearby Hotels and the Airports.

Going forward, we can add a button that'll open up the maps application allowing the user to navigate successfully to the venue.
What should the map activity look like :
![screenshot_201

[2016-05-20 05:45] mananwason commented on #365
@the-dagger great idea. I was also thinking of something like this but how do you plan to make it customisable for different events?

[2016-05-20 05:52] the-dagger commented on #365
@manawason that's the problem. We can't generalize the overlay for every event so I guess what we can do is take the latitide and longitude for the event, subevents, nearby hotels and airports from the API and place markers there.
The end product won't be as neat as the attached map, but again we are generalizing it and not making a custom overlay for each event.

[2016-05-20 10:47] the-dagger opened #366 "Display the organization's twitter feed"
It would be a good idea to implement a section in the app that displays a list of tweets by the organization.
A simple way to do it will be using the LokLak API (http://loklak.org/)

[2016-05-23 17:08] the-dagger opened #367 "Group Sessions according to categories."
Group the various sessions based on their categories like : Android, IOT, Tech for Kids etc.
We can create separate recyclerviews for each track and add the session that fall under this category.
This is already done in the app but lets enhance the existing tracks which look a bit dull.
Inspirations can be taken from this image:
![screenshot_2016-05-23-22-20-34_com google samples apps iosched](htt

[2016-05-23 17:32] mananwason opened #368 "Implement Login"
We need to implement login to customise roles according to the credentials. We want 3rd party authentication using
* [ ] Facebook
* [ ] Google Plus
* [ ] Twitter

####  Google Plus

* [ ] Create a config file and add it to the project ([Reference ] (https://developers.google.com/identity/sign-in/android/start-integrating#add_google_play_services) )
(MANAN)

* [ ] Create basic sign in Layout and ad

[2016-05-23 17:49] mananwason commented on #368
https://github.com/fossasia/open-event-orga-server/issues/367 for reference

[2016-05-24 03:35] aviaryan commented on #368
I'm confused. Will the android app have feature to modify event details, speakers, sessions etc ..
or is it a **client app** used to view upcoming events, see sessions and speakers, their profiles, add reviews etc.

[2016-05-24 04:30] the-dagger commented on #368
@aviaryan there will be 2 apps.
One will be a client app that will be used to view event details and another one would be an organizer app that will be used to make changes to the events on the go, send broadcast messages etc.
We shouldn't be worrying about customizing the app according to the roles @mananwason as we'll be having separate apps for both organizers and public.

[2016-05-24 04:36] aviaryan commented on #368
@the-dagger Thanks. That clears it up.
So this issue and the fossasia/open-event-orga-server#367 is about the client app, right ?

[2016-05-24 05:10] the-dagger commented on #368
Yes

[2016-05-24 05:25] the-dagger opened #369 "Display live streamed events in the app"
Display a list of sessions that are live streamed along with the link of their YouTube stream so that people who are attending remotely should be able to watch them.
This will require the YouTube URL for event in the sessions.json and if the corresponding filed is null in any of the event, that means it won't be streamed.
Your thoughts @mananwason @championswimmer ?

[2016-05-24 05:26] mananwason commented on #368
@the-dagger @aviaryan Wha we want is that for each request from the client app, a new user should be created at the server side and the permissions should be defined. Like when creating a new event, an organiser can add/modify the users as admins. So, when a user is made an admin on the server, when he tries to login, we should be able to comprehend if the email he's using to login, is infact for

[2016-05-24 05:28] mananwason commented on #369
@the-dagger This issue can be skipped for now. Right now most conferences don't support live streaming of any event. So, we should keep this on low priority.

[2016-05-24 05:30] the-dagger commented on #369
Ok, got it.

[2016-05-24 07:05] mananwason commented on #203
@the-dagger This is already working, so closing this

[2016-05-24 07:05] #203 closed

[2016-05-24 07:07] mananwason commented on #207
@the-dagger This has also been fixed. Closing this

[2016-05-24 07:07] #207 closed

[2016-05-24 11:31] mananwason opened #370 "Make app compatible with json generated with OTS scraper"
As discussed with @mariobehling, I am changing code to parse the ots json files and see what are the differences in that format, open event current format and the re:data format.

[2016-05-24 17:13] the-dagger commented on #368
@mananwason Can I assign this to me? Looks interesting so wanted to give it a shot.

[2016-05-25 05:40] mananwason commented on #368
Sure @the-dagger. There are lots of subparts for this issue. Let me make a list and get back back to you

[2016-05-26 12:02] #338 closed

[2016-05-26 17:21] mananwason commented on #368
@the-dagger Please see the updated description and pickup up one of the subparts and put your name in front of it. I had already started the parts I have put my name on.

[2016-05-26 17:40] the-dagger commented on #368
@mananwason I have assigned my those tasks which I can start right away from tomorrow.
Will assign more tasks as I study about implementing the remaining ones.

[2016-05-26 18:01] mananwason commented on #368
Great @the-dagger
On 26-May-2016 11:10 PM, "Harshit Dwivedi" <notifications@github.com> wrote:

[2016-05-26 23:54] mariobehling commented on #368
This is of lower priority. At first we need an app that actually displays the schedule in a good way. Please assign this one to a later milestone.

[2016-05-27 00:18] mariobehling opened #371 "Create a simple Android App Generator page"
The current way of building an app works for event organizers that have a developer at hand. However it does not work for event organizers who want a standard app that they can download.

Please explore and suggest a way how the app can be generated on a server through a simple web page, where an organizer can choose to upload a JSON file and generate the app that can be downloaded as an apk file

[2016-05-27 02:02] the-dagger commented on #371
Sure @mariobehling, will get back to you with a User flow by tonight.

[2016-05-27 04:35] mananwason commented on #371
@mariobehling @the-dagger first we need to change the way the app works. To generate a personalised apk, we need to make styles for each component of the app so that we can write a script that changes the theme and color of the app according to the organiser's preference. I'll create an issue for abstracting these styles meanwhile you can work on this issue and try to generate a sample apk from th

[2016-05-27 05:05] mananwason commented on #368
Sure @mariobehling. I have done almost all the tasks for the google plus login and I'll keep working on it side by side but I'll focus on generating a schedule first.

[2016-05-27 05:12] mananwason opened #372 "Abstract styles from app components facilitate #371"
We need to have styles for each and every component of the app so that we can create a script to change these styles according to organiser preferences. After we achieve this we can use the output of this in our app generator page ( #371) to generate a customised apk for an event.

[2016-05-27 06:59] mariobehling commented on #371
@mananwason Before we proceed implementing new features, we should actually implement this feature. The fact is, that most event organizers are not technical and do not have developers. So, creating a personal apk is a basic feature, that we need before any other features.

[2016-05-27 08:18] mananwason commented on #371
Sure @mariobehling. I understand. @the-dagger will start working on this till then I'll create a customisable style. If the style is not customisable, the organiser won't use the app because they'll have the same theme and appearance as the sample app and they would have to ask a developer to change the appearance of the app which defeats the purpose

[2016-05-27 10:14] mariobehling commented on #371
@mananwason Yes, it is correct, we need the style to be configurable, but the first basic version does not need to have this feature. Building the same app with the same style for different events would make a good first app. Hope we can have such a first version quickly.

[2016-05-27 12:53] mananwason commented on #371
Sure @mariobehling I'll work on it and deliver it asap
On 27-May-2016 3:44 PM, "Mario Behling" <notifications@github.com> wrote:

[2016-05-27 17:41] the-dagger commented on #371
@mariobehling Here is a proposed user flow, can you have a look at it and let me know if anything is to be changed.
[https://docs.google.com/document/d/1mCND9tIQNAZzXczmdoSzzJY4ErT0YvMUfDd-D-GdNEg/edit?usp=sharing](url)

[2016-05-27 18:25] championswimmer commented on #371
Since Harshit asked my views on this  -

@the-dagger @mananwason

Some inputs from my side :
 - Create a config.json in assets folder
 - In your java code, load config.json in Application#onCreate()
 - Save the configs statically (or in shared prefs)
 - The configs can be stuff like
   - URL of api endpoint
   - color of titlebar
   - layout of session (card vs list); if you have such a modifiable

[2016-05-27 18:35] the-dagger commented on #371
Cool, that makes sense @championswimmer .
Also please have a look at the user flow linked above
above.
I have tried to make it in a step by step manner as you said earlier.
Cheers.

[2016-05-28 17:07] mananwason commented on #371
@championswimmer good idea. I was also thinking of the same but for colors and theming I was thinking of making styles for each and every component and then modify the theme and color scheme of the app by generating a new styles.xml. This would make it even more customisable.

[2016-05-28 19:04] the-dagger opened #373 "Sign and upload compiled apk to Github releases."
After each successful build from travis, the app should be signed and uploaded to the repository automatically.

[2016-05-28 19:12] the-dagger commented on #371
@mariobehling I was wondering whether the web page used for generating a custom .apk should be a part of the main FOSSAasia website or will it be a standalone website?

[2016-05-29 03:34] mananwason commented on #371
@the-dagger doesn't really matter but let's keep it as a separate repo for now. I'll make a new repo for this.

[2016-05-29 03:37] mananwason commented on #373
@the-dagger I was thinking of getting the orgabiser to make a fo4k of the repo and enter tbe url. We can then upload it to the releases of thr fork because uploading releases for each event to the main repo doesn't make sense

[2016-05-29 03:55] the-dagger commented on #373
Sounds cool @mananwason,
I found a way to to it via Travis.
Have a look here https://gist.github.com/mariotaku/7a0c51955d14def2fa0e

[2016-05-29 03:55] the-dagger commented on #371
Cool go ahead. 👍👍

[2016-05-29 10:40] mananwason commented on #373
great @the-dagger I have prepared something like this yesterday. Please mention exactly what you'll be doing today since it seems we're doing the same work

[2016-05-29 10:52] the-dagger commented on #373
@mananwason Ok, so I'll start by implementing the above script in Travis so that we can have a functional backend.
For the front-end I've created a simple website in weebly so we can extract the HTML and css for our use from there.
I wasn't able to do much in the morning since I was shifting to another location so was busy in that.
I will start the work now.

[2016-05-29 12:34] the-dagger commented on #373
@mananwason Here is the website that I made yesterday.
Its not fully polished yet but we can use the HTML for our use.
[http://fossasiappmaker.weebly.com/](http://fossasiappmaker.weebly.com/)

[2016-05-31 15:12] the-dagger opened #374 "Redesign the TracksActivity in the app"
Redesign the TracksActivity in the app so as to follow proper material guidelines.
This included removing the default list in the tracksActivity and using recyclerView and cards to display the contents.
We can take inspirations from the Google's IO app and Facebook's F8 app.

[2016-05-31 15:20] mariobehling commented on #373
@the-dagger Could you please keep it very simple at the beginning. This should somehow work as a standalone, but will also be integrated into the orga server. We will follow up on the design then. At the moment if would be good if we keep it very simple - as a white page with some fields, where you don't need to scroll.
![screenshot from 2016-05-31 17 18 22](https://cloud.githubusercontent.com/ass

[2016-05-31 15:54] the-dagger commented on #373
Sure @mariobehling.
Will get back with an updated website asap.
Cheers.

[2016-06-01 08:01] mariobehling commented on #374
Please provide screenshots, what you actually plan to do.

[2016-06-01 08:01] mariobehling commented on #374
Also add milestones to all issues. Cheers.

[2016-06-01 19:49] the-dagger commented on #371
@mariobehling Please have a look here [http://fossasia.github.io/open-event-android/](http://fossasia.github.io/open-event-android/)
Cheers.

[2016-06-02 03:45] mananwason opened #376 "Restructure the repo to separate apk generator and android app"

[2016-06-02 03:46] mananwason commented on #376
#375

[2016-06-02 03:46] #376 closed

[2016-06-06 09:29] the-dagger opened #380 "App Generator Component 4: Implement function to call or trigger the script to build and sign the apk after upload of JSON files"
Trigger the build script in #383  whenever the user submits his/her information in the app-generator website.

[2016-06-06 09:31] the-dagger opened #381 "Host the app-generator site on digital ocean server with Flask backend."
We'll use a flask server to get requests, data and run scripts which can package the apk

[2016-06-06 09:35] the-dagger opened #382 "App Generator Component 1: Create a web page with form elements"
Make an app generator website that posts the data entered to it to a server which is saved locally.

[2016-06-06 09:41] the-dagger opened #383 "App Generator Component 3: Create a script to generate an apk"
Script to build app on the server.

[2016-06-06 10:27] mariobehling commented on #364
This issue is currently low priority and we want to get the basic functions right first. Closing it therefore.

[2016-06-06 10:27] #364 closed

[2016-06-06 10:36] #127 closed

[2016-06-06 10:48] mariobehling commented on #367
We currently do not have this info in the JSON and it is not sure, this feature can get in within the summer project. We can open an issue like that, if there is time at the end of the summer.

[2016-06-06 10:48] #367 closed

[2016-06-06 10:51] mariobehling commented on #97
Sometimes it would be good to add some info in the description and outline the plan. I am not sure, what you mean by "on creating tags."

[2016-06-06 10:52] #51 closed

[2016-06-06 10:52] #1 closed

[2016-06-06 10:53] #59 closed

[2016-06-06 10:53] #53 closed

[2016-06-06 11:03] the-dagger commented on #367
Understood. 👍

[2016-06-06 11:59] mananwason commented on #381
@the-dagger Instead of this, let's just use a flask server that receives data from the view, saves it locally on the server, then runs a script to package the apk.

[2016-06-06 12:02] mananwason commented on #381
Changing the issue accordingly. Cheers

[2016-06-06 12:17] mariobehling commented on #381
@mananwason This is overkill. A flask set up to save some files. You honestly do not come up with a simpler solutions?

[2016-06-06 12:20] mananwason commented on #381
@mariobehling we need the server to do more than save files. On every save we need to trigger builds on the server.

[2016-06-06 12:20] mariobehling commented on #381
@mananwason Call a script to do this.

[2016-06-06 12:23] mananwason commented on #381
@mariobehling I am using scripts only but we need to trigger those scripts when someone adds data on the app generator website. I tried doing the same with travis but couldn't. Please suggest a better way if you have one in mind. Thanks

[2016-06-06 12:24] mananwason commented on #381
Plus we also have to send the apk to the organiser by mail, for that also we need to use a server

[2016-06-06 12:27] mariobehling commented on #381
Let's separate these issues.
Send the apk by mail is a separate issue. Where is that issue? The first version does not necessarily need to have that. I would be super happy, if we can generate an app on a server as a first step.

So questions:
a) What is the simplest way to store some files on a server? Please open an issue for that or is there one?
b) What is the simplest way to call a script and

[2016-06-06 12:43] mariobehling opened #384 "Implement an Android App Generator"
* [x] App Generator Component 1: Create a Web Page with Form Elements to upload. [#382](https://github.com/fossasia/open-event-android/issues/382)
* [x] App Generator Component 2: Add Upload Functionality to Server of a zip of JSON files, schedule, speakers etc. Must be able to receive and store data entered by a user on the website [#434](https://github.com/fossasia/open-event-android/issues/434)

[2016-06-06 12:47] mariobehling commented on #373
I am closing this issue as the title "github releases" indicates that this was a temporary issue. The new parent issue for the work on the app generator is here https://github.com/fossasia/open-event-android/issues/384

[2016-06-06 12:47] #373 closed

[2016-06-06 12:47] mananwason commented on #373
👍

[2016-06-06 12:56] mananwason opened #385 "App Generator Component 5: Send apk to organiser once build has successfully completed"
Once the apk has been build successfully and signed, we need to send the apk to the organiser via mail

[2016-06-06 12:59] mananwason opened #386 "App Generator Component 2: Add functionality to upload JSON files for data on the app generator web page"
We need to have functionality wherein the organiser can add the json files he wants to use for the app.

[2016-06-06 13:06] mariobehling commented on #381
Closing this issue. Please close an issue if goal is changing completely e.g. first we do firebase and then we do flask. And open a new issue, if required. Better though discuss best choice of technologies first in an issue that focuses on goals rather than technology used.

[2016-06-06 13:06] #381 closed

[2016-06-06 13:10] mariobehling commented on #371
Thanks for defining the specifics and requirements. Closing it. The details for building this are collected in this parent issue now: https://github.com/fossasia/open-event-android/issues/384

[2016-06-06 13:10] #371 closed

[2016-06-06 13:11] mariobehling commented on #383
Please reference the PR and code here and then close when finished.

[2016-06-06 13:11] mariobehling commented on #382
Please post a screenshot and link to the PR, code and test site here and close the issue if done.

[2016-06-06 13:12] mananwason commented on #383
👍

[2016-06-06 13:15] mariobehling commented on #380
Please reference this issue when you make PRs. If this is finished please tell us what technology you used and close the issue when done.

[2016-06-06 13:16] the-dagger commented on #380
:+1:

[2016-06-06 17:09] the-dagger commented on #382
Website:
![selection_032](https://cloud.githubusercontent.com/assets/6565270/15830700/6f7881dc-2c37-11e6-8c84-df1aa4f83f62.png)
Saved Data:
![selection_031](https://cloud.githubusercontent.com/assets/6565270/15830704/749e97e6-2c37-11e6-9177-fbae18fcb42c.png)
Website : [https://app-generator.firebaseapp.com/](https://app-generator.firebaseapp.com/)

[2016-06-07 17:46] the-dagger commented on #382
Closing this @mariobehling @mananwason

[2016-06-07 17:46] #382 closed

[2016-06-07 18:26] mananwason commented on #383
Completed in #388

[2016-06-07 18:26] #383 closed

[2016-06-07 21:42] the-dagger opened #390 "App Generator Component 6: Allow user to download the entire Android app as an apk"
Host the generated .apk file to a preferable location and allow the user to download it.

[2016-06-08 07:08] the-dagger commented on #385
Closing @mananwason

[2016-06-08 07:08] #385 closed

[2016-06-09 19:35] mariobehling opened #395 "Add more tests"
Which other tests can we do with the code?

Please add codeclimate and codecov. We are already using them on the orga-server.

[2016-06-09 19:37] the-dagger commented on #395
On it @mariobehling :+1:

[2016-06-10 08:25] mananwason commented on #395
@mariobehling We already have codecov. Codeclimate doesn't support android. We need to write more manual tests that can be run in travis builds but right now I don't think we should add more tests since I the priority should be to complete the app and all the features we have to add. We can start writing tests for these after the midterm evaluation.

[2016-06-11 11:32] the-dagger commented on #380
@mananwason @mariobehling I am facing a problem in executing a particular .sh file through the php script.
Seems like a permission issue so I will continue to research on this

[2016-06-12 05:14] the-dagger commented on #380
Turns out that we need to use Node.js for executing the python and bash scripts rather than PHP.
So will work on shifting the server from LAMP to MEAN.

[2016-06-12 05:53] mariobehling commented on #380
@the-dagger Please check what the Web App folks are using @championswimmer Could you give feedback, please?

[2016-06-12 06:09] the-dagger commented on #380
@mariobehling yes I had a talk with arnav, they are using node.js for it.
I'll use the same and try to fix it by today.

[2016-06-12 07:16] mariobehling commented on #380
Where did that conversation happen? Which issue? I did not see it on the gitter channel?

[2016-06-12 07:23] the-dagger commented on #380
@mariobehling It was not a full discussion, I just personal messaged him on gitter asking if using Node.js was better and he said that it was.
I didn't have a detailed discussion with him regarding this.

[2016-06-12 07:26] the-dagger commented on #384
@mariobehling Here are my plans regarding implementation of app-generator feature.
First we will try and get it to work on our server _without_ using Flask with some minor security loops. (I am allowing the web user to run the scripts as root)
After this is done, we will later move to Flask and deploy the app generator there.
Why flask?
Ease of implementation, and no security issues.
Also flask ha

[2016-06-12 07:40] mariobehling commented on #384
What about Nodejs?

[2016-06-12 07:46] the-dagger commented on #384
@mariobehling Right now, I'm giving my final effort of trying to execute bash files from php.
If it works, well and good BUT if it doesn't then I'll use Node.js istead of PHP.
I'll have a look at the webapp's code to see how they are implementing these things using Node.

[2016-06-12 07:52] mariobehling commented on #384
I think it would be very nice, if we could ultimately access the Android app builder through an API of the builder. So, it could potentially plugged into any system that offers a standardized API or JSON files in our format.

[2016-06-12 08:03] the-dagger commented on #384
Yes, makes sense.
I'll have a look at that too once we get this to work.
Meanwhile I'll open an issue for this.

[2016-06-12 08:06] the-dagger opened #396 "App generator Component 8 : Access the Android app builder through an API"
Allow access to the Android app builder through an API of the builder, so that it could be potentially plugged into any system that offers a standardized API or JSON files in our format.

[2016-06-12 20:42] #380 closed

[2016-06-14 08:55] the-dagger opened #399 "Update Readme"
Update the Readme according to the new project structure and add instructions on how people can :

* [ ] Setup their own server and create a custom Apk Generator
* [ ] Compile only the Android app without having to setup the server.

[2016-06-14 19:59] the-dagger opened #401 "Create a showcase apk that can be used by others"
Create a showcase app according to the json files provided by the server that can be downloaded and used by the public.

[2016-06-15 05:21] mananwason opened #402 "Change app name while generating the apk from the apk generator"
Right now the app name is not being changed, so since that is a functionality we want, I'll work on it.

[2016-06-15 17:16] mananwason opened #403 "Change App Icon for the app generated by App generator according to the icons provided by organiser"
Allow the organizer to upload an icon of his choice.
* [ ] Implement this in the web page
* [ ] Use the uploaded image to compile the apk

[2016-06-16 08:05] mananwason opened #404 "Change the gson parser to account for changes in the new json output of the orga server"
There have been changes in the open event orga json and so the parser has to be changed in order to incorporate these changes.
https://github.com/fossasia/open-event-orga-server/tree/development/samples/ots16
These changes include modifying parser for :
* [x] Sponsors
* [x] Speakers
* [x] Tracks
* [x] Sessions
* [x] ~~Services~~ Any other objects

[2016-06-16 17:48] mananwason opened #405 "Add documentation on how to setup the Open Event Apk Generator"
Parent Issue: https://github.com/fossasia/open-event-android/issues/407

We need some documentation on how to setup the apk generator, so that anyone can set it up.

[2016-06-16 19:24] mananwason commented on #355
Closing this as this is very broad and most of these issues are already addressed.

[2016-06-16 19:24] #355 closed

[2016-06-17 07:30] mananwason opened #407 "Make a folder with documentation about android app"
As discussed with @mariobehling we need to create a folder and add documentation to setup ~~both~~ the android app ~~as well as the apk~~ generator.

As a start, please add all documentation in one folder in one file for the Android App `/docs/Android.md` and on file `/docs/AndroidGenerator.md`.

Documentation needs the following:
* [x] Basic spec
* [x] How to set up the Android App Generator http

[2016-06-17 07:30] mananwason commented on #405
Clubbed in #407

[2016-06-17 07:33] mananwason commented on #395
Already open in #171, so closing this

[2016-06-17 07:33] #395 closed

[2016-06-17 07:36] mananwason commented on #372
Moving this to milestone 10 as we need to change a lot of things in the app and the generator before we proceed with this because this will have to be rewritten after the app is changed anyways.

[2016-06-17 07:43] mariobehling commented on #407
@mananwason Let's not mix up things. Please focus on the Android app in the documentation. As discussed we can follow the documentation of [connfa](http://connfa.com/documentation/) in a lot of aspects.

[2016-06-17 07:45] mananwason commented on #407
Okay @mariobehling I thought that we can add 2 different files in folder : One for the android app and other for the generator.

[2016-06-17 07:54] mariobehling commented on #407
Yeah, probably better.

[2016-06-17 16:16] fossasiagenerator commented on #405
I'm working on this @mananwason @mariobehling

[2016-06-18 05:25] mananwason opened #408 "Build fails when the app name has spaces in it"
App build fails when the name entered by the organiser has spaces.

[2016-06-18 17:18] the-dagger opened #409 "Script to set correct permission to all the folders and files in the server"
Create a script that sets correct permission to all the folders and files in the app-generator server.

[2016-06-18 18:08] #409 closed

[2016-06-18 18:29] the-dagger opened #412 "Isolate javascript from index.html"
Using javascript in the html itself is not a good idea as the Firebase API keys are visible to the public.
So we should isolate these two.

[2016-06-19 20:37] #405 closed

[2016-06-20 05:58] the-dagger commented on #408
@mananwason this bug was fixed right?

[2016-06-20 05:58] the-dagger commented on #370
Duplicate of #404

[2016-06-20 05:58] #370 closed

[2016-06-20 06:05] the-dagger opened #415 "Send appetize.io link to the user alongwith the apk"
It would be good if we can send the URL containing app's preview on Apetize.io so that the organizer can preview the app before actually downloading it.
This is not an urgent issue, so can be safely delayed.

[2016-06-20 06:54] mananwason commented on #408
Yes @the-dagger Fixed this in #416. I believe we can close now.

[2016-06-20 06:54] #408 closed

[2016-06-20 06:56] mananwason commented on #401
@the-dagger are you working on this?

[2016-06-20 06:59] the-dagger commented on #401
@mananwason this one is in conjunction with #404, so yeah.
But right now, I'm finalizing #390 so you can have a look at #404 if you want.

[2016-06-20 07:02] mananwason opened #417 "Broken badge lmages in README.md"
There is some issue with the images right now, they seem to be broken. @the-dagger Please check if this is the issue with you as well.
<img width="1155" alt="screen shot 2016-06-20 at 12 31 38 pm" src="https://cloud.githubusercontent.com/assets/10570249/16185648/0cb0f032-36e3-11e6-8383-0bfeddb58944.png">

[2016-06-20 07:04] mananwason commented on #374
@the-dagger Are you working on this too? This is assigned milestone 5

[2016-06-20 07:05] the-dagger commented on #417
Yes, they are broken.
Will update the readme with alternate icons later today.

[2016-06-20 07:07] the-dagger commented on #374
No, lets move the milestone to a later date.
@mariobehling said that we should focus on such features later on.

[2016-06-20 07:15] mananwason commented on #374
👍

[2016-06-20 07:15] mananwason commented on #417
👍

[2016-06-20 07:16] the-dagger commented on #396
@mariobehling @mananwason  Implementation for this can start when we integrate the generator in the orga-server right?
Because if we do it now, we would need to do this again when we use the orga-server as back-end.

[2016-06-20 07:17] the-dagger commented on #97
Moving this to a later milestone as we are not focusing on this atm. @mananwason

[2016-06-20 07:18] mananwason commented on #97
@the-dagger I have already fixed this. Will create a PR by today

[2016-06-20 07:20] the-dagger commented on #97
Ok, great :+1:

[2016-06-20 07:22] mananwason commented on #310
@the-dagger I am working on this

[2016-06-20 07:23] the-dagger commented on #310
Got it :+1:

[2016-06-20 09:41] mariobehling commented on #396
The plan here is to access the app builder as back-end. How can we submit data and trigger the build through an API of **the app builder** (not the API of the orga server). Please forget about the orga server. What if I want to access the app builder, send my data and trigger a build?

So this is "-not-" about the orga server. This is about the app builder.

[2016-06-20 09:42] mariobehling commented on #396
In case, you forgot: The app builder needs to work independently of the orga server. Different systems should be able to access the app builder, e.g. think of several servers that send data and want to build apps.

[2016-06-20 09:50] the-dagger commented on #396
Ok @mariobehling
Thanks for clearing it up :)

[2016-06-20 12:44] the-dagger commented on #417
@mananwason This seems to be fixed now.
Can you confirm?

[2016-06-20 15:03] #390 closed

[2016-06-20 16:23] #412 closed

[2016-06-20 16:24] the-dagger commented on #412
Won't be possible to separate these two as we are using HTML form

[2016-06-20 16:26] the-dagger commented on #417
Closing this, as badges show up fine.
Tried from multiple browsers.

[2016-06-20 16:26] #417 closed

[2016-06-20 20:15] championswimmer opened #421 "Code quality: Add Codacy integration to check for code quality in PRs"
- [x] integrate codacy bot to comment on PRs
- [x] add codacy badge on README to show project quality

[2016-06-20 20:17] championswimmer commented on #421
codacy integrated. can be seen in action on this PR https://github.com/fossasia/open-event-android/pull/420

[2016-06-20 22:38] championswimmer commented on #421
badge added here https://github.com/fossasia/open-event-android/pull/422

[2016-06-21 06:27] the-dagger commented on #421
Looks good. :+1:
Closing this.

[2016-06-21 06:27] #421 closed

[2016-06-21 07:34] mananwason commented on #384
@the-dagger @mariobehling only 2 pointers are left for now and we'll be doing this in the future, so moving this to a future milestone

[2016-06-21 07:41] the-dagger commented on #384
Yep, got it :+1:

[2016-06-21 10:25] #97 closed

[2016-06-21 15:12] mananwason commented on #401
Since you're working on something similar, I'm assigning this to you too

[2016-06-21 15:18] mananwason opened #425 "Apk download not working on Firefox"
@the-dagger Please check this and create a fix for this asap

[2016-06-21 16:24] the-dagger commented on #369
Moving this to a later milestone as this is not a priority issue right now

[2016-06-21 18:45] mananwason opened #426 "No feedback when app started in offline mode"
Due to moving to Retrofit 2, whenever the app is started in offline mode or the API is not accessible , the progress bar keeps loading. Ideally it should give some feedback on why the download is not happening

[2016-06-21 20:37] mananwason opened #428 "App crashes when share tracks fab pressed"
This is the stacktrace. This happens when we open a bookmarked tracked and then go back to the tracks list and share the tracks list.
[code]

[2016-06-21 20:55] #310 closed

[2016-06-21 20:56] the-dagger commented on #428
@mananwason have you started working on this?
I would love to give this a shot if that's ok.

[2016-06-21 21:04] mananwason commented on #428
@the-dagger Go ahead. I'll take up something else.

[2016-06-22 05:06] PareshMayani opened #430 "Keyline margin issue"
I can see keyline margin values are not properly followed across the app.

![device-2016-06-22-103216](https://cloud.githubusercontent.com/assets/888080/16255184/1a16be22-3865-11e6-8007-b789ef9ea36d.png)
![device-2016-06-22-103155](https://cloud.githubusercontent.com/assets/888080/16255185/1a19a42a-3865-11e6-9ab4-96f8af748345.png)

[2016-06-22 05:09] the-dagger commented on #430
Great! @pareshmayani,
You may go ahead and start working on this if you like! :)

[2016-06-22 05:11] PareshMayani commented on #430
Sure, you may get a PR soon :)

[2016-06-22 05:19] PareshMayani opened #431 "Usage of CoordinatorLayout + Collapsing toolbar"
Standard use of Collapsing toolbar + Coordinatorlayout is when we put any background image. I am not seeing any image as a background. P.S. I haven't looked into the code yet!

![screenshot_20160622-104544](https://cloud.githubusercontent.com/assets/888080/16255367/ee269bc8-3866-11e6-86dd-ed2d5af6ea29.png)

[2016-06-22 05:21] the-dagger commented on #431
@PareshMayani That's an issue with the parser #404 , not fetching the images properly.
I'm working on it so i'll close this issue for now.
Cheers.

[2016-06-22 05:21] #431 closed

[2016-06-22 05:36] PareshMayani commented on #431
I think issues should be closed when issue gets fixed actually :)

[2016-06-22 05:40] PareshMayani opened #432 "About Splash screen"
I don't think so we need to display Splash screen as we aren't doing anything other than displaying launcher icon!

If we still want to display splash screen then there should be some images with some helpful details. I mean it should something like an introduction screens!

[2016-06-22 05:41] PareshMayani commented on #432
Or I think best usage of splash screen is to make an API call to sync database!

[2016-06-22 05:42] the-dagger commented on #432
Yep good idea.
The splash screen will be customizable for the event organizers to use their own custom image.
So for time being, we have used the icon as placeholder.

[2016-06-22 05:43] the-dagger commented on #431
I have closed this, as this is common with #404
So we are trying not to have multiple issues.
Cheers.

[2016-06-22 05:43] mananwason commented on #431
Agreed @PareshMayani. Actually this is not an issue. If you see the json response, there is no url for an image, hence no image shows up. If you try changing the json, image will show up

[2016-06-22 05:43] PareshMayani opened #433 "About Empty view in Recyclerview"
I have looked into the layouts code and I don't see any empty view taken for recyclerview in below layouts:

- list_locations.xml
- list_speakers.xml
- list_sponsors.xml
- list_tracks.xml

My point is there should be an empty view displayed if no data comes in API response!

[2016-06-22 05:44] mananwason commented on #433
Already open in #340

[2016-06-22 05:45] the-dagger commented on #433
Yes, an issue #340 is already there which addresses the same bug.
@mananwason is working on it for the time being.
Cheers

[2016-06-22 05:45] #433 closed

[2016-06-22 05:48] PareshMayani commented on #433
Thanks for the update, but I can't see any update on #340! Let me know if I should work on it!

[2016-06-22 05:49] mananwason commented on #433
Sure @PareshMayani Go ahead. I you want I'll assign you to it.

[2016-06-22 05:49] PareshMayani commented on #431
Thanks @mananwason for sharing update!

[2016-06-22 05:51] mananwason commented on #431
Sure @PareshMayani. No problem 😄

[2016-06-22 05:53] PareshMayani commented on #433
Thanks.

[2016-06-22 05:56] mananwason commented on #340
@PareshMayani feel free to work on this

[2016-06-22 06:09] PareshMayani commented on #340
@mananwason thanks for assigning it to me!

[2016-06-22 07:42] #425 closed

[2016-06-22 18:33] mariobehling opened #434 "Adopt file import to import zip with all JSON files"
In the Orga-Server we changed the JSON import/export into a zip file with all files inside. Please implement this for the app generator too. So users can import a the zipped JSON files instead of single files.

[2016-06-22 19:10] mananwason commented on #434
Sure @mariobehling Shouldn't be difficult to add since we are also using a python script on the generator. Let me close the existing issue of separately uploading the json files or do we keep both the things :to add a zip and to add json separately ? Which sounds better?

[2016-06-22 19:16] mariobehling commented on #434
Just zip in future.

[2016-06-22 19:16] the-dagger commented on #434
@mananwason let's update the existing parent issue to reference to this.
And close the older one which is regarding uploading json files.

[2016-06-22 19:17] mananwason commented on #434
Yes @the-dagger Was just doing the same

[2016-06-22 19:17] #386 closed

[2016-06-22 19:17] mananwason commented on #434
@mariobehling 👍

[2016-06-22 19:18] mananwason commented on #386
New Issue : #434

[2016-06-23 07:04] the-dagger commented on #368
@mananwason Moving this to a later deadline

[2016-06-23 07:05] the-dagger commented on #171
@mananwason Should we close this?

[2016-06-24 06:48] mananwason opened #435 "Load Json data from files packaged in the app"
We need to update the app code to check if json file exists, then load data from it otherwise download from the api. This will improve the offline support for the app

[2016-06-24 06:55] mananwason opened #436 "Extract json files and package them in the apk"
Once the user uploads the zip of json files, we need to actually unzip those files and add them to the app folder to package them with the apk.

[2016-06-24 07:07] mariobehling commented on #368
I do not think we need it now or in this GSoC. Please test the app and fix bugs.

[2016-06-24 07:07] #368 closed

[2016-06-24 22:47] mananwason opened #439 "App crashes when a bad API URL is entered"
When I add an arbitary wrong url in the app generator like /api/v1.com, the app crashes. This error should be handled graciously.

[2016-06-25 04:11] the-dagger commented on #439
We should add a case in the Urls class in case the URL entered by the User isn't accessible then we should display a test saying that "Invalid URL"  and use our own API instead.

[2016-06-25 13:44] mananwason commented on #439
Yes @the-dagger I plan to do that. I am going to check for the URL while reading the json config and then throw errors if required.

[2016-06-26 05:02] mananwason commented on #428
@the-dagger Are you working on this. Please fix this asap as it is a major bug. Adding the urgent label

[2016-06-26 05:06] the-dagger commented on #428
Yep will fix it today itself.
Was unable to do so due to time constraints.

On Sunday, June 26, 2016, Manan Wason <notifications@github.com> wrote:

--
Thanks,
Harshit Dwivedi
Contact : +919968195588
GitHub <https://github.com/the-dagger> | LinkedIn
<https://in.linkedin.com/in/hadwivedi>
Google Play <https://goo.gl/wl3loD> | Facebook
<https://www.facebook.com/daggerdwivedi>

[2016-06-26 05:12] mananwason commented on #428
Okay great 👍

[2016-06-26 05:47] the-dagger commented on #439
@mananwason Let me work on this if its ok with you.

[2016-06-26 08:52] mariobehling commented on #434
The zip file could also include images and audio in future. Please refer to this issue for more info: https://github.com/fossasia/open-event-orga-server/issues/1217

[2016-06-26 14:10] #428 closed

[2016-06-26 14:20] mananwason commented on #439
Sorry @the-dagger. I have already fixed this.

[2016-06-26 14:49] mananwason commented on #426
Closed via #440

[2016-06-26 14:49] #426 closed

[2016-06-26 16:13] mananwason opened #442 "Implement Parser to parse packaged json files for offline use"
We need to implement a parser to read json files packaged in the apk for offline use.

[2016-06-26 16:13] mananwason commented on #442
@the-dagger Would you like to work on this?

[2016-06-26 16:36] mariobehling commented on #434
Yes, good point. Let's focus on the photos and leave the audio out. We need to keep the link to the orga server for the audio then.

Regarding the images, we need to implement image processing to scale images to the size we need. This will keep them smaller. So, the flow could be like that: The import zip would have a big resolution. Then we convert and scale images automatically and we add them i

[2016-06-26 16:37] the-dagger commented on #442
Yeah sure.
I'll have a look at it tonight.

On Sunday, June 26, 2016, Manan Wason <notifications@github.com> wrote:

--
Thanks,
Harshit Dwivedi
Contact : +919968195588
GitHub <https://github.com/the-dagger> | LinkedIn
<https://in.linkedin.com/in/hadwivedi>
Google Play <https://goo.gl/wl3loD> | Facebook
<https://www.facebook.com/daggerdwivedi>

[2016-06-26 19:42] mariobehling commented on #434
Following up on our conversation today, I am still not sure, if we have the best solution, cause there are also valid points not to include the data. Let me understand what options we have if we only store the text data on the app. Could we also implement it in a way, that all image data gets downloaded in one row when the app opens the first time with a message "When you start the app the first t

[2016-06-26 19:52] mananwason commented on #434
Yes @mariobehling We can do this as well. After the data is downloaded, we can just cache it.

[2016-06-27 15:10] the-dagger opened #443 "Prompt the user when the app is started for the first time if he wants the assets download to take place or not"
* [x] Prompt user to download resources at startup otherwise read from offline json
* [ ] Implement a preference setting where in user can select if he would like to download updates or not

[2016-06-27 15:11] the-dagger commented on #362
Closing this as I'm not sure if we plan to do this right now.
Will reopen it later if we plan to

[2016-06-27 15:11] #362 closed

[2016-06-27 15:12] #366 closed

[2016-06-27 15:12] #369 closed

[2016-06-27 15:14] the-dagger commented on #180
Resolved in #419

[2016-06-27 15:14] #180 closed

[2016-06-27 17:54] mariobehling commented on #443
Yes, i think this is a better solutions than what I suggested first. Just ensure the apps tries to download everything when it starts the first time.

[2016-06-27 17:57] the-dagger commented on #443
Yep, sure thing!

[2016-06-28 07:50] mananwason commented on #443
@the-dagger Changing the title. We not only have to display the dialog, we also have to change how the download the data

[2016-06-28 13:45] the-dagger commented on #404
Updated the issue to break it into sub modules

[2016-06-28 18:50] #439 closed

[2016-06-28 21:45] mananwason commented on #171
@the-dagger Not right now. Let's move it to a later milestone

[2016-06-29 06:38] #407 closed

[2016-07-01 11:39] the-dagger commented on #401
Closing this as this is depended on #404, so having multiple issues makes no sense

[2016-07-01 11:39] #401 closed

[2016-07-02 05:57] championswimmer opened #449 "remove branches not used anymore"
Some branches were made for PRs. We should remove those branches and maintain `master`, `stable` and `shipping` only.

[2016-07-02 06:01] mananwason commented on #449
Yes @championswimmer. Already done. The branches which are still not merged into master are open.

[2016-07-02 06:03] the-dagger commented on #449
@mananwason Should we delete the otsData branch?

[2016-07-02 08:29] the-dagger commented on #434
@mananwason @mariobehling I think that it would be a better idea to bundle all the assets at once in the zip (like icon for the app #403 and json files).
What do you think?

[2016-07-04 08:16] the-dagger commented on #449
Closing this

[2016-07-04 08:16] #449 closed

[2016-07-06 17:13] the-dagger opened #451 "Update the SDK on Server to fix app compilation"
After merging #450 , the builds on server are failing.
So we need to have the latest SDK on the server to fix this.

[2016-07-06 21:26] the-dagger commented on #451
Fixed this.
Had to install and setup JAVA 8, SDK Platform for Android N and the latest Google Play services on the server so as to compile the app without errors.
Will add documentation on doing this soon.

[2016-07-06 21:26] #451 closed

[2016-07-07 17:22] mananwason opened #454 "Tracks view breaking with updation of dependencies in #450"
@nisrulz @the-dagger The UI is breaking after updation of dependencies in #450. I had also updated these dependencies previously but I faced the same issue then as well.
![device-2016-07-07-224436](https://cloud.githubusercontent.com/assets/10570249/16662436/52791814-4495-11e6-990a-7ea8d3cbd1e1.png)

[2016-07-07 18:16] aakashkhatter1296 opened #456 "UI improvement for Schedule fragment"
![image - 1](https://cloud.githubusercontent.com/assets/10905662/16664190/a2d06946-449c-11e6-9854-a8d2a831133c.jpg)
![image - 2](https://cloud.githubusercontent.com/assets/10905662/16664189/a2c73056-449c-11e6-928a-d94f58f82640.jpg)

I think the shadow should be removed from the appbar since it doesnt look nice with the toolbar beneath it. The first image is what is already implemented and second o

[2016-07-07 18:24] mananwason commented on #456
@aakashkhatter1296 I was also thinking of fixing this but keep in mind that changing shadow here, shouldn't affect the toolbar for the app.

[2016-07-07 18:25] aakashkhatter1296 commented on #456
@mananwason I will try to do it such that it doesn't affect the shadow of toolbar in all the other fragments.

[2016-07-07 18:31] aakashkhatter1296 opened #457 "Grid Layout for sponsors fragment"

[2016-07-07 18:42] nisrulz commented on #454
let me look into it, I think I can fix it.

[2016-07-07 18:55] the-dagger commented on #457
@aakashkhatter1296 do you have any sample mockup on how you plan the sponsors fragment to look like?
Because we plan to place a small description of the sponsor along with their image, so please proceed according that.
Cheers.

[2016-07-07 18:58] aakashkhatter1296 commented on #457
@the-dagger I do not have a mockup as of now. What I was thinking of was we could have a grid with the logos of the sponsor company (a grid similar to what the Instagram app has), and once the user clicks on it we could show its details.

[2016-07-07 19:06] the-dagger commented on #457
On clicking the logo, we want to open a browser an navigate to the sponsor's website.
So a better thing would be to display cards for each sponsor in a grid and display the name beneath their logo.
@mananwason your views?

[2016-07-07 22:32] the-dagger opened #459 "Use firebase storage for file upload"
Use firebase storage instead of the server storage to upload the zips and icon files uploaded by the user.

[2016-07-07 22:33] the-dagger commented on #384
@mariobehling Can we close this as we have a separate issue that is open for API (#396)
Cheers.

[2016-07-08 12:27] aakashkhatter1296 commented on #457
@the-dagger @mananwason  We could have a layout like this with the logo of the sponsor company and its name. On clicking the card, we could navigate to the sponsor's website.
![sponsors](https://cloud.githubusercontent.com/assets/10905662/16687282/5b9bc19e-4535-11e6-82bc-a27178f96e88.png)

[2016-07-08 12:36] the-dagger commented on #457
Yeah, this is similar to what I meant.
Looks good.

[2016-07-08 17:38] nisrulz opened #460 "Follow standard of clean git graph when using git."
Right now as I look through the git history, I see everyone is making fixes in some branch and then when done is merging it into directly `master`. This approach is not correct.

I would like to propose that have a `develop` branch to which all merge happens be it from a PR or internal branch you have. Once the app is ready to release thats when you merge `develop` into `master` and hence forward

[2016-07-08 17:47] the-dagger commented on #460
@nisrulz

We have the following branches
master
All development goes on in this branch. If you're making a contribution, you are supposed to make a pull request to master. PRs to master must pass a build check and a unit-test (app/src/test) check on Travis
stable
Every few days (after some contributions have come to master), we merge master to stable. PRs from master -> stable will have to pass a

[2016-07-08 17:47] PareshMayani commented on #460
Yes this is the standard practice that should be followed for maintaining stable and development version.

[2016-07-08 17:49] PareshMayani commented on #460
I mean what Nishant has proposed. Master branch should contain the stable code and develop branch should be used for development.

[2016-07-08 17:52] mananwason commented on #460
I agree @nisrulz @PareshMayani. I also thought that we should keep master updated with stable code and different branches for shipping and development.

[2016-07-08 17:54] nisrulz commented on #460
Reference Link : http://nvie.com/posts/a-successful-git-branching-model/#the-main-branches

[2016-07-08 17:55] the-dagger commented on #460
Ok, sounds good. @nisrulz @PareshMayani .
I'll create develop branch and set up travis for it.
Thanks :+1:

[2016-07-08 17:58] mananwason commented on #460
@the-dagger You can achieve the same by just renaming the branches. For example, rename the master to develop and so on

[2016-07-08 17:59] #456 closed

[2016-07-08 18:00] the-dagger commented on #460
Lets create develop from the current master @mananwason.
As the shipping and stable are quite behind master

[2016-07-08 18:02] mananwason commented on #460
Yeah cool. Sounds good. I believe you should create new shipping and stable, since the earlier ones would have a lot of conflicts with master.

[2016-07-08 18:03] the-dagger commented on #460
Yeah.
I think that we won't be needing stable as we have master for that.

[2016-07-08 18:06] nisrulz commented on #460
@mananwason @the-dagger The whole idea is to eliminate those `shipping` and `stable` branches.

This is what i propose.

1. Branch from `master` now and form `develop`.
1. Next branch more from `develop` if you need, but only merge back into  it when you are sure your `feature` branch code is completely working.
1. Next when you are done with all fixes or have reached your milestone, just merge in

[2016-07-08 18:06] mananwason commented on #460
@the-dagger stable and master would be different. master would contain the development code and stable is what has been tested.

[2016-07-08 18:07] championswimmer commented on #460
rename
master -> develop
stable -> master
shipping -> release

But nevertheless, git-flow does not make it compulsory to name the current branch `develop` and the stable one `master`
We can name them whatever we wish to

If you want to make sure git clone gets you stable, then we can just set default branch to stable.

These are just semantics, and we are already following git-flow. What is in a n

[2016-07-08 18:08] mananwason commented on #460
I think this should work @nisrulz. LGTM.

[2016-07-08 18:10] championswimmer commented on #460
@mananwason @the-dagger
If it really is not that necessary. keep it like it is. The travis and codecov configs will need changing too.
We are **already** following a 3-branch git-flow strategy

[2016-07-08 18:11] nisrulz commented on #460
@championswimmer naming is there to maintain standards for everyone else to be on the same page. As much as easy it is for normal devs to understand the deviations like this codebase has , its pretty much hard for others to decide where to start working from.

Anyways you just re-stated my words , so all good. At the end of the day ,this is but a suggestion, no one is bound to follow semantics.

[2016-07-08 18:11] championswimmer commented on #460
@nisrulz there is a readme file

[2016-07-08 18:13] nisrulz commented on #460
@championswimmer if readme file was enough , you would not be having codacy running to check for coding standards. You could as go ahead and put things up in the readme for everyone to look up and follow the standards this project follows.

[2016-07-08 18:16] championswimmer commented on #460
@nisrulz
AOSP current development is on master. Releases are tagged.

There are no **standards** of git branch names

[2016-07-08 18:39] championswimmer opened #463 "fix the travis and codecov configurations for stable and shipping"
They need editing after the codebase was refactored into android/ and apk-generator

[2016-07-08 19:59] aakashkhatter1296 opened #465 "Fixing Collapsible Toolbar in SpeakersActivity and TracksActivity"
![speakersactivity](https://cloud.githubusercontent.com/assets/10905662/16699882/7d4e5876-4574-11e6-8a04-0846adfc00c4.jpg)
![tracksactivity](https://cloud.githubusercontent.com/assets/10905662/16699883/7e6f48a0-4574-11e6-8078-3fde701fd045.jpg)
Extra space on top of toolbar after collapsing which is covering the toolbar title.

[2016-07-08 20:03] the-dagger commented on #465
Good find. :+1:
We plan to modify SpeakDetails Activity anyways once #404 is resolved.

[2016-07-08 20:06] aakashkhatter1296 commented on #465
Thanks @the-dagger
And what about the TracksActivity ? Should I fix that ?

[2016-07-08 20:07] the-dagger commented on #465
Sure give it a shot. :+1:

[2016-07-08 20:11] aakashkhatter1296 commented on #465
@the-dagger I am not talking about #374 . I am talking about this issue only - fixing the CollapsibleLayout

[2016-07-08 20:12] the-dagger commented on #465
Sure go ahead. :+1:

[2016-07-08 20:14] championswimmer commented on #463
done via #462 and #464

[2016-07-08 20:14] #463 closed

[2016-07-08 21:20] the-dagger commented on #465
@aakashkhatter1296 if you want, you can also send the fix for SpeakerActivity for now.
Cheers.

[2016-07-08 21:39] aakashkhatter1296 commented on #465
@the-dagger sent the fix for both the activities.
Cheers

[2016-07-08 22:00] the-dagger commented on #465
Closed by #467

[2016-07-08 22:00] #465 closed

[2016-07-09 09:38] the-dagger commented on #459
Ok, so file upload works perfectly fine but there doesn't seems a way to access the uploaded files on the server from python.
@championswimmer Have you ever worked with this?

[2016-07-11 04:26] championswimmer commented on #404
@the-dagger
I can help with this. Basically we need to update the parser for v2 right ?
We have already done that on webapp. I'll take some time out to help on it today

[2016-07-11 06:51] the-dagger commented on #404
Yeah @championswimmer.
Great then, let me know when you're free and we shall work on this.
Cheers.

[2016-07-11 08:53] aakashkhatter1296 opened #471 "Unnecessary space between items of recycler view in TracksActivity"
![tracks-activity-recycler-view](https://cloud.githubusercontent.com/assets/10905662/16724987/e77f536c-4772-11e6-8d13-7e54d6074506.png)

[2016-07-11 08:59] the-dagger commented on #471
@aakashkhatter1296 do you want to work on this issue?

[2016-07-11 09:00] aakashkhatter1296 commented on #471
@the-dagger Yes, I want to. I fixed it, just submitting a pull request

[2016-07-11 09:04] mananwason opened #472 "Add option to upload icons for the event app"
We need to have an option to upload app icons to the apk generator.

[2016-07-11 09:19] the-dagger commented on #472
I'll work for adding this functionality on backend

[2016-07-11 11:24] mariobehling commented on #472
This should come from the event.JSON. Take the logo for this please. Do not implement a separate upload function. Everything should come from the JSON files.

[2016-07-11 11:24] #472 closed

[2016-07-11 11:26] mariobehling commented on #403
As pointed out a number of times  - all event data including icons should be defined in the JSON files and zip provided by organizers.

[2016-07-11 11:36] the-dagger commented on #472
👍

[2016-07-11 15:39] mananwason commented on #403
Sure @mariobehling but this issue addresses the packaging of the icon in the apk generated by the app generator. So, I think this issue should be open (https://github.com/fossasia/open-event-android/issues/472 should be closed)

[2016-07-11 17:43] championswimmer commented on #460
So what are doing here will be

stable -> development
shipping -> master

Dropping current master, as that branch does not have coverage, and we anyway merge after unit testing and building code.

@the-dagger @mananwason please checkout/checkin code to existing branches so that you do not loose any data or have any conflicts. Let me know when there are no pending merges, so I can do this

[2016-07-11 18:09] the-dagger commented on #460
Ok, wait.
Let us close/merge the existing Pull Requests.

[2016-07-11 18:22] #471 closed

[2016-07-11 18:44] the-dagger commented on #340
@PareshMayani Are you working on this issue?
Cheers.

[2016-07-11 18:45] the-dagger commented on #167
Closing this for now as it is not required

[2016-07-11 18:45] #167 closed

[2016-07-11 18:45] the-dagger commented on #374
Closing for now.

[2016-07-11 18:45] #374 closed

[2016-07-11 18:45] #361 closed

[2016-07-11 18:46] the-dagger commented on #384
Closing this as we have #396 for API calls to app generator

[2016-07-11 18:46] #384 closed

[2016-07-11 18:48] the-dagger commented on #139
@mananwason Do we need to add translations right now?
Most of the string in our app are already translated.

[2016-07-12 00:24] #454 closed

[2016-07-12 07:04] mananwason commented on #139
@the-dagger I am thinking no. Right now our priority is to get the app working. This is a feature for later. Closing it.

[2016-07-12 07:04] #139 closed

[2016-07-12 12:09] mariobehling commented on #403
As you can see #472 is also closed. You can reopen this issue everyday, if you want, but we dont need it. (apart from that you already mentioned this issue will be solved yesterday).

If you need an icon for the app - get the data (the icon = logo), that is defined in the event.json. If there is no logo, define a neutral standard icon.

[2016-07-12 12:09] #403 closed

[2016-07-12 12:10] aakashkhatter1296 commented on #457
@the-dagger can I start working on this or is someone else already working on this ?

[2016-07-12 12:29] the-dagger commented on #457
@aakashkhatter1296 No, don't start on this right now.
I wen through some older chats and it turns out that using cards in sponsors fragment messes up with the design guidelines of the app #136 .
We can start working on this later if we feel that this is needed.
Cheers.

[2016-07-12 12:29] #457 closed

[2016-07-12 18:36] championswimmer commented on #460
Okay, this is done now.

[2016-07-12 18:36] #460 closed

[2016-07-14 08:06] mariobehling opened #480 "Add daily build of sample apk or better options"
Please add a daily build of a sample apk to https://github.com/fossasia/open-event-android/tree/master/android/sample-apk

Or is there even a better option, where travis can build us a sample apk each time the repo is updated?

[2016-07-14 08:50] the-dagger commented on #480
@mariobehling yes, travis can be configured to do this.
I'll add functionality for this in the evening.

[2016-07-14 18:23] the-dagger commented on #480
@mariobehling I did some research on this and found that apk can not be uploaded to the folder using travis.
What we can do is create a release like this : [https://github.com/fossasia/open-event-android/releases](https://github.com/fossasia/open-event-android/releases) after each commit to master

[2016-07-14 19:03] mariobehling commented on #480
@the-dagger Ok, thanks for the info. Then let's add them into the folder here please https://github.com/fossasia/open-event-android/tree/master/android/sample-apk

The releases do not really work for us, because we make an app builder and not a single app. We just need a sample app in the folder.

Could you add the sample now, please?

[2016-07-14 19:09] the-dagger commented on #480
Ok so what I'll do is, that I'll manually upload the app to this directory once they are onpiled.
Will that be ok?
Because travis doesn't allow uploading the apk to repository.
We can do one thing though.
We can host a simple html page on gh-pages containing the link to latest test apk.
Something like this [http://192.241.232.231/release/](http://192.241.232.231/release/)
Will that work?

[2016-07-14 20:00] mariobehling commented on #480
Yes, I think this is an excellent idea. Hope to see a sample app soon. Cheers.

[2016-07-14 20:07] the-dagger commented on #480
@mariobehling I will upload a test build tomorrow without fail.
I was at an event for the whole day today, so was unable to progress any further.

[2016-07-15 07:31] the-dagger opened #481 "Single Sponsor image in one page"
Similar to #454 the sponsors also have a broken layout.

[2016-07-15 17:36] mananwason commented on #435
#479

[2016-07-15 17:37] #435 closed

[2016-07-15 17:39] mananwason commented on #459
@the-dagger Why has this been closed? Is it working? If yes, how can I access zip files that have been uploaded?

[2016-07-15 17:40] the-dagger commented on #459
I forgot to reopen this.
File retrieval has to be worked on.
Will do it after I complete #404

[2016-07-15 17:43] mananwason commented on #459
Okay great. I have updated the script here https://github.com/fossasia/open-event-android/pull/484. We would need to change file paths here. We can do that after file retrieval is working

[2016-07-15 21:33] the-dagger commented on #480
@mariobehling You can find the apk at the following location
[https://github.com/fossasia/open-event-android/tree/development/sample-apk](https://github.com/fossasia/open-event-android/tree/development/sample-apk)
Cheers.

[2016-07-15 21:33] #480 closed

[2016-07-16 05:21] mananwason commented on #48
same as #372

[2016-07-16 05:21] #48 closed

[2016-07-16 06:24] #481 closed

[2016-07-16 08:39] the-dagger commented on #404
@mananwason I am able to parse the json files but data isn't getting displayed and stored into the database for some reason.
Let us work on this today.

[2016-07-16 10:24] #434 closed

[2016-07-17 07:37] shivenmian commented on #372
@mananwason You can use ATE, not too hard to integrate.

[2016-07-17 17:33] mananwason opened #488 "Add number of json files packaged in the app to config.json"
When the organiser uploads json files to the apk generator, we need to add a field to config.json that will be used to count the number of requests made to read these files, so that even if all json files are not added the parsing doesn't break.

[2016-07-17 17:36] the-dagger opened #489 "Broken Location element in the app"
The MicroLocation fragment is broken and displays a single location in the whole screen.
![screenshot-area-2016-07-17-230528](https://cloud.githubusercontent.com/assets/6565270/16902124/fd847584-4c72-11e6-8873-f6a23c0cc364.png)

[2016-07-18 04:04] minervapanda opened #492 "Documentation Link is interchanged"
Documentation Link of App client and generator is  interchanged in the Documentation section of README.md

[2016-07-18 04:06] minervapanda commented on #492
i want to get assigned to fix this .

[2016-07-18 04:18] championswimmer commented on #492
@minervapanda Please go ahead and make a PR for it :)

[2016-07-18 05:05] #489 closed

[2016-07-18 05:05] mananwason commented on #489
Fixed in #491

[2016-07-18 05:33] minervapanda opened #494 "Development setup of Android client"
Error in the development Setup documentation of Android client : android folder to be selected to import after navigating to the root folder of the project (the folder named "open-event-android"), and then hit OK.

[2016-07-18 05:41] the-dagger commented on #494
Hey @minervapanda
That is absolutely normal.
Basically the reason for that is, we have the scripts that are used in the server inside the repository too, so in order to compile the app you need to open the Android folder in order to Ru  and compile it.
Cheers.

[2016-07-18 05:49] minervapanda commented on #494
Okay. The thing is missing that inorder to compile and run the app one has to move to android folder.

[2016-07-18 05:52] the-dagger commented on #494
Yeah, you can send a PR that fixes this issue   👍

[2016-07-18 07:55] #436 closed

[2016-07-18 10:39] #494 closed

[2016-07-18 10:40] the-dagger commented on #494
Fixed in #496

[2016-07-18 10:40] the-dagger commented on #492
Fixed in #496

[2016-07-18 10:40] #492 closed

[2016-07-18 18:07] droanmalik opened #498 "Drawing navigation drawer behind the status bar"
this can be done by changing the color of the status bar to transparent inside styles-v21
`  <item name="android:statusBarColor">@android:color/transparent</item>`

![screenshot_20160718-233204](https://cloud.githubusercontent.com/assets/5713737/16925097/3e4ce768-4d40-11e6-8d23-9b8d484992ea.png)

[2016-07-18 18:56] the-dagger commented on #498
Hey @droanmalik!
Great seeing you here.
If you want, you can send a pull request to the development branch for this issue and we will merge it.
Cheers.

[2016-07-19 18:32] the-dagger commented on #498
Closed via #499

[2016-07-20 04:53] the-dagger commented on #498
@droanmalik could you resend the PR for this?
Because while merging devel to master we had to delete some commits due to merge conflicts.
Cheers.

[2016-07-20 05:47] the-dagger opened #501 "Fetch and store the version array from event.json"
We need to the event.json first and then extract and store the version information separately from here.

[2016-07-20 16:58] #498 closed

[2016-07-21 17:30] mariobehling opened #506 "Ensure app is able to use the latest version of import files"
The latest versions of sample import files are here https://github.com/fossasia/open-event/tree/master/sample

Please ensure they work with the app.

[2016-07-21 17:31] mananwason commented on #506
Sure @mariobehling. We are fixing this right now 👍

[2016-07-21 17:34] #432 closed

[2016-07-21 17:35] the-dagger commented on #506
@mariobehling @mananwason I have configured the app to use these json files only.
It's in #504 :)

[2016-07-21 17:42] mariobehling opened #507 "Automatically deploy branch development to Heroku"
In order to test the latest versions of the app a deployment to heroku is really useful.

Please deploy the app to https://opev-appgen-dev.herokuapp.com

[2016-07-21 18:09] mariobehling opened #508 "Implement sending email with a link to download of apk"
After the app generation is finished, there is currently an email sent out that includes the actual apk. This apk could be very big once more images are included. Therefore please change the process as follows:

* [x] Send out an email with a unique download link
* [x] Use a hash to make the download link unique
* [x] Document in the [ApkGenerator.md](https://github.com/fossasia/open-event-android

[2016-07-21 18:15] mariobehling opened #509 "Implement the same UI as web app generator"
Let's move the projects closer together and start by implementing the same UI as the web app generator. If you can take it from the web app repository and reuse it 100% would be best even.

Check out how it works at: https://opev-webgen-dev.herokuapp.com

[2016-07-21 18:19] the-dagger commented on #508
@mariobehling We are sending the app as an attachment.
Isn't that better?

[2016-07-22 06:45] the-dagger commented on #508
@mariobehling does something like this looks good?
http://192.241.232.231/release/1467824712329/releaseapk.apk

The hash after `release` is unique for each user.

[2016-07-22 14:10] mananwason commented on #501
@the-dagger Right now I'm working on some other issues. I'll work on this next.

[2016-07-23 05:07] #442 closed

[2016-07-23 05:07] mananwason commented on #442
Already completed in #479

[2016-07-23 05:09] mananwason commented on #340
@the-dagger It seems that @PareshMayani won't be working on this. Would you like to take it up?

[2016-07-23 05:59] the-dagger commented on #340
Sure.
Please assign it to me as right now I'm in transit.

On Saturday, July 23, 2016, Manan Wason <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi
Contact : +919968195588
GitHub <https://github.com/the-dagger> | LinkedIn
<https://in.linkedin.com/in/hadwivedi>
Google Play <https://goo.gl/wl3loD> | Facebook
<https://www.facebook.com/daggerdwivedi>

[2016-07-23 10:09] mananwason commented on #340
👍

[2016-07-23 10:09] mananwason commented on #340
Assigned it to you

[2016-07-23 22:10] #340 closed

[2016-07-24 02:39] mananwason opened #513 "Data not being refreshed in any of the views after merging #512"
@the-dagger @mariobehling these are the screenshots. This is due to not showing the recyclerview after the data is downloaded. Please check @the-dagger
![device-2016-07-24-080638](https://cloud.githubusercontent.com/assets/10570249/17081429/cc03bf1c-5175-11e6-8cdf-4ed50a38f657.png)

[2016-07-24 11:53] #513 closed

[2016-07-24 14:27] #372 closed

[2016-07-24 14:28] the-dagger commented on #459
I'm moving this to a later milestone for now.

[2016-07-25 08:10] minervapanda opened #516 "Scrollview is not smooth"
While scrolling through the details of each speaker , the scrolling experience is poor .

[2016-07-25 19:34] the-dagger commented on #516
Hey @minervapanda .
Thanks for reporting this issue.
Would you like to work on it?

[2016-07-26 02:45] minervapanda commented on #516
Sure. I will work on it , please assign me.

[2016-07-26 04:11] mananwason commented on #443
Already completed in #490

[2016-07-26 04:11] #443 closed

[2016-07-26 04:13] mananwason commented on #404
@the-dagger @mariobehling what are services over here. I'm not able to understand

[2016-07-26 04:17] mananwason commented on #351
@shivenmian @the-dagger @mariobehling We have both of these now. The schedule (https://github.com/fossasia/open-event-android/pull/419) as well as tracks, so we can close this.

[2016-07-26 04:17] #351 closed

[2016-07-26 07:39] the-dagger commented on #516
Sure, you can go ahead and get started :+1:

On Tuesday, July 26, 2016, Minerva Panda <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi
Contact : +919968195588
GitHub <https://github.com/the-dagger> | LinkedIn
<https://in.linkedin.com/in/hadwivedi>
Google Play <https://goo.gl/wl3loD> | Facebook
<https://www.facebook.com/daggerdwivedi>

[2016-07-26 09:03] mariobehling commented on #404
Changed to "Any other objects".

[2016-07-27 22:07] the-dagger commented on #396
@mariobehling I tried to do this today, but it turns out that heroku only supports hosting the projects that use a single technology.
But in the app generator, this will not be possible as we have to host both the app generator (which is a static webpage), the server (which is PHP) and the android source itself (which is Java).
I discussed about this with @championswimmer too and he agrees with th

[2016-07-27 22:35] mariobehling commented on #396
Ok, thanks for the info. Such a pity we did not find out about this earlier.

[2016-07-27 22:53] the-dagger commented on #396
@mariobehling don't worry, once I am done with implementing the POST API for our server, I'll rewrite the backend in Node and then try this again.
Because there is a buildpack that helps deploy node and gradle at once, but with our current implementation it's of no use to us.

[2016-07-28 18:19] the-dagger commented on #509
Fixed via #521

[2016-07-28 18:19] #509 closed

[2016-07-29 17:21] the-dagger opened #522 "Add Documentation for accessing the API"
We need a proper documentation for making POST request to the app generator API.

[2016-07-29 17:26] the-dagger commented on #507
@mariobehling Closing this.

[2016-07-29 17:26] #507 closed

[2016-07-29 17:27] the-dagger commented on #459
@mananwason Dropping the idea of firebase for now as it will cause issues while calling the build via API.
We will directly send the data from php file to python.
Please see the appgenserver.py in #523, I have done it.

[2016-07-29 17:27] #459 closed

[2016-07-30 07:49] #396 closed

[2016-07-30 07:51] #297 closed

[2016-07-30 10:40] the-dagger commented on #415
Not necessary for now.
User can always install the app to see what it looks like rather than previewing it.
We can implement this later on after gsoc.

[2016-07-30 10:42] the-dagger commented on #171
@mananwason Lets move this issue to the next deadline.
Right now, the parser is of higher priority.

[2016-07-31 14:57] mananwason opened #524 "Delete apks from server after 72 hours"
We are using a lot of space by storing all the generated apk's and json files on the server, so we need to get rid of them. As @mariobehling suggested we need to delete them after 72 days of the date of generation.
Add the time period in the ```config.json``` created.

[2016-08-01 07:11] the-dagger opened #525 "Ensure the app is able to use the entire name entered by the user"
Right now, in the app generator if App's name has spaces in it, only the first word is taken into account while creating the app.
We need to fix this.

[2016-08-01 07:12] the-dagger opened #526 "Ensure app is able to use full name in the POST API"
Similar to #525 , the same bug persists in the API too.

[2016-08-01 17:12] mananwason opened #528 "Schedule not working after #519"
After #519, we have changed the parsing of data and the schedule is now broken. Will have to update everything according to the new parser.

[2016-08-02 10:33] rohanagarwal94 commented on #365
@the-dagger great project. Wanted to contribute to this thread. I was thinking of implementing marker clustering , which I had successfully implemented in my previous project .

[2016-08-02 10:38] the-dagger commented on #365
Hey @rohanagarwal94 ,
That's awesome!
You can feel free to go ahead and start working on this issue. :+1:
Cheers.

[2016-08-02 10:46] rohanagarwal94 opened #529 "Interchange the links to the respective docs in README.md"
The links should be interchanged in the README.md in the Documentation subheading for the app generator docs and android app docs.

[2016-08-02 13:37] rohanagarwal94 commented on #365
@the-dagger the map in the image is not exactly the map in the upstream/development. Even the markers are not added as of yet. Just notify me when it gets updated. Or if you want me to implement a better map activity/fragment, I can do that too.

[2016-08-02 13:41] mananwason commented on #365
@rohanagarwal94 The map in the image is a prototype. It has been taken from the Google IO app. We need the map activity in our app to be similar to this.

[2016-08-02 14:01] rohanagarwal94 commented on #365
[https://lh3.googleusercontent.com/HY77Ed5C-eRpVcpMVvmIcvskf57RFrx0puwsWDlr-Rij0hMtH_m9hkeSt_fsGFl1mw=h900-rw](url) Is this acceptable? This is my implementation through with an autocompletetextview search box and marker clustoring.

[2016-08-02 14:06] rohanagarwal94 commented on #365
[image](https://lh3.googleusercontent.com/HY77Ed5C-eRpVcpMVvmIcvskf57RFrx0puwsWDlr-Rij0hMtH_m9hkeSt_fsGFl1mw=h900-rw) @mananwason is it acceptable? This is my implementation of the map with marker clustering and autocompletetextview search.

[2016-08-02 14:17] mananwason commented on #365
Yes this looks fine but keep in mind that we want something customisable. I mean if we have a list of locations and levels, the app should be able to generate a map on the fly without any lags and the rooms on different levels should be easily distinguishable.

[2016-08-02 14:21] rohanagarwal94 commented on #365
I will try to implement it in the best possible way.

[2016-08-03 08:48] the-dagger opened #532 "Improve security of the App Generator server"
Right now, the web user, `www-data` has been given sudo permission for executing scripts on the server.
But this is not a good choice and leaves the server open to any security exploits.

So we need to change our current settings to allow web-user to run only few scripts as root and not declare it as a root user.

I researched a bit on how can we do this on [stackoverflow](http://askubuntu.com/que

[2016-08-03 10:27] #529 closed

[2016-08-03 10:28] #522 closed

[2016-08-04 09:42] mananwason commented on #501
Closed via #519

[2016-08-04 09:42] #501 closed

[2016-08-04 16:26] #525 closed

[2016-08-04 17:27] the-dagger commented on #528
@mananwason We still don't have a schedule json from the orga-server right?

[2016-08-04 18:15] mariobehling commented on #528
All info is already in the sample files for a long time. I really hope you guys can make this project happen until the end of GSoC. There are still issues in the sample files, but they are usable: https://github.com/fossasia/open-event/tree/master/sample/FOSSASIA16

[2016-08-04 18:26] the-dagger commented on #528
@mariobehling Sure thanks.
But I believe, we need a separate json for `event-dates`, something like this
[code]

[2016-08-04 20:43] the-dagger commented on #524
@mananwason let me work on it.
I have researched on this a bit and it seems like we need to run a cron job for this.

[2016-08-04 21:31] the-dagger commented on #532
Ok, so it seems like if I just allow the web-user to access .bashrc and .muttrc as root this should work.
Possible this was the very reason as to why the sent emails were being registered as spam.

[2016-08-04 21:35] #526 closed

[2016-08-05 00:11] mananwason commented on #528
@mariobehling @the-dagger There is no requirement of creating another issue. I have talked to @aviaryan in https://github.com/fossasia/open-event-orga-server/issues/1878. I'll fix this next. I was working on higher priority issues for now.

[2016-08-05 00:25] the-dagger commented on #528
Ok, perfect. :+1:

[2016-08-05 13:51] SparshBansal opened #535 "Better Splash Screen"
I am new to this project. I saw the splash screen activity and noticed that it takes long for the splash screen to appear on cold launches.

I think I can improve the behaviour of the spash screen so that it appears instantaneously even on cold launches

[2016-08-05 13:52] SparshBansal commented on #535
Can I work on that.

[2016-08-05 14:01] the-dagger commented on #535
Sure, please go ahead. :+1:

[2016-08-05 17:10] the-dagger opened #536 "App crashing on API level 19 and below"
Seems like a problem with the newer support library.
[code]

[2016-08-05 21:26] the-dagger commented on #536
Fixed from #537

[2016-08-05 21:26] #536 closed

[2016-08-05 21:49] the-dagger opened #539 "Update documentation for POST API"
Update documentation for POST API in the app-generator docs

[2016-08-06 12:38] siddhantbajaj commented on #430
@mananwason can you please review the changes
![screenshot_2016-08-06-15-17-15 1](https://cloud.githubusercontent.com/assets/17237680/17456765/a4eb6d36-5c00-11e6-9370-5a56ff35c8f2.png)
![screenshot_2016-08-06-15-17-37 1](https://cloud.githubusercontent.com/assets/17237680/17456770/ae4269ac-5c00-11e6-9754-9240e2d0482e.png)

[2016-08-06 12:50] SparshBansal opened #540 "App crashes pre-lollipop"
I tried installing the app on kitkat (Android Version 4.4.4) and jellybean and it crashed. The reason as I could figure out from the Logs was that it wasn't able to find the vector tag

Caused by: android.content.res.Resources$NotFoundException:
File res/drawable/abc_ic_ab_back_material.xml from drawable resource ID #0x7f020016

[2016-08-06 13:01] the-dagger commented on #540
Its fixed in #537 already :)

[2016-08-06 13:01] #540 closed

[2016-08-06 13:04] the-dagger commented on #430
@siddhantbajaj Could you please go through other activities/fragments too and check if this keyline issue persists there and fix it for them too?
Cheers.

[2016-08-06 13:10] #539 closed

[2016-08-06 13:30] siddhantbajaj commented on #430
Sure @the-dagger

[2016-08-06 13:44] SparshBansal commented on #535
Sir I have made the requisite changes to the code.
Now the splash screen appears instantaneously.
What shall I do next ?

[2016-08-06 14:05] the-dagger commented on #535
Excellent, commit your changes to your repo and send a Pull Request.
I'll review it.
Cheers.

[2016-08-06 18:58] the-dagger opened #541 "Use sendgrid for sending emails"
MUTT only supports gmail, yahoo, outlook and other common domains.
So using sendgrid seems like a better option at this point of time.

[2016-08-06 19:00] the-dagger opened #542 "Store email info in a separate config file"
We need to store the info for sending the email in a separate config file which can be modified as per our convenience.

[2016-08-07 02:28] mariobehling opened #543 "No progress info or bar on apk generator"
After a user starts the generation process there is no progress in or bar showing up.

[2016-08-07 02:43] mariobehling opened #544 "Sample app crashes at start up on Galaxy Nexus Omnirom 4.4.4."
Cannot start app generated with FOSSASIA zip.

[2016-08-07 03:20] mariobehling opened #545 "Implement simple way to edit email"
At the moment the email that gets send out is "test mail".

How can that email be edited?

Please implement a simple text or JSON file with all details.

[2016-08-07 03:21] the-dagger commented on #544
@mariobehling this is fixed in #536

[2016-08-07 03:43] mariobehling opened #546 "Update documentation and follow best practices"
* [x] Please follow best practices for documentation, e.g. add information about installation of app generator to "Installation" and add info for different setups.
* [x] Add installations instructions for Digital Ocean and only show standard badge once at Readme.md. if possible find a badge similar size and style as other existing badges. Take out references elsewhere.
* [x] Add installations inst

[2016-08-07 04:01] mananwason commented on #544
I will check on this and ensure that it is totally fixed by today

[2016-08-07 08:28] mananwason commented on #404
Closed via #519

[2016-08-07 08:28] #404 closed

[2016-08-07 08:30] mananwason commented on #506
Closed via #519

[2016-08-07 08:30] #506 closed

[2016-08-07 09:51] mariobehling opened #548 "Upload zip in background and show progress bar for upload"
Currently the user does not get any info, if uploads of files work successfully. Please implement:
* [x] Upload of zip in background right after zip file has been chosen
* [x] a progress bar to show upload (next to the file uploader for example or substituting it)
* [ ] an x-cross to cancel upload if desired
![screenshot from 2016-08-07 11 42 22](https://cloud.githubusercontent.com/assets/1583873/

[2016-08-07 11:42] mananwason commented on #544
@mariobehling closing this as this has been fixed already.

[2016-08-07 11:42] #544 closed

[2016-08-07 16:05] the-dagger commented on #548
@mariobehling How about we start the upload only when the user actually wants to generate the app i.e. on pressing the generate button?
It might be possible that he/sh picked a wrong zip file by mistake and

[2016-08-07 18:07] mariobehling commented on #548
This is why there is a x-cross button.

The problem is that e.g. the FOSSASIA file is 20MB and OTS even bigger. We need a progress bar. Please implement as outlined. It sticks to standard processes of most CMS.

[2016-08-08 08:10] the-dagger opened #554 "Switch the backend to MEAN"
Using Node as a server sided language is both more easier to implement and also more flexible as compared to php.
This is not a priority right now and can be done after GSoC ends.

[2016-08-08 13:28] the-dagger commented on #541
@mariobehling There seems to be a problem with sendgrid's PHP library in receiving params for sending email.
I have opened an issue for the same in their repo.
[https://github.com/sendgrid/sendgrid-php/issues/277](https://github.com/sendgrid/sendgrid-php/issues/277)

[2016-08-08 13:31] the-dagger commented on #545
We will use a simple config.json which will contain all the data for Message title and body.
I have implemented it and will send a pull request soon.

[2016-08-08 13:31] the-dagger commented on #542
#545

[2016-08-08 13:31] #542 closed

[2016-08-08 21:09] #541 closed

[2016-08-08 21:09] #545 closed

[2016-08-09 17:37] mananwason opened #557 "Package uploaded json files in the generated apk"
* [x] Check if json files are uploaded
* [x] If yes unzip them and package in the assets folder of the generated apk.

[2016-08-09 18:43] the-dagger commented on #508
Fixed from #555

[2016-08-09 18:43] #508 closed

[2016-08-10 11:42] the-dagger commented on #546
Some parts are still left, i'll send a PR for them too :)

[2016-08-10 11:43] mananwason commented on #546
Great 👍

[2016-08-10 19:57] chiragw15 opened #560 "Going back to track activity when back pressed from sponsors activity instead of closing."
1.) The app closes when pressed back from the sponsor or speakers fragment. It will be better if it goes back to the 'Tracks' activity.
2.) The picture in the navigation drawer is not complete
![screenshot_20160811-010709](https://cloud.githubusercontent.com/assets/16978820/17568553/eeed262c-5f61-11e6-978f-893c720110ab.png)

P.S : This is first time I am reporting an issue. So, correct me if I did

[2016-08-11 07:41] minervapanda commented on #516
I am closing this issue because I found the once sessions are added .. the scrollview looks fine

[2016-08-11 07:41] #516 closed

[2016-08-11 08:20] the-dagger opened #561 "Clicking on a track from locations causes force close."
@mananwason I believe this issue is related to the parser as well.
[code]

[2016-08-11 08:49] mariobehling opened #562 "Sponsor Tab: Images not scaled, not ordered according, not put into categories"
The sponsor tab has a number of issues. Please fix the following:
* [x] shows sponsor images same sizes
* [x] Add sponsors into categories e.g. Platinum and order them into categories
* [x] Ensure URLs work and if not do not add a URL

![device-2016-08-11-140831](https://cloud.githubusercontent.com/assets/1583873/17583469/79f4a034-5fb1-11e6-8770-c2c513b7a48d.png)

* [x] Add a screenshot in the iss

[2016-08-11 08:52] mariobehling opened #563 "Location not following implementation of other open event components"
* [ ] Locations should have room name first and then level
![device-2016-08-11-141024](https://cloud.githubusercontent.com/assets/1583873/17583516/b4f60bc8-5fb1-11e6-9b28-29c7ae24ecd5.png)

[2016-08-11 08:54] mariobehling opened #564 "Implement more useful map page, e.g. currently map does not show address of event location"
* [x] As a first step add location info on map
* [x] Show a screenshot here what you plan to implement before making a PR

[2016-08-11 08:57] mariobehling opened #565 "Speaker Tab: Add organization information"
* [x] Add organization and/or project below speaker

[2016-08-11 08:57] mananwason commented on #563
Cool. I'll send a PR right away @mariobehling

[2016-08-11 09:00] mananwason commented on #565
Sure @mariobehling Sending a PR right away.

[2016-08-11 09:01] mariobehling opened #567 "Use language that conforms to existing user interaction patterns"
* [x] Please improve the UI and use a language that conforms with user experience.
* [ ] Change question about assets to "Do you want to upload the latest schedule data now?"

![screenshot from 2016-08-11 10 59 33](https://cloud.githubusercontent.com/assets/1583873/17583763/e9b69886-5fb2-11e6-89cb-4abda00679e3.png)