[2017-06-07 22:08] arp95 commented on #1677
@mariobehling
working on it.

[2017-06-07 22:11] #1650 closed

[2017-06-08 01:44] shreyasnbhat commented on #1499
@the-dagger  Some old screens and gifs are posted in this thread above.

[2017-06-08 07:07] arp95 opened #1678 "Displaying speaker org when position is empty"
**Actual Behaviour**

If the speaker position is empty, the speaker org is not displayed.

**Expected Behaviour**

Display org when speaker position is empty.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

https://github.com/fossasia/open-event-android/milestone/28

[2017-06-08 07:31] the-dagger commented on #1678
@arp95 any screenshot in the app where you faced this?
Not sure what you meant by "Speaker position is empty"

[2017-06-08 07:34] iamareebjamal commented on #1678
@arp95 Should be fixed in #1565

[2017-06-08 07:39] arp95 commented on #1678
![19024659_10211509493287443_1050794937_o](https://user-images.githubusercontent.com/8268392/26917358-973ad9ce-4c4b-11e7-9dcc-fcedd187141c.png)

@iamareebjamal actually have a look at the pr. this is quite different thats why i sent a separate pr.

[2017-06-08 08:10] shreyasnbhat commented on #1678
@arp95 What @iamareebjamal  is saying that all `ViewHolders` have been moved into a separate file and all such issues have been taken care of supposedly.

[2017-06-08 08:35] arp95 commented on #1678
@shreyasnbhat fine then.
@iamareebjamal i will have a look over there. just ensure when we display the org we dont use String.format(position, org) when position is null. That was causing the issue.

[2017-06-08 08:35] #1678 closed

[2017-06-08 14:00] arp95 commented on #1609
![19047390_10211511264491722_1636254875_o](https://user-images.githubusercontent.com/8268392/26932324-cf0cb93c-4c80-11e7-8677-5f9f3df9cde1.jpg)
![19073205_10211511264371719_1723246859_o](https://user-images.githubusercontent.com/8268392/26932326-d178029e-4c80-11e7-8688-895aa3a328be.jpg)

@the-dagger @iamareebjamal @Shailesh351 @mahikaw @shreyasnbhat
please tell which one looks better.

[2017-06-09 03:33] niranjan94 opened #1680 "Implement support for json-api"
The Open Event Server is moving towards a new API as per the [json-api specification](http://jsonapi.org/). Hence all the client apps need to support the same.

You can checkout some of the Android client libraries that you can use to easily consume the API at http://jsonapi.org/implementations/#client-libraries-android.

Please note that the zip format is not changing and only the API format is a

[2017-06-09 04:19] shreyasnbhat commented on #1660
@mahikaw Shall I work on this if you aren't working on it currently? I have no Issue to work on now.

[2017-06-09 06:06] iamareebjamal commented on #1660
I think the bookmark option is it list already

[2017-06-09 06:07] iamareebjamal commented on #1680
@niranjan94 Can we get sample response from the server?

[2017-06-09 06:10] mahikaw commented on #1660
@shreyasnbhat please go ahead. I am busy with the samples.

[2017-06-09 06:13] arp95 commented on #1680
can i wokr on the api format?

[2017-06-09 06:14] iamareebjamal commented on #1680
Sure @arp95 but we have to work on designing documents and models such that they can be parsed from JSONAPI spec

The real problem is that every library requires inheritance from a base class, and Realm does too

[2017-06-09 06:14] niranjan94 commented on #1680
@iamareebjamal you can see how json-api compatible responses look here -> http://jsonapi.org and everything that is supported. (Sorting, paging, filtering etc)

Server API docs are still a WIP and event API is still pending merge. Would done by the end of this week. That's why this issue has been assigned to Milestone 6.

[2017-06-09 06:15] the-dagger commented on #1660
@iamareebjamal This is regarding a bookmark option in the schedule fragment.
@shreyasnbhat While you are doing this, also check to see that the default sort option in the schedule (Sort by time) is not reflected in the spinner (it shows the default sorting as sorted by name).

[2017-06-09 06:19] shreyasnbhat commented on #1660
@the-dagger Will do!

[2017-06-09 06:24] arp95 opened #1681 "Not showing sessions which have draft state"
**Actual Behaviour**

Currently we are showing all sessions without loooking at their state.

**Expected Behaviour**

Not show sessions with "state": "draft"

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

-

**Target Milestone to solve the issue**

https://github.com/fossasia/open-event-android/milestone/29

[2017-06-09 06:29] iamareebjamal commented on #1659
@heysadboy What's the status?

[2017-06-09 06:41] iamareebjamal opened #1682 "Normalize Date Strings from server response"
**Actual Behaviour**

The server response for the date/time format has changed, and the app is crashing due to it

**Expected Behaviour**

Fix the current format to allow parsing

**Would you like to work on the issue?**

Yes

[2017-06-09 06:58] shreyasnbhat commented on #1660
@iamareebjamal @the-dagger Shall I move create Notification function to another util class as a static function? As It is being copy pasted into the `DayScheduleAdapter` for the bookmarks to work.

[2017-06-09 07:02] shreyasnbhat commented on #1682
So that's why the app is crashing.

[2017-06-09 07:03] the-dagger commented on #1660
@shreyasnbhat Sure

[2017-06-09 07:06] shreyasnbhat commented on #1660
@the-dagger Will resume working on this as soon as the app is crashing on start due to change in the date reponse. I have almost completed the issue. Will send a PR once #1682 is fixed.

[2017-06-09 07:42] heysadboy commented on #1659
@iamareebjamal I am on to other project, it would be great if you could assign this to other developers.

[2017-06-09 07:46] mahikaw commented on #1609
@arp95 I think the first one with vertical scroll for speakers looks more elegant and hence, better to me.

[2017-06-09 07:51] the-dagger commented on #1609
@arp95 Why are you recreating the sessionDetailActivity?
This issue is regarding adding a video section to the Detail Page right?
In both of the screenshots you uploaded, I can nowhere see any mention of the videos.

SessionDetailActivity is fine as it is right now, just find a way to add trailers to it so that it matches the overall design logic.

[2017-06-09 07:53] arp95 commented on #1609
@the-dagger
actually i created an issue for recreating the session detail activity but you said all the discussion needs to take place here. fine then.
so should i ad the video button in the activity then?

[2017-06-09 07:57] the-dagger commented on #1609
Yeah, just add the video in here. 👍
SessionDetail activity looks good to me in its current state.

--
Best,
Harshit Dwivedi

[2017-06-09 07:59] mahikaw commented on #1681
@arp95 I don't really understand why would anyone put up a draft event in the official schedule?

[2017-06-09 08:10] iamareebjamal commented on #1681
But he may while designing an event wanting to show it once it's complete

[2017-06-09 08:14] iamareebjamal commented on #1659
OK @shreyasnbhat @Shailesh351, any one of you want to take this up?

[2017-06-09 08:18] Shailesh351 commented on #1659
I don't understand why we need sharing from map fragment ?

[2017-06-09 08:25] shreyasnbhat commented on #1659
@heysadboy What do you intend to share from the MapFragment? Could you be a bit more clear?

[2017-06-09 09:14] #1662 closed

[2017-06-09 09:15] #1682 closed

[2017-06-09 10:44] Shailesh351 commented on #1677
@mariobehling Yes Open Event apk's of different events can be installed on the same device
While generating apk we are changing package name. So it wouldn't create any issue.

During testing samples i am able to install different events apk's :+1:

[2017-06-09 11:16] shreyasnbhat commented on #1660
@the-dagger I have done bookmarking in Schedule? Anywhere else needed?

[2017-06-09 11:25] shreyasnbhat commented on #1660
Screens

![6e8db4ac-c8ae-4d43-b994-dcf97b007590](https://user-images.githubusercontent.com/19890557/26973435-3dbd527a-4d34-11e7-85cf-d2782008fda1.jpg)
![b45bac77-8355-43bb-8ef8-89c70c797a56](https://user-images.githubusercontent.com/19890557/26973436-3e44665c-4d34-11e7-9d20-09e0140a3456.jpg)

[2017-06-09 11:55] mahikaw commented on #1350
@the-dagger @iamareebjamal @arp95 @shreyasnbhat @Shailesh351
I was thinking of highlighting the ongoing session in the microlocations fragment. This way it will be more clear about what is coming up next as it will be placed after the current session.
 What do you all think about it? Can some one think of anything else?

[2017-06-09 16:35] shreyasnbhat commented on #1350
@the-dagger We could add a textView which appears in green font saying `ONGOING` and if an event just got over the same textView could be made to display `FINISHED`  in red.

[2017-06-09 16:38] Shailesh351 commented on #1350
@shreyasnbhat yes and for next sessions `UPCOMING` :+1:

[2017-06-10 04:48] Shailesh351 commented on #1350
@mahikaw  status ?

Can i work on this issue if you haven't started because i have no issue to work on as by now ?

[2017-06-10 05:29] Shailesh351 opened #1687 "Define app behaviour when root_url(api url) for event not available"
**Actual Behaviour**

Currently when when app is not generated using server(user created it according to open event archive format) then root_url is not there.

And because of it is not possible to retrieve data from server and app shows snakbar which is not appropriate.

It means user wants only offline app which don't make any network call(Actually it wouldn't be possible because api_link is not

[2017-06-10 09:33] #1660 closed

[2017-06-10 10:24] shreyasnbhat opened #1688 "Refactor of DayScheduleAdapter and SessionListAdapter to avoid code duplication"
**Actual Behaviour**
Code related to the Bookmarking logic has been repeated in these two adapters.

**Expected Behaviour**
We need to add common code which will be present in the `BookmarkUtil` class.

**Would you like to work on the issue?**
Yes.

**Target Milestone to solve the issue**
https://github.com/fossasia/open-event-android/milestones/29

[2017-06-10 12:41] arp95 commented on #1687
What exactly do you mean by "flow" here?
if its offline we have added support for local images, and all the other event files.

[2017-06-10 13:09] Shailesh351 commented on #1687
@arp95 Yes, we have added support for local images and event files.
Main problem is if root url is null then while downloading data it is giving error here and there and showing error dialogue and snackbar.

So i am telling that if root url is not there then it don't make sense to refresh data from server.

For offline app my suggestion
- Directly load data from assets (without showing dialogue fo

[2017-06-10 13:12] arp95 commented on #1687
makes sense. go ahead.

[2017-06-11 00:54] #1609 closed

[2017-06-11 05:50] shreyasnbhat commented on #1688
Need to wait for #1565 to get merged to start working on this.
@iamareebjamal You could probably add a milestone after #1565 gets merged.

[2017-06-11 06:00] arp95 opened #1689 "App crashing in offline state"
**Actual Behaviour**

On first time install of the app, the app crashes. This is related to problem in check in date checking in realm repository.

**Expected Behaviour**

App should run fine in offline state.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

-

**Target Milestone to solve the issue**

https://git

[2017-06-11 06:21] arp95 commented on #1689
This being taken up in #1499
Closing it then.

[2017-06-11 10:05] #1499 closed

[2017-06-11 10:06] iamareebjamal commented on #1641
Should we close this @shreyasnbhat

[2017-06-11 10:10] iamareebjamal commented on #1657
@shreyasnbhat @arp95 @Shailesh351 Any one of you ready to take up the issue?

[2017-06-11 10:14] arp95 commented on #1657
sure taking this up.

[2017-06-11 10:35] iamareebjamal commented on #1670
@mahikaw Any updates?

[2017-06-11 10:35] iamareebjamal commented on #1597
@mahikaw Please update regarding the timeline. There are many bumps from one milestone to another

[2017-06-11 10:36] iamareebjamal commented on #1654
@rohanagarwal94 Any updates? This was to be completed today

[2017-06-11 10:37] iamareebjamal commented on #1578
@arp95 Please ensure this is done by next milestone

[2017-06-11 10:50] iamareebjamal commented on #1688
@shreyasnbhat Please start

[2017-06-11 10:57] iamareebjamal commented on #1680
@arp95 @rohanagarwal94 @shreyasnbhat  @Shailesh351 @mahikaw We need to discuss the implementation ASAP. How should we handle it so that no major refactoring is needed, and also, how to handle inheritance required by almost all JSONAPI libraries as we already inherit from BaseModel. I think this issue needs to be collectively solved. We have a week. I also urge you to complete your pending PRs and

[2017-06-11 11:13] #1326 closed

[2017-06-11 12:29] shreyasnbhat commented on #1688
@iamareebjamal Will do tonight.

[2017-06-11 12:29] shreyasnbhat commented on #1641
@iamareebjamal Yeah I guess.

[2017-06-11 12:31] #1641 closed

[2017-06-11 12:49] #1479 closed

[2017-06-11 15:46] rohanagarwal94 commented on #1654
@iamareebjamal almost done. Will submit probably by midnight if there are no further hiccups.

[2017-06-11 17:54] shreyasnbhat commented on #1688
@iamareebjamal I was going through the code and I find that major refactoring would be difficult as the `SessionListAdapter` is already too complex.
For example we have `bookmarksView` boolean check changing the `SnackBar` behavior internally whereas in the `DayScheduleAdapter` such checks aren't needed.
And due to such complexity I am facing some problems related to the refactor. Could you once j

[2017-06-11 18:11] iamareebjamal commented on #1688
Surely by tomorrow

[2017-06-11 18:18] iamareebjamal opened #1693 "Create new DateUtils class"
As with the new time response from the server, the current ISO8601 class is obsolete and buggy. Furthermore, a better and minimal class can be written which will be flexible for future changes

[code]

This is the proposed class as of now, and working correctly for times, I'll add tests for everything

[2017-06-12 07:47] mahikaw commented on #1670
I'll send a PR today.

[2017-06-12 08:33] #1670 closed

[2017-06-12 08:50] #1681 closed

[2017-06-12 09:06] #1687 closed

[2017-06-12 10:44] shreyasnbhat commented on #1688
@iamareebjamal Any updates regarding this?

[2017-06-12 10:48] shreyasnbhat opened #1697 "Safe delete of Bookmarks Fragment"
**Actual Behaviour**
Bookmarks Fragment is no longer needed.

**Would you like to the issue to be assigned to you?**
Yes

**Target Milestone to solve the issue**
https://github.com/fossasia/open-event-android/milestones/29

[2017-06-12 13:21] arp95 opened #1699 "Support local images for the app"
**Actual Behaviour**

App is not loading local images like logo and speaker ones from images folder/

**Expected Behaviour**

Support support for local images

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

-

**Target Milestone to solve the issue**

https://github.com/fossasia/open-event-android/milestone/29

[2017-06-12 13:29] #1697 closed

[2017-06-12 13:31] iamareebjamal commented on #1688
@shreyasnbhat I think it can be easily done via abstract class, but this is a code refactor feature, let's focus on #1680 for now

[2017-06-12 13:32] iamareebjamal commented on #1699
@arp95 Let's focus on #1680 for now as it is a breaking change for us

[2017-06-12 13:40] mahikaw commented on #1699
@iamareebjamal the only thing is that the samples won't work perfectly if we don't do this and they too are of high priority as pointed out by @ mariobehling repeatedly.

[2017-06-12 13:54] arp95 commented on #1699
@iamareebjamal sure. you can mark later for now.
just opened it so that we can work on this.

[2017-06-12 13:59] iamareebjamal commented on #1699
Samples will work fine @mahikaw This feature is related to the app and not the samples. The whole app won't work if the JSONAPI isn't implemented correctly

[2017-06-12 14:11] arp95 commented on #1680
@iamareebjamal the response would change or the api link too?

[2017-06-12 14:12] niranjan94 commented on #1680
Both would be changing.

On Mon, Jun 12, 2017, 7:41 PM Arpit Aggarwal <notifications@github.com>
wrote:

[2017-06-12 14:32] arp95 commented on #1680
is it complete @niranjan94 ?

[2017-06-12 14:34] iamareebjamal commented on #1680
Not yet

[2017-06-12 15:17] #1689 closed

[2017-06-12 16:27] iamareebjamal commented on #1699
BTW this was already fixed in #1666

And I tested it again and it is working fine

Genrated APK for reference : https://www.dropbox.com/s/kr9ij9arxuvb7n5/e0b18150-3f66-41d9-b50c-b82d5fa8d743.apk?dl=0

[2017-06-12 18:52] iamareebjamal opened #1701 "Convert JPEG icons to PNG"
**Actual Behaviour**

App generator crashes due to `None` quality for JPEG icons

**Expected Behaviour**

There should be an option for generator to convert JPEG to PNG in generator

**Would you like to work on the issue?**

Yes

[2017-06-13 03:27] rohanagarwal94 commented on #1654
There are hiccups unfortunately. Will try to fix them by tonight. If you need to see the update see [here](https://github.com/rohanagarwal94/open-event-android/tree/livefeed)

[2017-06-13 05:21] iamareebjamal commented on #1654
@rohanagarwal94 It is generally a good practice to create a WIP PR so that some collaborators can help on it

[2017-06-13 05:23] iamareebjamal commented on #1699
@arp95 Can you please close it if no issue?

[2017-06-13 05:30] arp95 commented on #1699
@iamareebjamal can you please confirm the apk of the sample Mozilla event works now so that i can be sure of no error now.
closing this.

[2017-06-13 05:30] #1699 closed

[2017-06-13 06:43] the-dagger commented on #1677
Yeah, this used to work well enough.
It's the job of person creating sample apks to change the package name.

[2017-06-13 06:43] #1677 closed

[2017-06-13 07:21] iamareebjamal opened #1703 "Show progress while static JSON assets load"
**Actual Behaviour**

There is no progress while static assets are loaded, along with the clearing of versions on loading from API

**Expected Behaviour**

Show progress while parsing of JSON assets and clearing of API versions when loading from server

**Would you like to work on the issue?**

Yes

[2017-06-13 07:56] iamareebjamal commented on #1680
Please take a look at this -> https://github.com/jasminb/jsonapi-converter

Does not need inheritance but uses Jackson instead of Gson. Shouldn't be a problem as gson is not a hard dependency for us, and retrofit supports jackson. Play with it a little bit and see if it conforms well to our models

[2017-06-13 08:11] iamareebjamal opened #1705 "Add support for font colors in tracks"
**Actual Behaviour**

Currently, Track model does not contain font color

**Expected Behaviour**

Add support for font color in model and UI both and add corresponding migration in realm database
**The font color must be HTML compliant**

**Would you like to work on the issue?**

No

[2017-06-13 08:40] arp95 commented on #1705
sure will work on it after the json api work. please assign me this.

[2017-06-13 09:11] Shailesh351 opened #1706 "Error while generating app if speakers and images folder already exists in assets"
**Actual Behaviour**

If there is already folder in assets(in android project not in zip) like `images/speakers` or `images/sponsors`.
Then it will give error : File already exists.

At following line
`shutil.copytree(speakers_path, self.get_path("app/src/main/assets/images/speakers/"))`
and
`shutil.copytree(sponsors_path, self.get_path("app/src/main/assets/images/sponsors/"))`

**Expected Behavio

[2017-06-13 12:20] arp95 commented on #1680
does it has other advantage over gson? @iamareebjamal

[2017-06-13 12:31] iamareebjamal commented on #1680
Not that I know. It's very old and standard library used in servers and all. That's why people have implemented it using this

[2017-06-14 06:41] #1657 closed

[2017-06-14 06:44] #1637 closed

[2017-06-14 06:44] #1651 closed

[2017-06-14 14:50] iamareebjamal commented on #1649
@Hariofspades Please recommend what would be the better approach

[2017-06-14 18:01] Hariofspades commented on #1649
Thanks for including me. Will study the app completely and will get back in
couple of days here.

On Wed, Jun 14, 2017, 8:20 PM Areeb Jamal <notifications@github.com> wrote:

[2017-06-14 18:19] iamareebjamal opened #1708 "Add background image, features speakers and other info from Event model in Home Screen"
Use complete data from event model to display information in the app, including but not limited to

- Background Image ( included in the app, so show placeholder and fetch the real-time one from event model if present )
- Featured Speaker ( Reuse existing ViewHolder from Speakers Activity )
- Other info like ticketing URL, etc

**Would you like to work on the issue?**
No

To be done after #1680

[2017-06-14 18:20] iamareebjamal opened #1709 "Add menu items for extra information like Call for Papers, Copyright, License, etc"
Add extras from Event Model to the 3 dot menu items and show detail dialog on opening them

**Would you like to work on the issue?**
No

To be implemented after #1680

[2017-06-15 14:26] heysadboy commented on #1659
@shreyasnbhat @iamareebjamal @Shailesh351 Earlier there was a sharing option in the app from map to share the location but it was actually not that much of use in my view. After I added the searching facility, I removed that and this issue was to add it along with searching.
I think the purpose of map is fulfilling. Should we close this? I think it was suggested during the merging of that feature

[2017-06-15 16:35] rohanagarwal94 opened #1711 "Unknown pattern character 'X' error in ISO8601Date"
**Actual Behaviour**

Initially, the app is crashing after the downloading of data from the server. Any subsequent run of the app, the app is crashing on initialisation itself.

**Expected Behaviour**

The app should should run fine with the specified date format.

**LogCat for the issue**

![screenshot from 2017-06-15 21-55-36](https://user-images.githubusercontent.com/13241256/27191826-a813a2dc-

[2017-06-15 16:47] iamareebjamal commented on #1711
Please elaborate about the condition of crash. Where is it crashing? What are the steps to reproduce the error?

[2017-06-15 16:54] rohanagarwal94 commented on #1711
@iamareebjamal updated.

[2017-06-15 17:05] iamareebjamal commented on #1711
https://stackoverflow.com/questions/28373610/android-parse-string-to-date-unknown-pattern-character-x

[2017-06-15 17:08] rohanagarwal94 commented on #1711
Was on the same page :+1: . Solving it ASAP.

[2017-06-15 17:11] iamareebjamal commented on #1711
I don't know why it says nothing in the documentation -> https://developer.android.com/reference/java/text/SimpleDateFormat.html

[2017-06-15 17:18] iamareebjamal commented on #1711
Use the solution which replaces 'XXX' to 'Z'

[2017-06-15 17:23] rohanagarwal94 commented on #1711
Thats what I did. Working fine now. Sending the PR

[2017-06-15 17:58] rohanagarwal94 opened #1713 "App crash on selecting a track in the track fragment and location in location fragment"
**Actual Behaviour**

The app is crashing on selecting an item from the track and location fragment.

**Expected Behaviour**

It should work fine.

**Steps to reproduce it**

1. Open the app.
2. Select tracks/locations from the nav drawer.
3. Select a particular item from the list.

**LogCat for the issue**

![screenshot from 2017-06-15 23-11-25](https://user-images.githubusercontent.com/13241256/

[2017-06-15 18:09] rohanagarwal94 commented on #1711
@iamareebjamal the tests are failing.

[2017-06-15 20:00] iamareebjamal commented on #1711
Well yeah, happens on refactor. Java does not support 'Z' format. See my solution in #1700

[2017-06-16 04:08] arp95 opened #1714 "Loading of session_types json file"
**Actual Behaviour**

Currently we are not loading the session_types json file from the assets folder and api.

**Expected Behaviour**

Loading the file along with other files.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

-

**Target Milestone to solve the issue**

https://github.com/fossasia/open-event-andro

[2017-06-16 04:09] iamareebjamal commented on #1714
@arp95 From API too

[2017-06-16 04:11] arp95 commented on #1714
@iamareebjamal is it fine now?

[2017-06-16 04:13] iamareebjamal opened #1715 "Shift to Google Maven Repo"
**Actual Behaviour**

Currently, we are depending on local maven repo from Android SDK

**Expected Behaviour**

We should shift to Google Maven Repo to enjoy faster build time in CI and content caching due to removal of need to download complete maven repo of Android SDK

**Would you like to work on the issue?**

No

[2017-06-16 04:19] Shailesh351 commented on #1680
As @iamareebjamal suggested in https://github.com/fossasia/open-event-orga-app/issues/178 we need a common API library to parse Open Event JSONAPI to models.I think we should start working on it now.

As we need support for both open-event-archive-format and json-api what we can do on downloading from  server

**What functionalities open-event-android-sdk will have ?**
- make request to server and

[2017-06-16 04:24] niranjan94 commented on #1680
The Open Event Universal Format is being documented here at -> https://github.com/fossasia/open-event/wiki/%5BNextgen%5D-Open-Event-Universal-Format-Specification

[2017-06-16 04:27] iamareebjamal commented on #1680
~~@Shailesh351 I am currently making mock models for server response till the API is not finalized. I am creating a JSON API mock response for /event endpoint and @

The SDK should do this ~~

Now I see that we already have those

So @Shailesh351 we should start right away by converting these static samples to our current models. Easiest way for it to work would be to do it in a Java Project rathe

[2017-06-16 04:30] arp95 commented on #1680
@iamareebjamal can you link where you are working?
its better we can follow along too.

[2017-06-16 04:31] iamareebjamal commented on #1680
I'm currently working locally (not started project as I was making mock response), but will create a project soon. Or any one of you can do it.

[2017-06-16 04:32] arp95 commented on #1680
@iamareebjamal
just to clarify, the server response would change which would mean the models right?
are we given a sample response for the sample api?

[2017-06-16 04:33] iamareebjamal commented on #1680
Yes, I misunderstood. This is the model API, not server response, but our model structure should not change at all as it conforms to the sample API

[2017-06-16 04:34] niranjan94 commented on #1680
A tentative API doc is viewable at https://api.eventyay.com

On Fri, Jun 16, 2017, 10:02 AM Arpit Aggarwal <notifications@github.com>
wrote:

[2017-06-16 06:58] Hariofspades commented on #1649
Based on all of your inputs in this thread, I have created a design with couple variations. For tracks, I took the following use cases.

- User should be able to browse and find the item
- They can also search.
- Returning user: who has already visited the track (should be able to find it easier)

So for a list display, including the choice of grid and list is a good option(somebody suggested here

[2017-06-16 07:11] Shailesh351 commented on #1649
@Hariofspades Nice mocks!! Go ahead

And for toolbar color we are going to add feature to customise app (primary color / secondary color etc) in future https://github.com/fossasia/open-event-android/issues/1552 Thanks

[2017-06-16 07:49] iamareebjamal commented on #1649
We cannot use icons as it is not supported by the API, that's why we use TextDrawables. Other than that. Nice mocks :+1:

[2017-06-16 07:59] Shailesh351 commented on #1649
@iamareebjamal We can use track_image_url

[2017-06-16 08:05] iamareebjamal commented on #1649
That's a full bleed real life image, not an icon. Besides we do need to provide support for it. Please create a new issue for that. We miss that because most of the time it isn't present

[2017-06-16 08:16] Shailesh351 opened #1717 "Provide support for Track image/icon"
**Actual Behaviour**

Currently Android app is not using track image/icon to show it on tracks fragment instead it is showing text drawable.

**Expected Behaviour**

Display track image if available using track_image_url and if it is not available display text drawable

**Would you like to work on the issue?**

Yes, after https://github.com/fossasia/open-event-android/issues/1680

**Target Milesto

[2017-06-16 08:39] iamareebjamal commented on #1717
We won't be showing track image instead of text drawable. Track image will be like event background. So it will be shown as a background in card or in Track Detail Activity

[2017-06-16 12:27] niranjan94 commented on #1649
@Shailesh351 where does this `track_image_url` come from ?

[2017-06-16 12:28] arp95 commented on #1649
@niranjan94 tracks json file.

[2017-06-16 12:30] niranjan94 commented on #1649
@arp95 I'm not sure when and how these things got into the samples in the first place. But, as of now, we do not have support for track images.

Also, see https://github.com/fossasia/open-event/wiki/%5BNextgen%5D-Open-Event-Universal-Format-Specification for the updated Open Event Universal spec that will be used along with the new API.

[2017-06-16 12:34] Shailesh351 commented on #1649
@niranjan94 In the response of server for tracks it as attribute `track-image-url`
https://eventyay.com/api/v1/events/6/tracks

[2017-06-16 12:35] niranjan94 commented on #1649
@Shailesh351 it probably crept in during the very initial stages of the API a year back. But as of now, there is no plans of supporting it and it will not be available in the nextgen API.

[2017-06-16 13:34] iamareebjamal commented on #1680
Follow here. Play around a little bit https://github.com/iamareebjamal/open-event-android-sdk

[2017-06-16 14:05] iamareebjamal commented on #1717
Support for this is to be removed from the API

[2017-06-16 14:05] #1717 closed

[2017-06-16 14:07] iamareebjamal commented on #1680
I think the best way to map one object to other would be to write an annotation processor and set the mapped field from original object to the clone one

[2017-06-16 14:23] #1693 closed

[2017-06-16 14:23] #1711 closed

[2017-06-16 14:57] #1578 closed

[2017-06-16 19:07] #1703 closed

[2017-06-16 23:29] m-murad opened #1718 "Unfiltered data shown in DaySchedulerFragment."
**Actual Behaviour**
If we filter sessions in `DaySchedulerFragment` and the refresh the page the, sessions shown are no longer filtered.

**Expected Behaviour**
Even after refreshing, the sessions shown must be filtered.

**Would you like to work on the issue?**
No

[2017-06-17 06:03] the-dagger commented on #1659
Sharing is not of that importance
If a user wants o to share some location, he or she can open it in Google maps and then share it from there instead.
You can create a new issue for this and fix it if you feel this is really important.

[2017-06-17 06:03] #1659 closed

[2017-06-17 12:08] #1701 closed

[2017-06-17 13:34] mahikaw opened #1719 "Remove about us dialog box"
**Actual Behaviour**

The about us dialog box displays the same information as the Home.

**Expected Behaviour**

Now that we have the new home layout, the dialog box is of no use.

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

https://github.com/fossasia/open-event-android/milestone/29

[2017-06-17 13:55] iamareebjamal commented on #1719
About Fragment is Home

[2017-06-17 15:24] iamareebjamal opened #1720 "Back arrow is enabled for Google Play Variant in Tablet mode"
**Actual Behaviour**

The back arrow is shown in Tablet mode in Google Map variant in Maps Fragment

**Expected Behaviour**

The back arrow should be hidden

**Screenshots of the issue**

![device-2017-06-17-205241](https://user-images.githubusercontent.com/3874064/27254110-2f8b23be-539f-11e7-93d1-2859bbdfe2dd.png)

**Would you like to work on the issue?**

@arp95 Please fix

[2017-06-17 15:36] iamareebjamal opened #1721 "Double back interaction doesn't work in Tablet Mode"
**Actual Behaviour**

Double back to exit doesn't work in Tablets

**Expected Behaviour**

Double back should work

**Would you like to work on the issue?**

@arp95 Please take a look

[2017-06-17 18:05] arp95 commented on #1720
working on it.

[2017-06-17 18:05] arp95 commented on #1721
having a look.

[2017-06-17 18:37] #1713 closed

[2017-06-17 19:30] arp95 commented on #1720
@iamareebjamal please assign this milestone.

[2017-06-18 05:54] rohanagarwal94 opened #1724 "Get livefeed from Twitter"
**Actual Behaviour**

There is currently only facebook feed.

**Expected Behaviour**

The twitter social link could be used to get the live feed with the help from loklak.

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

[milestone 10](https://github.com/fossasia/open-event-android/milestone/33)

[2017-06-18 06:39] iamareebjamal commented on #1724
We should focus on #1680 for now please. A lot of work is needed to finalize this. Besides, not even #1654 is complete, why assign a new issue till there are high priority issues open?

[2017-06-18 06:40] iamareebjamal commented on #1680
I forgot to mention here yesterday on which model I was working, and due to this mistake, someone else was working on it too. Please mention which model you are working on @shreyasnbhat @Shailesh351

[2017-06-18 06:49] Shailesh351 commented on #1680
I am currently working on sessions Model.

[2017-06-18 06:51] rohanagarwal94 commented on #1724
@iamareebjamal got it. Will reopen it then after the issues are solved.

[2017-06-18 06:53] shreyasnbhat commented on #1680
I am working on the Sponsor Model

[2017-06-18 06:53] Shailesh351 commented on #1680
@iamareebjamal Can you please add task list in this issue so that we can see current status i.e. how much work is done and how much is remaining.

[2017-06-18 06:54] iamareebjamal commented on #1680
I'll be working on speaker then

@Shailesh351 sure

[2017-06-18 06:59] iamareebjamal commented on #1680
Moved to library implementation repo
https://github.com/iamareebjamal/open-event-android-sdk/issues/6

[2017-06-18 07:01] iamareebjamal commented on #1680
I think this should be in the library repo so Orga App developers can see this too

[2017-06-18 07:01] arp95 commented on #1680
any model left which i can work on?

[2017-06-18 07:02] iamareebjamal commented on #1680
@arp95 You can work on speaker model as I am currently busy with Orga App

[2017-06-18 09:18] #1720 closed, assigned to nobody

[2017-06-19 06:52] arp95 commented on #1705
@iamareebjamal
i think this work can be integrated with the issue regarding implementing json api.
i think this can be closed then.

[2017-06-19 07:01] arp95 commented on #1719
@mahikaw any progress?

[2017-06-19 07:03] iamareebjamal commented on #1705
Not really, this is more of a UI thing than model thing.

[2017-06-19 07:05] arp95 commented on #1705
title seems inappropraite i think. support for font-color is added for tracks but not used right.
something like "using font-color attribute for track layout".
anyways should i start working on it?

[2017-06-19 07:09] iamareebjamal commented on #1705
Font color is not in model yet and neither is used in UI. That's why this title. Yes, you can work on it, but occasionally check out and contribute to the JSONAPI project

[2017-06-19 07:10] arp95 commented on #1705
my main focus is on that right now. sure.

[2017-06-19 07:20] mahikaw commented on #1719
Sending a PR 👍

[2017-06-19 08:05] #1719 closed, assigned to nobody

[2017-06-19 08:06] #1721 closed, assigned to nobody

[2017-06-19 08:08] the-dagger commented on #1597
@mahikaw @iamareebjamal  I believe this was fixed with the new HOME screen that we have right?

[2017-06-19 08:13] iamareebjamal commented on #1597
@the-dagger Yes. Furthermore, I have broken the missing info in smaller issues, so this can be closed

[2017-06-19 14:52] rohanagarwal94 opened #1727 "App Crash on selecting a speaker from the speakerslistframent"
**Actual Behaviour**

The app is crashing on selecting a speaker from the list.

**Expected Behaviour**

The app should run fine.

**Steps to reproduce it**

1. Select the speakers menu item.
2. Select a speaker.

**LogCat for the issue**

![screenshot from 2017-06-19 20-14-21](https://user-images.githubusercontent.com/13241256/27290984-7bff59c0-552c-11e7-8f51-ffa33bb07412.png)

**Would you like t

[2017-06-19 15:38] #1727 closed, assigned to nobody

[2017-06-21 16:07] Shailesh351 opened #1729 "Make models jackson compatible for JSONAPI implementation"
**Actual Behaviour**

Currently all models are being serialized/deserialized using gson. For jsonapi we are using `https://github.com/jasminb/jsonapi-converter` which requires https://github.com/FasterXML/jackson-databind.

**Expected Behaviour**

All model should be jackson compatible for jsonapi implementation

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue*

[2017-06-22 05:44] rohanagarwal94 opened #1730 "Implement marker clustering in map fragment"
**Actual Behaviour**

Due to large number of microlocations in events like [Mozilla All Hands](https://github.com/fossasia/open-event/blob/master/sample/MozillaAllHands17/microlocations) , the map UI gets clumsy.

**Expected Behaviour**

The markers should cluster itself to on zoom out and decluster on zoom in.

**Screenshots of the issue**

Something like this.

![mapactivity2](https://user-image

[2017-06-22 05:48] rohanagarwal94 commented on #1680
@iamareebjamal sorry for the late acknowledgement. Anywhere I could be of help?

[2017-06-22 05:54] iamareebjamal commented on #1680
You can check orga app models and add their json and parser in the app

[2017-06-23 06:04] #1729 closed, assigned to nobody

[2017-06-24 11:13] rohanagarwal94 opened #1732 "APITests are failing to make API requests"
**Actual Behaviour**

Every single API tests are failing. And hence the app is unable to fetch the data when deployed on appetize.io

**Expected Behaviour**

The tests should run fine.

**Steps to reproduce it**

1. Run tests in ApiTest.java

**LogCat for the issue**

![screenshot from 2017-06-24 16-39-20](https://user-images.githubusercontent.com/13241256/27508106-156f94c6-58fc-11e7-9324-c7483f5b

[2017-06-24 11:24] #1732 closed, assigned to nobody

[2017-06-25 11:59] arp95 opened #1734 "Displaying Title in HomePage from event.json file"
**Actual Behaviour**

Currently the app just shows the Fossasia title in the homepage.

**Expected Behaviour**

Displaying the title of the event from the event.json file.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

https://github.com/fossasia/open-event-android

[2017-06-25 14:47] #1654 closed

[2017-06-25 14:54] rohanagarwal94 commented on #1734
@arp95 please add the screenshot.

![screenshot_2017-06-25-20-21-44-260_org fossasia openevent f8facebookdeveloperconference2017](https://user-images.githubusercontent.com/13241256/27517116-492c0afe-59e4-11e7-9670-4520bd6be55d.png)

[2017-06-25 15:01] rohanagarwal94 opened #1735 "Implement caching in the livefeed"
**Actual Behaviour**

The livefeed currently works only online.

**Expected Behaviour**

The previously fetched feed should be displayed in case the user is offline.

**Steps to reproduce it**

1. Open livefeed item from the nav drawer without the internet

**Screenshots of the issue**

![screenshot_2017-06-25-20-27-27-793_org fossasia openevent](https://user-images.githubusercontent.com/13241256/

[2017-06-25 15:10] rohanagarwal94 opened #1736 "Add progress bar to the livefeed"
**Actual Behaviour**

Currently empty screen is shown before the feed loads into the view.

**Expected Behaviour**

There should be a progress bar while the feed loads. @iamareebjamal @arp95 @Shailesh351 @shreyasnbhat @mahikaw should the circular progress bar be used or the normal progress bar shown at the start of the app?

**Screenshots of the issue**

![screenshot_2017-06-25-20-27-27-793_org fo

[2017-06-26 11:20] arp95 commented on #1735
@rohanagarwal94
please go ahead!

[2017-06-26 11:21] arp95 commented on #1736
According to me its better to include the livefeed with the progress bar in the start when the download happens.

[2017-06-26 13:42] rohanagarwal94 commented on #1736
@arp95 there is a problem with that. Since we are not storing the feed in realm, it is impossible that the view populates itself when the user clicks to see the feed.

[2017-06-26 16:02] #1734 closed, assigned to nobody

[2017-06-26 19:29] arp95 opened #1738 "Improvement in the UI of Schedule Fragment"
**Actual Behaviour**

There are certain points on improvijg the UI of schedule fragment.

1. removing the session description. that is only showing the title along with time and location.

2. show length ( end time - start time ) instead of the start time and end time.

3. show the time 24 hour based and remove the AM and PM.

4. add a video button along with the track imageview.

5. remove sortin

[2017-06-27 13:17] arp95 opened #1740 "Adding appropriate annotations for modified field names of the models"
**Actual Behaviour**

Currently some field names of models have been changed accoridng to the new api.

**Expected Behaviour**

Adding annotations to support the modified field names of models.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

https://github.com/fossa

[2017-06-27 15:15] shreyasnbhat opened #1741 "Improvement of HomeFragment UI to improve Bookmarks Visibility"
**Actual Behaviour**
As of now the bookmarks are arranged in a horizontal list of cards in the HomeFragment.

**Expected Behaviour**
What I intend to do is a UI refactor to use the DayScheduleViewHolder to showcase the bookmarks in a vertical list in the home screen similar to the Google I/O app.
@iamareebjamal @arp95 @mahikaw @Shailesh351 Suggestions?

**Would you like to work on the issue?**
Yes

[2017-06-27 15:21] shreyasnbhat commented on #1738
@arp95 You could make the title bold of the session bold.
And point 2 would only make sense if the sessions are sorted by time only.
And why remove the sorting option?

[2017-06-27 16:07] arp95 commented on #1738
@shreyasnbhat
leave the sorting option. right now we can have it.
point 2 means that we already have the starting time at the top right. so we can show the length of session from session_type.json as the start time is already at the top. did you get it?

[2017-06-27 16:09] arp95 commented on #1741
can you show some mockup @shreyasnbhat ?
also please dont hardcode the twitter icon, fb icon, youtube icon. i was about to open an issue for it. just check whether event.json has all these links and then make them visible.

[2017-06-27 16:11] shreyasnbhat commented on #1741
@arp95 If you check out the Google I/O 2017 App the homescreen. I was thinking on those lines.
And for the icons you talk about I didn't actually code the AboutFragment I just used the existing class. Will fix it soon.

[2017-06-27 16:13] arp95 commented on #1741
@shreyasnbhat
i was having a look yesterday. it has a homepage only for bookmarked sessions as i could see.
for details it had another icon having four tabs: travel, about etc.
what do you think, should we follow their approach to divide stuff or include all in one fragment?

[2017-06-27 16:14] shreyasnbhat commented on #1741
I think we should just edit the Bookmarks Fragment and make it like the Google I/O Home Screen. And leave the rest for now. We will have to think a bit how to improve the Home Screen UI.

[2017-06-27 16:15] arp95 commented on #1741
umm then i would say use a vertical listing of them after the title.

[2017-06-27 16:16] shreyasnbhat commented on #1741
I would say that we do it datewise itself.Just like the Google I/O App.

[2017-06-27 16:17] arp95 commented on #1741
yeah i meant vertical scrolling like the schedule page. this is what you mean right?

[2017-06-27 16:23] Shailesh351 commented on #1741
In my opinion it will be good to display event and organisation info in About fragment because it will not be good to display event and organization info every time user opens app.

And for bookmarks we have already it in home fragment just it should be vertical.

[2017-06-27 16:25] shreyasnbhat commented on #1741
@Shailesh351  We wont be seeing organizer info everytime. We will be seeing it below the bookmarks.
And @Shailesh351 in the time I have spent using the app I have hardly even used the About feature. A user feels that it is to convey about the app and not about the event itself. So I feel that the current situation is fine.

[2017-06-27 16:27] arp95 commented on #1741
i feel @Shailesh351 is right. because seeing event info everytime doesnt make sense.
rest is upon others what they think.

[2017-06-27 16:30] shreyasnbhat commented on #1741
@iamareebjamal Suggest?
@Shailesh351 The About section in the navHeader is a bit misleading though. Most about sections of apps do not contain what the event is about but contain stuff like developer details and company information. Organizer Info could go into another fragment such as About Event but that would just clutter the navBar.

[2017-06-27 16:31] arp95 commented on #1741
yeah we should create about fragment for the event info.
home fragment is all about the user oriented stuff which right now is the bookmarks only.

[2017-06-27 16:32] shreyasnbhat commented on #1741
http://2017.fossasia.org/
Check this out. The first page always contains Information about the Event.
I guess we should wait to hear from others.

[2017-06-28 02:05] shreyasnbhat commented on #1738
@arp95  You are saying that we would have starting time and session length instead of start and end times right?

[2017-06-28 02:06] arp95 commented on #1738
yep

[2017-06-28 13:59] Shailesh351 opened #1743 "Improve Map fragment"
**Actual Behaviour**

Currently map fragment is having some space before auto complete text view in actionbar. And marker info is not being showed on clicking item in auto complete text view suggestion. And also serch behaviour in Map fragment is different from other fragments.

**Expected Behaviour**

- There should not be any space before auto complete textview.
- Use Search view with SearchAuto

[2017-06-28 15:44] Shailesh351 commented on #1743
@iamareebjamal Please add this issue to the Milestone

[2017-06-28 17:03] shreyasnbhat commented on #1741
@iamareebjamal Add a milestone to this too. I'll start working on the Bookmarks UI change as said above. If another fragment for the event is needed I'll do that in a separate issue.

[2017-06-29 04:11] rohanagarwal94 commented on #1735
@iamareebjamal please add milestone

[2017-06-29 04:12] rohanagarwal94 commented on #1736
@iamareebjamal please suggest the appropriate UI and add the milestone.

[2017-06-29 07:43] shreyasnbhat commented on #1741
@iamareebjamal @arp95 @Shailesh351
Please tell me how does this look.
![60ba24bd-b9b2-4290-b878-e3de3f938e4a](https://user-images.githubusercontent.com/19890557/27676689-8d4e01fc-5ccc-11e7-8ca6-d3104edd8988.jpg)

[2017-06-29 09:19] iamareebjamal commented on #1736
We've been using the toolbar progress up until now. UI should be consistent IMO

[2017-06-29 09:57] #1740 closed, assigned to nobody

[2017-06-29 10:43] #1741 closed, assigned to nobody

[2017-06-29 11:29] Shailesh351 opened #1745 "App crashing on event loading in home fragment"
**Actual Behaviour**

App crashing on event loading in home fragment. Because start_time field is not set properly in the event model has not.

**Expected Behaviour**

App should not crash

**Step to reproduce bug**

uninstall and reinstall app

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Milestone 8](https://github.com/fossasia/open-event-android/miles

[2017-06-29 11:44] #1745 closed, assigned to nobody

[2017-06-29 12:04] Shailesh351 opened #1747 "Navigation drawer is not showing proper selected item"
**Actual Behaviour**

Navigation drawer is not showing proper selected item when pressing back button from the fragment except home fragment

**Expected Behaviour**

Navigation drawer should show proper selected item.

**Step to reproduce bug**

- Go to Any fragment except home fragment
- Press back button
- Open navigation drawer

**Would you like to work on the issue?**

Yes

**Target Milestone

[2017-06-29 13:47] arp95 commented on #1738
@iamareebjamal
please add this to a milestone and provide which points are useful according to you.

[2017-06-29 15:56] iamareebjamal commented on #1738
- Track image is not supported so that won't work.
- Length can be shown with end time because someone would want to see the end time without the mental calculation. Furthermore, several sessions have same starting time with different end times making it confusing for users.
- I agree that description can be removed
- 24 hour time should be preferred, but don't remove the DateUtils method if we'd

[2017-06-29 17:35] arp95 commented on #1738
so i am doing the following then as per review:

1: removing the description
2: making title bold
3: showing 24 hour time

[2017-06-29 17:48] #1747 closed, assigned to nobody

[2017-06-29 19:33] #1705 closed

[2017-06-30 02:53] shreyasnbhat commented on #1738
@iamareebjamal Do you think that the sticky headers of the list use the `colorAccent` instead of the default grey? Like in the search and the home?
@arp95 Suggestions?

[2017-06-30 06:41] arp95 commented on #1738
i dont think so.

[2017-06-30 08:06] Shailesh351 opened #1752 "Menu icons are visible on showing map fragment"
**Actual Behaviour**

1. In session detail activity and location activity on clicking map icon map fragment is shown but menu icons(session search, share, map) still appears. Because of it user can again click on map fragment and so on. IMO if map fragment is shown then menu items(session search, share, map) should not appear. Also tooldar should display location name instead of session name.

2.

[2017-06-30 11:33] shreyasnbhat opened #1753 "Improve About Event Homescreen UI"
**Actual Behaviour**
Currently the UI is a bit overcrowded with small cards and bold titles.

**Expected Behaviour**
I feel that for the event location and venue we could have something like this.
![1287274cd934b6b2b1fbb79572f108ef--iphone-ui-ui-ux](https://user-images.githubusercontent.com/19890557/27733743-5fcf7aaa-5db5-11e7-85a3-e7bb2751baf6.jpg)
In a gist I would be removing the cards that hav

[2017-06-30 13:33] arp95 commented on #1753
This is also fine.
I was also thinking we can divide the information in the form of tabs like in schedule page. So a home screen opens up having about tab displaying event info, bookmarks tab to display user oriented stuff, and more if this idea seems feasible.

[2017-06-30 16:22] shreyasnbhat commented on #1753
@arp95 We could have 2 tabs if we have more information which supports the event info. Like the Google I/O app has information about how to get to the venue ,helpline numbers etc. If we had our api server meeting these requirements we could have all this information displayed in  separate tabs for sure. But as the information for the event isn't much I don't think right now we should have tabs. Bu

[2017-06-30 17:41] #1714 closed

[2017-06-30 19:07] arp95 opened #1756 "adding support for new attributes in Session model"
**Actual Behaviour**

Currently the old model doesnt support created-at, deleted-at, submitted-at and is-mail-sent attributes of new model.

**Expected Behaviour**

Adding support for them.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

@iamareebjamal please add it

[2017-06-30 19:48] shreyasnbhat commented on #1753
Current Iteration of the UI design.
@arp95 @Shailesh351 @iamareebjamal @rohanagarwal94 Please give your thoughts on this.
![6362aa08-afdb-4679-a070-da24a97980ca](https://user-images.githubusercontent.com/19890557/27751139-8a163fea-5df8-11e7-8064-d86d81bb5fc3.jpg)
![229bd481-2e3b-4ed5-ba10-c44b8ee8e41d](https://user-images.githubusercontent.com/19890557/27751140-8a958fca-5df8-11e7-8cb0-0f49d60b9a33

[2017-07-01 03:32] arp95 commented on #1753
Yeah you are right.
i thibk this ui looks great. Lets see what others think.

[2017-07-01 03:38] Shailesh351 commented on #1753
UI Looks good :+1:

[2017-07-01 05:20] shreyasnbhat commented on #1753
@Shailesh351 @arp95 Has any one of you noticed that the `map_marker.xml` has a wierd padding below and to the right of it. Is it intended or not?

[2017-07-01 07:10] arp95 commented on #1753
yeah i just saw that. we should remove that.

[2017-07-01 10:49] rohanagarwal94 opened #1757 "The download progress bar gets stuck on app startup"
**Actual Behaviour**

The download progress bar gets stuck at 85%.

**Expected Behaviour**

The download should be complete.

**Screenshots of the issue**

![screenshot_2017-07-01-14-31-33-301_org fossasia openevent](https://user-images.githubusercontent.com/13241256/27761406-e7260b86-5e78-11e7-9a92-c194ce565f7d.png)

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the i

[2017-07-01 10:52] rohanagarwal94 opened #1758 "App crash in the livefeed"
**Actual Behaviour**

The app is crashing in the live feed after the latest series of merges.

**Expected Behaviour**

The live feed should work fine.

**Steps to reproduce the issue**

1. Open the app.
2. The progress bar seems to be be stuck at 85%.
3. Minimise the app.
4. Open the live feed tab from the Nav Drawer.

**LogCat for the issue**

![screenshot from 2017-07-01 16-12-38](https://user-i

[2017-07-01 12:16] Shailesh351 commented on #1758
@rohanagarwal94 Please provide steps to reproduce issue

[2017-07-01 13:06] shreyasnbhat commented on #1753
@arp95 I'll remove that xml and add a drawable
I'll then send a pr for the same.

[2017-07-01 13:42] rohanagarwal94 commented on #1758
@shailesh351 updated.

[2017-07-01 16:23] #1758 closed, assigned to nobody

[2017-07-01 16:25] rohanagarwal94 commented on #1757
@the-dagger please close this too.

[2017-07-01 16:27] #1752 closed, assigned to nobody

[2017-07-01 16:27] #1757 closed, assigned to nobody

[2017-07-01 16:48] #1738 closed, assigned to nobody

[2017-07-01 19:34] arp95 commented on #1756
@iamareebjamal
just the Session file would change right?
You told changes will happen in Realm but i dont see any where in realm files individual attributes of session object being used? It looks like realm saves the session object if i am right?

[2017-07-01 21:46] #1736 closed, assigned to nobody

[2017-07-01 21:49] iamareebjamal commented on #1756
Yes, but on pre-existing apps, the Realm Schema would be set and it'll crash on finding new attributes

[2017-07-01 21:50] iamareebjamal commented on #1756
You'll have to add fields like here https://realm.io/docs/java/latest/#migrations

[2017-07-02 11:37] Shailesh351 opened #1762 "Search icon color issue"
**Actual Behaviour**

Search icon color is changing to black after opening trackSessions activity when track font-color is black same for other track-font-color.

**Expected Behaviour**

Seach icon color shoud be managed properly to show appropriate color.

**Steps to reproduce it**

- Go to Tracks fragment
- Click on "AI & Machine Learning" track
- Press back button
- Now go to schedule fragment,

[2017-07-02 13:06] arp95 commented on #1762
please go ahead.

[2017-07-02 13:32] arp95 opened #1763 "adding support for new attributes in Event model"
**Actual Behaviour**

Currently the old model doesnt support certain new attributes of new model.

**Expected Behaviour**

Adding support for them.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

@iamareebjamal please add.
https://github.com/fossasia/open-event-andr

[2017-07-02 16:59] rohanagarwal94 commented on #1730
@iamareebjamal please discuss this. This could be valuable IMO.

[2017-07-02 17:14] iamareebjamal commented on #1730
Yes please go ahead

[2017-07-02 17:29] rohanagarwal94 commented on #1715
@iamareebjamal I would like to work on this.

[2017-07-02 17:47] rohanagarwal94 opened #1764 "Set appropriate placeholder for the live feed"
**Actual Behaviour**

The placeholder currently set looks absurd and out of context.

**Expected Behaviour**

The placeholder should look apt for the task.

**Screenshots of the issue**

![screenshot_2017-07-02-23-09-52-853_org fossasia openevent](https://user-images.githubusercontent.com/13241256/27772287-95c21a50-5f7c-11e7-97c9-2fddbe1f623c.png)

**Would you like to work on the issue?**

Yes.

*

[2017-07-02 17:48] rohanagarwal94 commented on #1764
@iamareebjamal please set milestone.

[2017-07-02 17:48] rohanagarwal94 commented on #1730
@iamareebjamal please set milestone.

[2017-07-02 18:03] rohanagarwal94 opened #1765 "Downloader progress bar issue"
**Actual Behaviour**

There is an absurd behaviour in the progress bar on a certain followed pattern. The download progress bar refuses to close too.

**Expected Behaviour**

The progress bar should work fine.

**Steps to reproduce it**

1.Open the app.
2.Turn the internet connection off.
3.Turn it on again.
4. The download progress bar starts.
5. After it completes, turn the internet off again.
6

[2017-07-02 19:23] iamareebjamal commented on #1715
Please go ahead

[2017-07-02 19:24] #1756 closed, assigned to nobody

[2017-07-02 19:24] #1743 closed, assigned to nobody

[2017-07-02 19:25] #1735 closed, assigned to nobody

[2017-07-03 07:05] Shailesh351 commented on #1680
Should i remove LicenseDetails model?
Because it is not in Open Event Universal Format and new jsonapi also. I think LicenseDetails is same as Copyright.

[2017-07-03 07:07] niranjan94 commented on #1680
@Shailesh351 you're right. License details is copyright.

[2017-07-03 07:10] Shailesh351 commented on #1680
Are we also removing `version` attribute from `event` model for jsonapi ?

[2017-07-03 07:12] arp95 commented on #1680
i am working on event model. so license details should be removed right?

[2017-07-03 07:15] niranjan94 commented on #1680
@Shailesh351 yes we are.
@arp95  yes. it should be removed. we have copyright instead of it

[2017-07-03 13:58] shreyasnbhat commented on #1764
@rohanagarwal94 It would be nice if you added the comment box inside the card itself.

[2017-07-03 15:00] rohanagarwal94 commented on #1764
@shreyasnbhat definitely an option. Lets see what others think about it. @iamareebjamal @arp95 @Shailesh351 views on the placeholder and comment box?
![screenshot_2017-07-03-20-22-35-275_org fossasia openevent](https://user-images.githubusercontent.com/13241256/27798201-01390fb2-602e-11e7-966c-101f170b8c0b.png)

[2017-07-03 19:35] arp95 opened #1768 "Remove all the attribute names supporting the old api"
**Actual Behaviour**

Right now the app has support for old api attributes which needs to be removed now as the new api is live.

**Expected Behaviour**

Remove them.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

@iamareebjamal please add this.
https://github.com/

[2017-07-04 15:42] mahikaw commented on #1680
Are you also working on `speakers` model apart from `event` model @arp95 ? If not, shall I work on it?

[2017-07-04 15:51] arp95 commented on #1680
yes you may. please ensure we provide support for old api also as pointed out earlier.

[2017-07-04 15:57] niranjan94 commented on #1680
@arp95 I probably missed the conversation. Could you point me to the conversation about having support for the old API too ?

[2017-07-04 16:06] mahikaw opened #1771 "Adding session videos using video URL"
**Actual Behaviour**

Currently, If the video is not a youtube video, an external intent is passed which opens up the link on the browser app.

**Expected Behaviour**

A Web View should be used  instead so that a new app isn't opened and that the video can still play in the session details Activity.

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

Till whic

[2017-07-04 16:08] arp95 commented on #1680
@niranjan94
it wasnt done over here and as i pointed out there that we need to have support for only new api now but some of the team members dont agree.
please clear it out. https://github.com/fossasia/open-event-android/pull/1767

[2017-07-04 17:32] iamareebjamal commented on #1771
@mahikaw Please take a look at #1686

Using VideoView will require you to load the video from the stream first and then show, which I think is beyond the scope of the app. Secondly, the video URL will not necessarily be a stream URL, so you'll have to parse the URL, fetch information about it and apply complex logic to provide a basic solution -> let the pre-existing apps handle the Video Feed by

[2017-07-04 18:26] mahikaw opened #1773 "Small UI bug in Speakerdetail activity"
**Actual Behaviour**

The speaker name and position get clustered with back button in the toolbar when it is swiped up.

**Expected Behaviour**

They shouldn't collide. It should look something like this.

![device-2017-07-04-234749](https://user-images.githubusercontent.com/21010060/27840013-44d7db96-6113-11e7-9f8b-821c7f8ecb83.png)

**Screenshots of the issue**

![device-2017-07-04-212853](https

[2017-07-04 18:38] arp95 commented on #1771
please close this issue @mahikaw

[2017-07-04 18:38] arp95 commented on #1765
@rohanagarwal94
are you working on this?

[2017-07-04 18:44] shreyasnbhat opened #1775 "Addition Of Placeholder in Sponsors"
**Actual Behaviour**
Doesn't Exist now.

**Expected Behaviour**
Should have a placeholder.

**Would you like to work on the issue?**
Yes

**Target Milestone to solve the issue**

https://github.com/fossasia/open-event-android/milestone/31

[2017-07-04 18:49] mahikaw commented on #1771
@iamareebjamal @arp95 If the link is not a youtube link, it passes an intent to a browser. I think we should insert a `Web View` instead. I'll update the issue.

[2017-07-04 19:01] rohanagarwal94 commented on #1765
Yeah I am. Its just that its difficult to debug this. The download events are getting subscribed again and again. Will take help if I am unsuccessful on this.

[2017-07-04 21:33] rohanagarwal94 commented on #1771
I feel this could be of use https://developers.google.com/youtube/android/player/

[2017-07-04 22:17] iamareebjamal commented on #1771
If we use a web view, then user can not use other streaming apps he has installed like VLC or MX Player, we should not be substituting for browser IMO

@rohanagarwal94 I think this is beyond the scope of project to show YouTube videos

@the-dagger Please suggest

[2017-07-04 22:39] #1764 closed, assigned to nobody

[2017-07-05 04:28] mahikaw commented on #1771
@iamareebjamal I think it still plays the video on the browser. Doesn't use apps like VLC or MX player, even when they are installed.

[2017-07-05 04:47] rohanagarwal94 commented on #1771
@iamareebjamal as far as the size is concerned it wont be much affected if we use proguard. Its there on the website. Besides we could include videos about the event with this in the feed itself too.

[2017-07-05 08:03] #1762 closed, assigned to nobody

[2017-07-05 16:40] #1768 closed, assigned to nobody

[2017-07-05 18:03] #1753 closed, assigned to nobody

[2017-07-05 18:03] #1773 closed, assigned to nobody

[2017-07-05 18:06] the-dagger commented on #1771
@mahikaw @iamareebjamal The current implementation is totally fine, adding a webview for streaming media content makes no sense to me.
This is an event app, not a media browser app in any sense.

Closing this issue.

[2017-07-05 18:06] #1771 closed, assigned to nobody

[2017-07-05 18:11] #1658 closed

[2017-07-05 18:11] #1597 closed

[2017-07-05 19:07] arp95 opened #1776 "ETag Implementation"
**Actual Behaviour**

Currently the app uses Version object for conditional network requests and cache validation/invalidation.
Using etags instead of version according to the new api.

**Expected Behaviour**

ETag implementation.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve

[2017-07-06 04:44] shreyasnbhat commented on #1775
@iamareebjamal @arp95  As of now if I add a placeholder the placeholder gets resized to the size of the actual image and cross fades between the 2 images. If I remove the fade effect it doesn't look great.

The placeholder resizing problem is a problem in the library supposedly. So what do you suggest I do?

[2017-07-06 04:47] arp95 commented on #1775
you can provide the placeholder as the dimensions of the image view i guess. then if internet is present then the image would get loaded. use the resizing property of picasso so that we are taking into account of the sponsor which gets loaded.

[2017-07-06 05:11] shreyasnbhat commented on #1775
So you are saying I set the imageView background as the placeholder instead?

[2017-07-06 05:16] arp95 commented on #1775
yes, so that when image loads it comes on top of the placeholder.

[2017-07-06 05:34] the-dagger commented on #1775
@shreyasnbhat @arp95 I think that we are focusing too much on the minute details right now.
There is really no need of starting a discussion on how a placeholder should appear on top of an imageView.
Just focus on getting it done and send a pull request with a gif, you'll get the suggestions over there.

If we continue to have such discussion about each and every topic then the pace of the project

[2017-07-06 05:37] arp95 commented on #1775
yes @the-dagger you are right.
but right now i am working on the models of the app and getting them according to the new api.
can we divide the work @shreyasnbhat @Shailesh351 as @iamareebjamal is busy with the orga app?

[2017-07-06 05:39] the-dagger commented on #1775
@arp95 sure you are free to divide work among yourselves.
Just discuss this on the gitter channel and make sure that everyone is on the same page.

[2017-07-06 05:39] shreyasnbhat commented on #1775
@arp95 Sure!
@the-dagger Will do.

[2017-07-06 05:50] arp95 commented on #1601
should i work on this @mahikaw ?

[2017-07-06 06:33] Shailesh351 opened #1778 "Add naming strategy in models"
**Actual Behaviour**

Currently in model there is no naming strategy.

**Expected Behaviour**

There should be naming strategy to make models simple for jackson.
https://fasterxml.github.io/jackson-databind/javadoc/2.2.0/com/fasterxml/jackson/databind/PropertyNamingStrategy.html

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Milestone 9](https://github.co

[2017-07-06 13:29] shreyasnbhat commented on #1350
@the-dagger I can start working on the part of showing UPCOMING ONGOING FINISHED status on sessions?

[2017-07-06 13:32] mahikaw commented on #1350
@shreyasnbhat As I mentioned in my today's scrum, I am working on it. Will be sending a PR soon. 😄

[2017-07-06 13:33] shreyasnbhat commented on #1350
@mahikaw Sure!

[2017-07-06 14:04] the-dagger opened #1780 "Build and push all the sample apps in apk branch after each commit"
The samples are listed at : https://github.com/fossasia/open-event
Modify the build script so that every apk is generated and committed after each push to the development branch.
You'll need to modify the BASE_URL according to each sample's raw json URL.

[2017-07-06 14:06] shreyasnbhat commented on #1780
I'll take this up.

[2017-07-06 14:06] the-dagger commented on #1676
The samples are listed at : https://github.com/fossasia/open-event
Modify the build script so that every apk is generated and committed after each push to the development branch.
You'll need to modify the BASE_URL according to each sample's raw json URL.

[2017-07-06 14:07] the-dagger commented on #1780
@shreyasnbhat Please see #1676

[2017-07-06 14:07] #1780 closed, assigned to nobody

[2017-07-06 18:30] charul97 commented on #1709
Hey, what all extra features you want in 3 dot menu? And the menu should be there in the home page only?

[2017-07-06 18:44] iamareebjamal commented on #1709
Call for Papers, Copyright, License, and other information from the Event model. And yes, home page should be the only one containing the items.

[2017-07-06 19:08] charul97 commented on #1709
So it has to be static. Right?

[2017-07-06 19:11] the-dagger commented on #1709
@charul97 Yes, check the event response at : https://github.com/fossasia/open-event/wiki/%5BNextgen%5D-Open-Event-Universal-Format-Specification

[2017-07-06 19:14] charul97 commented on #1709
Okay, I want to try it out.

[2017-07-06 19:18] the-dagger commented on #1709
Alright, go ahead.

On Friday, July 7, 2017, charul97 <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2017-07-06 21:47] rohanagarwal94 commented on #1765
@iamareebjamal @arp95 @shreyasnbhat @Shailesh351  need some help with this. As far as I debugged the issue, the problem is that the [onReceive](https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/java/org/fossasia/openevent/utils/NetworkUtils.java#L125) method is being called 4 times simultaneously. Hence 4 API requests by 2 different intent actions of the receiver

[2017-07-06 21:54] iamareebjamal commented on #1765
Either block API request if already in transit. Easiest and correct way to handle it
Or, cancel previous ones when a new one is made

[2017-07-06 21:58] iamareebjamal commented on #1765
Actually, the current interaction where network is checked via BroadcastReceiver is very convoluted, and besides that, app even sends ping to google to verify if connection is working. This creates complex problems and user needs to wait for whole round trip time before being able to do any action. I think we should only check by context is device is actually connected to internet at the time of a

[2017-07-07 04:40] the-dagger commented on #1765
@iamareebjamal Sounds good to me.

[2017-07-07 05:12] rohanagarwal94 commented on #1765
@iamareebjamal the method is called 4 times when there is an active internet connection which is why the event bus results in [4 consecutive new download events](https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/java/org/fossasia/openevent/utils/NetworkUtils.java#L130).

[2017-07-07 05:23] #1763 closed, assigned to nobody

[2017-07-07 07:57] iamareebjamal commented on #1765
@rohanagarwal94 Now as @the-dagger has given a go to it, you can use [haveNetworkConnectionObservable](https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/java/org/fossasia/openevent/utils/NetworkUtils.java#L34) instead

[2017-07-07 08:13] #1775 closed, assigned to shreyasnbhat

[2017-07-07 09:28] rohanagarwal94 commented on #1765
:+1:

[2017-07-07 09:52] shreyasnbhat commented on #1676
@mariobehling @the-dagger For the OpenTechSummit is it 16 or 17? As I don't find the OTS17 Sample in the open-event repo

[2017-07-07 11:17] the-dagger commented on #1676
@shreyasnbhat It's 2016 OTS.

[2017-07-07 11:50] arp95 opened #1782 "Modifying default values of variables in generator.py"
**Actual Behaviour**

Modifying the default values of variables like self.api_link etc. to empty strings instead of default values provided.

**Expected Behaviour**

Doing the above change.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

@iamareebjamal please add th

[2017-07-07 14:31] #1782 closed, assigned to nobody

[2017-07-07 15:03] mahikaw opened #1785 "Upcoming/ongoing sessions Trackwise feature"
**Actual Behaviour**

There is no way to find out the upcoming and ongoing sessions in a particular track other than manually searching for it.

**Expected Behaviour**

There should be an option that displays the ongoing/upcoming sessions by auto scrolling to the ongoing/upcoming session, including a label on every session card.

**Screenshots of the issue**

I made some mock-ups

![device-2017-07

[2017-07-07 18:09] shreyasnbhat commented on #1785
@mahikaw Please make the UPCOMING text color coded.
UPCOMING - Green
ONGOING - Yellow
FINISHED  - Red

[2017-07-07 18:41] mahikaw commented on #1785
@shreyasnbhat I had given some thinking into it. I was thinking that coloured text won't look nice with different track colours.  For instance, "upcoming" green would be less highlighted if the track colour is also green. What is your say?

[2017-07-07 19:40] iamareebjamal commented on #1785
For more than 1 speaker, ONGOING will overlap

[2017-07-07 19:53] mahikaw commented on #1785
How do you mean @iamareebjamal? You mean the TextViews will overlap?

[2017-07-07 19:55] iamareebjamal commented on #1785
Yes

[2017-07-07 20:08] mahikaw commented on #1785
Um no. I checked that. In case of more than one speakers, it'll look something like this. I adjusted the dimensions of speaker textview.

![device-2017-07-08-013605](https://user-images.githubusercontent.com/21010060/27974972-ee9c11d0-637d-11e7-88c1-9b94892672b8.png)

Does this look okay?

[2017-07-08 05:01] mahikaw commented on #1601
@arp95 I have taken this issue in my today's agenda. I will surely contact you if I get stuck somewhere. 😄

[2017-07-08 08:19] arp95 opened #1786 "Adding and modifying the status messages in generator.py"
**Actual Behaviour**

Modified and added status messages in generator.py file.

**Expected Behaviour**

Doing the required changes.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

-

**Target Milestone to solve the issue**

@iamareebjamal please add it.
https://github.com/fossasia/open-event-android/milestone/32

[2017-07-08 14:21] shreyasnbhat commented on #1785
@mahikaw I am not saying that set the text green or red. You could add a border to the text view which could be red or green.

[2017-07-08 16:07] shreyasnbhat opened #1789 "Remove isBookmarkView Logic from SessionListAdapter"
**Expected Behaviour**
bookmarkView Logic isn't needed in the SessionListAdapter

**Would you like to work on the issue?**
Yes

**Target Milestone to solve the issue**
https://github.com/fossasia/open-event-android/milestone/32

@the-dagger @iamareebjamal Shall I go ahead?

[2017-07-08 16:54] niranjan94 commented on #1786
@arp95 it would be great if you could work on _actual_ issues. This is really not a proper issue ...

[2017-07-08 16:56] arp95 commented on #1786
yes i know this was of less relevance, sorry will take care from next time onwards.
should i close this then?

[2017-07-08 17:07] arp95 commented on #1786
@niranjan94 closing this then.

[2017-07-08 17:07] #1786 closed, assigned to nobody

[2017-07-08 18:06] mahikaw commented on #1785
@shreyasnbhat That too is bound to interfere if the colour of track is green or red. But thanks for the suggestion, let's wait for others to review. :)

[2017-07-08 19:02] rohanagarwal94 opened #1790 "Null pointer exception while fetching start time from sessions"
**Actual Behaviour**

The downloader dialog is getting stuck at 85% due to a null pointer exception after a recent merge.

**Expected Behaviour**

The event should be downloaded fine.

**Steps to reproduce it**

1. Re download app after pulling changes.

**LogCat for the issue**

![screenshot from 2017-07-09 00-28-30](https://user-images.githubusercontent.com/13241256/27988373-f19b53e4-643d-11e7-8

[2017-07-08 19:04] iamareebjamal commented on #1790
@rohanagarwal94 This is expected as the app is using the attribute naming of next-gen API now.

[2017-07-08 19:04] iamareebjamal commented on #1790
The old API name was start_time and now it is starts-at and we don't need to support old API, so as soon as all the models get converted to JSONAPI format, we will change base URL to nextgen API and this won't happen

[2017-07-08 19:19] rohanagarwal94 commented on #1790
@iamareebjamal got it. Closing this then.

[2017-07-08 19:19] #1790 closed, assigned to nobody

[2017-07-09 03:01] Shailesh351 opened #1792 "Issue in Social link button in about fragment"
**Actual Behaviour**

Currently social link for button is not implemented properly in about fragment. It is using index which is not good. it makes social button for particular event. If event changes than link is not mapped properly with button. I mean clicking on github button may lead to facebook page.
`socialLinks.get(2).getLink()`

**Expected Behaviour**

social links implementation should be

[2017-07-09 07:25] #1715 closed

[2017-07-09 11:25] S2606 opened #1794 "Issue during downloading content after installing of App"
**Actual Behaviour**

regarding status of downloading event info, both downloaded as well as downloading is been displayed.

**Expected Behaviour**

Only downloaded status should be shown once its being downloaded.

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/18497513/27993360-514bfe5e-64c7-11e7-8bb8-dc43c8fc9554.png)

**Would you like to work on the issue?**

[2017-07-09 11:44] arp95 opened #1795 "Adding user feedback option in SessionDetailActivity"
**Actual Behaviour**

Currently there is no option for user to provide feedback for a session.

**Expected Behaviour**

Adding a feedback button which will allow the user to write feedback and then share this or privately share this with fossasia on twitter or fb instead of sending he redponse back to the server as we dont have functionality for this now.

**Steps to reproduce it**

-

**LogCat fo

[2017-07-09 11:51] rohanagarwal94 commented on #1794
@S2606 this is expected as the project is in the middle of API transition. Please close this for now.

[2017-07-09 11:53] #1794 closed, assigned to nobody

[2017-07-09 15:28] arp95 opened #1796 "Adding additional properties to the email field in the generator.py"
**Actual Behaviour**

Right now the email field doesnt have two properties for it:

1. autofocus which lets the focus on email field once the page loads.
2. autocomplete which lets the browser predict the value once the user starts typing in.

**Expected Behaviour**

Doing the above changes.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you li

[2017-07-09 15:53] niranjan94 commented on #1796
@arp95 like I pointed out yesterday ... It would be so much better if you could work on actual issues that benefit the project. How does browser autofocusing on the email field or changing `required` to `required="true"` (`required="true"` is not at all necessary btw) help the generator or the app in anyway significant ?

Your contributions are already way too low. It's high time you start taking

[2017-07-09 15:57] arp95 commented on #1796
ok @niranjan94.

[2017-07-09 15:57] #1796 closed, assigned to nobody

[2017-07-09 15:58] niranjan94 commented on #1796
@arp95 You really didn't have to close the PR/issue. Since you had already started. All I said was to work on more significant issues too.

[2017-07-09 16:14] arp95 opened #1798 "Adding option for showing logs in apk-generator"
**Actual Behaviour**

Currently the apk generator doesnt show logs incase the apk has some problem in it.

**Expected Behaviour**

Adding logs option so that user can view them in case the apk upload fails

**Would you like to work on the issue?**

-

**Target Milestone to solve the issue**

[Milestone 10](https://github.com/fossasia/open-event-android/milestone/33)

[2017-07-09 16:55] arshilk opened #1799 "App is Crashing"
**Actual Behaviour**

App Crashed when i opened it.
**Expected Behaviour**

App should not Crash

**Steps to reproduce it**

Open the open event android

**LogCat for the issue**

![screen shot 2017-07-09 at 10 21 32 pm](https://user-images.githubusercontent.com/21264401/27995960-33e55f6c-64f5-11e7-80e4-dc93f35ea36e.png)

:20:07.079 10234-10234/? I/BaseActivity: Activity onCreate: total instances

[2017-07-09 18:15] rohanagarwal94 commented on #1724
@iamareebjamal I think its okay to open this now. Will use loklak API to fetch feed for a specific hashtag.

[2017-07-09 18:57] arp95 opened #1800 "Implementation of notification.py file in apk-generator"
**Actual Behaviour**

Implementing the code for notifications in apk generator.

**Expected Behaviour**

Doing the above the task.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

-

**Target Milestone to solve the issue**

@niranjan94 please add this.
https://github.com/fossasia/open-event-android/milestone/33

[2017-07-09 19:02] iamareebjamal commented on #1724
Sure

[2017-07-09 22:07] iamareebjamal opened #1801 "Add choice for build variant at time of app generation"
**Actual Behaviour**

The app contains both google play variant and FOSS variant, but we only provide single variant to download after the generation.

**Expected Behaviour**

Add option to select which app to build and provide download to that app

**Would you like to work on the issue?**

No

[2017-07-10 01:17] arp95 commented on #1801
working on it.

[2017-07-10 04:37] arp95 opened #1802 "Wrong format of background image in generator.py"
**Actual Behaviour**

If the zip has no background image in that case the apk generator provides a default background image which is of wrong format in the file.

**Expected Behaviour**

Changing the format of image from "png" to "jpg" as given in the assets folder.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

[2017-07-10 04:57] charul97 commented on #1709
I have created the menu in the ActionBar with all the 6 items in it- CallForPapers, Copyright, etc in it. But I am unable to identify that what all things we have to show in each item corresponding to the JSON format that you provided.

[2017-07-10 05:05] #1778 closed, assigned to nobody

[2017-07-10 08:05] mahikaw commented on #1785
Shall I go ahead with this @mariobehling @the-dagger @niranjan94  @mananwason @iamareebjamal @shreyasnbhat @Shailesh351 @rohanagarwal94 @arp95 ?

[2017-07-10 09:37] Shailesh351 opened #1804 "Add lombok to reduce boilerplate code in project"
**Actual Behaviour**

Currently models in project have setters and getters, toString and other general POJO methods which are hard to maintain and increase complexity of the class.

**Expected Behaviour**

Use [Lombok](https://projectlombok.org/) which uses annotation processing to generate these methods.

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Mil

[2017-07-10 12:45] iamareebjamal commented on #1709
We have Event Model containing all of this information, please check the properties in it

[2017-07-10 13:08] mahikaw commented on #1799
@Arshilgenius thanks for pointing out the issue but it is a duplicate issue. Please check the recent open as well as closed issues before creating a new one.
Also, the project is undergoing an API transformation so this is intended. Could you please close it for now?

[2017-07-10 14:38] arshilk commented on #1799
Sure.

[2017-07-10 14:38] #1799 closed, assigned to nobody

[2017-07-10 14:50] Shailesh351 opened #1807 "Add test for local JSON parsing"
**Actual Behaviour**

Currently there is no test for local JSON parsing

**Expected Behaviour**

Add test for local JSON parsing

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Milestone 10](https://github.com/fossasia/open-event-android/milestone/33)

[2017-07-10 15:59] mahikaw commented on #1798
@arp95 Is this issue possibly a duplicate of #1555 ?

[2017-07-10 16:06] arp95 commented on #1798
this issue focuses on the ui as well apart from showijg the logs in the generator.
we can close that issue as of now.

[2017-07-10 22:25] #1765 closed, assigned to rohanagarwal94

[2017-07-11 16:15] Shailesh351 commented on #1792
@iamareebjamal Please add it to [Milestone 10](https://github.com/fossasia/open-event-android/milestone/33)

[2017-07-11 17:16] mahikaw commented on #1555
Being addressed in #1798 so closing it

[2017-07-11 17:16] #1555 closed

[2017-07-11 17:26] #1804 closed, assigned to nobody

[2017-07-11 19:32] #1789 closed, assigned to nobody

[2017-07-12 03:25] Shailesh351 commented on #363
@mananwason Please reopen this issue :smile:

[2017-07-12 03:50] shreyasnbhat opened #1810 "Add date-wise split for bookmarks in homescreen"
**Actual Behaviour**
Doesn't exist

**Expected Behaviour**
Could be made similar to the Google I/O App.

**Would you like to work on the issue?**
Yes

**Target Milestone to solve the issue**
Milestone 10

[2017-07-12 07:57] iamareebjamal commented on #363
@Shailesh351 As there is quite a bit of work about storing of the token and revalidating it to check if it is expired or not, you can check the Orga App implementation and reuse code from it. It is quite modular :smile:

[2017-07-12 14:18] #1792 closed, assigned to nobody

[2017-07-12 18:30] arp95 commented on #1801
@iamareebjamal please assign me on this and add this to next milestone. Thanks!

[2017-07-13 05:45] arp95 commented on #1800
@niranjan94
in the notification file there are three types written out of which smtp is already written. do you suggest that code for all three should be written and in send() method i test which method to call depending on the configuration?

[2017-07-13 05:47] niranjan94 commented on #1800
@arp95 actually. This issue is a duplicate of https://github.com/fossasia/open-event-android/issues/1601... So closing it now.

[2017-07-13 05:47] #1800 closed, assigned to nobody

[2017-07-13 05:49] arp95 commented on #1601
@niranjan94 can you please clear what i said in that issue. and please assign me this.

[2017-07-13 06:02] niranjan94 commented on #1601
There are two ways to send email.
- Via sendgrid (or) SMTP
- Via API

Each of this has to be implemented in separate methods like `send_mail_via_smtp`. And the `send` method will use the appropriate method.

@arp95 I think @mahikaw is already working on this.

[2017-07-13 06:09] mahikaw commented on #1601
@arp95 @niranjan94 It took me some time to understand the backend, I will be sending a PR today. I have been working on it for sometime.

[2017-07-13 06:36] arp95 commented on #1601
@mahikaw please provide a pr of progress if the pr takes many days although.
@niranjan94 thanks!

[2017-07-13 11:26] mananwason commented on #1785
Go ahead @mahikaw.

[2017-07-13 11:27] mananwason commented on #1210
@niranjan94 Can this be closed?

[2017-07-13 11:32] mananwason commented on #1432
Any updates @shreyasnbhat @rohanagarwal94 @Shailesh351 @arpitdec5 @mahikaw @geekyd @harshitagupta30 @anu-007 @sumedh123 @CosmicCoder96 @utkarshnath @Ronak-59 @mejariamol @iamareebjamal @LuD1161 @magdalenesuo @poush @enigmaeth @shubham-padia @Princu7 @SaptakS

[2017-07-13 11:58] niranjan94 commented on #1210
@

[2017-07-13 11:58] #1210 closed

[2017-07-13 12:08] #1801 closed, assigned to arp95

[2017-07-13 14:57] rohanagarwal94 opened #1814 "App crash on creating a bookmark widget"
**Actual Behaviour**

The app crashes. The bookmark widget does not show the updated bookmarks from the app in the widget.

**Expected Behaviour**

The widget should work fine.

**Steps to reproduce it**
1. Add the bookmark widget in your phone.

**LogCat for the issue**

![screenshot from 2017-07-13 20-22-41](https://user-images.githubusercontent.com/13241256/28172563-827482a4-6809-11e7-8add-13e1

[2017-07-13 15:03] rohanagarwal94 opened #1816 "Enhance the bookmark widget"
**Actual Behaviour**

1. The UI is not in sync with the bookmarks UI in app.
2. The bookmarks dont show more than one bookmarks in the widget.
3. No option to remove bookmark.

**Expected Behaviour**

The bookmark widget should be in total sync with app bookmark.

**Screenshots of the issue**

![screenshot_2017-07-13-20-14-38-047_com miui home](https://user-images.githubusercontent.com/13241256/28

[2017-07-13 19:39] shreyasnbhat commented on #1816
@rohanagarwal94 Also check if the bookmarks are getting updated. Once I saw  that the bookmarks weren't getting updated. It's a very random issue. Just check it out.

[2017-07-13 19:41] shreyasnbhat commented on #1816
@rohanagarwal94 I could take up this issue as you probably have the Twitter feed to work upon.

[2017-07-13 19:50] rohanagarwal94 commented on #1816
@shreyasnbhat unfortunately due to loklak server being down, I took up this issue and started working on it.

[2017-07-14 23:17] #1350 closed

[2017-07-15 11:46] arp95 opened #1819 "Showing download button only when the apk is available"
**Actual Behaviour**

Currently showing of the download button in the apk-generator when the apk isnt available. Show download button only when apk is available.

**Expected Behaviour**

Doing above changes.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

https://git

[2017-07-15 12:13] arp95 opened #1821 "Show visual progress of the app generation progress"
**Actual Behaviour**

Currently the file download doesnt show a progress bar showing how much of the file is downloaded.

**Expected Behaviour**

Showing the progress bar of how much file has downloaded.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

@iamareebjamal

[2017-07-15 13:16] iamareebjamal commented on #1819
This was working fine as far as I remember, when did it break?

[2017-07-15 13:25] arp95 commented on #1819
no i mean hiding the button until apk is not available. right now we are showing it in disabled mode.

[2017-07-15 13:25] iamareebjamal commented on #1819
Oh, OK

[2017-07-15 16:35] rohanagarwal94 commented on #1816
![screenshot_2017-07-15-21-58-59-796_com miui home](https://user-images.githubusercontent.com/13241256/28240985-05bc098e-69a9-11e7-8343-e7c87cd50c96.png)

@iamareebjamal the bookmark currently looks like this unlike the screenshot I posted in the issue which is when the widget created is smaller. I feel removal of bookmark is not useful here since user might delete it by mistake. The update issue

[2017-07-15 16:46] iamareebjamal commented on #1816
I think it's good as is. Perhaps adding track info would be too much. Let's hear from others as well

[2017-07-15 16:49] shreyasnbhat commented on #1816
@rohanagarwal94 You could remove the bullets. Add a divider for the list items and make the Bookmark widget text color to white. Rest looks fine.

_Sent from my OnePlus ONEPLUS A5000 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-15 17:26] niranjan94 commented on #1821
@arp95 doesn't the browser already show a download progress ?

[2017-07-15 17:39] arp95 commented on #1821
i meant showing the progress in percentage above the status messages as we have in the web app generator. @niranjan94

[2017-07-15 17:39] arp95 commented on #1821
we just have the status messages displayed for now.

[2017-07-15 18:00] niranjan94 commented on #1821
You do get a download progress provided by browsers once the download starts right ?

<img width="1680" alt="screen shot 2017-07-15 at 11 31 26 pm" src="https://user-images.githubusercontent.com/2404372/28241630-c257b37a-69b5-11e7-834f-4460f04df5bb.png">

[2017-07-15 18:02] arp95 commented on #1821
sorry the issue is not that intuitive from the name.
but what i want is to show the progress along with the percentage above it. should i go ahead it? @niranjan94

[2017-07-15 18:03] niranjan94 commented on #1821
Okay ... Then could you please change the issue title accordingly ? Maybe something in the lines of `Show visual progress of the app generation process`

[2017-07-15 18:03] niranjan94 commented on #1821
Sure ... You can go ahead with it. Just propose how you plan to implement it here first please ...

[2017-07-15 18:04] arp95 commented on #1821
yes sure @niranjan94
i am providing with the implementation in a while.

[2017-07-15 18:39] arp95 commented on #1821
![progress](https://user-images.githubusercontent.com/8268392/28241863-df1d8fde-69ba-11e7-859d-cc3d610e84ee.png)

@niranjan94 @iamareebjamal @Shailesh351 @shreyasnbhat @rohanagarwal94
i made above changes which i was talking about earlier. only thing is the part to handle the percent upload correctly, please see the rest is fine or not?

[2017-07-15 18:43] niranjan94 commented on #1821
@arp95 I wanted to know your idea for getting the progress percentage ...

[2017-07-15 18:47] shreyasnbhat commented on #1821
@arp95 This would be a nice addition.

[2017-07-15 18:56] arp95 commented on #1821
@niranjan94 i am thinking as follows:

1. in the generator.py file we are passing meta object having message proeprty. in that i will add another item holding the status message number currently executed like from 1-10.

2. now in main.js we are accessing the res.state, res.message as i could see while submitting the form in the file. i would access the res.item which i added and update the percen

[2017-07-15 19:01] niranjan94 commented on #1821
Cool 👍  ... Go for it

[2017-07-15 19:09] arp95 commented on #1819
clsoing this due to majority in favour of disabling the download button instead of hiding it.

[2017-07-15 19:09] #1819 closed, assigned to nobody

[2017-07-15 20:55] #1730 closed, assigned to rohanagarwal94

[2017-07-16 12:59] arp95 commented on #1821
@niranjan94
also there is also one way which requires changes only in client side. i will update the percent progress on the status message received. that is if this status message make the progress this much etc.

what do you think?

[2017-07-16 13:02] niranjan94 commented on #1821
All the FE should ideally do is, display the data from the backend. FE shouldn't make much decisions on its own. Keep this at the backend. So that it can be re-used when implementing with the Open Event API Server too.

[2017-07-16 13:37] arp95 commented on #1821
yes you are right. actually i tried that method and i changed the generator.py file function:

def update_status():

    meta = {'message': message, 'loaded': loaded, 'total': total};

and in the api.py where we are sending the jsonify() function i changed it as:

return jsonify(state=state, result=info)

but the main.js doesnt seem to receive through res.result.loaded?
what am i doing wrong? @nir

[2017-07-16 13:57] niranjan94 commented on #1821
@arp95

[code]

In this where exactly did you add ?

---

If you had added it at `meta = {'message': message}`, it would send only when the whole app generation is complete. Because until then, `message=None`

So, you should do what you want to do at `meta = {}`

[2017-07-16 14:08] arp95 commented on #1821
if message:
  meta = {'message': message, 'loaded': loaded, 'total': total}
here i did the addition.

[2017-07-16 14:11] niranjan94 commented on #1821
Then please read what I said above.

@arp95 I know you're trying to increase your contributions to the project by picking up multiple issues. But it would really be better for you if you first try to understand how the generator works. It seems to me that you still haven't gone through the existing codebase properly.

[2017-07-16 14:16] arp95 commented on #1821
@niranjan94
it always seem demotivating when you change the language to work on in the middle knowing the others arent working on the generator at all.
i know you are not always there to help me around but if i am taking a step amongst others to improve the generator why i am on the back firing line?
anyways a word of encouragement is always good but if you have a negative feedback about me it is

[2017-07-16 14:33] niranjan94 commented on #1821
@arp95 I'm actually trying to help you out here.

Why do you think of it a demotivating factor ? Why can't it be a way to learn a language ? Some new tech. GSoC isn't always about just doing what you normally do. Working with the same language you have been working for the past few years. it's an opportunity to try out some new stuff. But its not gonna be easy. I know. Last year when I applied for

[2017-07-16 14:55] mariobehling commented on #1821
Experience shows that super long discussions without code contributions have limited benefit to the project.

@arp95 I already see that this issue is not properly started and lacks sufficient information right at the beginning. It seems you have difficulties following standard community practices.

I am not up for getting in discussions into what is encouraging, motivating, demotivating and questi

[2017-07-16 14:58] arp95 commented on #1821
@mariobehling sure.

[2017-07-16 17:13] #1816 closed, assigned to nobody

[2017-07-16 18:56] rohanagarwal94 opened #1825 "Incorrect redirect to session details on clicking a list item in the widget"
**Actual Behaviour**

If the app is offline and the user clicks a different bookmarked session from the bookmark widget, he gets directed to the same session details of the first clicked list item.

**Expected Behaviour**

The user should be directed to the corresponding session details activity of the corresponding clicked list item.

**Steps to reproduce it**

1. Get the bookmark widget.
2. Clos

[2017-07-17 04:30] shreyasnbhat opened #1826 "Add Sessions to the searched results"
**Actual Behaviour**
This doesn't exist now.

**Expected Behaviour**
This should be present within the search results

**Would you like to work on the issue?**
Yes

**Target Milestone to solve the issue**
Milestone 11

@arp95 @the-dagger @iamareebjamal @Shailesh351 Should we add only the bookmarked sessions or all the sessions? Adding all the sessions would clutter our search activity. What I can

[2017-07-17 06:46] Shailesh351 commented on #1826
@shreyasnbhat showing only bookmarked sessions don't make sense. IMO all the sessions should be shown in GLOBAL search results.

[2017-07-17 08:02] shreyasnbhat commented on #1826
@Shailesh351 Let's hear from others. I know that keeping all the sessions in the global search makes sense.

[2017-07-17 08:31] #1814 closed, assigned to nobody

[2017-07-17 17:28] niranjan94 commented on #363
@Shailesh351 also ensure all user authentication related features are toggle-able. That is we should be able to generation a version of the app that doesn't have any user authentication related features or features that need user authentication. We want give an option of a completely offline app too to the users.

It would be best if this requirement is taken into consideration from the very start

[2017-07-18 02:07] Shailesh351 commented on #363
@niranjan94 Sure!!

[2017-07-18 04:43] mahikaw commented on #1826
Agreed with @Shailesh351 All the sessions in the search are needed, otherwise there won't be any reason to search, because bookmarks can already be seen separately in the home page.

[2017-07-18 04:52] shreyasnbhat commented on #1826
@mahikaw @Shailesh351 Alright. Makes sense.
This issue needs to be taken care of after #1810 is merged.

[2017-07-18 06:21] #1676 closed

[2017-07-18 07:00] the-dagger opened #1828 "Remove Un needed apks from the apk branch"
**Actual Behaviour**

Currently there are way too many apks in the apk branch.

**Expected Behaviour**

We need only 4-5 apks, one for each event + one that is built using repo's code.

[2017-07-18 08:00] shreyasnbhat commented on #1828
@the-dagger After cloning the repo and checking the apk branch shall i do `rm -rf *.apk` before adding the new apks? Just this right?

[2017-07-18 08:08] the-dagger commented on #1828
Yep.

On Tuesday, July 18, 2017, Shreyas Bhat <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2017-07-18 21:56] #1825 closed, assigned to nobody

[2017-07-19 06:28] #1828 closed, assigned to shreyasnbhat

[2017-07-19 09:01] mahikaw commented on #1724
@rohanagarwal94 are you working on it?

[2017-07-20 06:43] rohanagarwal94 commented on #1724
@mahikaw oh yes. Will open a WIP PR today after I complete my first iteration of work.

[2017-07-20 07:57] #1601 closed

[2017-07-20 08:33] mahikaw commented on #1795
@arp95 The server is moving to API implementation as of now after which, this functionality will be added in a proper way with integration from server.
Thus, in my view it will be better to close this issue for now as this is just a temporary solution. We could solve it in a proper way once the server is ready. :)

[2017-07-20 10:12] Shailesh351 opened #1832 "Create Util for Shared Preferences to use it from all over the app"
**Actual Behaviour**

Currently shared preference is used in different different activities and classes which increases complexity.

**Expected Behaviour**

Create Util class for shared preference which will be used to save data in shared preferences all over the app.

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Milestone 11](https://github.com/fossasia

[2017-07-20 11:45] #1807 closed, assigned to nobody

[2017-07-20 12:19] mahikaw commented on #1552
@iamareebjamal I want to work on this issue. Could you please assign this to me?

[2017-07-20 12:34] mahikaw opened #1835 "Write UI layer test"
**Actual Behaviour**

There are no UI layer tests currently.

**Expected Behaviour**

There should be UI layer Espresso tests for different activities to ensure the app is not crashing while traversing through activities.

**Would you like to work on the issue?**
Yes.

**Target Milestone to solve the issue**

Till which [milestone](https://github.com/fossasia/open-event-android/milestones) will yo

[2017-07-20 13:58] iamareebjamal commented on #1835
@mahikaw Assume no connectivity during UI tests so that they don't fail if CI is having connectivity issues

[2017-07-20 13:59] #1552 closed

[2017-07-20 17:09] #1832 closed, assigned to nobody

[2017-07-20 20:12] mahikaw commented on #1835
@iamareebjamal Yes I'm planning on using mockito.

[2017-07-21 04:29] shreyasnbhat opened #1837 "Add filters in Global Search"
**Actual Behaviour**
This doesn't exist as of now.

**Expected Behaviour**
This should be there in order to reduce the sheer amount of results this search page can produce.

**Would you like to work on the issue?**
Yes

**Target Milestone to solve the issue**
https://github.com/fossasia/open-event-android/milestone/34

@iamareebjamal Please add the milestone.

It would be great if #1823 could be r

[2017-07-21 04:36] mahikaw opened #1838 "Adding feature of user feedback and live questions for speakers"
**Actual Behaviour**

Currently there is no way to give feedback of sessions or to ask live questions/give suggestions at real time to speakers.

**Expected Behaviour**

There should be features to rate the sessions after they end as well as give real time feedback of an ongoing session.
This needs to be integrated to server, which will be possible after server shifts to API implementation complet

[2017-07-21 04:37] mahikaw commented on #1838
@iamareebjamal @niranjan94 @the-dagger @mananwason Please add a the tags 'later' and 'feature' to it.

[2017-07-22 10:49] #1802 closed, assigned to nobody

[2017-07-22 10:54] arp95 opened #1839 "Adding user authentication option in apk-generator"
**Actual Behaviour**

As the user authentication option is added we can now add an option to enable user authentication.

**Expected Behaviour**

Doing the above changes.

**Steps to reproduce it**

-

**LogCat for the issue**

-

**Screenshots of the issue**

-

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

https://github.com/fossasia/open-event-android/

[2017-07-22 11:12] mahikaw commented on #1839
@arp95 Could you please describe the issue in some more detail. I don't exactly get the issue.

[2017-07-22 16:50] shreyasnbhat commented on #1826
@Shailesh351 @mahikaw @arp95 @iamareebjamal  For the addition of session what all shall I search within each session? Just the title or the title and some other attributes such as the abstract?

[2017-07-22 17:08] mahikaw commented on #1826
I think just the titles should do. Abstract will clutter the search it a bit @shreyasnbhat

[2017-07-22 19:26] rohanagarwal94 opened #1841 "Make the image zoom in on click in the live feed"
**Actual Behaviour**

The user cannot zoom in the pictures in the livefeed.

**Expected Behaviour**

The image should have functionality to allow zoom on click.

**Would you like to work on the issue?**

Yes. @iamareebjamal @the-dagger views?

**Target Milestone to solve the issue**

[milestone 12](https://github.com/fossasia/open-event-android/milestone/35)

[2017-07-22 19:35] iamareebjamal commented on #1841
It'd be great if this can be done for every imageview

[2017-07-22 19:40] iamareebjamal commented on #1826
Only title should do

[2017-07-22 19:55] mahikaw opened #1842 "Changing DateUtils to DateConverter"
**Actual Behaviour**

The DateUtils class under Utils, should be renamed to DateConverter to avoid confusions such as the one faced in a recent PR as well as to make the code more understandable.

**Expected Behaviour**

Doing the above changes.

**Would you like to work on the issue?**

Yes.

[2017-07-23 02:20] Shailesh351 opened #1844 "Add User profile feature"
**Actual Behaviour**

After adding user authentication in app it will only show email and logout option in User Profile(https://github.com/fossasia/open-event-android/pull/1827).

**Expected Behaviour**

Add feature to show user name, links which will be fetched from server. Add feature to edit user profile.

**Steps to reproduce it**

Add steps to reproduce bugs or add information on the place wh

[2017-07-23 08:05] mahikaw opened #1845 "Layout customisation in app generator"
**Actual Behaviour**

We currently have colour customisation in app generator.
**Expected Behaviour**

To further the issue of app customisation, there should be layout customisation as well.
The app generator will provide option of layouts for tracks, sessions, micro locations etc and on the basis of what the user wants, it will generate an application.

**Would you like to work on the issue?**
Y

[2017-07-23 08:31] shreyasnbhat commented on #1845
Options for layouts as in what?

[2017-07-23 08:34] mahikaw commented on #1845
Remember how we were all discussing about which UI layout should be most suited for tracks fragments(say) in #1649 I think it is best for the user to decide what sort of layout he/she wants to have through app generator.

[2017-07-23 09:20] #1842 closed, assigned to nobody

[2017-07-23 17:19] #1785 closed, assigned to nobody

[2017-07-24 07:03] mahikaw opened #1846 "Bug in deciding upcoming for different time zones"
**Actual Behaviour**

The current implementation of the feature doesn't take care of different time zones.

**Expected Behaviour**

The feature should take into account different time zones as well.

**Would you like to work on the issue?**

Yes.

**Target Milestone to solve the issue**

Till which [milestone](https://github.com/fossasia/open-event-android/milestones) will you be fixing the issue?

[2017-07-26 11:33] shreyasnbhat opened #1847 "DateUtils still being used in TrackSessionsActivity"
**Actual Behaviour**
DateUtils class which was recently converted into DateConvertor has not been correctly refactored.

**Expected Behaviour**
Need to refactor in additional places.

**Would you like to work on the issue?**
Yes

**Target Milestone to solve the issue**

Till which [milestone](https://github.com/fossasia/open-event-android/milestones) will you be fixing the issue?
https://github.co

[2017-07-26 12:59] #1847 closed, assigned to nobody

[2017-07-27 17:34] #1810 closed, assigned to nobody

[2017-07-27 19:04] shreyasnbhat opened #1850 "Unresolved references to DateUtils in About Fragment and Minor Error in ApiTest from recent commits"
**Actual Behaviour**
Errors in the latest and JSONAPI commits.

**Expected Behaviour**
Change DateUtils to DateConvertor
And also correct ApiTest class.

**Would you like to work on the issue?**
Yes

**Target Milestone to solve the issue**
https://github.com/fossasia/open-event-android/milestone/35

[2017-07-28 01:58] #1850 closed, assigned to nobody

[2017-07-30 14:08] #363 closed

[2017-07-31 07:11] #1826 closed, assigned to nobody

[2017-08-01 05:40] Shailesh351 opened #1854 "Sort type overriding in SharedPreferences"
**Actual Behaviour**

Sort type for Schedule Fragment and Speakers Fragment is overriding each others value because of **same key**

**Expected Behaviour**

Use different keys to store both both sort preferences

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Milestone 13](https://github.com/fossasia/open-event-android/milestone/36)

[2017-08-01 17:16] #1854 closed, assigned to nobody

[2017-08-02 18:43] poonai opened #1856 "Fix markdown for yaydoc documentation generation"
**Description**
Yaydoc needs markdown in a specific format so, alter the markdown according to the Yaydoc's documentation
**Would you like to work on the issue?**
Yes

[2017-08-03 18:23] #1844 closed, assigned to nobody

[2017-08-04 05:33] Shailesh351 opened #1859 "Refactor the adapter of the app"
**Actual Behaviour**

Current adapter does not support many features and crude implementations of custom features has made it error prone over time.

**Expected Behaviour**

Refactor the adapter of the app. Use FastAdapter to handle complex tasks for the app, like efficient sorting, filtering, animations, header views etc.

**Would you like to work on the issue?**

Yes

**Target Milestone to solve

[2017-08-05 14:38] #1856 closed, assigned to nobody

[2017-08-06 10:13] Shailesh351 opened #1861 "Issue in SponsorsListAdapter"
**Actual Behaviour**

- Currently SponsorListAdapter uses SponsorViewHolder and CategoryViewHolder which can be combined in the one view holder
- ViewHolders are in the Adapter class
- Also category is already in the SponsorViewHolder as sponsorType. So remove it.
- Weird placeholder behaviour because of resizing of sponsor logo

**Expected Behaviour**

- Remove CategoryViewHolder()
- Move ViewHol

[2017-08-06 15:25] #1861 closed, assigned to nobody

[2017-08-06 20:22] #1839 closed, assigned to nobody

[2017-08-08 03:52] Shailesh351 opened #1863 "Add Sticky headers in SposorsFragment"
**Actual Behaviour**

Currently sponsor type is shown in the list-item which is repeated for all the item of same type

**Expected Behaviour**

Add StickyHeaders for grouping

**Screenshots of the issue**
Actual behaviour

![sponsor-headers-before](https://user-images.githubusercontent.com/18264684/29055581-e8aa6c44-7c1a-11e7-8ccb-2562dd9bc5c3.gif)

Expected behaviour

![sponsor-headers](https://u

[2017-08-08 03:53] Shailesh351 commented on #1863
@iamareebjamal @heysadboy @the-dagger @mananwason opinions?

[2017-08-08 20:04] #1863 closed, assigned to nobody

[2017-08-09 02:54] Shailesh351 opened #1865 "Add TextDrawable in SpeakersFragment"
**Actual Behaviour**

Currently speakers fragment shows same placeholder for all the speakers.

**Expected Behaviour**

Add TextDrawable as placeholder in SpeakersFragement. TextDrawable will contain letters from Firstname and lastname

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Milestone 14](https://github.com/fossasia/open-event-android/milestone/37)

[2017-08-10 17:00] Shailesh351 opened #1867 "Compound drawable is not supported in API < 21"
**Actual Behaviour**

~Currently in session_item and other places. Drawable is shown using ImageView.
`<LinearLayout><ImageView/><TextView/><LinearLayout/>`~
Compound drawable is not supported in API < 21

**Expected Behaviour**

~Drawable can be combined with TextView using drawableLeft attribute.
`<TextView  drawableLeft="abc"/>`~
Remove compound drawable to support API < 21

**Would you like to

[2017-08-10 17:36] iamareebjamal commented on #1867
This won't work on older devices as we are using vector drawables

[2017-08-11 02:24] Shailesh351 commented on #1867
@iamareebjamal It should work fine on older devices also. We have already enabled Vector drawable backward compatibility.

https://developer.android.com/guide/topics/graphics/vector-drawable-resources.html#vector-drawables-backward-solution

https://github.com/fossasia/open-event-android/blob/development/android/app/build.gradle#L34

[2017-08-11 06:07] iamareebjamal commented on #1867
Compound drawables don't work with vector drawables on older devices. You can try though

[2017-08-11 08:07] #1865 closed, assigned to nobody

[2017-08-11 10:43] Shailesh351 opened #1868 "App not showing download dialog on emulator"
**Actual Behaviour**

Currently we are using `ping` utility to check active internet connection. But ping don't work on Android emulator. Because of it app is not showing download dialogue on emualtor.

https://stackoverflow.com/questions/14234873/can-i-use-ping-command-in-the-android-emulator

**Expected Behaviour**

User other method for checking active internet connection. i.e. Using HttpUrlCon

[2017-08-11 10:50] iamareebjamal commented on #1868
I think we should remove the ping util completely and set a custom timeout. It takes a lot of time on real devices too to even show the dialog. We should just show it if the network is present and the request will timeout if it is slow

[2017-08-11 11:53] Shailesh351 commented on #1868
@iamareebjamal So `NetworkStateReceiverListener` will have only two methods networkAvailable() and networkUnavailable().

All the tasks we are currently doing in the activeConnection() will be moved to networkAvailable() and inactiveConnection() to networkUnavailable().
Right?

[2017-08-11 12:21] iamareebjamal commented on #1868
Yes

[2017-08-12 07:30] ahsanbarkati commented on #1846
I am a newbie here at FOSSASIA. I want to solve this issue, Please guide me how to give it a start.

[2017-08-12 11:37] Shailesh351 commented on #1846
Hi @ahsanbarkati welcome :smile:

You may be confuse with this issue. Upcoming-Ongoing session feature was added in https://github.com/fossasia/open-event-android/pull/1822.

Currently Upcoming and ongoing feature has some bugs.

- Create one more method `isOngoingSession()` in https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/java/org/fossasia/openevent/utils/Da

[2017-08-12 11:46] Shailesh351 opened #1870 "Bug in speaker TextDrawable when thumbnail is null"
**Actual Behaviour**

TextDrawable as speaker image placeholder has issue when thumbnail is null and internet connection is not there. It shows random drawable for it.

**Expected Behaviour**

It should work fine(Showing own name latters)

**Screenshot for the issue**
Check `FOSSASIA Team` drawable
![screenshot-1502538259347](https://user-images.githubusercontent.com/18264684/29240387-bd8092cc-7f8

[2017-08-12 14:30] ahsanbarkati commented on #1846
Here in https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/java/org/fossasia/openevent/utils/DateService.java
[code]
The above method returns true if current date lies between start and end date. Then how is this a method for upcoming session? Please correct me if I am wrong.

[2017-08-12 14:34] Shailesh351 commented on #1846
Exactly. That's where you have to made changes.
For upcoming  : start.after(current) &&  end.after(current)
For ongoing : start.before(current) && end.after(current)

[2017-08-12 15:49] ahsanbarkati commented on #1846
I created the required isOngoingSession() method and also corrected the isUpcomingSession().
Moving on to the next file.
I want to know what these variables represent (upcomingPosition, countOngoing, ongoingPosition ,countUpcoming)
[code]

[2017-08-13 02:03] Shailesh351 commented on #1846
ongoingPosition, upcomingPosition are class variable. countOngoing, countUpcoming  are local variable.  countOngoing, countUpcoming sets the value of of ongoingPosition, upcomingPosition.

ongoingPosition/upcomingPosition is used to scroll recyclerview to the Ongoing/Upcoming session.

[2017-08-13 03:05] Shailesh351 commented on #1867
@iamareebjamal You are right. This tiny library fixes it https://github.com/a-tolstykh/textview-rich-drawable. Should we use it ?

[2017-08-13 05:31] Shailesh351 opened #1872 "App crashing on API < 21"
**Actual Behaviour**

- Multidex support is not complete
- VectorDrawableCompat not enabled.
- Used android:src instead of app:srcCompt which don't support on API < 21

**Expected Behaviour**

App should not crash on API < 21

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Milestone 15](https://github.com/fossasia/open-event-android/milestone/38)

[2017-08-13 05:39] iamareebjamal commented on #1867
I think another library for this is a bit too much for something which is not broken. If we enable databinding in future, we'll be able to do it without the library

[2017-08-13 05:55] Shailesh351 commented on #1867
Okay.  There are other files(User Auth) which uses compound drawable. I'll change it from `<TextView  drawableLeft="abc"/>` to  `<LinearLayout><ImageView/><TextView/><LinearLayout/>` :+1:

[2017-08-13 09:23] vedantrathore commented on #1835
@mahikaw Are you still working on this? if not I'd like to start with this issue.

[2017-08-13 09:34] iamareebjamal commented on #1835
@vedantrathore Please carry on :smile:

[2017-08-13 10:13] #1872 closed, assigned to nobody

[2017-08-13 10:24] #1870 closed, assigned to nobody

[2017-08-13 21:44] iamareebjamal opened #1875 "Use ThreeTenABP for timezone handling"
Timezone of event and user is not handled correctly as of now. Follow [this](https://github.com/fossasia/open-event-orga-app/commit/e8cc06f55d159d39511d001f37984327bac0fa36) and make required changes to the project

@Shailesh351 You mentioned working on this, right? :smile:

[2017-08-14 02:05] Shailesh351 commented on #1875
Yes, Working on it 😄

[2017-08-14 12:32] Shailesh351 opened #1877 "Remove Hungarian notation"
**Actual Behaviour**

Currently some java files uses Hungarian notation.

**Expected Behaviour**

Remove Hungarian notation from project

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Milestone 15](https://github.com/fossasia/open-event-android/milestone/38)

[2017-08-14 12:39] Shailesh351 commented on #1859
Closing it for now. Because using FastAdapter with Realm is making code base more complex and difficult to implement.
We can user FastAdapter after migrating to other database in future.

[2017-08-14 12:39] #1859 closed, assigned to nobody

[2017-08-14 16:46] #1867 closed, assigned to nobody

[2017-08-15 07:47] #1868 closed, assigned to nobody

[2017-08-15 08:49] #1877 closed, assigned to nobody

[2017-08-16 19:40] #1875 closed, assigned to nobody

[2017-08-17 02:14] Shailesh351 opened #1880 "Issue in getting SocialLink drawable"
**Actual Behaviour**

Currently method for getting drawable for SocialLink uses `name`. But at server side organiser has option to give name to link. Which can be different for different organiser. Example some organiser can give name `Github` and `GitHub` or something else. So app is not able to get drawable for these different names

**Expected Behaviour**

Use `link` instead of `name` for getti

[2017-08-18 08:18] Shailesh351 opened #1883 "Statusbar and bookmark icon color issue"
**Actual Behaviour**

In the SessionDetailActivity Statusbar and bookmark icon color are white. Statusbar icon changes color when CollapsingLayout is collapsed.

**Expected Behaviour**

Icon colors should be same for whole activity.

**Screenshots**

Actual behaviour
![sessiondetailbefore](https://user-images.githubusercontent.com/18264684/29455410-aea37be6-842e-11e7-8b04-6b6944117a14.jpg)

Expect

[2017-08-18 10:30] #1880 closed, assigned to nobody

[2017-08-19 05:02] Shailesh351 opened #1885 "Memory leak in SpeakersDetailActivity"
**Actual Behaviour**

SpeakersDetailActivity has memory leak because of poor CustomTabService implementation.

**Expected Behaviour**

Fix memory leak, remove redundant code and reuse Util method for CustomTabService.

**Screenshot of the issue**

![screenshot-1503118892747](https://user-images.githubusercontent.com/18264684/29483687-9f8f06ca-84c9-11e7-9788-017e9a9a0dbd.jpg)

**Would you like to w

[2017-08-19 07:05] hardik124 commented on #1885
@Shailesh351  Can i work on this?

[2017-08-19 07:40] #1883 closed, assigned to nobody

[2017-08-19 10:22] Shailesh351 commented on #1885
@hardik124 Sure go ahead

[2017-08-19 15:22] Shailesh351 opened #1886 "Shadow between Toolbar and TabLayout"
**Actual Behaviour**

Shadow is appearing between Toolbar and TabLayout. It was fixed before(https://github.com/fossasia/open-event-android/issues/1582) but some how issue is appearing again.

Also settings Activity don't have actionbar elevation.

**Expected Behaviour**

Shadow should not be there. Add elevation in SettingsActivity actionbar

**Steps to reproduce it**

- Go to schedule fragment
-

[2017-08-19 16:05] hardik124 commented on #1885
@Shailesh351 , there are no getter and setters defined for data/Speaker.class, still they have been referenced in SpeakersDetailActivity. Can you please confirm this?

[2017-08-19 16:07] iamareebjamal commented on #1885
@hardik124 They are generated by [lombok](https://projectlombok.org/) at compile time

[2017-08-19 17:38] #1886 closed, assigned to nobody

[2017-08-20 05:22] #1846 closed, assigned to nobody

[2017-08-20 09:07] dabbler011 commented on #1718
@m-murad after refreshing page, sessions remain filtered. However if one is at filtered DaySchedulerFragment and reselect Schedule from menu unfiltered Schedule is shown.

Can I work on this issue.

[2017-08-20 09:33] m-murad commented on #1718
Go on

[2017-08-22 06:44] Shailesh351 opened #1889 "Improve RecyclerView & Adapter code base"
**Actual Behaviour**

- Currently VIew element is used in List item to add divider
- No viewholder for Headers. Every time view is inflated and ViewHolder instance is created.

**Expected Behaviour**

- Added DividerItemDecoration in recyclerview instead of view element in xml.
- Created HeaderViewHolder
- Make code more readable

**Would you like to work on the issue?**

Yes

**Target Milestone t

[2017-08-22 11:39] #1649 closed

[2017-08-23 05:34] Shailesh351 opened #1892 "Event dates is not being updated on Timezone preference change"
**Actual Behaviour**

Currently when user changes timezone preference from settings activity. It is not updating event dates.
It is possible that for one time zone date is `9` and for other time zone it is `10`

example.
For
startsAt = "2017-11-09T23:08:56-03:30";
endsAt = "2017-11-12T09:23:45-03:30";

In Event Time zone(-03:30) Dates are:
[EventDates(date=2017-11-09), EventDates(date=2017-11-10),

[2017-08-23 05:48] Shailesh351 commented on #1885
@hardik124 Status? We need to fix it asap :smile:

[2017-08-23 05:50] hardik124 commented on #1885
Hi @Shailesh351  , sorry , i got sick actually and have just recovered. I will fix it ASAP .

[2017-08-23 05:53] Shailesh351 commented on #1885
Don't be sorry. It's okay. No Problem. :smile_cat:

[2017-08-23 06:54] hardik124 commented on #1885
@Shailesh351  can you please tell me a way to add mock speakers?

[2017-08-23 08:19] hardik124 commented on #1885
@Shailesh351, Can you tell me what is the use of CustomTabsSession? After removing it, I changed the code in the following way to remove the leak.
![screenshot from 2017-08-23 13-45-47](https://user-images.githubusercontent.com/6649948/29605730-9e43466c-8809-11e7-965c-502320158c0b.png)
does this look good?

[2017-08-23 16:42] Shailesh351 opened #1894 "Inefficient filtering"
**Actual Behaviour**

Currently filtering is inefficient. It is slow because using fetching data from realm for every query. It also gives poor performance.

**Expected Behaviour**

Make filtering efficient.

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Milestone 16](https://github.com/fossasia/open-event-android/milestone/39)

[2017-08-24 12:42] hardik124 commented on #1885
@Shailesh351  can I go ahead with this fix?

[2017-08-24 13:09] Shailesh351 commented on #1885
@hardik124 Actually we don't need CustomTabClient and all. Just one util method (Utils.setUpCustomTab(Context context, String url)) will handle all.

Current implementation for opening Speaker's social media links is so poor. That's why I have mentioned in the issue to remove redundant code.

You can completely remove SpeakerIntent class and on clicking social media button you just need to pass ur

[2017-08-25 05:38] Shailesh351 opened #1896 "Location Activity Session bookmark icon color issue"
**Actual Behaviour**

In the Location Activity Session icon color have weird behaviour on scrolling. It changes color.

**Expected Behaviour**

Color should not change.

**Steps to reproduce it**

Go to LocationsFragment. Click on any location. Then scroll session list.

**Screenshots of the issue**

![videotogif_2017 08 25_11 02 16](https://user-images.githubusercontent.com/18264684/29700859-9225

[2017-08-25 10:07] #1889 closed, assigned to nobody

[2017-08-25 11:27] #1892 closed, assigned to nobody

[2017-08-25 11:27] #1894 closed, assigned to nobody

[2017-08-25 14:45] #1896 closed, assigned to nobody

[2017-08-25 15:00] Shailesh351 opened #1898 "Update the UI of the generator"
**Actual Behaviour**

Currently UI of App Generator is lacking Top navbar, Menu item and Version deployment info

**Expected Behaviour**

- Add top bar similar to Open Event frontend
- Add menu like Google/Susper on the top right corner (http://susper.com/)
- Add Version deployment info to the bottom like http://staging.loklak.org

**Would you like to work on the issue?**

Yes

**Target Milestone

[2017-08-26 04:47] Shailesh351 opened #1900 "Statusbar icon color issue in map"
**Actual Behaviour**

Statusbar icon color changes when clicking on Map icon from SessionDetailActivity.

**Expected Behaviour**

Icon colors should be same for whole activity.

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Milestone 16](https://github.com/fossasia/open-event-android/milestone/39)

[2017-08-26 09:48] #1900 closed, assigned to nobody

[2017-08-26 16:22] ivary43 commented on #1841
@rohanagarwal94   Can i work on this ?

[2017-08-26 17:28] iamareebjamal commented on #1841
Yes, please go ahead

[2017-08-27 14:08] #1885 closed, assigned to nobody

[2017-08-27 18:37] Shailesh351 opened #1902 "Travis CI not failing"
**Actual Behaviour**

Currently Travis CI is always passing build.
https://travis-ci.org/Shailesh351/open-event-android/builds/268397568

**Expected Behaviour**

It should fail when there is error.

**LogCat for the issue**

[code]

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Milestone 17](https://github.com/fossasia/open-event-android/milestone/40)

[2017-08-30 03:47] Shailesh351 opened #1905 "Track details not applied when opening session from bookmarks widget"
**Actual Behaviour**

Track name is not being displayed and track color not applied when opening session from bookmarks widget

**Expected Behaviour**

Track name and color should be applied.

**Steps to reproduce it**

- Bookmark sessions
- Open session from bookmark widget

**Screenshots of the issue**

Actual behaviour
![screenshot-1504064363309](https://user-images.githubusercontent.com/182646

[2017-08-30 07:50] #1902 closed, assigned to nobody

[2017-09-01 16:11] Shailesh351 opened #1907 "Update screenshots"
**Actual Behaviour**

Current screenshots need to be updated

**Expected Behaviour**

Update screenshots with latest UI and features

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Milestone 18](https://github.com/fossasia/open-event-android/milestone/41)

[2017-09-02 16:56] Shailesh351 opened #1909 "Update attributes in generator"
**Actual Behaviour**

App generator is using event json file while normalizing i.e. logo and background image. This attributes are in old API.

**Expected Behaviour**

Update attributes in generator

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

[Milestone 18](https://github.com/fossasia/open-event-android/milestone/41)

[2017-09-03 18:20] #1909 closed, assigned to nobody

[2017-09-03 22:19] #1905 closed, assigned to nobody

[2017-09-04 12:22] #1907 closed, assigned to nobody

[2017-09-04 12:23] #1898 closed, assigned to nobody

[2017-09-12 14:53] codedsun opened #1911 "SignUp Not Working"
**Actual Behaviour**
After installing the app when I go to the SignUp option and fill the details it throws error
"Error in signing up".

**Expected Behaviour**
It should signup successfully.

**Steps to reproduce it**

Setup the app and go to the SignUp page from the navigation drawer

**LogCat for the issue**

12 19:53:53.734 26012-31555/org.fossasia.openevent D/OkHttp: --> POST http://abc/users

[2017-09-12 16:25] iamareebjamal commented on #1911
Actually, you have to first add a correct API link. The API URL in debug message is  http://abc/ which is wrong

[2017-09-13 18:22] manav-mj opened #1912 "Opening Live Feed links within the app using customTab"
**Actual Behaviour**
The links (like the facebook link) in the Live Feed list-items open in chrome (uses Implicit Intent).

**Expected Behaviour**
The links should open within the app like the social media links on the homepage (should use CustomTabsIntent).

**Steps to reproduce it**
1. Go to Live Feed from navigation drawer.
2. Click the link in the item cards.

**Would you like to work on the i

[2017-09-13 19:27] scandindian commented on #1912
@iamareebjamal @the-dagger  What do you think about this?

I think a user may want to do more things with live feed item that can not be done in the app itself, like opening multiple tabs or bookmarking.

[2017-09-14 14:35] dreadpool2 opened #1913 "[App UI] Smooth shared element transition of speaker's image in SpeakersList Fragment"
**Actual Behaviour**

Individual Speaker Intent is opening directly.

**Expected Behaviour**

Individual speaker intent should open with a shared element transition of the image of the speaker.

**Steps to reproduce it**

Just a small addition of transition type to the images present in the items of the Recycler view  in SpeakersList fragment and even in the Image View present in SpeakerDetails ac

[2017-09-14 15:18] iamareebjamal commented on #1912
Yeah, IMO it should be launching an intent dialog instead. Which may allow user to choose whether to open in browser or within app

[2017-09-14 15:20] iamareebjamal commented on #1913
Sure, please go ahead. Just keep in mind that the image being loaded in Speaker Detail page is loaded from another URL than the thumbnail on Speakers page. So strategy can be to show the shared element transition on thumbnail to the extended app bar and then allow the full image to load

[2017-09-14 16:05] dreadpool2 commented on #1913
Yeah I will keep that in mind. Thanks 😃

[2017-09-14 18:45] codedsun commented on #1911
@iamareebjamal  what shall be done for this issue?

[2017-09-15 07:24] iamareebjamal commented on #1911
Yes, please look into why it is happening. It shouldn't be. Thanks

[2017-09-15 11:52] manav-mj opened #1914 "Duplicate links in Live Feed list-items"
**Actual Behaviour**

Some of the list-items in Live Feed have links in the message as well as a separate TextView with link.
So as a result the link is duplicated.

**Expected Behaviour**

One of the links should be removed

**Screenshots of the issue**

![screenshot_2017-09-15-02-31-33-318_org fossasia openevent](https://user-images.githubusercontent.com/22222147/30457053-9bf0d6ce-99c3-11e7-96cf

[2017-09-15 13:06] scandindian commented on #1914
@manav-mj Yes, please do remove the non-clickable ones.

[2017-09-15 21:50] manav-mj commented on #1912
@heysadboy @iamareebjamal @the-dagger Should I go ahead with this issue?

[2017-09-16 06:03] scandindian commented on #1912
@manav-mj Yes, please go ahead.

[2017-09-17 16:35] #1912 closed, assigned to nobody

[2017-09-17 17:05] iamareebjamal opened #1917 "Do not show stale notifications"
**Actual Behaviour**

Notifications are shown for past sessions when a user bookmarks it

**Expected Behaviour**

Notifications should only be shown for upcoming events

**Steps to reproduce it**

Bookmark any past event

**Would you like to work on the issue?**

No

[2017-09-17 17:10] manav-mj commented on #1917
@iamareebjamal i would like to work on the issue

[2017-09-17 17:48] iamareebjamal commented on #1917
@manav-mj Please go ahead

[2017-09-18 12:54] #1914 closed, assigned to nobody

[2017-09-20 08:17] #1917 closed, assigned to nobody

[2017-09-20 11:35] manav-mj opened #1919 "Alarm for event set at wrong time"
**Actual Behaviour**

Alarm set 10 ***hours*** before the event

**Expected Behaviour**

Alarm should set 10 ***min*** before the event

**Screenshots of the issue**

![screenshot](https://user-images.githubusercontent.com/22222147/30641605-73ab260e-9e25-11e7-97c9-c487c5c76004.png)

**Would you like to work on the issue?**

Yes

[2017-09-20 22:44] manav-mj opened #1922 "Show search suggestions in MainActivity"
**Actual Behaviour**

Search does not show suggestion when in MainActivity (AboutFragment)

<img src = "https://user-images.githubusercontent.com/22222147/30671094-e3e94e98-9e82-11e7-9f70-919a2b5edb4e.png" height = "480px" width="270px">

**Expected Behaviour**

Search should show suggestions when in MainActivity (AboutFragment), like in the SearchActivity

<img src = "https://user-images.githubus

[2017-09-21 10:59] scandindian commented on #1922
@manav-mj Sounds great, please do.

[2017-09-21 14:36] codedsun opened #1923 "Schedules are downloaded even on clicking No"
**Actual Behaviour**

On first launch of app, a dialog box appears and says *Do You want to update to the latest schedule now?" and even on clicking *NO* it downloads the event info.

**Expected Behaviour**

A snackbar should be shown to the user of the error .

**Steps to reproduce it**

Uninstall the app and then install it and then on the dialog box click *NO* ,the event infos are still downloa

[2017-09-21 16:05] iamareebjamal commented on #1923
Once you click no, can you please post the logs after it?

[2017-09-21 16:12] codedsun commented on #1923
@iamareebjamal Comment updated !

[2017-09-21 16:20] iamareebjamal commented on #1923
I think the schedule is not downloaded but parsed from the static JSON files in `assets`

[2017-09-21 16:22] codedsun commented on #1923
@iamareebjamal For the first launch of app, when the download is pressed to *No* where is the data coming from?

[2017-09-21 16:23] iamareebjamal commented on #1923
The static JSON files in `assets`

[2017-09-21 16:23] codedsun commented on #1923
Ok! Closing the issue then.
Thanks.

[2017-09-21 16:24] #1923 closed, assigned to nobody

[2017-09-22 12:22] manav-mj commented on #1922
@heysadboy @iamareebjamal should we open `SearchActivity` on search icon click or show suggestions in the `AboutFragment` itself ?

[2017-09-22 12:26] iamareebjamal commented on #1922
The second option would be complicated IMO

[2017-09-22 12:26] iamareebjamal commented on #1922
The second option would be complicated IMO

[2017-09-22 14:35] scandindian commented on #1922
I agree with @iamareebjamal

[2017-09-23 06:13] #1919 closed, assigned to nobody

[2017-09-23 16:18] dreadpool2 opened #1925 "Simple smooth sliding animation of Event Bar"
**Actual Behaviour**

Direct visibility of the "Fossasia is the premier Free and Open Source Technology" is happening

**Expected Behaviour**

There should be smooth sliding down behaviour of the Event open bar

**Steps to reproduce it**

The animation process just needs to be changed.

**Screenshots of the issue**

![first](https://user-images.githubusercontent.com/28607714/30774984-90760d6e-a0a8

[2017-09-23 19:32] manki11 opened #1926 "UI enhancement in speaker profile"
**Actual Behaviour**
Overlapping of text and share button on the top right of speaker Profiles.

**Expected Behaviour**
There should be some padding of the textView so it doesn't Overlap.

**Steps to reproduce it**
Scroll down on a Speaker Profile. The about line underneath the name overlaps the share icon.

**Screenshots of the issue**
![whatsapp image 2017-09-24 at 12 53 29 am](https://user-imag

[2017-09-24 17:50] manav-mj commented on #1922
@iamareebjamal @heysadboy
I have submitted the PR making the required changes for the first option

[2017-09-24 19:19] manav-mj opened #1928 "Correct event description arrow initial direction"
**Actual Behaviour**

The event description arrow point downwards initially even when the description is expanded when the fragment loads.

**Expected Behaviour**

The arrow should point upwards as the description is expanded initially.

**Screenshots of the issue**

<img src="https://user-images.githubusercontent.com/22222147/30785892-3864fd90-a18b-11e7-8969-2c55876d58fd.png" height="480px" width

[2017-09-24 19:25] manav-mj opened #1929 "Show 'read more' only when required"
**Actual Behaviour**

`Read More` option in `Organizer Description` is always visible.

**Expected Behaviour**

`Read More` should only be visible when description is long enough to overflow.

**Screenshots of the issue**

<img src="https://user-images.githubusercontent.com/22222147/30785892-3864fd90-a18b-11e7-8969-2c55876d58fd.png" height="480px" width="270px">

**Would you like to work on the is

[2017-09-25 13:00] dreadpool2 opened #1930 "Wrong indentation of text in Session detail activity"
**Actual Behaviour**

The text shown in each line is wrongly indented  (The track text and below four lines).

**Expected Behaviour**

The text shown in each line should be correctly indented.

**Steps to reproduce it**

We need to change the way the text is represented by changing layout orientations.

**LogCat for the issue**

Provide logs for the crash here

**Screenshots of the issue**

![scre

[2017-09-25 21:55] #1929 closed, assigned to nobody

[2017-09-25 21:57] #1922 closed, assigned to nobody

[2017-09-26 21:19] scandindian commented on #1925
That sounds great, please do @dreadpool2

[2017-09-26 21:22] heysadboy commented on #1930
I think it should be like this

Track      : XYZ
Location : XYZ

[2017-09-26 21:24] scandindian commented on #1930
@dreadpool2 How do you plan to indent it then?

[2017-09-26 21:38] dreadpool2 commented on #1930
@heysadboy I plan to indent them in such a way: (Track2 is date for example)
Track -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xyzaaaaa
Track2 -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xyza
Track3 -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xyza
Track4 -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xyzaaa

[2017-09-27 06:16] TarunISCO commented on #1911
Same issue while signing up.

[2017-09-27 07:14] codedsun commented on #1911
@TarunISCO I will be working on this issue today...and will be sending the PR Asap.

[2017-09-28 08:46] #1928 closed, assigned to nobody

[2017-09-28 08:52] #1926 closed, assigned to nobody

[2017-09-30 09:02] AkshayCHD commented on #1709
Hello sir, i would like to work on this issue. Could you please let me know about the event model, the link you sent above was for event object.

[2017-09-30 09:14] iamareebjamal commented on #1709
@AkshayCHD The model is a Java class itself. It contains references to the same parameters as defined in the JSON format

You'd find the Java POJOs in the codebase itself, nevertheless, this is the class for Event model

https://github.com/fossasia/open-event-android/blob/development/android/app/src/main/java/org/fossasia/openevent/data/Event.java

[2017-09-30 12:24] AkshayCHD commented on #1709
Got it sir, just one more question, Do I have to open a separate activity when for example Copyright option is clicked, displaying the copyright information. And what is the exact list of items that i have to put in the menu.

[2017-09-30 16:43] iamareebjamal commented on #1709
No need to call me sir :smile:

You can display the Copyright info in a dialog only as a dedicated activity for that may be overkill.

As this issue is not a small one, you can start by creating a child issue and work on it and submit PR, and then move forward with another part of it :+1:

[2017-10-02 08:59] AkshayCHD commented on #1709
Sir, I have added the copyright to the overflow menu and added the functionality to it when it is clicked.
so creating the child issue means that i have to create a separate issue for work till now or should i send the PR with the the tag of this issue only, with commit message describing work that i have done till now.

[2017-10-02 09:06] iamareebjamal commented on #1709
Please create separate issue for Copyright item

This issue will be mentioned there but only closed when all items are added :smile:

[2017-10-02 10:58] AkshayCHD opened #1934 "Add menu item for copyright information"
**Actual Behaviour**

There is no menu item for displaying copyright information that is in event modal.

**Expected Behaviour**

There should be an overflow menu on the home screen which displays copyright information when clicked.

**Would you like to work on the issue?**
Yes

To be implemented after #1680

[2017-10-02 13:52] AkshayCHD commented on #1709
@iamareebjamal , Sir i have sent the pull request if you could review it

[2017-10-06 19:02] #1934 closed, assigned to nobody

[2017-10-06 19:27] AkshayCHD commented on #1709
@iamareebjamal Sir now should i create a new child issue for call for speakers,

[2017-10-06 20:30] iamareebjamal commented on #1709
Sure @AkshayCHD

[2017-10-10 14:37] AkshayCHD opened #1937 "Add menu item for displaying information present in SpeakersCall object of event class"
**Actual Behaviour**

There is no menu option for displaying SpeakersCall object values.

**Expected Behaviour**

There should be a overflow menu option for displaying the information in a dialog.

**Would you like to work on the issue?**

Yes

[2017-10-10 15:35] AkshayCHD commented on #1937
@iamareebjamal  Sir can I add hackoctober fest label to the issue

[2017-10-11 14:27] Kartikdot commented on #1708
Is this issue still open ?

[2017-10-12 20:48] manav-mj opened #1939 "Remove overflow menu from MainActivity"
**Actual Behaviour**

After #1936 a separate menu file was added for the `MainActivity`
`menu_extras` which has overflow menu for `copyright information`
which overrode every fragments menu

**Expected Behaviour**

`MainAcitivity` should not have its overflow menu `menu_extras` and the `copyright information` must be added in `AboutFragment`.

**Would you like to work on the issue?**

Yes

[2017-10-12 21:17] manav-mj opened #1941 "Add menu-item for Ticket URL"
**Actual Behaviour**

No option for Ticket URL.

**Expected Behaviour**

There should be a menu option to go to the Ticket URL.

**Would you like to work on the issue?**

Yes

[2017-10-12 21:38] manav-mj commented on #1941
can be done after issue #1939 with PR #1940 for avoiding merging conflicts

[2017-10-12 21:46] manav-mj opened #1942 "Open Copyright URL with CustomTab"
**Actual Behaviour**

Copyright URL opens in browser on clicking

**Expected Behaviour**

Copyright URL link should be opened within the App using CustomTab

**Steps to reproduce it**

1. Goto `Copyright` in overflow menu of home
2. Click the link to the Copyright

**Would you like to work on the issue?**

Yes

Should be done after #1939

[2017-10-13 10:02] manav-mj opened #1944 "Up arrow in SearchActivity triggers onCreate in MainAcitivity"
**Actual Behaviour**

Up arrow in `SearchActivity` triggers `onCreate` in `MainAcitivity` because of which `download-latest-schedule Dialog` is shown

**Expected Behaviour**
Up arrow should trigger `onResume` in `MainAcitivity`

**Steps to reproduce it**

1. Click search icon in `MainAcitivity`
2. Click Home arrow in the `ActionBar` in `SearchActivity`.

**Would you like to work on the issue?**

Y

[2017-10-13 16:03] #1939 closed, assigned to nobody

[2017-10-13 16:22] #1941 closed, assigned to nobody

[2017-10-13 17:51] manav-mj opened #1947 "Add Copyright Information Dialog in AboutFragment"
**Actual Behaviour**

The overflow menu with the menu-item for showing Copyright Information was added in #1934 but now the menu-item is not present

**Expected Behaviour**

There should be a menu-item for showing Copyright Information

**Steps to reproduce it**

- There is a menu-item for copyright in after the commit 2379828e3821269f5c710e4d7f08138c4f04d019
- Now there is no menu-item for copyri

[2017-10-14 14:19] m-murad opened #1949 "App crashes in AboutFragment."
**Actual Behaviour**
If the user dismisses the dialog asking to update the latest schedule and clicks on the `Get Ticket` menu button the app crashes.

**Expected Behaviour**
App should not crash.

**Steps to reproduce it**
1. Uninstall and reinstall the app.
2. Dismiss the dialog box asking to get the event details.
3. Click on `Get Tickets` button. The app will crash

**LogCat for the issue**
`E

[2017-10-14 17:47] m-murad opened #1951 "Multiple nullpointerexceptions in app."
**Actual Behaviour**
`EditProfileActivity` and `OSMapFragment` have bug similar to the one mentioned in #1949

**Expected Behaviour**
These crashes due to nullpointerexception must be fixed.

**Steps to reproduce it**
1. Uninstall and reinstall the app.
2. Dismiss the dialog which asks to download event schedule.
3.1 Open `OSMapFragment` and app will crash.
3.2 Open `EditProfileActivity` and press

[2017-10-15 05:54] manav-mj opened #1953 "Add @string resource for 'Get Tickets'"
**Actual Behaviour**

A hard coded string is used for the menu-item title `Get Tickets`

**Expected Behaviour**

A `@string` resource should be used for menu-item title

**Would you like to work on the issue?**

Yes

[2017-10-15 22:17] #1953 closed, assigned to nobody

[2017-10-17 06:40] #1937 closed, assigned to nobody

[2017-10-17 08:33] #1951 closed, assigned to nobody

[2017-10-17 17:04] #1949 closed, assigned to nobody

[2017-10-17 17:05] #1942 closed, assigned to nobody

[2017-10-17 17:05] #1944 closed, assigned to nobody

[2017-10-17 20:45] manav-mj commented on #1947
This issue was fixed in #1938

[2017-10-17 20:45] #1947 closed, assigned to nobody

[2017-10-18 06:53] rishz opened #1956 "App crash in SessionsListAdapter"
**Actual Behaviour**

App crashes due to null track object present in the session objects.

**Expected Behaviour**

App should not crash.

**Steps to reproduce it**

1. Open `Schedule` from Navigation Drawer.
2. Click on `Open Tech` button.

**LogCat for the issue**
` E/AndroidRuntime: FATAL EXCEPTION: main
                                                                      Process: org.fossasia

[2017-10-18 10:36] #1956 closed, assigned to nobody

[2017-10-20 03:39] codedsun opened #1959 "Update for UI of Login and Signup Activity"
**Actual Behaviour**

The UI is not up to the recent trends.

**Expected Behaviour**

The UI should be updated.

**Would you like to work on the issue?**

Yes !.

@iamareebjamal Review this!

[2017-10-20 09:51] rishz opened #1960 "App Crash on Copyright Information"
**Actual Behaviour**

App crash on clicking Copyright due to Invalid Realm Object present.

**Expected Behaviour**

App should not crash.

**Steps to reproduce it**

1. Clear data of the app.
2. From home, Click `Copyright` on selecting more options.

**LogCat for the issue**
`FATAL EXCEPTION: main
                                                                      Process: org.fossasia.openeven

[2017-10-21 00:59] mariobehling opened #1962 "Implement Internationalization"
In order to use the app in different languages, please implement internationalization capabilities.

[2017-10-21 07:16] rishz commented on #1962
@mariobehling Shall I work on integrating the project with [Weblate](https://weblate.org)?

[2017-10-21 13:42] #1960 closed, assigned to nobody

[2017-10-21 19:11] codedsun commented on #1962
@mariobehling  Can i take this issue

[2017-10-21 19:35] #1913 closed, assigned to nobody

[2017-10-21 19:35] #1925 closed, assigned to nobody

[2017-10-22 01:16] dreadpool2 opened #1964 "Elevation of speaker title image"
**Actual Behaviour**

The speaker image titles are not elevated
**Expected Behaviour**

The speaker image titles should be elevated a bit for a bit of enhancement of UI

**Screenshots of the issue**

![screenshot_20171022-064519](https://user-images.githubusercontent.com/28607714/31857178-aa84be0a-b6f4-11e7-872a-5d2e4b3cb6cc.png)

**Would you like to work on the issue?**

Yes

[2017-10-22 07:24] ParthS007 opened #1965 "Translations needed for JSON definition list of all repos and filemasks, so they can be imported to weblate"
[https://github.com/fossasia/labs.fossasia.org/issues/231](https://github.com/fossasia/labs.fossasia.org/issues/231)
Please refer to this issue for more info.

**Would you like to work on the issue?**

No

[2017-10-22 07:33] scandindian commented on #1965
@ParthS007 It seems like your link is not leading towards anything, please update issue with more information.

[2017-10-23 07:05] ParthS007 commented on #1965
[https://github.com/fossasia/labs.fossasia.org/issues/231](url)

[2017-10-23 07:17] ParthS007 commented on #1965
@heysadboy  Now the link is working

[2017-10-23 20:08] scandindian commented on #1965
@ParthS007 When this issue is already created on other repo maybe we could iterate from there :-)

[2017-10-25 10:27] akashagra opened #1968 "Hardcore String in activity_search for "No Results""
Hardcore string "No Results" can be replaced by string resource no_results .

[2017-10-30 17:55] 97k opened #1969 "Broken link to LinkedIn in MainActivity"
**Actual Behaviour**

Link to FOSSASIA on LinkedIn is broken

**Expected Behaviour**

The Link should be correct

**Steps to reproduce it**

Open the app, click on the LinkedIn icon, it will not lead to FOSSASIA.

**Screenshots of the issue**

![giphy 2](https://user-images.githubusercontent.com/21143936/32186960-8c860270-bdc9-11e7-9884-bd24344669cd.gif)

**Would you like to work on the issue?**

[2017-10-31 15:45] nikit19 opened #1970 "Empty screen is displayed when there are no results in the search"
**Actual Behaviour**

Currently when we search for something that is not there in the list, an empty screen is displayed
in various fragments that have a searchView for eg Speakers fragment,Tracks Fragment,schedule fragment,Location fragment

**Expected Behaviour**

A textView should display that there are no results when the user searches for something that is not there in the list
**Steps to rep

[2017-10-31 21:12] dreadpool2 opened #1971 "Unnecessary elements showing up in shared text"
**Actual Behaviour**

Unnecessary elements are showing up while sharing the session details.

**Expected Behaviour**

Relevant Details must show up while sharing details.

**Steps to reproduce it**

We parse the JSON elements correctly and align the details correctly.

**Screenshots of the issue**
![screenshot_20171101-022526](https://user-images.githubusercontent.com/28607714/32248592-2265647e-be

[2017-11-01 15:35] scandindian commented on #1971
@dreadpool2 Yes, please go on.

[2017-11-02 20:53] nikit19 opened #1973 "Adding more functionality in the About fragment"
**Actual Behaviour**

Currently nothing happens when the user clicks on the event date or on the event location

**Expected Behaviour**

On clicking on the event date it should open up in the calendar and give the user the option to save the event.

On clicking on the event location, map fragment should open showing the location of the event.

**Steps to reproduce it**

Just open the app and try c

[2017-11-03 05:38] scandindian commented on #1969
@aditya98ak Did you check the log trace for the link? Try if it opens in browser manually anyways and put an error check to see if the link exists before opening it.

@iamareebjamal @niranjan94 @the-dagger I can't edit the event from the server if this is because of that. Can you help please?

[2017-11-03 06:14] 97k opened #1974 "Display TimeZone with time"
**Actual Behaviour**

Currently, no time zone is shown to user

**Expected Behaviour**

TImezone should be shown i.e SST/UTC/IST.

**Screenshots of the issue**

![temp](https://user-images.githubusercontent.com/21143936/32362037-05703772-c08c-11e7-81ba-c7966b1994b5.jpeg)

**Would you like to work on the issue?**

Yes.
@heysadboy Can I work on this?

[2017-11-03 10:45] Shailesh351 commented on #1974
@aditya98ak Sounds good. It will look good in Action bar like "Schedule (GMT +05:30)". Please go ahead :smile:

[2017-11-03 10:47] heysadboy commented on #1974
@aditya98ak I think it would be implicit from the place where the conference is happening and putting IST/UTC in front of dates everywhere is repetitive.

I noticed that here the date is displayed in 24 hour format while in Tracks it is 12 hour format. Display it in 12 hour format too in Schedules, maybe that could be more informative.

[2017-11-04 10:29] nikit19 opened #1976 "Name of the user should be visible in the navigationView"
**Actual Behaviour**

Currently if the user has logged in,the email id of the user is displayed in the navigationView

**Expected Behaviour**

If the user is providing his/her name,the name of the user should be visible in the navigationView instead of his email

**Steps to reproduce it**

Sign up and change your name in the EditProfileActivity.
Observe the navigationView

**Screenshots of the iss

[2017-11-05 20:42] #1970 closed, assigned to nobody

[2017-11-05 20:45] #1964 closed, assigned to nobody

[2017-11-06 16:19] pk-03 commented on #1959
yes>>>bro

[2017-11-08 11:55] S2606 opened #1977 "Snackbar 'undo' button visibility low"
**Actual Behaviour**

'undo' button color is bit darker which decreases its visibility

**Expected Behaviour**

To use lighter shades of red for greater visibility

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/18497513/32547754-6f848832-c47b-11e7-8b21-46acb86e2a12.png)

**Would you like to work on the issue?**

Yes

[2017-11-08 14:41] mayank8318 opened #1978 "Improve UI of Schedule card"
**Actual Behaviour**

The bookmark button is in the last layer.

**Expected Behaviour**

It should be with title just like other cards in the app (eg - Any Track Card) as that feels natural.

**Steps to reproduce it**

Open schedule

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/22395998/32554781-ebfce5ae-c4c0-11e7-9af1-d192c616d788.png)

**Would you like to work

[2017-11-08 14:44] mayank8318 opened #1979 "Improve UI of Call for Speaker"
**Actual Behaviour**

The current UI of Call for Speaker has bugs and can be improved.

**Expected Behaviour**

Better UI.

**Steps to reproduce it**

Click Call for Speaker from the menu.

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/22395998/32554927-5d11da06-c4c1-11e7-8c6d-5d587d795a60.png)

**Would you like to work on the issue?**

Yes

[2017-11-09 19:14] nikit19 opened #1983 "App crashes on selecting or bookmarking an event having a null value"
**Actual Behaviour**

App crashes on bookmarking or selecting an event in sessionDetails Activity having a null value

**Expected Behaviour**

App should not crash

**Steps to reproduce it**

Select schedule. Click on open tech. click on the  first event.

**LogCat for the issue**

java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String org.fossasia.openevent.data.Track.

[2017-11-10 10:40] scandindian commented on #1983
@nikit19 Seems legit, put an error check there and use accent color if the track color value is null.

[2017-11-10 11:12] scandindian commented on #1977
@S2606 I think we can change the transparency of colors to make them visible on darker color. Can you experiment it.

No
![style-color-usability-alpha3-161116](https://user-images.githubusercontent.com/22588035/32655862-7d600bb4-c635-11e7-8157-4de963830479.png)

Yes
![style-color-usability-alpha4-161116](https://user-images.githubusercontent.com/22588035/32655875-8903b3a8-c635-11e7-95b9-3e36548500

[2017-11-10 12:37] nikit19 commented on #1983
@heysadboy I guess just putting an error check is enough because the track is null and not the color value. I'll send a PR soon and then you can review it. Thanks

[2017-11-10 12:38] S2606 commented on #1977
@heysadboy Sure..

[2017-11-10 14:03] mayank8318 opened #1986 "No option to download data once user says no"
**Actual Behaviour**

If the user selects no for downloading data at start up, there is no option to download it again.
Only option is to restart the app.

**Expected Behaviour**

There should be an option to download data in the overflow menu.

**Steps to reproduce it**

Open the app and select no for downloading data.

**Would you like to work on the issue?**

Yes

[2017-11-10 14:07] mayank8318 opened #1987 "No option to undo Bookmark change in the Tracks section"
**Actual Behaviour**

Currently the Snackbar in Tracks when a bookmark is added or removed does not have an UNDO action.

**Expected Behaviour**

There should be an UNDO action like the one in Bookmarks section.

**Steps to reproduce it**

Open Tracks
Select any option
Bookmark / Remove bookmark for any event.

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/223959

[2017-11-10 14:10] nikit19 opened #1988 "Cursor position should be at the end of the editText"
**Actual Behaviour**

Currently when we open the editProfileActivity,the cursor is positioned at the beginning  of the name editText and the user has to the move the cursor to the end and then edit his/her name.

**Expected Behaviour**
Cursor should be present at the end of the name editText

**Steps to reproduce it**

Sign up.
Go to editProfile activity

**Screenshots of the issue**
![screenshot_

[2017-11-10 15:01] scandindian commented on #1979
@mayank8318 Please also describe the changes you propose to make the UI better.

[2017-11-10 15:05] scandindian commented on #1988
Yes, please work on this.

[2017-11-10 15:09] scandindian commented on #1987
@mayank8318 Yes please add undo functionality. Also see the color according to this issue https://github.com/fossasia/open-event-android/issues/1977

[2017-11-10 15:19] mayank8318 commented on #1979
@heysadboy Sorry I did not do that. I have mentioned it in the PR.
I will keep this in mind next time.
Thanks.

[2017-11-10 15:20] mayank8318 commented on #1987
@heysadboy I will wait for that PR to be merged so that there are no merge conflicts.
Is that okay?

[2017-11-10 18:19] nikit19 opened #1989 "SnackBar hides floatingActionButton in schedule fragment"
**Actual Behaviour**

If we add or remove a bookmark in schedule fragment,the snackBar hides the floatingActionButton

**Expected Behaviour**

The floatingActionButton should shift upwards when a snackBar message is displayed

**Steps to reproduce it**

Go to schedule fragment and add a bookmark

**Screenshots of the issue**

![screenshot_20171110-234314](https://user-images.githubusercontent.com/

[2017-11-10 19:24] 97k opened #1990 "Add view that change visibility of password in password box"
**Actual Behaviour**

Currently, there is no option to view typed password in sign_up/logging_in!

**Expected Behaviour**

A small view should be there, clicking on which shows the typed password.

**Would you like to work on the issue?**

Yes!

[2017-11-11 08:48] scandindian commented on #1987
@mayank8318 It's okay.

[2017-11-11 08:51] scandindian commented on #1989
@nikit19 Yes, please work on this.

[2017-11-11 08:54] scandindian commented on #1990
@aditya98ak You can see this for reference

![login](https://user-images.githubusercontent.com/22588035/32687883-09b1d1a4-c6ec-11e7-972d-30e17b04db80.png)

[2017-11-11 12:20] #1988 closed, assigned to nobody

[2017-11-11 16:20] 97k commented on #1990
@heysadboy Yes, I got that, Thanks :smile:

[2017-11-11 18:01] #1930 closed, assigned to nobody

[2017-11-12 09:57] ahsan44411 opened #1993 "Same line of code written twice"
Same line of code is written twice in Main Activity. Here is a screen shot of it.
![inshallah](https://user-images.githubusercontent.com/30962013/32697758-9ac8dcfa-c7b9-11e7-88d3-7fdb1543e896.png)

I would like you take this issue and remove the extra line

[2017-11-12 10:09] scandindian commented on #1993
@ahsan44411 Yes, please work on this.

[2017-11-13 14:32] nikit19 opened #1995 "CheckBoxes are not cleared on pressing the back button"
**Actual Behaviour**

In the schedule fragment if we click on the filter floating action button , select some checkboxes and press the back button.
And then on clicking on the filter floating action button again,we see that the checkboxes are still in selected state

**Expected Behaviour**

CheckBoxes should be cleared if the user has pressed the back button

**Steps to reproduce it**

Open schedu

[2017-11-14 20:03] codedsun opened #1997 "Hide/Show password icon in Login and SignUp Layout"
**Actual Behaviour**

Toggle Password hide/show button is not present

**Expected Behaviour**

It should be there.

**Steps to reproduce it**

On Signup and Login Activity, it can be seen

**Would you like to work on the issue?**

Yes!

[2017-11-15 08:25] 97k commented on #1997
@codedsun I already created this issue #1990

[2017-11-15 09:34] codedsun commented on #1997
@aditya98ak I sent the pull request... no problem if we can reference that issue with this PR.

@heysadboy

[2017-11-15 10:25] scandindian commented on #1997
@codedsun close this issue and iterate from #1990 ~

[2017-11-15 15:48] yashLadha commented on #1995
Are you currently working on this issue?

[2017-11-15 16:01] nikit19 commented on #1995
Yeah. Almost finished

[2017-11-18 21:02] manav-mj opened #2003 "Animate fragment transactions"
**Actual Behaviour**

The fragments abruptly appears without animation

**Expected Behaviour**

The fragment should inflate and deflate smoothly

**Steps to reproduce it**

Change to any fragment using the `navigation drawer`

**Screenshots of the issue**

<img src="https://user-images.githubusercontent.com/22222147/32984635-372fadd8-ccd0-11e7-8b4a-dad845b5e03c.gif" height="480px" width="270px">

[2017-11-18 21:28] #1997 closed, assigned to nobody

[2017-11-25 15:21] iamareebjamal commented on #1969
It's not an app issue if the event provider has wrong information set. If the link is not present, we can hide the button

[2017-11-25 15:27] Shailesh351 commented on #1969
I think problem is with LinkedIn app it is not handling url properly. And
also if link is not present then it will not show button.

[2017-11-27 06:51] #1986 closed, assigned to nobody

[2017-11-27 10:03] #1993 closed, assigned to nobody

[2017-11-27 10:33] #2003 closed, assigned to nobody

[2017-11-27 15:33] #1995 closed, assigned to nobody

[2017-11-27 15:44] #1976 closed, assigned to nobody

[2017-11-27 16:33] #1983 closed, assigned to nobody

[2017-11-27 16:36] iamareebjamal commented on #1990
Fixed by #1998

[2017-11-27 16:36] #1990 closed, assigned to nobody

[2017-11-27 16:42] iamareebjamal commented on #1968
Fixed by #1967

[2017-11-27 16:42] #1968 closed, assigned to nobody

[2017-11-27 16:44] iamareebjamal commented on #1959
Please propose the changes when you create an issue so that it is easy for reviewers to know what you plan to do

`The UI is not up to the recent trends.` and `The UI should be updated.` is vague

[2017-11-27 16:44] iamareebjamal commented on #1911
@codedsun Should this issue be closed now?

[2017-11-27 16:45] codedsun commented on #1911
@iamareebjamal Yes :)

[2017-11-27 16:45] #1911 closed, assigned to nobody

[2017-11-27 17:05] #1979 closed, assigned to nobody

[2017-11-27 17:56] #1978 closed, assigned to nobody

[2017-11-28 04:50] mayank8318 commented on #1987
@heysadboy @S2606 Regarding #1977 should I do it in this issue itself?

[2017-11-28 04:56] mayank8318 opened #2005 "Provide Ascending/Descending option in sorting"
**Actual Behaviour**

Currently there is no option to select the order of sort (Ascending or Descending).

**Expected Behaviour**

There should be an option to select the order of sorting.

**Steps to reproduce it**

Open Schedule and click sort from the menu.

**Screenshots of the issue**

![image](https://user-images.githubusercontent.com/22395998/33303059-828c2970-d426-11e7-864f-c060d260f49d.pn

[2017-11-29 19:10] iamjaspreetsingh opened #2006 "apk link in description box not working"
The apk link given in the description box is not working
It is giving error 404.
Please check
![new tab - google chrome 30-11-2017 00_29_10](https://user-images.githubusercontent.com/30948046/33393972-e0e8217c-d566-11e7-8a9b-580082be30c8.png)

[2017-11-29 20:17] iamareebjamal commented on #2006
Fixed. Thanks for notifying 😄

[2017-11-29 20:17] #2006 closed, assigned to nobody

[2017-11-29 20:18] iamareebjamal commented on #1987
@mayank8318 It's better to keep issues and PRs separate 😄

[2017-11-30 14:48] raju249 commented on #1969
Is this issue still available ? @aditya are bus98ak
I can take this up if you are busy with something else :smile:

[2017-12-03 12:12] mayank8318 commented on #1987
@iamareebjamal Should I work on that issue as it doesn't have a PR yet?

[2017-12-03 12:29] scandindian opened #2007 "Improve frond end of Android APK generator"
**Actual Behaviour**

Currently the[ web page](https://droidgen.eventyay.com/) to generate android APK looks nice but very basic. Modern design practices such as

- Ripples on touching button
- Shadow around the button making it look elevated
- Using material colours in the navbar and other elements

and other tweaks that can improve the aesthetic of the page are missing.

![screenshot from 2017-1

[2017-12-03 19:33] iamareebjamal commented on #1987
Yes please

[2017-12-03 20:09] scandindian opened #2009 "Update screenshots in the repository"
**Actual Behaviour**

Currently the screenshots are unframed i.e., they could be present in the mobile device frame to look better.

**Expected Behaviour**

Put screenshots in the mobile frame using simple online tools like https://developer.android.com/distribute/marketing-tools/device-art-generator.html

Update the readme.md with new screenshots.

**Would you like to work on the issue?**

This i

[2017-12-08 11:24] S2606 opened #2011 "UI scaling error In About Fragment"
**Actual Behaviour**

![screenshot-1512732101971](https://user-images.githubusercontent.com/18497513/33763892-35e2db18-dc38-11e7-9471-ab158149b5b1.jpg)
![screenshot-1512732061713](https://user-images.githubusercontent.com/18497513/33763900-3d1d76ae-dc38-11e7-8276-c9b3088f103b.jpg)

**Expected Behaviour**

Only the Event open text view should change its position based on clicking the expand button

[2017-12-10 11:16] #1977 closed, assigned to nobody

[2017-12-11 16:21] #2005 closed, assigned to nobody

[2017-12-11 20:25] codedsun commented on #1709
@iamareebjamal @heysadboy Is this issue still open? Can I work on it

[2017-12-12 04:30] iamareebjamal commented on #1709
Yes @codedsun

[2017-12-12 20:37] iamareebjamal opened #2012 "Update to new gradle version and SDK"
**Actual Behaviour**

Project structure uses SDK 25 and Gradle 3 version with outdated support dependencies

**Expected Behaviour**

Update Project to SDK 27 with Gradle 4 version and update dependencies

[2017-12-12 21:16] iamareebjamal opened #2014 "Migrate to Architecture Components"
- [ ] Move code from views to ViewModel
- [ ] Wrap data in LiveData wrapper
- [ ] Add ViewModel Tests

[2017-12-12 21:18] iamareebjamal opened #2015 "Move code from views to ViewModels"
**Actual Behaviour**

Currently, all code in present in views that act as controllers

**Expected Behaviour**

Move code from activities and fragments to controllers

**NOTE: Code in ViewModels should *NOT* depend on any Android classes like `Context`**

Parent Issue : #2014

[2017-12-12 21:19] iamareebjamal opened #2016 "Wrap Data into LiveData"
**Actual Behaviour**

*To be done after/along #2015*
Data is exposed directly to activities/fragments

**Expected Behaviour**

It should be wrapped in LiveData

Parent Issue : #2014

[2017-12-12 21:21] iamareebjamal opened #2017 "Write ViewModel Tests"
**Actual Behaviour**

*To be done after #2016*
There are no unit tests on common code for ViewModels

**Expected Behaviour**

Unit Test coverage for every ViewModel should aim to be 100%

Parent Issue : #2014

[2017-12-13 15:34] Shailesh351 opened #2018 "Fix padding in Copyright dialog"
**Actual Behaviour**

Padding is very less in copyright dialog.

**Expected Behaviour**

Keep same padding as Call For speakers Dialog

**Screenshots of the issue**

Copy right
![screenshot-1513179018372](https://user-images.githubusercontent.com/18264684/33946911-0b81010a-e049-11e7-88cf-612a1cdb9def.jpg)

Call For Speakers
![screenshot-1513179039697](https://user-images.githubusercontent.com/1826

[2017-12-13 15:48] Shailesh351 opened #2019 "Improve UI of Speakers Fragment"
**Actual Behaviour**

Currently speaker's list is in Grid Layout

**Expected Behaviour**

Improve UI of Speakers Fragment using LinearLayout with Sticky Headers.
https://youtu.be/omN3ojMUYnI

[2017-12-13 18:26] #2012 closed, assigned to iamareebjamal

[2017-12-14 06:37] nikit19 commented on #2019
@Shailesh351 I would like to work on this

[2017-12-14 07:33] iamareebjamal opened #2020 "APKs not being generated"
**Actual Behaviour**

Travis build scripts were based on relative paths and changing of directories and hence, after the PR #2013, it can't reference to built files

**Expected Behaviour**

Either travis scripts should reference correct relative paths or preferably use absolute paths so that the directory containing scripts do not have any significance in build process

**Reference**

Last build o

[2017-12-14 08:49] Shailesh351 commented on #2020
@iamareebjamal I think path of generated apks is changed in latest build tools.
![screenshot from 2017-12-14 14-15-00](https://user-images.githubusercontent.com/18264684/33983230-637f9d22-e0d9-11e7-8a69-97fc0359a93f.png)

So we need to update paths in generate_apks.sh from `app/build/outputs/apk/app-{fdroid/googleplay}-{debug/release}.apk` to `app/build/outputs/apk/{fdroid/googleplay}/{debug/relea

[2017-12-14 08:53] Shailesh351 commented on #2020
Also https://travis-ci.org/fossasia/open-event-android/builds/316025286#L2179 is uses rm to delete generated apks. But now apks are in sub directories so we need to use `rm -R` to delete all the sub directories and files

[2017-12-14 11:32] iamareebjamal commented on #2020
Thanks @Shailesh351 😄

[2017-12-15 22:16] Kartikdot commented on #2015
Can you please point me in the direction from where to start solving this issue. I would like to work on this but i cannot understand the issue properly. Also please tell me in what directory do i have to make the changes.

[2017-12-16 12:22] iamareebjamal commented on #2015
The issue is for the whole app, but you can start with one activity/fragment at a time. You need to learn about architecture components of Android SDK - https://developer.android.com/topic/libraries/architecture/index.html

Specifically, the idea of the issue is to move to MVVM pattern from MVC using ViewModel

[2017-12-16 13:03] Kartikdot commented on #2015
Ok thank you. I'll try solving this and disscuss here if i find any difficulty.

[2017-12-16 14:31] Shailesh351 commented on #2019
@nikit19  Sure. Thanks :smile:

[2017-12-17 07:46] #2020 closed, assigned to nobody

[2017-12-17 10:24] nikit19 commented on #2018
I would like to work on this! :smile:

[2017-12-17 19:55] nikit19 opened #2023 "App crashes when using for the first time without the latest schedule"
**Actual Behaviour**

App crashes when we use it for the first time without downloading the latest schedule.
It happens when we select call for speakers

**Expected Behaviour**

App should not crash.

**Steps to reproduce it**

Clear App Data from system settings or Uninstall and reinstall app.

Select "No" in Dialog for update latest schedule.

select call for speakers from menu

**Screenshots of

[2017-12-20 14:09] dr0pdb opened #2026 "Create ViewModel for LocationActivity"
**Actual Behaviour**

There isn't any ```ViewModel``` for the ```LocationActivity```.

**Expected Behaviour**

There should be one.

**Steps to reproduce it**

NA

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes!

**Target Milestone to solve the issue**

NA

**Other information**

Parent issue #2015

[2017-12-20 14:13] dr0pdb commented on #2015
@iamareebjamal I am creating child issues for this parent issue for each activity/fragment. In this way the refactor can be done one activity/fragment at a time.
@Kartik2016 Then you can comment on those issues or create them for the activity/fragment you want to work on.

[2017-12-20 14:27] dr0pdb opened #2027 "Create ViewModel for LocationsFragment"
**Actual Behaviour**

There is no ```ViewModel``` for the ```LocationsFragment```

**Expected Behaviour**

There should be one.

**Steps to reproduce it**

NA

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes!

**Target Milestone to solve the issue**

NA

**Other information**

Parent issue #2015

[2017-12-20 15:09] Kartikdot commented on #2015
Yes that would be more convenient. Thanks.

[2017-12-20 16:19] Kartikdot commented on #2026
I would like to take this one up. Thank you.

[2017-12-20 19:17] #2018 closed, assigned to nobody

[2017-12-20 19:20] #2023 closed, assigned to nobody

[2017-12-20 19:24] the-dagger commented on #2014
@iamareebjamal Why not migrate to ROOM as well?
I think that it will go well with LiveData and ViewModels we are planning to migrate to.

[2017-12-20 19:29] the-dagger opened #2028 "Migrate the Database to ROOM"
**Actual Behaviour**

Parent Issue #2015

**Expected Behaviour**

Use ROOM as a DB source instead of using Realm.

[2017-12-20 19:41] iamareebjamal commented on #2014
@the-dagger I will be working on core lib for open event API Java SDK after my exams. It's planned to have standard Architecture Components implementation to support both Orga App and Client App.
That's why I didn't want to replicate the issue here.

But nevertheless, an open issue is better 😄

[2017-12-20 19:53] the-dagger commented on #2014
@iamareebjamal Great, ping me when you start, let's work on it together! 👍

[2017-12-21 10:16] dr0pdb opened #2030 "Create ViewModel for the AboutFragment"
**Actual Behaviour**

There is no ViewModel for the AboutFragment

**Expected Behaviour**

There should be one.

**Steps to reproduce it**

NA

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes!

**Target Milestone to solve the issue**

NA

**Other information**

Parent issue #2015

[2017-12-21 10:19] dr0pdb opened #2031 "Create ViewModel for the DayScheduleFragment"
**Actual Behaviour**

There is no ViewModel for the DayScheduleFragment

**Expected Behaviour**

There should be one.

**Steps to reproduce it**

NA

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes!

**Target Milestone to solve the issue**

NA

**Other information**

Parent issue #2015

[2017-12-21 10:20] dr0pdb opened #2032 "Create ViewModel for the ScheduleFragment"
**Actual Behaviour**

There is no ViewModel for the ScheduleFragment

**Expected Behaviour**

There should be one.

**Steps to reproduce it**

NA

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes!

**Target Milestone to solve the issue**

NA

**Other information**

Parent issue #2015

[2017-12-21 12:39] dr0pdb opened #2033 "Improve the UI for the SpeakerDetailsActivity"
**Actual Behaviour**

There is scope of improvement in the UI of SpeakerDetailsActivity

**Expected Behaviour**

The UI should be improved.

**Steps to reproduce it**

NA

**LogCat for the issue**

NA

**Screenshots of the issue**

![screenshot_2017-12-21-17-56-21-77](https://user-images.githubusercontent.com/21277837/34255845-830c1522-e678-11e7-9f3d-a60f3a933040.png)

**Would you like to work on

[2017-12-21 12:39] dr0pdb commented on #2033
@iamareebjamal Please review

[2017-12-21 12:55] dr0pdb opened #2034 "Add the login button in the Navigation drawer"
**Actual Behaviour**

There is a sign up button but no login button in the Navigation drawer.

**Expected Behaviour**

There should also be a login button in the navigation drawer.

**Steps to reproduce it**

Open navigation drawer.

**LogCat for the issue**

NA

**Screenshots of the issue**

![screenshot_2017-12-21-18-18-18-60](https://user-images.githubusercontent.com/21277837/34256516-b9c5065c-

[2017-12-21 15:49] #2019 closed, assigned to nobody

[2017-12-21 19:19] iamareebjamal commented on #2034
We can change it to login, and show the standard login/signup activity, but adding another entry for same activity is just redundant

[2017-12-21 19:21] iamareebjamal commented on #2033
Please go ahead

[2017-12-21 19:21] dr0pdb commented on #2034
Yeah that will do

[2017-12-22 07:41] nikit19 opened #2036 "Text appears smaller in toolbar on rotation"
**Actual Behaviour**

Currently if we keep our phone in landscape mode and open any activity,the text size of the toolbar is decreased (on rotating the screen normally ie after opening the activity, the text size remains the same)

**Expected Behaviour**

The text size should be same in all cases.

**Steps to reproduce it**

Keep your phone in landscape mode.
Open any activity.

**Screenshots of t

[2017-12-22 11:46] #2027 closed, assigned to nobody

[2017-12-22 13:35] dr0pdb opened #2038 "Create ViewModel for the SpeakersListFragment"
**Actual Behaviour**

ViewModel is absent for the SpeakersListFragment.

**Expected Behaviour**

It should be present

**Steps to reproduce it**

NA

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes!

**Target Milestone to solve the issue**

NA

**Other information**

Parent issue #2015

[2017-12-22 17:42] dr0pdb opened #2040 "Add feature to mark a feed item as favourite"
**Actual Behaviour**

There is no option to mark a feed item as favourite.

**Expected Behaviour**

There should be an option to mark a feed item as favourite.

**Steps to reproduce it**

Open FeedFragment.

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

NA

**Proposed changes**
There can be an

[2017-12-22 18:06] dr0pdb opened #2041 "Add a cancel button in the Network not available dialog"
**Actual Behaviour**

When opening the application without internet connection, a dialog appears with title "Network not available" with one button "Ok" which directs the user to device Settings. There is no option to cancel and browse the application without network.

**Expected Behaviour**

There should be a "Cancel" button.

**Steps to reproduce it**

Switch off mobile data and wifi.
Open the a

[2017-12-22 18:23] the-dagger commented on #2041
@srv-twry Sounds good, go ahead. 👍

[2017-12-22 19:45] #2038 closed, assigned to nobody

[2017-12-22 19:57] dr0pdb opened #2042 "Implement search query in the ViewModel for SpeakersListFragment"
**Actual Behaviour**

Currently the search query in most of the fragments is implemented inside the adapter.

**Expected Behaviour**

The search query should be implemented inside the ViewModel for SpeakersListFragment

**Steps to reproduce it**

NA.

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes, but after i am done with the rest of

[2017-12-22 20:01] dr0pdb opened #2043 "Implement the search query in ViewModel for LocationFragment"
**Actual Behaviour**

Currently the search query in most of the fragments is implemented inside the adapter.

**Expected Behaviour**

The search query should be implemented inside the ViewModel for LocationFragment

**Steps to reproduce it**

NA.

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes, but after i am done with the rest of ```V

[2017-12-22 20:53] nikit19 opened #2044 "Create ViewModel for the SponsorsFragment"
**Actual Behaviour**

There is no ViewModel for the SponsorsFragment

**Expected Behaviour**

There should be one.

**Would you like to work on the issue?**

Yes

[2017-12-22 20:56] nikit19 opened #2045 "Create ViewModel for the TracksFragment"
**Actual Behaviour**

There is no ViewModel for the TracksFragment

**Expected Behaviour**

There should be one

**Would you like to work on the issue?**

Yes

[2017-12-23 03:38] iamareebjamal commented on #2042
But this will mean unnecessary fetching from database for filtering data which is already present in memory @the-dagger

This will both be less performant and more resource intensive and slow. Filter method in adapter is explicitly used for this purpose

Any advantage of this?

[2017-12-23 03:51] riyapannu7 opened #2046 "Update README.md"
**Actual Behaviour**

Misses the article "the" in the phrase "logo of event".

**Expected Behaviour**

It should be "logo of the event".

**Would you like to work on the issue?**

Yes.

[2017-12-23 08:30] mayank8318 opened #2047 "Create ViewModel for Feed Fragment"
Create ViewModel for Feeds fragment.

**Would you like to work on the issue?**

Yes

[2017-12-23 14:38] dr0pdb opened #2051 "Create ViewModel for SearchActivity"
**Actual Behaviour**

There is no ViewModel for the SearchActivity

**Expected Behaviour**

There should be one.

**Steps to reproduce it**

NA

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

NA

**Other information**

Parent issue #2015

[2017-12-23 14:40] dr0pdb opened #2052 "Create ViewModel for the SessionDetailActivity"
**Actual Behaviour**

There is no ViewModel for the SessionDetailActivity

**Expected Behaviour**

There should be one.

**Steps to reproduce it**

NA

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

NA

**Other information**

Parent issue #2015

[2017-12-23 14:41] dr0pdb opened #2053 "Create ViewModel for TrackSessionsActivity"
**Actual Behaviour**

There is no ViewModel for the TrackSessionsActivity

**Expected Behaviour**

There should be one.

**Steps to reproduce it**

NA

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes

**Target Milestone to solve the issue**

NA

**Other information**

Parent issue #2015

[2017-12-23 16:07] the-dagger commented on #2042
@iamareebjamal I am really not sure if using a list and filtering on it is a good idea.
I mean we will be going ahead with ROOM and later on a Paged List anyways, combine that with large number of speakers in the app (~300), not sure if going ahead, filtering on the list would be good.

What do you think?

[2017-12-23 16:09] dr0pdb commented on #2042
@the-dagger May i add something here ?

[2017-12-23 16:16] the-dagger commented on #2042
Sure, definitely 👍

[2017-12-23 16:18] dr0pdb commented on #2042
I think we can implement the query inside the ViewModel without querying the database more than once.
The complete list will be fetched from the database and will be stored inside the ```ViewModel``` and we can store another list that will store only the filtered values according to the search query and return it when required.

[2017-12-23 16:41] iamareebjamal commented on #2042
@the-dagger Any interaction with database is always slower than operation in memory. Querying with LIKE statement is even slower and we are not implementing throttling, so on each keypress of user, 300 items are being searched again, and then modelled into POJOs, new objects are being created, list is being cleared and add items are inserted. This will also cause frequent GC calls to collect old r

[2017-12-23 18:51] nikit19 opened #2056 "Create ViewModel for SpeakerDetailsActivity"
**Actual Behaviour**

There is no ViewModel for the SpeakerDetailsActivity

**Expected Behaviour**

There should be one.

**Would you like to work on the issue?**

Yes

[2017-12-23 20:48] the-dagger commented on #2042
@iamareebjamal Ok, alright.
But let's atleast move the logic for filtering away from the Adapter, instead put the filter in the ViewModel instead and keep the adapter here free from any such logic.

Sounds good?

[2017-12-23 20:48] #2041 closed, assigned to nobody

[2017-12-23 20:54] #2033 closed, assigned to nobody

[2017-12-24 04:59] codedsun opened #2057 "No option to remove profile pic"
**Actual Behaviour**

Their is no process to remove profile pic uploaded and neither it does ask the image area that will be uploaded.

**Expected Behaviour**

There should be an option to remove the profile picture uploaded and select the area of the pic that will be uploaded

The profile pic should also be visible in the Side Navigation View aside the name of the logged in user.

**Steps to repr

[2017-12-24 06:07] codedsun commented on #1709
@iamareebjamal @heysadboy What are the menu items that need to be added,
I added Call for paper, licence, Code of Conduct.. anything else is remaining?
And tell me how to display that data ?

[2017-12-24 07:47] iamareebjamal commented on #2042
Yeah that would be great

[2017-12-24 07:49] iamareebjamal commented on #1709
That is good enough. Show these in a Dialog

[2017-12-24 09:00] codedsun commented on #1709
@iamareebjamal do I need to create the classes for the response also?as they are not present
and

For example I would click on Call For Speakers and when no data is fetch the app would crash, shall this code be put in the try catch block ?

[2017-12-24 09:05] codedsun commented on #1709
@iamareebjamal I am also looking up the response(as mentioned in the thread above) but I see no fields with call for paper and licence, etc?

From where do I have to get the data?

[2017-12-24 09:16] the-dagger commented on #2057
Sounds good.
Let's set a default template profile pic if the user wants to opt out from setting his/her profile photo.
Some sort of placeholder image maybe, similar to Twitter or fb profile pic.

[2017-12-24 10:06] iamareebjamal commented on #1709
Event class has some fields as far as I can remember. The other fields were removed in the translation to JSONAPI format. Please correspond to the https://open-event-api.herokuapp.com/ for the location of fields in new API

When no data is fetched, the menu item itself should not be shown, or it can be displayed that there is no current information about these items, The same case which would be t

[2017-12-25 15:41] dr0pdb opened #2060 "Store LiveData and onChangeListeners as a global object in LocationFragment ViewModel"
**Actual Behaviour**

The LiveData and the onChangeListeners for the LocationFragment ViewModel is created everytime the method is called.

**Expected Behaviour**

It should be stored as a global variable and returned if asked for.

**Steps to reproduce it**

NA

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes

**Target Milestone to sol

[2017-12-25 15:43] dr0pdb opened #2061 "Store LiveData and onChangeListeners as global variables in SpeakerListFragment"
**Actual Behaviour**

The LiveData and the onChangeListeners for the SpeakerListFragment ViewModel is created everytime the method is called.

**Expected Behaviour**

It should be stored as a global variable and returned if asked for.

**Steps to reproduce it**

NA

**LogCat for the issue**

NA

**Screenshots of the issue**

NA

**Would you like to work on the issue?**

Yes

**Target Milestone to

[2017-12-25 15:57] iamareebjamal opened #2062 "Use default RealmLiveData wrapper"
https://academy.realm.io/posts/android-architecture-components-and-realm/

Instead of managing it in ViewModel, use the official method

**Would you like to work on the issue?**
No

[2017-12-26 10:21] mayank8318 commented on #2062
@iamareebjamal This should start by changing the Realm queries right?

[2017-12-26 10:28] mayank8318 opened #2063 "App Crashes for blank search query"
**Actual Behaviour**

App crashes if you type something and then clear the search box.

**Expected Behaviour**

It should not crash and display normal search results for blank query.

**Steps to reproduce it**

Open Search.
Type something.
Clear the query.
Try to scroll through the results.

**LogCat for the issue**

12-26 15:55:05.144 32400-32400/org.fossasia.openevent E/AndroidRuntime: FATAL EXC

[2017-12-26 12:19] dr0pdb commented on #2060
The LiveData and the onChangeListeners for the LocationFragment ViewModel is already declared as a global variable and listeners are cleared in the ```onCleared``` of the ViewModel , hence closing this issue.

[2017-12-26 12:19] #2060 closed, assigned to nobody

[2017-12-26 16:19] iamareebjamal commented on #2062
No need to change the realm queries, they can be wrapped over using the function mentioned in the article

[2017-12-26 16:46] dr0pdb opened #2066 "Fix and move the filter functionality in ScheduleFragmentViewModel"
**Actual Behaviour**

The filter functionality of ScheduleFragment is implemented inside the Fragment. It isn't working properly as well.

**Expected Behaviour**

It should be fixed and moved inside the ViewModel

**Would you like to work on the issue?**

Yes

[2017-12-26 16:50] mayank8318 commented on #2062
@iamareebjamal Ok got it. I would like to work on this.

[2017-12-26 18:59] dreadpool2 opened #2067 "The Speaker Image in Collapsing Toolbar layout does not cover full frame layout"
**Actual Behaviour**

The Speaker Image in Collapsing Toolbar layout does not cover full frame layout.

**Expected Behaviour**

The Speaker Image in Collapsing Toolbar layout should cover full frame layout.

**Would you like to work on the issue?**
Yes
PR -> #2065

[2017-12-27 15:48] iamareebjamal commented on #2062
Please go ahead

[2017-12-27 16:43] #2032 closed, assigned to nobody

[2017-12-27 17:57] codedsun commented on #1709
@iamareebjamal What shall be the layouts for the above 3?

[2017-12-27 18:05] codedsun commented on #1709
@iamareebjamal @the-dagger  I have seen that we have a copyright menu that displays the licence and licence url. Then why do we need to create another Licence menu? Is it needed

[2017-12-28 14:04] iamareebjamal commented on #1709
Well as the issue described, we have to implement anything what API provides and which is not implemented. So if the license is implemented, leave it. Note that copyright showing license for FOSSASIA event is different than API providing a license interface. We have to be in sync with the API

This is what the issue is for

The layout will be a simple dialog showing the text

[2017-12-28 14:06] codedsun commented on #1709
@iamareebjamal check ur gitter :) thanks a lot

[2017-12-28 14:07] codedsun commented on #2057
https://image.flaticon.com/icons/png/512/149/149067.png

@the-dagger will that work fine?

[2017-12-28 14:09] iamareebjamal commented on #2057
Using a vector drawable from material.io will be better @codesun

[2017-12-28 14:19] codedsun commented on #2057
Yup I just showed the image type,, I willl be using the same as vector image :)

[2017-12-28 14:49] the-dagger commented on #2057
Looks good. 👍👍

On Thursday, December 28, 2017, Suneet Srivastava <notifications@github.com>
wrote:

--
Best,
Harshit Dwivedi

[2017-12-28 14:58] #2030 closed, assigned to nobody

[2017-12-28 16:18] #2061 closed, assigned to nobody

[2017-12-29 11:20] #2063 closed, assigned to nobody

[2017-12-30 20:30] codedsun commented on #2028
@the-dagger  I want to work on this issue.

[2017-12-30 20:56] codedsun commented on #1724
@iamareebjamal I want to work on this issue.

[2017-12-30 20:58] codedsun commented on #2031
@srv-twry Can I work on this issue?

[2017-12-30 20:59] codedsun commented on #2015
@iamareebjamal I want to work on this issue 👍

[2017-12-30 21:09] dr0pdb commented on #2031
@codedsun Please go ahead :)

[2017-12-30 21:19] codedsun opened #2073 "App Crash on Selecting Description of Tracks"
**Actual Behaviour**

The App is crashing

**Expected Behaviour**

It should not crash

**Steps to reproduce it**

Open the app go to the Tracks Section, Open any track and try to copy the desctiption.

**LogCat for the issue**
12-31 02:48:43.442 2851-2851/org.fossasia.openevent E/AndroidRuntime: FATAL EXCEPTION: main
                                                                      Process: o

[2017-12-30 21:34] the-dagger commented on #2073
Sure, go ahead.

[2017-12-30 23:41] dr0pdb commented on #2056
@nikit19 Can i take this in case you haven't started working on it ? I accidently created the ViewModel for it instead of ```SessionDetailsActivity```. You can create the ViewModel for ```SessionDetailsActivity``` i.e. #2052  instead of this activity.
I am submitting a PR for this issue. In case you've started working on it, then drop a comment on my PR and i will close it.

[2017-12-31 06:33] nikit19 commented on #2056
@srv-twry actually I had already made the ViewModel for this activity but I wanted to send the PR after I finished correcting my previous PRs for viewmodels. I really wouldn't have mind you sending the PR #2074  if I hadn't worked on it. So if you could please close the PR, I can send mine. Thanks

[2017-12-31 06:44] dr0pdb opened #2075 "Improve the "No upcoming session dialog" UI"
**Actual Behaviour**

The UI for the "No upcoming session dialog" needs improvement.

**Expected Behaviour**

The dialog UI should be improved.

**Steps to reproduce it**

Open LocationsActivity -> Click on any location -> click on upcoming locations icon on the toolbar -> If there is no upcoming session, then the dialog will pop up

**Screenshots of the issue**

![screenshot_2017-12-31-11-55-43-3

[2017-12-31 06:48] dr0pdb opened #2076 "Allow users to cancel the LiveFeed download"
**Actual Behaviour**

There is no option to cancel the LiveFeed download once the user open FeedFragment.

**Expected Behaviour**

There should also be an option to cancel the download, if the user wants.

**Steps to reproduce it**

Open FeedFragment

**Would you like to work on the issue?**

Yes

**Proposed changes**
In the progress dialog, add a cancel button to cancel loading and go back.

[2017-12-31 17:46] iamareebjamal commented on #2028
@codesun Please refer to my comment on #2014 Thanks :smile:

[2017-12-31 17:49] iamareebjamal commented on #2015
@codesun Please create an issue for a relevant ViewModel like everyone above and start on it :smile:

[2017-12-31 17:50] iamareebjamal commented on #1724
Please go ahead

[2017-12-31 20:25] nikit19 opened #2079 "Create ViewModel for MainActivity"
**Actual Behaviour**

There is no ViewModel for MainActiivity

**Expected Behaviour**

There should be one

**Would you like to work on the issue?**

Yes

[2018-01-01 06:36] dreadpool2 opened #2080 "Add ViewModel for DayScheduleFragment"
**Actual Behaviour**

There is no viewmodel for DayScheduleFragment

**Expected Behaviour**

There should be a viewmodel.

**Would you like to work on the issue?**
Yes

[2018-01-01 06:38] dr0pdb commented on #2080
@dreadpool2 Before creating an issue, please check if the issue about the same topic already exists.
Duplicate of #2031

[2018-01-01 06:39] dreadpool2 commented on #2080
Oh!  I am extremely sorry !! I coudn't find the issue! @srv-twry

[2018-01-01 06:40] dr0pdb commented on #2080
@dreadpool2 No problem :) Kindly close it. If you want , you can work on #2051 . Kindly drop a comment their if you want to go ahead.

[2018-01-01 06:42] dr0pdb commented on #2026
@Kartik2016 Are you working on it ? It would be nice to know the progress. If you aren't then i would like to take this up.

[2018-01-01 06:43] dreadpool2 commented on #2080
Ok cool! &#128402;&#128402;

[2018-01-01 06:43] #2080 closed, assigned to nobody

[2018-01-01 06:45] dreadpool2 commented on #2051
I want to go ahead with this &#128402;

[2018-01-01 06:48] dr0pdb commented on #1841
@iamareebjamal Can i go ahead ?

[2018-01-01 08:35] Kartikdot commented on #2026
I am sorry i got busy with my college project, hence couldn't work on this. If this issue isn't holding up any other work or any other issues...i would like to continue to work on it. I'll update here with the progress or a PR this weekend.

[2018-01-01 08:36] dr0pdb commented on #2026
Sure go ahead.

[2018-01-01 17:16] nikit19 opened #2083 "Create ViewModel for SettingsActivity"
**Actual Behaviour**

There is no ViewModel for SettingsActivity

**Expected Behaviour**

There should be one

**Would you like to work on the issue?**

Yes

[2018-01-01 18:32] #2083 closed, assigned to nobody

[2018-01-01 19:21] iamareebjamal commented on #1841
Yes

[2018-01-02 05:01] dr0pdb commented on #1971
@dreadpool2 Are you working on it ? If not, then i would like to take it.

[2018-01-02 05:04] dreadpool2 commented on #1971
@srv-twry Yeah please go on!.

[2018-01-03 06:17] dr0pdb opened #2085 "Remove unnecessary try/catch in FeedAdapter"
**Actual Behaviour**

There is an unnecessary try/catch block in FeedAdapter. For more info check [this](https://github.com/fossasia/open-event-android/pull/2084#pullrequestreview-86201298) comment.

**Expected Behaviour**

It isn't required.

**Steps to reproduce it**

NA

**Would you like to work on the issue?**

Yes

[2018-01-03 10:15] divyabaid16 commented on #2085
I would like to work on this issue.

[2018-01-03 10:24] dr0pdb commented on #2085
@divyabaid16 Sure, go ahead.

[2018-01-03 16:18] SparshWadhwa commented on #2075
I would like to work on this issue. May I?
@srv-twry

[2018-01-04 01:47] dr0pdb commented on #2075
@SparshWadhwa I suggest you wait since the maintainers are probably busy. Once they get time, they will approve this issue first, whether it is worth it or not. Then you can go ahead with it.

[2018-01-04 13:03] divyabaid16 commented on #2066
I can't find ViewModel class. Do I have to implement it ?

[2018-01-04 13:41] dr0pdb commented on #2066
Actually i am already working on this issue as i have stated on the issue itself.

[2018-01-05 05:11] codedsun commented on #1709
@iamareebjamal With respect to the licence field, as what I found was under copyright and no where else. What should be under the Licence menu then?

https://open-event-api.herokuapp.com/#copyright

[2018-01-05 15:54] iamareebjamal commented on #2075
This screenshot is of current UI or proposed one?

[2018-01-05 15:56] dr0pdb commented on #2075
Current UI

[2018-01-05 16:04] iamareebjamal commented on #1709
Leave it if it is not present. The issue is about the missing fields from API. API is under development and may go through even more changes :smile:

[2018-01-05 16:20] #2067 closed, assigned to nobody

[2018-01-05 16:24] iamareebjamal commented on #2075
Yup. Please go ahead and use standard layout

[2018-01-05 22:43] jenish9599 opened #2090 "passwordToggle should be enabled in changePasswordActivity"
**Actual Behaviour**

There is no option to see a password in changePasswordActivity.

**Expected Behaviour**

There should be an option for show password in changePasswordActivity.

**Screenshots**
*Current Behaviour*

![screenshot_20180106-023827](https://user-images.githubusercontent.com/26226639/34630978-51ee0fae-f294-11e7-835f-96b4fb298548.png)

*Expected Behaviour*

![screenshot_20180106-023